[2015-02-18 08:14] nekoal commented on #2855
You always can edit local host file to link external server hostname to local ip address. But modern browsers have protection (HTML5 standart recomendations) which prevents access to local network from others domains. I don't know have owncloud such protection or not.

[2015-02-18 08:24] RobinJ1995 opened #2857 "[XFCE] ownCloud starts before system tray is loaded -> no icon"
# Problem
On Manjaro with XFCE ownCloud starts before the system tray has been loaded, which results in ownCloud running but not showing a system tray icon, which means I have to kill the ownCloud client and restart it so the tray icon shows up in order to access the UI.

# Desired behaviour
The ownCloud client should detect when the system tray isn't ready yet and check again every few seconds or

[2015-02-18 08:59] lmaestro commented on #2455
It works fine in version 1.8-nightly (buil 4740)

[2015-02-18 08:59] #2455 closed

[2015-02-18 09:10] MegaV0lt commented on #2855
So the solution would be make it configurable. Should be easy to make an option in the client to override the lokal hostname.

[2015-02-18 09:12] pierrejochem commented on #2855
Because of traffic? You can add the dyndns hostname to your internal DNS Server and point it to the private IP. Then it is a local access ;-)

[2015-02-18 09:24] lmaestro commented on #2374
I have tested in version 1.8.0-nightly20150218(build 4740) and it is not fixed.

[2015-02-18 09:29] lmaestro commented on #2851
Duplicated https://github.com/owncloud/client/issues/2836

[2015-02-18 09:29] #2851 closed

[2015-02-18 09:38] lmaestro commented on #2846
I can't reproduce it against owncloud server 7 neither 8, using encryption and without it.
@Rocologo if you want to try using the latest version, it's a beta version so please make a backup https://owncloud.org/install/#testing

[2015-02-18 09:43] ogoffart commented on #2374
Normaly, QtSingleApplication should emit messageRecieved which is connected to Application::slotParseOptions which should then open the settings.
But this does not work on windows. Perhaps QtSingleApplication is different on windows?

[2015-02-18 09:46] lmaestro commented on #2648
If the crash did not occur as @dahan1999 said I close this issue.
And if anyone is able to reproduce it please reopen it, thx.

[2015-02-18 09:46] #2648 closed

[2015-02-18 09:48] lmaestro commented on #1981
@mpeterson Do you want to test the  beta version? you can download here: https://owncloud.org/install/#testing

[2015-02-18 09:56] MegaV0lt commented on #2855
Where do i have to do this? i have a FritzBox 7270 (AVM) doing DHCP in my local network
Are you sure every home router is able to do that mapping?
Maybe ther should be a documentation for users like me that do not know too much about network...

[2015-02-18 10:23] danimo commented on #2855
@MegaV0lt The feature is called "hairpin NAT" and all good routers, including the fritz box, support it. The downside is that all traffic is being routed through the router.

The problem with supporting multiple addresses is that there is no safe way of detecting "your" home network. Usually people won't bother with HTTPS in their LAN, which makes it worse.

Anyway, the long term fix is IPv6.

[2015-02-18 10:40] centredecalcul commented on #2772
Maybe yes.
This ticket is more like that one : https://github.com/owncloud/core/issues/13868
I think this is easily reproducible.
No matter, I'll try this: https://github.com/owncloud/core/issues/13333#issuecomment-71850509

[2015-02-18 11:31] MegaV0lt commented on #2855
I do not need that it wil be detected automaticly. i would wish to have an option wich allows me to override that local hostname.
you can make it an "exper" funktion with a warning text for exapmple.
or make it an option to put in .ini file only (if available)

i am not sure how many oc installs a "local". But for all the local installations it is a good option in my view. You can make that option

[2015-02-18 11:36] MegaV0lt commented on #2850
I like the idea to have an "Mail" button in the share dialog as well as an button "Copy to clipboard. In my opinion two basic feeatures.

[2015-02-18 11:39] #2852 closed

[2015-02-18 11:52] ogoffart commented on #2857
What exact version of the owncloud client are you using?

[2015-02-18 11:53] ogoffart commented on #2857
And what version of Qt?

[2015-02-18 12:11] lmaestro commented on #2285
I have tested in version 1.8-nightly20150218 build 2033 and it is fixed.

[2015-02-18 12:11] #2285 closed

[2015-02-18 12:12] RobinJ1995 commented on #2857
ownCloud client 1.7.1-3
Qt (`qt5-base`) 5.4.0-3

[2015-02-18 12:12] ogoffart commented on #2853
I cannot reproduce the problem.
This should have been working for a few versions now

[2015-02-18 12:18] dragotin commented on #2853
@labkode can you produce a log that isolates the problem?

[2015-02-18 12:37] labkode commented on #2853
Klaas I tested this morning in the MAC osx client as well against demo.owncloud.org, can you tell me which log are you interested in ? The one with the flag --log-file ?

[2015-02-18 13:21] dragotin commented on #2853
I tested with demo.owncloud.com as well. I moved the *Music* folder into *Photos* and the client indeed started to download these, however, the Music folder reappeared etc. I got strange error messages ("Request Entity Too Large") for the re-download of the original Music files etc. pp.

BUT - demo.o.c is not a normal ownCloud server, I think it resets its database and files every couple of minute

[2015-02-18 13:24] lmaestro commented on #2006
It works fine in version  1.8.0-nightly20150218 (build 4740)

[2015-02-18 13:24] #2006 closed

[2015-02-18 13:47] enoch85 commented on #2435
Any progress here?

[2015-02-18 13:48] centredecalcul commented on #2772
I don't have problem when I share a folder (test https://github.com/owncloud/core/issues/13868) but I have problem when I share a single file.

u1 share a single file with u2
u2 can see the new file in web interface, cadaver, etc
u2 "share_folder" Etag is not updated
u2 desktop client don't synchronise the new file

cadaver u2 :
dav:/remote.php/webdav/> ls Partages
Listing collection `/remote.php/

[2015-02-18 14:00] lmaestro commented on #2847
Fixed in version1.8.0-nightly20150218 (build 2033).
Now this pop-up is shown :
![screen shot 2015-02-18 at 2 39 39 pm](https://cloud.githubusercontent.com/assets/4689430/6248325/d7862a06-b77e-11e4-9db0-283f3499c2a0.png)

[2015-02-18 14:00] #2847 closed

[2015-02-18 14:29] labkode commented on #2853
I tested with vanilla 8 and 7 and works very nice. Please be free to close this ticket and we will re-open it if we see these effects on these vanillas servers in the following days.

Best regards

[2015-02-18 14:29] #2853 closed

[2015-02-18 14:31] cdamken opened #2858 "Deleting files and emptying trashbin not possible!"
#### What users do:
1. users have large folders with a few thousands files
2. they try to delete folders in the client and it takes "forever"
3. they receive timeout after waiting "forever"

#### what happens after that:
1. files are deleted on the desktop client
2. files are NOT deleted in the web browser
-> files are still visible in the web browser

problems which occur after that:
1. files_tra

[2015-02-18 14:47] danimo commented on #2858
This is a server issue (deleting to trash is a copy, not a move in older versions) and fixed by upgrading to ownCloud 8.

[2015-02-18 14:47] #2858 closed

[2015-02-18 17:06] jturcotte commented on #2832
Can't reproduce this issue anymore. To clarify, the problem was actually quite difficult to hit, you had to have something like:

dir1/
dir1/<stuff>
dir1-foo/
dir1-foo/<stuff>

And you had to exit the client while dir1-foo/<stuff> was syncing, but before it went back to sync dir1/stuff. dir1/ would be left empty in that case.

@nekoal Please open a new issue if you can get clean repro steps, I'll

[2015-02-18 17:06] #2832 closed

[2015-02-18 17:24] gpbenton commented on #2680
ownCloud-1.8.0.4730beta1-setup seems to have fixed the problem.  I managed to reproduce the problem with v1.7.1, then installed this version and have not had any problems, with the overlay icons installed.  I did see versclid.exe appear briefly in the task manager list, but it disappeared quickly.

[2015-02-18 17:29] lmaestro commented on #2680
@gpbenton Thaks to test it. I close this issue if anyone is able to reproduce, please reopen it. Thx

[2015-02-18 17:29] #2680 closed

[2015-02-18 17:33] dragotin commented on #2820
Thanks, tested this and works fine.

[2015-02-18 17:33] #2820 closed

[2015-02-18 17:36] zephyrus00jp opened #2860 "Windows client path length issue?"
I am not sure if this is a "bug".

But let me report an issue that plagued me for the last several months.
Due to the sensitivity of the path name (that will reveal the parties involved which shall remain anonymous.), I cannot describe the path name exactly below
Suffice it to say that I received a data in USB memory stick some time ago and put them into
a local PC directory. The files and directo

[2015-02-18 18:38] sebastiennoir commented on #2843
I don't think so :
Hardware Overview:

  Model Name:	Mac Pro
  Model Identifier:	MacPro5,1
  Processor Name:	6-Core Intel Xeon
  Processor Speed:	2.66 GHz
  Number of Processors:	2
  Total Number of Cores:	12
  L2 Cache (per Core):	256 KB
  L3 Cache (per Processor):	12 MB
  Memory:	16 GB
  Processor Interconnect Speed:	6.4 GT/s
  Boot ROM Version:	MP51.007F.B03
  SMC Version (system):	1.39f11
  SM

[2015-02-18 18:43] nekoal commented on #2860
It looks related to MAX_PATH. See more here #60.

[2015-02-18 20:09] danimo commented on #2558
I have an experimental OBS build for CentOS 7 (soon 6) that depends on EPEL for Qt 5.4.

I'm looking for testers and input.

[2015-02-18 20:32] stonerl opened #2861 "Use Desktop Sharing OS X - Extension on 10.10"
I just tested the latest nightly-build 2034 for OS X and was wondering if it would be possible to add the Desktop Sharing functionality as Share Menu or Finder Extension.

![screen shot 2015-02-18 at 21 31 59](https://cloud.githubusercontent.com/assets/2091312/6256101/9dee9f94-b7b5-11e4-9fb2-d1143f709e49.png)
![screen shot 2015-02-18 at 21 30 36](https://cloud.githubusercontent.com/assets/2091312/

[2015-02-18 21:12] danimo commented on #2861
This should work already, but we are not using the official OS X 10.10 API (in order to make it work on OS X <= 10.9), which is why it's not showing up in those lists.

In the future we are looking into supporting the official API when installing the client on 10.10.

[2015-02-18 21:18] dcrobertson01 commented on #1902
Hi - possibly  not related to the bugs above, but for the benefit of anyone else having a login problem with KDE Wallet and the owncloud client, here is another possible solution.

In my KDE Wallet, I had two password entries for Owncloud - both for the same server, but one for https:// and the other for http://

Deleting one of the passwords seems to have fixed the problem.

[2015-02-18 23:05] geekpete commented on #2573
Just a follow up, I've been using the adjusted sync frequency only and haven't had any blocking issues since.

It seems to have relieved pressure on whatever limitations were being experienced at the remote server end.

[2015-02-18 23:12] geekpete opened #2862 "Allow export OWNCLOUD_MAX_PARALLEL=1 to be a config file option as well if not already"
Related to https://github.com/owncloud/client/issues/2573

It would be nice to store all the settings in one place in the config file.

[2015-02-19 07:15] MegaV0lt opened #2863 "Regression: Show errors in UI"
In desktop client is no possibility to get info about errors.
![2015-02-19 08_07_43-owncloud](https://cloud.githubusercontent.com/assets/2804301/6262962/fab0c33e-b80e-11e4-8b2d-d0c1d4cce514.jpg)

It would be nice to have a kind of errorlog to be seen via the client (button?)
In activitiers is no error shown.
![2015-02-19 08_14_02-owncloud](https://cloud.githubusercontent.com/assets/2804301/6262978

[2015-02-19 07:30] lmaestro commented on #2863
You can open the logwindow, there are more options here http://doc.owncloud.org/desktop/1.8/advancedusage.html

[2015-02-19 07:43] MegaV0lt commented on #2223
Still in 1.8beta: No date is shown in activities ;(

If showing date is too complicate mybe insert a line showing that a new day began as a optical barrier?
![2015-02-19 08_41_03-owncloud](https://cloud.githubusercontent.com/assets/2804301/6263200/6c239aa6-b813-11e4-89c8-0dde92de3ae6.jpg)

[2015-02-19 07:46] lmaestro commented on #2746
@dragotin any news?

[2015-02-19 08:00] MegaV0lt commented on #2863
Thank you. Is it possible to add a button for the log to the client?

[2015-02-19 08:34] moscicki commented on #2223
I know you guys don't like +1s but I have to give mine… ;-)

Please, it is so utterly confusing (e.g. useless) without the date. Especially if you try to figure out what your sync client did between yesterday and today...

kuba

--

On Feb 19, 2015, at 8:43 AM, MegaV0lt <
notifications@github.com> wrote:

[2015-02-19 08:41] danimo commented on #2558
@moscicki Can you run this solution (Client on CentOS/SCL requiring EPEL) past your deployment guys? It would allow us to jump to Qt 5.

[2015-02-19 08:48] moscicki commented on #1540
We have fixed it in SLC6 distribution by add the cert hash file for the missing root CA file in /etc/ssl/certs

[2015-02-19 08:48] #1540 closed

[2015-02-19 08:56] moscicki commented on #2558
@danimo: no problem, it would help us to get the CentOS 6 build to test first. Is that available already?

Also, please check with @dragotin and @jnweiger : our Linux team have prepared the "proper" (based on the mechanism of Software Collection) packaging scheme which will allow you to install the sync client in the completely standard and canonical way on Redhat-based systems. In particular the

[2015-02-19 08:57] nekoal commented on #2863
Log window is good but..
1) needs restart client with command parameters - button in UI better to open log window.
2) you can't see info about previous errors if parameters was not used in current run. You need reproduce steps after restart client to get log.
3) At least needs some parameter to select logging level. For example, select only 'error' messages or 'error and warning' messages or all m

[2015-02-19 09:49] lmaestro commented on #2109
@danimo any news?

[2015-02-19 09:51] lmaestro commented on #1851
@ogoffart  any news?

[2015-02-19 10:14] lmaestro commented on #2233
It is still happening in version 1.8.0-beta1

[2015-02-19 10:15] lmaestro commented on #2743
It works fine version 1.8.0-beta1

[2015-02-19 10:15] #2743 closed

[2015-02-19 10:21] lmaestro commented on #659
It works fine for me  on Ubuntu 14.04 so I close this issue.
If anyone is able to reproduce, please reopen it. Thx

[2015-02-19 10:34] #2223 closed

[2015-02-19 10:38] danimo commented on #2863
This is a regression: The UI should show the error that occured, and it should show in the log.

The log can be viewed with F12, but is purely for debugging purposes. We will not add a button for it in the UI. Let's rather fix the regression.

/cc @ogoffart

[2015-02-19 10:40] danimo commented on #2860
Yes, duplicate.

[2015-02-19 10:40] #2860 closed

[2015-02-19 10:44] danimo commented on #2862
We have discssed that before, and there will be no config option for this. If there is a bug, fix the bug. If the provider is crappy, change the provider.

[2015-02-19 10:44] #2862 closed

[2015-02-19 11:22] MegaV0lt commented on #2845
Why not go back to the last "working as expected" version of qt? What is teh benefit of using the new one (except of destroyed rendering)

[2015-02-19 11:28] MegaV0lt commented on #2803
Is it possible and/or useful ti integrate a kind of "shortener? Ther exist many like j.mp
is it even possible to integrate a own one? (oc.dyndns.org/hE5hX) or similar?

[2015-02-19 11:31] jnweiger opened #2864 "templates cannot handle branding with 1.8.0beta1"
Test build https://build.opensuse.org/package/show/isv:ownCloud:community:testing:testpilotcloud/testpilotcloud-client

generates a spec file with

name: -client

After fixing this, I run into this error:

[   66s] CMake Error in src/gui/CMakeLists.txt:
[   66s]   Cannot find source file:
[   66s]
[   66s]     /home/abuild/rpmbuild/BUILD/testpilotcloud-1.8.0beta1a/testpilotcloud/theme.qrc
[   66s]

[2015-02-19 11:40] danimo commented on #2845
Qt 5.4 has vital improvements in terms of network management. Going back is not an option.

[2015-02-19 12:21] PVince81 opened #2865 "Send requested properties in PROPFIND, do not use allprops"
SabreDAV only allows these properties to be returned:
https://github.com/fruux/sabre-dav/blob/master/lib/DAV/PropFind.php#L50

In past OC versions we hacked Sabre to also include "oc:permissions", "oc:size", etc.

We are now upgrading to Sabre 2.1 (https://github.com/owncloud/core/issues/12876) and would like to remove the hack (which is actually not possible to use any more due to code changes in

[2015-02-19 12:32] jnweiger commented on #2864
Here is the full diff manually applied on testpilotcloud-client.spec to make it compile
<pre>
--- testpilotcloud-client.spec  (revision 3)
+++ testpilotcloud-client.spec  (working copy)
@@ -33,10 +33,10 @@
 ## prerelease, base_version, tar_version are the interface into buildpackage.pl
 ## used in rotor.o.c job owncloud-client-linux
 ## define prerelease as %nil, if this is not a prerelease.
-%def

[2015-02-19 12:33] PVince81 opened #2866 "Multiple PROPFIND on root with different props"
While debugging SabreDAV with the sync client 1.8.0~beta1 I noticed that the client does multiple PROPFINDs on the WebDAV root.

There seem to be three separate calls on the root for:
- "getlastmodified" alone
- "getetag" alone
- the quota properties

The access log shows 5 calls, I didn't dig into the other ones.

Maybe a few of these can be put together inside a single PROPFIND call ?

[2015-02-19 13:34] ernesttk opened #2867 "Transient file detected but deleted before it could be copied generates File not found error"
Client version: 1.7.1
Platform OS: Windows 7

Condition for error: A process which creates short lived files in the ownCloud directory.
If these files are detected but deleted before they are copied, the user sees a baffling File not found error.

From the activity log (only relevant error line):
13:05     Documents/aftn.trunk/prodd/ww/AFTN_Gateway.lk1                  ownCloud       No such file

[2015-02-19 14:05] ogoffart commented on #2866
From the top of my head: the quota is a separate job because it is global to the account and not to a specific folder.   The getetag job is relative to the folder and is used to know if we should sync.
I don't know what the getlastmodified is for.

[2015-02-19 14:43] PVince81 commented on #2866
I guess the quota + etag could be combined if both operate on the root, if technically possible (based on how the client architecture is done). Unless you guys want to display/update the quota value more frequently than the etag check.

[2015-02-19 15:42] plages commented on #2850
I'm not shure if i'm stuffing too many issues in one topic here but i have a an opinion about fucntionality of the checkbox too.
I discovered that once a file/folder is shared the checkbox is already checked when you choose "Share with ownCloud" from the right click menu. unchecking ik also unshares the file/folder. While i think the idea of being able to unshare from the dialogue is great, I'm wo

[2015-02-19 15:52] eigengrau commented on #2748
I occasionally had this problem when running 7.0 on the server. After upgrading to 8.0, it seemed to have exacerbated. However, I would not get the timeout; instead, the deletion prompt would just stall on the client. Deleting a single file took upwards of a minute. Today, I deleted ~20 files, and the sync operation would not finish on client anymore. Even after killing the client and restarting i

[2015-02-19 16:12] craigpg commented on #2790
@karlitschek, should we use an existing key or should we setup a new key to sign our tags?

[2015-02-19 16:42] jancborchardt commented on #2850
@plages

No, this is not possible.

[2015-02-19 18:27] ne0h commented on #2809
I downloaded the client realease 1.8.0beta1 and tried to compile without any non-default compile flags.
The gist is availible here: https://gist.github.com/ne0h/c58fec28d854e2754f69

Qt version is 5.3.1, compiled with Gentoo build flags:
[ebuild   R   *] dev-qt/qtcore-5.9999:5::qt  USE="icu systemd -debug {-test}" 0 KiB

Do you need more information about my system?

[2015-02-19 21:43] Rocologo commented on #2846
No Im not using encryption and I can easily reproduce it, because it happens all the time.

[2015-02-19 21:59] rboele opened #2868 "syncstatehelper/owncloud.socket floods the Mac OSX console.log"
27-01-2015 15:47 Boelens, Rolf:
Bug in Surfdrive.app (nightly). The SurfDrive.app (SURF, Netherlands) is based on OwnCloud.
When I install OwnCloud, same problem. The report here was for SURF, but since in OwnCloud as well I report it here: it will likely affect more Mac OSX users.

System: Macbookpro, osx 10.8.5, fresh install
Description: syncstatehelper/owncloud.socket writes each 5s the follow

[2015-02-19 23:25] RandolfCarter commented on #994
Just happened again to me after upgrading to OC 8.0. Could this be related to https://github.com/owncloud/core/issues/13980 ? I did have to fiddle around in the storage table to get the upgrade working, not sure if I removed the correct entries there...

[2015-02-20 01:03] hefee opened #2869 "Missing copyright header for some files in 1.8.0beta1"
there are some files without a copyright header:
* src/gui/addcertificatedialog.cpp
* src/gui/addcertificatedialog.h
* src/gui/sharedialog.cpp
* src/gui/wizard/owncloudconnectionmethoddialog.cpp
* src/gui/wizard/owncloudconnectionmethoddialog.h

[2015-02-20 06:47] danimo commented on #2864
Looks good, except it sometimes is desktopclient and sometimes mirall, depeding on the theme (just in general).

[2015-02-20 07:28] zephyrus00jp opened #2870 "Request for enhancment: Windows installer does not explain why creation of qt5webkit.dll failed."
Hi,

Thank you for the great package.

I have encountered a problem  while I tried to install Windows client on three Windows 7 PCs.

On a single PC, the installer fails with creation of qt5webkit.dll and  no
meaningful  additional error message. I checked and there is 0-octet size qt5webkit.dll in
the installation directory.
On two other PCs there was no problem.

I searched the forum and searche

[2015-02-20 07:30] Nikhilkumar13 opened #2871 "sync doesn't start when the location of folders is on other partition on hard drive."
I am using owncloud desktop client version 1.7 on ubuntu 14.04.My owncloud folders which are meant for sync are on other(other than on what my OS is) partition on hard drive.whenever i start my system the sync doesn't start automatically.I have to once open that partition via some folder explorer.
So to make it work i have to restart owncloud client after opening that folder for once.

[2015-02-20 07:37] plages commented on #2850
Ah i checked and (ofcourse) you're right. I can endlessly reshare the link but when the password and/or expiration date changes it it changed for all previous recipients of the link as well. Although this makes perfect sense technically i think that a warning of sorts should pop up when this happens because it could block out previous recipients of the share. the same goes for unsharing by uncheck

[2015-02-20 07:39] ssieb commented on #2871
The partition probably isn't mounted until you request it.  So the sync folder doesn't even exist when the owncloud client starts.  I suppose you could request that the client should check occasionally in that case.

[2015-02-20 08:12] danimo commented on #2871
Make sure your OS mounts the disk automaitcally:

http://ubuntuhandbook.org/index.php/2014/07/mount-partitions-automatically-ubuntu-14-04/

[2015-02-20 08:12] #2871 closed

[2015-02-20 08:53] lmaestro commented on #2374
Fixed in version 1.8.0-nightly20150220(build 4749)

[2015-02-20 08:53] #2374 closed

[2015-02-20 09:26] cdamken commented on #2858
@MorrisJobke  If the fix is in oC8 is there a possiblitity to backport to oC7?

[2015-02-20 09:49] MorrisJobke commented on #2858
This is the PR that fixes this: https://github.com/owncloud/core/pull/13377

[2015-02-20 09:50] MorrisJobke commented on #2858
@cdamken I commented over there https://github.com/owncloud/core/pull/13377#issuecomment-75213136

[2015-02-20 11:32] jancborchardt commented on #2850
@plages it has been like that since a few versions / years now and we haven’t ever had any reports of confusion about this.

[2015-02-20 12:14] plages commented on #2850
ok to be honest i've been using oc since version 5 and i've never run into any problems. But i never use passwords an usually i set expiration dates quite far into the future.
anyway  i agree development energy is probably spent better elsewhere.

[2015-02-20 13:17] gig13 opened #2872 "Collaboration file access options"
When users are accessing a shared folder, we would like the ability to act on the file in either "read only" mode or with "write" ability.

When a User already open a file and you try to open it a box show you “ File already open by [user]”. It could give 3 options “Open in read only”, “Open with full access”, “Cancel”.

This may be a duplicate...

@MTRichards

<bountysource-plugin>
---
Want to ba

[2015-02-20 14:04] jancborchardt commented on #2850
@plages good to hear that. :) But also good to always re-evaluate if we are doing it right.

[2015-02-20 14:14] cbxk1xg commented on #817
It's not just a server problem. I just expericenced it again on another setup. - Guys, seriously, DO SOMETHING! - I am not gonna write another stupid bug report again. Last time I did it for the music app, I also provided the solution. And guess what, till that day, no response at all.

[2015-02-20 14:17] LukasReschke commented on #817
The music app is a community contributed application by @MorrisJobke in his spare time. If you encounter problems and he has no time nor will to fix this, this is absolutely ok as you did not pay anything at all to use the software.

It's an open-source project. If you encounter issues you are welcome to provide patches for them as well in form of a pull request or open an issue and hope that some

[2015-02-20 14:21] LukasReschke commented on #817
If you refer to https://github.com/owncloud/music/pull/348 then you REALLY impatient. You can't expect somebody else to take a look at all changes and approve them within 2 days.

[2015-02-20 14:23] cbxk1xg commented on #817
Have you lost it? There are several people reporting, that there is a severe bug that can cause loss of data. And you young feller have the nerve to tell an old IT-veteran that I shouldn't complain about it?

[2015-02-20 14:25] LukasReschke commented on #817
No. I have young feller have the nerve to tell an old IT-veteran to do what the hell you have been nicely asked to do by the client guys: https://github.com/owncloud/client/issues/817#issuecomment-73401611

If you expect ANY kind of support here I'd highly encourage you to change your tone and follow our code of conduct. You're talking to "the young feller who has the 7th most commits in the ownCl

[2015-02-20 14:25] LukasReschke commented on #817
https://owncloud.org/community/code-of-conduct/

[2015-02-20 14:38] Raydiation commented on #817
@cbxk1xg np, just install systemd and everything will work. We will start to require it in 8.0.1

[2015-02-20 14:39] cbxk1xg commented on #817
Alright, we are getting a bit of topic here. So you tell me basically that you don't care about your own code? Because that's standing between the lines if people report a severe bug and none of the developers responds. And that's just because no one want's to fill out your reporting form?

A cloud-software should have a clear priority. And that is under any circumstances: Keep the user data save!

[2015-02-20 14:42] DeepDiver1975 commented on #817
@cbxk1xg
1. This issue is rather old an out dated
2. You issue is for sure caused by a different reason
3. Please open a new issue and give us all the information we need and we will happily help you out
4. https://owncloud.org/community/code-of-conduct/
5. Thanks you!

[2015-02-20 15:35] Dominique-M opened #2873 "Confusing: 3 Add Folder buttons"
Experienced this in French but is the same in English.
In Settings, left menu Account, there is an (1) **Add Folder…** button at the upper right of the main panel. This means "begin here the process to choose one more folder to synchronize", and brings a Add Folder window to choose a local folder, with **Next** button. This brings a second Add Folder window to choose a destination folder. At the u

[2015-02-20 15:50] jturcotte commented on #2746
I have a fix for Qt, I need to verify that it works on retina display. The actual bug is hidden by another bug that prevents the Selected mode of the QIcon to be used usually, where it would be overwritten by the Normal mode, thus showing the paintDevice == 0 error but still display fine.

The actual bug is that it tries to look at available sizes for a mode, but since we don't provide a Selected

[2015-02-20 16:02] jaroslawp commented on #2558
As a part of that Linux team: I would be interested in the feedback too (client packaged as @moscicki  desribed is there: http://linuxsoft.cern.ch/tmp/owncloud-client/)

[2015-02-20 18:09] nazar-pc commented on #659
@lmaestro, did you updated something to make it working, or just closed issue that affects me and many others?
I'm on Ubuntu 15.04 now, didn't work for me on Ubuntu 14.10 either.

[2015-02-20 18:15] lmaestro commented on #659
what version are you using? do you want to try the beta version https://owncloud.org/install/#testing?

[2015-02-20 18:27] nazar-pc commented on #659
I had 1.7.1, updated to 1.8.0 beta testing - nothing changed, I do not see it anywhere.
Moreover, some applications when you try to open it when it is already running just opens main window, which is not the case with ownCloud. I've pointed solution from qTox project, they've fixed this issue successfully.

[2015-02-20 21:43] Dominique-M commented on #2873
(2) Add Folder comes from images of the online documentation for client 1.7. Seems to be Create folder in real world.
The confusion between (1) and (3) remains.

[2015-02-21 00:42] nekoal commented on #2872
I think needs "Notify [user]" as fourth option. User could open file and then forgot about closing it. This is constant problem when we share files over windows network. So I think users behavior don't differ much when you share files over owncloud.

[2015-02-21 01:00] nekoal commented on #2866
When all folders in my client paused (1.8.0-nightly20150213 (4715)) I see quota job every 31 seconds in log window. Client reports 575 Gb free space. I want display quota less frequently 'cause no way 575 Gb will be used in 31 seconds.

[2015-02-21 10:01] RealRancor commented on #965
@danimo
Just a quick check-up for the current version of the sync client. Is mod_deflate still unsupported as there is still my open issue reported to core: https://github.com/owncloud/core/issues/4783

[2015-02-21 10:09] guruz commented on #2559
Could you try a 1.8 testing version?
Things have changed there with regards to the discovery phase ("preparing to sync")

[2015-02-21 11:16] MegaV0lt opened #2874 "[Windows] Enhancement: Use a nice foldericon for local ownCloud folder"
Under windows (7 in my case) it would be nice to have an own foldericon for the local storage of ownCloud. I did not like the standard icon of the folder, so i assigned the oc-program icon to it:
![2015-02-21 12_11_43-favoriten](https://cloud.githubusercontent.com/assets/2804301/6313904/39b337dc-b9c3-11e4-907f-f3bfe6d33263.jpg)

So a icon like the other folders (eg DropBox) would be realy nice. Ar

[2015-02-21 13:11] danimo commented on #2874
Duplicate of #455

[2015-02-21 13:11] #2874 closed

[2015-02-21 17:05] r-daneel opened #2875 "legitimate clients poking unauthenticated: PROPFIND gives 401"
Since 15 Feb 2015, I am seeing oc clients poking at my server unauthenitcated.
This happens about once an hour per folder:
X.X.X.X - - [15/Feb/2015:12:11:21 -0500] "PROPFIND /owncloud/remote.php/webdav/documents HTTP/1.1" 401 6138 "-" "Mozilla/5.0 (Linux) csyncoC/0.91.5 neon/0.29.6"

These clients otherwise perform correctly authenticated request as these:
X.X.X.X - valid_user [15/Feb/2015:12:15:0

[2015-02-21 20:41] karolherbst commented on #2546
for reference: https://github.com/frankosterfeld/qtkeychain/pull/48

[2015-02-22 07:53] mzaian opened #2876 "Files got deleted from a Shared folder without user interaction"
### Expected behaviour
The files should not be deleted

### Actual behaviour
My manager reported that some files "video & pdf" got deleted from a folder that  shared to him with full access, i reviewed the apache log files of owncloud and saw the actions as below:-
[22/Feb/2015:08:29:32 +0200] "DELETE /remote.php/webdav/Path-To-Dir/Path-To-File.mp4 HTTP/1.1" 204 756 "-" "Mozilla/5.0 (Windows) csyn

[2015-02-22 13:07] mkymikky commented on #2559
My test showed no acceleration while "preparing to sync". In contrary running it on similar hardware with version 1.71 vs. 1.8beta indicated the new version to be slightly slower until synchronizing files*.

*the discrepancy is not significant in my eyes

[2015-02-22 13:15] danimo commented on #2559
Did you test with ownCloud 8?

[2015-02-22 14:03] MegaV0lt opened #2877 "[Client] [Share from Desktop] Make Link usable for showing images directly"
Links shared from desktopclient do not show up if used in html. Example in a forum to integrate a picture that is hosted in ownclud. Example:
This Picture
https://darkwing.ddns.net/owncloud/public.php?service=files&t=CLqI8iBWgdDHkTy

![GitHub Logo](/images/logo.png) Format: ![Alt Text](https://darkwing.ddns.net/owncloud/public.php?service=files&t=CLqI8iBWgdDHkTy)

No picture is shown.

This is wor

[2015-02-22 14:06] mkymikky commented on #2559
Yes, I did, corrected it above.

[2015-02-22 16:44] maltekosian opened #2878 "Client is not connecting to server on Mac OS X"
Client is not connecting to server on Mac OS X

can not reach the server. message
no login possible without any reason.

[2015-02-22 16:48] danimo commented on #2878
Please walk through https://doc.owncloud.org/desktop/1.8/troubleshooting.html

[2015-02-22 20:49] #2878 closed

[2015-02-22 22:27] RealRancor commented on #2878
@maltekosian
Did you find the problem?

[2015-02-22 23:45] GMTA commented on #1981
I've just tested the latest beta version for this issue. Great news: large files are no longer being locked by the OC client!

If you save the file, wait for it to sync, and save it again while OC is uploading the file, the status icon on the file turns to a red cross. The icon in the notification area stays green. After a while, another sync takes place and the file is uploaded correctly.

I have

[2015-02-23 06:16] axllent commented on #2559
For what it is worth, I have been having the same issue described here - very slow uploads, especially noticeable with many small files, and based on the thread I have been blaming the clients. Whilst I don't run heavy hardware on the **server** and only have a handful of clients, the mysql database resides on an regular **ext4** SATA 7200RPM HD (running Debian). Using `iostat -x 1` I was able to

[2015-02-23 06:54] RealRancor commented on #2877
Ref for a generated link which allows this: https://github.com/owncloud/core/issues/8180#issuecomment-50626870

[2015-02-23 08:27] rullzer commented on #2850
So, like I said adding the OK button is not that hard. And probably makes sense.

I'm still not sure if adding a cancel button is the right way to go since I think it should just cancel my edits and not remove a share if it already existed. @jancborchardt do you have an oppinion on this?

I'll look into a way to invoke your e-mail client to send an e-mail.

[2015-02-23 08:42] Bran-Ko opened #2879 "LDAP authentication"
I using local owncloud and LDAP authentization. But every time when I update/reboot LDAP server local client (on windows) wants login. Restart of sever took 10-20sec - I mean that client is very sensitive. Can you extend this time for connect LDAP ? Or is it possible to configure it on server ?

[2015-02-23 08:49] BrentNewland opened #2880 "Error when file modification date is in the future: "Local file changed during sync", file is not synced"
### Expected behaviour
Owncloud should sync the file

### Actual behaviour
Owncloud does not sync the file

### Steps to reproduce
1. Change the modification date/time on a file to a future date/time
2. Move that file to an Owncloud synced folder
3. Check Owncloud client activity log - file will say "Local file changed during sync" and will not sync

### Server configuration
Operating system: Wind

[2015-02-23 09:16] plages commented on #2850
Although it makes sense not to cancel an already existing share, i really think something should clarify the fact that as long as the checkbox is checked, the share is retained. Because while there's no cancel button there is a red X on the top right of the dialogue that suggests cancel functionality.
Retaining the settings makes sense for en existing share but it doesn't for a new 'unfinished' sh

[2015-02-23 09:27] MegaV0lt commented on #2880
There should ala a warning logged about filedate in future

[2015-02-23 10:35] danimo commented on #2868
@jturcotte this was fixed for 1.8, right?

[2015-02-23 10:40] dragotin commented on #69
Sorry guys, but we will move this to 1.8.1 rather than 1.8.0. Too little time left for this intrusive thing.

[2015-02-23 10:50] dragotin commented on #2810
postponed to 1.8.1

[2015-02-23 10:53] esquad18 opened #2881 "desktop share function: Nginx redirect issue."
hi,

a problem with desktop 1.8 client and the "share with owncloud" function : it does'nt work when owncloud server is used with a URL redirection ( nginx redirect to the owncloud server 7.04 ).
it displays after right clic on share :
error code ocs api : 0  or error code ocs api : 404

thx

[2015-02-23 10:54] johansolve commented on #742
Filenames with forward slash on MacOS X is not at all unusual among regular users. It's problematic to not allow what the OS allows. The slash is transparently stored as colon ":" and displayed as / in the Finder. Conversely, the Finder doesn't allow ":" in filenames and has never done since that's the historical path delimiter in older (pre X) Mac OS.
Why can't Owncloud simply sync files as they

[2015-02-23 10:54] danimo commented on #2413
Implemented

[2015-02-23 10:54] cdamken commented on #2736
Shibboleth provides a new cookie because the session is send to the wrong backend because the client uses the new cookie when doing a PROPFIND for the first time rather then the stored cookies, or else the session would have ended at the correct backend where the shibboleth sessions known.

We fixed it by using memcache as session store so all backends see the same sessions.

Still it's a client i

[2015-02-23 10:58] danimo commented on #742
@johansolve no problem, the 'real' character (at API level) is the ':', not the '/'. '/' is just what finder shows. We're dealing with it at API level.

[2015-02-23 10:59] johansolve commented on #742
Excellent. Can the filename characer blacklist be configured @danimo ?

[2015-02-23 11:00] LukasReschke commented on #742
Will be possible in a future release once https://github.com/owncloud/core/pull/14346 is available. In that case the server can support more characters when running on Linux. (and not Windows or some other OS that has some more forbidden characters)

[2015-02-23 11:02] jdhoek commented on #69
@dragotin
Understandable. Storing the passwords securely is important. Would you happen to know roughly when 1.8.1 might be expected?

[2015-02-23 11:03] dragotin commented on #69
@jdhoek we aim for four or rather six weeks after the release of 1.8.0.

[2015-02-23 11:04] dragotin commented on #2736
Ok, happy that its fixed for this specific case. We will revisit that when we work on 1.8.1.

[2015-02-23 11:10] dragotin commented on #2643
@lmaestro could you please try to verify this problem?

[2015-02-23 11:13] dragotin commented on #2724
@ogoffart as discussed,  the decision on how much parallel requests we do was:
- with server < ownCloud 8 we do only as much as we did in ownCloud Client 1.7.1
- with server ownCloud 8 and higher, we perform parallel requests

[2015-02-23 11:18] dragotin commented on #2850
I think the dialog should have a close button. I will add it and also change the label of the dialog as suggested by @plages

[2015-02-23 11:19] dragotin commented on #2724
This was implemented by @ogoffart in 063271e9788f4b4d31d943b342145f37e208371d

[2015-02-23 11:19] #2724 closed

[2015-02-23 11:21] dragotin commented on #2844
The normal client package from 1.8.0 on will use qt5 as available on the distribution. So this problem does not happen any more. The testing repository already contains the packages to test.

[2015-02-23 11:21] #2844 closed

[2015-02-23 11:22] dragotin commented on #2823
Thanks! Closing this one.

[2015-02-23 11:22] #2823 closed

[2015-02-23 11:26] dragotin commented on #2764
#2775, #2800 and #2815 were postponed to 1.8.1, thus I mark them "checked" above.

[2015-02-23 11:33] dragotin commented on #2447
@ckamm does your *.lnk fix maybe fix this problem as well?

[2015-02-23 11:33] dragotin commented on #2776
This is basically a duplicate of https://github.com/owncloud/client/issues/2505

[2015-02-23 11:33] #2776 closed

[2015-02-23 12:52] rboele commented on #2868
it looks like the problem was solved, just tried on my Mac (osx 10.8.5), ownCloud-1.8.0.2014beta1.pkg
from https://owncloud.org/install/#testing

no console.log flooding anymore, at least for owncloud,
hope it will soon appear in a coming version of surfdrive as well

rolf

[2015-02-23 12:56] rboele commented on #2868
comment added:

it looks like the problem was solved, just tried on my Mac (osx 10.8.5), ownCloud-1.8.0.2014beta1.pkg

from https://owncloud.org/install/#testing

thx, rolf

On 23 Feb 2015, at 11:35, Daniel Molkentin <notifications@github.com> wrote:

[2015-02-23 13:01] #2868 closed

[2015-02-23 13:34] jnweiger commented on #2558
@jaroslawp Thanks for your detailled description!
The URL is down today. I have saved a copy here:
https://s3.owncloud.com/owncloud/public.php?service=files&t=dcd3c210435abcfda90b08aa45a84f92&download

[2015-02-23 14:21] lmaestro commented on #2881
I can reproduce it using a server with nginx redirect if you try to share a file which is inside a folder with special characters . (Ex: OC-local-folder/ $%&Ç¨^_/photo1.jpg )
@esquad18 Can you add your steps to reproduce?
https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

[2015-02-23 14:45] moscicki opened #2882 "1.8.0-beta1: keeps notifying forever about the filename too long error"
The 1.8.-beta1 keeps on notifying me about an error with a file over and over again. I think it should stop after notifying once. Here is my particular error:

![image](https://cloud.githubusercontent.com/assets/621965/6329648/9aded984-bb72-11e4-968c-3b44c3bab71e.png)

The notification itself is also a bit unhelpful:

![image](https://cloud.githubusercontent.com/assets/621965/6329668/cb478fc6-bb72

[2015-02-23 15:00] gig13 commented on #2413
@danimo @MTRichards
Any expectation I can set for the release date on 1.8? One month, 2 months...?

[2015-02-23 15:18] MTRichards commented on #2413
Something like that, yes. I know we are working on a sharing api bug fix, not certain where we are with that and overall testing of 1.8 in the RC and beta cycle.

[2015-02-23 15:22] dragotin commented on #2863
@MegaV0lt it would be good if I knew which exact request caused the problem. Do you think you can find the error in the apache access_log?

Apart from that, the log above indicates and internal server error because the external storage was unavailable on the server. That should not be.

[2015-02-23 15:24] cdamken commented on #2613
@MTRichards for your list of Feature request.

@dragotin  It's still for 1.8.1 milestone?

[2015-02-23 16:44] jaroslawp commented on #2558
that URL is back again, sorry. (scheduled intervention ..)

[2015-02-23 16:50] danimo commented on #2558
@jaroslawp That's very cool actually. Going the SC route is the next logical step. Also our own SC would allow putting patching Qt to adopt it to our needs without bothering the system. This is something we already do for Windows and Mac OS on several occasions, even though we try to avoid it as much as possible. So thanks for doing that!

At the same time, I wonder how much work it would be to ha

[2015-02-23 16:51] jaroslawp commented on #2558
@danimo: I should have some time to look at this (Qt5) next week, will keep you updated !

[2015-02-23 18:02] ryantollefson commented on #2880
This bug also exists in desktop client 1.7.1 (build 4382).
For me, file was created in a different time-zone and wouldn't sync properly.  If I open and re-save the file locally it syncs fine (once date is no longer in the future).

[2015-02-23 18:05] ckamm commented on #2447
@dragotin Possibly. Some remaining lnk issues were reported in #2792. Will check it out on Wednesday. :)

[2015-02-23 20:29] Rocologo commented on #2846
I have now 1.8.0 Beta now, but it still fails.
![owncloud_006](https://cloud.githubusercontent.com/assets/1008133/6336460/07c84154-bba3-11e4-914b-bf023218b757.png)

[2015-02-23 20:44] Rocologo commented on #2846
I just grabbed a log when the error happens

![owncloud_007](https://cloud.githubusercontent.com/assets/1008133/6336687/a90c6300-bba4-11e4-9eae-f48862813c87.png)

I have placed the logfile here:
https://dl.dropboxusercontent.com/u/36067670/owncloud/owncloud_error_23_02_2015_21_42

[2015-02-23 22:28] v6sa commented on #2808
Hi, I was just digging through the cookie code to see what's going on. Even with the last Git commit OwnCloud sync client writes ~/.local/share/data/ownCloud/cookies.db upon exit, but ignores the contents at next launch and seeks for user password from the keychain instead. Even without Shibboleth I think it would be a good idea to primarily rely on cookies as leaked password from keyring has more

[2015-02-24 07:35] MegaV0lt commented on #2863
The access.log from that time is very short:
[code]
also the error.log:
[code]
That errorr is caused when i activate the telekom mediencenter. oc is accessing it via WebDAV, but it brings that errors and i have it deaktivated.

[2015-02-24 08:18] dragotin commented on #2863
Thanks, but it would be more interesting to see the part of the access_log if the mediencenter is activated but failing. Do you think you can do that again?

[2015-02-24 08:32] MegaV0lt commented on #2863
i wilol activate it again. but that time in log it was activatet!

[2015-02-24 09:25] rullzer commented on #2876
So what is the bug here?

It seems somebody deleted the file from the shared directory which then, by design, removed it for everybody that had that folder shared with him/her.

[2015-02-24 09:26] lmaestro commented on #2643
I am not able to reproduce it using version 1.8beta1 in OpenSUSE 13.2.
@LEDfan Please use the latest version (https://owncloud.org/install/#testing) and if you are able to reproduce it, reopen it, thx.

[2015-02-24 09:26] #2643 closed

[2015-02-24 10:18] cdamken commented on #60
I have also the problem, before 1.7.1 did work.

Log:
S3-ownCloud\Shared\owncloud\support\github-issues\client\60\Log File.txt

@MorrisJobke

00002621

[2015-02-24 10:24] dragotin commented on #2863
This commit preserves the error message: https://github.com/owncloud/client/commit/6375d0b284645239e0714652223606f8dee73979

[2015-02-24 10:56] esosan opened #2883 "Desktop client 1.7.1 crash on Windows Server 2012R2"
Hi All!
I have a strange problem on desktop client installed on Windows Server 2012: once a day the client crashes with a generic message "Runtime Error". Between the crashes the client works properly.

On the OC server I have no problem or error.

I already googled but I found nothing about. Any idea about on how to solve or some workaround?

The client is a 1.7.(14382) running on windows server

[2015-02-24 10:58] MegaV0lt commented on #2863
Thank you, but i must wait for next beta, i can noct build.

in oc-log i have masses of
[code]
and sometimes the bad reqest...
oc also loads file from the mediacenter even if they are not changed:
![2015-02-24 11_56_27-owncloud](https://cloud.githubusercontent.com/assets/2804301/6347968/68478502-bc1c-11e4-8d55-808eed861989.jpg)
That makes mediencenter unusable... I only have a few testfiles in the

[2015-02-24 11:01] LukasReschke commented on #2863
[code]

Those errors are server bugs and have to be fixed in the core. Can you report them at https://github.com/owncloud/core as well using the issue template? Thanks.

Shouldn't impact this issue though, @danimo?

[2015-02-24 11:03] danimo commented on #2863
@MegaV0lt I have triggered a new build which will show up as build number 4​75​​9 on http://download.owncloud.com/desktop/daily/ in a few minutes.

As to the source of the errors: What @LukasReschke says...

[2015-02-24 11:12] MegaV0lt commented on #2863
Thank you... i will install when it is ther.

I think it already exist a ticket about that errormessages related to "Telekom Mediencenter"

[2015-02-24 11:14] danimo commented on #2863
@MegaV0lt http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4759-nightly20150224-setup.exe is available now.

[2015-02-24 11:17] mkymikky commented on #2559
I will try that soon.

If the impact is big enough to mention, I think the use of nobarrier is no problem.
Even though it reduces data inconsistency on powerloss this will be either compensated by enterprise-level power buffering or should not be too risky for private users. In either case, making backups is reducing the risk to an acceptable level in my eyes.

As written on
https://access.redhat.

[2015-02-24 11:23] MegaV0lt commented on #2863
Loaded and running ;) I wait now for errors to display...

[2015-02-24 12:26] MegaV0lt commented on #2863
Got red symbol in client again, but no message in activity. Only in Server-LoG:
[code]
access.log

[2015-02-24 13:29] MTRichards commented on #2613
@cdamken please ensure that this is also in SFDC.
Thanks.

[2015-02-24 13:55] dragotin commented on #2863
@MegaV0lt the error message in client should be more descriptive now. This kind of error does not show up in the activity log because there only file specific problems show up. The problem of a non available storage however is not file specific.

[2015-02-24 14:01] MegaV0lt commented on #2863
It was showing "Could not open directory" or similar... But no info if open failed local or remote because remote was not accessible. At least something... The main problem is the not working webdav at telekom

[2015-02-24 14:03] dragotin opened #2884 "Handle 503 reply code properly"
There are two scenarios where the server replies 503:

1. Maintenance mode: the server is in maintenance mode, access to the root folder returns error code 503. In that case we silently need to disable access to the server at all, and keep calm with the "not signed in" icon. After 30 seconds we need to try again if the server is back again. With 1.8.0 beta1 we show an error message instead.
2. The

[2015-02-24 14:06] dragotin commented on #2884
@ckamm I felt free to assign you here.

For case 1. (which can be easily tested by setting maintenance = true in servers config.php) the problem is that in object Folder and in Folderman the variable ```_csyncUnavail``` is true if the server returned 503, but that is not properly handled. No retries to connect happen.

[2015-02-24 14:08] dragotin commented on #2863
related: #2884

[2015-02-24 15:01] cdamken commented on #2720
@danimo It was fixed with 1.7.1

#### Thank you!

[2015-02-24 15:01] #2720 closed

[2015-02-24 15:19] MTRichards commented on #2818
Reminding myself for 1.9 consideration.

[2015-02-24 15:22] blackcobra1973 commented on #226
For me qt stuff is a big problem.  I want to have a nice clean setup and be able to sync certain folders with certain servers which do not have any X library available so qt stuff does not work so no owncloudcmd because it requires lots of X library's so please make just like dropbox/seafile a command line only client.   So please reopen this ticket or I just create a new one.

[2015-02-24 15:25] danimo commented on #226
@blackcobra1973 Every aspect of the client is written with "the Qt stuff". But Qt is not a gui-only toolkit. Anyway, For now there is owncloudcmd.

[2015-02-24 15:29] blackcobra1973 commented on #226
Yes and my customer who I am preparing the POC's for has a requirement for a full command line version without all the x stuff that come in with QT.    So I have a feeling they will cancel the POC for owncloud and the decision will happen between dropbox/bittorent sync/seafile.

And yes owncloudcmd is full of X stuff:  ldd /usr/bin/owncloudcmd
        linux-vdso.so.1 =>  (0x00007fff28fec000)

[2015-02-24 15:31] danimo commented on #226
Yes, there's still a bit of X dependencies left in libsync, which should go to a libsyncgui. unfortunantely we cannot make this priority for us right now. We do welcome patches though and we are happy to assist.

[2015-02-24 15:38] blackcobra1973 commented on #226
No problem for me.  I not have the time to go into the code and sort it out.  I will inform my customer that  this is no priority for you and that the only valuable choices are Dropbox for Business, Bittorrent Sync and Seafile they all 3 have a full client (daemon like) version ready as command line sollution.

[2015-02-24 15:43] danimo commented on #226
@blackcobra1973 go ahead

[2015-02-25 06:21] ckamm commented on #2884
@dragotin Currently the behavior is that the 503 response will make the 'service unavailable' error appear in the UI and show the account as disconnected (AccountState goes to NetworkError). You're saying we should hide the error and silently try again?

We could do that for a bit, but I don't want to pretend to be connected while we can't actually sync anything for too long. The 503 response coul

[2015-02-25 06:57] ckamm commented on #2884
About 2.: The commit fixes it. It'd be really nice if we could distinguish this 'maintenance mode!' and 'storage unavailable!' from regular 503 errors that could have other causes.

[2015-02-25 07:03] guruz commented on #2884
Refs https://github.com/owncloud/client/issues/1923

[2015-02-25 07:17] LukeOwncloud opened #2886 "[Windows] owncloud.cfg gone after automatic update"
Tonight at 3 o'clock my Windows machine automatically installed KB3006137 (I left the machine on with owncloud running. Everything normal). This morning after logging in I noticed that owncloud lost its ```owncloud.cfg```. Instead it showed the window to setup the client. After restoring the config file everything was back to normal.

Did anyone encounter the same problem?

Windows 7 32bit
ownClou

[2015-02-25 07:54] jeppebundsgaard commented on #2754
The problem also appears in Kubuntu 15.04 alpha (Plasma 5.2).

[2015-02-25 07:58] MegaV0lt commented on #2863
Now after reaktivating windows from standby oc compleatly is off:
http://i.imgur.com/vW11HMm.png

Must have to do with defect telekom webdav

But it is blocking oc compleatly witch should not happen. I must deaktivate telekom again...

[2015-02-25 08:02] MegaV0lt commented on #2863
Still not working after deaktivating telekom webdav:
http://i.imgur.com/XFonFQY.png

What now?

[2015-02-25 09:22] ckamm commented on #2792
@nekoal I can reproduce that links to nonexistant targets and objects like 'My Computer' don't upload correctly. Thanks for the extra details! I will look at it now.

[2015-02-25 09:44] sybrenstuvel commented on #2532
I also suffer from this issue. When the owncloud sync client (version 1.6.3+dfsg-0ubuntu1) starts, it always asks for a password. When I manually open the KWallet, and then start the owncloud client, it works just fine.

This is with:

- Kubuntu 14.10
- owncloud-client 1.6.3+dfsg-0ubuntu1
- libqtkeychain0 0.3.0-2

[2015-02-25 09:45] rajan9 opened #2887 "GPG error: http://download.opensuse.org: public key is not available"
W: GPG error: http://download.opensuse.org  Release: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 3EF2666A18CEC0F6
W: Failed to fetch http://ppa.launchpad.net/libreoffice/libreoffice-4-4/ubuntu/dists/precise/main/source/Sources  404  Not Found

W: Failed to fetch http://ppa.launchpad.net/libreoffice/libreoffice-4-4/ubuntu/dists/precise/main/binar

[2015-02-25 09:46] danimo commented on #2532
@sybrenstuvel There have been a lot of fixes that are not reflected in the Ubuntu repository. Please try with our official packages: https://owncloud.org/install/#desktop

[2015-02-25 09:57] ckamm commented on #2447
No, this still happens even with the #2792 fix applied.

[2015-02-25 10:17] danimo commented on #2887
Which repo have you added? Did you import the pgp key?

[2015-02-25 10:34] guruz commented on #2861
Duplicate https://github.com/owncloud/client/issues/2340

[2015-02-25 10:34] #2861 closed

[2015-02-25 10:36] guruz commented on #2866
Sorry, this is a WontFix for now :)
@ckamm had fixed something for reducing some superflous requests at startup, maybe that was not in beta1 yet.

[2015-02-25 10:36] #2866 closed

[2015-02-25 11:13] ckamm commented on #2884
What was done:
1. Receiving a 503 response due to server maintenance during connection validation disables sync scheduling etc, but keeps the green icon. Regular connection checking continues and restores the client to a 'connected' state once the 503 goes away.
2. Receiving a 503 Storage not available response during remote discovery will ignore the whole directory.

What was not done: A server-m

[2015-02-25 11:28] ckamm commented on #1923
I'm closing this ticket because we handle
* 503 Storage not available during discovery and
* regular 503 during connection pings

correctly now.

A upgrade-induced 503 during discovery or up/downloads will lead to a sync failure. I'll make a new ticket to track and discuss that issue.

[2015-02-25 11:28] #1923 closed

[2015-02-25 11:31] ckamm opened #2888 "Active syncs abort with an error when the server is unavailable due to an upgrade"
When the server is upgraded, it returns 503 error codes while the upgrade is running. This can happen at any time. If it happens during a sync, that sync will abort with an error message.

This may not be what we want to happen. See #1923 and #2884 for related discussion.

[2015-02-25 11:35] rajan9 commented on #2887
No I have not Imported any pgp key.

I am having this error from long time. recently I upgraded to libreoffice 4.4.0 and now I am not able to update or updade my system (ubuntu 12.04). It shows above mentioned error and update fails.

Thank you in advance

[2015-02-25 11:39] ckamm commented on #2866
We do requests for
* etag per folder, to check for remote changes
* quota per account, to get the quota, doh
* getlastmodified per account, as heartbeat

The path of the etag job depends on the folder's configuration, it's not necessarily the root folder. We can't combine the quota/getlastmodified jobs because in some situations the server needs quite some time to reply to quota requests.

[2015-02-25 11:42] PVince81 commented on #2866
CC @icewind1991 FYI

I wonder why the quota call would be talking that long.
One possibility is that sometimes it needs to recompute the file sizes (especially on a server where the size propagation takes time).

Well, I guess that makes sense for now. I understand.

[2015-02-25 11:43] PVince81 commented on #2866
I suppose you could maybe cancel/defer the heartbeat job if another call has been done already ?
What I observed is that all three calls were made almost at the same time.

[2015-02-25 13:30] guruz commented on #2854
@moscicki @gig13 Do you know if this is a regression?
We have changed the sqlite3 log-mode (for performance reasons) which however had regressed on VFAT on Windows. If this is a regression, then this is probably also a problem for AFS? Or the regression is related to us now using the DB in parallel from several threads (because of the overlay icons).

CC @ckamm

[2015-02-25 13:31] plages commented on #2850
I noticed that the desktop sharing takes over the default expiration time from the server. Which makes perfect sense to me. Does anyone agree therew should be feedback about this the first time i create a share? When i click 'Share with ownCloud'the second time on a share, the expiration date and the 'Set expiration data'checkbox are automatically populated. Maybe upon initial creation of the shar

[2015-02-25 13:48] dragotin commented on #2850
I enhanced the GUI a bit and added a close button  with the mentioned commit above.

[2015-02-25 13:51] dragotin commented on #2863
@MegaV0lt there is something different wrong with your server. I think the initial problem is fixed: The client will show more  helpful error message because of my fix above. Closing hence.

[2015-02-25 13:51] #2863 closed

[2015-02-25 13:53] dragotin commented on #2764
#2822 is also for milestone 1.8.1, checking above.

[2015-02-25 13:56] dragotin commented on #2887
hmm, why is the PPA mentioned? We only care for the OBS packages here.

[2015-02-25 13:57] MegaV0lt commented on #2863
After restart of client it works.

[2015-02-25 14:00] plages commented on #2850
i'm assuming this will be in the next nightly build. As you can see i added some comments to this issue. Is this OK or should i create a new issue. I think it's all kind of interface polish.

[2015-02-25 14:05] danimo commented on #2881
By "redirection", do you mean "reverse proxy"?

[2015-02-25 14:05] ckamm commented on #2854
The discussion on stackoverflow indicates that DB locking doesn't work on AFS. It suggests we could special-case it by detecting AFS and then using the unix-dotfile locking mode.

That sounds different than the WAL+exFAT issues we've seen. It would nevertheless be worth to experiment with that. @moscicki If you can reproduce the issue, can you try with the environment variable OWNCLOUD_SQLITE_JOUR

[2015-02-25 14:06] dragotin commented on #2850
@plages yes, please open a new issue. Thanks for your help!

[2015-02-25 14:16] ckamm commented on #2833
@manuel-uberti I think the problem is this

    libowncloudsync.so.0 => /usr/local/lib/libowncloudsync.so.0

it should be using /usr/lib/x86_64-linux-gnu/libowncloudsync.so.0 instead. If you put it there yourself you could remove it and your installed version should start to work.

[2015-02-25 14:16] #2833 closed

[2015-02-25 14:18] plages opened #2889 "Feedback on settings in sharing dialogue"
I noticed that the desktop sharing takes over the default expiration time from the server. Which makes perfect sense to me. Does anyone agree therew should be feedback about this the first time i create a share? When i click 'Share with ownCloud'the second time on a share, the expiration date and the 'Set expiration data'checkbox are automatically populated. Maybe upon initial creation of the shar

[2015-02-25 14:19] m33x commented on #2514
Hi I have a similar problem.

The file is very large / big (6.3GB) and stored on an external WebDav. I uploaded the file with the client, but now I'm facing this problem in an endless loop: (See Screenshot)
As I'm connected via a gigabit connection I can easily reproduce the problem, if this would be helpful for you guys. Thank your very much for any fix or workaround.

![owncloud_bug2](https://cl

[2015-02-25 14:27] dragotin commented on #2886
That is a strange thing...

[2015-02-25 14:28] dragotin commented on #2879
@blizzz do you understand whats going on here?

[2015-02-25 14:29] dragotin commented on #2882
Yes, this error case should be blacklisted.

[2015-02-25 14:30] dragotin commented on #2882
and @moscicki you should consider more speaking filenames ;-)

[2015-02-25 14:32] dragotin commented on #2877
Not very much the problem of the desktop client as the link is generated by server code. Best would be if you open this issue in the issue tracker of the core repo. Thanks.

[2015-02-25 14:34] dragotin commented on #2876
Yes, what @rullzer says is true: If somebody else (not your manager) removed it from the Share, the deletion is propagated to all the people syncing that share.

Please double check and reopen this issue in case that was **not** the case here. Thanks.

[2015-02-25 14:34] #2876 closed

[2015-02-25 14:34] LukasReschke commented on #2877
Link by @RealRancor explains why we can't add that at the moment… Let me *finally* get write that blog post ;-)

[2015-02-25 14:35] dragotin commented on #2877
Ah ok. Closing this here.

[2015-02-25 14:35] #2877 closed

[2015-02-25 14:36] dragotin commented on #2870
As we use the NSIS installer framework for windows, I think that would be worth a bug report upstream in that project. We're not so much in that here.

[2015-02-25 14:36] #2870 closed

[2015-02-25 14:37] jturcotte commented on #2746
Qt fix uploaded at https://codereview.qt-project.org/107101

[2015-02-25 14:38] dragotin commented on #2875
Yes, that is expected, the session has a timeout, which is (AFAIR) configurable. Please seek for help (if needed) in forum, mailinglist or IRC. Thanks.

[2015-02-25 14:38] #2875 closed

[2015-02-25 14:38] blizzz commented on #2879
@dragotin i assume the client wants to authenticate, but the LDAP server is down so it does not succeed and subsequently the  client cries for a new password.

[2015-02-25 14:40] dragotin commented on #2864
I did some fixes to genbranding.pl, should work better now. @jnweiger we still need to test this!

[2015-02-25 14:42] dragotin commented on #2845
Closing this as "wontfix" for now, as that will go away automatically with the next upstream version of Qt.

[2015-02-25 14:42] #2845 closed

[2015-02-25 14:45] dragotin commented on #2826
hmm, could also be a temp network problem or so. I'll close this, @lmaestro will reopen if that shows up again.

[2015-02-25 14:45] #2826 closed

[2015-02-25 14:47] dragotin commented on #2837
there are some strange server replies in the log:
[code]
why is that happening?

[2015-02-25 14:49] dragotin commented on #2814
@carlaschroder that might be something for you

[2015-02-25 15:03] jnweiger commented on #2864
Testcase started:
1) deleted project isv:ownCloud:community:testing:testpilotcloud
2) running the magic script ./setup_all_oem_clients.pl v1.8.0-beta1a isv:ownCloud:community:testing testpilotcloud https://api.opensuse.org isv:ownCloud:desktop

[2015-02-25 15:59] jnweiger commented on #2864
Looks good, except obs sometimes is so slow (just in general).

[2015-02-25 16:03] dragotin commented on #2869
@rullzer @nocteau @jdhoek please add your emails and names if you want.

[2015-02-25 16:03] #2869 closed

[2015-02-25 16:07] jdhoek commented on #2869
@dragotin
Sure. Just to verify: I consider my contribution to be utterly trivial, I take it you agree (so no Contributor Agreement needed right?).

[2015-02-25 16:14] dragotin commented on #2869
@jdhoek well, yes, yet, it might be better to send one in if you don't mind. Puts us all on the save side.

[2015-02-25 16:17] jdhoek commented on #2869
Not at all. Will do.

The files I've contributed were amended by others afterwards, should I submit a PR with the (now missing) default header as used in other files with just my name on it?

[2015-02-25 16:38] jturcotte commented on #2883
@esosan Thanks for the report, in order to trying finding the cause, could you try two things?

- Could you try with the 1.8-beta version of the client and say if you also get the error? You can get it from https://owncloud.org/install/#testing
- Please try giving us more info about the runtime error. It might be slightly different on Server 2012 but you should be able to find a summary afterward

[2015-02-25 16:41] dragotin commented on #2746
@jturcotte do we add this fix to our builds as well, or do we wait for a new upstream Qt release? @danimo

[2015-02-25 16:45] mikew commented on #2707
@ogoffart

If the user is using "Choose what to sync" and hasn't *explicitly* enabled a folder to be synced, nothing in that folder or any parent folder should be synced.

Standard team communication?

Currently, if you have ...

[code]

... and someone adds a large folder to `All Projects/Project 2`, it is synced everywhere and wastes resources of people's machines and can really hinder performan

[2015-02-25 16:50] jturcotte commented on #2746
I'm not sure what are your policy regarding this usually, but note that 5.4.1 just got released and we'll probably release 1.8 before 5.4.2 or 5.5.0.

The other question is if we pick it now, in time for the next beta, or if we wait until it get reviewed and merged in Qt.

[2015-02-25 16:59] esquad18 commented on #2881
yes, reverse proxy listen port 443 and redirect to the server owncloud url location

[2015-02-25 17:08] danimo commented on #2746
@jturcotte get me the patch, and I'll add it to the build machine for testing.

[2015-02-25 17:21] dragotin commented on #2746
yes, which should happen before beta2

[2015-02-25 17:30] rullzer commented on #2869
done :)

[2015-02-25 17:32] jturcotte commented on #2746
Here's the raw patch: https://gist.githubusercontent.com/jturcotte/73bd3276fcbbea15a62c/raw/6b9d2906e4c4f203ab8874776d76c4509658b026/gistfile1.diff

You can also get it from gerrit in a qtbase clone by running:
git fetch https://codereview.qt-project.org/qt/qtbase refs/changes/01/107101/1 && git format-patch -1 --stdout FETCH_HEAD

[2015-02-25 17:41] esosan commented on #2883
@jturcotte Hi, thank you for the supporting.

Below the only entry which I think is related to the crash (the time matches). this one is for version 1.7.1.

Now I will install the new version, I will send you the new log entry soon as possible.

[code]

[2015-02-25 18:35] lmartinez073 commented on #1622
Hi

Could some one post step by step to compile this, what to download and how to download it please

I am using this https://github.com/owncloud/administration/tree/build-1.7.1/build-clients

[2015-02-25 18:40] jturcotte commented on #2883
@esosan Thank you, that error: "The Windows Error Reporting Service service entered the stopped state" means that the crash happened somewhat 2 minutes before that event, when the Error Reporting Service was automatically started, possibly to look at the ownCloud failure.

If you can't see any event 1-2 minutes before this one (maybe in other panes of the event viewer) then it would be great if yo

[2015-02-25 20:39] lmartinez073 commented on #1480
Hi

I followed your link but I still get this error

CPack Error: Problem running NSIS command
CPack Error: Problem compressing the directory.

Any advice will be apreciated.

[2015-02-26 07:14] guettli opened #2891 "Moving directories during sync does not work"
1. I shared folder "mypictures" with my son.
2. Folder "mypictures" was visible in the desktop client Ubuntu 14.04 (I could not find a more detailed version number in the GUI)
3. My son moved the "mypictures" directory with nautilus to a subfolder. The sync between son and server was still active.
4. the "mypictures" directory appeared again in the desktop client of my son.

I think this should no

[2015-02-26 07:22] ckamm commented on #2882
Currently local errors are never put onto the blacklist, see SyncJournalErrorBlacklistRecord::update. Note that the blacklist is more of a temporary error suppression list - items will be retried at least once per day.

Could we detect that the filename is too long earlier and then ignore the file instead?

[2015-02-26 07:29] rullzer commented on #2889
I am working on the mandatory password and expiration date. However this requires changes in the server as well. But it is coming.

[2015-02-26 07:35] ckamm commented on #2881
@esquad18 I have attempted to reproduce it with a simple reverse proxy setup and it works for me. Maybe the problem is related to your nginx config, could you share it? Does it fail for all files?

@lmaestro I can reproduce your issue with the special characters folder -- but it's unrelated to using a reverse proxy. I'll make a different issue for that.

[2015-02-26 07:41] esosan commented on #2883
@jturcotte , I found another entry much more relevant to the problem (client v1.7.1).
Yesterday I installed version 1.8 and up to now I have not had crash...

[code]

[2015-02-26 08:09] ckamm opened #2892 "share dialog: can't create shares in directory with a & in name"
With the nautilus integration on linux, sharing a file (say "foo.txt") in the folder "a&b" fails.

This happens because the body of the 'create share' request ends up being

    path=/a&b/foo.txt&shareType=3

Found by @lmaestro in #2881

[2015-02-26 08:54] guruz commented on #2746
It is fixed in http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.2058-nightly20150226.pkg.tbz on 10.10

@LukasReschke Please test too.

[2015-02-26 08:54] #2746 closed

[2015-02-26 09:22] LukasReschke commented on #2746
Confirmed on 10.10 for Retina and Non-Retina. Thanks :rocket:

[2015-02-26 09:22] jturcotte commented on #2140
I was able to shrink QtWebKit by 20MB and remove its runtime dependency to those smaller extra Qt modules by re-running qmake in qt5/ right after configure with the following argument:

    "WEBKIT_CONFIG-=build_webkit2 video webgl svg inspector geolocation 3d_rendering device_orientation orientation_events use_qt_multimedia use_3d_graphics use_graphics_surface"

But it turns out that we'd need to

[2015-02-26 09:26] guruz commented on #2140
However regarding OBS:
[code]

[2015-02-26 09:28] jturcotte commented on #2140
"others" in that case would exclude QtQuick2's WebView and SVG support though.

[2015-02-26 10:35] dragotin commented on #2882
Hmm, where does the error message "File name too long" come from actually?

[2015-02-26 10:36] dragotin commented on #2882
@moscicki do you happen to have a logfile by chance?

[2015-02-26 11:19] stonerl opened #2893 "Corrupted Microsoft Office Files"
I have several user who are facing severe problems with owncloud. The setup looks like this:

Server owncloud 7.0.4 on ubuntu 14.04
Client 1 OSX 10.10 owncloud-client 1.7.1
Client 2 OSX 10.10 owncloud-client 1.7.1

The user creates a file and syncs this one with the oc-server for some reason then he starts the second client and syncs with owncloud. On the second client the user gets an error about

[2015-02-26 11:22] ckamm commented on #2865
While there is mention of "allprop" in PropfindJob::start() that is never used in practice as we always specify the desired properties explicitly. I'll remove that fallback and then this issue can be closed.

[2015-02-26 11:37] #2865 closed

[2015-02-26 12:03] ckamm commented on #2789
@Havenard @edd-- Could you run the client with --logfile log.txt and upload the log file? (ideally you only sync a single folder with a single problematic file for the test, to keep the log size small) That would pinpoint where the error occurs and help with tracking down the cause.

[2015-02-26 12:17] plages commented on #2850
@dragotin
Tested and it's much clearer this way. But i think the checkbox should be checked by default as long as user/group sharing is not available. Why should the user have to click when we know beforehand the checkbox will have to be checked?

[2015-02-26 12:20] ckamm commented on #2779
Sounds like a server bug. Sanitized server log messages:

[code]

[2015-02-26 13:04] dragotin commented on #2891
In the next sync run, this should reorganize. Did it?

[2015-02-26 13:19] guruz commented on #2893
CC @PVince81 @DeepDiver1975

[2015-02-26 13:23] ckamm opened #2894 "Local deletes are not propagated after 'Storage unavailable' is resolved"
I had a hunch that there may be issues with temporarily ignoring directories, like we do when the server replies 503 Storage not available and did some tests with the 1.8 branch.

Local and remote edits and new files worked fine. Local deletes failed to propagate, however. To reproduce:

* Upload test/foo.txt to the server, have it replicate to the client.
* Mark test/ as 503 Storage not available

[2015-02-26 13:48] dragotin commented on #2779
@PVince81 please

[2015-02-26 14:01] dragotin commented on #2277
This is fixed with commit f30ac492 . It only performs one SQL statement to delete all the journal entries, this is way faster.

[2015-02-26 14:01] #2277 closed

[2015-02-26 14:17] sybrenstuvel commented on #2532
@danimo I've re-tested with the official package (version 1.7.1), and can confirm that this issue still persists.

[2015-02-26 14:27] dragotin commented on #2881
Verified that folder names that contain "&" now works with the current 1.8 branch. @esquad18 pls check with  beta2 once it's out.

Closing this as a duplicate of #2892

[2015-02-26 14:27] #2881 closed

[2015-02-26 14:30] PVince81 commented on #2893
Does it only happen with office files ? How big are they ? (bigger or less big than 20 MB to rule out chunking)

Do you have encryption enabled ?
Are multiple users working concurrently on these same files ?

[2015-02-26 14:32] PVince81 commented on #2893
Corruption can happen if you're using an older version of mod_fastcgihandler, see: https://github.com/owncloud/core/issues/10984#issuecomment-67005997

More information about server setup would be helpful. Thanks.

[2015-02-26 14:42] PVince81 commented on #2779
Are you guys also setting 17 ? (READ + SHARE)

SHARE alone isn't enough, one needs to explicitly pass the "READ" permission, or else... here be dragons.

In general the API should either set READ automatically or throw 400 Bad request if it's missing. (CC @schiesbn)

[2015-02-26 14:45] kay-inge commented on #2532
Issue still present, V1.7.1, too. Like reported before, it depends of kwallet. If kwallet is started manually, the oc-Client just starts fine.

[2015-02-26 14:52] moscicki commented on #2882
Looks like that the long filename may not be saved on the local fs due to length(?).

I am sending you the log file privately.

kuba

--

On Feb 26, 2015, at 11:36 AM, Klaas Freitag <notifications@github.com> wrote:

[2015-02-26 14:59] haimiko opened #2895 "Windows 8 64bit client will not automatically reconnect"
Version: 1.7.1 build 4383

After my laptop comes out of standby, switch wifi APs or go from wireless to wired network the client will not automatically establish connection with the server.  Furthermore, manually selecting "Sign in" will not reconnect either.  I must exit the client and restart for it to reestablish connection.

[2015-02-26 15:01] danimo commented on #2895
Should be fixed in 1.8. Please test with a nightly build http://download.owncloud.com/desktop/daily/.

[2015-02-26 15:32] jturcotte commented on #2883
That looks much better thanks, unfortunately we don't have debug symbols for libstdc++-6.dll so I can't extract anything from those offsets.

Let me know first if you can reproduce the crash with 1.8 as well.
Then we can see if you could try to keep ownCloud running in MinGW's gdb to get a proper stack trace of the crash.

[2015-02-26 15:42] dragotin commented on #2233
Fixed by the commit above.

[2015-02-26 15:58] moscicki commented on #2882
If I understand correctly, this is an error from local open() -- but this specific one will never go away. There should be a way of telling a difference between local errors that are possibly temporary and permanent ones (like this).

[2015-02-26 16:09] manuel-uberti commented on #2833
@ckamm thank you, removing ```/usr/local/lib/libowncloudsync.so.0``` fixed it.

[2015-02-26 16:10] dragotin commented on #2882
The problem is that HFS+ only allows only a maximum file length of 255 chars, see http://en.wikipedia.org/wiki/HFS_Plus

[2015-02-26 16:11] dragotin commented on #2882
@moscicki I added a fix that makes the files ignored. You might want to test.

[2015-02-26 16:21] moscicki opened #2896 "1.7.1: sync icon stays blue after folder removed while syncing (client stuck in the sync state)"
While it was syncing I removed the folder from the settings window. The sync icon stays blue.

![image](https://cloud.githubusercontent.com/assets/621965/6395910/ac8cc84c-bddb-11e4-8336-dd62fbe06629.png)

Note: I installed previously 1.8-beta1 and noticed icons problems so that could be a side effect.

[2015-02-26 16:22] moscicki commented on #2882
Thanks. When is the next beta expected?

On Feb 26, 2015, at 5:11 PM, Klaas Freitag <notifications@github.com> wrote:

[2015-02-26 16:29] moscicki commented on #2896
... and actually I have to restart it because it is stuck in the sync state... adding a new folder does not make it move...

[2015-02-26 19:08] rtrevorclark opened #2897 "Option to turn off the overlay on synced folders in the finder OS X"
This is just a feature request.

I would like an option in the desktop app for ownCloud to turn off the finder integration( the syncing icons on files and folders as in the image)

Dropbox has an a preference option to disable these.

I think this would be a great addition to the desktop app.

thanks!

![sync 20icons](https://cloud.githubusercontent.com/assets/11217294/6399507/16e94994-bdb0-11e4-9

[2015-02-26 19:20] ubersolo opened #2898 "Right-Click menu in main owncloud folder disappears after a few moments"
On right-click while in the main owncloud folder (Windows 8.1) with client 1.8.0beta1 (build 4730) , the menu pops up and then instantly disappears. This happens with folders and files in the main owncloud folder only. I tried in subfolders and it works fine.

[2015-02-26 19:26] dragetd commented on #2691
I can confirm a similar behavoir. Local owncloud client (1.7.1 Gentoo Linux) unable to sync a folder (shared external folder form a different owncloud)

Local log keeps saying:
02-26 20:21:23:152 0x1be4670 !!! Mirall::CheckQuotaJob created for  QUrl( "https://cloud.speciesm.net" )  querying "/"
02-26 20:21:45:604 0x1be4670 void Mirall::FolderMan::slotEtagPollTimerTimeout() No folders need to check

[2015-02-26 19:28] guruz commented on #2691
Could you guys try the 1.8 beta?

[2015-02-26 20:15] mpeterson commented on #1981
I've tested and it seems to be resolved. Thanks

On Sun, Feb 22, 2015, at 20:45, Jelle Raaijmakers wrote:

--
Michel Peterson

Links:

  1. https://github.com/owncloud/client/issues/1981#issuecomment-75472442

[2015-02-26 20:21] guruz commented on #1981
Great! :)

[2015-02-26 20:21] #1981 closed

[2015-02-26 20:22] guruz commented on #2898
By main folder you mean sync folder in Explorer, right?

[2015-02-26 20:43] guettli commented on #2891
After the sync it is the same. I restarted the linux desktop client, and waited until the icon got green. But it is the same. There are now two folders:

  *  owncloud/mypictures
  *  owncloud/subfolder/mypictures.

The files are all there. Some are in the subfolder, the other files are in the OwnCloud directory.

[2015-02-26 20:47] ubersolo commented on #2898
Right
On Feb 26, 2015 3:22 PM, "Markus Goetz" <notifications@github.com> wrote:

[2015-02-26 22:12] haimiko commented on #2895
Did not fix the issue.

On Thu, Feb 26, 2015 at 8:01 AM, Daniel Molkentin <notifications@github.com>
wrote:

[2015-02-27 00:24] bastiaenssenst commented on #60
I experience a similar problems with long dir/dir/dir/dir/file paths

[2015-02-27 01:01] zephyrus00jp commented on #2870
On 2015/02/25 23:36, Klaas Freitag wrote:

I filed a bug report to NSIS installer's bug tracker.

TIA

[2015-02-27 02:44] AloisMahdal commented on #2327
Hmm, sorry, I don't remember seeing it from that time. I was always using the Debian client. Also I don't connect via eth+wlan anymore, so if it did matter, I'm not likely to come across this issue.

[2015-02-27 06:58] MegaV0lt opened #2899 "[Windows] [1.8nightly 4759] No connection after resume of PC"
usualy i only set my pc to power save mode. After resume on the next day the oc client does not connect:
![2015-02-27 07_50_09-log-ausgabe](https://cloud.githubusercontent.com/assets/2804301/6408510/3224a0f4-be56-11e4-84ea-2df6dea21c36.jpg)
When i exit oc client and start it again it is workinkg again

in 1.7.1 version that was working

[2015-02-27 07:27] rullzer commented on #2892
Nice catch!
Works over here.

[2015-02-27 08:24] ckamm commented on #2894
This happens because SyncJournalDB::postSyncCleanup() removes the test/foo.txt entry from the database after a sync where test/ was ignored due to 503.

[2015-02-27 08:30] ckamm commented on #2899
Thanks for the log! It shows that the client regularly runs a CheckServerJob which comes back with RemoteHostClosedError. It doesn't look like a client error... I'll try to reproduce it.

[2015-02-27 08:37] guruz commented on #2897
Any reason why you would want it off?

[2015-02-27 08:38] ckamm commented on #2896
Hm, maybe if aborting the sync takes long, we delete the Folder object before the slotFolderSyncFinished() slot can be triggered.

[2015-02-27 08:54] ckamm commented on #2899
Hm, I can't suspend or hibernate my Windows VM, someone else will need to try to reproduce this.

[2015-02-27 09:19] danimo commented on #2895
/cc @ckamm

[2015-02-27 09:32] MegaV0lt commented on #2899
Note: when i close the client (Exit) and start it again it works! So i think it might be a client bug. I also was checking the owncloud.log. No specific errors in there.

[2015-02-27 09:46] MegaV0lt commented on #2899
Maybe dicannect from network and reconnect after some time could simulate it in the vm?

[2015-02-27 09:54] ckamm commented on #2899
@MegaV0lt Disconnecting and reconnecting the network works fine.

[2015-02-27 10:03] ogoffart commented on #2891
you can find the version in the about section of the general tab.

Normally this is supposed to work fine, unless you are using a very old version of the client.

We would need to see the logs or be able to reproduce it.

[2015-02-27 10:11] Trapulo commented on #1309
same problem. Owncloud 8.0, client 1.7.1, server on IIS 8/2012

[2015-02-27 10:17] guettli commented on #2891
Could you please give me the link where I can find the guideline "how to provide logs of owncloud desktop client".

I will post them if I know how to get the logs.

[2015-02-27 10:22] ckamm commented on #2895
Similar to #2899. @haimiko could you provide client logs? Press F12 on the stuck client after the resume and wait for a minute or two to get at them.

[2015-02-27 10:36] dragotin commented on #2891
@guettli https://doc.owncloud.org/desktop/1.8/troubleshooting.html

[2015-02-27 10:56] danimo commented on #2899
@ckamm just for reference, you can restrospectively enable hibernate: http://www.giannistsakiris.com/2009/04/08/how-to-enable-hibernate-in-windows-xp/

[2015-02-27 11:07] guruz opened #2901 "libowncloudsync linking to Qt5Xml and Qt5Sql"
As far as I remember this is not needed
* For SQL we use ownSql
* For XML we're using the XML classes from QtCore(?)

CC @ogoffart

[2015-02-27 11:12] stonerl commented on #2893
So here are some more information:

1. Encryption is disabled
2. It affects Microsoft Office Documents (size independent though)
3. Only one User works on the document
4. The Users work directly in the owncloud folder

The Server:
- Ubuntu 14.04.1 with latest updates
- Apache 2.4.7
- libapache2-mod-fastcgi 2.4.7~0910052141-1.1

fastcgid-settings:
[code]

owncloud.conf in apache
[code]

config.php

[2015-02-27 11:17] MegaV0lt commented on #2899
went out for shopping. standby was about one hour. client working normal. maybe a "overnight" issue ore time/date related?

[2015-02-27 11:20] tmanthey opened #2902 "Improve memory usage during discovery"
After making some changes to local repository the client crashes repetitive while indexing.

Attached you see resource consumption chart.

![clipboard01](https://cloud.githubusercontent.com/assets/9221853/6411663/f42d2ecc-be7a-11e4-94a6-d2bc0192697e.jpg)

[2015-02-27 11:38] stonerl commented on #2893
OK, I figured how this happens. Here is what I did:

1. I closed the owncloud client.
2. I opened the pptx and saved it with a new name and also saved the original file under the same name.
3. I started the owncloud client again
4. Files both files got transferred to the server. And the md5sums match

So as I stated in my last comment, when office files get created or changed while the client is r

[2015-02-27 11:38] guruz commented on #2902
How many sync folders?
How big?
About how many files?
Did you try 1.8 beta1?
:)

[2015-02-27 11:47] ckamm commented on #2893
@stonerl Sounds like the client sends bad data to the server. Could you try to reproduce it with a current 1.8.0 snapshot (http://download.owncloud.com/desktop/daily/) or the 1.8.0 beta1 (https://owncloud.org/install/#testing)?

We made improvements to how we deal with files on Windows in 1.8.0 that might have solved the problem already.

[2015-02-27 12:37] dragotin commented on #1309
@Trapulo note that IIS is not supported. Better use linux for your server.

[2015-02-27 13:33] stonerl commented on #2893
I will test this as soon as I get my hands on the Computers. Did you do changes for file handling on Windows only? Because the machines here are running OS X.

[2015-02-27 13:36] tmanthey commented on #2902
60gb in 600k files in 500 folders

I tried beta 1.8 this seems work. But still I notice very high memory
consumption. 1.1GB in the moment.

Am 27.02.2015 um 12:39 schrieb Markus Goetz:

[2015-02-27 13:39] guruz commented on #2902
@ogoffart You mentioned you had valgrinded 1.8.x ?

[2015-02-27 13:40] tmanthey opened #2903 "Windows explorer integration is deleting other explorer plugin images"
After owncloud installation (1.7.1 and 1.8 beta1) other explorer plugins like Dropbox or TortoiseSVN do not show their explorer icons anymore.

[2015-02-27 13:45] tmanthey commented on #2902
valigrinded? I have the 1.8 beta now downloaded here
https://owncloud.org/install/ (at the bottom)

Am 27.02.2015 um 14:39 schrieb Markus Goetz:

[2015-02-27 13:50] dragotin commented on #2903
Yes, sorry, but read this:
http://superuser.com/questions/542116/why-are-icon-overlays-from-3rdparty-apps-not-showing-up-in-the-win8-explorer

[2015-02-27 13:50] #2903 closed

[2015-02-27 13:54] ckamm commented on #2893
@stonerl Ah, sorry, I didn't realize your clients were on OS X. Some of the changes apply to OS X too, so it's worth a try, but less likely to help.

[2015-02-27 14:06] Trapulo commented on #1309
Is not supported? It has installation procedure in online administrator's guide...

However, IIS is a full featured platform. Owncloud is based on PHP, and PHP is officially supported on IIS. So I think that is will a be a great result every effort to run it on IIS without problem, it may be not so hard. My 2 cents, of course...

[2015-02-27 14:18] danimo commented on #1309
Unfortunately, this deduction is wrong. PHP for IIS is terribly limited. For instance, it still does not support Unicode filenames. There is not much hope that the PHP project will approach this any time soon.

While you are right that there is still a description in the docs, support for it was only "best effort". Consequently we're hence going to deprecated Windows in the forthcoming versions.

[2015-02-27 14:27] rtrevorclark commented on #2897
It is just seems repetitive to have the sync icon on every file and folder that you sync. You already have the menu bar icon that indicates if everything is synced or not. I think it just gives a more minimal noninvasive feel.

[2015-02-27 14:53] haimiko commented on #2895
The log just keeps repeating the following until I restart the app.

*02-27 07:46:19:190 0x5a1a4a8 OCC::FolderMan::slotEtagPollTimerTimeout:
void OCC::FolderMan::slotEtagPollTimerTimeout() No folders need to check
for the remote ETag02-27 07:46:23:246 0x5a1a4a8
OCC::AbstractNetworkJob::slotFinished: void
OCC::AbstractNetworkJob::slotFinished() 99 "Connection timed out"02-27
07:46:23:247 0x5a1a4a8

[2015-02-27 15:05] ckamm commented on #2902
I looked at discovery-phase memory use a bit. With 20k files, none of them on the server, when propagation starts we use about:

* 7.0 MB for propagation jobs
* 5.4 MB for the vector of SyncFileItems
* 6.1 MB for the map of filenames to SyncFileItems
* 5.0 MB for the csync trees
* 1.6 MB for filename QStrings

If this scales linearly with the number of files, that's about 750 MB for 600k files. Th

[2015-02-27 15:16] guruz opened #2904 "[OS X] Selfcompiled links to old system OpenSSL instead of the one provided via cmake parameters"
[code]

Even though I did

[code]

The one from the build system links to the correct (=bundled) one.

[2015-02-27 15:18] #2901 closed

[2015-02-27 15:24] dragotin commented on #2902
I did another vagrind session with chunking with no loss.

@ckamm good analysis, however, that is clearly for 1.8.1

[2015-02-27 15:29] dragotin commented on #2897
I see the point

[2015-02-27 16:30] tmanthey commented on #2902
Here is what I see right now in 1.8 while ownCloud client is syncing.

Solid 1.2 GB mem usage. Similar things I saw on 1.7.

![clipboard02](https://cloud.githubusercontent.com/assets/9221853/6416395/214b6808-bea6-11e4-8211-cde9433de52e.jpg)

[2015-02-27 17:56] ckamm commented on #2902
@dragotin Adding that _syncItemMap.clear(); should be entirely safe and already give about half of the benefit.

[2015-02-27 20:13] carlaschroder commented on #2814
Hi @Morganlej, if you follow the link in that section to https://doc.owncloud.org/desktop/1.7/visualtour.html#ignoredfileseditor-label, it explains that some of the defaults do not have their checkboxes enabled, but you must edit their source configuration files to change them. It is discouraged to edit these because it could lead to problems.

I'm afraid I can't answer your other questions, so I

[2015-02-28 00:51] leipert commented on #2215
Corresponding qt bug report here:
https://bugreports.qt.io/browse/QTBUG-42109

[2015-02-28 13:59] MegaV0lt commented on #2899
Ok, today after aprox. 3 hours standby:
http://i.imgur.com/eG2nPsZ.png
The errormessage is differnet, but i think the same reason. The connection is to local server "sheevaplug"... Again, after restart of client ok. Nothing in owncloud.log

[2015-02-28 20:34] huegelc opened #2905 "local cifs mount cant be sync'd"
Hi,

Using latest OC Client 1.7.1 on Linux Mint 16
OC-Server 8.0 stable

I have a CIFS share with full permissions mounted. When setting up a sync oc-client complains that it has no RW access to that folder. Please check the logs below

[code]

[2015-02-28 21:05] dragotin commented on #2905
It seems that file locking is not working the way sqlite needs it.

[2015-02-28 21:07] dragotin commented on #2905
See https://toolkit.shotgunsoftware.com/entries/37687077-Getting-database-is-locked-on-NFS-and-CIFS-setup and try to experiment with the solution there. Pls. let us know the result, thanks.

[2015-02-28 21:27] huegelc commented on #2905
@dragotin Yes, thank you very much. That did the trick

[2015-02-28 21:27] #2905 closed

[2015-02-28 21:28] dragotin commented on #2905
What exactly did the trick?

[2015-02-28 21:29] huegelc commented on #2905
[code]

[2015-02-28 23:09] mohamed--abdel-maksoud commented on #1715
Hi,
I just wanted to share what worked on OpenSUSE 13.1, basically it is the packages @danimo described with a couple of changes:
[code]
I hope this helps.

[2015-03-01 11:16] tflidd commented on #2325
There was a slightly different case on the forum: https://forum.owncloud.org/viewtopic.php?t=26498&p=79941

Is it possible to make the client more "intelligent"? In this case an external drive was unmounted (unknown reason), owncloud detects an empty folder, the client "thinks" files were deleted and deletes all files on the client. In this case it would be great if the client asked if it should a

[2015-03-01 12:04] jekader commented on #750
It's actually quite trivial to make Apache HTTPD authenticate users using NTLM information (IE and Chrome on windows can pass NTLM auth to web pages in the same domain). I can document the process if you'd like so that we can see how this can be done on the desktop client. Pretty sure it can use the same Windows APIs that IE/Chrome use to achieve this.

I've successfully used this method to authen

[2015-03-01 12:12] danimo commented on #750
@jekader yes, but authentication for the webdav route (remote.php/webdav) is performed by ownCloud. You would need to create an AD backend that leaves the authentication to the web server.

[2015-03-01 14:21] bremenpl commented on #2857
Hello,
I am uwing Windows 7 x64 with the owncloud client version 1.7.1 (build 4382). In my situation, when owncloud is checked to start at windows startup, there is no tray icon when windows boots. I can see the process running in the background though. I then have to kill the process and turn owncloud client on again.

[2015-03-01 16:00] nekoal commented on #2792
Unfortunately, I can't try latest nightly builds (4788,4789,4791) on Windows XP 'cause it fails to run client after installation. I still use build 4715 on Win XP computer. I'll create 2 new tickets about it.
Tests on Win7 client (1.8.0.4791-nightly20150301):
shortcut to object "My Computer" = sync ok, delete it from other side = sync ok (really deleted)
shortcut to object "Network" = sync ok
shor

[2015-03-01 16:29] jonycgn commented on #2002
I came here looking for a headless sync daemon as well.

Just one comment: I agree with @danimo that the cleanest solution would be to separate the GUI from the daemon and implement IPC to make them work together. That way the daemon can run in the background, but still be controlled by the user whenever they log in.

But it seems most people are looking for a plain daemon process because their ma

[2015-03-01 16:32] guruz opened #2906 "Unnecessary quota property requests on new Discovery PROPFIND code"
Depending on the storage backend this is potentially bad (ping me on IRC for details)

[2015-03-01 16:35] guruz commented on #2002
@jonycgn https://doc.owncloud.org/desktop/1.7/advancedusage.html#owncloud-commandline-client

[2015-03-01 16:40] jonycgn commented on #2002
@guruz: Yes, I know about the commandline client. It does a single sync run, and then exits. This is not the same as a daemon, which is what I and other people were looking for. Or are you trying to tell me something else that I'm missing?

[2015-03-01 20:51] jekader commented on #750
@danimo Thank you for sharing the details. Indeed, this means the back-end must be adjusted first before any work can be done with the desktop client.

[2015-03-01 23:37] nekoal opened #2907 "Windows XP: function missed in msvcrt.dll"
Newest nightly builds can't run on Windows XP. They show error 'function _snwprintf_s missed in msvcrt.dll'
![oc_snwprintf](https://cloud.githubusercontent.com/assets/10899904/6433463/c393e44a-c0aa-11e4-8539-d916d2acab25.PNG)
Tested builds and results:
1.8.0.4764-nightly20150226 ok (45.6 MiB)
1.8.0.4776-nightly20150227 error (46.1 MiB) (builds at 01:32 am has larger size, is it designed?)
1.8.0.47

[2015-03-02 08:02] bremenpl opened #2908 "Android client crashed when scrolling"
Hello there,
I am using the Android Owncloud client in lastest available on the google play version (1.7.0). I am using Samsung s3 with Cyanogen 11. I have a folder it owncloud where I have over 700 pictures. When I enter that folder in the android client and start to scroll through the pictures fast, the app crashes.

[2015-03-02 08:03] danimo commented on #2908
Hi! This is the bug tracker forr the desktop client, please reopen at https://github.com/owncloud/android.

[2015-03-02 08:03] #2908 closed

[2015-03-02 08:06] bremenpl commented on #2908
My bad, sorry.

[2015-03-02 08:54] lmaestro commented on #2892
It is fixed in the lates version. It will be included in 1.8.0beta2

[2015-03-02 08:54] #2892 closed

[2015-03-02 09:10] guruz opened #2909 "[1.8.x] [OS X] Regression: Not showing anymore which remote folder is discovered at the moment"
Neither in tray nor in settings dialog.

Settings dialog tooltop just says "Preparing to sync".

In the log I can see that the discovery is happening.

[2015-03-02 09:15] guruz commented on #2902
Another spot to free memory: ```DiscoveryJob::remote_vio_closedir_hook``` is done with a directory, the csync discovery phase will not go in that dir again.

[2015-03-02 09:21] guruz opened #2910 "Cannot sync down a certain server."
Neither me nor @lmaestro can sync a 600 MB sync folder with a lot of files or directories.

[code]

This brings down the whole sync (other jobs will get 'operation canceled').
This might be a ```RemoteHostClosedError``` which gets classified as ```FatalError```

Ask on IRC for server & credentials.

[2015-03-02 09:39] ogoffart commented on #2910
What's wrong?  This is likely due to a connection problem, and connection problems are FatalError, no?

[2015-03-02 09:53] cdamken commented on #2184
@MorrisJobke @danimo Any news?

[2015-03-02 10:01] LukasReschke opened #2911 "Do authentication using another valid WebDAV call instead of GET"
As per https://github.com/owncloud/core/pull/14151 we removed the SabreDAV browser plugin for ownCloud 8.1 and replaced it with a dummy page showing a white page as the client is authenticating using `GET`.

As this is a work-around it would be good if the client would at some point of time switch to a  `PROPFIND` or some other valid WebDAV call for initial authentication.

@danimo @dragotin

[2015-03-02 10:01] #2906 closed

[2015-03-02 10:08] cdamken commented on #2374
### Great!

Tested with ownCloud-1.8.0.4796-nightly20150302-setup.exe

[2015-03-02 10:21] lmaestro commented on #2768
@jnfrmarks  Can you verify it?

[2015-03-02 10:24] cdamken commented on #2554
@danimo

any news?

[2015-03-02 10:31] dragotin commented on #2184
@cdamken what kind of news do you expect? As far as I understand this conversation, the solution is already there: In theming, the default local folder can be set, also to APPLOCALDATA.

To your last comment if the path could be assigned during installation, no, that is currently not possible. If that is a real need, please open a new issue to discuss/plan that there.

[2015-03-02 10:31] dragotin commented on #2184
I suggest to close this one btw.

[2015-03-02 11:58] guruz commented on #2910
Closing for now, @lmaestro cannot reproduce it with 7.0.5..

[2015-03-02 13:37] dschmidt commented on #2140
:+1:  for additional minimal package.

Certainly beneficial to others, e.g. Tomahawk. :-)

[2015-03-02 14:24] lmaestro commented on #2910
I am able to reproduce using oc 6

Logs
[code]

[2015-03-02 14:48] guruz commented on #2910
We don't know how to proceed here.
@danimo has checked the log of the server, but we don't know what exactly could have caused it.

[2015-03-02 16:14] dragotin commented on #2910
@DeepDiver1975 please help to investigate this, this is important to find out if that is a client or a server problem before we can release. Thanks.

[2015-03-02 16:18] DeepDiver1975 commented on #2910
@dragotin litmus against the server sucessful? url contains spooky chars - utf-8 support should be enabled on that server

[2015-03-03 08:12] lmaestro commented on #2884
Tested case 1 in version 1.8.0-nightly20150302 (build 2068). It is fixed.

[2015-03-03 08:12] #2884 closed

[2015-03-03 08:14] lmaestro commented on #2413
Fixed in version 1.8-nightly 20150302 (build 4798). It will be included in version 1.8 beta2

[2015-03-03 08:14] #2413 closed

[2015-03-03 09:23] michaelstingl commented on #2695
@lmaestro @danimo no response from user yet, I closed the case for now.

[2015-03-03 09:40] danimo commented on #2904
The correct way is to use `PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig`.

[2015-03-03 09:59] lmaestro opened #2912 "An error is shown when you sync a large local folder"
### Actual behaviour
An error is shown in the UI
![screen shot 2015-03-03 at 10 51 52 am](https://cloud.githubusercontent.com/assets/4689430/6460021/0db0f6b4-c194-11e4-96de-59cda822983d.png)

### Steps to reproduce
1. Launch the app
2. Select to sync a large local folder

### Server configuration
{"installed":true,"maintenance":false,"version":"8.0.1.0","versionstring":"8.0.1","edition":"Enterpris

[2015-03-03 10:18] danimo commented on #2907
We've identified the issue:

1. by accident, all plugins were build with the new crash reporter module
2. only some builds were stripped of debugging symbols (hence the difference in size)

The crash reporter module has a dependency on symbols that do not exist in Windows XP.
We will soon import a new version that works without those symbols. In the meanwhile,
I have ensured that the crash reporte

[2015-03-03 10:23] jospoortvliet commented on #2325
@tflidd I guess the client doesn't even know the files are on external storage ... so it just sees a folder has disappeared and will synchronize that change. To make it warn, the client would have to learn what is external storage from the server, or the server needs a generic way of telling the client "hey, these files are at the moment not here, but they might come back so keep em around a bit l

[2015-03-03 11:33] gvdijnsen commented on #2902
FYI I am administering the server side of this setup so if you need any info from that side, please let me know...

[2015-03-03 11:34] guruz commented on #2912
Do you have the lines before?

Is it possible to access ```docker/test/test``` in the web browser?

[2015-03-03 11:37] guruz commented on #2902
@gvdijnsen @tmanthey You could try a nightly build of 1.8 which has the two above commits. (Note that this didn't go through full QA)
http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4801-nightly20150303-setup.exe

[2015-03-03 11:39] cdamken commented on #2613
@MTRichards SFCD: 00002549

[2015-03-03 12:13] Xsysstar opened #2913 "Bad Gateway or timeouts possibly related by mirall-activity (see core#14187)"
Dear sirs/madams,

Would you kindly help investigate https://github.com/owncloud/core/issues/14187#issuecomment-76013986? User @StormCh indicates a possible relation between mirall and server errors that started occurring since upgrading the ownCloud server to version 8. I can confirm that the client has some odd behaviors at the very least.

It would also be helpful if you could bring some core-d

[2015-03-03 12:44] tmanthey commented on #2902
Tried the nightly build. Better but memory consumption is still showing dangerous chainsaw pattern with peaking around 1GB. What I notice during discovery is the client fully consumes 1 core. (here 8 core machine => 1 core is 12.5% CPU) . On 2 or 4 core machines this creates significant CPU load. This also indicates single thread implementation.
Other thing are some extreme IO Peaks. Must be sever

[2015-03-03 12:48] luciamaestro opened #2914 "An error when I try to edit a txt from the client with the encryption is enable"
### Actual behaviour
An error when I try to edit a txt from the client
![screen shot 2015-03-03 at 1 44 12 pm](https://cloud.githubusercontent.com/assets/4689430/6462697/8cee5bc6-c1ab-11e4-939e-bb3ef61f0446.png)

Note: The encryption is enable

### Steps to reproduce
1. Launch the app
2. Select to sync a local folder
3. Create a txt
4. Edit the txt from the client

### Server configuration
{"insta

[2015-03-03 12:53] guruz commented on #2902
So the small spike is the 1 GB?

@ckamm @ogoffart The small spike could probably be avoided by having https://github.com/owncloud/client/blob/fe574dbbf98b1f70911cb37812de13d43ae838fa/src/libsync/syncengine.cpp#L715 be iteratively filling the vector (and removing its own content). That probably means higher CPU / longer duration (blocking of main loop?) though.

[2015-03-03 12:55] lmaestro commented on #2914
The same problem when I try to upload a file .doc/.odt

[2015-03-03 13:02] ogoffart commented on #2914
The error is:

[code]

Did you change your password?

[2015-03-03 13:03] lmaestro commented on #2914
No, I didn't change it.

[2015-03-03 13:04] lmaestro commented on #2914
The same error that in this case https://github.com/owncloud/client/issues/2763

[2015-03-03 13:04] ogoffart commented on #2914
Maybe the server logs show what the problem is.

[2015-03-03 13:05] ogoffart commented on #2914
Yes, it's the same error as in #2763

[2015-03-03 13:08] lmaestro commented on #2914
But different steps an it is happening with the new server version.

[2015-03-03 13:10] ogoffart commented on #2913
What are the call that are too frequent?  Do ou have an apache logs showing the call from the client?

[2015-03-03 13:10] guruz commented on #2914
CC @schiesbn

[2015-03-03 13:18] lmaestro commented on #2912
Added more logs https://gist.github.com/lmaestro/9ae8730f278d96f3d1a2

[2015-03-03 13:21] guruz commented on #2912
Thanks..

[code]

What about the webinterface?

[2015-03-03 13:24] ogoffart commented on #1291
Owncloud 8 has a OC-Etag header that should solve this problem.

In any cases, i'm closing this old issue because it has too many comments and this is not practical to track.

If you still have problem with a recent owncloud, please open a new issue (following the issue template)

[2015-03-03 13:24] #1291 closed

[2015-03-03 13:25] ogoffart commented on #1967
Please re-open if the issue is still happenning with 1.7.1  (but i remember having fix some issues regarding ranges)

[2015-03-03 13:25] #1967 closed

[2015-03-03 13:26] lmaestro commented on #2912
I can access to it using webinterface

[2015-03-03 13:29] tmanthey commented on #2902
"So the small spike is the 1 GB?"

Pretty much yes

[2015-03-03 13:32] guruz commented on #2912
@PVince81 help :-)

[2015-03-03 13:33] guruz commented on #2831
@fossxplorer Did the new Android version fix the issue?

[2015-03-03 13:33] ogoffart commented on #2824
Closing this as a duplicate of owncloud/core#4511

[2015-03-03 13:35] ogoffart commented on #2779
Same error as in https://github.com/owncloud/client/issues/2234

[2015-03-03 13:36] PVince81 commented on #2912
What about the owncloud.log ?

If it's a large folder maybe you ran into a PHP timeout

[2015-03-03 13:42] PVince81 commented on #2779
Are you guys passing 16 (SHARE alone) or 17 (READ + SHARE) ?
Please confirm.

[2015-03-03 13:46] PVince81 commented on #2779
If it's about passing 16 (SHARE alone) it was fixed on master: https://github.com/owncloud/core/pull/14570

[2015-03-03 13:46] Xsysstar commented on #2913
I do not know if there are calls being made too frequent. But nginx (not apache) shows this:
[code]
Notice that codes 207 suddenly change into 504 (Gateway time-out) and then into 499 (nginx-specific, but it should [apparently be interpreted as 504](http://stackoverflow.com/questions/12973304/nginx-an-d-499-error-codes)). My webbrowser (Firefox) reports 504 too.

Mirall reports "De verstrekte inlo

[2015-03-03 14:09] guruz commented on #2912
@PVince81 no timeout, the timestamps are close together. Also I don't think that would produce a "Not found"

@lmaestro Can you access that directory using Cyberduck?

[2015-03-03 14:09] ogoffart commented on #2899
From the logs, as ckamm already said:  the client is querying to status.php to know if the server is there.  But we get an error  ( NetworkError::RemoteHostClosedError )

That's strange. Why would the server closes new connections after we resume from sleep?  And why would it work again when one restart the client.

[2015-03-03 14:18] ogoffart commented on #2913
The wronly reported error about crendentials invalid have been fixed.

I see that you have many server configured (at least 12)
The client polls the 12 folders every 30 seconds  (that's the 12 calls at 14:32) + one call for the quota.

then one see that it takes several minutes between the last call at 14:32:09  and the next one.  That's not normal, there should be many call every 30 seconds.
Perh

[2015-03-03 14:25] ogoffart commented on #2911
What call are we talking about here?  I can't find it.
Is it in the wizard perhaps?

[2015-03-03 14:28] jturcotte commented on #2140
The OSX nightly builds should now have the diminished dependencies (the installer is 22.8MB instead of 29MB).

For Windows we can maybe have a look during the next release, it's not as trivial for the reasons mentioned above.

[2015-03-03 14:30] MegaV0lt commented on #2899
the owncloud.log on teh server does not show any access at the time... maybe the request did not even leave the clientpc? Othe rnetworking apps still work normal at the same time (eg. dropbox, ff, tb, webradio). Must be something with the client in my poor opinion

[2015-03-03 14:30] ogoffart commented on #2911
Ah, i think i found it in the wizard

[2015-03-03 14:40] Xsysstar commented on #2913
The server never recovers from the situation until I `service php5-fpm restart`. Sometimes php-fpm processes actually seem to have crashed.

The 64-bit Ubuntu server on which ownCloud runs has an Core i5-2300 CPU @ 2.80Ghz (4 physical cores) and 8GB of RAM. When ownCloud works, the web interface is quite speedy. I do not think hardware is a problem.

Following your suggestion that queued requests

[2015-03-03 15:01] dragotin commented on #2909
Fixed by above commit.

[2015-03-03 16:00] dragotin commented on #2913
@karlitschek @DeepDiver1975 pls. note this

[2015-03-03 16:06] dragotin commented on #2911
Why did we use GET rather than PROPFIND in the first place? We need to keep an eye on backwards compatibility, maybe there have been server which simply could not answer to PROPFIND on / ?

[2015-03-03 16:20] Xsysstar commented on #2913
From the owncloud-log:
[code]
Meanwhile in `nginx/access.log`:
[code]
And, in `nginx/error.log`, a series of entries like:
[code]

[2015-03-03 16:23] stonerl commented on #2893
@ckamm
I installed 1.8.0 beta1 and the problems are resolved. When saving the Office Document the correct file gets transferred.

Just one question. Is there a way to run a validationscan? Because we really don't know which files are affected. So we would have to check every single file.

[2015-03-03 16:51] ogoffart commented on #2911
No reason i think.  I can trace back the get request to  c848ff4bdbdea60ecc540f744fbf455a9d6a30ac ,  so maybe you know a reason.

But we already do a PROPFIND on / in the ConnectionValidator anyway.

[2015-03-03 18:01] monreal commented on #1540
I am still trying to figure out how to fix this on a Fedora 21 system. I added my my cert in "BEGIN TRUSTED" format to /etc/pki/ca-trust/source/ and ran "update-ca-trust" just like /etc/pki/ca-trust/source/README says and other apps seem to pick up the cert just fine. Using strace I found that owncloud actually reads the resulting bundle file (/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem) but

[2015-03-03 21:19] strugee opened #2916 "Allow the client to be deterministically built"
It would be nice if Mirall could be deterministically built. That means that if you use the same operating system, the same source code, and the same build toolchain as what the official binary uses, the binary that results from _your_ compilation will be bit-for-bit identical to the official distribution.

This is useful for things like security accountability. Being open source isn't enough if a

[2015-03-03 22:57] fossxplorer commented on #2831
@guruz Unfortunately it didn't.

[2015-03-04 04:15] qnxor commented on #2479
Another report. I also just instaled 1.7.1.1655 on Yosemite 10.10.2 on a MBP Late 2013. The CPU I have is i7-4850HQ. In activity monitor I can see the owncloud process spike to 25% (so 100% of one core) every 1 minute or so when it's idle. It also goes to 8-15% more frequently (every 15-20 seconds) and stays there for 2-3 seconds.

I have only 3 folders and 4 files (fresh ownCloud installation) wi

[2015-03-04 07:18] fossxplorer commented on #2831
After a reboot of my desktop at work the sync works as it should. Closing the case.

[2015-03-04 07:18] #2831 closed

[2015-03-04 07:21] MegaV0lt commented on #2899
Also no TCP-Connection to see in Process Explorer:
http://i.imgur.com/6a8sFKO.png

[2015-03-04 07:38] ogoffart commented on #2899
And if you wait for 10 minutes? does it still not work?

[2015-03-04 07:44] MegaV0lt commented on #2899
I try next time

[2015-03-04 09:00] jalcine commented on #2916
Realistically, ownCloud's designed afaik to have the server be the authorative source of all files. LAN Sync breaks this since there's no querying of the server about the status of the files updated. Now, if it was possible to ask the server what files have been changed from the last provided timestamp and use that to determine between local clients what to sync, that'd be dope. But again, authori

[2015-03-04 09:00] jalcine commented on #230
Realistically, ownCloud's designed afaik to have the server be the authorative source of all files. LAN Sync breaks this since there's no querying of the server about the status of the files updated. Now, if it was possible to ask the server what files have been changed from the last provided timestamp and use that to determine between local clients what to sync, that'd be dope. But again, authori

[2015-03-04 09:26] dragotin commented on #2912
I tested with the broken test server, found dirs with funny chars not syncing, and tried these dirs here locally, where they synced nicely.

Closing this as I think its a server setup problem.

[2015-03-04 09:26] #2912 closed

[2015-03-04 09:29] dragotin commented on #2879
So what happens is that the server can not validate the password against the LDAP and thus it returns 401 to the client? Why doesn't it use the session header? @blizzz

[2015-03-04 09:32] guruz commented on #2912
@dragotin "/webdav/docker/test/test" that doesn't look too funny though..

@lmaestro Can you forward this info by @dragotin to your admins?

[2015-03-04 10:52] blizzz commented on #2879
@dragotin most likely, with LDAP being offline user existence cannot be verified.

[2015-03-04 11:02] lmaestro opened #2917 "[OS X] Can't share by link using password"
### Actual behaviour
Error 400
![screen shot 2015-03-04 at 11 16 48 am](https://cloud.githubusercontent.com/assets/4689430/6481723/3473239a-c260-11e4-8cfa-ad231b03babb.png)

### Steps to reproduce
1. Launch the app
2. Select to sync a local folder
3.Click on Share by link
3. Click on Set password -> introduce the password

### Server configuration

{"installed":true,"maintenance":false,"version":"

[2015-03-04 11:25] guruz commented on #2479
@qnxor We're about to release 1.8 beta2 today or tomorrow. Would be nice to see your results with that. (if there is nothing to sync a CPU spike should only happen at startup and then every 2h with 1.8)

[2015-03-04 11:31] Xsysstar commented on #2913
My attempt (shown below) failed; the problem persists and occurs repeatedly throughout the day.

I am wondering if ownCloud 8 (compared to 7) may simply cache more to memory than APC is permitted to use. It would explain the ungraceful failing of php5-fpm (OutOfMemory is difficult to deal with) and may explain the slow calls to `apc_store` (waiting for memory to free up). I reckon that any fpm-pro

[2015-03-04 11:57] lmaestro commented on #2917
The same problem without encryption
CC/ @dragotin

[2015-03-04 11:57] DeepDiver1975 commented on #2879
@Bran-Ko which server version are you using?

@LukasReschke afaik for oc8 we did change the cookie/basic auth validation. Background the client is always sending basic auth headers and cookies - this might lead to the effect that the session is not reused????

[2015-03-04 11:58] DeepDiver1975 commented on #2879
just another reason why we should move away from the cookie and basic auth kung-fu - long live OAuthy-Fu

[2015-03-04 12:08] hefee commented on #2916
debian has started already the aim to have deterministic builds. You can see the prograss for owncloud-client:

https://reproducible.debian.net/rb-pkg/sid/amd64/owncloud-client.html

[2015-03-04 12:11] qnxor commented on #2479
@guruz That sounds great, many thanks for replying. I was going to compile it for MacOSX but you just saved me some precious time.

#2783 mentions 1.8.0 beta2 as "released" but the downloads page links to beta1. Is that an error or the binary is not actually ready?

[2015-03-04 12:42] LukasReschke commented on #2879
I did some tests locally, though not connected to a LDAP server. If both, a valid cookie, as well as a basic auth header is provided the server will prefer the cookie and not request a reauthentication.

My best guess here is that `\OC_User::isLoggedIn` is calling `\OC_User::userExists` which then returns false since we can't lookup the user as we don't store them in the database :see_no_evil:

[2015-03-04 12:43] LukasReschke commented on #2879
Code path:

https://github.com/owncloud/core/blob/299bcf749a63efa6516afeb3e826f087a31187e9/lib/private/connector/sabre/auth.php#L54-54
https://github.com/owncloud/core/blob/299bcf749a63efa6516afeb3e826f087a31187e9/lib/private/user.php#L349-349

[2015-03-04 13:01] lmaestro commented on #2912
I have the same problem without encryption

[2015-03-04 13:22] blizzz commented on #2879
No, that's not the problem, we have them in  the mappings table. The thing is, that we would have it there, even if the user was removed or disabled in LDAP.

[2015-03-04 13:42] mcnesium commented on #2479
@qnxor the beta2 binary can be downloaded [here](https://download.owncloud.com/desktop/daily/ownCloud-1.8.0.2077beta2.pkg)

[2015-03-04 14:00] blaskovic commented on #1291
So.. This will NOT be fixed for owncloud 7?

[2015-03-04 14:04] danimo commented on #1291
@blaskovic correct.

[2015-03-04 14:06] ottok commented on #1291
@ogoffart If you consider this fixed, you can collect 150 USD from the bounty at https://www.bountysource.com/issues/1383937-no-e-tag-received-from-server-check-proxy-gateway

[2015-03-04 14:24] ogoffart commented on #1291
Someone just told me that the issue is actually not fixed in owncloud 8 because the fix of the server was reverted ->  https://github.com/owncloud/core/issues/9005
Maybe this is going to be in owncloud 8.1

Anyway, the client part is done as we read the oc-etag  header.
There is not much more we can do. So just make sure you don't have a proxy that remove the headers Or just track the server issue

[2015-03-04 15:21] #2790 closed

[2015-03-04 15:24] guruz commented on #2916
Good idea.
How is OBS' support for that?

[2015-03-04 15:25] moscicki commented on #1291
@ogoffart: is the intention to replace standard Etag by OC-Etag in the future completely?

[2015-03-04 15:43] dragotin commented on #2487
@jturcotte can you help here?

[2015-03-04 15:51] dragotin opened #2918 "Crashreporter for MacOSX"
We added the crash reporter infrastructure to the client with 1.8.0, as described in #2109 However, in 1.8.0 it only works for Win32 platform.

Enhance that to also support MacOSX.

[2015-03-04 15:51] dragotin commented on #2109
Status here is that we ship the crashreporter only for Windows platfrom on 1.8.0. The infrastructural changes for Mac (and maybe linux) have to be pushed to 1.8.1: #2918

Setting this one to Ready-For-Test - @jturcotte could you help testing this? Thx.

[2015-03-04 16:16] Turbocube644 opened #2919 "Client trying to sync deleted File"
The Client (1.8.0 beta1) tries to sync a file, which has been deleted. It shows the following error: "Error downloading [filename] - Server replied: Not found". The file neither exists on the server nor the local computer. This happens for multiple files, that have been deleted.
For some classes, I often get a Timeout.
The server ist still 7.0.4 (because the update routine thinks it is the newest

[2015-03-04 16:28] MegaV0lt commented on #2899
As expected: Nothing after 15 minutes...
https://dl.dropboxusercontent.com/u/1490505/OCNBC.log

Sharing is also not working, because of teh no connection problem, so it is a dropbox-link

[2015-03-04 17:39] tmanthey commented on #2902
Just checked. During download memory consumption is still a solid 1.2 GB with the nightly build. Also it is crashing sooner or later. Currently it is not possible to sync.

[2015-03-04 17:55] VincentvgNn commented on #2487
I might be good to have a look at the free Barracuda Copy.
There installing and uninstalling the overlay icons works perfect and the setup structure seems to be quite similar to OC.

[2015-03-04 19:04] jnfrmarks commented on #2768
This seems intermittent - sometimes I see it and other times I don't.  My script that isolates the behavior isn't showing it soooo, for now, I'll close this and then reopen if  I can get a better reproducer.

[2015-03-04 20:20] dragotin commented on #2902
It is critical to understand whats happening here, and of mainly to get behind the crash @tmanthey mentions.

I still do not understand the second diagram. There are two full sync runs with the high memory usage. But after that, especially the CPU shows very little activity, and also the memory seems to stay constant, even on a quite high level, but well, we learned that windows also has a bit of

[2015-03-04 20:25] MTRichards commented on #2517
https://github.com/owncloud/enterprise/issues/558

[2015-03-04 20:29] MTRichards opened #2921 "Setting Client Policy from the server"
Up to this point, we have had a lot of configuration switches that are set in the client when the client is packaged. We should be able to instead set policy from the server on what can happen, on things like:
    bandwidth
    add new sync folders at all
    sync new folders by default
    sync specific folders
    selective sync folders
    multiaccount
    ...

Update: Adding Sync threshold lim

[2015-03-04 21:43] jnfrmarks commented on #2768
ok - I finally have this figured out.

This is what I'm doing:

1: user 1 creates a directory and some files in the directory.
2: user 1 shares the directory with user 2
3: user 2 share a file in the directory with user 3
4: user 3 syncs, the directory and the file are created locally
5: user 2 shares the directory with user 3
6: user 3 syncs, the directory is created a second time locally

So, wh

[2015-03-04 23:37] MTRichards commented on #2848
Is this really 1.8.1 bug fix planned @dragotin ? Or is that just a placeholder?

[2015-03-05 02:16] qnxor commented on #2479
@mcnesium I installed 1.8 beta2 and little changed in my case. I still see cpu spikes and high usages more frequenctly than expected. CPU time was 02m04s for owncloud,  compared to 00m19s for dropbox ... both idle, started at the same time, after 2h. Dropbox handles over 20,000 files, while owncloud only 4 files.

I'll run the `ps` test and terminal logging and post again.

[2015-03-05 04:54] qnxor commented on #2479
Could it be an issue related to my apache config (etag, gzip compression, etc)? Any particular things you'd recommand I try to enable/disable on the server to debug this?

[2015-03-05 07:18] guruz commented on #2479
```* Compare etag with previous etag: last: ""54f7dca18ee8f"" , received: ""54f7dcdd84d36""```
This means on the server side something changed, that's why another sync is scheduled.
Which server version do you use?
Is there anything special about the sync folder you have configured (shared folder, external storage, ...) ?

[2015-03-05 07:24] guruz commented on #2479
@qnxor Can you look at the complete log output and say which folder is always re-scheduled and synced? Is it all three folders or only that one?

[2015-03-05 08:13] tmanthey commented on #2902
You can also provide me a version that writes a log file. I'll send you the log then. Based on my experience with app development I can confirm a crash reporter is extremely useful.

[2015-03-05 08:18] danimo commented on #2902
@tmanthey funny you should say that. the next version comes with a crash reporter. As for the log file, simply launch the client from the command line with `--logfile filename`. (see ``--help`` and the manual for details).

[2015-03-05 08:23] guruz commented on #2919
@Turbocube644 Is there anything about the filename or the directory it is stored in that could help us to track this down?

Special characters?
External storage on server?
Which DB on the server?

[2015-03-05 08:28] guruz opened #2922 "Put back in codepath that uses all Etags in a directory instead of just the directory ETag for CheckEtagJob"
This was removed as part of the new discovery but @ogoffart says we need it back in because of buggy old ownCloud versions that don't change the (root) directory ETag if the contents change.

This might cause https://github.com/owncloud/client/issues/2479#issuecomment-77293425

CC @PVince81

[2015-03-05 08:32] tmanthey commented on #2902
started with --logdir. 33MB in the first seconds. I let you know later.

Am 05.03.2015 um 09:19 schrieb Daniel Molkentin:

[2015-03-05 08:44] PVince81 commented on #2922
What old ownCloud versions are we talking about ? OC 5 ?

[2015-03-05 08:55] lmaestro commented on #2917
@dragotin I cant reproduce it using beta2, but do you any idea why this happened?

[2015-03-05 09:28] Turbocube644 commented on #2919
The file name only consists out of ASCII letters, so no special characters.
The directory is no external storage, but the file is part of a git repository.
I'm using a mysql database.

[2015-03-05 09:30] guruz commented on #2919
@icewind1991 @PVince81 A server file scanner issue?

[2015-03-05 09:31] SebStaeubert commented on #2893
Some Problem here.
Server: 7.0.4
Client (Debian 7): 1.7.1, 1.8.0beta2

I made some Tests with a bunch of files (~456Mb, ~650 Files, ~130 Folder)
Not only Office-Files are affected. It seems, that all types of files could randomly get damaged (about 20 files of 650 are affected each test). Using owncloud-client from the nightly build doesn't fix the Problem.

@stonerl
I did the validation in this w

[2015-03-05 09:37] guruz commented on #2893
@SebStaeubert Yes, this is very bad. I agree.. did you see https://github.com/owncloud/client/issues/2893#issuecomment-76187352 ?

[2015-03-05 09:49] tmanthey commented on #2902
@dragotin second diagram is from a fully synced client. I think these are 2 discoveries, then it starts to idle because nothing to do.

We currently have 2 workstations with ownCloud still working. Here we incrementally added new files. But now we added a 3rd one that needs to sync the full set and that is currently not possible. Log files will be from the 3rd machine. That is currently 1.6GB in 2

[2015-03-05 09:55] stonerl commented on #2893
@SebStaeubert I just checked some file types and the main problem were office files. On one machine we also had a problems with a file-maker db-file. But as I stated above this error only appeared when the files have been modified in the sync-folder. Textfiles, PDFs and files that have been copied in the sync-folder on the other hand were transfered without any problem. Do you have the same proble

[2015-03-05 09:56] PVince81 commented on #2919
Can you check the database: `select * from oc_filecache where path like '%thedeletedfilename%'` ?

[2015-03-05 10:06] SebStaeubert commented on #2893
@guruz I send the link to the administrators, but i don't think, that all admins have the skills to apply the patch. Is there a fixed package (e.g. for debian or ubuntu) available? Which version of the package is fixed? libapache2-mod-fastcgi 2.4.7 or later?

@stonerl My tests are all copy-tests. And i observed the following corrupted file-types so far: pptx, jpg, docx, mpp, pdf, csv. So i think i

[2015-03-05 10:11] guruz commented on #2893
@SebStaeubert So you can confirm you have a broken version of this mod_fastcgihandler?
@PVince81 @LukasReschke Could oC deny working with those mod_fastcgihandler versions?

[2015-03-05 10:26] SebStaeubert commented on #2893
@guruz No, i don't know which version is affected - that was my question ;-)
But i will ask the admins, which version is currently used and then report it here.

[2015-03-05 10:32] lmaestro opened #2923 "When resharing is not allowing, share link is available but doesn't work"
### Actual behaviour
When the user enable the share link, the link is empty
![screen shot 2015-03-05 at 11 30 27 am](https://cloud.githubusercontent.com/assets/4689430/6503221/22cade0a-c32b-11e4-8ce8-cb914c5ff2d4.png)

And if you introduce the password an error is shown
![screen shot 2015-03-05 at 11 30 34 am](https://cloud.githubusercontent.com/assets/4689430/6503229/31ea8ff2-c32b-11e4-9cf4-5f013

[2015-03-05 10:48] tmanthey commented on #2902
client not responsive for an hour. Shut it down.
Attached images are just before killing the process. You can see it got stuck while moving memory. This is from the Official Beta 1.8 but nightly build was the same. Please contact me at info at evotegra.de for the download link for the log files.

![clipboard01](https://cloud.githubusercontent.com/assets/9221853/6503407/077f5a3e-c32d-11e4-8f66-ff4a

[2015-03-05 10:58] LukasReschke commented on #2893
Such things cannot really be done reliably unfortunately.

[2015-03-05 11:07] Turbocube644 commented on #2919
I checked the database: the query returns zero entries.

[2015-03-05 11:08] hkernbach commented on #1218
Also experienced this issue. Server Version 7.0.1. File 0 bytes @Client and @WebApplication

[2015-03-05 11:36] PVince81 commented on #2919
@guruz seems not. If the file is neither on disk nor in the oc_filecache, the server should not know anything about it and return 404.

How would the client behave ? What if it's trying to resume a failed download on a file that was deleted ? (just wild guess)

[2015-03-05 11:45] orangeudav commented on #69
+1 for Client Certificates feature !

[2015-03-05 11:59] lmaestro commented on #2233
@guruz Can you verify it? It is weird because sometime it works fine but others no.

[2015-03-05 12:05] lmaestro commented on #2850
Fixed in version 1.8beta2.

[2015-03-05 12:05] #2850 closed

[2015-03-05 12:12] lmaestro commented on #2907
@nekoal Can you verify it in the latest version http://owncloud.org/install/#testing ?

[2015-03-05 12:20] lmaestro commented on #2909
It is fixed in version 1.8.0beta2

[2015-03-05 12:20] #2909 closed

[2015-03-05 12:22] SebStaeubert commented on #2893
So, here our Apache-setup:
OS (Server): opensuse 13.2
apache2-mod_dnssd-0.6-22.2.1.x86_64
apache2-2.4.10-12.1.x86_64
apache2-utils-2.4.10-12.1.x86_64
apache2-mod_php5-5.6.1-4.1.x86_64
apache2-prefork-2.4.10-12.1.x86_64

=> no apache2-mod_fcgid package is installed!

[2015-03-05 12:32] guruz commented on #2919
Should not happen here, if the file was not discovered the download will not be attempted to resume.
CC @ogoffart

@Turbocube644 Are you 100% about that DB query results? Also about if the file maybe exists on your server hd?

[2015-03-05 12:36] Turbocube644 commented on #2919
Yes, I'm 100% sure about the DB query results. I checked them twice.
I just had a look at the server hd: the file does not exit there.

[2015-03-05 12:52] qnxor commented on #2479
The complete log consists of repeated blocks of the text I posted here: https://dl.dropbox.com/s/ovw1czxlk3pe2k4/oc1.log ... all of this repeats every 60 seconds.

Note how is it says `slotEtagPollTimeTimeout` and `slotRunEtagJob: * Trying to check "ownCloud" for changes via Etag check. (time since last sync: 53 s)`. It looks there is a timeout of 53 s which triggers regular checks.

But that asid

[2015-03-05 12:54] dragotin commented on #2512
Closing because outdated and inactive.

[2015-03-05 12:54] #2512 closed

[2015-03-05 13:11] lmaestro commented on #2447
Fixed in version 1.8.0beta2

[2015-03-05 13:11] #2447 closed

[2015-03-05 13:27] jancborchardt commented on #2517
This doesn’t need to be an option. New shares should never automatically be synced before they are accepted.

On the server side we will introduce a page for pending shares: https://github.com/owncloud/core/issues/13495
The client then also needs to have a mechanism to notify of new shares and the ability to accept them (list them up top in the activity stream with an accept/reject button).

[2015-03-05 13:31] SebStaeubert commented on #2893
I made another test. This time i mounted the onwcloud from a linux-client using webdav - same errors / random file corruption.

And yet another test with a bunch of 1000 image-Files (about 50-200kb each file and no subdirs) - no corruption!

Strange.

[2015-03-05 13:38] VincentvgNn commented on #2512
@dragotin
In this issue an interrupted upload of large files is mentioned.
It sounds similar to issue https://github.com/owncloud/core/issues/4997 (Febr. 13th 2015) where I reported "auto-kill for PHP processes at a broken connection" before finalizing the upload.
So for me no problem to close it here.

[2015-03-05 13:49] stonerl commented on #2893
@SebStaeubert if you need a second server for testing I could provide an account on mine. Just write me an e-mail.

[2015-03-05 13:55] sdelvillar opened #2924 "Cant install on Centos 6"
Hi

i run "yum install own-cloud" but have this dependency error

Error: Package: owncloud-client-1.7.1-2.2.x86_64 (isv_ownCloud_desktop)
           Requires: oc-neon

Please if someone could help me???

Thanks

[2015-03-05 13:57] KarstenB opened #2925 "Ownclouds icon overlay spams Console log in Mac OS X"
The new icon overlay in Mac OS X Finder does generate tons of Message of the following format:
05/03/15 13:50:02,002 Finder[222]: READ from socket (2422): <STATUS:ERROR:/Users/bla/ownCloud/Shared/XXX>
Those files are usually within ignored folders. And some Messages with this:
05/03/15 14:56:25,459 Finder[222]: READ from socket (2422): <STATUS:OK:/Users/bla/ownCloud/Shared>

Is there any way to re

[2015-03-05 14:01] MTRichards commented on #2517
Same for mobile of course too. We need to look at the architecture for these sorts of communications.

[2015-03-05 14:04] lmaestro commented on #2896
In version 1.8.0beta2 when I remove the local folder while it is syncing, the icon in the tool bar continues blue:
![screen shot 2015-03-05 at 3 00 00 pm](https://cloud.githubusercontent.com/assets/4689430/6506130/c67db44c-c348-11e4-8d0e-558120f01f9e.png)

Logs
[code]

[2015-03-05 14:16] jancborchardt commented on #2517
Yep, the mobile apps would have it in the »Transfers« view, up top.

[2015-03-05 14:19] manuel-uberti commented on #659
Still an issue on Debian unstable with XFCE 4.10.

[2015-03-05 14:43] SebStaeubert commented on #2893
@stonerl THX for your offer! If i find some time to create a "safe" test-set of files which produces these errors, i'll return. The actual "test"-file-set is for internal use only.

[2015-03-05 15:45] guruz commented on #2796
Let's do this for 1.8.1, i have the suspicion it might cause discovery slowness.

[2015-03-05 16:23] cdamken commented on #60
For some reason we have users now experiencing this issue after the upgrade to 1.7.1

[2015-03-05 16:33] lordloh commented on #230
Drop box tan sync does need the cloud. So, the cloud is still the authorative source.

[2015-03-05 16:36] jturcotte commented on #2907
The crash reporter has been reenabled, including a fix for this bug in build 4811 available at http://download.owncloud.com/desktop/daily/

If somebody could verify on XP with 4811 or later that it doesn't crash we could close this bug.

[2015-03-05 16:46] guruz commented on #2925
Which client version?
Did you try 1.8beta2?

[2015-03-05 16:47] PVince81 commented on #2772
@avoine @centredecalcul please tell me the full path of your shared file/folder that doesn't sync.

It seems that if it's on the first level:
- /shared: will sync fine
- /level1/shared: will sync fine
- /level1/level2/shared: will not detect changes
- /level1/level2/.../shared: will not detect changes

If your shared file/folder was deeper than level1 then please move over to https://github.com/ow

[2015-03-05 16:56] KarstenB commented on #2925
Sorry, I forgot. I am using Yosemite 10.10.2 with 1.7.1.
I just installed the 1.8 beta and from a first glance it appears as if the logging is gone. Will get back to it should I find it again.

[2015-03-05 17:06] guruz commented on #2924
Note that 1.8 might not require neon anymore if you install it with qt5 (which might not be available on CentOS?)

[2015-03-05 17:07] dragotin commented on #2925
Yes, should be good with 1.8.0beta2. Let us know if you want us to reopen it. Thanks.

[2015-03-05 17:07] #2925 closed

[2015-03-05 23:16] bcg-didi commented on #2311
@MTRichards

That's what the user interface suggests (at least that was my perception). However under the hood the implementation seems to be blacklist based:
[code]

In our case, the reasons for using the selective sync feature are:
- not enough space for everything on some Computers with SSD
- avoid wasting bandwidth (since there's no LAN sync yet)

The current behaviour of automatically syncing

[2015-03-05 23:35] MTRichards commented on #2311
We are working on it, to be honest. There is a lot of discussion about how of course...but we are working on it.

[2015-03-06 04:03] nekoal commented on #2907
I tested 1.8.0.4806-beta2. Client started without error. I'll test 4811 in an hour.

[2015-03-06 07:12] sharadmittal commented on #230
@jalcine - I have covered the server authority in both the proposed solutions. At no point will a peer provide file bits before checking with the server or the bits being clear text.. Hence the server is practically and technically the first and final authority.

[2015-03-06 07:30] lmaestro commented on #2907
@nekoal Thanks to verify it, if you are able to reproduce, please reopen it. Thx

[2015-03-06 07:30] #2907 closed

[2015-03-06 07:31] lmaestro commented on #2792
@nekoal Are you able to reproduce this problem with the latest version?

[2015-03-06 08:29] guruz commented on #2479
@qnxor We had a misunderstanding here, you wrote "I have only 3 folders and 4 files" and I thought you mean you had 3 sync folders in the client setup, but actually you have 1 sync folder set up.

Can you do me a favor and paste the log of maybe 4 consecutive syncs? I'd need to know exactly how the ETags change.

I have a suspicion already:
The Dropbox-Enc is shown as ```INSTRUCTION_NONE``` even t

[2015-03-06 08:51] PVince81 commented on #2479
Do I understand it well that the steps to reproduce are as follows:
1) Upload a file "test.txt" to "Dropbox-Enc" using the Web UI
2) Wait for the sync client to sync it down
3) Edit the file using the web UI (or upload+overwrite using the web UI)
4) Wait for the sync client to sync it down

But it never syncs it down because the file or folder etag did not change ?

[2015-03-06 08:58] lmaestro commented on #2898
I can'r reproduce it. @ubersolo Do you want to try the latest version https://owncloud.org/install/#testing and verify if it is still happening ?
@jturcotte Can you reproduce it?

[2015-03-06 09:17] nekoal commented on #2792
Yes, I can reproduce different behavior of client dependent on shortcut target with 1.8.0.4812-nightly20150306.
I just tried complex test about 4 conflicted shortcuts:
c1 - client 1 (Win 7), c2 - client 2 (Win XP)
Steps to reproduce:
1) create 4 shortcuts on c1
2) wait for syncrun complete
3) pause clients on c1 and c2
4) modify shortcuts on c1 and c2:
a) on c1 set target not exist on c1 and exist

[2015-03-06 09:19] guruz commented on #2922
This was done, @ogoffart has reviewed the code.

https://github.com/owncloud/client/commit/3f712dce02d647124022f464a4fd06e65d0e2d83

[2015-03-06 09:19] #2922 closed

[2015-03-06 09:25] PVince81 commented on #2479
Possibly related: https://github.com/owncloud/core/issues/11628 (@guruz told me this was about etag changing constantly without reason)

[2015-03-06 10:46] gdkags opened #2926 "File Locking prevents Software to use Files"
The software I'm using does encounter file locks from the OCclient on a regular basis, retries several times and then fails starting a new file. It does state that Antivirus Software might be the culprit for the intrusive file lock, but as soon as I quit the OCclient everything works fine again. Seems to be only a problem on Windows8 only, my linux system does not happen to have the same problems.

[2015-03-06 12:36] qnxor commented on #2479
@guruz Here's a full (sanitized) log of 5 minutes from the moment the desktop client starts: https://dl.dropbox.com/s/ntla2jgkp7p3mck/oc3.log

I now have bigger problems. I added a file to "Dropbox-Enc" to test if it syncs. It does. But if I delete it using Finder, the owncloud client puts it back after 5-10 seconds! Here's a full log of me starting owncloud, then deleting a file from the "Dropbox

[2015-03-06 12:43] PVince81 commented on #2479
@qnxor when you talk about file operations (like deleting), are you doing these:
1) in the ownCloud web UI ?
or
2) locally with the ownCloud sync client ?
or
3) with the Dropbox client ? (or the Dropbox web UI)

Encryption should work fine. The problem is most likely with the Dropbox storage (it has known issues...)

[2015-03-06 12:45] qnxor commented on #2479
@PVince81 like I said, I deleted it using Finder from the `Dropbox-Enc` subfolder (which a subfolder of the owncloud folder that is set to sync).

[2015-03-06 13:10] guruz commented on #2926
Easiest solution: Check 1.8 beta2 first :-)

[2015-03-06 13:23] gdkags commented on #2926
looking good :D thank you!

[2015-03-06 13:23] #2926 closed

[2015-03-06 14:21] dragotin commented on #2924
@sdelvillar could you retry? Indeed oc-neon hasn't been published, I apologize.

[2015-03-06 14:37] Jas2Ma opened #2928 "using owncloud via juju (without overly-scrollbar)"
Hi Guys,

I am trying to use owncloud-client at work, so with no root permissions at my workstation (ubuntu 14.04).
Therefore I use juju (https://github.com/fsquillace/juju) to run it. I can successfully install owncloud-client via pacman, but I can't access the settings window

    Gtk-Message: Failed to load module "overlay-scrollbar"
    Gtk-Message: Failed to load module "canberra-gtk-module"

[2015-03-06 15:09] guruz opened #2929 "Too high memory usage when syncing many files"
We need to verify this (massif tool?) but the current assumption is that the syncing with its new job-based architecture uses too much memory.

One needs to think about
* Peak usage during discovery
* Peak usage during sync

Some ideas:
* csync structures not cleared before propagate (has been done for 1.8beta2 though)

* Somehow don't create all all jobs at once
 * Do the full discovery, but only

[2015-03-06 15:18] unamedplayer commented on #854
Howdy, just adding my voice to this. I've done some testing with Google Drive and they handle all kinds of odd characters via translation. The file names may not be consistent across platforms but no data is left unsynced which is very important IMHO.

Thank you for all the comments and pointing out the path forward.

[2015-03-06 15:21] danimo commented on #854
fyi: This is being worked on for ownCloud Server 8.1 on a broader scope.

[2015-03-06 15:21] unamedplayer commented on #854
Yay :) Thank you!

[2015-03-06 15:35] dryo commented on #2508
Isn't this a duplicate of #2568?

[2015-03-06 15:36] danimo commented on #2508
Indeed.

[2015-03-06 15:36] #2508 closed

[2015-03-06 15:43] rensgr opened #2930 "not syncing because of characters in filename that are incompatible with some platforms"
Hello,
My linux desktop client refuses to sync all my screensnapshots, because they have a timestamp in the filename ( snap_20:58:45.jpg, for example )
':' is illegal in windows, because it has a meaning in drive assignment letters ( A: / C: etc)

Would it be possible to work around this by translating the illegal character(s) in the filename
for example into some kind of transcoding, like : becom

[2015-03-06 15:57] danimo commented on #2930
This requires changes in the server that are being worked on, see #854

[2015-03-06 15:57] #2930 closed

[2015-03-06 17:49] hqx opened #2931 "[OS X] updater installs in wrong place"
Scenario: owncloud 1.7.0 installed and running in /Applications/Subdir/
The updater finds new 1.7.1 update, installs under /Applications and then restarts the old client in Subdir -> endless loop.

Expected Behaviour: Write Updated App in same Place where current App is, not hardcoded /Applications

[2015-03-06 19:27] danimo commented on #2928
Nope, this is an issue in Ubuntu with the way they handle the system tray.

[2015-03-06 19:27] #2928 closed

[2015-03-07 10:14] Jas2Ma commented on #2928
Well, interpret my bug report as a request for command line support for control button functionality

[2015-03-07 23:26] mcnesium opened #2932 "[OS X Lion] v1.8beta2 Installation Error"
Trying to install v1.8beta2 on OSX Lion, but after the routine went through I get the following error:
![eeboo2ca](https://cloud.githubusercontent.com/assets/476060/6543733/1c22f196-c529-11e4-9319-2f78a1ffc4c3.png)
Console.app output:

    04.03.15 14:47:21,247 installd: PackageKit: Install Failed: Error Domain=PKInstallErrorDomain Code=112 "An error occurred while running scripts from the package

[2015-03-08 11:30] guruz commented on #2902
@tmanthey Thanks, we're investigating some possibilities

[2015-03-08 15:58] dpeger opened #2933 "Moving files from external storage to main storage with missing quota results in empty file"
#### Description
Moving an existing file from an external storage location (e.g. local folder available through the external storage app) to the main storage using the desktop sync client results in an **empty** file in the main storage, if the user's quota is exceeded.

This seems to be a very critical issue as a user may not be aware of exceeding his quota when using the sync client and this err

[2015-03-08 18:49] ubersolo commented on #2898
I just updated to the client 1.8.0beta2 (build 4806) and the issue is still
occuring for me same as before even after a reboot. I'm on Windows 8.1 Pro
x64

On Fri, Mar 6, 2015 at 3:58 AM, Lucia <notifications@github.com> wrote:

[2015-03-09 00:02] icefresh89 commented on #2537
Hi. I have the exact same issue as well in version 1.7.1. Please let me know if you need any further information. Thanks

[2015-03-09 06:41] step4wd commented on #230
So in short this feature will never be introduced in ownCloud?

On Fri, Mar 6, 2015 at 12:12 PM, sharadmittal <notifications@github.com>
wrote:

[2015-03-09 09:15] dragotin commented on #2919
Do you find an entry about the file in the apache access_log? That entry would be interesting.

[2015-03-09 10:21] PVince81 opened #2934 "[1.8.0~beta2] [KDE] Segfault on quit"
### Steps
1. Start the sync client on the CLI: `owncloud --confdir ~/work/ocsynctest/localserver/config --logfile ~/work/ocsynctest/localserver/sync.log`
2. Right click on the system tray icon and pick quit

### Expected result
Clean exit.

### Actual result
Either segfault or "illegal hardware instruction":
[code]

[code]

### sync.log
[code]

### Versions
openSUSE Factory
owncloud-client-1.8.0~b

[2015-03-09 10:31] guruz commented on #2934
if you run it in ```gdb``` what is the backtrace?

[2015-03-09 10:33] dryo opened #2935 "Windows installer asking for admin user -> Update NSIS UAC plugin to latest version"
When I try to run the installer of the client (ownCloud-1.7.1.4382-setup.exe) it shows me this dialogue instead of the UAC prompt:
![](https://i.imgur.com/7FJMJPi.png)

The filezilla installer showed the same behaviour and [after a short discussion on the filezilla forums](https://forum.filezilla-project.org/viewtopic.php?p=132185) a solution was found: The [NSIS UAC plugin](http://nsis.sourceforg

[2015-03-09 10:40] PVince81 commented on #2934
[code]

[2015-03-09 10:42] PVince81 commented on #2934
[code]

[2015-03-09 11:13] jturcotte commented on #2898
This looks like http://superuser.com/questions/659857/windows-explorer-folder-context-menu-closes-itself

Could you follow the instructions to:
- Get the ShellExView utility
- Disable the OCContextMenuHandler extension
- Click on Options/Restart Explorer

and tell us if this makes the problem go away?

[2015-03-09 11:44] shoeper commented on #230
Where did you read that?

[2015-03-09 12:09] jalcine commented on #230
On Sunday, March 08, 2015 11:41:30 PM step4wd wrote:

That’s a hell of a stretch, don’t you think? This issue is more for
brainstorming an implementation strategy.
--
Jacky Alcine
https://jacky.wtf

[2015-03-09 13:10] rperezb opened #2936 "[ownBrander] [Just one folder] If the folder name includes special characters, a new folder is created"
STEPS:
1.- Select to sync just one folder
2.- The folder name includes special characters, such as: "üla üla"
3.- Generate the client
4.- After installing it, check that a new folder is created: "Ã¼la Ã¼la"

EXPECTED BEHAVIOR:
The define folder, is the sync one

SERVER:
{"installed":true,"maintenance":false,"version":"8.1.0.0","versionstring":"8.1 pre alpha","edition":""}

CLIENT:
1.7.1

[2015-03-09 14:02] dragotin commented on #230
Once we have checksums about file contents we can think on how to implement this. How is pretty straight forward: By doing the discovery against the server, the client gets to know which files it needs. With that information it can do a broadcast along the line "who can deliver me file with checksum xyz?". If it gets a positive answer, it might be able to download it from a different client rather

[2015-03-09 15:56] nekoal commented on #2935
It seems related to #2616. May be it already updated on 1.8.0.

[2015-03-09 16:04] danimo commented on #2935
Nope, no update has been performed so far.

[2015-03-09 16:06] dragotin commented on #2910
I have a suspicion: If the credentials become invalid during a sync, the client closes the connection itself in this code:
https://github.com/owncloud/client/blob/master/src/libsync/creds/httpcredentials.cpp#L375

I submitted some fixes with this patch: 396f38598fa7f9e04adc4bd9a963fbd8f95a5161 but I am currently not sure if that helps here. @ogoffart ?

[2015-03-09 16:49] guruz commented on #2929
Assigned to @ogoffart

[2015-03-09 17:58] ericbodden opened #2937 "[osx] Client drawing a lot of power due to constant Icon refreshs"
I have been observing the OSX client to consume a lot of power, at least under Yosemite, apparently due to frequent icon refresh. OwnCloud causes the WindowServer to be at a constant CPU load of about 45%, as documented here:
http://apple.stackexchange.com/questions/153397/windowserver-high-cpu-on-yosemite

As soon as I close OwnCloud, WindowServer drops down to single-digit numbers.

[2015-03-09 22:34] craigpg opened #2938 "Disable parallel uploads for server versions <= 8.0.2"
A follow on to #2743.

We expect to be able to turn on parallel uploads for server version >= 8.0.3, but not before.  So, our code that checks for < 8 needs to updated a bit to disable parallel uploads if the server version is <= 8.0.2.

[2015-03-09 22:39] craigpg commented on #2736
@cdamken, can we close this?  No more troubleshooting steps that I can see.

[2015-03-10 01:48] VincentvgNn commented on #2438
@ogoffart
What will be the OC solution/policy?
FAT32 possible without problems yes or no?
If yes, can you then reopen this issue? Else it will disappear and never be solved.

I need to decide whether my clients can use standard FAT32 USB sticks or whether I should supply them NTFS formatted USB sticks.

[2015-03-10 05:51] eagles051387 commented on #2929
I am the same eagles0513875 btw. How come sync doesn't behave like that of drop box or Google drive as soon as files are added an instant sync takes place and then once sync is complete the memory that it used to determine whats already been synced in that directory is freed. Right now upon sync completion memory usage does not go back down as it seems like memory isn't being freed after a complet

[2015-03-10 06:41] moscicki opened #2939 "handle local disk full properly (affects data integrity)"
Currently the client misses on handling of local disk full condition. This causes random crashes and is susceptible to corrupt data (or sync journal).

Client should require some minimal space being available on the disk hosting the sync folder(s) and enter "idle" mode when there is not enough disk space. For example, google drive pauses operation when free disk space is < ~1GB.

For implementatio

[2015-03-10 07:07] ogoffart commented on #2438
FAT32 is only working with 1.8.  We were planing to release it earlier but it did not happen.

[2015-03-10 07:15] moscicki opened #2940 "missing icons in 1.8.0-beta2"
The app icons are missing in the top bar and setting dialog box in 1.8.0-beta2. MacOSX 10.8.5. I have installed 1.8.0-beta1 beforehand which had the same problem. Later I reverted to 1.7.1 which worked again OK with icons.

![image](https://cloud.githubusercontent.com/assets/621965/6570595/91c14864-c6fd-11e4-89c5-4ad90d6d0646.png)

![image](https://cloud.githubusercontent.com/assets/621965/6570600

[2015-03-10 08:31] lmaestro commented on #2882
@moscicki I can't reproduce it. If you are able to reproduce it in the latest version, please reopen it. Thx

[2015-03-10 08:31] #2882 closed

[2015-03-10 08:47] centredecalcul commented on #2772
My shared files are on the first level.

And my share folder is on the first level (config.php):
'share_folder' => '/Partages',

[2015-03-10 08:55] dragotin commented on #2939
I agree, suggest to do it for 1.8.1, @MTRichards

[2015-03-10 09:11] dragotin commented on #2913
I am closing this one as it is not client related. Please continue in the server repo if required. Thanks.

[2015-03-10 09:11] #2913 closed

[2015-03-10 10:29] michaelstingl commented on #2940
@dragotin thank you for taking care of it! /cc @cdamken

00002694

[2015-03-10 11:08] MTRichards commented on #2939
Agreed.  This is an important add, particularly with more and more data sources making this more and more likely.

[2015-03-10 11:17] Turbocube644 commented on #2919
Unfortunately I don't have access to the logs...

[2015-03-10 11:56] cdamken commented on #2689
OS: Red Hat Enterprise Linux Server release 6.6 (Santiago)
PHP: PHP 5.3.3
HTTP: Apache/2.2.15 (Unix)
MySQL: 5.1.73 Source distribution

### LOG:
S3-ownCloud\Shared\owncloud\support\github-issues\mirall\2689\New Log File.txt

[2015-03-10 12:11] MorrisJobke commented on #2689
There are plenty of Sabre_DAV_Exception_NotFound, Sabre_DAV_Exception_Conflict, Sabre_DAV_Exception_UnsupportedMediaType, Sabre_DAV_Exception_Forbidden, Sabre_DAV_Exception_PreconditionFailed, Sabre_DAV_Exception_InsufficientStorage

144 Bind failed: 49: Invalid credentials
54 Sabre_DAV_Exception_InsufficientStorage
31 Sabre_DAV_Exception_PreconditionFailed
241 Sabre_DAV_Exception_Forbidden
109 Sa

[2015-03-10 13:32] PVince81 commented on #2689
Possibly all of them... some might be related to cancelled uploads though.

[2015-03-10 13:48] jturcotte commented on #2940
Should be fixed by 94734d0a16fd45872d101f380f4c15bd43bee160 in customer-themes.

[2015-03-10 13:51] dragotin commented on #2910
@ogoffart and me discussed my suspicion above and it does not seem to be correct. Unless we can debug the server, we can not understand what the problem was with the information at hand here. @guruz, @lmaestro which server was it?

[2015-03-10 13:53] dragotin commented on #2919
@Turbocube644 ok, please create a client log file that shows a sync run where your client tries to download the files.

[2015-03-10 13:57] dragotin commented on #2902
There have been a few patches (31e400973705e6713e15325c6cdafcc4faead034 and 8746914f3b5ca659b2726c609703597a81810af4) that will improve the situation now, more in the next version as tracked in #2929.

[2015-03-10 13:57] #2902 closed

[2015-03-10 14:16] dragotin commented on #2899
The logfile shows this lines:
[code]
That means that we do NOT start the ETag job because the AccountState is *Network Error* rather than *Connected*.

[2015-03-10 14:26] dragotin commented on #2899
And other lines:
[code]
In the normal case, a succeeding CheckServerJob would reset the AccountState to Connected, and as a result the ETagJob from above would start. The CheckServerJob is actually started, but it fails reporting "Verbindung beendet". This job just tries to access status.php. Is it possible that there is any problem in your setup causing this?

[2015-03-10 14:28] dragotin commented on #2864
This is fixed.

[2015-03-10 14:28] #2864 closed

[2015-03-10 14:31] moscicki commented on #2939
I though about some cases:
 - no activity in sync client, disk usage grows independently of the sync client -> a simple periodic check and a check before starting any update activity could suffice
 - disk space going low due to the sync client itself performing downloads -> this requires some check integrated into the propagator itself (to pause it, snapshot the state and then resume it at some la

[2015-03-10 14:54] ubersolo commented on #2898
Ok, I used ShellExView and disabled the OCContextMenuHandler extension, restarted explorer and it did make the problem go away, I re-enabled the shell extension and the problem came back.

[2015-03-10 15:11] dragotin commented on #2939
I think after the discovery phase (which does not need disk space) we should be able to calculate how much space change need for performing the sync. A decent safety belt can be added and we should be able to estimate if space is sufficient or not.

Notes:
1. We need to find a efficient, cross platform way of getting the free disk space of the the partition on which the sync directory is located.

[2015-03-10 15:13] dragotin commented on #982
Now tracked in #2939

[2015-03-10 15:13] #982 closed

[2015-03-10 15:15] dragotin commented on #2939
about 1.: https://github.com/owncloud/client/blob/master/src/libsync/utility.cpp#L173

[2015-03-10 15:18] dragotin commented on #2559
There is work in progress on the server to speed up this use case. I am closing this hence.

[2015-03-10 15:18] #2559 closed

[2015-03-10 15:53] borconi commented on #2255
Just wondering if there is any improvement on this.... the £100 is still available.

[2015-03-10 16:41] Turbocube644 commented on #2919
http://cloud.turbocube.org/public.php?service=files&t=9ff933755171bac198a7b09d60549bd4

[2015-03-10 20:50] lippoliv opened #2941 "Windows XP - owncloud.exe error"
### Expected behaviour
ownCloud should start...

### Actual behaviour
ownCloud crashes on System-Boot (cauz it should auto-start) and on Manual start.

### Steps to reproduce
1. use WIN XP
2. install ownCloud 1.7.1
3. Start it

### Server configuration
Operating system: Debian 7

Web server: Apache

Database: MySQL

PHP version: 5.4.36

ownCloud version: 7.0.4

Storage backend: ?

### Client confi

[2015-03-11 02:16] MTRichards opened #2942 "Sync Client: Trying to continuously upload read only files...Read only folder troubles?"
Now I have an interesting problem syncing with ownCloud 8.0.2.

Windows 7
1.7.1

Nothing new here, this is just an ordinary sync run with the client. It seems the read only is being respected because the files don't write, but the files should be the same, since they were just downloaded.

The sync client is eternally telling me "Not allowed to upload because it is read only on the server". Which

[2015-03-11 03:12] elessard84 commented on #1309
Sorry if my english is not so good

I have the same exact biavior on a linux server (ubuntu + owncloud from the lastest repository + mariadb) I use utf-8. I migrated from my iis Owncloud to an ubuntu based server on the assumtion that will have helped with that glitch but same exact glitch on linux. Only thing that helped me with is upload over 2.2gb
Here an screen of what does the sync client.
![

[2015-03-11 03:39] elessard84 commented on #1309
@danimo Your 100% right --' that IIS the culprit. Before reaching my linux server I use a iis reverse proxy to separate owncloud from my other web service. I tried to bypass the iis reverse proxy by using the server IP on my local network and all work fine... soooo I have few hours of work reconfiguring all my system or I use the port fowardind inelegant solution.

[2015-03-11 08:45] geez0x1 commented on #2306
Let's see if I can still comment here. This bug still occurs for me, with the latest version of server and client. Since the problem is (temporarily) solved by restarting clients, can't the problem be in the client? I've had this issue for a while on 3 separate systems now (see my earlier post), it's becoming a rather unreliable experience.

[2015-03-11 08:48] guruz commented on #2306
Which ones?

[2015-03-11 08:51] geez0x1 commented on #2306
Clients are 1.7.1, server is 8.0.0.

[2015-03-11 08:55] guruz commented on #2306
The latest released client version is 1.8.0beta2.
See https://github.com/owncloud/client/issues/2306#issuecomment-71482724

You can also use a newer nightly build:
 http://download.owncloud.com/desktop/daily/

[2015-03-11 08:57] geez0x1 commented on #2306
I see; I mistakenly read your older post as being about the beta for server 8.0, since released. I will be trying that client beta release then and I'll post my results. Thanks.

[2015-03-11 09:07] sirio81 opened #2944 "Client fail indexing on a mac os x with remote home"
Hi, please have a look at this screencast: http://youtu.be/UIb06doLGCI
You can see the client is indexing something that looks exadecimal: two chipers.
This mac os x account has few files and also exluded the Library and all files starting by a dot.
It's costantly indexing.

This is a mac 10.9.5 and is a domain with a mac X serve.
The home folder is not stored localy but on the X serve.
I don't kn

[2015-03-11 09:13] lmaestro commented on #2917
I can't share by link using password in OS X
![screen shot 2015-03-11 at 10 11 08 am](https://cloud.githubusercontent.com/assets/4689430/6593259/3a6251e6-c7d7-11e4-9d50-ff511d1b5c69.png)

[2015-03-11 09:55] ckamm commented on #2792
@nekoal Thanks for your test case! I could reproduce and fix the problem. All four conflict combinations work for me now; I'll mark this as readytotest once the patch is merged.

[2015-03-11 10:02] MegaV0lt commented on #2899
What should this be? I have a local network-connection with the oc-server (sheevaplug). I use my self created ssl-certs. On my laptop is still version 1.7 of the client but usese dyndns as adress of course

what info ddo you need?

[2015-03-11 10:50] dragotin commented on #2942
@ckamm could you doublecheck with 1.8.0?

[2015-03-11 10:54] ckamm commented on #2895
The client is trying to ping the server, but running into timeouts. It sounds like something's up with the Qt networking stack. Related but old: https://bugreports.qt.io/browse/QTBUG-10286 https://bugreports.qt.io/browse/QTBUG-13488 @guruz ?

[2015-03-11 10:56] ohnotnow opened #2945 "After a reboot users can't see their files"
I've got an install of owncloud 8 from the rpm repo running on CentOS 7 (owncloud update centre says it's up-to-date). The server seemed to be running fine, had been rebooted numerous times - then yesterday I had to shut it down again and when it came back up users could log in, but all they could see was the default documents/photos folders.

The data is all still there on disk and from a quick s

[2015-03-11 10:58] billybofh commented on #2945
Oh - and for reference, it's CentOS 7, php-5.4.16, apache httpd-2.4.6-19.

[2015-03-11 11:01] dragotin commented on #2931
@guruz can you double check pls?

[2015-03-11 11:02] dragotin commented on #2931
Removing gold ticket state because this is not standard install, but install to Subdir.

[2015-03-11 11:05] dragotin commented on #2941
Please retry with ownCloud 1.8.0 beta2 if you still see this. Thx.

[2015-03-11 11:21] billybofh commented on #2945
Oh - just noticed this has gone into the client area not the core one. It's been one of those days... I'll re-post it there.  Ignore and/or shoot me...

[2015-03-11 11:42] ckamm commented on #2942
@MTRichards Can you give me more info? Here's what I tried with the 1.8 branch and server 8.0.2:
* Share a folder readonly with another user
* Sync that as the other user

And that worked fine. If I touch a file in that folder, I get the "Not allowed to upload this file..." message and the file is restored.

Could it be that this is DST related and something makes the client think there are local

[2015-03-11 11:44] ckamm commented on #2942
Ooh, I tried on linux, will try again on windows 7.

[2015-03-11 11:52] ckamm commented on #2942
Also works on Windows 7 for me.

[2015-03-11 12:00] ckamm commented on #2942
And I can't reproduce it even if I set my clock to eastern time without DST, download files, switch to DST and try to sync again. @MTRichards what filesystem are you syncing to? Is it regular NTFS?

[2015-03-11 12:06] ckamm commented on #2942
Since 1.7.1 didn't have the 'ignore one hour differences' hack and 1.8 does. There's a good chance this has been addressed.

[2015-03-11 12:11] lippoliv commented on #2941
@dragotin do you have an download-link?

[2015-03-11 12:20] ckamm commented on #2917
@lmaestro Works for me on Linux.

[2015-03-11 12:21] dragotin commented on #2917
@lmaestro: What exactly was the problem? The screenshot does not really indicate a problem.

[2015-03-11 12:33] lmaestro commented on #2917
@ckamm @dragotin It only happens on OS X when I try to share a file by link using password, it happens with the latest build 2115

[2015-03-11 12:45] lmaestro opened #2946 "Can't run the client using lldb"
### Actual behaviour
The app doesn't launch and this error is shown:
![screen shot 2015-03-11 at 1 35 59 pm](https://cloud.githubusercontent.com/assets/4689430/6596435/cae705f0-c7f4-11e4-9736-2de35bc03a77.png)

### Steps to reproduce
1.Run the client using lldb

### Client configuration
Client version: version 1.8beta2

Operating system:OS X 10.10

### Logs

[code]

[2015-03-11 12:47] lmaestro commented on #2946
Related https://github.com/owncloud/client/issues/2109
CC/ @jturcotte

[2015-03-11 12:48] lmaestro commented on #2940
It is duplicated https://github.com/owncloud/client/issues/2746

[2015-03-11 12:48] #2940 closed

[2015-03-11 12:54] ckamm commented on #2942
But I can also not reproduce the problem in 1.7.1 by downloading, toggling DST, and syncing again.

[2015-03-11 12:56] ckamm commented on #2945
@ohnotnow thanks for moving to core :)

[2015-03-11 12:56] #2945 closed

[2015-03-11 12:56] guruz commented on #2479
@qnxor Yes, the Dropbox storage plugin is probably the root cause of this. Could you submit an issue inside the core repo and from there also link to this issue here?

For all others: If you continue to have issues with > 1.8.0 beta2 please create a new bug inside this repo here.

[2015-03-11 12:56] #2479 closed

[2015-03-11 12:59] guruz commented on #2929
A bit of work has been done by @jturcotte in https://github.com/owncloud/client/commit/db7919dc2f0c90e95c8fc317d1104771a1d8f55e

@eagles051387 You can re-test with the nightly build that will be produced in 18h :)
http://download.owncloud.com/desktop/daily/

[2015-03-11 12:59] ckamm commented on #2941
@lippoliv The testing packages are listed at the bottom of https://owncloud.org/install/ (Windows: https://download.owncloud.com/desktop/testing/ownCloud-1.8.0.4806beta2-setup.exe).

[2015-03-11 13:03] danimo commented on #2941
https://owncloud.org/install/#testing should get your there.

[2015-03-11 13:16] dragotin commented on #2923
Fixed by above commit. All we can do for now is displaying a error message in the share dialog because we do not have the permission information in the file manager plugin yet.

[2015-03-11 13:27] ckamm commented on #2919
@Turbocube644 Thanks for the log! That's interesting.

The whole sync failed because of a timeout when trying to delete workspace/.metadata/.plugins/org.eclipse.core.resources/.history/6b/b0c2edc09db40014111b916fb9f5489a from the server. That file is found on the server - is that correct?

The confusing messages saying 'Error downloading ...' are actually about DELETE requests to the server failin

[2015-03-11 13:28] dragotin commented on #2792
Well, yes, the screenshot does not really indicate an error, because all the entries reference different files. The upload was probably triggered by the DST bug.

[2015-03-11 13:33] eagles051387 commented on #2929
no problem Will test I dunno if you guys want to generate an installer for
me to test before then I can get it stress testing as we speak.

On Wed, Mar 11, 2015 at 1:59 PM, Markus Goetz <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-03-11 13:39] ckamm commented on #2919
The etag for the directory that contains c06771af7ab50014115594bbc2625284 didn't change, which is why the remote discovery assumes the file is still present and attempts to delete it.

[2015-03-11 14:00] ckamm commented on #2919
We're considering whether to make 404 on DELETE a non-fatal error that deletes the file from the DB. But it won't be in 1.8.0.

[2015-03-11 14:11] mamayer commented on #43
+1 I could really use that feature. The workarounds are not that comfortable.

[2015-03-11 14:31] dragotin opened #2947 "[1.8.0 beta2] Double click on Folder should open Finder"
If the user double clicks on an entry in the folder list of the settings dialog, the Finder should appear showing the local dir. This does not work any longer.

[2015-03-11 14:42] guruz commented on #2929
@eagles051387 You can try ownCloud-1.8.0.4826-nightly20150311-setup.exe .. freshly generated. But I think it doesn't change enough memory usage yet..

[2015-03-11 14:45] eagles051387 commented on #2929
Ok will wait for the build and install it tomorrow morning.

On Wed, Mar 11, 2015 at 3:43 PM, Markus Goetz <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-03-11 14:48] guruz commented on #2929
The build is already there http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4826-nightly20150311-setup.exe

[2015-03-11 14:51] jturcotte commented on #2946
Let me know if the workaround isn't good enough, I can try to figure out where the debugger clashes with breakpad, but this would take more time.

[2015-03-11 14:51] eagles051387 commented on #2929
Wow my bad been a busy chaotic day for me will test once I get home.

On Wed, Mar 11, 2015 at 3:49 PM, Markus Goetz <notifications@github.com>
wrote:

--
Jonathan Aquilina

[2015-03-11 15:32] Trapulo commented on #1309
Sorry, IIS is not a culprit. It's a very flexible and robust platform. You can do anything you need using IIS, and it's solid. PHP can be a problem, as @danimo said, this is right. But is PHP the problem, non IIS.

[2015-03-11 15:36] johansolve commented on #742
We can't go live with owncloud until we make it so that ":" (shown as "/" in Finder) is accepted in filenames. Just in my own set of project folders I have several "/" in folder names. Also other trivial characters like "?" and ">" are problematic to have excluded. Any pointers on how to change the filename blacklist?

[2015-03-11 15:40] guruz commented on #2937
Could you try this:

* Launch ownCloud client
* Check CPU load
* If it is high, kill Finder (e.g. via terminal.app ```killall Finder```) (don't worry it will restart)
* Check CPU load again

[2015-03-11 15:59] lmaestro commented on #2917
It works fine in oc7.

[2015-03-11 16:15] lmaestro commented on #2946
I can reproduce it using the latest version. The same error and the crash log.

[2015-03-11 16:19] jturcotte commented on #2946
Could you please verify that "Show crash reporter" is still unchecked in settings?

[2015-03-11 16:22] thedanielmatt opened #2948 "[OS X Yosemite 10.10.3 (Beta)] Install fails"
Attempting to install OS X Desktop client on OS X 10.10.3 (beta).

Customizing the installation to omit the ownCloud package succeeds (installing the Finder plugin only).

sudo installer -verboseR -pkg ~/Downloads/ownCloud-1.8.0.2078beta2.pkg -target / -dumplog
installer: Package name is ownCloud Client
Mar 11 12:15:09 localhost installer[19850] <Debug>: Product archive /Users/daniel/Downloads/own

[2015-03-11 16:24] lmaestro commented on #2946
Sorry, it was checked, I unchecked it and it works fine.

[2015-03-11 16:24] #2946 closed

[2015-03-11 16:31] dragotin commented on #2917
This is the server problem reported here: https://github.com/owncloud/core/issues/14506

It's fixed, and will be in the new 8.0.2

[2015-03-11 16:34] lmaestro commented on #2938
It works fine in the latest version1.8.0-nightly20150311(build 2117)

[2015-03-11 16:34] #2938 closed

[2015-03-11 16:34] dragotin commented on #2898
Hmm, not sure if we can fix this as the bug seems to be triggered by ShellExView.

[2015-03-11 16:36] dragotin commented on #2768
I think this should rather go to the core repo, to the sharing experts. Does not seem to be a client problem.

[2015-03-11 16:37] remixtj commented on #2719
@danimo what do you think about this new patch? better?

[2015-03-11 16:39] dragotin commented on #2764
A couple of others moved to 1.8.1 milestone, so all checked here, hence I close this one.

[2015-03-11 16:39] #2764 closed

[2015-03-11 17:21] ubersolo commented on #2898
ShellExView was just the diagnostic tool I used to find that the ownCloud context menu shell extension is the culprit and not another one. When I disabled the OCContextMenuHandler (the ownCloud righ-click shell extension) using ShellExView, the right-click menu was able to show up (without the share with ownCloud option in there). When enabling the ownCloud shell extension again, the right-click m

[2015-03-11 17:49] jturcotte commented on #2107
Should be fixed by 0b461e227502d581ecebc7ab0ee759eacb3121c9

[2015-03-11 17:54] lmaestro commented on #2107
It is fixed in the latest version.

[2015-03-11 17:54] #2107 closed

[2015-03-11 17:58] lmaestro commented on #2917
Yes, it is fixed in  8.0.2.0. so I close this issue.

[2015-03-11 17:58] #2917 closed

[2015-03-11 17:59] lmaestro commented on #2947
It works fine in the latest version.

[2015-03-11 17:59] #2947 closed

[2015-03-11 18:07] michaelstingl opened #2949 "Sync error 'Destination file exists' with *.sparsebundle (Mac OS X)"
User is experiencing 2 sync errors with the Mac OS X client, version 1.7.1.

1) The first error is 'Destination file exists' (screenshot + logfile). It looks like a file is unable to sync but it doesn't exactly say where it goes wrong (is it unable to upload a file, or download a file?). The sync client seems to be stuck at this file; rebooting and such doesn't help.

![screen shot 2015-03-11 at 1

[2015-03-11 19:23] jnfrmarks commented on #2768
I'm not sure this is a server problem.

I see different behavior when I do all the sharing via the webUI.  Specifically, at step 3, the file shows up in user3's root folder; the folder containing the shared file is not created when I run the test via the webUI.

[2015-03-11 19:56] ubersolo commented on #2898
It looks like @apg1980 also had this issue in issue #2851 (I didn't notice it before bec. disappear was spelled differently) and @lmaestro set it as a duplicate of #2836. I think this issue is different than #2836 as it relates to the right-click menu disappearing and not the explorer folder.

Another interesting thing I noticed is if there are two separate explorer windows open to the main sync f

[2015-03-11 20:27] jnfrmarks opened #2950 "Difference in number of .csync_journal files between empty and non-empty directories"
### Steps to reproduce

1. Install 8.0.2 Server
2. Install 1.8 client from http://download.opensuse.org/repositories/isv:/ownCloud:/community:/testing/xUbuntu_14.10
3. Run smashbox test lib/test_slowwrite.py
4. The test fails due to there being a discrepancy in the number of files expected.
5. Run the same test using 1.7.1 client and it passes.

### Expected behaviour

The test should pass with bo

[2015-03-12 05:06] nekoal commented on #2792
@ckamm Thank you. Tested 1.8.0.4826-nightly20150311 and 1.8.0.4827-nightly20150312. For all 4 files made conflict files in both directions. Other tests schemes also work for me. I'm out of ideas how to test it more.
This issue can be closed. As well as #1938 (I can't reproduce it with client builds 4764 and later, so it fixed before 1.8.0-beta2).

P.S. About empty lines - it's lines when conflict

[2015-03-12 05:12] phrend commented on #1864
I just installed Owncloud 8 on my shared hosting with a self signed cert. I can log in from the web just fine (https is forced via owncloud settings, and via .htaccess), but the OS X client (1.7.1 build 1655) is giving me these errors. (I did try removing my .htaccess to see if the behavior would be any different, but it was not.)

[2015-03-12 05:26] ckamm commented on #1938
@maituikas In #2792 @nekoal suggests that htis bug is fixed with 1.8.0-beta2 and later. Can you confirm?

[2015-03-12 05:27] ckamm commented on #2792
@nekoal Thanks, that sounds good!

I'll look at the other issues you mentioned.

[2015-03-12 05:27] #2792 closed

[2015-03-12 06:15] nekoal commented on #1938
@maituikas For correct test you need update all clients which using this folder with shortcut and delete old unneed shortcuts over owncloud web interface on your server. If updated only one client of two clients new shortcut must be created then deleted on old client 'cause it test other side client. (on old client you delete it manually then new client delete it on sync).

[2015-03-12 08:02] guruz commented on #1864
@phrend We use a different network library in 1.8.0beta2 (or the rc1 coming out today). Do you want to retry?

[2015-03-12 08:10] guruz commented on #2950
The -wal and -shm are expected files.
Possibly sqlite3 does not create them when nothing is written into the DB.

Maybe the solution would be to not count those 3 files and just expect the existance of .csync_journal.db

[2015-03-12 08:12] guruz commented on #2949
Do you mean it aborts the sync and does not continue?

Need to have a look what this exactly is, is it containing hard links?

[2015-03-12 08:17] lmaestro commented on #2948
I can't reproduce on OS X 10.10.2

[code]

[2015-03-12 08:43] lmaestro commented on #1938
@maituikas Please reopen if you can reproduce the problem . Thx

[2015-03-12 08:44] lmaestro commented on #2911
@LukasReschke Please reopen if you can reproduce it.

[2015-03-12 08:44] #2911 closed

[2015-03-12 08:51] michaelstingl commented on #2949
@guruz I will ask the user if the client syncs other files while he stuck at this file.

**I created example file:**
S3-ownCloud/Shared/owncloud/support/github-issues/client/2949

I don't think the sparsebundle contain hard links. If you open the sparsebundle, then the mounted volume can contain hard links, created by TimeMachine for example. But this has nothing to do with the file structure of t

[2015-03-12 08:55] guruz opened #2951 "Schedule Quota job only when Settings dialog is displayed or Tray menu is clicked?"
I think @ogoffart had suggested this some days ago.

CC @PVince81 who had been wondering about request amounts.

[2015-03-12 09:01] ckamm commented on #2896
Please test again. :)

[2015-03-12 09:14] lmaestro commented on #2923
No message when I try it
![screen shot 2015-03-12 at 10 13 34 am](https://cloud.githubusercontent.com/assets/4689430/6615033/859ba404-c8a0-11e4-873e-a433c086440c.png)

[2015-03-12 09:17] lmaestro commented on #2113
Fixed in version 1.8.0-nightly20150312(build2120)

[2015-03-12 09:17] #2113 closed

[2015-03-12 09:19] danimo opened #2952 "Get rid of QApplication subclass to catch crashes on startup"
See #2109

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9472088-get-rid-of-qapplication-subclass-to-catch-crashes-on-startup?utm_campaign=plugin&utm_content=tracker%2F216457&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F216457&utm

[2015-03-12 09:21] lmaestro commented on #2233
Fixed in version 1.8.0-nightly20150312(build2120)

[2015-03-12 09:21] #2233 closed

[2015-03-12 09:31] danimo commented on #2109
Last issues sorted out.

[2015-03-12 09:58] lmaestro commented on #2896
Fixed in version1.8.0-nightly20150312 (build 2121)

[2015-03-12 09:58] #2896 closed

[2015-03-12 11:13] nazar-pc commented on #659
OK, with 8.0.0-rc1 if client already running and I'm trying to run it again - main window appears, this is really HUGE progress, but still no icon:(

[2015-03-12 11:13] dragotin opened #2953 "[1.8.0rc1] Build error on not-so-up-to-date distros"
on openSUSE 12.3 we encounter this build problem:
[code]
Please do not use the latest and greatest C++ 11 features.

[2015-03-12 11:16] ckamm opened #2954 "Uploading files larger than 2GB fails on windows"
When uploading a huge file the upload fails with "Unknown error" for chunk 410. Log:

[code]

The upload fails just as the chunk lies beyond the signed 32bit boundary.

[code]

[2015-03-12 11:23] ckamm commented on #2954
QFile::seek() returns false with the big value.

[2015-03-12 11:25] ckamm commented on #2954
Disabling the Windows-specific code in openFileSharedRead() makes the seek() work.

[2015-03-12 11:31] jnfrmarks commented on #2950
I agree that I won't count the .csysnc_journal files; I just wanted to be sure that the  additional files were expected.

[2015-03-12 11:31] #2950 closed

[2015-03-12 11:56] ckamm commented on #2954
Worked around it by doing the seek natively on windows, testing now.

[2015-03-12 12:42] maituikas commented on #1938
Hi, thanks for the reply! As I am unable to update all the clients at once that use the fileserver then I tried the scenario that nekoal suggested: Updated one of the clients to 1.8.0 (downloaded ownCloud-1.8.0.4806beta2-setup.exe from oc official page), then created a new shortcut file in an old client which was then synced to the new client file source, then deleted the same file through the old

[2015-03-12 13:28] cooper-42 commented on #2954
Hi, I have this issue with our server. If you are interested I could help test the fix.

[2015-03-12 13:41] ckamm commented on #2954
@cooper-42 That'd be nice. Grab tomorrow's snapshot build from http://download.owncloud.com/desktop/daily/ and give it a spin.

[2015-03-12 13:42] cdamken opened #2955 "409 Conflict on file deletion"
When I delete a file locally, it doesn't get deleted from the ownloud. The comment that appears in the Activity tab of the client says "409 Conflict". In fact, the file disappears from the cloud (that is, it gets moved into "Deleted files" on ownCloud) only when I erase it permanently from the Recycle Bin on my computer.

It seems like a bug to me... or is it supposed to work like this? My client

[2015-03-12 13:57] danimo commented on #2954
@cooper-42 What do you mean "with our server"? Syncing with large files against the server on Windows, or do you see problems with downloading/uploading/syncing big file at all?

[2015-03-12 14:07] cooper-42 commented on #2954
ownCloud is running on an ubuntu server. I'm syncing it with a windows 2012 server. The large files are on the windows server. I can upload the with the webinterface with no problems. It's "just" the client that has problems.

[2015-03-12 14:22] cachitas commented on #2857
I also have this problem (Ubuntu 14.04). No tray icon though owncloud is running.
Versions:
`owncloud-client` 1.7.1
`qt5-default` 5.2.1+dfsg-1ubuntu14.2
I kill it and I run it again like `$ owncloud & exit`.

[2015-03-12 14:29] dragotin commented on #2955
Both logfiles are exactly the same.

But I think here is what happens: The user syncs the entire path d:\, the whole partition. The partition has it's own trashbin which is also synced, even though it is not an ordinary dir. The client detects the file ```bookmarks.html``` as renamed, probably into the trashbin.

The solution to this is: We will add the Trashbin directory name to the blacklist so

[2015-03-12 14:33] jturcotte commented on #2953
Reportedly fixed by 0f84510e6f022a54ccce2bae023c0698af453627

[2015-03-12 14:33] #2953 closed

[2015-03-12 14:40] cdamken commented on #2955
@dragotin could you add the Recycled directory to the default ignore list?

Thank you in advance :+1:

[2015-03-12 14:46] sirio81 commented on #2572
I still get this problem with 1.7.1 on Mac OS X Server 10.6.8.

/Applications/owncloud.app/Contents/MacOS/owncloud
dyld: Library not loaded: /usr/lib/libc++.1.dylib
  Referenced from: /Applications/owncloud.app/Contents/MacOS/../Frameworks/QtWidgets.framework/Versions/5/QtWidgets
  Reason: image not found
Trace/BPT trap

[2015-03-12 14:48] danimo commented on #2955
The name is `$Recycled.Bin`.

[2015-03-12 14:57] maituikas commented on #1938
btw, how can I reopen the issue here...

[2015-03-12 15:35] phrend commented on #1864
@guruz I'd be happy to try another version. I see those builds in the git repo, but do you have compiled versions available somewhere as well? I looked around, but didn't find any.

Thanks!

[2015-03-12 15:36] RealRancor commented on #1864
@phrend
See the announcement mailing here:

http://owncloud.10557.n7.nabble.com/ownCloud-Client-1-8-0-RC1-available-td14744.html

[2015-03-12 15:39] nekoal commented on #1938
@maituikas It look for me as third old client upload it back after delete on first and second clients. Suggested scenario work for only one old client. I think updating other clients help you.

[2015-03-12 15:41] d--j commented on #2572
This looks like another problem. Not finding `/usr/lib/libc++.1.dylib` is probably more likely to be an indicator that the ownCloud client is not compatible with your OS.

If you execute `ls -l /usr/lib/libc++*` in Terminal, what does it say? For me on Yosemite its:
[code]

[2015-03-12 15:47] danimo commented on #2572
@sirio81 OS X 10.6.8 is no longer supported. The minimum version is 10.7. (see also the note on the download page). owncloud.app also refuses to start with older versions, but we have no way indicate a minimum version on the command line. That said, the installer should refuse to install on 10.6.

[2015-03-12 15:50] sirio81 commented on #2572
Ok, thank you.

[2015-03-12 15:55] phrend commented on #1864
@RealRancor Thanks!

I installed ownCloud-1.8.0.2122rc1.pkg and now I'm getting a different error... after entering my login creds, I get: Access forbidden by server. To verify that you have proper access, click here (link to my server) to access the service with your browser.

When I click the link, nothing happens.

When I right-click the link, and copy the link, it is a link to my server, and I

[2015-03-12 16:02] dragotin commented on #2955
@cdamken would be great if you could test that with 1.8.0 and close the issue if it works. Thx.

[2015-03-12 16:28] jturcotte commented on #2952
It won't be easy to split QtSingleApplication out of QApplication and I'm not sure it's worth doing it just to cover the few things that we initialise after the QApplication itself.

If we want to go that far we might as well decouple libcrashreporter-qt from QApplication and install the handler even before (this also won't be easy).

So anyway I'd propose postponing the rest of this task until we

[2015-03-12 16:33] waspinator commented on #2879
I have a similar issue.

Background:
Users are managed with Active Directory, and connected to ownCloud using LDAP. The AD server, as well as the ownCloud server are running on esxi 5 and are backed up using veeam every 24 hours. A snapshot is made of each sever before backing up, and they may become unresponsive for ~10 minutes during that time.

Once LDAP goes down the ownCloud client forgets th

[2015-03-12 17:10] guruz commented on #2955
This could have also been fixed by implementing https://github.com/owncloud/client/issues/2086

[2015-03-12 17:14] guruz commented on #1864
@phrend Could you create a new issue with screenshot? (And also link to the issue here..)

CC @ogoffart @danimo @ckamm @dragotin  Shib messup?

[2015-03-12 17:33] lokimo commented on #43
+1

[2015-03-12 18:37] nekoal commented on #2792
About seconds. I check Control Panel on both Windows. Windows XP has only one format string for time and 2 strings for date (full and short). Windows 7 has 2 strings for date and 2 strings fo time. It seems client select by default short string for date and short string for time (without seconds). I see some logic but client ignored changing format in Control Panel.

[2015-03-12 19:02] Bridgesltd opened #2956 "Windows Client 1.8.0RC1 automatically closes explorer context window"
Ive just tried the 1.8.0 RC1 client and found my windows explorer menu is automatically closing itself when right clicking any folder within my owncloud data folder.
Any folder outside of that is fine.

For reference, I am using owncloud 8.0 (stable).

I have uploaded a video to show my issue:
https://www.youtube.com/watch?v=Ko5dJe621Og&list=UUuaj8bsITeLUSktm0NvGjFw

I have taken a screenshot in t

[2015-03-12 21:03] phrend opened #2957 "Access forbidden by server... error when trying to log in to a site with a self-signed cert on OS X"
I'm using OS X 10.8.5 and 10.10.2 and seeing the same behavior with the desktop client available here:
http://owncloud.10557.n7.nabble.com/ownCloud-Client-1-8-0-RC1-available-td14744.html

When configuring the desktop client to connect to my server, I enter my server address, accept my self-signed cert, then provide my user/pass, and try connect, and I get the following error:

![capturfiles-20150

[2015-03-12 21:04] phrend commented on #1864
@guruz
I created the following issue: https://github.com/owncloud/client/issues/2957

[2015-03-12 21:16] phrend commented on #2957
After noticing that the logs were trying to do some webdav stuff, I started google'n and found this page:
http://wiki.dreamhost.com/OwnCloud (yes, they are my hosting company)

I added:
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

and tried again... and it worked!

...so, sorry for the false alarm. :hankey:

[2015-03-12 22:02] michaelstingl commented on #2949
@guruz  The sync client continues to sync other files while he is stuck at this file. But the icon in the menu bar continues to show an X. So the user wouldn't know the sync continued until he opened the activity log. (Maybe that is desired behavior but it's still confusing ;-))

[2015-03-12 22:04] MTRichards commented on #2949
Perhaps we can get a yellow warning label instead of a red x?

I have the same problem on my side, and while all of my ownCloud's now
have a red x for status, they properly sync everything except 1 or 2
files that have errors.
@janborchardt

[2015-03-12 22:27] #2957 closed

[2015-03-12 23:53] actyler555 opened #2958 "Unable to upload files larger that 4 GB..."
It appears I am experiencing the same issue as described in this post:
https://github.com/owncloud/client/issues/2047

Unfortunately I wasn't able to get a clear answer on what the fix was from reading the conversation.  This particular build of ownClould started at 7.0.2 was upgraded to 7.0.5, and then again to 8.0.2..  the issue was present in all versions.  Basically as I am uploading I watch t

[2015-03-13 01:00] actyler555 commented on #2958
Update as promised.  Uploading a 6 GB file via the Windows client was successful..  So this appears to be related to uploading large files via the web UI only.

[2015-03-13 07:23] dragotin commented on #2952
Agree to what @jturcotte says. Other things benefit users more.

[2015-03-13 07:36] dragotin commented on #2949
The local path on the screenshot says */Volumes/MicroSD*. Does that mean we sync to a SD-Card here? Which file system does that have?

[2015-03-13 08:00] lmaestro commented on #2956
What windows are you using? XP?

[2015-03-13 08:04] guruz commented on #2958
Sorry, I have to forward you to https://github.com/owncloud/core
Can you find your issue there or create a new one?

This bugtracker is only for desktop sync client issues.

[2015-03-13 08:04] #2958 closed

[2015-03-13 08:04] guruz commented on #2956
@jturcotte Is this a duplicate of https://github.com/owncloud/client/issues/2898 ?

[2015-03-13 08:07] guruz commented on #2932
But 1.7.1 installed fine on that machine?

[2015-03-13 08:36] lmaestro commented on #2910
I can't reproduce it using version 1.8.0RC1 and server 8.0.2.0

[2015-03-13 08:36] #2910 closed

[2015-03-13 08:37] dragotin commented on #2898
@ubersolo sorry for my mixup with ShellExView.

[2015-03-13 08:40] apg1980 commented on #2898
latest rc1 same behaviour.
my folder Strukture:
d:\owncloud = main sync folder
on all folderd and files within the area d:\owncloud the right click dialoge didapears emediately. deeper it works.

[2015-03-13 08:48] guruz commented on #2933
@dpeger Which version of the server did you use?

@icewind1991 @PVince81 Aware of such a server issue?

[2015-03-13 09:13] Bridgesltd commented on #2956
Using windows 8.1
Ive tested the same version on my work PC running windows 7 and it works perfectly.

I would say its the same issue as #2898 who is also using windows 8.1.
It looks like he's worded his issue exactly the same as mine! Atleast I've offered a video demonstration as well.

[2015-03-13 09:18] dpeger commented on #2933
I did a fresh install using the debian packages provided by the openSUSE build service. The server version currently seems to be 8.0.0-9.

13. März 2015 09:48 Uhr, "Markus Goetz"  schrieb:
	@dpeger (https://github.com/dpeger) Which version of the server did you use?

	@icewind1991 (https://github.com/icewind1991) @PVince81 (https://github.com/PVince81) Aware of such a server issue?

	—
Reply to th

[2015-03-13 09:18] dragotin commented on #2613
I created a test build with @ckamms patch: http://download.owncloud.com/desktop/projects/cernbox/CERNBox-1.8.0.2128-nightly20150313.pkg
@moscicki if you approve that it  works well for you, we can think of adding the patch to the 1.8.0 release planned for next week.

[2015-03-13 09:25] ckamm commented on #2956
It also works for me on Win7.

[2015-03-13 09:41] PVince81 commented on #2933
This should be fixed in 8.0.2 as per https://github.com/owncloud/core/pull/14504

[2015-03-13 09:54] mcnesium commented on #2932
I installed 1.7.0 via [homebrew cask](http://caskroom.io/) and that went well, except for the [high CPU issue](https://github.com/owncloud/client/issues/2479) which is the reason I went back to 1.6.4.

[2015-03-13 10:02] ckamm commented on #2919
With the patch applied I no longer get stuck files in this situation.

[2015-03-13 10:36] dragotin commented on #2848
@MTRichards do you think it is ok to try "silenty" three times and if this fails, come up with the password dialog, because the password probably has changed on server side?

And yes, that is for 1.8.1 if you agree.

[2015-03-13 10:38] Teots commented on #43
+1

[2015-03-13 10:40] danimo commented on #43
Guys, the feature is scoped and being worked on. Every time you post a +1 not only does God kill a kitten, but _every_ developer gets a mail that he needs to process, taking more time from completing features like this. For now, it seems I'll have to lock this issue :-(

[2015-03-13 11:32] MTRichards commented on #2848
In general yes.  Sometimes this locks the user ldap account though, if set often three is the threshold for locking. Is two tries possible?

[2015-03-13 11:33] MTRichards commented on #2848
Of maybe a pause before trying again so the server can restart?

[2015-03-13 12:11] qnxor commented on #2479
I'll copy/paste my posts above (I lack the time to write a new report)

[2015-03-13 12:31] cooper-42 commented on #2954
Hi, I have sucessfully synced a 3,9 GB file with the new client! After the file reaches 100% it takes about 1 - 2 minutes for the transfer to complete, but after that, everything is fine.
If I can help you with some more testing, just let me know.

[2015-03-13 13:03] #2923 closed

[2015-03-13 13:16] raydoo opened #2959 "[OS X] Copied Links from share dialog appear in mail as SharedContact.vcf"
I am Using Client Version 1.8.0beta2 Build 2078 on MAC os 10.10.2 with Mail 8.2
when i create and Copy a Public Link in Finder, it becomes a PastedContact.vcf in Mail when pasted.

When i paste the link into Safari it works as normal, when i Copy/Paste the link from Safari, it also shows up as normal link in Mail.