[2019-01-17 20:34] guruz commented on #6911
@albatross0 Do you want to test the rc2 which contains a fix for this?
https://download.owncloud.com/desktop/testing/ownCloud-2.5.2.11135rc2.pkg

[2019-01-17 20:36] guruz commented on #6911
Woops, meant to give you the Windows link :)

[2019-01-17 20:37] guruz commented on #6942
We (mostly @ckamm ..) made some patches that could fix this. They made it into the rc2.
Could you give this a try?
https://download.owncloud.com/desktop/testing/ownCloud-2.5.2.11135rc2.pkg

[2019-01-17 20:40] ChrisEdS commented on #6974
Copies now the `version`. (2.5.2rc2 (build 11135)

[2019-01-17 20:40] #6974 closed

[2019-01-17 20:41] tomekwojcik commented on #6942
@guruz I’ll install it tomorrow on my MBP and see how it goes. Either way, thanks for your work. It’s much appreciated :).

[2019-01-17 20:41] guruz commented on #6911
@albatross0 Do you want to test the rc2 which contains a fix for this?
https://download.owncloud.com/desktop/testing/ownCloud-2.5.2.11335.11186-rc2.en-US.msi

[2019-01-17 20:41] Rene33 commented on #6896
Thanks!
It is installed! We have now to wait and see.

[2019-01-17 20:42] guruz commented on #6822
This should be fixed in 2.5.2 rc2.
Please try it out: https://download.owncloud.com/desktop/testing/ownCloud-2.5.2.11335.11186-rc2.en-US.msi
And re-open the issue if needed. (and if it works also comment if you want..)

[2019-01-17 20:42] guruz commented on #6904
@mirekys The 2.5.2 rc2 should have the fix for this.
Please test.. https://download.owncloud.com/desktop/testing/ownCloud-2.5.2.11335.11186-rc2.en-US.msi

[2019-01-17 20:45] ChrisEdS commented on #6641
Sorry guys still not working with `2.5.2rc2 (build 11135)`

![image](https://user-images.githubusercontent.com/33026403/51347702-1a9c0480-1aa1-11e9-9c5d-d23e414085a9.png)

[2019-01-17 21:44] lazawan commented on #6981
@guruz ok , Macos system uses case-insensitive, that means ,it is ok 😉

[2019-01-17 21:48] #6981 closed

[2019-01-18 08:43] albatross0 commented on #6911
@guruz Thank you for letting me know.
It works properly in my environment.

[2019-01-18 08:48] faramir commented on #6982
One more comment - maybe important one - one of the servers that I'm syncing with, uses old version of ownCloud server (9.0.10.2). However, the folder from recently used is from another server.

[2019-01-18 09:49] lazawan commented on #6904
2.5.2 rc2 is tested and looks to be working without problem
![screenshot from 2019-01-18 10-47-13](https://user-images.githubusercontent.com/44814084/51378966-a5671880-1b0e-11e9-9b25-6acadb199906.png)

[2019-01-18 09:54] ogoffart commented on #6877
Maybe the database is corrupted and it is the first statement that runs so that's where it fails.
But if it were not there it would fail later.  (this is just a hypotheses, i don't know if that's true)

I don't recall exactly, but it it tried and it does not work. Maybe I missed something.

[2019-01-18 09:55] ogoffart commented on #6825
Closing issue, please re-open if you have more information

[2019-01-18 09:55] #6825 closed

[2019-01-18 10:16] ogoffart commented on #6985
If you are willing to give me an account on your server, i can have a look at it.

[2019-01-18 10:51] ogoffart commented on #6989
Issue #6887 is still open, we did not find the cause of the problem. Please comment on that issue.

[2019-01-18 10:51] #6989 closed

[2019-01-18 11:06] jnweiger commented on #6975
SUSE obs still has several http vs https inconsistencies, making our test suite fail. added a docker/debian9.sh entry point to manually run one of the affected platforms.
Heureka: https://gitlab.com/ownclouders/client-linux-tests/pipelines/43861863 succeeded with 252rc2

[2019-01-18 11:48] ogoffart commented on #6988
That's expected:  left is using the "oxygen" style,  right is using the "breeze" style
You can see that both the folder icon, the sync icon, and the close icon adapt to the style.

[2019-01-18 11:48] #6988 closed

[2019-01-18 12:00] lazawan commented on #6844
@ogoffart i have just tested the 2.5.2 client on macos 10.4
virtual-files-function works fine but now there is problem with folders
please see the issue #6977

[2019-01-18 12:04] ogoffart commented on #6987
You seem to describe a problem on the server rather than a problem on the client.

Btw, When I tried with the demo server, i get the error `File name contains at least one invalid character` which seems correct.

[2019-01-18 12:18] lazawan commented on #6764
@guruz  i have just tested the new client 2.5.2 on windows 10 ,and it works fine :-)

[2019-01-18 12:23] guruz commented on #6985
If I understand @th3boz correctly, she/he could fix it by enabling ALPN in Apache?

(Note that in theory we could use QNetworkRequest::Http2DirectAttribute to avoid this, but I think this should be just done in server with ALPN)

[2019-01-18 12:24] ckamm commented on #6844
Continued in follow up ticket

[2019-01-18 12:24] #6844 closed

[2019-01-18 12:25] #6764 closed

[2019-01-18 12:25] guruz commented on #6904
@lazawan thank you
@mirekys Please report if with your setup there is any issue still

[2019-01-18 12:25] #6904 closed

[2019-01-18 12:30] th3boz commented on #6985
@guruz .. well.. I think that in the previous post I wrote something wrong, sorry. I can’t enable the APLN on the server because the hosting provider does not permit it. But I was thinking: if the problem is the APLN, why it does not occour with the previous version of ownCloud client? Right? Thanks!!

[2019-01-18 12:34] guruz commented on #6911
@albatross0 great:)

[2019-01-18 12:34] #6911 closed

[2019-01-18 13:04] guruz commented on #6975
GitHub release published -> https://github.com/owncloud/client/releases/tag/v2.5.2-rc2

FYI @hefee @dragotin

[2019-01-18 13:41] guruz commented on #6975
Auto updater PR: https://github.com/owncloud/enterprise/pull/3099

[2019-01-18 13:42] guruz commented on #6975
@tboerger @jnweiger Is the testpilots@ mailing list broken? i didnt get a post confirmation yet
https://mailman.owncloud.org/pipermail/testpilots/

[2019-01-18 13:44] th3boz commented on #6985
@ogoffart I just sent to you via mail (I took it in your profile). Thank you vero much!!!

[2019-01-18 14:36] jnweiger commented on #6975
auto updater PR done. (no idea about broken mailing lists)

[2019-01-18 14:37] jnweiger commented on #6641
@guruz Please remove this from the Changelog and Release-notes of 2.5.2 unless we expect a post rc2 fix.

[2019-01-18 15:41] jnweiger opened #6990 "Wizzard: wrong german translation for "Ask for confirmation before synchronizing e&xternal storages""
## tested 252rc2 on linux mint
The wizard when connecting a new connection has two possible issues
a) it inherits the default for maximum folder size(47MB in this case) from somewhere.
b) the line describing the external storage setup appears truncated at the end (Grenze: ...?)

![image](https://user-images.githubusercontent.com/1108546/51396698-e0357480-1b3f-11e9-91ad-fafa36ac448b.png)

Behaviour

[2019-01-18 18:25] michaelstingl commented on #6831
Boxes come back with Qt 5.12.1:

![cursor_and_macos_10_14_and_macos_10_13](https://user-images.githubusercontent.com/214010/51405486-bb003080-1b56-11e9-95ba-d9b111f756b0.png)

Thanks @dschmidt for building it!

[2019-01-18 18:32] michaelstingl commented on #6839
No change in first Qt 5.12.1 build

[2019-01-19 16:41] JacquesLeRoux commented on #298
Thanks " phil-davis commented Aug 30, 2015", works like a charm :)

[2019-01-20 13:46] emente opened #6991 "Winclient forcibly adds owncloud-path to user given url"
### Expected behaviour
Installed OS-X client, added  http://server/pub/oc/ as path to owncloud, everything worked.

Installed Win client, added http://server/pub/oc/ as path to owncloud, client reported 404 error with following url: "/pub/oc/owncloud/status.php" was not found on server.

### Actual behaviour
- Win-client should use user-given path as-is and not add /owncloud/

### Server configura

[2019-01-21 08:50] tboerger commented on #6975
The MX record have been fixed in friday evening.

[2019-01-21 09:22] ogoffart commented on #6986
Less, usually, setting `LANG=C` means the FS should not have any non-ascii filenames. So errors are expected. However, the sync should continue.
But I was not able to reproduce this on master.  (I've set the milestone to 2.6 because is is a strange setup)

I don't get what you mean here.
If someone post a letter in a english mailbox with the address written in chinese, how is the postman supposed

[2019-01-21 09:38] ogoffart commented on #6990
There is only one global option for all accounts for that.  So changing this value changes the global options, and so it inherits this from the global option.
The other checkbox about the external folder is also a global option.

If you tell me that it does not make sens to have a global option there, i'd agree with you. But that's how we were told to do it.

That's a mistake in the german transla

[2019-01-21 15:44] jnweiger commented on #6881
How can we test this properly?

## tested 252rc2 on linux mint tara
My sync folder still contains ._sync_ffe9784ffc22.db-shm and ._sync_ffe9784ffc22.db-wal files.
Is this an indicator that the patch is not present in 252rc2? -> BAD

[2019-01-22 06:58] ckamm commented on #6881
@jnweiger The patch is in the rc and it worked in my tests. Maybe these files linger if they were present before. Can you try whether they're recreated on client start if you delete them while the client isn't running?

[2019-01-22 07:11] ckamm commented on #6980
The download size limit and external storage download limit currently apply only to selective sync. It's plausible they could be generalized for vfs.

[2019-01-22 07:16] ckamm commented on #6776
@wdehoog The empty username is normal (again a QtKeychain thing). When I set up an account with client certs I get three entries: `ownCloud_${username}:${url}:0`, `ownCloud_${username}_clientCertificatePEM:${url}:0`, `ownCloud_${username}_clientKey:${url}:0`. You're saying you only get one entry?

[2019-01-22 07:40] ogoffart commented on #6985
@th3boz The credentials did not work.

[2019-01-22 10:02] lazawan opened #6996 "three points on branded-client-GUI 2.5.2 on ubuntu and debian are missing"
Hi ,

three points are missing in the user-interface on 2.5.2 branded-client
i have tested for ubuntu 18.10 and 16.04  and debian 9

![screenshot from 2019-01-21 16-32-40](https://user-images.githubusercontent.com/44814084/51530427-343fa200-1e3b-11e9-8bec-815c92d9bef2.png)

[2019-01-22 10:46] lazawan commented on #6996
@dschmidt  i just updated my post , look up ;)

[2019-01-22 11:01] michaelstingl commented on #6996
Needs the SVG package. Maybe packaging issue… Compare installed packages with the ones from the unbranded client?

[2019-01-22 12:34] dschmidt commented on #6996
Huh? what about the last one in the list?

[2019-01-22 12:45] lazawan commented on #6996
@dschmidt he asked about if it is not there ,but it is there :P
he thought , the package is missing

[2019-01-22 15:04] jnweiger commented on #6787
## tested 252rc2 on macos 10.13.6
* connected client to a local test server (fast connection)
* moved a tree of 3700 file into the sync folder. top level of the tree has 1100 files and many subdirs.
* client syncs perfectly fine to the server. OK-

* log out client from server
* remove 3700 files from client,
* log in back, -> keep files
* client syncs back everything fine. OK.

[2019-01-22 15:06] jnweiger commented on #6787
It probably needs a very specific setup to cause a crash? Structure of tree, direction, type of files, race conditions?

[2019-01-22 15:08] mmattel commented on #6787
Cant test atm as I am away from the mac where I coud do testing...

[2019-01-22 15:24] jnweiger commented on #6896
## tested 252rc2 on macos 10.13.6 and 10.14
Some manual torture test with 3700 files up and down looks good. No crashes. -> OK

[2019-01-22 15:43] jnweiger commented on #6942
## tested 252rc2 on macos 10.13.6 and 10.14
manual torture test with 3700 files syncing up and down.
and also doing other things, with the client open in background. no crashes seen -> GOOD

[2019-01-22 15:55] jnweiger opened #6997 "client 252rc2 on macos 10.14 shows multible tabs in the settings windows"
In a tabbed window pane, only one tab should be active at a time.

here is a screenshot where two tabs are open
![image](https://user-images.githubusercontent.com/1108546/51547196-10458600-1e66-11e9-8438-c458954b5d57.png)

Reproduced by rapid clicking back and forth between 'Activity' and the sync account tab 'demo@demo.owncloud.org' while the client is in disovery phase. It works only once after

[2019-01-22 16:00] jnweiger opened #6998 "macos 10.14, client 252rc2: double click on desktop icon does not open settings"
macOS normally does not install a desktop icon.
I am using finder to navigate to Applications, then drag the icon of the ownclod client to the desktop.

This desktop icon works well to start the client. A trayicon appears after one double click.
A second double click is expected to open the settings dialog. It does not.

[2019-01-22 16:49] jnweiger commented on #6975
@guruz @michaelstingl  Good news
@lazawan and myself are done with testing of 252rc2. Results-overview: https://cloud.owncloud.com/index.php/s/Aws6TGySyRs12ks minor issues seen, okay to proceed.

[2019-01-22 16:59] michaelstingl commented on #6975
Awesome – great job! Thanks a lot for your hard work!

[2019-01-22 17:43] jnweiger commented on #6930
## tested on macos 10.14
crash not reproducable. -> GOOD

[2019-01-22 17:59] jnweiger commented on #6881
wal and shm files get created even in a fresh sync folder. Seen on macos and linux.

[2019-01-22 18:10] jnweiger commented on #6911
## tested 252rc2
issue-owner confirmed ,it works fine

[2019-01-22 19:16] mmattel commented on #6822
@jnweiger I am currently not able to test because I am for the next two weeks on the road and do not have access to my Windows test environment.

[2019-01-22 23:45] martyf commented on #6942
I've been running RC2 since Friday, and not a single crash (so far).

I've had to reboot once - prior to reboot, memory usage was higher (65-ish), but after a reboot, it's down towards 35-40ish.

But no crashes.

[2019-01-23 08:59] ckamm commented on #6881
Oddly enough I couldn't reproduce the issue on linux. Could you test whether my #6999 improves behavior for you?

[2019-01-23 09:16] ckamm commented on #6787
@jnweiger Yes, we've never been able to systematically reproduce this problem. The best guess is that it's related to frequent opening and closing file-open dialogs that establish a connection to the sync client to show the right overlay icons for owncloud files.

[2019-01-23 13:15] Rene33 commented on #6896
So far so good. It has been running for 6 days, without any crash...

[2019-01-23 14:38] ChrisEdS commented on #6896
Same here. I haven't seen a crash the whole week. Good work guys!

[2019-01-24 10:17] lazawan commented on #6885
@ckamm i tried to reproduce it again on the owncloud-client 2.5.2 ,but i didn't get it again

[2019-01-24 16:10] lazawan opened #7001 "reproducible data loss when file is renamed and virtual file suffix is added at the same time"
Hi there ,

operating system  : Ubuntu 18.10;  client 2.5.2rc2

i think title says a lot , simply follow the steps to reproduce the data loss :
- enable virtual-files Feature
- delete all files in sync-folder then a message pops up ,please select keep files
- let's suppose we have 2 files with following extensions :
something.txt.owncloud_virtual
something.pdf.owncloud_virtual
- please download th

[2019-01-24 17:02] jnweiger commented on #7001
Also reproducable with a windows client. Ouch!

[2019-01-25 08:36] guruz commented on #6975
Why does cloud.owncloud.com not have the text editor app installed? :p

[2019-01-25 08:37] michaelstingl commented on #2616
@MShekow thank you very much for reporting this issue. With 2.5.x, the Win Installer got a full rewrite and is *.MSI based now. It would be very helpful if you could open a new issue with the relevant information, steps to reproduce etc.

[2019-01-25 08:46] guruz commented on #2616
@MShekow even better try 2.5.2-rc2 not 2.5.2 -> https://github.com/owncloud/client/releases/tag/v2.5.2-rc2

[2019-01-25 09:38] dragotin opened #7002 "2.5.2 rc2: Tarball does not contain docs-theme"
When trying to update the openSUSE client package to 2.5.2 rc2 I found that building the docs fails with the following error:

[code]
In the 2.5.2 tarball, the directory `doc/docs-themes` is empty. The 2.5.1 tarball contains themes. Should these be restored for 2.5.2?

[2019-01-25 09:49] dragotin commented on #7002
I copied the docs-themes directory back to the 2.5.2 tarball and the packages build again.

Do you want to resurrect the data in there?

[2019-01-25 09:51] lazawan commented on #7001
reproducible with Macos client as well , i have just tested it

[2019-01-25 10:04] dragotin opened #7003 "Truncated Text under Tab Icons"
An image says it all:

![truncated_tabs](https://user-images.githubusercontent.com/1070214/51739033-cb516780-2090-11e9-95f5-02cfc4135b16.png)

That makes the information rather useless...

It started with 2.5.0 or 2.5.1 (dunno...) and is also there in 2.5.2 on Linux Desktop (KDE).

[2019-01-25 10:23] dragotin commented on #6454
Maybe a few tabs like General, Network and Account can go behind a drop down, like in Firefox?
<img width="597" alt="menu" src="https://user-images.githubusercontent.com/1070214/51740153-8a0e8700-2093-11e9-99d5-422ee6187454.png">
(see artistic red arrow, I love gimp :-/ )

[2019-01-25 12:07] jnweiger commented on #6975
https://gitlab.com/ownclouders/client-linux-tests/pipelines/44782144 succeeded with owncloud-client-2.5.2 final.

[2019-01-25 12:45] MShekow commented on #2616
Jesus, sorry, this bug actually affects Nextcloud's desktop client. Owncloud 2.5.1 setup works fine. I'll report the bug in the correct respository.

[2019-01-25 12:58] guruz commented on #6975
@jnweiger Can you move the following files (incl the *sig and *asc) from testing/ to stable/ ?

https://download.owncloud.com/desktop/testing/ownCloud-2.5.2.11383.11232.msi
https://download.owncloud.com/desktop/testing/ownCloud-2.5.2.11383.11232.en-US.msi
https://download.owncloud.com/desktop/testing/ownCloud-2.5.2.11198.pkg
https://download.owncloud.com/desktop/testing/owncloudclient-2.5.2.11325-

[2019-01-25 13:41] jnweiger commented on #6975
ownCloud-2.5.2.11325.11181-rc1.en-US.msi            owncloudclient-2.5.2.11325-rc1.tar.xz.asc  testpilotcloud-2.5.2.11384.11233.en-US.msi
ownCloud-2.5.2.11383.11232.en-US.msi                testpilotcloud-2.5.2.11199.pkg             testpilotcloud-2.5.2.11384.11233.msi
ownCloud-2.5.2.11383.11232.msi                      testpilotcloud-2.5.2.11199.pkg.sig         testpilotcloud-client-2.5.2.11384.2

[2019-01-26 16:44] sbgraphic commented on #6942
Hello, Just to let you know that I also have random similar crash since around two weeks, specially after updating to the client 2.5.1 (build 10818).
OSX ElCapitain 10.11.4
Mac Pro 3,1  3.2 GHz Quad-Core Intel Xeon
(I know it's quite old hardware). Did not try RC2 yet

[2019-01-26 20:09] NoNaym opened #7004 "[Windows] Cannot open pinned OwnCloud folder or Recent Folder ownCloud folder from Windows taskbar Explorer right click menu while OwnCloud client is running"
I like to right click on the pinned Windows Explorer icon that is on the Windows taskbar in order to open one of my pinned (or “Quick access”) folders. Recently I noticed that while the OwnCloud Windows client is running (on Windows 10), my primary owncloud folder (and any other folder inside) which I have pinned to Windows Explorer refuse to open when right clicking on the Window Explorer taskbar

[2019-01-27 18:12] paulmillar commented on #6942
Hi guys,

Do you happen to know when the next version of ownCloud client (2.5.2) will likely come out?

Cheers,
Paul

[2019-01-27 18:35] guruz commented on #6942
@paulmillar @sbgraphic The final is out (with the potential fix) but not announced yet. Please try it out: https://github.com/owncloud/client/releases/tag/v2.5.2

@martyf Still no crash? :)

[2019-01-27 22:30] martyf commented on #6942
Correct, no crash yet.

[2019-01-28 09:19] ckamm commented on #7001
Yes, simpler reproduction:
- have test.txt synced
- rename to other.txt.owncloud
test.txt will be deleted and other.txt.owncloud will be ignored.

The sync engine sees this as a deletion of test.txt and the creation of an erroneous placeholder file other.txt.owncloud.

What's the expected behavior? Renaming test.txt to other.txt on the remote and dehydrating other.txt.owncloud?

I expect a similar

[2019-01-28 11:34] lowlyocean commented on #4557
The way conflict handling is done right now is frustrating. I have hundreds of files in conflict because my server was down for a while, and now all of my local (more recent) files have been RENAMED so that my applications use stale data. This should not be default behavior, at least for users that are using ownCloud as a simple backup solution for their primary machine. Am I missing an obvious "b

[2019-01-28 11:59] guruz commented on #7003
That's with the distro's Qt right?
Which Qt version does the about dialog claim?

[2019-01-28 12:24] lazawan commented on #6885
@ckamm @michaelstingl   sorry , i just managed to reproduce it on windows and there are the logs :

01-28 04:14:39:795 [ info sync.database ]:	sqlite3 locking_mode= "exclusive"
01-28 04:14:39:795 [ info sync.database ]:	sqlite3 journal_mode= "wal"
01-28 04:14:39:810 [ info gui.folder.manager ]:	Schedule folder  "1"  to sync! Front-of-queue.
01-28 04:14:39:827 [ info gui.application ]:	Sync state c

[2019-01-28 13:00] voroyam commented on #5342
https://github.com/owncloud/docs/issues/555

[2019-01-28 13:17] jnweiger commented on #6975
The wordpress page at https://owncloud.org/download now has 2.5.2 for all platforms.

[2019-01-28 13:31] michaelstingl commented on #6975
@jnweiger could you also link the single-language *.MSI for GPO-deployments? (see https://owncloud.com/download/#desktop-clients )

[2019-01-28 14:16] jnweiger commented on #6975
Added https://owncloud.com/download/#desktop-clients  to the release checklist. TODO: find credentials.

[2019-01-28 20:02] jnweiger commented on #6975
Update the updater: https://github.com/owncloud/enterprise/pull/3112
Please someone find the typo, then merge :-)

[2019-01-29 08:33] ckamm commented on #7003
For the account, we explicitly use Qt::ElideMiddle to shorten the display name to something that fits the tool button. But for the other three items we don't. There's no other use of ElideMiddle in our code that would do that. And grepping through Qt code I think there's no eliding going on by default for tool button labels either.

My guess would be that there's a custom style at work that decide

[2019-01-29 08:59] ckamm commented on #6885
@lazawan I'm still unable to reproduce with 2.5.2, having repeated 4-7 three times.

Could you try again with a server that isn't demo.owncloud.org?

Could you try again while capturing debug logs (--logdebug or, preferably, using the persistent log-writing feature)? That would show the amount of data the client received vs the client expected, potentially hinting at what's up. Feel free to just u

[2019-01-29 09:10] ckamm commented on #4557
@lowlyocean There's currently no bulk-resolve option. #5896 is an issue about providing more conflict resolution ui help but that's not yet scheduled or even fully thought through. Until then, check out the renaming console commands mentioned above.

The client tries hard to avoid creating unnecessary conflict files. For example it'll only ever do it in situations where the server reports a file c

[2019-01-29 09:36] ogoffart commented on #7003
I noticed that since i upgraded to Qt 5.12

[2019-01-29 10:46] ckamm commented on #7003
Ah, that was a good hint. It's b2a282d7c7b8f49819bbc86ed705980438ecb04b from QTBUG-64132. Note that there's a fix c879fc2ab7c5278f1a1f7727b011479a5baafc0c about avoiding unnecessary elision that's not yet in any release.

[2019-01-29 10:53] ckamm commented on #7003
Looks like it will be fixed in 5.12.1: https://bugreports.qt.io/browse/QTBUG-72226

[2019-01-29 10:59] lazawan commented on #6885
@ckamm i managed to get it again with another server "also demo.owncloud.com"

![webp net-gifmaker](https://user-images.githubusercontent.com/44814084/51903779-50a08900-23bd-11e9-829e-6cf32ccc0394.gif)

[2019-01-29 11:13] jnweiger commented on #7003
Minor issue from my point of view, as the mouseover balloons still have the complete names.

Seen with 2.5.2 using qt-5.10.0 here:
![grafik](https://user-images.githubusercontent.com/1108546/51904141-2f8c6800-23be-11e9-8281-8f93c1e90b17.png)
Not as bad as it looks for Klaas, but also some unhelpful ellipsis there.

* 'cloud.owncloud.com' is shown in full, although lengthy.
* 'oc-fablab-nuernberg.d

[2019-01-29 11:23] jnweiger opened #7005 "Suggest improved filtering options for Activity tab"
I believe it is in general a good idea to view Activity details on a per account basis.
We already allow filtering for accounts in the 'Not Synced' tab. But we do not have such a filter for the other Activity tabs 'Server Activity' or 'Sync Protocol'.
![grafik](https://user-images.githubusercontent.com/1108546/51905048-8135f200-23c0-11e9-93bd-5892a1b310bb.png)

I suggest to allow the existing filt

[2019-01-29 11:36] lowlyocean commented on #4557
It concerns me that conflict resolution is proposed as a server-side task. I'm running on a raspberry pi and try to avoid the web interface as much as possible because it is slow to load.

[2019-01-29 12:13] ckamm commented on #4557
I agree that conflict resolution is usually a local task, that ticket is about giving users better support for resolving conflicts locally through the sync client.

[2019-01-29 12:22] lowlyocean commented on #4557
`locally through the sync client` Yes, this is good. I should clarify that I was concerned about  suggestion in https://github.com/owncloud/client/issues/5896#issuecomment-391609389

Good work so far, I've noticed lots of improvements like reduced time for client scan for changes. Very much looking forward to DeltaSync feature

[2019-01-29 13:46] ckamm commented on #6885
I can't create the situation, but could just connect to demo.owncloud.com and use your file. This doesn't look related to virtual files: It seems the "Content-Length" header that's returned says 88 but the number of bytes in the reply is 90.

Curiously, if I manually GET the file with curl, the content-length header is 90. I also printed the reply's rawHeaderPairs() in the propagation code, and th

[2019-01-29 13:50] ckamm commented on #6885
If I add "Accept-Encoding: gzip" to curl the content length will also be 88 and the returned compressed data is 88 bytes in length.

[2019-01-29 14:06] jnweiger opened #7006 "[Gnome 3] tray menu is constantly changing size"
## Client 2.5.2 on Ubuntu 18.10 wiht default gnome 3 desktop
The menue as it drops down from the icon bar constanly moves its entries left and right.
https://www.youtube.com/watch?v=mGxefUQvPKs

This is a mere nuisance, but still distracting.

Maybe there is a simple fix for that to truncate long lines?

[2019-01-29 14:07] ckamm commented on #6885
Summary of discussion about this issue with @guruz: Qt transparently decompresses gziped responses. For http1 connections it will remove the content-length header when it does the decompression. It appears that for http2 connections it doesn't. That confuses the client because it thinks the content-length for the compressed data applies to the decompressed data.

[2019-01-29 14:25] guruz commented on #6885
[code]

@ckamm Why not use the size() of the network reply?
(havent looked at the code)

[2019-01-29 15:07] guruz commented on #6885
[code]

[2019-01-29 18:26] dragotin commented on #7003
@ckamm s answer is great for me, if it is fixed in 5.12.1 I am fine. Closing this issue.

[2019-01-29 19:44] VMFnet commented on #6942
Hi y'all, I've been testing 2.5.2rc2 for about a week now and no random crashes have been occurring since.  Tested on OSX 10.11.6, macOS 10.13.6 and 10.14.3. Thanks !

[2019-01-29 20:52] dragotin commented on #7002
If you have python-Sphinx on your system (or the buildroot) the 2.5.2 tarball does not build. It fails with the error above.

[2019-01-30 04:02] ckamm commented on #6885
@guruz I think QNetworkReply::size() is the vanilla QIODevice::size() which returns bytesAvailable() for sequential devices. That's not what we want.

[2019-01-30 11:10] guruz commented on #6942
Great to hear!

[2019-01-30 11:10] #6942 closed

[2019-01-30 11:10] guruz commented on #6896
Great to hear!

[2019-01-30 11:10] guruz commented on #6787
As per the other issues, the crash is fixed :)

[2019-01-30 11:10] #6787 closed

[2019-01-30 11:20] guruz commented on #6877
Related https://github.com/owncloud/client/pull/6999

[2019-01-30 11:22] guruz commented on #6985
@th3boz @ogoffart Is there a conclusion on this issue?

[2019-01-30 11:32] ckamm commented on #6776
@wdehoog A logging patch has now been merged into the 2.5 branch. If you have time, could you see whether that gets you any information about why the writes fail?

[2019-01-30 11:36] guruz commented on #6885
@lazawan Please test this with tomorrows daily build

[2019-01-30 11:37] lazawan commented on #6885
@guruz ok will do it :-)

[2019-01-30 11:42] guruz commented on #6776
@wdehoog Note this will be only in TOMORROW's daily builds.
https://download.owncloud.com/desktop/daily/

[2019-01-30 11:44] guruz commented on #7003
Let's QA this in case we switch to 5.12.1

[2019-01-30 11:45] guruz commented on #6975
https://owncloud.org/news/desktop-client-2-5-2-release-thanks-feedback/
https://central.owncloud.org/t/desktop-client-2-5-2-release/18166

[2019-01-30 11:56] guruz commented on #6982
@faramir Would you say this is related to #7004 ?

[2019-01-30 11:56] guruz commented on #7004
@NoNaym Would you say this is related to #6982 ?

[2019-01-30 11:59] guruz commented on #7004
@NoNaym Could you also run the client with logging, especially checking for the ```SocketAPI``` related messages?

[2019-01-30 12:01] guruz opened #7009 "Release 2.5.3"
Some weeks before the release:
* [ ] Check if we should update the bundled sqlite3 (https://github.com/owncloud/client/tree/master/src/3rdparty/sqlite3)
* [ ] Check if we should update Sparkle on build machine (https://github.com/sparkle-project/Sparkle/releases)
* [ ] Ensure NSIS is up to date on the build machine
* [ ] Ensure up-to-date dependencies (e.g. [latest Qt version](http://qt-project.or

[2019-01-30 12:02] guruz commented on #7009
Because of some enterprise issues, macOS app notarization and HTTP2/Qt fixes we're thinking of doing a 2.5.3 relatively soon.

What is everybody's opinion on going to Qt 5.12.1 for this release? I'm for it..

[2019-01-30 12:03] guruz commented on #6975
2.5.3 -> https://github.com/owncloud/client/issues/7009

[2019-01-30 12:47] guruz commented on #7009
(For the record, Qt wiki says to be released January 2019.. so there is still 2 days for this to happen, but usually dates slip
https://wiki.qt.io/Qt_5.12_Release
)

[2019-01-30 12:52] guruz commented on #6997
I remember you reported this one before.

[2019-01-30 12:56] faramir commented on #6982
Yes, I've just checked that pinned elements exhibit the same problem.

[2019-01-30 12:57] guruz opened #7010 "[macOS] Icon changed in Finder but only with small icon display"
Maybe this was fixed meanwhile though

![screen shot 2019-01-30 at 13 56 59](https://user-images.githubusercontent.com/959327/51982680-fbd14100-2496-11e9-8ef9-cf9a7608a7ea.png)

vs

![screen shot 2019-01-30 at 13 55 51](https://user-images.githubusercontent.com/959327/51982681-fc69d780-2496-11e9-9d92-d6d6368550bb.png)

^^ check the lowest icon

[2019-01-30 13:20] jnweiger commented on #7009
Qt-5.12.0 for linux is not ready yet in obs. Qt-5.12.1 is not out yet.

[2019-01-30 13:22] ckamm commented on #7009
My opinion is to only update dependencies for patch releases if there is a pressing need, like a security bug or a severe issue that's solved by the upgrade. Currently I'm not aware of anything like that - and hence would stick to the same Qt version for 2.5.3.

[2019-01-30 16:18] michaelstingl commented on #7009
works for me 👍

[2019-01-30 18:09] th3boz commented on #6985
Sorry.. I did a restore of the DB and moved to another server, so I “solved” the problem.

Thanks very much to all!!

[2019-01-30 21:01] NoNaym commented on #7004
Yes, I would say these issues are related. They sounds very similar.

On Wed, Jan 30, 2019, 3:56 AM Markus Goetz <notifications@github.com> wrote:

[2019-01-30 21:02] NoNaym commented on #7004
I'll try to do this as soon as I can and will post the log shortly...

On Wed, Jan 30, 2019, 3:59 AM Markus Goetz <notifications@github.com> wrote:

[2019-01-31 09:22] lazawan commented on #6885
@guruz i have just tested the testpilotcloud from daily-build on windows ,also testpilotcloud-2.5.3.11410.11255-daily20190131.en-US.msi
and it works fine

[2019-01-31 09:36] wdehoog commented on #6776
@ckamm I just tested ownCloud-2.5.3.11409.11254-daily20190131.msi. nothing changed.
I removed the account and recreated it (account-setup.txt) it worked and sync finished. Then I restarted the owncloud client (after-restart.txt) and it could not connect anymore.

[account-setup.txt](https://github.com/owncloud/client/files/2816517/account-setup.txt)
[after-restart.txt](https://github.com/owncloud/

[2019-01-31 10:19] ckamm commented on #6776
@wdehoog Thanks for the data! I didn't expect a behavior change, but the logging has improved. I now see these warnings:
[code]
That means it's indeed a bug with writing the cert and key to storage. Unfortunately this error is a generic one upstream in QtKeychain:
[code]

Reading the `CredWrite()` documentation I think the most likely cause is that the credential blob is too large, the documentati

[2019-01-31 10:39] #6885 closed

[2019-01-31 10:51] wdehoog commented on #6776
Our certificate is probably bigger. Don't know what is stored but with some metadata 512 is filled easily. Please check your email.

[2019-01-31 11:00] guruz commented on #6776
@ckamm http://doc.qt.io/archives/qt-4.8/qbytearray.html#qCompress ? Storing on disk gives us other trouble (and is unsafe for the key)

[2019-01-31 11:08] timetofaceit opened #7011 "MINGW32-MAKE Error"
Hello,

I'm trying to build owncloud client following these instruction -
https://doc.owncloud.org/desktop/2.5/building.html. Everything goes well until 7 step. When I hit mingw32-make command I receive this error (picture):

![image](https://user-images.githubusercontent.com/47183414/52050431-30a5cc80-2559-11e9-950a-3ed8c628c4eb.png)

What am doing wrong?

[2019-01-31 11:13] dschmidt commented on #7011
@ckamm you've been using mingw until very recently - have you seen this?

@timetofaceit I recommend to use KDE Craft to build the owncloud-client. Also the official binaries are built with MSVC by now, maybe worth using that if you don't insist on a free software compiler. (MSVC at least does not cost anything for personal use)

[2019-01-31 11:31] guruz commented on #7001
(Issue moved per @ckamm internal comment)

[2019-01-31 11:35] ckamm commented on #7001
Reasons: This is complicated to fix. A fix would take a bit and probably not be in time for 2.5.3. Also, a fix in 2.5 would need to be redone against the new discovery code in 2.6, doubling the work. I think moving to 2.6 is acceptable since the feature is experimental.

[2019-01-31 11:38] guruz commented on #6985
@th3boz great!

[2019-01-31 11:38] #6985 closed

[2019-01-31 12:16] timetofaceit commented on #7011
@dschmidt @ckamm thanks for the quick answer. I have applied your fix and it works great, but when I want to start the owncloud.exe file in bin directory it asks for Qt5Core.dll Q5Network.dll and so on. How can this be fixed?

Also I would like to know how to build it using visual studio on windows as you said before?

[2019-01-31 16:39] timetofaceit commented on #7011
@michaelstingl trying to follow kde craft instructions but getting this error:

![image](https://user-images.githubusercontent.com/47183414/52069471-737e9900-2587-11e9-858e-35b0ba11887f.png)

I installed python 2.7 manually to C disk, but still no go. Any thoughts?

[2019-01-31 17:35] timetofaceit commented on #7011
Have sorted this out by not using the "craft --set version master owncloud-client" command.

[2019-01-31 18:09] timetofaceit commented on #7011
Well I builded with kde craft, but can someone tell me what to do next? How to make installation file or launch the owncloud client?

I don't know if am in the right spot after build but that's what kind of error I get now:

![image](https://user-images.githubusercontent.com/47183414/52075074-06253500-2594-11e9-97da-e310f7b2482e.png)

Any ideas?

[2019-01-31 19:49] michaelstingl commented on #7011
This is an issue tracker. For build support, please join the discussion in https://central.owncloud.org/t/building-owncloud-client-on-windows-10/17730

[2019-01-31 19:49] #7011 closed

[2019-01-31 21:55] MikeKnife commented on #7004
I have an issue, that might be related to the one above.
It started when I switched from
ownCloud-2.4.3.10188-setup.exe
to
ownCloud-2.5.0.10359-setup.exe.

I use to have only shortcuts of simple text files (program code) on the desktop. Right click and choose to open it with Scite (auto-it-editor) or with Ultra Edit Studio opens the file. (The entries for this come with the editors.)
Since the las

[2019-02-01 14:22] guruz commented on #6885
Fixed upstream too, I guess it will end up in 5.12.13
https://bugreports.qt.io/browse/QTBUG-73364

[2019-02-01 17:11] guruz commented on #7009
5.12.1 is out
blog.qt.io/blog/2019/02/01/qt-5-12-1-released/

[2019-02-01 17:23] guruz commented on #6881
Ready to test now

[2019-02-01 17:26] guruz commented on #6968
Moved to 2.5.3 as per https://github.com/owncloud/client/issues/7009#issuecomment-458943550

[2019-02-01 17:37] guruz commented on #7002
[code]

-> Is that what you need @dragotin ?

[2019-02-01 17:44] guruz commented on #6839
Wasn't that a 5.12.0 build?

[2019-02-01 18:03] guruz commented on #6996
@lazawan There is also a SVG image plugin, can you check if that one is there?
On macOS is called like this, on Linux no idea about path or name, something with qsvg:
[code]

[2019-02-01 18:06] michaelstingl commented on #6839
No, check https://github.com/owncloud/client/issues/6831#issuecomment-455641801

[2019-02-02 05:42] withit opened #7012 "owncloud: error while loading shared libraries: libowncloudsync.so.0: cannot open shared object file: No such file or directory"
### Expected behaviour
Client should launch.
### Actual behaviour
When launched on the command line, the error `owncloud: error while loading shared libraries: libowncloudsync.so.0: cannot open shared object file: No such file or directory` is returned. With the GUI, the wait cursor appears for a while (<20 seconds) before disappearing. The GUI client does not launch.

It appears that the build re

[2019-02-02 07:36] ultradyran commented on #6418
hi i am newbie here, how exactly do i change the env.var on my PC????

[2019-02-02 08:47] guruz commented on #6839
@michaelstingl @dschmidt so that was a rc or git build?
5.12.1 was only released yesterday
https://blog.qt.io/blog/2019/02/01/qt-5-12-1-released/
Would need to check if the final fixes it?

[2019-02-02 15:04] michaelstingl commented on #6418
This is an issue tracker. For support, please use https://central.owncloud.org/c/desktop

[2019-02-02 15:07] michaelstingl commented on #6839
yes, sure. @dschmidt please ping as soon we build with the final.

[2019-02-04 06:15] ckamm commented on #6776
In tests with my own client certificate Windows successfully accepts a 1233 bytes cert plus a 887 bytes key. But both are over the maximum size documented for this API. @wdehoog what Windows 10 version are you using exactly? Possibly there was a change.

Plans:
- improve qtkeychain error reporting for this case
- If confirmed that its a size issue, revamp client cert storage

[2019-02-04 06:19] ckamm commented on #6776
This diff does indeed indicate that CRED_MAX_CREDENTIAL_BLOB_SIZE changed from 512 to 5*512 - so the documentation is outdated and that explains why credential saving works for my case.

https://abi-laboratory.pro/compatibility/Windows_6.0_to_Windows_7.0/x86_64/headers_diff/advapi32.dll/diff.html

[2019-02-04 06:36] ckamm commented on #6776
QtKeychain error handling improvements: https://github.com/frankosterfeld/qtkeychain/pull/137

[2019-02-04 09:34] jnweiger commented on #6968
Linux done for 2.6.daily, https://gitlab.com/ownclouders/client-linux-tests/pipelines/45977768
Bringing qt-5.12.1 to 2.5.4 should be trivial now.

[2019-02-04 10:41] lazawan commented on #6996
the package ocqt5101-qtsvg5 is already installed , we already checked  if it exists .

[2019-02-04 11:00] guruz commented on #6996
@lazawan What does that mean? do you have libqsvg (or whatever it is called) or not? :)

[2019-02-04 11:03] lazawan commented on #6996
@guruz yep ,we have it :--)

[2019-02-04 11:13] guruz commented on #6996
@lazawan Can you paste the directory listing of the directory with those image plugins?

[2019-02-04 11:59] guruz commented on #6983
Hm, the commit above only makes sense if we also change the DLL names, e.g.
```OCOverlays.dll``` -> ```ownCloudOverlays.dll```
This would involve more changes, for example in the Makefiles and in MSI.
Postponing to 2.5.4?
CC @ogoffart @dschmidt

[2019-02-04 12:09] guruz commented on #7004
Pinned folder:
[code]

[2019-02-04 12:19] guruz commented on #7004
Wow. I rebooted my Win10 machine (it asked for updates) and now it works.
I don't get anything in the client log anymore and the Explorer folder just opens (for a pinned folder).

[2019-02-04 12:23] guruz commented on #7004
I don't find the word ```opennewwindow``` anywhere in our repository.
Seems to be a Windows thing though.

Why would this get sent as command over our SocketAPI? @ogoffart

[2019-02-04 12:40] guruz commented on #5767
Commented on https://github.com/transifex/transifex-client/issues/173#issuecomment-460235329

[2019-02-04 12:48] lazawan commented on #6996
@guruz      find /opt/owncloud | grep -i svg  ,will deliver the same result ,what i did before ,however here it is the output

![screenshot from 2019-02-04 13-47-15](https://user-images.githubusercontent.com/44814084/52209211-8349f600-2883-11e9-925d-05274bd0d0ba.png)

[2019-02-04 12:51] lazawan commented on #6996
sorry i removed the label accidentally :'(

[2019-02-04 12:53] guruz commented on #7009
Pushed a ChangeLog 9548d3cf39a0a2d1cc6acc5bc8d6d01d44c85065
We can still possibly wait today for @ckamm to change https://github.com/frankosterfeld/qtkeychain/pull/137 in QtKeyChain .. then we can have better error reporting for the enterprise issues

[2019-02-04 12:58] guruz commented on #6996
@lazawan So the image plugin for SVG is missing.
We got those on macOS:
[code]

[2019-02-04 13:04] lazawan commented on #6996
@guruz ok ,this problem is only on branded-client , i will install the normal owncloud-client and compare it with branded ,whether these images/plugin are missing or not and then let you know

[2019-02-04 13:22] jnweiger commented on #6996
daily master does not install /opt/ownCloud/qt-5.10.1/lib/x86_64-linux-gnu/qt5/plugins/imageformats/libqsvg.so on Ubuntu 18.04 -- neither with testpilotcloud-client, nor with owncloud.client. Strange.

[2019-02-04 13:37] lazawan commented on #6996
@jnweiger  @guruz  you are right , it looks so in normal owncloud-client 2.5.2

![screenshot from 2019-02-04 14-36-18](https://user-images.githubusercontent.com/44814084/52211514-61a03d00-288a-11e9-9384-60438414ca80.png)

[2019-02-04 14:17] vco1 opened #7013 "[macOS] 2.5.2 Status icons missing in Finder"
### Expected behaviour
Show status icon next to a file or folder in the Finder.

### Actual behaviour
Status icons in Finder next to files and folders are missing (again).

### Steps to reproduce
1. Open Finder window
2. Look for status icons.

### Client configuration
Client version: 2.5.2

Operating system: macOS 10.14.3

OS language: English

This error also occured with version 2.5.0 and was f

[2019-02-04 14:41] Codeberg-AsGithubAlternative-buhtz opened #7014 "client on linux forcing to use the keyring"
I am using ownCloud client 2.4.1+dfsg-1~bpo9+1 on Debian stable with XFCE desktop environment.
Please see this detailed version information.
[code]

It loosk like that ownCloud clients tries to store the password in the keyring. I don't want that but I can not see any option in ownCloud to deactivate that behaviour.

I tried a workaround with modifying the access rights and ownership of the keyrin

[2019-02-04 15:49] NoNaym commented on #7004
Sorry for the lack of responses here, but I just had a quick chance to check logs, and Windows version. I am on Windows 10 Pro 1803 (build 17134.523), and just checked for updates (none available at the moment). Here is an owncloud client log after clicking on a pinned folder:

`02-04 07:46:48:042 [ info gui.socketapi ]:	New connection QLocalSocket(0xeb85ef0)
02-04 07:46:48:048 [ info gui.socketap

[2019-02-04 18:54] dschmidt commented on #6983
@guruz What does this have to do with dll names?

[2019-02-04 21:48] jnweiger commented on #6996
Sometimes the qtsvg package is not installed at all. I'll have to investigate...

[2019-02-04 21:50] jnweiger commented on #6996
the situation is a bit fuzzy, as when the svg package was installed before for another client, it will remain installed....

[2019-02-05 07:46] faramir commented on #6982
winver says:
[code]

⚙ > System > About:
[code]

No updates are available for my system. Checked it right now.

It seems that I have more recent version of Windows 10 installed.

The frequent items still not working.

Log:
[code]

[2019-02-05 08:49] guruz commented on #6983
Our goal is to have completely different brandings, e.g. if ```CERNBoxOverlays.dll``` and ```ownCloudOverlays.dll``` diverge.
(Also looks less mysterious as a DLL name)

[2019-02-05 09:01] guruz commented on #6982
Let's consolidate in https://github.com/owncloud/client/issues/7004

[2019-02-05 09:01] #6982 closed

[2019-02-05 09:03] guruz commented on #7004
The ```opennewwindow``` is most probably coming from a second launched instance which then sends to first instance
[code]
We can fix/workaround this issue by implementing a new ```opennewwindow``` in the SocketAPI that uses QDesktopServices to open the Explorer.
Thanks for the logs.

[2019-02-05 09:03] faramir commented on #7004
_Comment from #6982 with the similar bug (but closed to consolidate bugs):_

winver says:
[code]

⚙ > System > About:
[code]

No updates are available for my system. Checked it right now.

It seems that I have more recent version of Windows 10 installed.

The frequent items still not working.

Log:
[code]

[2019-02-05 09:06] guruz commented on #7004
@faramir thanks, cause already found. See my comment above for what ownCloud client needs to implement to workaround

[2019-02-05 10:57] ckamm opened #7015 "Possible propagation bug for conflicts when the temporary can't be renamed"
The download propagation does this:
[code]

But this shouldn't work since `fn` is the filesystem path, not the path to the db item. Needs fixing and probably tests!

[2019-02-05 12:24] jnweiger commented on #6996
ocqt5101-qt5-qtsvg is miscompiled in internal obs. libqsvg.so was in the -dev package instead of in the main package. Arrgh.
-> Fixed.
internal buildservice is now recompiling the svg packages...

[2019-02-05 14:14] lazawan commented on #6996
i just tested it and  works fine , problem is solved :--)

[2019-02-05 15:02] jnweiger commented on #6996
Thanks testing!

[2019-02-05 15:02] #6996 closed

[2019-02-05 15:48] jnweiger commented on #7012
As SGRipon says in https://wiki.sgripon.net/doku.php/building_owncloud_client_for_raspberry_pi#build_a_debian_package
copying the two files one level up is a manual step in his instructions.
@withit I suggest you try to clarify with him directly why that is needed.
Without further research, I cannot tell if the involved oc-build-deb.sh is his or from owncloud.

Does that help?

[2019-02-05 18:00] CTassisF commented on #6896
I just experienced this issue on 2.5.2 too: `bp-087d5ebf-6cd9-4811-8317-aaa242190205`

[2019-02-05 19:52] guruz commented on #7009
Thanks @dschmidt for pulling in qtkeychain at https://github.com/frankosterfeld/qtkeychain/commit/430bbbefc12869cdc5c440414403d4629bebba58 for this release. (which has @ckamm 's patch merged)

[2019-02-05 20:14] guruz commented on #7009
rc1 builds rolling in.. https://jenkins.int.owncloud.com/job/client-trigger/2162/

[2019-02-05 20:33] guruz commented on #7013
@vco1 Could you try to reproduce this with 2.5.3 rc1 which we are about to release?
https://download.owncloud.com/desktop/testing/ownCloud-2.5.3.11279rc1.pkg

[2019-02-06 08:14] ckamm commented on #6896
This looks like a different issue, the backtraces are different. Unfortunately they are both pretty non-informative:
[code]

[2019-02-06 08:50] vco1 commented on #7013
@guruz After installing 2.5.3 rc1 I can confirm that the status icons in the Finder are working again.
Test (for this issue) passed.

[2019-02-06 08:55] wdehoog commented on #6776
Just did. The lines below show up in the log file. After a restart login still fails.

[code]

[2019-02-06 10:07] ckamm opened #7016 "[macOS] huge memory leak from 2.5.2 on"
OSX crash seen by @CTassisF in https://github.com/owncloud/client/issues/6896#issuecomment-460739800:

This looks different from other recent OSX issues. Unfortunately the backtraces are both pretty non-informative:
[code]

[2019-02-06 10:08] ckamm commented on #6896
Moved new issue to #7016

[2019-02-06 10:08] #6896 closed

[2019-02-06 11:00] guruz commented on #7013
Thanks a lot

[2019-02-06 11:00] #7013 closed

[2019-02-06 11:21] guruz commented on #6983
I'm not so sure. I thought we use a single global instance of the DLL (via some identifier).
I think @ogoffart @jturcotte know this stuff, I don't.

[2019-02-06 11:26] guruz commented on #6991
@emente Are you saying Windows and macOS behave differently?
This would lead to the conclusion that network wise they might have different view on the server.. Can you check from each host's Web browser if you can access the URL?

[2019-02-06 11:32] guruz commented on #7016
Full trace:
[code]

[2019-02-06 11:33] guruz commented on #7016
Events
23
Users
9

First seen

When:
    9 days ago
    Jan 28, 2019 11:14:23 PM UTC
Release:
    2.5.2 (build 11198)

[2019-02-06 13:35] lazawan opened #7018 "Starting client while already running sometimes doesn't show settings window"
steps to reproduce :
after client-configuration and client runs properly :
- go to  tray-icon in taskbar and quit owncloud
- doppel-click on owncloud-icon on Desktop >> nothing opens just owncloud-client is started in background and tray-icon in taskbar appears again
- again doppel-click >> nothing happens
- again doppel-click >> now owncloud-window opens

regards

windows 10 client 2.5.3rc1

[2019-02-06 14:09] guruz commented on #7016
managed to extract some more, but d54552a7-adb5-4907-9883-2b13e2190205 which could be same according to sentry... for that one where I have more symbols extracted

[code]
(if it is even the same crash?)

[2019-02-06 15:43] CTassisF commented on #7016
Here's another one: `bp-9861b4e5-7a9d-4a9d-aecf-344462190206`

(Not sure it will help because I guess it is the same crash as before. But I'm sending anyway just in case.)

[2019-02-06 17:19] jnweiger commented on #7009
https://gitlab.com/ownclouders/client-linux-tests/pipelines/46378600
succeeded for 253rc1 on all tested platforms.

[2019-02-06 20:32] guruz commented on #7016
Managed to get more symbols for this one, but I don't understand it.
@ogoffart @ckamm ?

[code]

So if it's really a exception, we probably need stuff it into our crash processing... I'm still confused why would this throw an exception though?

[2019-02-06 20:39] guruz commented on #7016
So it's catching an exception and quitting the thread.
https://code.woboq.org/qt5/qtbase/src/corelib/thread/qthread_unix.cpp.html#373 ?

@dschmidt do we need to get this in with breakpad etc somehow?
See also https://docs.sentry.io/clients/cocoa/advanced/#capturing-uncaught-exceptions-on-macos and https://github.com/owncloud/enterprise/issues/2926

[2019-02-07 07:46] ogoffart commented on #7016
@guruz  you can't have more information about where the exception is thrown, because this is not an uncaught excetption, but a caught exception (Qt catches the exception and then call terminate)
It is a bit unfortunate that Qt does that! Ideally Qt could print a message, or just not catch the exception and let it propagate.

So if we want to fix this bug, we should try to find out which thread tha

[2019-02-07 10:13] guruz commented on #7009
Final builds are triggered..

[2019-02-07 13:53] guruz commented on #7009
macOS smoke test OK

[2019-02-07 14:17] guruz commented on #7009
Windows smoke test OK

[2019-02-07 14:41] guruz commented on #7009
Draft release https://github.com/owncloud/client/releases/edit/untagged-7645fb4a481d7af3c434

[2019-02-07 16:08] jnweiger commented on #7009
another Wondows smoke test done. While waiting on obs to show me binaries.....

[2019-02-07 17:19] jnweiger commented on #7009
Pushed 2.5.3 packages into download.owncloud.com/desktop/stable and isv:ownCloud:desktop
publishing is not yet enabled. Waiting for the github 2.5.3 draft being published.

[2019-02-07 18:53] guruz commented on #7009
published https://github.com/owncloud/client/releases/tag/v2.5.3

[2019-02-07 18:56] guruz commented on #7009
CC   @dragotin (openSUSE) @hefee (Debian)

[2019-02-07 20:47] dragotin commented on #7009
Thx @guruz, 2.5.3 is on the way through the Institutionen: https://build.opensuse.org/package/show/KDE:Extra/owncloud-client

[2019-02-08 08:25] ckamm commented on #7016
As usual client log files would be very useful! https://doc.owncloud.org/desktop/2.5/troubleshooting.html#logging-to-a-temporary-directory

[2019-02-08 08:30] ckamm commented on #7016
I don't know whether breakpad would include it in the reports, but it could be useful to use `pthread_setname_np` on our threads.

[2019-02-08 08:48] ckamm commented on #7016
What kind of explicit client-owned QThread-objects are there though? I only see
* system proxy detection (global QThreadPool)
* zsync computations (global QThreadPool)
* checksum computations (global QThreadPool via QtConcurrent)
* windows folder watcher (manual QThread)

The other threads would relate to Qt, like the webkit thread or the networking threads.

[2019-02-08 14:37] kerlerm opened #7020 "Big files do not sync - chunks do not sum up"
### Expected behaviour
Big files should sync.

### Actual behaviour
Bigger files do not sync when using the sync client 2.5.3
Upload is possible by Webbrowser & GUI. No changes where made on the server since 10/2018 and I synced files sized about 320 MB in 12/2018. No quota is applied to the user.

### Steps to reproduce
Take file "test" with about 100-150 MB and initiate sync. Error "Chunks on se

[2019-02-08 16:58] CTassisF commented on #7016
I've enabled permanent logs and got (basically) this:

[code]

Do you need more logs than that? If so, can I send by e-mail (as those logs can contain private data)?

[2019-02-08 17:43] michaelstingl commented on #7020
@kerlerm Do you know the version that worked? `2.5.1`? `2.4.3`?

[2019-02-08 18:16] kerlerm commented on #7020
Unfortunately, I did not follow installed versions on my machine. I assume 2.4.3 still worked, 2.5.2 and 2.5.3 certainly do not. Should I try downgrading to verify?

[2019-02-09 08:59] guruz commented on #7009
https://owncloud.org/changelog/desktop-client/ is updated (thanks to @ogoffart 's merge from 2.5 to master)

[2019-02-09 17:44] guruz commented on #7016
@CTassisF (and everyone else with logging enabled).. would you try this build and then paste the log?
https://download.owncloud.com/desktop/testing/ownCloud-2.5.4.11300application_exceptions.pkg
(it's basically 2.5.3 + https://github.com/owncloud/client/pull/7022 )

[2019-02-10 13:23] xtianus opened #7023 "[Windows client] Can not copy path while owncloud client is running"
### Expected behaviour
When I click on the "Copy path" button in Explorer, I should be able to copy the path of a file or folder anywhere on my drive.

![image](https://user-images.githubusercontent.com/7997535/52534143-f77e1100-2d3d-11e9-98bd-8d6ec8f9115f.png)

### Actual behaviour
If the owncloud client is running and the file or folder is within the owncloud repository tree, nothing is copied.

[2019-02-10 13:37] EugenioLST opened #7024 "owncloud client 2.5 os x mojave 10.14.3 file extension not work"
### Expected behaviour
Hi have update mi OS X to  mojave 10.14.3
I have owncloud client 2.5 for OS X
the file extension not work

[2019-02-10 18:06] michaelstingl commented on #7024
duplicate for https://github.com/owncloud/client/issues/7013 (try [2.5.3](https://github.com/owncloud/client/releases/tag/v2.5.3))

[2019-02-10 18:06] #7024 closed

[2019-02-10 18:33] guruz commented on #7004
Wow, see also https://github.com/owncloud/client/issues/7023
What else will come up?

[2019-02-11 09:40] btamas86 opened #7025 "macOS Mojave with Dark Mode"
I upgrade client from 2.5.1 to 2.5.3 and UI is bad.
I use macOS Mojave 10.14.2 with Dark Mode.

My problem this:
![image](https://user-images.githubusercontent.com/4123828/52554831-62842200-2de8-11e9-948a-6811ffbe5bb4.png)
![image](https://user-images.githubusercontent.com/4123828/52555151-3321e500-2de9-11e9-9e23-1c8ef49447f5.png)

Fix please.
Thank You!

[2019-02-11 10:20] ChrisEdS commented on #7025
https://github.com/owncloud/enterprise/issues/3138

[2019-02-11 12:27] guruz commented on #7025
@michaelstingl @dschmidt This is maybe because you changed the macOS builder between 2.5.3 and 2.5.4 to compile with 10.14 SDK (new build machine>
Ref: https://bugreports.qt.io/browse/QTBUG-68850?focusedCommentId=408457&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-408457

I guess the way forward would be to asap get Qt 5.12.1 for 2.5.4 and check that out.
(Currentl

[2019-02-11 12:31] guruz commented on #7009
Maybe we should keep low about this release until we fixed the dark mode stuff in 2.5.4 too?
(if the Qt update fixes that)
https://github.com/owncloud/client/issues/7025

[2019-02-11 12:32] guruz commented on #7016
@CTassisF Any news?

[2019-02-11 14:25] lazawan opened #7026 "[Linux] Client not usable when running as 'root' user"
"client freezes" means as following :
one can't call owncloud-menu over tray-icon during sync
if owncloud-settings-window is open ,it doesn't react  by clicking at all till sync is over
etc ..
after testing , this problem isn't existing on Ubuntu 18.10
regards ,

[2019-02-11 14:29] lazawan opened #7027 "virtual-files feature on Owncloud client v2.6.0 with Qt 5.12.1 is missing completely"
simply VFS is not there :-`(  " i mean on all linux Platforms )

regards,

[2019-02-11 15:11] jnweiger commented on #7009
owncloud.org/download/older-versions updated. 2.5.2 (and 2.5.1)

[2019-02-11 16:23] jnweiger commented on #7009
https://owncloud.com/de/download/ and https://owncloud.com/download/ both updated by achim.

[2019-02-11 17:05] CTassisF commented on #7016
Just tried that build mentioned above. Crashed again: `bp-d594043d-1c6f-4c20-a352-ddaff2190211`

Here's the log:

[code]

Btw, UI is broken on macOS Mojave dark mode: https://imgur.com/a/ltAppOl

[2019-02-11 19:49] guruz commented on #7016
@CTassisF this is unfortunate, I'd have expected there to be another message before the "Qt has caught an exception thrown"[..]
If you run the client with those flags (from Terminal.app), will it show the ```Crash now - exception``` menu entry in the menu bar ownCloud icon that shows a better message?
[code]

[2019-02-11 19:49] guruz commented on #7016
https://github.com/owncloud/client/issues/7025

[2019-02-11 19:59] CTassisF commented on #7016
Did that. Crashed again: `bp-d0d7d4a7-c872-47c9-b429-9f74b2190211`

Terminal.app output:

[code]

[2019-02-11 21:08] guruz commented on #7016
@CTassisF thanks!
So do you have this ```Crash now - exception``` menu bar entry or not?  If you use that menu bar entry, you get a crash with log mentioning exceptions? (Just to check if you have the right build..)

This log is from the 'normal' crash you experience, right? not from clicking the ```Crash now - exception```menu bar entry?
Hummmm!

@CTassisF Can you restart the client and then use

[2019-02-11 21:11] CTassisF commented on #7016
Yes, that was a "normal" crash. Sorry, I didn't pay attention to the "crash now" instruction.

This is a "crash now - exception" crash: `bp-189359f2-7549-494e-a516-baacd2190211`

And here's output:

[code]

[2019-02-11 21:18] CTassisF commented on #7016
Here's another "normal" crash: `bp-c265b898-bfe8-4352-b199-4c9012190211`

And here's the Activity Monitor screenshot right after the crash: https://imgur.com/a/i0fQQhB

[2019-02-12 07:34] guruz commented on #7016
@CTassisF thanks! This helps.

[2019-02-12 13:15] dawn2duskpt opened #7029 "Client 2.5.2 (build 11198) | Server ownCloud 10.0.10 (stable) on raspeberry pi jessie"
External directories don't sync as virtual files or at all.

My system is a macos mojave

### Server configuration
Operating system: debian 8

Web server:  apache

Database: mysql

PHP version:
PHP 7.0.33-1+0~20181208203043.8+jessie~1.gbp2ff763 (cli) (built: Jan  3 2019 05:25:20) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Ze

[2019-02-12 13:48] jnweiger opened #7030 "crash 2.6.0 in new sqlite code on sqlite-3.7.17"
## tested on CentOS:6 and centOS:7

On a CentOS7, installed with full debug symbols from obs, it looks like this:
[code]

[2019-02-12 13:49] jnweiger commented on #7030
a) it should not crash after detecting a syntax error in the sql statement.
b) there should not be a syntax error. Do we need a specific sqlit3 version for this to work.

[2019-02-12 14:13] jnweiger commented on #7030
New code is 2.6.0 looks suspicous to me:
https://github.com/owncloud/client/blame/master/src/common/syncjournaldb.cpp#L343

[2019-02-12 14:34] jnweiger commented on #7030
Same crash on debian-8 with sqlite-3.8.7.1

[2019-02-12 14:37] lazawan commented on #7030
it works on debian 9 with sqlite-3.16.2-5

[2019-02-12 14:44] jnweiger commented on #7030
Workaround:
This hotfix helps to avoid the crash on centos:6

[code]

[2019-02-12 17:17] corneliusweiss commented on #2808
sorry for responding to this old issue, but imho this is still open.

the client does not remember cookies after a restart. (at least with basic auth)
I can see that extra cookies are stored in the cookies.db but the client doesn't use it after restart

As @danimo described initially this is a problem e.g. for sticky load balancing.

[2019-02-12 17:31] michaelstingl commented on #2808
@corneliusweiss Could you open a new issue and provide some more information? What client version? What operating system? Steps to reproduce etc… So many things changed since 2015. Thanks!

[2019-02-13 06:16] ogoffart commented on #7030
We use a ENFORCE macro to make it crash on purpose. I guess the rationale is that if there is a problem with a SQL statement, we must know about it.

Yes, we need SQLite 3.9 minimum.
Older versions won't work.
This is not a new requirement, altough this index makes it even more mandatory.

Noamrlay the cmake should already complain about it.

[2019-02-13 08:47] dschmidt commented on #7030
Can we enable the in source sqlite for old distros?

[2019-02-13 09:57] jnweiger commented on #7030
src/csync/CMakeLists.txt has

    find_package(SQLite3 3.8.0 REQUIRED)
    find_package(SQLite3 3.9.0 REQUIRED)

Not sure why there are contradictory statements there, and why it even compiles on CentOS6 then...

[2019-02-13 10:43] dschmidt commented on #7030
The FindModule might not set the version in the right format so CMake can't check... Needs looking at certainly.

[2019-02-13 10:44] dschmidt commented on #7030
The different version numbers stem from different find_package invocations... the numbers are the required not the found version. Only 3.6.20 seems to be an actually found version.

[2019-02-13 12:38] ckamm commented on #6977
@lazawan I couldn't reproduce it with master or 2.5 on linux. Concrete steps I tried:
- Set up a sync folder with vfs enabled
- Create new test/ and test/foo/ directories and test/file1, test/file2, test/foo/test3 files.
- Use the shell context menu to "Download files" and "Replace files by virtual file" on the test/ folder several times in sequence.

As far as I can observe the contained files sw

[2019-02-13 13:14] lazawan commented on #6977
@ckamm i think ,bug was on Macos 10.4 reproducible , i can't remember  if it is on Linux as well

[2019-02-13 14:59] timetofaceit opened #7034 "No Qt platform plugin could be initialized. Windows Client"
Hello,

I have compiled the client for windows from open source. On my PC client is starting and working normal as it should. If am trying to launch the bin directory from the other PC I get this error:

![image](https://user-images.githubusercontent.com/47183414/52720470-58ad1b00-2fb0-11e9-979a-70e33c58807d.png)

I used windeployqt from this link -> https://doc.qt.io/Qt-5/windows-deployment.html#

[2019-02-13 15:17] dschmidt commented on #7034
What's the content of `platforms/` folder?

[2019-02-13 15:20] timetofaceit commented on #7034
@dschmidt thank's for the quick answer.

Platforms folder:

![image](https://user-images.githubusercontent.com/47183414/52722064-952e4600-2fb3-11e9-9281-10017cce05f5.png)

[2019-02-13 15:27] dschmidt commented on #7034
Maybe try to create a `qt.conf` file with:

``
[Paths]
Plugins = .
``
Compare https://doc.qt.io/qt-5/qt-conf.html

[2019-02-13 15:48] #7034 closed

[2019-02-13 15:54] dschmidt commented on #7034
Neat! :tada:

FTR I'm currently updating the windows build instructions: https://github.com/owncloud/client/pull/7035
But glad you could make it work too :-)

[2019-02-13 16:28] ogoffart commented on #7029
Can you please explain the steps to reproduce the problem?
Are the directories appearing in the selective sync list? Is the checkbox to disable automatic download of external directories checked?

[2019-02-13 16:29] ogoffart commented on #7027
It is!

Maybe you are using a branding that disable it?

[2019-02-13 16:32] ogoffart commented on #7026
Can you run with gdb and get a backtrace showing what's happening when it freeze?

Open owncloud with  `gdb owncloud`
Then when it is frozen, press Ctrl+C,  then  `thread apply all bt`  to get the backtrace.

[2019-02-13 17:42] dawn2duskpt commented on #7029
Hi.

I just add each external storage space as an independent mount point on my owncloud client.

Where is that checkbox located?

Is the unchecked checkbox on my general settings?
Here is my log of not synced files:

And the sync protocol

[2019-02-14 07:32] lukewoj opened #7036 "Mac client deleting .docx files"
### Expected behaviour
A user with the Windows client saves a .docx file. The user with the Mac client then edits the .docx file, saves the changes and then the file is still in the original location, not deleted.

### Actual behaviour
A user with the Windows client saves a .docx file. The user with the Mac client then edits the .docx file, saves the changes and then the file is placed in the tras

[2019-02-14 08:55] lazawan commented on #7026
@ogoffart  sure,  i will try to do it and let you know what i get

[2019-02-14 08:57] lazawan commented on #7027
@ogoffart  no i used the daily build for 2.6.0 client , i'm aware that branded-client doesn't have VFS

[2019-02-14 09:15] xtianus commented on #7023
For the record, no issues with client 2.5.1 build 10807 on Windows 8

[2019-02-14 09:29] lazawan opened #7037 "branded client 2.5.3 on opensuse leap 15 freezes during synchronization"
used Qt is 5.10.1 and problem occurs if one runs branded-client as root
normal user didn't get this problem
when one puts cursor on 3-point-icon on client ,then gets a strange hand or cursor
related with #7026

[2019-02-14 10:12] ckamm commented on #7016
@CTassisF Going through the diff between 2.5.1 and 2.5.2 I see few interesting changes. One would be that sqlite uses the exclusive locking mode by default. Would you be up for testing with the environment variable `OWNCLOUD_SQLITE_LOCKING_MODE=NORMAL`?

[2019-02-14 10:33] ckamm commented on #6977
@lazawan If you can reproduce, could you generate a client logfile? Otherwise I might need someone on OSX to try.

[2019-02-14 10:35] lazawan commented on #6977
@ckamm  sure , i will try to reproduce it and share log-file with you

[2019-02-14 10:40] ckamm commented on #7036
@lukewoj Thanks for the report, this looks like a serious issue and is probably related to the program editing the docx on the Mac. What are you using?

The server has seen a DELETE command, which means the Mac client thought the file was deleted locally and that it thus needed to be removed on the server. Can you reproduce the problem? It'd be extremely helpful to have a client log file from the

[2019-02-14 10:42] ckamm commented on #7027
Maybe the client can't open any of the vfs plugins. @lazawan Could you give me the first 20 lines of the client log file? It should say "VFS windows plugin is available" and "VFS suffix plugin is available".

[2019-02-14 10:47] lukewoj commented on #7036
Hi @ckamm,

The user is using Word 2016 on Mac to modify the file.

Strangely, the user had this same issue with .xlsx files but they upgraded from Office 2011 to Office 2016 which resolved the issue.

I've seen the problem first hand remotely logged into the Mac.

I'll get the client log file and will reply back.

Cheers!

[2019-02-14 10:47] lazawan commented on #6977
@ckamm

02-12 13:12:59:028 [ info gui.socketapi ]:	Sending SocketAPI message --> "GET_MENU_ITEMS:BEGIN" to SocketApiSocket(0x600003977bc0)
02-12 13:12:59:030 [ info gui.socketapi ]:	Sending SocketAPI message --> "MENU_ITEM:SHARE::Share..." to SocketApiSocket(0x600003977bc0)
02-12 13:12:59:031 [ info gui.socketapi ]:	Sending SocketAPI message --> "MENU_ITEM:COPY_PUBLIC_LINK::Copy public link to cli

[2019-02-14 10:48] ckamm commented on #7023
That's odd, there have been no code changes in the Windows explorer integration between 2.5.1 and 2.5.3!

[2019-02-14 11:08] ckamm commented on #7020
@kerlerm Thanks for the report and for including client logs!

@guruz The log contains warnings like this:
[code]
Is there a way to disable http2 for testing?

From what I can see the client attempts to upload chunks and sees successes **even though the server log shows a 400**. For example there's a from-scratch upload that logs like this:
[code]

[2019-02-14 11:20] ckamm commented on #7020
It looks like we end up in `QHttp2ProtocolHandler::finishStreamWithError` but `error` is NoError.

[2019-02-14 11:42] jnweiger commented on #7027
Same here: 2.6.0 daily 20190211 on Linux Mint, Ubuntu 18.04

* The firstrun wizard no longer mentions any expermimental features.
* The three dots menu no longer allows switching to/from virtual mode.
* renaming a file to end in .owncloud just renames the file. It is uploaded to the server with this suffix.

Is there now a VFS plugin that is needed for Linux? Maybe packagaging needs to adapt for s

[2019-02-14 12:43] ckamm commented on #6977
@lazawan The log shows:
- Clicked "Download files" on Photos/
- The photos are downloaded
- Clicked "Download files" on Photos/ again
- Discovery finds no actions because files are already downloaded

I'd currently guess that you need to refresh your explorer window to show the downloaded files.

[2019-02-14 12:45] ckamm commented on #7027
@jnweiger Does the package contain the libowncloudsync_vfs_* shared libraries? @dschmidt

[2019-02-14 13:16] xtianus commented on #7023
Could it be some interference with other Windows Explorer integrated tools like Tortoise GIT and similar?

[2019-02-14 13:40] lazawan commented on #6977
@ckamm i clicked download twice to ensure ,files don't want to be downloaded
yes ,client thinks ,files are downloaded but they are not ,they are still virutal

[2019-02-14 14:15] lazawan opened #7039 "client 2.6.0 on windows 10 downloads several fotos in VFS mode,though one has downloaded/requested only one"
Hi there ,
client was from daily build "ownCloud-2.6.0.11504.11331-daily20190214.en-US.msi"
steps to reproduce :
- configure client with VFS
- after sync one gets Photos folder " i normally use demo.owncloud.org"
- go to Photos
- double click on a photo to download it
- now another Photos are downloaded though i didn't request/download them.

regards ,

[2019-02-14 15:02] michaelstingl commented on #7039
@lazawan logfile?

[2019-02-14 15:05] lazawan commented on #7026
i have just noticed ,it occurs only if one uses root account ,other users don't have this problem

[2019-02-14 15:56] lazawan commented on #7039
@michaelstingl

02-14 07:46:50:811 [ info sync.vfs ]:	fetch data request "C:/Users/admin/ownCloud5/" "\\Users\\admin\\ownCloud5\\Photos\\Squirrel.jpg" "00000016ocmm8a5fnafq" 0 233724 0 0
02-14 07:46:50:825 [ info gui.folder.manager ]:	>========== Sync started for folder [ownCloud5] of account [demo@demo.owncloud.org] with remote [https://demo.owncloud.org/remote.php/dav/files/demo/]
02-14 07:46:50

[2019-02-14 16:11] CTassisF commented on #7016
Right. I ran owncloud.app from Terminal.app using `OWNCLOUD_SQLITE_LOCKING_MODE=NORMAL /Applications/owncloud.app/Contents/MacOS/owncloud --logfile - --logdebug --debug` but it crashed again.

[code]

This time however it was using far less memory when it crashed (it did peak 2GB RAM before crashing though): https://imgur.com/a/u5wEHF7

[2019-02-14 18:10] jnweiger commented on #7030
Fixed by packaging sqlite-3.26.0 for the linux distributions in need:
CentOS 6, CentOS 7, Debian 8, Leap 42.2 and Leap 42.3

See https://build.opensuse.org/package/show/isv:ownCloud:Qt5121/ocqt5121-sqlite3

daily master is now happily built against either this sqlite or the system sqlite.
Also our qt packages are built against exactly the same. So there should be no incompatibilites with mixing sq

[2019-02-14 18:12] jnweiger commented on #7030
@lazawan please try to reproduce the crashes with https://software.opensuse.org//download.html?project=isv%3AownCloud%3Adesktop%3Adaily%3Amaster&package=owncloud-client

[2019-02-15 07:07] ckamm commented on #7016
@CTassisF Thanks for the test, it's good to know that isn't it.

Next idea: Install a debugger [(apparently typing `lldb` in the terminal does that?)](https://stackoverflow.com/questions/34680789/how-to-install-lldb-on-mac)) and run `lldb -- /Applications/owncloud.app/Contents/MacOS/owncloud --logfile mylog.txt --logdebug --debug`. That allows for further debugger commands to be entered; type  `br

[2019-02-15 07:18] ckamm commented on #6977
@lazawan Ah, found the issue! I missed the fact that it wasn't looking at the local filesystem at all because it didn't observe any changes. That's something that'd only happen on OSX. PR will follow.

[2019-02-15 07:30] ckamm commented on #7020
@kerlerm Do you think you might be able to capture the network traffic that happens while failing to sync this file with a tool like wireshark and upload the data? (shared privately with mail at ckamm de if necessary) This could be your server speaking HTTP2 improperly, but could also be a bug in Qt.

You should definitely be able to work around the problem by disabling HTTP2 server side.

[2019-02-15 09:14] lazawan commented on #7030
@jnweiger centos 6 threw the following Error-message :

[2019-02-15 11:37] BWibo opened #7041 "[Windows] Client crashed when adding new sync folder"
### Expected behaviour
Add a new sync folder using the clients GUI

### Actual behaviour
When hitting the *Add Sync Folder* button the client crashes.

### Steps to reproduce
1. Hit the *Add Sync Folder* button and see it crash.
Bug Report ID: bp-09ebfc78-40e8-445c-bc8a-57ea82190215

### Server configuration
Operating system: Ubuntu 16.04 x64

Web server: Apache

Database: PostgreSQL 10

PHP versi

[2019-02-15 12:38] jnweiger commented on #7030
ah, thanks. it picks up the system sqlite3 at runtime, although we had ours at compiletime. That is bad.

[2019-02-15 13:04] dschmidt commented on #7030
rpath...

[2019-02-15 13:07] jnweiger commented on #7030
Aaaarg-Path is already set. The OBS' magic autoreqprov is happy with the existance of /usr/lib64/libsqlite3* and does not care to create a runtime dependency that matches our build time dependency. Fixed by adding an explicit runtime dependency.

[2019-02-15 13:10] jnweiger commented on #7030
@lazawan please retry Leap 42.2 and 42.3 -- they are rebuilt with a potential fix. CentOS6,7 still rebuilding.

[2019-02-15 15:42] JeronimoElias opened #7042 ""503 Service Unavailable" Error Issue on Almost All Files in Client Sync"
Hello, I have a problem with my server, it has already updated 60% of the files (4.7gb), but it gives 503 error, if I change the filename, put a "-" for example, it usually comes up, but keeps giving this error straight.

### Expected behaviour

Send files without errors, like Mega Sync, or Google Sync

### Actual behaviour

Every 2 files checked, give the error "503 Service Unavailable" and stop

[2019-02-15 15:43] lazawan commented on #7030
@jnweiger i have just tested them and they seem to work fine

[2019-02-15 15:49] #7030 closed

[2019-02-15 18:07] islamadel opened #7043 "[macOS] Several glitches when switching dark/light mode"
I use the latest version of ownCloud Client (2.5.3) on MacOS Mojave (10.14.3) Dark Mode activated
Under Settings Folder Names are blank
### Expected behaviour
Folder Names should be displayed

### Actual behaviour
Folder Names blank, can't choose what to sync

### Steps to reproduce
1. Just Install and enable dark mode
2.
3.

### Server configuration
Operating system:

Web server:

Database:

PHP

[2019-02-15 18:23] CTassisF commented on #7016
I did that but the app crashed immediately: `bp-753064c5-38be-42c7-a685-0c5ac2190215`

[code]

Please tell me if I did something wrong.

[2019-02-15 19:04] ckamm commented on #7016
@CTassisF Thanks for testing!
@guruz Is there something that needs to be done to make the client run in lldb? It also seems I may not have looked up the command to break on bad_alloc being thrown correctly.

[2019-02-16 15:18] kerlerm commented on #7020
@ckamm Sent you a notice. PCAP is available on my owncloud for download.

[2019-02-16 15:19] kerlerm commented on #7020
Disabling HTTP/2 is bit of a hassle because this is not running on a root server but shared hosting...

[2019-02-17 12:30] yasuoiwakura opened #7044 "build 11250 crashing repeatingly on win7"
### Expected behaviour
Owncloud client used to run days, weeks and months BEFORE client update

### Actual behaviour
Client 2.5.3 (build 11250) crashes several times a day. The taskbar icon will stay until i move the mouse cursor over the icon

### Steps to reproduce

- Crashes now and then without any noticable trigger
- Rescently, it crashes REPLICABLE when checking one directory share using the

[2019-02-17 12:53] yasuoiwakura commented on #7044
p-de44f011-1e15-4bf8-96c4-292042190217 i

[2019-02-18 09:26] ckamm commented on #7044
Sentry link: https://sentry.io/owncloud/desktop-win-and-mac/issues/862016382/events/46576784640/

Backtrace:
[code]

The QObject being passed to qDebug here is the SocketListener's `socket`. There hasn't been a change to the relevant code recently so this is probably due to a Qt upgrade.

[2019-02-18 09:40] ckamm commented on #7044
On further reading: This is a consequence of 0bfe7ac250c54f5415c0a794c7b271428e83c3cf. It's possible to get a `disconnected()` and then a `readyRead()` from the socket. The disconnect will remove the listener and then the data will be read and the handler will be invoked with an empty listener.

[2019-02-18 09:57] ckamm commented on #7044
PR: https://github.com/owncloud/client/pull/7045

[2019-02-18 10:07] ckamm commented on #7042
The 503 is a message that's delivered to the client from the server, probably as a response to an attempted upload. There may not be much that the client can do about it aside from trying again, which should be the current behavior.

[2019-02-18 10:11] ckamm commented on #7041
Sentry link to crash report: https://sentry.io/owncloud/desktop-win-and-mac/issues/862031540/events/46378587012/

Backtrace:
[code]

Has happened for 2.5.2 and 2.5.3.

[2019-02-18 10:14] ckamm commented on #7039
There's nothing we can do here unfortunately. What happens is that the photo viewer that is opened wants to preview the other photos in the directory and opens them to read their data. This causes them to be hydrated as well.

[2019-02-18 10:14] #7039 closed

[2019-02-18 11:59] JeronimoElias commented on #7042
Thanks a lot for the answer @ckamm  , I checked in a discussion here in Git something about error 503 being considered a fatal error, which would have how to change this on the server, do you know something about, or in which file can be edited such a 503 rating?
Thanks again !!!

[2019-02-18 12:55] ckamm commented on #7042
@JeronimoElias That was a client code change discussed in #5088 and implemented in #6906 for versions 2.6+ - there a 503 that doesn't look like it comes from server maintenance will only lead to skipping the affected file.

You can already try this out by using the experimental 2.6 builds from http://download.owncloud.com/desktop/daily/ (probably start with the latest owncloud-2.6 msi)

[2019-02-18 13:10] ckamm commented on #6880
Interestingly there seems to be no case of this issue reported for >=2.5.2

[2019-02-18 13:13] ckamm commented on #6877
Seems to still exist in 2.5.3: https://sentry.io/owncloud/desktop-win-and-mac/issues/890266316/?query=release%3A%222.5.3%20(build%2011250)%22%20crash

[2019-02-18 13:24] ckamm commented on #7041
Update: Getting access to the full stack trace shows it's an infinite loop in `OCC:canonicalPath()`

[2019-02-19 00:01] michaelstingl commented on #7043
The team is working on a 2.5.4 release with Qt 5.12.x. You can already download a pre-release build here:
 https://download.owncloud.com/desktop/daily/?C=M;O=D

Could you test and provide feedback?

[2019-02-19 00:03] michaelstingl commented on #7037
@lazawan please provide the information from [`.github/issue_template.md`](https://github.com/owncloud/client/blob/master/.github/issue_template.md)

[2019-02-19 07:24] guruz commented on #7016
@ckamm @CTassisF That syntax is correct (I think) however you first need to launch the client normally and disable the crash reporter checkbox in the General Settings. Only then lldb works properly..

[2019-02-19 07:41] guruz commented on #7043
@islamadel to be exact please try https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11337-daily20190219.pkg

[2019-02-19 07:45] guruz commented on #7025
@btamas86 Please try https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11337-daily20190219.pkg and report back

[2019-02-19 07:50] kerlerm commented on #7020
@ckamm I tried mitmproxy of ubuntu, but the package is damaged (newer libs). Then I fetched the linux binaries of mitmproxy 4.0, but those froze at 6MB transfer while testing. So I'm a bit lost...

Should I provide a test account on my owncloud for you?

[2019-02-19 09:00] ckamm commented on #7020
@kerlerm Mitmproxy freezing mid-transfer might be an indication that something is indeed going wrong with the http2 stream. Yes, if you could give me a test account I'd try to reproduce and check it out.

[2019-02-19 09:27] lazawan commented on #7037
### Expected behaviour
        as root one should be able to run owncloud-client without freezing during sync on linux "rpm based
        distros"
### Actual behaviour
       owncloud-client freezes during sync if one runs owncloud as root
       freezing means : one can't switch  between owncloud-client-taps " in settings window " and can't call
        menu from tray-icon

### Steps to reproduce

[2019-02-19 10:55] lazawan commented on #7043
@guruz @michaelstingl
I used the build from guruz
https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11337-daily20190219.pkg

it looks so right now :

![screen shot 2019-02-19 at 11 48 39](https://user-images.githubusercontent.com/44814084/53010058-2894ca80-343d-11e9-8a53-e884aa277174.png)

![screen shot 2019-02-19 at 11 50 10](https://user-images.githubusercontent.com/44814084/53010075-32

[2019-02-19 11:06] ckamm commented on #6776
@wdehoog See https://github.com/owncloud/client/pull/7048

[2019-02-19 11:49] michaelstingl commented on #7039
@lazawan What photo viewer are you using in this local folder? Maybe we should add such stuff to the VFS FAQ or similar…

[2019-02-19 12:12] lazawan commented on #7039
@michaelstingl i was using the standard windows viewer

[2019-02-19 12:15] wdehoog commented on #6776
#ckamm Thanks for keep on working on this issue. You solution will work I guess.

Please allow me to make a small remark. I can understand why you are taking this approach. You want a 'small' patch and not to overhaul the certificate handling completely. But I think owncloud should do just that. Stop creating your own certificate store and use the one the platform provides.

[2019-02-19 13:02] ckamm commented on #6776
@wdehoog Agreed, this is indeed just a patch to make it work at all with larger certificates. Any change to use the platform store would be larger and target 2.7 earliest.

[2019-02-19 16:49] CTassisF commented on #7016
Here's the output:

[code]

[2019-02-19 21:47] ivakyb commented on #724
6 years later... 2019.

[2019-02-20 06:35] guruz commented on #7016
[code]

Thanks, this is interesting. Thank you for all the effort of going through this.

We have a build with a newer Qt version that might have a (possible) leak fixed.
Do you want to see if that one breaks too?

https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11341-daily20190220.pkg

[2019-02-20 06:43] guruz commented on #7043
QToolbar via https://github.com/guruz/qtmacgoodies/blob/master/src/macpreferenceswindow.mm#L85

Qt bug https://bugreports.qt.io/browse/QTBUG-71020

[2019-02-20 06:50] guruz commented on #7025
Please join discussion in https://github.com/owncloud/client/issues/7043#issuecomment-465448121 instead

[2019-02-20 06:50] #7025 closed

[2019-02-20 06:52] guruz commented on #6831
Boxes are back according to comment above and according to https://github.com/owncloud/enterprise/issues/3138#issuecomment-465055091

See discussion regarding dark mode in https://github.com/owncloud/client/issues/7043#issuecomment-465448121

[2019-02-20 06:52] #6831 closed

[2019-02-20 06:52] guruz commented on #6839
Still the case with the latest dailies? (Qt 5.12.1 based)

[2019-02-20 06:57] guruz commented on #7042
@JeronimoElias This sounds more like a server issue. Please check the owncloud.log on server and also web server error_log.

[2019-02-20 06:59] guruz commented on #7044
@yasuoiwakura We have a daily build with this fix here: https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11526.11353-daily20190220.msi
Would you try this one and report back if it fixes the issue? Thank you

[2019-02-20 07:01] guruz commented on #7037
While we maybe could fix this, running GUI apps as root user is not something one should do.

Closing as dup of https://github.com/owncloud/client/issues/7026

[2019-02-20 07:01] #7037 closed

[2019-02-20 07:14] guruz commented on #6877
@ogoffart What to do?

[2019-02-20 07:19] guruz opened #7050 "2.5.4"
Some weeks before the release:
* [x] Check if we should update the bundled sqlite3 (https://github.com/owncloud/client/tree/master/src/3rdparty/sqlite3)
* [ ] Check if we should update Sparkle on build machine (https://github.com/sparkle-project/Sparkle/releases)
* [ ] Ensure NSIS is up to date on the build machine
* [ ] Ensure up-to-date dependencies (e.g. [latest Qt version](http://qt-project.or

[2019-02-20 07:19] guruz commented on #7009
2.5.4 -> https://github.com/owncloud/client/issues/7050

[2019-02-20 07:25] ckamm commented on #7016
@CTassisF Great, we now know the thread name! But the break-on-exception didn't work unfortunately.

Could you try again with `break set -E c++` instead of the other `break` command? That should insert a breakpoint for all thrown exceptions (and it's likely the bad_alloc is the only one). Then get the backtrace as before.

[2019-02-20 07:27] michaelstingl commented on #7043
@guruz Yeah, let's do this in the 2.5.4.

We can keep it enabled in the daily builds, then we can check the progress…

[2019-02-20 07:30] guruz commented on #7016
@ckamm I had tried this `break set -E c++`, it's not a good command since it breaks even at the CAUGHT exceptions, so basically the client won't run through and will always break.
I don't think getting more info helps much as the backtrace for that exception might only be the immediate cause and not the reason (the actual leak)..

[2019-02-20 07:34] ckamm commented on #7016
Yes, I was hoping there wouldn't be too many other exceptions being thrown, if you tried it and it didn't work, that's unfortunate.

[2019-02-20 07:46] michaelstingl commented on #6839
@lazawan could you perform a quick check?

[2019-02-20 07:48] lazawan commented on #6839
@michaelstingl sure !

[2019-02-20 09:04] jnweiger opened #7051 "Error receiving folder list should be an error"
Client 2.6.0 daily 20190211 Ubuntu 18.04 fails to get a folder list from cloud.owncloud.com
![grafik](https://user-images.githubusercontent.com/1108546/53079809-8a196f80-34f7-11e9-99b5-8aac20ddd2ac.png)

The green checkmark indicates all is well, but instead of a folder list, there is an error message. Ending in 'Operation canceled'. The logwindow seems to have nothing suspicious.

[2019-02-20 09:16] ckamm commented on #7016
@CaptionF If you're willing to try something further, this might work (it works for me locally, but depends on the runtime implementation):
[code]
instead of the previous `break` command.

[2019-02-20 09:27] lazawan commented on #6839
@michaelstingl @guruz
firstly I used the client 2.5.4 with Qt 5.12.1 and that is the build ,that I tested
https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11337-daily20190219.pkg

I tested 2 cases :
first case : owncloud-client at the first run-time " I didn't configure any account yet "

![screenrecording20190212at1](https://user-images.githubusercontent.com/44814084/53080853-e087ad80-3

[2019-02-20 13:42] ckamm commented on #7020
I think this is a bug in the Qt http2 stack.

Test setup: `client <-> mitmproxy <-> server` with mitmproxy dumping ssl secrets and wireshark listening to the comunication between mitmproxy and the server. That means I'm seeing how mitmproxy reacts to the server messages, but the data is sufficient to see what's going on.

* Client opens HTTP2 connection
* Requests data on streams 1, 3, 5, 7, 9
* S

[2019-02-20 14:02] ckamm commented on #7020
Created upstream ticket: https://bugreports.qt.io/browse/QTBUG-73947

[2019-02-20 14:44] xtianus commented on #7023
On the Windows 8 PC that was working properly I upgraded an old version of [TortoiseGIT](https://tortoisegit.org/) to v2.7.0 and ownCloud started to have issues.

[2019-02-20 14:53] dportabella opened #7052 "[macOS only] 2.5.2 Client crashes when many files are to be synced"
I have 350'000 files to be synced, and the client crashes after one minute of starting.
Moreover, when I activate the log file as described here, no log files are generated:
https://doc.owncloud.com/desktop/2.5/troubleshooting.html#log-files

Using the GUI, and empty file is created.
Using the command-line, no files are created:
[code]

### Client configuration
Client version: 2.5.2
Operating syst

[2019-02-20 15:59] CTassisF commented on #7016
@ckamm I tried what you suggested. Here's the output:

[code]

Now I'll upgrade to the build @guruz suggested to see if the issue is fixed.

[2019-02-20 16:13] CTassisF commented on #7016
The issue seems to be fixed on `ownCloud-2.5.4.11341-daily20190220`.

It seems that 2 2GB files were missing to complete the sync. Now everything seems to be synced.

Thanks for your support :) Please let me know if you still want more help with this issue.

[2019-02-20 16:16] ckamm commented on #7016
@CTassisF Great to hear this is fixed with newer Qt! @guruz What was the potential leak there?

[2019-02-20 17:15] ckamm commented on #7016
Ah, probably https://bugreports.qt.io/browse/QTBUG-68394

[2019-02-21 07:46] tokup commented on #6518
I'd the same issue with ubuntu 18.4 (as samiux described).
My workaround:
Delay the start of the owncloud client by a few seconds (e.g. 10s).
By adding "`X-GNOME-Autostart-Delay=10`" to the file "~/.config/autostart/ownCloud.desktop"

[2019-02-21 11:09] ingogoeppert commented on #7044
I have the same problems since version 2.5.2. ownCloud-2.5.4.11526.11353-daily20190220.msi fixed the issue for me.

[2019-02-22 07:42] ckamm commented on #7020
@michaelstingl @guruz @ogoffart I'm working on the upstream issue but am strongly recommending to disable HTTP2 support until we have upgraded to a Qt version containing the fix.

[2019-02-22 07:47] michaelstingl commented on #7020
@ckamm Is there a config switch to disable HTTP2?

[2019-02-22 07:48] ckamm commented on #7020
No, not yet :/

[2019-02-22 10:31] ckamm commented on #7020
https://codereview.qt-project.org/#/c/254111/

[2019-02-22 13:40] guruz commented on #7043
Pushed this into 2.5 branch for now ^^.. maybe someone wants to try this with TOMORROWS daily build.

CC @ChrisEdS

[2019-02-22 13:43] guruz commented on #7020
@ckamm Wow. And meh!

[2019-02-22 14:13] guruz commented on #7051
@jnweiger That checkmark is the sync state, not related to the folder list state.

That said, why Operation Cancelled? Is there a timeout?
I dont see any in the log

[2019-02-22 15:29] ChrisEdS commented on #7043
Will do.

[2019-02-22 19:44] ea1het commented on #7043
I also have Guruz's version running in my laptop. If it's needed to test a new release I don't mind do the job.

[2019-02-24 15:41] btamas86 commented on #7025
@guruz The main screen is now good, but top bar item title not perfect.

<img width="798" alt="kepernyofoto 2019-02-24 - 16 38 35" src="https://user-images.githubusercontent.com/4123828/53301412-d398f000-3852-11e9-90d6-39de369a1db6.png">

[2019-02-24 16:56] yasuoiwakura commented on #7044
sorry the the late reply.

no more crashes so far - thanks for the quick fix!

[2019-02-24 16:56] #7044 closed

[2019-02-25 01:24] lukewoj commented on #7036
Hi @ckamm,

I've been able to get the logs from the Mac when the issue is occurring.

Is there a way for me to privately send them to you as there is some confidential information in them?

Cheers!

[2019-02-25 08:25] ckamm commented on #7036
@lukewoj Great! Send them to mail at ckamm de.

[2019-02-26 08:11] #7016 closed

[2019-02-26 08:25] ckamm commented on #6968
I'm not sure I'm reading this right, but I think the linux 2.5.4 builds use Qt 5.10.1 (looking at client-linux-obs/421) and the windows 2.5.4 builds use Qt 5.11.2 (looking at client-win32-msvc/11329). #7050

[2019-02-26 08:29] ckamm commented on #6880
On further investigation this is likely to be the 2.5.2, 2.5.3 version of this crash: https://sentry.io/organizations/owncloud/issues/866377501 . It points towards not enough memory being available for allocating the uploaddevice.

[2019-02-26 08:50] jnweiger commented on #7027
No. Packaging cannot pick up new additions. I need to locate everything manually. Thanks for the hint, I have to ho searching now..

[2019-02-26 08:53] jnweiger commented on #6968
2.5.4 still builds with qt5.10.1 today. I am changing the config now for 2.5.4 to link with qt-5.12.1 instead.

[2019-02-26 09:03] ckamm commented on #6987
I can reproduce the problem, "foo\n" uploads successfully (created with `touch $'foo\n'` in zsh). We could add `\x00-\x1F` to our invalid filename regex? Or just `\R`? Opinions? @jnweiger @ogoffart @guruz

The current pattern is `[\\:?*"<>|]`

[2019-02-26 09:18] ckamm commented on #7027
@jnweiger The plugin is called "owncloudsync_vfs_suffix.so" built from "src/libsync/vfs/suffix" and should be installed next to the binary.

[2019-02-26 13:07] ckamm commented on #7036
What it looks like to me from the log:
* changes to file A are uploaded to the server
* a server rename A -> B is propagated
* the file B is not found locally and thus removed from the server

Probably the file is open in the application the whole time. My guess is either something went wrong with the rename (I'm seeing a "[ warning sync.propagator ]:	No valid fileinfo") or the application got con

[2019-02-26 13:23] corneliusweiss opened #7054 "Reliably persist cookies"
The client looses cookies after close and reopen. They can be found in the cookies.db but the client doesn't send them.

### Expected behaviour
When a Load Balancer or Proxy adds a cookie it should be preserved/send by the client.

### Actual behaviour
The cookie is not send to the server after the client got closed and opened again.

### Steps to reproduce
1. introduce cookie via proxy or lb
2. w

[2019-02-26 13:24] ckamm commented on #7036
This may be related: https://answers.microsoft.com/en-us/msoffice/forum/msoffice_word-mso_mac-mso_mac2011/file-name-changes-to-word-work-file-d-and-deletes/aea3ef5a-2f7a-444f-8ec6-99a5a045aca7?page=1 - no resolution though.

[2019-02-27 08:29] jnweiger commented on #7050
With regard to 'Ensure up-to-date dependencies (e.g. latest Qt version is installed':
* Linux packages of 2.5.4 daily are now built with Qt-5.12.1 -- Workaround to make QTWebKit behave: https://build.opensuse.org/package/view_file/isv:ownCloud:Qt5121/ocqt5121-qt5-qtwebkit/add_missing_header.sh?expand=1

[2019-02-27 09:28] jnweiger commented on #7027
DEB packages have it in the build-log
[  368s] [ 21%] Linking CXX shared library ../../../../bin/owncloudsync_vfs_suffix.so
[ 1182s] -- Installing: /usr/src/packages/BUILD/debian/tmp/opt/ownCloud/ownCloud/lib/x86_64-linux-gnu/plugins/owncloudsync_vfs_suffix.so

but it neither breaks packages with "unpackaged file error", nor is it auto-included anywhere. That is odd.

[2019-02-27 09:29] jnweiger commented on #7027
Is there a simple test to see where the plugin is searched at runtime?
should e.g. `strace owncloudcmd -v` show something?

[2019-02-27 09:37] jnweiger commented on #7027
It gets loaded, if placed in
[code]
@ckamm that is a mess. We should try to make it work from the libs or better libs/plugins folder.

[2019-02-27 09:43] ckamm commented on #7020
Note: PR doesn't solve the issue, just disables HTTP2. We'll need to update Qt once the patch is released.

[2019-02-27 09:50] ckamm commented on #7004
@guruz I don't see how that `app.sendMessage()` in a second instance would trigger a message being received on the socketapi socket? This sounds like a bug or behavior change in the explorer integration to me. I'm keeping it in 2.5.4 since it sounds serious.

[2019-02-27 11:06] elmeto opened #7055 "Checking folders in selective sync collapses folder"
### Expected behaviour
It used to be that you could look at a whole list of folders, then tick/untick one, then another, etc.

### Actual behaviour
As soon as you tick/untick a folder, all the folders collapse.  So if you've just navigated through to several subfolders, you now have to repeat all of that again, in order to tick/untick the next folder.

### Steps to reproduce
1. Open Settings...
2.

[2019-02-27 11:40] ckamm commented on #7023
Possibly also addressed by #7056

[2019-02-27 16:13] jnweiger commented on #7027
Workaround committed to OBS. Symlink into bin.
https://build.opensuse.org/package/rdiff/isv:ownCloud:desktop:daily:master/owncloud-client?linkrev=base&rev=482

[2019-02-27 18:19] lexo-mfleuti commented on #6356
The usability is very bad. Link sharing is very important. Sharing links is the primary reason why our customers use this product. It must be possible to work like in Dropbox: Richt click on file/folder -> Share public link -> with or without options dialog (in 99.99% of all cases people just want to share a file publicly with default settings, no need to show yet another dialog that requires like

[2019-02-27 18:46] michaelstingl commented on #6356
@lexo-mfleuti please check with a current version (2.5.x). This is exactly what is in the context menu:

![owncloud_and_contextmenu_and_hacker-songs_and_network](https://user-images.githubusercontent.com/214010/53514225-883b4780-3ac7-11e9-9db9-2d97a80cc349.png)

There are also plans to separate user/group shares from links. This would result in 2 separate entries in the context menu.

Sounds like

[2019-02-28 06:02] guruz commented on #7004
Merged, you can test this with Friday's 2.5.4 daily build.
https://download.owncloud.com/desktop/daily/

[2019-02-28 06:14] guruz commented on #7054
@corneliusweiss Thanks for creating the bug, but you really need to provide version numbers etc, else how can we know you are using a current client version?

As @michaelstingl wrote in the comment already:

[2019-02-28 06:16] guruz commented on #7054
@corneliusweiss Are you sure your proxy/loadbalancer is sending a persistant cookie?
http://www.allaboutcookies.org/cookies/cookies-the-same.html
(Although I don't remember how strict is cookies.db about this)

[2019-02-28 06:20] guruz commented on #7055
I can reproduce this.
It only happens for the first time you click a subfolder. Clicking (after re-opening) further subfolders at the same level does not close again.

[2019-02-28 06:22] guruz commented on #6987
I'd say "Anything in the unicode control characters category" but I'm not an expert.

[2019-02-28 06:26] guruz commented on #6968
That said, HTTP2 was disabled due to bugs in Qt :-/

https://github.com/owncloud/client/pull/7053#issuecomment-468153843

[2019-02-28 06:29] ckamm commented on #6987
We have two options here:
1) consider this invalid early, not even uploading these files
2) consider this invalid filenames for downloading to Windows systems

We currently do a mix of both. The pattern I mentioned above is for 1) but there are also some 2)-style filters (like windows reserved words).

For control characters I'd suggest 1) since they also not great to have on the server.

[2019-02-28 07:47] pjrobertson opened #7058 "Changing public link date clunky from desktop"
### Expected behaviour

Ability to select any date within the range specified by 'default expiration date'

### Actual behaviour

Unable to select dates using the Desktop (MacOS) client v2.5.1

### Steps to reproduce
1. Visit Nextcloud Admin settings: Administration > Sharing > Allow users to share via link > Set default expiration date > Expire after 365 days. **check** 'Enforce Expiration date
2

[2019-02-28 09:11] michaelstingl commented on #7058
This is the ownCloud repository. Can you reproduce with ownCloud server?

[2019-02-28 09:25] corneliusweiss commented on #7054
sorry for missing this. I testet with Version 2.5.1 (build 10818) on macOS (is think it's the latest version from autoupdates)

And yes, the cookie is persistent. Here is the sniffed cookie from the lb:
    Set-Cookie: be=app03; expires=Wed, 01-Jan-2020 00:00:00 GMT; Max-Age=26491080; path=/

I already played with the path option - but w.o. success

[2019-02-28 10:59] ogoffart commented on #7015
I guess the scenario to test is the one from https://github.com/owncloud/client/issues/2428

[2019-02-28 13:43] ogoffart commented on #7003
With Qt 5.12.1 the  main tabs are fixed,  but there seem to be another problem with the account tabs

![screenshot_20190228_144143](https://user-images.githubusercontent.com/959326/53570567-1d414d80-3b67-11e9-94e0-15c746b9be0d.png)

[2019-02-28 13:48] ckamm commented on #7003
@ogoffart I'm pretty sure the elision in the account tabs is something the client does itself intentionally.

[2019-02-28 13:52] ogoffart commented on #7003
@ckamm  the client explicitly say it must be ellided, but the ellision is made by Qt.  The bug in 5.12 that is not fixed, is that the \n is ellided

[2019-02-28 13:58] ckamm commented on #7003
Ah, there are two layers of elision. We elide the host and the user ourselves in `shortDisplayNameForSettings()` but then Qt elides the whole thing too. Could we disable that?

[2019-02-28 14:01] ogoffart commented on #7003
This is probably fixed by 7024090e1dc7043e7a2a692ede105bcb7952781d in Qt 5.12.2

[2019-02-28 14:37] ogoffart commented on #7054
I can reproduce.

[2019-02-28 15:18] pjrobertson commented on #7058
No, the issue is not reproducible on the owncloud server (the server  uses
a calendar date picker to choose the date, which does not have this issue).

You're right that setting must be set on the owncloud server, but the issue
is only reproducible on desktop

On Thursday, 28 February 2019, Michael Stingl <notifications@github.com>
wrote:

[2019-02-28 16:18] lexo-mfleuti commented on #6356
Thank you very much for your swift reply. I'm using newest V. 2.5.3. Of course I can share. But it's very annoying, slow and requires 7 clicks just to share 1 folder/file.

1. Right-click on file/folder > 1 click
2. Navigate to ownCloud menu > 1 click
3. Click on "Copy public link to clipboard" > Wait (sometimes OC client crashes) > Popup window appears > 1 click
4. Click on "Create new link" > wa

[2019-02-28 22:12] michaelstingl commented on #7058
@pjrobertson I did not ask to test **on** the ownCloud server. It seems your client isn’t connected to a valid ownCloud server. Please test the client **with** an ownCloud server.

[2019-02-28 22:22] michaelstingl commented on #6356
Steps 4 and 5 aren’t necessary for a default public link. Link should be in the clipboard already. Is expiration or password enforced on this ownCloud instance?

For the crash, please open another issue.

For the slow response of the ownCloud server, please check the admin docs. Sounds like a bad setup of the ownCloud server?

Thank you very much for sharing the other suggestions, there are some r

[2019-02-28 23:08] gawin commented on #5595
@guruz a little bit late to the party, but this fixed it for me:

/etc/sysctl.conf
[code]

/etc/login.conf
[code]

Restart and verify:
[code]

Note that `102400` is rather large, so please adjust as needed.
Added this for others that might run into the same issue.

[2019-03-01 06:08] lexo-mfleuti commented on #6356
I tried. It's not. Default Expiration is enabled yes.

Slow response: It's not slow from the servers' perspective. But it takes a moment for the dialog to open and for the link to be created (1-2s). I guess that's normal but it blocks the workflow. It could do that in the background so that I would not be bothered by it.

Crash: It's a client issue, not a server issue. The client software crashes

[2019-03-01 06:40] michaelstingl commented on #6356
Sure, the crash is a client issue. Please open a new issue here in the client repo and provide the relevant information, so the team can start to fix it.

[2019-03-01 08:12] ckamm commented on #6356
@lexo-mfleuti The intention is for "Copy public link to clipboard" to create a new link share (unless a default-looking one exists already) and copy that to the clipboard without any further dialog popping up. I think that's exactly what you'd like to have.

Since it behaves differently for you that means the client thinks it can't create a default link share without user interaction. Currently it

[2019-03-01 08:13] ckamm commented on #6356
Let's make a new ticket, not reopen this one.

[2019-03-01 08:13] #6356 closed

[2019-03-01 08:18] ckamm opened #7061 ""Copy public link to clipboard" should autocreate a link share even if expiry is required"
Follow up from #6356 due to concerns raised by @lexo-mfleuti. See https://github.com/owncloud/client/issues/6356#issuecomment-468580876.

Currently the client doesn't autocreate a link share if expiry is required. It could do it though and use the specified default expiry offset.

[2019-03-01 09:30] ckamm commented on #6833
@guruz @dschmidt What exactly needs to be done here, and should it target 2.5.4?

[2019-03-01 09:49] ckamm opened #7063 "2.6.0"
Some weeks before the release:
* [x] Check if we should update the bundled sqlite3 (https://github.com/owncloud/client/tree/master/src/3rdparty/sqlite3)
* [ ] Check if we should update Sparkle on build machine (https://github.com/sparkle-project/Sparkle/releases)
* [x] Ensure up-to-date dependencies (e.g. [latest Qt version](http://qt-project.org/downloads#qt-lib) is installed on the machine and p

[2019-03-01 10:34] lexo-mfleuti commented on #6356
@ckamm

Exactly. If I want to share a link and change the default date I could select **Create custom share link (option dialog)**, according to my screendesign for customization.

@ckamm + @michaelstingl
It would be great if you could make the sharing as easy as it's stated on my screendesign. Again, premium solution would be if I could set in the settings of the client, which share options I des

[2019-03-01 10:36] lexo-mfleuti commented on #7061
**Context menu idea**
Screenshot: draft of how it could look like
![owncloud-context-menu-draft](https://user-images.githubusercontent.com/8611779/53632812-23dace00-3c16-11e9-98d2-97831f78c1da.jpg)

**Configurable context menu**
It would be great if the user could select which context menu elements are needed to keep the context menu as compact (efficient) as possible.
![tortoise option dialog](ht

[2019-03-01 12:04] Phlos commented on #6677
It's happened again. Near-complete deletion of my largest directory w/ most elaborate tree. I was working on the laptop yesterday early afternoon, all fine - hibernated, continued working on a desktop, all fine - started working again on the laptop, directory where I was working was behaving normally, but I just noticed that it had deleted everything in this other directory.

Could hibernation hav

[2019-03-01 12:06] ckamm commented on #6677
@Phlos Logs are very interesting! mail at ckamm de.

[2019-03-01 13:38] erik-saarts opened #7065 "Owncloud client crashes under Windows 7 when trying to share file via explorer context menu"
### Expected behaviour
Window for sharing options should appear.

### Actual behaviour
Owncloud client crashes.

### Steps to reproduce
1. Right click on shared file in explorer.
2. Pick owncloud -> Share
3. Crash (reported it - bp-40e7e1af-21fc-42df-8a3f-557882190301)

### Server configuration
Operating system:

Web server:

Database:

PHP version:

ownCloud version:

Storage backend (external st

[2019-03-01 18:34] michaelstingl commented on #7061
@ckamm works fo me!

2nd step could be, to bring all menu entries to the root level of the context menu. Visually I think this is a mess, but for efficiency it totally makes sense…

[2019-03-03 11:27] ingogoeppert commented on #7065
I think this is a duplicate of #7044.

[2019-03-04 05:48] guruz commented on #7065
Indeed, please check a current daily build:
https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11579.11401-daily20190304.msi

[2019-03-04 05:51] guruz commented on #7043
@ChrisEdS @ea1het https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11390-daily20190304.pkg :-)

[2019-03-04 05:52] guruz commented on #7052
@dportabella Could you please try a current 2.5.4 daily build?
https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11390-daily20190304.pkg

[2019-03-04 06:01] guruz commented on #6983
OK maybe @dschmidt is right, I created a PR for 2.6

[2019-03-04 06:07] guruz commented on #7020
@kerlerm Can you try a recent daily build?
https://download.owncloud.com/desktop/daily/owncloud-client-2.5.4.11579.451daily20190304.linux-repo.html

[2019-03-04 06:43] erik-saarts commented on #7065
Indeed it fixes the problem.

[2019-03-04 06:43] #7065 closed

[2019-03-04 07:50] ChrisEdS commented on #7043
It's getting better. What is still noticeable to me you find in the graphics.

![image](https://user-images.githubusercontent.com/33026403/53717706-4c9ed580-3e59-11e9-9385-6dcb90fbf90c.png)

![image](https://user-images.githubusercontent.com/33026403/53718077-7dcbd580-3e5a-11e9-91bc-290c45d1c53f.png)

[2019-03-04 08:31] dportabella commented on #7052
I am sorry but, because it's a production environment and I already found a workaround by adding the appropriate ignore folders.

[2019-03-04 11:43] ckamm commented on #6677
The issue I see in the log is similar to what was observed before:
[code]
I'll continue to look for potential causes.

[2019-03-04 11:59] ckamm commented on #6677
The issue I see is that `SqlQuery::next()` doesn't distinguish between end-of-data and errors. It's possible that it returns false due to an error and the function that reads from db assumes there simply isn't any data. I'll fix that.

[2019-03-05 08:06] faramir commented on #7004
Working for me using version ownCloud-2.5.4.11583.11403-daily20190305.
Work both for pinned and recently used items, and for copying file paths.

[2019-03-05 08:17] ckamm commented on #7004
@faramir Thanks for testing!

[2019-03-05 08:17] #7004 closed

[2019-03-05 08:18] ckamm commented on #7023
Tested by @faramir in #7004

[2019-03-05 08:18] #7023 closed

[2019-03-05 09:09] ckamm opened #7068 "New folders aren't watched immediately, potentially missing notifications"
Only on Linux:

1. Create a new folder, wait for a sync to start and finish local discovery.
2. Before the new folder is processed and gets an inotify watch, add files to it.
3. The client sync finishes without syncing the new files (as expected)
4. No new sync will be scheduled and the next sync won't locally discover the new folder (bad)

This will be particularly bad if the user moved files int

[2019-03-05 11:44] jnweiger commented on #6833
The current state of the Linux 2.5.4 config is:

* All Ubuntu, Debian, CentOS link with openssl 1.0.2 or 1.0.1
* openSUSE Leap 42.3 links with openssl 1.0.2j-fips
* openSUSE Leap 15.0 links with openssl 1.1.0h-fips
* Fedora 28 links with openssl 1.0.2o-fips
* Fedora 29 links with openssl 1.1.1 FIPS

[2019-03-05 14:42] mreichh commented on #6769
sorry for replying so sluggishly, just havent found time to test the new builds till now!

For GPO deployment https://download.owncloud.com/desktop/stable/ownCloud-2.5.3.11470.11300.en-US.msi now works like a charme, though the German MSI https://download.owncloud.com/desktop/stable/ownCloud-2.5.3.11470.11300.msi still does not. For me going with the English version is completely ok as after insta

[2019-03-05 14:47] michaelstingl commented on #6769
@mreichh Yes, only the installer is EN-only. And in automated deployments, users will never have to read inside the *.MSI.

[2019-03-05 14:54] gpothier commented on #6518
I have the same issue on 18.10. Active extensions:
Kstatusnotifieritem/appindicator support
Alternatetab
Cpufreq

The "X-GNOME-Autostart-Delay=10" workaround mentioned by @tokup works for me.

[2019-03-05 15:28] ckamm commented on #6518
Since it seems to work for several people: let's add the autostart delay to the default desktop file.

[2019-03-05 15:38] gpothier commented on #6518
As an additional information: without the delay, upon logging in, the OwnCloud window appears, but not the icon. With the delay, after the 10s only the icon appears, not the window. So there is probably something you can detect during startup, like some service that needs to be up.

[2019-03-05 20:16] kerlerm commented on #7020
Sorry for the late reply: Version 2.5.4daily20190305 (build 453) syncs big files without problems.

@ckamm: Should I delete your account on my owncloud or will you do further testing once Qt is fixed?

[2019-03-06 08:12] Zenoria commented on #6942
This is still an ongoing issue for me, the programme is unusable as it is. I'm using Windows 10 64b.

[2019-03-06 08:39] michaelstingl commented on #6942
@Zenoria Thank you for your feedback. I'm very sorry to hear this, and we'd like to help. This issue is about a crash on Apple computers. Could you open a new issues about your problem on Windows and provide all necessary information?
https://github.com/owncloud/client/issues/new

[2019-03-06 09:15] ckamm commented on #7020
@kerlerm Thanks for testing! You can delete it now, I found a way to reproduce a very similar problem locally.

[2019-03-06 09:16] #7020 closed

[2019-03-06 09:32] ckamm commented on #6518
@gpothier @tokup The .desktop file already has "X-GNOME-Autostart-Delay=3" since version 2.0.2. Are you saying you incremented the value to 10, or was your file missing that entry entirely?

[2019-03-06 11:25] jnweiger commented on #6833
When building qtbase, there is a check for the ssl version:

    cd /usr/src/packages/BUILD/config.tests/openssl11 && MAKEFLAGS= /usr/bin/make
    g++ -c -m64 -pipe -O2 -w -fPIC  -I. -I/usr/src/packages/BUILD/mkspecs/linux-g++-64 -o main.o main.cpp
    g++ -m64 -Wl,-O1 -fuse-ld=gold -o openssl11 main.o   -L/opt/ownCloud/qt-5.12.1/lib/x86_64-linux-gnu /usr/lib/x86_64-linux-gnu/libssl.so /usr/lib/x8

[2019-03-06 11:25] ckamm opened #7073 "Resolved conflicts aren't noticed immediately"
When I resolve a conflict by deleting the conflict file the client only picks up on it the next time a sync run happens. It should notice it immediately.

The issue here is that the file watcher discards changes to ignored files, and conflict files are ignored files. That means no update is done if only the conflict file changes.

[2019-03-06 11:40] WeissmanGmbH commented on #6937
bump

are there any news? We are really lost and need to get this issue fixed. I was even thinking to change the apache to nginx just to make sure it isn't apache issue at all.

So what's your suggestion?

[2019-03-06 12:27] gpothier commented on #6518
In my case there was no X-GNOME-Autostart-Delay in the .desktop file. I'm on 2.5.3. I installed OwnCloud following these instructions: https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client

The .desktop file originally had this content:
[Desktop Entry]
Name=ownCloud
GenericName=File Synchronizer
Exec=/opt/ownCloud/ownCloud/bin/owncloud
Terminal=false
I

[2019-03-06 12:35] michaelstingl commented on #6937
@WeissmanGmbH There's nothing that can be fixed in the ownCloud desktop sync client.

Check here for more help:
https://owncloud.org/help/

[2019-03-06 13:03] guruz commented on #6942
@Zenoria The 2.5.4 daily builds have several crashes fixed, including one which happened on Windows.
https://download.owncloud.com/desktop/daily/ownCloud-2.5.4.11587.11407-daily20190306.msi
Please try that FIRST, otherwise if it still crashes create a new issue please

[2019-03-06 13:35] ckamm commented on #6518
@gpothier Thanks! Probably the .desktop file is set up during packaging then. The PR #7072 might make the workaround unnecessary. Would you be up for tesing it? I'll ping you once it's merged and has appeared in the dailies.

[2019-03-06 13:41] ckamm commented on #7036
Summary: Likely a misbehavior of Word 2016 for Mac. :(

[2019-03-06 13:44] gpothier commented on #6518
Yes of course!

[2019-03-06 13:46] ckamm commented on #7027
Huh, dlopen() should be using the normal search path for shared libraries, so it should be found among the other libraries that the executable's RPATH points to. I'll install it and check it out.

[2019-03-06 14:25] ckamm commented on #7027
Qt manually resolves plugin paths and uses dlopen only with absolute filenames. I agree that our plugin doesn't belong into the Qt/plugins directory and assume distribution packagers would also be unhappy putting them there.

I propose we add a build setting for a path that we add to Qt's plugin search path on startup and then place our plugins there.

[2019-03-07 04:38] guruz commented on #6769
@michaelstingl @dschmidt Can we have a better name for the en-US MSI? something with "GPO" without "en-US"?

[2019-03-07 09:11] michaelstingl commented on #6769
I have no strong opinion. @guruz suggestions?

[2019-03-07 10:40] ckamm commented on #7018
It's intentional that starting the client usually doesn't lead to a window popping up. We don't want the settings window to be shown every windows startup.

What's odd is that the second time you start the client nothing happens. The intended behavior is that starting the client while it's already running will lead to the settings window popping up.

[2019-03-07 10:42] #7015 closed

[2019-03-08 15:19] guruz commented on #7054
@corneliusweiss Want to test a current daily build? https://download.owncloud.com/desktop/daily/

[2019-03-08 15:28] PVince81 opened #7077 "[Linux] Move + overwrite does upload + delete instead of server MOVE"
### Steps

1. Create a file "b.txt" with contents
1. Wait for sync
1. Create a file "a.txt" with contents
1. Wait for sync
1. `mv a.txt b.txt`
1. Wait for sync
1. Check activity

### Expected result
Server MOVE

### Actual result
~~The file "b.txt" is first uploaded, and then "a.txt" is deleted instead of MOVE.~~
First "a.txt" is deleted and then "b.txt" is uploaded, instead of MOVE.

### Version

[2019-03-08 15:40] jnweiger commented on #7077
Reproduced with 2.6.0 master on ubuntu 18.10
using demo.owncloud.com with only its default set of files present. (certainly not exhausting inotify limits) - 100 % reproducable within 3 re-tests.

    sleep 100; cp Photos/Squirrel.jpg another.pdf
    sleep 100; mv ownCloud\ Manual.pdf another.pdf
    sleep 100; mv another.pdf nondestructive_mv.pdf

I am watching the F12 log to make sure the sleep 1

[2019-03-08 15:47] guruz commented on #7077
Is that because the FileId is not known yet?
The server used to reply the OC-FileId as header..
But if there is a sync in between, actually we should know the file ID from the sync. Maybe still a client bug then when messing around with SyncFileItem?

[2019-03-08 16:02] jnweiger commented on #7077
The client can easily detect that the file was moved by looking at the inode number, which remains the same despite the new name.

[2019-03-08 16:41] ChrisEdS commented on #7043
I had to reinstall the old client first to see your "back to normal mode" fix.

[2019-03-08 16:55] jnweiger commented on #7077
Also reproduced with client-2.4.2 ion Ubuntu 18.04

[2019-03-08 17:54] ogoffart commented on #7077
This has always been like that. We do the move detection only for new file.
I don't know why it is like that since this was designed before my time.

It is true that now, with the hashes on the DB, we could more reliably detect copies and move and that we could consider changing that in 2.6 by also doing the rename detection in this case.

[2019-03-10 15:55] guruz commented on #7043
Disabling dark mode in latest 2.5.4 daily builds works as per https://github.com/owncloud/client/commit/710a2af6b5496df4ee5cfe13a9c407cf27979de2#commitcomment-32655811
I'm moving this issue then and we fix it in a later release.

[2019-03-10 15:57] guruz commented on #6677
Ouch!
Thanks a lot @ckamm for fixing.
@Phlos @T0mWz thanks for the logs and patience..

[2019-03-10 16:33] guruz commented on #7050
ChangeLog: https://github.com/owncloud/client/blob/2.5/ChangeLog

[2019-03-11 06:30] guruz commented on #7050
rc1 build started -> https://jenkins.int.owncloud.com/job/client-trigger/2319/

On Windows, it's still using 5.11.2 but we think this is OK since we had disabled HTTP2 anyway for now. https://github.com/owncloud/client/issues/6968#issuecomment-468153891

[2019-03-11 08:40] ckamm commented on #6518
@gpothier The linux dailies should now include the fix: https://build.opensuse.org/package/show/isv:ownCloud:community:nightly/owncloud-client . Try removing the autostart delay, the client should retry on failure after 10s itself. (it's visible in the logs)

[2019-03-11 10:49] corneliusweiss commented on #7054
sure, but which is the right one? testpilotclient? which version to test? I need a macOS package.

[2019-03-11 11:08] guruz commented on #7054
@corneliusweiss https://download.owncloud.com/desktop/testing/ownCloud-2.5.4.11420rc1.pkg

[2019-03-11 11:17] corneliusweiss commented on #7054
@guruz works like a charm
Thanks a lot!

[2019-03-11 11:24] guruz commented on #7054
Great!

[2019-03-11 11:24] #7054 closed

[2019-03-11 11:25] guruz commented on #7041
@BWibo Can you test this with https://download.owncloud.com/desktop/testing/ownCloud-2.5.4.11614.11431-rc1.msi ?

[2019-03-11 11:26] guruz commented on #7003
So this is actually not ReadyToTest?

[2019-03-11 11:26] guruz commented on #6987
@jnweiger Please test with rc1

[2019-03-11 11:26] guruz commented on #6977
@lazawan Please re-try with https://download.owncloud.com/desktop/testing/ownCloud-2.5.4.11420rc1.pkg

[2019-03-11 11:27] guruz commented on #7055
@elmeto Please test with https://download.owncloud.com/desktop/testing/ownCloud-2.5.4.11420rc1.pkg

[2019-03-11 11:49] elmeto commented on #7055
Brilliant, that works, thank you!

[2019-03-11 12:24] lazawan opened #7078 "owncloud client 2.5.3 doesn't take OWNCLOUD_MAX_CHUNK_SIZE into account"
### Expected behaviour
i have to be able to limit `OWNCLOUD_MAX_CHUNK_SIZE` to 1MB  by exporting `OWNCLOUD_MAX_CHUNK_SIZE=1000000` `OWNCLOUD_MIN_CHUNK_SIZE=1000000` `OWNCLOUD_CHUNK_SIZE=1000000` in  shell

### Actual behaviour
exported max-value isn't token into account (client begins uploading with 10 000 000 bytes )

### Steps to reproduce

- install owncloud-client 2.5.3
- make account on an ow

[2019-03-11 14:13] guruz commented on #7055
Great!

[2019-03-11 14:13] #7055 closed

[2019-03-11 14:16] guruz commented on #7061
@lexo-mfleuti Can you test the shares with expiry using https://download.owncloud.com/desktop/testing/ownCloud-2.5.4.11614.11431-rc1.msi and report back if it works?
For your other comments (configurable context menu), I think it's better to create a new issue as this one here is really just for the bugfix of the link creation (thanks!).

[2019-03-11 14:17] guruz commented on #6968
Moving to 2.5-next (which is 2.5.5)

[2019-03-11 14:18] guruz commented on #7068
@PVince81 should be fixed in https://download.owncloud.com/desktop/testing/owncloud-client-2.5.4.11614.484rc1.linux-repo.html

[2019-03-11 14:19] guruz commented on #6518
Should also be in 2.5.4-rc1
https://download.owncloud.com/desktop/testing/owncloud-client-2.5.4.11614.484rc1.linux-repo.html

[2019-03-11 14:24] guruz commented on #7050
https://jenkins.int.owncloud.com/job/client-linux-tests/124/console

example:

00:26:02 Warning: Skipping repository 'The ownCloud client repo (openSUSE_Leap_15.1)' because of the above error.

^^ hmm?

This is installing 2.5.3 still?

[2019-03-11 15:03] guruz commented on #7050
Draft release at: https://github.com/owncloud/client/releases/edit/untagged-64365dcb62929ad138ca

[2019-03-11 16:17] guruz commented on #7050
@jnweiger says Linux package tests are OK https://gitlab.com/ownclouders/client-linux-tests/pipelines/51225492
Except for CentOS6 sqlite3 package, not a blocker for rc1

[2019-03-11 16:21] guruz commented on #7050
Published the GitHub release
https://github.com/owncloud/client/releases/tag/v2.5.4-rc1

FYI @dragotin @hefee

[2019-03-11 16:55] lexo-mfleuti commented on #7061
@guruz Just tried it out. The bug is fixed. Very nice thank you! I can now share files much faster already. Though it would be very cool if you could also change the layout of the context menu to something like I explained above. That would be the dream ;)

[2019-03-11 17:49] michaelstingl commented on #7061
Is the link creator aware that the created link will silently disappear after a while?

[2019-03-11 17:51] lexo-mfleuti commented on #7061
No, what do you mean by "silently disappear"? You mean like "removed from clipboard"?

[2019-03-11 18:45] BWibo commented on #7041
@guruz I will do that tomorrow morning when I have access to the machine where the problem occured.

[2019-03-11 21:18] gpothier commented on #6518
Hi, the problem persists with 2.5.4rc1 (build 484). The delay workaround is still needed. Do you know how I could provide a log of the autostarted owncloud instance?

[2019-03-11 22:57] michaelstingl commented on #7061
In this case, a max. expiration date has been set by the ownCloud server admin. The user then creates a link with the desktop client that's available in the clipboard. But the user isn't aware the link has an expiration date. After expiration, the link disappears and is no longer valid.

@ckamm adding the expiration date/period to the context menu entry?

[2019-03-12 08:28] ckamm commented on #7003
@guruz The awkward elision for the non-account buttons was fixed in Qt 5.12.1, but there's still incorrect elision for the account buttons which'll likely be fixed with Qt 5.12.2 as @ogoffart found out. So overall I'd say it's not ready to test.

[2019-03-12 08:31] ckamm commented on #7061
I'm glad it works! The further ui refinements don't fit into 2.5.4. I'll make new tickets against 2.6. This one seems done to me.

[2019-03-12 08:31] #7061 closed

[2019-03-12 08:34] ckamm opened #7079 "Remove "ownCloud" submenu from shell integrations and instead show actions directly"
Suggested by @lexo-mfleuti in https://github.com/owncloud/client/issues/7061#issuecomment-468621463 along with a suggestion to make the context menu entries configurable.

[2019-03-12 08:36] ckamm opened #7080 "Add expiry information to "Copy link to clipboard" context menu action"
See https://github.com/owncloud/client/issues/7061#issuecomment-471773318 and below. The suggestion is to have the menu action text be something like "Copy public link to clipboard (link validity: 26.03.2019)" when the link will expire after a while.

[2019-03-12 08:38] ckamm commented on #6518
@gpothier :(

Enable permanent logging, see https://doc.owncloud.org/desktop/2.5/troubleshooting.html#logging-to-a-temporary-directory

[2019-03-12 09:03] lazawan commented on #6977
@guruz I have just tested the
https://download.owncloud.com/desktop/testing/ownCloud-2.5.4.11420rc1.pkg
and it works fine , bug is fixed :)

[2019-03-12 11:18] BWibo commented on #7041
@guruz Just tested the build and everything seems to work fine! Thank's for the fix.

[2019-03-12 11:19] guruz commented on #7050
Central post: https://central.owncloud.org/t/desktop-sync-client-2-5-4-rc1-released/18969

[2019-03-12 11:26] guruz commented on #7050
Testpilots mail: https://mailman.owncloud.org/pipermail/testpilots/2019-March/000399.html

[2019-03-12 11:51] #6977 closed

[2019-03-12 11:51] ckamm commented on #7041
@BWibo Thanks for testing!

[2019-03-12 13:05] guruz commented on #7050
Beta channel auto updater: https://github.com/owncloud/enterprise/pull/3206

[2019-03-12 15:08] gpothier commented on #6518
Here is what I get when it fails to setup the tray (with grep -i tray):
03-12 11:44:50:654 [ info gui.application ]:	Tray menu workarounds: noabouttoshow: false fakedoubleclick: false showhide: false manualvisibility: false
03-12 11:44:50:915 [ info gui.application ]:	System tray is not available, waiting...
03-12 11:44:51:916 [ info gui.application ]:	System tray still not available, showing wind

[2019-03-12 23:39] gpothier commented on #6518
I tried again, but logging out from all accounts before enabling logging, because with OwnCloud mostly frozen I suspect I got confused with which log was which attempt in my previous response. Now it is better ordered, and it makes more sense. The first attempt (20:29) was with the delay workaround, and the second one (20:30) without it.

gpothier@tadzim4:~$ ls -lt /tmp/ownCloud-logdir/
total 36
-

[2019-03-13 09:38] ckamm commented on #6518
@gpothier Thanks for the data! That means the client does try after 10s, but it has no effect. :/

I'll see about adding that autostart delay workaround.

[2019-03-13 10:27] guruz commented on #2255
Server has support now for LOCK WebDAV call
https://github.com/owncloud/core/pull/31651

[2019-03-13 10:29] guruz commented on #2872
Server supports LOCK call now https://github.com/owncloud/core/pull/31651

[2019-03-13 11:41] ckamm commented on #7077
@ogoffart Do you see a reason we shouldn't trigger move detection if the local file's inode is different from the one in the database? I currently don't see why we shouldn't detect moves onto files that already exist.

[2019-03-13 11:54] ckamm commented on #7014
@noMICROSOFTbuhtz Indeed, there's currently no way of disabling the use of the keychain.

If someone wanted to implement the feature, there'd be a few options. The client uses QtKeychain fo access the keychain and links to it dynamically. It could be improved to have a no-backend mode that just makes read/write attempts come back with errors.

Another option would be to start in owncloud-client co

[2019-03-13 13:43] ckamm commented on #6931
Possibly fixed with the db-error detection fix for 2.5.4. Please reopen if this happens with that or a newer version or you have more information.

[2019-03-13 13:43] #6931 closed

[2019-03-13 13:46] ckamm commented on #6862
#7077 Is also about extending rename detection to more cases. This issue might be more tricky to get right though.

[2019-03-13 13:47] #6829 closed

[2019-03-13 13:47] #7009 closed

[2019-03-13 13:49] ckamm commented on #6815
The unimplemented parts will move to a new ticket

[2019-03-13 13:54] ckamm opened #7082 "Shell integration icons for suffix vfs"
Follow up from #6815:

Currently (for suffix-vfs) there are no different icons for "available locally" and "online only" files. (Technically there are four states: hydrated-availabelocally, hydrated-onlineonly, dehydrated-availablelocally, dehydated-onlineonly but two of them are transitional only and could just show as "syncing".)

It could be nice if there was an icon for a folder containing mix

[2019-03-13 13:57] ckamm opened #7083 "Virtual file context menu options should be in submenu"
Follow up from #6815.

Currently the vfs actions appear next to sharing options etc. That's fine while there are few options but will become cluttered as the number of actions increases. A separator or maybe a submenu would be best.

Depends on #6921  and similar work for other shell extensions.

[2019-03-13 13:58] jnweiger commented on #7050
update updater deployed for rc1 windows.
updated the supported lists in many places...

[2019-03-13 14:01] ckamm opened #7084 "Automatic dehydration of outdated unpinned files"
Follow up from #6815

Imagine a file is hydrated but not explicitly pinned and then it changes on the server. Currently the sync client would update the local file by downloading the new contents. An alternate and maybe more intuitive course of action would be to dehydrate the local file.

This could potentially annoy users though.

[2019-03-13 14:07] ckamm commented on #6361
Feel free to reopen if there's more information. We also fixed a bunch of unrelated crashes in the meantime!

[2019-03-13 14:07] #6361 closed

[2019-03-13 14:10] ckamm commented on #6117
Ended up being done in #6518. The internal delay didn't work but future versions shall have an autostart delay that should help.

[2019-03-13 14:10] #6117 closed

[2019-03-13 14:12] ckamm commented on #5537
I assume this is good now.

[2019-03-13 14:12] #5537 closed

[2019-03-13 16:45] jnweiger commented on #7083
Daily master on win10 currently looks like this:
![grafik](https://user-images.githubusercontent.com/1108546/54297648-8f7a4f00-45b7-11e9-9875-5077284a5169.png)

No vfs actions anymore?

[2019-03-13 17:02] jnweiger opened #7085 "Virtual file actions are missing from the context menu"
daily master 20190313 on win10 looks like this
![grafik](https://user-images.githubusercontent.com/1108546/54297919-13343b80-45b8-11e9-9ec6-77609550dadd.png)

I cannot see any vfs actions. It is no longer possible to explicitly download an object or explicitly make it virtual.
The options 'Download file(s)' and 'Replace file(s) by virtual file' should be there, as e.g. seen in 2.5.4
![grafik](http

[2019-03-13 17:08] michaelstingl commented on #7085
@jnweiger What is the exact version of Win 10 you tested?

[2019-03-13 17:11] jnweiger commented on #7085
![grafik](https://user-images.githubusercontent.com/1108546/54299518-580da180-45bb-11e9-9e46-1807694702d2.png)

[2019-03-13 18:12] jnweiger commented on #7041
## tested 2.5.4.11614.11431-rc1 on win10
Hit Add folder Sync button
  -> Does not crash. A text entry opens.
OK

Enter 'f' into the entry field. OK. Enter ':' -> immediate crash.
bp-222216fc-69cf-46c9-91c1-0600a2190313

100% reproducable. Trying to enter a non-existant drive name causes a crash.
In some cases, it causes a frozen nonresponsive client that just hangs.
![grafik](https://user-images.g

[2019-03-13 19:12] michaelstingl commented on #7085
Hm, Win 10 version 16299.15 or later is [needed](
https://support.office.com/en-us/article/use-onedrive-files-on-demand-in-windows-0e6860d3-d9f3-4971-b321-7092438fb38e) for the advanced Win integration.

@ckamm Could you have a look?

[2019-03-14 07:13] ckamm commented on #7027
@jnweiger Now that this is in the workaround should not be necessary any more. Either set the new PLUGINDIR path, or install to the place it points to by default.

[2019-03-14 07:46] ckamm commented on #7085
@jnweiger @michaelstingl This looks correct. The options are "Immer auf diesem Gerät..." und "Speicherplatz freigeben" and are provided by Windows.

But if you're confused by this, users might be as well. We could duplicate the actions in the ownCloud submenu?

[2019-03-14 07:50] michaelstingl commented on #7085
Ah, didn't read properly. Let me check this on my device.

[2019-03-14 07:55] ckamm commented on #7041
@jnweiger I think I know what's up, there's yet another recursive validation function that doesn't abort correctly in this case. I'll reproduce and fix.

[2019-03-14 10:55] ogoffart commented on #7077
No, i don't know the reason. Maybe it was simpler for Klaas to implement at the time with the old csync engine.
But this could trivially be done now.

[2019-03-14 11:10] MariusLaurinaitis commented on #3874
Hello, nextcloud 15, MacOS app 2.5.1.
I have problem, after reinstalation  nextcould apps works fine, until reboot my Mac, contextual menu setting for sharing the folder on Nextcloud has gone missing.

[2019-03-14 11:13] guruz commented on #3874
@MariusLaurinaitis Download the latest rc please https://github.com/owncloud/client/releases/tag/v2.5.4-rc1

[2019-03-14 11:18] #6376 closed

[2019-03-14 12:28] MariusLaurinaitis commented on #3874
But th

Ok, but this is owncloud, not nextcloud. Do I need this?

[2019-03-14 12:38] jnweiger commented on #7085
Ah, that explains it!
I am too Linux-narrow-minded. I never actually read any of the windows-specific right click items.

Duplicating the entries into our sub-menue is probably helpful for those of
There are different users out there:
* "I know ownCloud. This is a cool, new and prominently advertised feature"
* "I know one-drive. Whatever-cloud backend there is, it should just work as expected."

[2019-03-14 14:27] jnweiger commented on #6677
## not tested with 2.5.4
It appears hard to reproduce a setup locally, that would trigger the issue. Not tested here.
@Phlos can probably only retest after we have a released branded 2.5.4 client.
-> suggest 'not tested' is acceptable for proceeding with 2.5.4rc1

[2019-03-14 16:22] jnweiger commented on #7020
## Tested on ubuntu 18.10 with 2.5.4rc1
 allow haproxy to use HTTP/2.0
 2.5.4rc1 connects per default with HTTP/1.1
 export OWNCLOUD_HTTP2_ENABLED=1
 2.5.4rc1 connects then with HTTP/2.0
OK

[2019-03-14 16:41] jnweiger commented on #7023
## tested wit 2.5.4rc1 on win10
 connect client with bandwidth limit 80kb to demo.owncloud.org
 add a new tree with ca 70GB of data to the server (using another client).
 Wait until download begins.
 navigate file browser into sync folder.
 check file browser integration is active.
 Try with several files including parent folder of downloading subtree, and objects inside or outside the downloading

[2019-03-14 17:01] jnweiger commented on #7004
## tested with 2.5.4rc1 on win10
pinned a folder to quick access while the folder still shows the blue downloading icon.
pin the same folder to the explorer.
navigate elsewhere
click quick access entry. -> visit folder.  -> GOOD
close file browser.
right clock explorer icon, -> click pinned folder -> file broser opnes at the correct folder -> GOOD.
OK

[2019-03-14 17:45] jnweiger commented on #6987
## tested 254rc1 on win10
 A trailing newline causes an entry as not synced with the message "The filename is a reserved name in this filesystem" -> green checkmark indicates a successful sync nevertheless ->
OK

A trailing carriage return causes the file to be ignored without entry in the not synced.
Renaming a "foo.txt" to "foo\r" on the server (via a different client) causes the windows client

[2019-03-15 07:13] #6677 closed

[2019-03-15 07:15] ckamm commented on #6987
@jnweiger Nice catch, there files should definitely appear in the not-synced tab! It's very odd, because there's no distinction between \n and \r in the code. I'll try to reproduce.

[2019-03-15 07:56] ChrisEdS opened #7087 "[UX] Possibility to go directly to "Permanently saved logs" folder"
**Possibility to go directly to "Permanently saved logs" folder**

### Expected behaviour
I desire an additional button that takes me directly to the appropriate folder. Let's say it's called "View" or "Saved Logs".

![image](https://user-images.githubusercontent.com/33026403/54416351-65cc3f80-46ff-11e9-801d-3c77900543a0.png)

### Actual behaviour
If you don't know where the permanent logs are sav

[2019-03-15 07:57] ckamm commented on #7087
Indeed!

[2019-03-15 08:00] ckamm opened #7088 "Clicking items in "not synced" tab doesn't reliably open explorer window"
From https://github.com/owncloud/enterprise/issues/3212: It usually works on Macs, but not for ignored files. It never works on Windows.

[2019-03-15 08:13] ckamm commented on #6987
I'd say deleting the file locally when it is renamed to a non-representable name is expected behavior.
If I create "foo\n" and "bar\r" on the server both will show up in the not-synced tab for me.
If I rename "foo.txt" to "gone\r" I also see the file deletion and "gone" is listed in the not-synced tab.

@jnweiger Could you check again, maybe there's a particular situation that makes it not show up

[2019-03-15 08:18] ckamm commented on #7088
@ChrisEdS I've not been able to reproduce on Win10 with 2.5.4: I can double-click ignored files and conflict files and it'll take me to an explorer window that has the file selected. Can you retest, or maybe describe in which situations exactly the navigation didn't work?

[2019-03-15 08:21] ckamm commented on #7087
This relates to #6475

[2019-03-15 08:32] ChrisEdS commented on #7088
Thank you @ckamm for looking into this. I'll test that again and maybe get some more information.

[2019-03-15 08:53] ogoffart commented on #7058
I can reproduce the problem with the owncloud server. It is posdsible the set an arbitrary expiration date

[2019-03-15 08:54] ogoffart commented on #7058
Actually, it is not possible to set an expiration date which is longer that the enforced one.  So I guess this is working as expected

[2019-03-15 08:56] ogoffart commented on #5502
Closing old issue, most likely fixed as per #5106

[2019-03-15 08:56] #5502 closed

[2019-03-15 08:58] #5704 closed

[2019-03-15 09:05] ogoffart commented on #5846
Closing old issue

[2019-03-15 09:05] #5846 closed

[2019-03-15 09:07] ogoffart commented on #6208
Closing old issue that cannot be reproduced

[2019-03-15 09:07] #6208 closed

[2019-03-15 09:09] ogoffart commented on #6233
Closing old issue. Lots of speed improvement happened since 2.3

[2019-03-15 09:09] #6233 closed

[2019-03-15 09:10] ogoffart commented on #6266
Can this be reproduced with recent client?

[2019-03-15 09:14] ogoffart commented on #6435
Closing issue we cannot reproduce.

[2019-03-15 09:14] #6435 closed

[2019-03-15 09:15] ogoffart commented on #6480
Closing old issue.

[2019-03-15 09:15] #6480 closed

[2019-03-15 09:17] ogoffart commented on #6600
Closing old issue. The glitch was probably caused by a very old client version, and there would be not much that can be done about it.

[2019-03-15 09:17] #6600 closed

[2019-03-15 09:19] ogoffart commented on #6513
Closing old issue. This is just a server issue.

[2019-03-15 09:19] #6513 closed

[2019-03-15 09:21] ogoffart commented on #6651
Is this still an issue?

[2019-03-15 09:47] ckamm opened #7090 "Fix plugin packaging on OSX"
Now that #7076 is merged it should be possible to properly include the vfs plugin into the generated bundle for OSX.

@guruz already suggested that Contents/PlugIns looks like the right place according to https://developer.apple.com/library/archive/documentation/CoreFoundation/Conceptual/CFBundles/BundleTypes/BundleTypes.html#//apple_ref/doc/uid/10000123i-CH101-SW1 .

1) I would imagine that we wa

[2019-03-15 10:02] ogoffart commented on #6821
[code]

Then next sync:

[code]

The type 3 is `ItemTypeSkip` which can happen for the following reason:

- The call to _csync_vio_local_stat_mb fails, which can happen if `lstat` fails, which is likely since logs show that other call to stat also failed. I'd even bet it returns `EOVERFLOW`
- the `st_mode` is not the one of a normal file

Skipping if stat fails is a very poor choice which leads to

[2019-03-15 10:04] ogoffart commented on #6657
Closing issue that we cannot reproduce.

[2019-03-15 10:04] #6657 closed

[2019-03-15 10:19] ckamm commented on #7087
Actually, upon rereading I'll close this as a duplicate of #6475

[2019-03-15 10:19] #7087 closed

[2019-03-15 10:26] guruz opened #7092 "Check switchting to Qt 5.12.4"
https://blog.qt.io/blog/2019/03/15/qt-5-12-2-released/

[2019-03-15 13:03] guruz commented on #6821
@ogoffart then this should be in 2.5.x milestone?

[2019-03-15 13:12] guruz commented on #6651
@jnweiger Was the string that you saw one of
[code]
?

Then I would think @ogoffart already fixed it by https://github.com/owncloud/client/commit/21ac396bd1b2fb88763901bbafb36474e244c4f5

Please re-open if not

[2019-03-15 13:12] #6651 closed

[2019-03-15 13:20] ogoffart commented on #6821
The thing is that this is in the discovery which is changed completely in 2.6.
Supporting it in 2.5 means the work need to be done twice.

[2019-03-15 13:27] guruz commented on #6821
@ogoffart We have to keep 2.5 alive for a while because we removed WebKit in 2.6 ...

[2019-03-15 16:18] lazawan commented on #7068
@ckamm i tried to reproduce the bug on client 2.5.3 but i did not manage it (on ubuntu 16.04)
here what i did :
i limited the bandwidth in order that sync is slower
i pasted a folder with files into sync folder
during sync i added files into the new pasted folder
but the files that i added afterwards ,were synchronized too
did i do that what you meant ?

[2019-03-15 16:33] ckamm commented on #7068
@lazawan That depends on when exactly you pasted the new files, it needs to happen before the creation of the new folder on the server is completed. Propagation of the contents of the folder happens afterwards. Possibly adding large files to the sync root might do it, but it could depend on job ordering. I'll look more closely tomorrow.

[2019-03-15 16:52] jnweiger commented on #6518
## tested on ubunut18.04
starting with 2.5.3 (to reproduce the problem)
Install Gnome Tweaks.
 Enable Gnomme Shell Extension with
  gnome-shell-extension-appindicator
  gnome-shell-extension-hard-disk-led
  gnome-shell-extension-system-monitor
  gnome-shell-extension-better-volume
  radiotray-ng
No such package. -> install 'radiotray' instead.
  indicator-cpufreq
    installed and enabled.
 reboot

[2019-03-15 19:03] ckamm commented on #6518
I've had similar trouble reproducing the issue in vms, but it seems to be fairly common in the wild :/

[2019-03-15 19:12] gpothier commented on #6518
I just realized I never mentioned that I use the "vanilla" Gnome Shell, not the Ubuntu-customized one... I don't know about the original reporter.
Basically:
sudo apt install gnome-session
Also choosing the non-ubuntu css alternative, but probably not relevant:
sudo update-alternatives --config gdm3.css

And then select "Gnome on Xorg" when logging in.

[2019-03-15 19:56] ChrisEdS commented on #7088
Tested with client 2.5.1 on Windows 10: Click on conflict file -> Explorer opens
Tested with client 2.5.4 on macOS: Click on conflict file -> Finder opens

I will ask the user for further information.

[2019-03-16 13:43] elfring opened #7095 "Improve exception safety with smart pointers"
Would you like to [wrap any pointer data members](https://github.com/owncloud/client/blob/421c0b447e4012750c5ecb006d20ebd8cc0c0ea1/src/gui/generalsettings.cpp#L123 "Update candidate: GeneralSettings class") with the class template “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")” (or “[QScopedPointer](https://doc.qt.io/qt-5/qs

[2019-03-16 14:07] ogoffart commented on #7095
That would indeed make sense, to make the ownership more explicit.
(But we do not need exception safety because our code do not throw exceptions, and is not exception safe anyway. Qt itself is not)

[2019-03-16 14:15] elfring commented on #7095
* How do you think about the possibility for an exception like “std::bad_alloc”?
* Would you like to [reconsider the resource management in affected source files](https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#r11-avoid-calling-new-and-delete-explicitly "C++ core guideline “R.11: Avoid calling new and delete explicitly”") once more?

[2019-03-16 14:40] ogoffart commented on #7095
This does not make sense in a GUI application. Because it is not possible to recover sanely for it, so terminating the app is the right option. Also because modern OS overcommit.
If this happens because of a bug or a leak, one must fix this leak or bug.

Sure, in new code, we try not to use raw delete / new. But this code is very old. (git blame tells this line you point out is 6 years old, but it

[2019-03-16 14:40] #7095 closed

[2019-03-16 14:48] elfring commented on #7095
Should the probability for the exception “std::bad_alloc” be taken better into account?

Such an error handling strategy might be too hard.

I am unsure if the involved data structures will be still consistent for such an attempt.

[2019-03-16 15:25] ogoffart commented on #7095
I'd like to point out that this is not relevant to the case in point, because doing the delete in the destructor is perfectly exception safe.

 But in general, Qt code (and so owncloud's client code) is not exception safe. This means that if an exception is thrown and is crossing Qt or owncloud client code, it can result in leaks. But that's fine because there is normally no exception thrown. If t

[2019-03-16 15:56] elfring commented on #7095
I suggest to take another look at corresponding case distinctions.

The success of the possible object deletion depends on the validity of the provided pointer.

This is a reasonable expectation in principle.

I have got doubts for the software behaviour after exceptional situations (according to this issue).

[2019-03-18 10:44] guruz commented on #7050
2.5.4 builds went through
https://jenkins.int.owncloud.com/job/client-trigger/2359/

[2019-03-18 11:26] WeissmanGmbH commented on #6937
we have checked again and the new version of the client doesnt show up this error anymore. so looks like it has been fixed soemhow.
Issue solved. Tanks for all the support :+1:

[2019-03-18 11:26] #6937 closed

[2019-03-18 14:05] guruz commented on #7050
testpilotcloud triggered too. https://jenkins.int.owncloud.com/job/client-trigger/2360/

@jnweiger has also fixed the download mirrors \o/

[2019-03-18 15:27] ogoffart commented on #7003
Just tested with Qt 5.12.2, and it looks good now.

[2019-03-18 15:27] #7003 closed

[2019-03-19 07:05] frazy81 opened #7096 "Can't install owncloud 2.5.3 on debian 9 stretch due to unmet dependencies"
I currently can't install owncloud-client on debian 9 stretch due to unmet dependencies. My output of "apt install owncloud-client" goes like:

The following packages have unmet dependencies:
 owncloud-client : Depends: libowncloudsync0 (= 2.5.3.11470+oc-342) but it is not going to be installed
                   Depends: ocqt5101-libqt5concurrent5 but it is not installable
                   Depe

[2019-03-19 08:09] michaelstingl commented on #6475
@ChrisEdS suggested:

👍

[2019-03-19 08:37] michaelstingl commented on #7096
I was able to reproduce using the install instructions linked from:
https://owncloud.org/download/#owncloud-desktop-client-linux

[code]

[code]

@jnweiger for help…

[2019-03-19 09:35] jnweiger commented on #7096
Ouch. We are preparing a 2.5.4 release. Publishing is disabled, but SUSE OBS has decided to push some updates through, already. Now http://download.opensuse.org/repositories/isv:/ownCloud:/desktop is in a broken state. Half 2.5.3 and half 2.5.4 sorry for this. I have fallen into that trap before.

Please try https://build.opensuse.org/package/show/isv:ownCloud:desktop:client-2.5.3/owncloud-client

[2019-03-19 09:42] jnweiger commented on #7096
http://download.opensuse.org/repositories/isv:/ownCloud:/desktop  should have 2.5.4 within the next one or two hours.

[2019-03-19 10:53] Sigmun commented on #3011
This issue still keep me from using owncloud at work... Very annoying!

[2019-03-19 11:39] lexo-mfleuti opened #7100 "[FEATURE] "Open local file" / "show in file explorer" function in web UI"
### What's the issue?

We work with a project management tool and we refer to files on the OwnCloud system by copy/pasting private links into the PM tool. If someone clicks on that link he can see the files but he cannot work with them easily on the local computer. He would then remember the path to the linked file, open up an explorer window and navigate to that file manually. This is very time c

[2019-03-19 12:03] #6579 closed

[2019-03-19 13:52] PVince81 commented on #6266
Yes, saw it lately eeven with 2.5.3.

I believe it's related to having multiple accounts: I have the company OC account and private OC account.

Sometimes I have the feeling that the indicator only matches one of them, not both. Maybe the logic that feeds the status has a bug that randomly fails to pass it along ?

I don't have exact reproduction steps.

[2019-03-19 15:07] jnweiger commented on #7050
* Linux 2.5.4 is now correctly published at https://software.opensuse.org//download.html?project=isv%3AownCloud%3Adesktop&package=owncloud-client

* links at owncloud.org all now have 2.5.4

[2019-03-19 16:35] guruz commented on #7050
@hefee @dragotin release is out https://github.com/owncloud/client/releases/tag/v2.5.4

[2019-03-19 18:42] guruz commented on #7050
I've re-used the rc1 central post for the final https://central.owncloud.org/t/desktop-sync-client-2-5-4-released/18969

[2019-03-19 19:26] frazy81 commented on #7096
@michaelstingl @jnweiger

Thank you for the fast reply and workaround suggestion/solution! It works perfectly now.

Cheers, Philipp

[2019-03-19 19:26] #7096 closed

[2019-03-19 19:54] jnweiger opened #7101 "Review wording with VFS"
Seen with 2.6.0daily 20190313 on win10:

When VFS is enabled, and a new folder appears on the server, the client still says 'downloaded.'
that is misleading, if default is online only.
![grafik](https://user-images.githubusercontent.com/1108546/54637063-1764cb00-4a88-11e9-9898-a93eb2b77962.png)

When I select 'Immer auf diesem Gerät behalten' the client pops up a notification with exactly the same

[2019-03-20 10:25] guruz commented on #7100
@DeepDiver1975 is working on a real time communication channel between client and server. Then this could be implemented.

[2019-03-20 10:29] guruz commented on #3011
@dschmidt Is this easier now with the new MSI installer?

[2019-03-20 10:34] guruz commented on #7095
Please clarify :-)

I think crashing the application is good as this is what we expect at any time..

[2019-03-20 11:00] ChrisEdS commented on #7088
The user reported the following:

[code]

I can't explain the different results. I think it makes sense to wait for the branded client 2.5.4 and request another test.

[2019-03-20 11:06] guruz commented on #179
This feature will be in the upcoming 2.6 alpha release.
Meanwhile you can try it inside the daily builds 2.6.x https://download.owncloud.com/desktop/daily/

[2019-03-20 11:12] guruz commented on #4808
https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/networkhelper IsInternetOnMeteredConnection
https://stackoverflow.com/questions/16122432/how-can-i-tell-if-the-connection-is-metered
https://stackoverflow.com/questions/32845625/windows-10-uwp-detect-if-the-current-internet-connection-is-wifi-or-cellular
https://stackoverflow.com/questions/49949860/winform-find-if-network-connection

[2019-03-20 11:38] elfring commented on #7095
* How much do you know if the involved data structures will be consistent after such a “[crash](https://en.wikipedia.org/wiki/Crash-only_software "Description for crash-only software")”?
* Do you care for [corresponding C++ core guidelines](https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rr-summary-smartptrs "Smart pointer rule summary")?

[2019-03-21 08:56] kleinehector commented on #7088
Thanks for looking into this. The behavior is very strange.

On VM with Windows 10  and 2.5.1 it didn't work for me, but it did work for a colleague with the same client on a native Windows 10.

After this another colleague who is just as me on Mac Mojave and the same client was unable to get to Finder from any files in the Not Synced, while the conflict files did work for me.

I have spoken with

[2019-03-21 09:22] hodyroff commented on #3011
@Sigmun Why does the portable version not work for you?
@guruz  @dschmidt No, the Windows File Explorer pieces need administrator rights.
If the portable version works, I wonder whats missing exactly.

[2019-03-21 09:33] JoKalliauer opened #7104 "Version 2.5: A HTTP transmission error happened. : The server file discovery reply is missing data."
### Expected behaviour
It should sync with server (Webservice works as expected)

### Actual behaviour
![Screenshot from 2019-03-18 13-40-39](https://user-images.githubusercontent.com/15687581/54743227-d8d42b00-4bc3-11e9-862e-e49c8c585bf6.png)

### Steps to reproduce
1. start owncloud version 2.5.3 or 2.5.4

### Server configuration

Web server: https://owncloud.tuwien.ac.at/index.php/login

Detai

[2019-03-21 09:41] guruz commented on #3011
@naderi Do you want to update your portable version to 2.5.4? Or contribute your build scripts for it, maybe we can integrate it with the ownCloud build servers?

@hodyroff I guess https://github.com/naderi/owncloud-client-portable/ does not look official enough.

[2019-03-21 10:30] ckamm commented on #7088
@kleinehector Hmm. Let's check whether the actions the client takes to show the files in the native browsers work.

On Mac, the client essentially does
[code]
Could you try this in a console manually, substituting %1 for the full path to the file that was clicked on?  I don't see why it would work for a conflict file and not work for other files though.

On Windows, the client calls
[code]
Does th

[2019-03-21 11:06] guruz commented on #7104
@JoKalliauer Does it work with 2.5.4? (Which has HTTP2 disabled, maybe that's related)
https://github.com/owncloud/client/releases/tag/v2.5.4

[2019-03-21 11:36] #6881 closed

[2019-03-21 11:37] nlurkin opened #7105 "[CentOS] Package ocqt5121-sqlite3-devel replaces sqlite3-devel"
### Expected behaviour
Install package ocqt5121-sqlite3-devel-3.26.0-2.1.x86_64 besides the standard sqlite3-devel package

### Actual behaviour
The package ocqt5121-sqlite3-devel-3.26.0-2.1.x86_64 was installed and replaced the standard sqlite3-devel package.

### Steps to reproduce
1. sudo yum update

### Client configuration
Client version: 2.5.4
Operating system: Centos 7
OS language: English

[2019-03-21 11:42] jnweiger commented on #7105
System sqlite3 and ocqt5121-sqlite3 should happily co-exist. Ours is not meant as a replacement.

[2019-03-21 11:43] guruz commented on #3011
@dschmidt Would one copy over https://github.com/owncloud/craft-blueprints-owncloud/blob/dep-tracking/owncloud/owncloud-client/owncloud-client.py#L34 to a owncloud-client-portable and go from there?

[2019-03-21 11:47] guruz commented on #7105
https://build.opensuse.org/package/view_file/isv:ownCloud:desktop/ocqt5121-sqlite3/debian.control?expand=1

[2019-03-21 12:10] jnweiger commented on #7105
Ouch. Patched these conflicting provides away. Rebuilds triggered.
-Provides:       %{oname}-devel = %{version}
-Obsoletes:      %{oname}-devel < %{version}
-Provides:       %{oname}3-devel = %{version}
-Obsoletes:      %{oname}3-devel < %{version}

[2019-03-21 13:37] srhuddle commented on #3300
I'm seeing this same behavior with Mojave (10.14.3), Mail.App and Microsoft Remote Desktop -- Ctrl-C copy from MRD pastes as a VCF in Mail.app.

[2019-03-21 14:18] michaelstingl commented on #3300
@srhuddle Please open a new issue with the relevant information (steps to reproduce, version etc).

[2019-03-21 14:53] JoKalliauer commented on #7104
@guruz :  I wrote `Client version: 2.5.3.(Win) and 2.5.4 (Linux)`
Therefore it did not work with 2.5.4 on Ubuntu. (I did not try on Windows.)

[2019-03-22 14:19] jnweiger commented on #7105
The 2.5.4 download repo now has ocqt5121-sqlite3-devel-3.26.0-3.1.x86_64.rpm
This one no longer conflicts with your system sqlite-devel libraries.

I can do:
[code]

closed fixed.

[2019-03-22 14:19] #7105 closed

[2019-03-22 14:27] guruz commented on #7105
@nlurkin  Please test

[2019-03-22 16:34] jnweiger commented on #7027
Linux builds seem to install the vfs_suffix plugin now into
@CLIENT_ROOT@/lib/$(DEB_HOST_MULTIARCH)/@APPLICATION_SHORTNAME@/plugins/

Examples:
* /opt/ownCloud/ownCloud/lib64/ownCloud/plugins/owncloudsync_vfs_suffix.so
* /opt/ownCloud/testpilotcloud/lib64/testpilotcloud/plugins/testpilotcloudsync_vfs_suffix.so

I am changing the *.install, *.rules *.spec files to pick it up from there.

[2019-03-22 17:35] jnweiger commented on #7027
## tested 2.6.0daily20190322  on ubuntu-18.04 using Qt-5.12.2
The plugin is there
-rw-r--r-- 1 root root 26776 Mär 22 17:53 /opt/ownCloud/ownCloud/lib/x86_64-linux-gnu/ownCloud/plugins/owncloudsync_vfs_suffix.so

and works.

[2019-03-22 17:35] #7027 closed

[2019-03-24 14:54] biva commented on #230
@MorrisJobke the development looks not active here. Do you still collaborate between owncloud and nextcloud? Would you still consider this development? In Africa, where internet is slow and data is expensive (illimited plans are very rare), it would be very helpful. Thanks a lot for your consideration!

[2019-03-25 07:23] s1a3ti opened #7106 "2.5.4 not working on macOS 10.11"
The desktop client version 2.5.4 does not work anymore on macOS 10.11.

I get the following error:

Sorry, "owncloud" can not be run on this version of macOS. Qt requires macOS 10.12.0 or later, you have macOS 10.11.6.

Thank you!

[2019-03-25 07:39] guruz commented on #7106
@s1a3ti Thanks for reporting. We'll discuss internally how we can bring builds with the old Qt (and possibly old build machine) back as additional download options.

[2019-03-25 09:17] ckamm commented on #7101
Indeed, I had updated the sync protocol entries in f786ef1430f85de02899dd7f4db4c0e6ae7fad27 but haven't adjusted the notifications.

Now, what would be a good text for notifications though? Currently each action-kind in (new, deleted, updated, renamed, conflict, error) triggers a single notification that mentions the first such file by name. I wonder whether that's all that useful? But let's leave

[2019-03-25 10:08] ckamm commented on #7085
It'll be tricky to duplicate them exactly due to localization, and the Windows-provided actions may also change with Windows updates. While they are supposed to behave identically, that's not guaranteed - we only control the behavior of our own codepath.

Showing the vfs actions in our context menu again would be a trivial change (hiding them is a flag in the vfs plugin) - I assume we'll want to d

[2019-03-25 11:06] cyryllo commented on #7104
In my case, I use external authorization via imap (external_users). With every major update nextloud I have this problem until I log in. Then accounts with external authorization disappear. And shared catalogs disappear with them. Logging in with clients via imap restores the user again and the shared directories.

There is a chance to get around it somehow? because it starts to be tiring with mor

[2019-03-25 11:49] ckamm commented on #6473
Quick test: Running the two sql queries comes out to around 1300 ns per `mapChecksumType()` call. Nevertheless a cache was added in 73dfe32be41d123c02be63a9958c92af0f504d11 which brings it down to 75ns per call.

[2019-03-25 11:49] #6473 closed

[2019-03-25 11:59] ckamm commented on #6474
At least one of these SELECTs was removed for 2.6 via 682cc6f199d64f11f42d89fc8a60b2a15d3d7086. But they also were far from a performance bottleneck.

[2019-03-25 11:59] #6474 closed

[2019-03-25 12:08] ckamm commented on #6472
Quick test on my machine: In a blacklist table of 100k entries a single select costs roughly 1700ns. So if there's a million new files the blacklist queries would contribute about 1s to the sync running time.

[2019-03-25 12:08] #6472 closed

[2019-03-25 12:11] michaelstingl commented on #7104
@cyryllo This is the ownCloud repo 😉

[2019-03-25 12:30] ckamm commented on #7104
@JoKalliauer @cyryllo The error happens when the server does not send all data that is required for the sync client to work correctly. The size, permissions, etag or fileid are missing.

Note that the ownCloud Desktop client is not tested against nextcloud servers. Use a matching client-server pair!

[2019-03-25 12:30] #7104 closed

[2019-03-25 12:36] JoKalliauer commented on #7104
@ckamm
I use a matching client-server pair.

But the server seems to use owncloud?
https://www.it.tuwien.ac.at/owncloud

Text is german and means: The Open Source Software [ownCloud](https://owncloud.org/) (currently version 9.1.1) runs at TU.it-Servers

Therfore I do not understand your last sentence.

https://owncloud.tuwien.ac.at/index.php/login

[2019-03-25 12:36] ckamm commented on #7100
It may also be possible to register the desktop client as a custom uri scheme handler and have the web app point to `owncloudclient://...` urls. But a real communication channel would be much preferred.

[2019-03-25 12:37] ckamm commented on #7088
In other issues I've seen people mention that they need to double-right(!)-click to open in the file browser. Could you double check that?

[2019-03-25 12:44] michaelstingl commented on #7104
@JoKalliauer Looks like a server problem that can't be solved in the client. Please check with your admin.

[2019-03-25 13:14] poetsmeniet opened #7108 "Owncloud client does not sync when xfce desktop is locked"
### Expected behaviour
When the xfce desktop is locked, you would expect the client to resume sync

### Actual behaviour
Owncloud desktop client pauses syncing

### Steps to reproduce
1. Copy new file to have owncloud client start syncing
2. Make a note of the sync progress
3. Lock desktop (ctrl-alt-L)
4. After some time, unlock and check progress

### Server configuration
Operating system:
Debian

[2019-03-25 13:22] ckamm commented on #7104
@JoKalliauer Ah, I mixed up the two reports then, sorry. You can figure out what data is missing exactly by looking at the "Missing properties" line in your client log file (https://doc.owncloud.org/desktop/2.5/troubleshooting.html#obtaining-the-client-log-file).

[2019-03-25 14:04] lexo-mfleuti commented on #7100
With a real communication channel you could provide multiple functions such as: Open image file with the local default image viewer or just open a windows explorer / finder window to show the image location. Dropbox goes as far: Clicking the button "Show in file explorer" opens up windows explorer and even highlights the file (marks it blue). This is very helpful when you want to open up 1 specifi

[2019-03-25 14:24] nlurkin commented on #7105
I confirm it is fixed. Thank you

[2019-03-25 20:50] JoKalliauer commented on #7104
@ckamm :
I updated on Microsoft Windows [Version 10.0.17763.379]  to owncloud-client 2.5.4:

And got this log-files:

[20190325_2137_owncloud.log.0.gz](https://github.com/owncloud/client/files/3005416/20190325_2137_owncloud.log.0.gz)

[20190325_2138_owncloud.log.0.gz](https://github.com/owncloud/client/files/3005403/20190325_2138_owncloud.log.0.gz)

[20190325_2139_owncloud.log.0.log.zip](https://g

[2019-03-26 08:09] ckamm commented on #7104
@JoKalliauer "Dropbox" and "DropboxTU" have no etag. Maybe reuploading, deleting or editing will fix the server data - otherwise you'll need to contact your server admin.

[2019-03-26 08:34] JoKalliauer commented on #7104
@ckamm

How can I remove external storage?

![Screenshot from 2019-03-26 09-26-59](https://user-images.githubusercontent.com/15687581/54981820-9175e200-4fa9-11e9-9ef8-5fb742ffc404.png)

![Screenshot from 2019-03-26 09-27-11](https://user-images.githubusercontent.com/15687581/54981828-95096900-4fa9-11e9-8d85-1b47fc292a8e.png)

![Screenshot from 2019-03-26 09-27-20](https://user-images.githubusercon

[2019-03-26 09:17] voroyam opened #7109 "Client deletes remote files without asking"
### Use Case

* Install the sync client
* Select the Virtual Files Option
* Decide you don't want that Option
* Look for a way to have your files physically on your storage again
* Remove the Checkbox - no effect
* Remove and Install the Client - no effect
* Remove the Client, remove all the files in your sync dir, install the Clinet

### Expected behavior
having the client sync the files from you

[2019-03-26 09:21] ckamm opened #7110 "Consider removing user settings when uninstalling on Windows"
Problem case:
1) user uninstalls the client
2) user partially deletes files in a previous sync dir, time passes
3) user installs the client
4) the previously configured sync dir gets processed, propagating deletes that the user didn't want synchronized

If previous settings are retained, the sync connections should at least be paused to require explicit user action to start synchronization.

[2019-03-26 09:24] michaelstingl commented on #7110
How does other software on Win handle this? What is kept and what is removed at uninstallation? Recommendations from Microsoft?

[2019-03-26 09:39] ckamm opened #7111 "Distinguish "pin state flag" from "content availability" for directories"
A directory that's marked as "available locally" can nevertheless have files that are dehydrated or subfolders that are marked as "online only". This needs to be distinguished for icons (don't exist yet) and for context menu actions.

A full description for a folder would be:
- new items are "always local", all contents are "always local"
- new items are "always local", some files are dehydrated
-

[2019-03-26 09:42] ckamm commented on #7104
@JoKalliauer I don't know. Potentially a server configuration issue? Server admin can probably help.

[2019-03-26 10:02] ckamm opened #7112 "Improve error for missing data during discovery"
"The server file discovery reply is missing data" errors are surprisingly frequent and often need our attention to diagnose.

1) Improve the error message to mention the file name and what data is missing. This will give users more hints for attempting to fix the error themselves.
2) Potentially continue syncing other items

[2019-03-26 14:02] dschmidt opened #7114 "Smoke test 2.5.4 with Qt 5.10 on macOS"
Related https://github.com/owncloud/client/issues/7106

See /job/client-osx/11503/

[2019-03-26 14:12] dschmidt commented on #3011
Well, we have sort of a portable package as an interim build step. It needs testing and everything and possibly stripping of unneeded assets, but it shouldn't be too much work

[2019-03-26 14:23] jnweiger commented on #7109
The last step 'Remove the Client, remove all the files in your sync dir, install the Clinet' probably has the same effect as 'remove all the files in your sync dir while client is running'
That operation is dangerous. It instructs the server to delete files.

A safe version would be 'stop the client, remove the sync dir (including the database), start the client'. Then the newly started client loo

[2019-03-26 14:38] michaelstingl commented on #3011
@Sigmun Would you be interested in testing @dschmidt 's "portable package" thingy?

[2019-03-27 15:35] jnweiger commented on #7114
#tested owncloud-client-2.5.4.11503 on osx mojave
works fine. syncs files, start stop, folder erase, virtual files, ..

[2019-03-27 19:13] herrep opened #7116 "OwnCloud Client 2.5.4: Wrong last change date of directories when using VFS"
Expected behaviour:
When synchronizing directories using VFS, each newly created directory on an OwnCloud client shall have a last change date that is identical to the last change date of the directory on the server.

Actual behaviour:
When synchronizing directories using VFS, each newly created directory, at least at a Mac client, has a last change date which corresponds to the point of time when

[2019-03-27 22:23] michaelstingl commented on #7116
This is the case for a long time, long before VFS. Not only with ownCloud, also with other solutions.

Related: https://github.com/owncloud/core/issues/7009

[2019-03-28 09:53] ckamm commented on #7108
@poetsmeniet That's weird. Does your desktop disconnect the network when you log out? Maybe enable logging (https://doc.owncloud.org/desktop/2.5/troubleshooting.html#obtaining-the-client-log-file) and check out what the log says during the time you're logged out.

[2019-03-28 09:59] ckamm commented on #7109
I consider this a bug because there's a safeguard for this case. This warning message should be shown:

Are you sure you want to sync those actions with the server?
If this was an accident and you decide to keep your files, they will be re-synced from the server.

That's what I get when I attempt to reproduce.

@voroyam Do you happen to have "sync hidden files" enabled? Maybe there's a hidden file

[2019-03-28 11:49] jnweiger commented on #6891
For Linux I have packaged 3.26.0 https://build.opensuse.org/package/show/isv:ownCloud:Qt5122/ocqt5122-sqlite3

[2019-03-28 11:49] #6891 closed

[2019-03-28 11:59] jnweiger commented on #7114
@dschmidt @michaelstingl what is the oldest test machine we have?

[2019-03-28 12:54] guruz commented on #7114
I think it's perfectly fine to let @s1a3ti test that build.
@jnweiger Can you put it into our download server (maybe with file name indicating that it's not a regular build)

[2019-03-28 12:58] s1a3ti commented on #7114
@guruz I can test the build on macOS 10.11. We are still using some machines with 10.11.

[2019-03-28 13:04] guruz commented on #7104
Maybe this is fixed with a newer version of https://github.com/owncloud/files_external_dropbox/ ?
ownCloud 9 is also not very current anymore..

[2019-03-28 14:46] CorneelDragon commented on #7088
My colleague hector replied in my stead. I think I found it: The files that are not 'clickable' are simply not clickable because they are on the server and not local. Server files can be hidden as well and the client doesn't show a distinction where it blocks an upload or download

I will check with colleagues to see if this explains there issues as well.

[2019-03-28 17:36] jnweiger opened #7118 "CentOS 7.5 support"
We build and test owncloud-client 2.5.4 on CentOS 7.6

This leads to issues when users try to run it on CentOS_7.5 as detailled here:
https://central.owncloud.org/t/unable-to-start-desktop-client-symbol-lookup-error-libqt5xcbqpa-so-5-undefined-symbol-ft-get-font-format/19250

Technically CentOS 7.5 support would need bundling more libraries with our product. At least the system libfreetyp is too o

[2019-03-28 17:41] michaelstingl commented on #7118
Yes, sounds like a plan 👍

[2019-03-28 19:12] herrep opened #7119 "Modification date of an initially synchronized directory on client is not set to the modification date of the corresponding directory on the server"
Actual behaviour:
The modification date of a directory easily changes, e.g. when creating a temporary file inside the directory or when adding or deleting files. Therefore, the modification date of directories is not synchronized between client and server.

Drawback of the actual behavior:
In many environments, there are a lot of directories which are not touched at all; i.e. the modification date

[2019-03-28 19:16] herrep commented on #7116
I fully understand the decision to not synchronize modification dates of directories. As a side effect, bandwidth is preserved. Fine. Nevertheless, I suggest an improvement that appears to have little impact on performance and adds great value when synchronizing storages with a lot of directories that are not toiched at all for a long time: See issue #7119

[2019-03-29 08:50] ckamm commented on #7116
Thanks for rephrasing as enhancement!

[2019-03-29 08:50] #7116 closed

[2019-03-29 09:32] herrep commented on #7119
Thank you for considering the reported issue. Much appreciated.

[2019-03-29 09:44] herrep commented on #7119
Would you also mind to set the creation date (ctime) of the local directories to the creation time of the corresponding directories on the server? Only upon creation if the local directory, as set out above with respect to mtime?

[2019-03-29 11:28] sbgraphic commented on #7106
Hi, same issue here but no message, except in the log:

`29.03.19 12:26:40.333 pkd[493]: enabling pid=481 for plug-in com.owncloud.desktopclient.FinderSyncExt(1.0) 8AAF8C6D-CFDE-4BCC-A662-C912268552BF /Applications/owncloud.app/Contents/PlugIns/FinderSyncExt.appex
`
Best,
Eric

[2019-03-29 13:47] jnweiger opened #7121 "xdg-open is deprecated"
While testing 2.5.4 on CentOS-7.6

Messages on the console appear, when I right click open folder on the sync folder:

[code]

That apparently comes from xdg-open.

[2019-03-29 15:00] michaelstingl opened #7122 "Fedora 29: owncloudcmd: error while loading shared libraries: libQt5Core.so.5: cannot open shared object file: No such file or directory"
Encountered an error while testing installation in Fedora 29 Docker.

[code]

Then following install instructions from:
https://owncloud.org/download/#owncloud-desktop-client-linux

[code]

### Expected behaviour
owncloudcmd should start without errors

### Actual behaviour
`owncloudcmd: error while loading shared libraries: libQt5Core.so.5: cannot open shared object file: No such file or director

[2019-03-30 09:50] JoKalliauer commented on #7104
I think the homepage is outdated, and we have a newer owncloud-version.

https://owncloud.tuwien.ac.at/status.php

  |  
-- | --
installed | true
maintenance | false
needsDbUpgrade | false
version | "10.1.0.4"
versionstring | "10.1.0"
edition | "Enterprise"
productname | "ownCloud TU Wien"

I did not get any E-Mail reply till now from the help-desk of my university (=server-administrator). I might

[2019-04-01 10:43] StrikerASD opened #7123 "Owncloud client pointing to wrong ssl certificate."
### Expected behaviour
After owncloud client is launched, it should log me in into the owncloud server, as always does.

### Actual behaviour
Owncloud launches and there is certificate error, because on apache server i added 3 virtualhosts for owncloud. Those new domain names are added in owncloud config.php file. So the problem is that when i've added more virtualhosts that access the same ownclo

[2019-04-01 11:30] michaelstingl commented on #7122
@jnweiger still an issue. Full `terminal` output here:
- [f29-client.txt](https://github.com/owncloud/client/files/3029099/f29-client.txt)

[2019-04-01 20:07] sagamusix commented on #4150
From what I understand this issue is identical to what I am facing here.

I have a huge folder with a very generic name (`Qt` :)) at the top level of my sync folder which I do not wish to be synced. Just adding `Qt` to the sync exclude list won't do the job as it will also ignore folders with the same name further down the folder hierarchy, as the documentation states.

I think it would be useful

[2019-04-02 02:42] Enoch247 commented on #4150
@sagamusix's situation is exactly the kind of use-case I had in mind.

[2019-04-02 06:50] ckamm commented on #4150
I agree, see also #5275

[2019-04-02 07:09] ckamm opened #7124 "Requesting download of virtual file in subfolder doesn't trigger local discovery"
When double-clicking a virtual file or using the context menu to trigger a download that doesn't mark the path for local discovery. That means that a follow-up sync might not pick up on it and the requested hydration does not happen.

[2019-04-02 10:45] ckamm commented on #7123
@StrikerASD To clarify:
1. You set up owncloud to be accessible on oc1.example.com with a certificate
2. Set up the sync client, accepted the certificate
3. Added new virtual hosts oc2.example.com ... with their own certificates, without changing the oc1.example.com certificate
4. On restart, the client rejects the account certificate and asks you to confirm the certificate again

Is that what hap

[2019-04-02 10:52] ckamm commented on #7121
Apparently the deprecation message comes from gvfs-open which xdg-open calls (over gio open, which is supposedly a bug in xdg-open). xdg-open itself is not deprecated. See https://github.com/github/hub/issues/1473#issuecomment-303656214

[2019-04-02 10:52] #7121 closed

[2019-04-02 10:57] ckamm commented on #7078
The chunk size environment variables currently don't apply to `owncloudcmd`. I'll change the milestone to 2.6 since it's not a regression.

[2019-04-02 11:02] StrikerASD commented on #7123
@ckamm Yes, this is the scenario. Owncloud client (after i switch on two additional virtual hosts) gives me error about certificate of the newer virtualhost. So it should still see oc1.example.com cert, instead he sees oc2.example.com certificate and produces error, because owncloud client still wants to access oc1.example.com. On web browsers this work like a charm, on owncloud client this is the

[2019-04-02 11:13] ckamm commented on #6821
@lonewolf1870 Sounds like you can potentially avoid the problem by compiling with `-D_FILE_OFFSET_BITS=64` on your 32bit system.

[2019-04-02 11:21] jnweiger commented on #7114
2.5.4, 2.5.5  got browser integration back. https://github.com/owncloud/enterprise/issues/3253
there was a broken patch in our internal toolchain.

As far as qt-5.10.1 is concerned: several clients on 10.13 and 10.14 tested. all behaved well here.

[2019-04-02 11:23] s1a3ti commented on #7114
@jnweiger Can I download a test version somewhere? So I can test it on 10.11?

[2019-04-02 12:02] ckamm commented on #7123
Thanks. I don't understand why the client would even see a difference if it still talks to oc1 and sees the same certificate.

[2019-04-03 11:28] haukman opened #7128 "Desktop Client deleted non-synced folders from Server"
### Expected behaviour
Desktop Client doesn´t sync folders that are not selected for sync

### Actual behaviour
ownCloud deleted the folder on the server

### Steps to reproduce
1. Integrity check error occurred in the desktop client
2. I removed the affected folder from the sync via selective sync
3. Integrity check error still occurred, although the folder was not in sync
4. Waited for several d

[2019-04-03 12:14] StrikerASD commented on #7123
Hello,

I've tested owncloud client and it all works well now. I've rebooted the server after update and when it came back again, everything works. No more certificate errors. I've asked my colleague to test it, he replied that on his side, he have certificate errors. When i asked which owncloud version does he have, he answered that this is actually a gnome plugin for ownloud... :)
So for me it's

[2019-04-03 12:19] herrep opened #7129 "Owncloud Client 2.5.4: Enhancement for Download Directory (VFS)"
When working with VFS, I encountered some difficulties to synchronize more important and less important directories. For the more important directories, I would expect an automatic download of all files, also for newly created files in these directories, whereas in less important directories, everything may remain in placeholder files which can be accessed on demand.

I expected to handle this fun

[2019-04-03 12:26] herrep opened #7130 "Owncloud Client 2.5.4: Enhancement for VFS: immediate download of files upon requesting download via context menu"
Expected behaviour:
When using the context menu function "Download file", the operation should have high priority, at least close to immediate execution.

Actual behaviour:
It does not appear that the context menu function "Download file" has a particular priority. In a large Owncloud setup with hundred thousands of files it may take hours until the selected placeholder fils are replaced by the co

[2019-04-03 19:02] warmsocks commented on #7106
I'm seeing the same issue with the same version (3.5.4) on the same OS after accepting an update dialog box from the previous version.  I'm on a Mac Pro Early 2008, which is still a plenty awesome fast productive machine, but Apple doesn't support anything newer then El Capitan/10.11 on it, so I'm stuck with the Web UI for now.  I would love to see support for the desktop client on 10.11 fixed.

I

[2019-04-03 23:17] jnweiger commented on #7114
http://download.owncloud.com/desktop/daily/testpilotcloud-qt5.10.1-2.5.5.11542-daily20190404.pkg
This is a fresh build. I can no longer access the original build 11503.

[2019-04-03 23:20] jnweiger commented on #7106
http://download.owncloud.com/desktop/daily/testpilotcloud-qt5.10.1-2.5.5.11542-daily20190404.pkg
was built with an older qt version. This might work. on macOS 10.11.6 -- cannot test myself.

[2019-04-04 02:04] warmsocks commented on #7106
@jnweiger,

I tried it on Mac 10.11.6 and it worked perfectly--connected to our server and synced my files immediately.  Very nice!

[2019-04-04 05:50] ckamm commented on #7123
Glad it works now!

[2019-04-04 05:50] #7123 closed

[2019-04-04 05:55] s1a3ti commented on #7114
@jnweiger Thank you! Works like a charm. Tested creating and deleting files and folders.

[2019-04-04 07:46] JoKalliauer commented on #7104
The University updated (also the website-info https://www.it.tuwien.ac.at/owncloud ) to `Version 10.1`.

I got an E-Mail from the help-desk that due to the [PGDR](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation) external mounts are supposedly not allowed any more. But the E-Mail did not contain anything relevant for bugsolving.

I think the University restricted/banned the usage o

[2019-04-04 10:30] jnweiger commented on #7106
I am wondering what the influence of the environment variable DEPLOYMENT_TARGET=10.10
is. With client version 2.6.x this will be DEPLOYMENT_TARGET=10.12

Would that again exclude El Capitan users?

[2019-04-04 11:30] s1a3ti commented on #7106
@jnweiger I tested the following version:
testpilotcloud-2.6.0.11546-daily20190404.pkg

It installs fine, but I get the following error in the terminal:

VM-El-Capitan:~ ch$ /Applications/testpilotcloud.app/Contents/MacOS/testpilotcloud
Sorry, "testpilotcloud" can not be run on this version of macOS. Qt requires macOS 10.12.0 or later, you have macOS 10.11.6.

[2019-04-04 11:59] jnweiger commented on #7106
Upcoming daily builds could have two distinct deliverables. the normal one, and the ElCapitan compatibility build (using qt-5.10.1) How about this:

SSH: put [testpilotcloud-2.6.0.11548-daily20190404.pkg]
SSH: put [testpilotcloud-2.6.0.11548-daily20190404.pkg.tbz]
SSH: put [testpilotcloud-2.6.0.11548-daily20190404.pkg.tbz.sig]
SSH: put [testpilotcloud-osx10.11-2.6.0.11548-daily20190404.pkg]
SSH: p

[2019-04-04 12:01] jnweiger commented on #7106
@s1a3ti that is the one for you: testpilotcloud-osx10.11-2.6.0.11548-daily20190404.pkg

[2019-04-04 12:05] s1a3ti commented on #7106
@jnweiger Here is the result:
![1 181 14-03-22 04 04 2019](https://user-images.githubusercontent.com/36929829/55554239-95f57580-56e2-11e9-8699-584ba42c1f29.png)

I guess, DEPLOYMENT_TARGET does matter.

[2019-04-04 12:17] jnweiger commented on #7106
Thanks for testing! 'starting from command line' means starting the normal gui client from a shell? Or is that about the testpilotcloudcmd client?

@guruz , what do you think, can we set DEVELOPMENT_TARGET=10.10 for a 2.6.x legacy build?
Do we have other dependencies in the new code that would break on 10.11?

[2019-04-04 12:19] s1a3ti commented on #7106
@jnweiger I'm starting the gui client from the terminal app:

VM-El-Capitan:Contents ch$ /Applications/testpilotcloud.app/Contents/MacOS/testpilotcloud
m_crashReporterChar:  /Applications/testpilotcloud.app/Contents/MacOS/testpilotcloud_crash_reporter

[2019-04-05 11:44] JoKalliauer commented on #7104
The Service Center of the University removed the external mounts and everything works fine now. Thanks!

[2019-04-05 12:59] michaelstingl commented on #7104
@JoKalliauer glad to hear – have a great weekend!

[2019-04-06 07:27] noMICROSOFTbuhtz opened #7133 "assert triggered during propagation, potentially due to network error"
I have no idea what is going on here. The server is not mine.
The "userdata-mlu" is a "fileserver" connected via SMB to my owncloud account.

What can I do? The client runs on Debian stable.
[code]

[2019-04-06 18:47] markmcb commented on #2502
Jumping on the "this is incredibly annoying" bandwagon. Here's my scenario. Laptop I use for work. I was setting up the folders I want to sync. Without thinking, I set up a sync on a folder that's already syncing with Microsoft OneDrive. "No big deal, I'll just uncheck it." Nope, can't do that or now I'll destroy the whole OneDrive folder that's syncing with my team. I think my only option is to u

[2019-04-07 15:12] michaelstingl commented on #2502
@markmcb No idea about NC. This is the ownCloud repository.

[2019-04-08 14:44] slylabs13 commented on #2502
I put a Virtual Machine folder into my documents folder without thinking. Now it takes for freaking ever to sync because it's trying to copy the VM! I don't DARE tell NextCloud to not sync that folder as it will delete the VM folder. <sigh> The people who developed this model of sync will staunchly defend their position on this, but I cannot believe they thought through the consequences of this ki

[2019-04-08 19:41] dragotin commented on #2502
You could add an ignore pattern for your VM files.

[2019-04-08 19:53] benrob0329 commented on #2502
That's a workaround at best, whether you use the main Owncloud repo or the Nextcloud rebranding the behavior remains the same.

[2019-04-08 22:29] farhadtorkany commented on #7108
Hi,
I have the same Problem! Owncloud client is installed on Windows Server 2016 and should sync with Server "Hosted Server"! It works fine but just when I log in.
:(

[2019-04-09 06:34] michaelstingl commented on #7108
@farhadtorkany Win Server 2016 is very different from Debian 9. Please don't use this issue to discuss the Win issue.

[2019-04-09 08:13] ckamm commented on #7119
About ctime: I don't think anything else in the client adjusts ctime and it's not stored on the server. I agree ctime > mtime is odd and setting it to mtime on creation would probably be nicer. That's a larger and different change though (feel free to make a new ticket).

[2019-04-09 10:13] guruz commented on #7119
ctime is inode change time, not creation time
https://en.wikipedia.org/wiki/Stat_(system_call)#ctime
The ownCloud WebDAV protocol does not have support for that, we use the ETag of the parent directory instead to notice that the file metadata changed (and file ETag to notice that contents changed)

[2019-04-09 10:23] ckamm commented on #7119
Thanks, yes, I didn't mean ctime. I meant the Windows creation time that @herrep was asking about.

[2019-04-09 10:51] guruz commented on #3192
https://en.wikipedia.org/wiki/Stat_(system_call)#ctime

[2019-04-09 10:54] ckamm commented on #7085
I've simply reenabled the hydrate/dehydrate actions for winvfs now.

[2019-04-09 11:05] ckamm commented on #7133
Thanks for the report! It's possible that there are two issues here: The ASSERT is definitely a client bug, it's possible it gets triggered by another issue relating to the SMB external storage on the server.

[2019-04-09 11:23] ckamm commented on #7133
@noMICROSOFTbuhtz You're using an old client, before 2.5.1. Which version was this exactly? Can you reproduce the issue? If so, please try with 2.5.4. The code handling "Server does not support X-OC-MTime" has been changed.

[2019-04-09 11:24] ckamm commented on #7133
This bug was likely fixed for 2.5.0 by 3f4d504c34778a392c1e4c91df6616101e0a9d9c see #6403.

[2019-04-09 11:24] #7133 closed

[2019-04-09 11:25] ckamm commented on #7130
Indeed!

[2019-04-09 11:31] ckamm commented on #7129
In 2.6 we added "pin states" to items. They can now be always-local, online-only or unspecified and this state affects the hydration state of new remote files (new files in always-local folders will start out downloaded etc). That's controlled through the right-click menu actions.

You may be interested in checking out the 2.6 builds and providing early feedback (http://download.owncloud.com/deskt

[2019-04-09 11:32] #7129 closed

[2019-04-09 11:36] ckamm commented on #7088
@CorneelDragon Any updates or suggestions for ui improvement?

[2019-04-09 11:47] ckamm commented on #6826
Directory discovery job errors like this one are still fatal in 2.6. I'll look at making them non-fatal.

[2019-04-10 07:23] poetsmeniet commented on #7108
@ckamm I checked the logging and it seems the client is being locked.. during one minute logout there was an approximate one minute gap in the log

[2019-04-10 10:16] ckamm opened #7137 "Add an indicator to show which vfs plugin is available"
When different plugins are available the client picks one. For debugging it'll be very useful to allow users to discover which plugin is in use without going through the log files. Adding an indicatior to the about dialog would be sufficient.

[2019-04-10 10:17] michaelstingl commented on #7137
Works for me 👍

[2019-04-10 11:32] ckamm commented on #7137
@guruz @michaelstingl Does this seem good?
![image](https://user-images.githubusercontent.com/833306/55875278-06920b80-5b95-11e9-8fef-f1540b5ba8ee.png)
I'd just add it to the bottom as a small paragraph without translation.

[2019-04-10 12:21] michaelstingl commented on #6387
@jnweiger could you verify with oC server 10.0.8+ ? (https://github.com/owncloud/core/pull/29021 + https://github.com/owncloud/core/pull/30383)

[2019-04-10 12:52] michaelstingl commented on #7137
yes

[2019-04-11 07:19] #7137 closed

[2019-04-11 08:21] ckamm commented on #7108
Interesting! I guess the process is paused? We'll need to investigate what the right way to avoid that behavior is.

[2019-04-11 08:26] ckamm commented on #7108
@poetsmeniet Which lock screen are you using? light-locker?

[2019-04-11 10:32] ckamm commented on #6826
After discussing with @ogoffart in the proposed PR #7134: It seems error prone to continue when the remote data couldn't be fully updated. Let's not do that and instead solve the problem of remote discovery needing to restart from scratch after an abort with something like #2976.

[2019-04-11 10:32] #6826 closed

[2019-04-11 11:35] ckamm commented on #2976
I've started looking at this.

[2019-04-11 11:39] ogoffart commented on #2976
I think it would be better to do the discovery and propagation in parallel

Now that the discovery has been refactored, it should be easier.

Then the cache wouldn't make sense anymore

[2019-04-12 07:38] ckamm commented on #2976
@ogoffart Yeah, anything that reduces time between server query and writing to the db would do, and parallel propagation would have other advantages. Need to deal with deletes though. Let's discuss!

[2019-04-12 09:39] ckamm commented on #7128
The client deleting a selective-sync excluded folder on the remote would be an important issue. Will investigate.

[2019-04-12 10:11] ckamm commented on #7128
@haukman Did you by any chance have several similarly named directories? Particularly, if the folder you excluded was called "foo" was there another folder "foo bar"?

[2019-04-12 10:38] haukman commented on #7128
The folder I excluded is called "marketing", there are no other folders in the next level that are called "marketing"-something.

Can´t tell, but @jnweiger should have the answer, as he was the one who recovered it :) I was out for lunch during that time.

[2019-04-12 10:40] ckamm commented on #7128
I've not yet been able to reproduce anything like it while experimenting with a folder that contains files that had errors during download.

[2019-04-12 13:36] jnweiger opened #7141 "wincfapi: database dotfiles have 'syncing' arrows"
## tested ownCloud-2.6.0.11775.11588-daily20190411.GPO.msi with vfs enabled on win10

![grafik](https://user-images.githubusercontent.com/1108546/56041257-9623ef80-5d38-11e9-812c-5b1bca25b5e8.png)

The client should not try to sync the database files.

[2019-04-12 13:49] jnweiger opened #7142 "wincfapi: right click menu not deterministic"
## tested ownCloud-2.6.0.11775.11588-daily20190411.GPO.msi with vfs enabled on win10

This screenshot is a collage showing two types of right click menues.
To the left, the "good" menu with the owncloud sub-menu is seen, to the right, another one is seen, that is unexpexted and less helpful in our context "bad"

![grafik](https://user-images.githubusercontent.com/1108546/56041788-d899fc00-5d39-11e

[2019-04-12 14:11] jnweiger opened #7143 "wincfapi: right click text german translations are not in sync"
## tested ownCloud-2.6.0.11775.11588-daily20190411.GPO.msi with vfs enabled on win10

Good in the main menue: Immer auf diesem Gerät beibehalten, Speicherplatz freigeben.
English version of the same in the owncloud-sub-menu: Make always available locally, Free up local space.

It should be translated to german in both places. (And identical wording to reduce confusion)

![grafik](https://user-imag

[2019-04-12 14:14] jnweiger commented on #7143
BTW: What is the purpose of 'Available online only'? It seems to be grayed out in both states.

[2019-04-12 14:30] jnweiger opened #7144 "wincfapi: Provide "More Info" in hydration error dialog"
## tested ownCloud-2.6.0.11775.11588-daily20190411.GPO.msi with vfs enabled on win10

![grafik](https://user-images.githubusercontent.com/1108546/56044680-07b36c00-5d40-11e9-9cf4-ca37706f1b2f.png)

The network connection to the server was lost. Is this an expected message?
Would we get one popup per file, when there are 10000 files?

[2019-04-12 14:31] jnweiger commented on #7144
Clicking on 'Mehr Details' does not do anything.

[2019-04-12 15:03] jnweiger commented on #7144
Or:
Fehler 0x8007016A: Der Clouddateianbieter wird nicht ausgeführt.

[2019-04-12 15:27] jnweiger opened #7145 "wincfapi: resuming sync after an network error ignores some files"
## tested ownCloud-2.6.0.11775.11588-daily20190411.GPO.msi with vfs enabled on win10

![grafik](https://user-images.githubusercontent.com/1108546/56047254-50b9ef00-5d45-11e9-914e-ee1acd18a524.png)

ownCloudManual.pdf (without a whitespace) had a sync error. The file was virtual, network was disconected, then user tried to acces the file. That produced a sync error. OK.

After network got connected

[2019-04-12 15:34] jnweiger opened #7146 "enabling permanent logging has no effect"
## tested ownCloud-2.6.0.11775.11588-daily20190411.GPO.msi with vfs enabled on win10

Press F12 or CTRL-L should open a log window. Instead we get

![grafik](https://user-images.githubusercontent.com/1108546/56049169-2bc77b00-5d49-11e9-859e-ea0a28efb814.png)

The folder remains empty even after repeated attempts of disconnet reconnect.
Killing the client and restarting produces some fresh (and unr