[2016-01-08 16:40] bboule commented on #3912
Guys do we understand how to resolve this??  Next steps?

[2016-01-08 16:45] MTRichards opened #4341 "Virtual Filesystem (VFS)"
This is a research task, to look into and define what it would take to make this happen. Basic user story looks like this:

As a user, I want to see all of my files on my desktop, regardless of if they have synced or not so that I can access my files at any time, from anywhere.

Acceptance Criteria:
- A threshold can be set for the "cache" that is allowed on the desktop
- Favorites are synced auto

[2016-01-08 16:45] MTRichards opened #4342 "Sync Client 2.2.0 Master Feature List"
Current Master Plan for Next Client Feature Release:
- :exclamation:  New Chunking: In association with the new server WebDAV Endpoint, the client would implement a new chunking algorithm to match: #4007
- :exclamation:  Transport Checksums: Test checksums between the client and server over the old and new webdav endpoints: #3735
- :exclamation: Activities API Update: Updating the Activities API v

[2016-01-08 16:49] MTRichards commented on #4064
Back to the top on these issues, does the client recognize a symbolic link and ignore it? @dragotin @danimo

This would qualify to me as a red x for these files (since they did not sync) and then they show up in the sync issue tab.

[2016-01-08 16:55] guruz commented on #3587
@stonerl Thanks, I had attempted with that syntax two days ago but then ran into Javascript errors. Hmpf.

I tested it with a real 10.9.5 now and it seems to work...

@Dianafg76 please re-test :)

[2016-01-08 17:17] ferdiga commented on #4244
the text explaining what uncheck does is not true if @goffoart comment is correct.
![owncloud](https://cloud.githubusercontent.com/assets/6248560/12203862/73c5a80e-b631-11e5-8252-f1f151562399.jpg)
BTW it's both important
* to not allow data loss,
* to provide a possibility to remove synced directories.
to reproduce:
I activated the sync of a Google Drive - with errors  shown here
![owncloud1](http

[2016-01-08 17:21] MorrisJobke commented on #3912
Wait for https://github.com/owncloud/core/issues/18410 to be implemented to be able to invalidate the session.

[2016-01-08 17:23] MTRichards commented on #2872
Yep, still not planned.

[2016-01-08 17:29] estudioapa opened #4343 "[Windows XP] owncloud stops synchronizing in my netbook"
I have in my netbook:
Server: 7.0.5
Client: 1.8.4
SO: XP

When I sync (root folder) in my netbook, synchronize well the first time  and then when try to re-sync,  displays "Operation canceled by user". The folder is 7 GB.

Attached a piece of log:

OCC::AbstractNetworkJob::start: !!! OCC::CheckQuotaJob created for "http://XXXXXXXXXX/cloud" + "/"
01-06 17:16:23:410 0x41fc7e0 OCC::FolderMan::slotEta

[2016-01-08 17:35] guruz commented on #4343
We unfortunately don't support 1.8.4 anymore.
You can download a soon-to-be-2.1.1beta1 from http://download.owncloud.com/desktop/daily/ownCloud-2.1.1.5757-nightly20160108-setup.exe

In any case, you need to look for the error which is not "Operation canceled" (only the other transfers get cancelled)

[2016-01-08 17:35] #4343 closed

[2016-01-08 17:38] guruz commented on #4340
https://github.com/owncloud/client/search?utf8=%E2%9C%93&q=roaming&type=Issues

[2016-01-08 18:33] astucieux commented on #3876
@dragotin Yes, thank you! I'm now able to handle my hidden folders and files more easily with this new ownCloud-client "Sync hidden files" feature. I just have to remember to check it is still "ticked" after a new release of the OC client is installed.

[2016-01-09 08:37] rasos commented on #4258
Steps to reproduce:
1. remove a big folder on any ownCloud client or on the server
2. at any client which is syncing that folder the big folder will be deleted as well

Expected behaviour:
Warn user, if a big folder is being deleted. This could be due to an erroneous user behaviour or a misbehaviour at a client (see the case of an OS update above). At least warn, if big deleted folder is on root l

[2016-01-09 10:54] prechelt opened #4344 "Flexible semantics for partial sync"
I have been struggling with my client, the documentation, info on the web in general, and finally the issues repository for several hours now. My understanding of the status of the "partial sync" functionality in the client is now the following:
1. Early versions of the client would always sync the complete server tree
2. Later versions (Sept 2013) would optionally allow to restrict the sync to ce

[2016-01-10 05:47] Awpteamoose commented on #1558
Pretty please, I thought the current ignore settings were like that and got burned after I confifgured the server and everything.

[2016-01-10 11:04] dragotin commented on #1558
Have you checked exclude patterns like
[code]
That works. See d89edc35d2af3686370cde6a67613b7208749808

[2016-01-10 21:24] Exagone313 commented on #4053
It cannot be a server problem since a browser that uses OpenSSL like Firefox has no issue with such server. Only with owncloud client.

[2016-01-10 21:34] richmoore commented on #4053
Firefox doesn't use openssl, it uses nss.

[2016-01-10 21:37] Exagone313 commented on #4053
Ok I don't know so, it does not seem logical. I'll migrate to Nginx to see.

[2016-01-11 07:56] rperezb commented on #2936
Done, thx
Reference: https://github.com/owncloud/ownbrander/issues/500

[2016-01-11 08:08] guruz commented on #4053
Try first to change/remove the ```SSLCipherSuite```

[2016-01-11 08:22] Dianafg76 commented on #3587
@guruz I tested this issue and It is still seen in gray
![screen shot 2016-01-11 at 09 18 01](https://cloud.githubusercontent.com/assets/12032058/12229138/a183d1e8-b844-11e5-991a-6cfe94a70f5d.png)
Desktop v ownCloud-2.1.1.3022-nightly20160111.pkg

[2016-01-11 08:34] Dianafg76 commented on #3587
On OS X v 10.11.2

[2016-01-11 08:40] stonerl commented on #3587
@Dianafg76 that is the expected behavior on 10.11

[2016-01-11 08:44] stonerl commented on #3587
On 10.9 and older it should not be greyed out.

[2016-01-11 08:51] Dianafg76 commented on #3587
@guruz With version 10.9 , 10.8 I see this
![screen shot 2016-01-11 at 09 46 01](https://cloud.githubusercontent.com/assets/12032058/12229518/df375cea-b848-11e5-973e-9ca0bc474557.png)
Desktop v ownCloud-2.1.1.3022-nightly20160111.pkg
Closed

[2016-01-11 08:51] #3587 closed

[2016-01-11 09:25] guruz commented on #3716
@raimund-schluessler Can you confirm this on Windows with 2.1? We have some Qt patches in there that influence this.

@marlemion @dragotin I blame the lacking Qt patches on Linux. With Qt 5.6 beta this should work?

[2016-01-11 10:10] brozkeff commented on #4308
Great news everybody!

I installed the latest daily build ownCloud-2.1.1.5762-nightly20160111-setup.exe to one of our affected Win7 machines that had 2.1.0, and both issues ((a) deleting files that were removed by the owner and showing this in the log) and (b) the access-denied messages for altered files are gone, with green check appearing without any need to tweak file attributes manually or to

[2016-01-11 10:15] danimo commented on #4308
@brozkeff The daily builds will also upgrade to the next stable build once available.

[2016-01-11 10:17] brozkeff commented on #4308
@danimo Great!

[2016-01-11 10:29] marlemion commented on #3716
Well, I am on arch with qt 5.5. Since the upgrade to plasma 5.5 it is gone apparently.

[2016-01-11 11:32] guruz commented on #4324
@MarcGro Also if you use the latest server version make sure to have the correct locking app and Redis configured.
https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_transactional.html

[2016-01-11 11:34] guruz commented on #1961
Closing in favor of  https://github.com/owncloud/client/issues/1633

[2016-01-11 11:34] #1961 closed

[2016-01-11 11:36] guruz commented on #4050
Dup of https://github.com/owncloud/client/issues/2519

[2016-01-11 11:36] #4050 closed

[2016-01-11 11:37] guruz commented on #2519
@jturcotte @danimo Maybe better with a newer Qt?

[2016-01-11 11:38] #3568 closed

[2016-01-11 11:38] #3516 closed

[2016-01-11 11:39] guruz commented on #3530
Do you guys have any more input on this?
We suspect this is a server issue. Did you try a newer version?

[2016-01-11 11:41] guruz commented on #3675
Please use a recent Qt version.

[2016-01-11 11:41] #3675 closed

[2016-01-11 11:42] guruz commented on #3555
Does this still happen with a recent client version and recent Qt (which one do you use? you see it in the client settings dialog)

[2016-01-11 11:44] guruz commented on #3456
Any news?

[2016-01-11 11:46] guruz commented on #1909
Related https://github.com/owncloud/client/issues/4317

[2016-01-11 12:03] Dianafg76 commented on #4336
@ogoffart What are all the commands to simulate RTL language?

[2016-01-11 12:05] guruz commented on #2443
@Dianafg76 This needs to be tested with a branded client(?)

[2016-01-11 12:24] jturcotte commented on #2519
The font size was last changed in eadcdab8e7e87ceb5f15bf9ddfc4c3ae4a44c5ce but it's usually still pretty readable. Maybe the Windows font size on this machine was set lower?

[2016-01-11 12:32] Dianafg76 commented on #4336
@ogoffart If i open the terminal and writing ./owncloud -reverse I see is as before (all the elements and all the text is left aligned)
Desktop v ownCloud-2.1.1.3022-nightly20160111.pkg

[2016-01-11 12:34] yason commented on #3456
Hi. No news yet... I guess this issue could be closed. If finally I figure out why OpenBSD needs DHAVE_ICONV -DHAVE_ICONV_H set explicitly, I'll send a pull request.
As for now it works without crashes.

[2016-01-11 12:39] brozkeff commented on #4316
Isn't the old client using the old Qt which has the bug that caused the file corruptions (https://github.com/owncloud/client/issues/2425) and so there is a workaround in the clients using such Qt to cancel the connections that were identified as being problematic? The client log should contain the line "Forcing job abort on HTTP connection reset with Qt < 5.4.2." in such case.

[2016-01-11 12:41] #3456 closed

[2016-01-11 12:45] Dianafg76 commented on #2443
@guruz Yes.
@moscicki Could you try if is resolved the issue?

[2016-01-11 13:45] #4009 closed

[2016-01-11 13:48] astroleo commented on #4026
Sorry for my late answer. Yes, it works on my Mac now, too. Thanks for fixing.

[2016-01-11 13:49] guruz commented on #3973
We believe this is a server issue (especially given the oc_* SQL exception).
Please report if you have more info.
https://github.com/owncloud/core

[2016-01-11 13:49] #3973 closed

[2016-01-11 13:50] guruz commented on #3872
@s24195 do you still have this with 2.1.x?

[2016-01-11 13:50] guruz commented on #3870
Which OS X version do you use?

[2016-01-11 13:51] #3827 closed

[2016-01-11 13:55] guruz commented on #3435
I believe ArchLinux has switched to Qt5, maybe that helps

[2016-01-11 14:00] #3130 closed

[2016-01-11 14:04] guruz commented on #3015
@Dianafg76 @pierrejochem Is this fixed on Windows?

[2016-01-11 14:23] MTRichards commented on #3823
@guruz I know. We have another approach on the plans, but it will take a while to research, design and implement.

For now, we are approaching this as dropbox does, with the added flexibility of a second root folder.

I too have this issue, which is why we have a strategic approach starting.

[2016-01-11 14:23] guruz commented on #2855
@LukasReschke @rullzer Maybe the full URL should be generated server-side and returned to the client?
(not sure which other things it breaks though..)

[2016-01-11 14:26] rullzer commented on #2855
@guruz that is what is happening when you use 8.2 ;)

[2016-01-11 14:33] Claire75 commented on #3870
10.11
As said before , i fixed it but in a quite long way ;)  ( see  #3819 )

[2016-01-11 14:48] ogoffart commented on #4320
Duplicate of one of the many issues in  #2791

[2016-01-11 14:48] #4320 closed

[2016-01-11 14:56] dragotin commented on #3519
Setting this to ReadyToTest, @michaelstingl volunteered to verify tomorrow. Thanks :)

[2016-01-11 15:17] #2855 closed

[2016-01-11 15:18] guruz commented on #2791
Discussed with @danimo @ogoffart

This is interweaved with the captive portal issues

* We always want to follow redirects in the setup Wizard (Done!)

In future:
When having a http:// server URL:
* If we when requesting status.php get a redirect to https:// with same host (port doesn't matter) then we follow it.
* If we when requesting status.php get any other redirect we go offline.

When having

[2016-01-11 15:23] guruz commented on #2137
This is a bit better now, we don't show the path anymore, just the filename.

[2016-01-11 15:25] #1858 closed

[2016-01-11 15:26] LukasReschke commented on #2791
Should we maybe also store this information to prevent MITM once the client gets restarted?

[2016-01-11 15:43] guruz commented on #2791
We were thinking when we receive a redirect that we accept as "new URL" then we also store that in the config.

[2016-01-11 15:53] guruz commented on #3414
@McNetic Would you test http://download.owncloud.com/desktop/daily/ownCloud-2.1.1.5764-nightly20160111-setup.exe ?

[2016-01-11 16:02] MTRichards opened #4345 "Display when unlimited quota is displayed"
Not certain if this is server only (and we just display the result of an api call) or client side too.

When selecting unlimited storage quota it should be configurable to display "unlimited"

The client needs to say the following in the quota panel:

Linked from server issue
https://github.com/owncloud/core/issues/19988

[2016-01-11 16:09] LukasReschke commented on #2791
:+1: :rocket:

[2016-01-11 16:27] michaelstingl commented on #3414
@guruz Looks great on Win 8.1. Thanks!

[2016-01-11 16:29] ogoffart commented on #4345
This was changed in 2.1 for #3940
 The current string for the client when the quota is unknown or unlimited is:

Is this issue a request to change the string to mention that the quota is unlimited when it is unlimited?

and what does the `(client side)`  means?  Because the value that is shown is the used space on the server.

[2016-01-11 17:03] cscashby opened #4346 "Crash on Windows 10 clean install v2.1.0.5683 (server failure)"
OwnCloud client crashes not long after startup - fairly large client dataset around 170 GB - against Server version 8.3.

Some errors in server log:

Exception: {"Message":"An exception occurred while executing 'INSERT INTO `oc_file_locks` (`key`,`lock`,`ttl`) SELECT ?,?,? FROM `oc_file_locks` WHERE `key` = ? HAVING COUNT(*) = 0' with params [\"files\\\/1c21f1a5699694d9f93f26edf2121bb3\", 1, 14525

[2016-01-11 18:08] #3414 closed

[2016-01-11 18:57] shsdev commented on #3422
Same problem. I have about 500GB which would be re-downloaded over WIFI by the client even if the complete data is copied beforehand.

[2016-01-11 20:23] chrsch commented on #3935
Just another pov.. From my experience it is important to sync as fast as possible. I often need to explain why changes (though federated share) need to propagate so long... It even causes conflicts, because shared files not yet updated are edited.... So yes, please even faster syncing!

[2016-01-11 21:23] MarcGro commented on #4324
ok thank you. We haven't got time to look at it, but we definitely will

[2016-01-11 23:06] Palleri commented on #4326
I cannot download the files you were posting.
I still have the issue with 2.1.0 build 5683.

[2016-01-11 23:26] KUTlime commented on #3244
I believe that I have an opposite issue with version 2.1.0 build 5683.
Recently, I receive many sync error because Owncloud marks the file with read only permission and after that it cause the sync error. For example:
PC 1 - I open some PDF file.
PC 2 - Owncloud reports the sync error because it can't synchronize the PDF file which is already present on PC 2, but not it have a read-only permission

[2016-01-11 23:40] MTRichards commented on #2325
An idea, which might not work.
we keep a last sync success timestamp on the server and the client which get compared at sync.
When a new sync happens, the server keeps a time stamp for the sync interval, and then updates to the new time stamp.

Then, these things could happen:
1) we sync and all is normal, this sync client and the server timestamp of last sync match, all is well.
2) a client was o

[2016-01-11 23:41] MTRichards commented on #2325
Copied this into the public issue - perhaps comments on the idea better there.

[2016-01-12 02:14] HugoKlepsch opened #4347 "owncloud-client 2.1.0-5 segfault on startup"
I use arch linux on the 4.3.3 kernel with kde 5 plasma. When I start the application, it locks up KDE init with 100% single core usage, and disk thrashing, before outputting "Segmentation fault (core dumped)".

I looked through the journalctl logs in arch to find the stack trace, which I can provide. I tried running it in gdb, which provide a ginormous stacktrace (I'm scrolling through the 60000th

[2016-01-12 04:47] #4347 closed

[2016-01-12 08:07] rullzer opened #4348 "Feedback required when no sharee is found"
When doing user/group sharing we should also display feedback if no user/group to share with is found.

See https://github.com/owncloud/enterprise/issues/1006

Assigning to myself so I don't forget.

[2016-01-12 08:10] MorrisJobke commented on #4348
00004525

[2016-01-12 08:18] Tha-Fox commented on #4326
I just installed ownCloud-2.1.1.5765-nightly20160112-setup.exe and the sync worked immediately on Windows 8.1. The server side is Arch Linux + nginx + php-fpm.

[2016-01-12 08:22] pierrejochem commented on #3015
This is fixed with 2.1.0, but thre is still a small cosmetic issue.

If you open the settings form and then open an windows file explorer which is in foreground so the settings windows is not visible. Then switch to the owncloud folder in the windows file explorer and click on share via cloud via context menu.

The share form is not in top most state. You just see a blinking hint in the task tray.

[2016-01-12 08:28] JH6 commented on #3422
Any progress yet? My data is growing relatively fast with at least two user having more then 500GB. Syncing this again on reinstall of their laptops (which inevitable will happen someday) will be problematic that.

[2016-01-12 08:34] danimo commented on #3015
@pierrejochem That's not possible with the current architecture. the window would need to be a child dialog of Explorer, or its own app. Microsoft changed that behavior in the Window Manager when undesired pop-ups in IE became a problem.

[2016-01-12 08:50] Dianafg76 commented on #3015
I tested this issue and is working OK
Desktop client ownCloud-2.1.1.5765-nightly20160112-setup.exe
Server v 8.2.2
Windows 10
Closed

[2016-01-12 08:50] #3015 closed

[2016-01-12 09:16] guruz commented on #4348
@ogoffart started working on that yesterday

[2016-01-12 09:17] jturcotte commented on #3952
@Dianafg76 I tried to reproduce it and I also couldn't. I tried with a 8.0 server at first, and then tried with 8.2.2. The way it seems to work is that the server sets a special flag in the WebDAV permission field of each file, the client stores it in its database and is then read to decide if we show a shared icon or not. So it's quite possible that the way you interact with the server is needed

[2016-01-12 09:17] guruz commented on #4346
Did you send in the crash with the client's crash reporter?

In general server errors like the exception above should be reported to https://github.com/owncloud/core :)

[2016-01-12 09:22] rullzer commented on #4348
Ah even better :)

[2016-01-12 10:18] michaelstingl opened #4349 "CentOS 7 missing on software.opensuse.org"
https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client only provides information how to install on **CentOS 6** and **RHEL 7**

The RHEL 7 instructions only install the 2.0.2 client. (http://download.opensuse.org/repositories/isv:/ownCloud:/desktop/RHEL_7/x86_64/)

There is a Centos 7 folder with 2.1.0 builds, but this folder isn't accessible from the m

[2016-01-12 11:37] cscashby commented on #4346
Ah apologies, I'll look into that.  In terms of client crash reporter, I don't think it gave the option but I will reproduce. Thanks

[2016-01-12 12:46] DavidShepherdson commented on #2158
For what it's worth, I would like a feature like this. I've come across cases recently where I make a change on my local machine (e.g. add a new file, or move/delete one), and 20 minutes later I notice the change still hasn't been synched to the server. And, just like the original report, I often want to make sure a file has made it to the server before I put my machine to sleep or leave the house

[2016-01-12 12:47] jancborchardt commented on #1909
Since #4317 is a real usecase, I'm closing this one here in favor of that. :)

[2016-01-12 12:47] #1909 closed

[2016-01-12 12:57] DavidShepherdson commented on #4165
I recently moved my ownCloud installation to a different server, and in the process ended up with some misconfigurations on the new server for a while that resulted in some files being blacklisted in some of my clients.

Without the Retry Sync button, my only options to get things working again were to wait 24 hours for the blacklisted entries to automatically try again, or to manually remove the

[2016-01-12 13:08] ignacioinnovo commented on #2238
Dear ownCloud team,

Let me congratulate you all for the job done! OwnCloud is getting better release by release.

I´m now testing the 7 version and the last version of the sync client for Windows.

I´ve posted a message in the forum and RealRancor ask me to post it here. So, I find this and another thread for the same thing. The other one is this: https://github.com/owncloud/client/issues/2631

L

[2016-01-12 13:08] ignacioinnovo commented on #2631
Dear ownCloud team,

Let me congratulate you all for the job done! OwnCloud is getting better release by release.

I´m now testing the 7 version and the last version of the sync client for Windows.

I´ve posted a message in the forum and RealRancor ask me to post it here. So, I find this and another thread for the same thing. The other one is this: https://github.com/owncloud/client/issues/2238

L

[2016-01-12 13:10] xshadow commented on #4326
@Palleri Sure thing, it will be working in version 2.1.1 - you can download / build a new owncloud package for yourself with this feature working - or wait until 2.1.1 is upstream

[2016-01-12 15:19] acataluddi commented on #2158
I agree with David. In general, perhaps just adding the `Sync Now` button could be the most intuitive solution from user perspective.

Thanks

[2016-01-12 16:13] Dianafg76 commented on #2443
I tested this issue and now i can see all the options
![screen shot 2016-01-12 at 16 56 34](https://cloud.githubusercontent.com/assets/12032058/12269030/ac4e9688-b94f-11e5-9a5c-187b8155a467.png)
Desktop v 2.1.1
Server v 8.2.2
Closed

[2016-01-12 16:13] #2443 closed

[2016-01-12 16:18] Palleri commented on #4326
I was going to say that i tried the build"ownCloud-2.1.1.5757-nightly20160108-setup.exe

And now i tried the build

[2016-01-12 16:36] LukasReschke commented on #3782
10.11.2 here and I see it as well here:

![2016-01-12_17-35-40](https://cloud.githubusercontent.com/assets/878997/12269685/f0818a10-b952-11e5-90d7-40124f61b4dc.png)

[2016-01-12 16:43] Palleri commented on #4326
This is the log i get from the client

01-12 17:40:32:568 0xa777a8 OCC::BandwidthManager::relativeDownloadMeasuringTimerExpired: void OCC::BandwidthManager::relativeDownloadMeasuringTimerExpired() No job set, just waiting 1 sec
01-12 17:40:35:564 0xa777a8 OCC::BandwidthManager::relativeDownloadMeasuringTimerExpired: void OCC::BandwidthManager::relativeDownloadMeasuringTimerExpired() 0 34267 34267

[2016-01-12 16:57] jturcotte commented on #3782
If it comes every 5 seconds, and only when the sync client isn't running, then it can only be this line that causes it:

https://github.com/owncloud/client/blob/v2.1.0/shell_integration/MacOSX/common/SyncClientProxy.m#L46

But there isn't much that we do there, the [documentation](https://developer.apple.com/library/prerelease/mac/documentation/Cocoa/Reference/Foundation/Classes/NSConnection_Class

[2016-01-12 17:37] bboule commented on #3912
OK so it looks like best case this will not get done until 9.1 (based on the milestone set for core 18410) @cdamken what is the temp of the customer is this a critical issue for them?  Do we need to push to move a fix up?

[2016-01-12 18:18] pierrejochem commented on #3015
@danimo: thanks and I understand. Just a cosmetic issue what I said :-)

[2016-01-12 18:22] cmonteroluque commented on #3829
@dragotin heads up

[2016-01-12 19:58] Palleri commented on #4326
I resolved my issue by.
Remove the client on my PC
Downloading everything i had to my PC from the Webinterface
Make a backup.
Delete everything from the Webinterface.
Install the client on my PC
Then sync everything back with the client.
I have no idea if the error will come back but i think so.
I hope this helps someone here.

[2016-01-12 20:05] guruz commented on #3935
@chrsch Improving federated sharing performance is on the way

FYI @icewind1991 @PVince81

[2016-01-12 20:55] #3254 closed

[2016-01-12 20:56] #2628 closed

[2016-01-12 21:37] strugee commented on #4328
@guruz I'll double-check to make sure but IIRC I was getting 503 Service Unavailable when syncing my Dropbox connection.

[2016-01-13 07:26] Dianafg76 commented on #4301
@danimo What are the steps to reproduce the issue?

[2016-01-13 08:36] benmichael commented on #2294
Sorry for waking up an ancient request, but I'd also like to see this implemented.  I have a headless server, and am doing a huge upload.  Being in South Africa, the internet is poor at best, so while owncloudcmd is running it chews up all the bandwidth and I cannot do anything else online.

As a side note, why can't owncloudcmd run as a daemon?  Surely you shouldn't need a GUI to run a daemon?  I

[2016-01-13 09:05] SergioBertolinSG opened #4350 "Columns in server activity cannot change size."
## Steps to reproduce
1. Connect client to a server with several files
2. Sync several files.
3. Go to settings/server activity.
## Expected behaviour

Columns with headers which can be resized for reading all strings.
## Observed behaviour

Columns cannot change size and info in right column is small.
(Columns doesn't have headers.)

![screen shot 2016-01-13 at 09 48 49](https://cloud.githubuserc

[2016-01-13 10:49] paoloB132 opened #4351 "owncloudcmd return unrecognized option"
owncloudcmd --version
ownCloud version 2.1.0
Using Qt 5.4.2

calling it from command line in order to manually sync, returns all time unrecognized option like:

owncloudcmd /root/mydir https://mycloud.mydomain
Unrecognized option '/root/mydir'
Try 'owncloud --help' for more information

I want to sync manually and no interactive ... any hints ?

Regards,
Paolo.

[2016-01-13 12:30] michaelstingl commented on #4349
Centos 7 instructions are available in the Fedora section of the download page:

![software_opensuse_org__install_package_isv_owncloud_desktop___owncloud-client](https://cloud.githubusercontent.com/assets/214010/12294326/bfdf255a-b9f9-11e5-9162-f91af36bef28.png)

[2016-01-13 13:17] guruz commented on #4351
You accidently run ```owncloud``` instead of ```owncloudcmd```

[2016-01-13 13:17] #4351 closed

[2016-01-13 13:25] paoloB132 commented on #4351
not really

[root@cloud ~]# /usr/bin/owncloudcmd  /root/mydir https://mycloud.mydomain
Unrecognized option '/root/mydir'
Try 'owncloud --help' for more information

[2016-01-13 13:30] guruz commented on #4234
@rullzer, @davitol, @ogoffart Do I see it correct that we can close this issue as the related linked issue was closed with "see issue in core bugtracker"?

[2016-01-13 13:48] guruz commented on #4336
OS X: The progressbar is underlapping the [...] button and also going too far left even outside the window.
Let's try to fix this together.

[2016-01-13 14:05] rullzer commented on #4234
@guruz  Yes I think so

[2016-01-13 14:07] #4234 closed

[2016-01-13 14:08] dragotin opened #4352 "ownCloud Client Release 2.1.1"
Release-1 Week:
* [x] Check if we should update the bundled sqlite3 (https://github.com/owncloud/client/tree/master/src/3rdparty/sqlite3)
* [x] Check if we should update Sparkle on build machine (https://github.com/sparkle-project/Sparkle/releases)
* [x] Ensure up-to-date dependencies (e.g. [latest Qt version](http://qt-project.org/downloads#qt-lib) is installed on the machine and picked up (cmake

[2016-01-13 14:13] guruz commented on #4351
Weird symlinks?
Broken installation?
it should say ```owncloudcmd```

[2016-01-13 15:02] ckamm commented on #4308
@brozkeff Thanks for testing! :)

[2016-01-13 15:02] #4308 closed

[2016-01-13 15:04] rullzer commented on #4186
Yes that can be if there are no shares ;)

[2016-01-13 15:05] rullzer commented on #4186
I still have no idea why this is happening...

[2016-01-13 15:11] guruz opened #4353 "Remove not-needed-anymore Qt network debug output from the Windows and OS X builds"
```_q_errror``` and friends

[2016-01-13 15:18] Dianafg76 commented on #3475
@Vectrex Could you try this version, http://download.owncloud.com/desktop/daily/ownCloud-2.1.1.3024-nightly20160112.pkg.tbz, please
Thanks

[2016-01-13 15:21] Dianafg76 commented on #4302
@sukosevato Could you try this version, http://download.owncloud.com/desktop/daily/ownCloud-2.1.1.3024-nightly20160112.pkg.tbz, please
Thanks

[2016-01-13 15:32] Vectrex commented on #3475
@Dianafg76 Sorry - Linux machine here; can't use OSX packages. If available I'd prefer a .deb-package.

[2016-01-13 15:36] guruz commented on #3475
@Vectrex https://software.opensuse.org/download.html?project=isv%3AownCloud%3Acommunity%3Anightly&package=owncloud-client
:)

[2016-01-13 15:43] ogoffart commented on #4336
So on windows it should now work.  But on mac there is a problem in how the QMacStyle draw the progressbar in right to left. So it's now a platform specific issue

[2016-01-13 15:43] guruz commented on #4336
We concluded that on OS X this must be a problem with the ```QStyleOptionProgressBarV2``` Qt OS X style (since it works when specifying ```-style fusion``` on OS X) when activating RTL.

[2016-01-13 15:44] Dianafg76 commented on #3475
@guruz thanks and sorry :)

[2016-01-13 15:45] Dianafg76 commented on #4302
https://software.opensuse.org/download.html?project=isv%3AownCloud%3Acommunity%3Anightly&package=owncloud-client

[2016-01-13 15:46] kiu-ball opened #4354 "PUT of large files via oc-client inefficient with standard chunksize in fast networks"
### Expected behaviour
ownCloud desktop client performs well while uploading large files in a fast network. (~100MB/s)

### Actual behaviour
ownCloud desktop client performs bad while producing a high server load with standard parameters
(~10-20MB/s)
If you set the chunksize to a higher value the transfrerate raises while the server load drops.
(~90-100MB/s)

### Steps to reproduce
1. Take a large

[2016-01-13 15:46] guruz commented on #4301
@ogoffart and me have tried on Linux and OS X and it looked OKish when starting with ```-reverse```.
Moving issue to 2.2.

Input from someone using the Arabian oC client would be nice.

[2016-01-13 15:59] Vectrex commented on #3475
Smoke test looks good.
Tried a new upload with the 2.1.0 version and had the expected "no immediate reaction"; updated to 2.1.1; initial sync went well, adding a new file triggered immediate response. Same with deleting files.

[2016-01-13 16:01] Dianafg76 commented on #3475
@Vectrex Thank you for the testing

[2016-01-13 16:01] #3475 closed

[2016-01-13 16:19] MorrisJobke commented on #4354
cc @dragotin

[2016-01-13 16:19] MorrisJobke commented on #4354
Comment by @DeepDiver1975:

[2016-01-13 16:26] felixboehm commented on #4354
Thank you for providing these performance test results.

[2016-01-13 16:31] DeepDiver1975 commented on #4354
a config value will not help - in case of having the client running on a laptop living in different networks it will be a nightmare to change the setting over and over again.

this has to be an adaptive value depending on the network quality

[2016-01-13 16:50] scolebrook commented on #4354
Perhaps the best way to calculate what the chunk size should be involves starting at the default 5MB and measuring how long it takes to transfer chunks and how long it takes to start sending a new chunk. When that ratio gets close it indicates that the existing chunk size could probably be bigger, so increment a step, observe, [in|de]crement a step, observe, and so on. I'd guess the observation pe

[2016-01-13 17:32] dolfim opened #4355 "Let's Encrypt authority not recognized"
The Mac client 2.1.0 complains about the Let's Encrypt CA.

Is it a feature or a bug?

[2016-01-13 17:33] LukasReschke commented on #4355
Please post the results of https://www.ssllabs.com/ssltest/

[2016-01-13 17:41] spipau commented on #613
I'll tried to install the desktop version via:
https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client
but Ubuntu does not trust the connection. So I went to the Ubuntu Software Center and I'm now using v1.5. Please simply update the version in the Store. Can't be that hard and would be the easiest way.

Thanks for your effort and great work!

[2016-01-13 17:45] danimo commented on #613
@spipau The version in the store is not under our control

[2016-01-13 17:47] LukasReschke commented on #613
/me giggles and just lets http://www.pcworld.com/article/2845072/ubuntu-owncloud-and-a-hidden-dark-side-of-linux-software-repositories.html fall here…

[2016-01-13 17:53] dolfim commented on #4355
Thanks for pointing me to the ssl test. I found out I was using the wrong certificate missing the chain forward.

Now it works!

[2016-01-13 17:53] #4355 closed

[2016-01-13 17:54] spipau commented on #613
@danimo So who controls it? Seems like it would be important to take it over or to remove it... as @LukasReschke's article points out - thanks btw! And Ubuntu should accept the Open Suse version, who's fault is that?

[2016-01-13 18:10] sukosevato commented on #4302
I can't install that package on Arch Linux. I'm very short on time until January 28 due to exams. After the 28th I'll go figure out how to check out this specific branch / build the package.

[2016-01-13 18:22] DeepDiver1975 commented on #4354
The server can handle dynamic chunk sizes.

[2016-01-13 18:31] scolebrook commented on #4354
I did this process manually for syncing from a VM to our servers with a 10gbit link between them. One thing to note is I found that after a certain point there was increased processing time server side so that increasing chunk size resulted in an ever increasing gap before the the process is complete and the client can start sending the next chunk. This is likely due to our storage being an SMB mo

[2016-01-13 18:33] dragotin commented on #4354
@DeepDiver1975 does the NFS storage backend used here have any influence?

[2016-01-13 18:55] LukasReschke commented on #613
@spipau Nah. We actually would rather if Ubuntu just stops packaging insecure garbage as they do right now with a ton of software.

Ubuntu is basically trying to force software developers to spend time on packaging it for them. It's basically a modern form of blackmail: "Either you do it or we will just give the users old and totally insecure stuff."

Which basically leads to the fact that nearly

[2016-01-13 19:09] Phantis opened #4356 "Faulting module: OCUtil_x64.dll"
I have been using Directory Opus for Windows (a file manager and explorer replacement) for a while. Directory Opus has a built in FTP feature that was not working for me since (probably) the 1.8. version of OC client. A notice has poped up today prompting me to report a problem to you - that's what I'm doing here. I'm including the popup notice screen capture.

![faulting_module](https://cloud.git

[2016-01-13 19:59] fossxplorer commented on #4354
I did suggest something similar to @DeepDiver1975, but probably in a wrong thread: https://github.com/owncloud/core/issues/9832#issuecomment-166577967
Here is what i suggested "could it be an idea for the sync client to somehow use an adaptive chunk size (based on different feedback such as network speed, delay, how fast the acks are coming back etc)
if it could increase the throughput of syncing

[2016-01-13 21:55] kiu-ball commented on #4354
Would a general usage of bigger chunks have any disadvantages?

@scolebrook That's interesting. 50MB was also my best performing chunk size.

[2016-01-14 07:39] DeepDiver1975 commented on #4354
Chunks are stored within the data folder - in a clustered setup the data folder has to be a shared resource among the web servers. So - yes - the shared file system has an influence on chunked upload but should not be of any greater value.

One thing to remark about the current chunked implementation on the server side:
Chunks are fully read into memory before they are written to disk - same on as

[2016-01-14 09:09] kiu-ball commented on #4354
@DeepDiver1975 Chunks are fully read into memory before they are written to disk

Really? Not in my case as it seems. I can live watch the chunks growing in my php upload temp directory until they reaching the full chunk size. Then they are moved away to the users cache folder I think.

Every 0,1s: ls -l

[2016-01-14 09:10] DeepDiver1975 commented on #4354
yes - and this is the operation which reads them fully into RAM

[2016-01-14 09:59] comzeradd commented on #4239
I'm also trying to figure out why :) There is this patch on Fedora's owncloud-client package from the previous maintainer and I'm trying to understand if it's still needed. I'll try to build the package without out.

But I guess there was some reasoning on your part too for accepting the patch initially.

[2016-01-14 10:30] adressler commented on #3816
Why is this ticket closed? Is there any solution or fix?
Still getting the "HTTP\/1.1 400 expected filesize…" bug from time to time for some big files, that could not be uploaded by the client. Current Windows client 2.1, server 8.1.3. I checked the release notes of server updates, but this issue is not addressed.

[2016-01-14 10:39] PVince81 commented on #3816
@adressler the important question is whether the sync client properly resumed the upload or is it always failing ? Because the message "400 expected filesize" can happen sometimes due to timeouts and is not a bug. If the upload resumes properly during the next run, there is nothing to worry about.
However if the same file fails uploading after several tries, there might be a bug.

[2016-01-14 10:40] kiu-ball commented on #4354
I don't know the internals but in my setup I can verify this behavior:

5MB chunks -> throughput ~13MB/s -> server CPU load ~50% -> server ram consumption ~470MB
50MB chunks -> throughput ~80MB/s -> server CPU load ~25% -> server ram consumption ~470MB

[2016-01-14 10:52] DeepDiver1975 commented on #4354
You are right - it's only on assembly where the full chunk is loaded to ram :see_no_evil:

[2016-01-14 12:08] nikosnikos commented on #4220
This is not possible on the graphical interface but you can edit excluded files in /etc/ownCloud/sync-exclude.lst (on linux).

By the way I don't understand why is it problematic to sync theses lock files.

[2016-01-14 12:20] guruz commented on #4354
The high server load is possibly a server bug. Not sure why it would occur like that, maybe too much per-chunk overhead?
Or: I've seen in other issues the theory that the latency and load increases based on the number of chunks (maybe even O(n*n)) so that could be something for the server guys to look into..

Yep.
Similar: https://github.com/owncloud/client/issues/3382

[2016-01-14 12:26] guruz commented on #4354
Maybe https://github.com/owncloud/core/blob/c5a200c4198de951dabdd3f783ade655b8ea6434/lib/private/filechunking.php#L80 is expensive?

[2016-01-14 12:41] dragotin commented on #4354
We do not want to increase the default chunk size because that is very bad for slow networks. Not that many people have such high bandwith.

A good solution would be to adopt the chunk size according to the current network speed. As the chunk size has to be constant during the chunked upload of one file, we can only change it for the next file.

So what we suggest: During the upload of the chunks

[2016-01-14 12:43] guruz commented on #4354
I'll temporarily change this to 2.1.1: We want the config setting in 2.1.1, the dynamic scaling in 2.2

[2016-01-14 12:43] dragotin commented on #4354
@DeepDiver1975 its  unfortunate that the new chunking can also not handle changing chunk sizes during the upload. We should rethink that  for the new chunking.

[2016-01-14 12:50] dragotin commented on #4354
@felixboehm @MorrisJobke would it be possible (I think I asked before) to get an access_log file from this specific installation with transaction time enabled for an example upload for both chunk sizes? That would be helpful to better understand where the time is lost.

[2016-01-14 12:53] Dianafg76 opened #4357 "You can't resharing with a third user"
### Steps to reproduce
1. Install the version 2.1.0 on Desktop Client
2. Create 3 accounts (user1, user2, user3)
3. Go to user1
4. Create a New folder (Share with user2)
5. Right click and Share with owncloud
6. Share with user2, but only with the permission CAN SHARE
7. Go to user2
8. You can the folder (Share with user2)
9. With the same folder (Share with user2)
10. Right click and Share with o

[2016-01-14 12:54] jturcotte commented on #2587
Duplicate of #3414

[2016-01-14 12:54] #2587 closed

[2016-01-14 12:55] guruz commented on #4356
FYI @jturcotte @danimo

[2016-01-14 13:01] scolebrook commented on #4354
Given that each chunk needs to be read into RAM on the server during assembly, this has implications on the server. I think there needs to be a config.php value so an admin can set a maximum chunk size which the client can get via the capabilities system. If this value is set on the server the client then uses this as it's ceiling.

My thinking is that if you end up with a bunch of clients on a hi

[2016-01-14 13:04] Dianafg76 commented on #4357
I tested with the Server Web and on it is working ok,  you can resharing with a third user (user3)

[2016-01-14 13:04] Dianafg76 commented on #4357
cc/ @davivel

[2016-01-14 13:26] Dianafg76 opened #4358 "If you resharing with a third user (user3) via Web Server and later on the Desktop client you go to add other permission the application does not work"
... related https://github.com/owncloud/client/issues/4357
If you resharing with a third user (user3) via Web Server and later:
### Steps to reproduce
1. Go to the Desktop client with user2
2. Go to the folder (Share with user2)
3. Right click and Share with owncloud
![screen shot 2016-01-14 at 14 13 49](https://cloud.githubusercontent.com/assets/12032058/12325245/1a3a81f0-bac9-11e5-8198-efa348a51

[2016-01-14 13:32] rullzer commented on #4357
Same as in #4358, basically it is a permission issue.

[2016-01-14 13:54] guruz commented on #4354
@scolebrook I think this is fixed as part of "These issue have been addressed with the new chunking implementation."

[2016-01-14 13:56] DeepDiver1975 commented on #4354
as clarified on the phone: it can

[2016-01-14 13:58] DeepDiver1975 commented on #4354
Just for the sake of completeness: the new chunking on the server https://github.com/owncloud/core/pull/20118

[2016-01-14 14:09] jturcotte commented on #3506
I don't see the option in the context menu on Windows, possibly since the REGISTER_PATH ends with a slash and the path we get in the extension doesn't, though I havent verified why.

[2016-01-14 14:09] #3506 closed

[2016-01-14 14:12] jturcotte commented on #4356
I removed the only code we had using Winsock, it wasn't used. I haven't tested with your application but I'm pretty sure this should fix it.

[2016-01-14 14:12] #4356 closed

[2016-01-14 14:43] scolebrook commented on #4354
@DeepDiver1975 Thx for the link. Looking forward to this feature. It will remove one headache I have to deal with when our media folks decide to upload and share >150GB video files.

[2016-01-14 15:24] butonic commented on #3652
To correctly handle quota we would have to expose the mount points and their free space / quota.

[2016-01-14 15:25] MorrisJobke commented on #3652
cc @icewind1991 @DeepDiver1975

[2016-01-14 15:25] #3505 closed

[2016-01-14 15:52] felixboehm commented on #4354
Now some interesting numbers.

50 MB chunks
* transport 2.3 s per 50 MB
* assembly 7 s
* total 22 s

5 MB chunks
* transport 10 x 0.8 s per 50 MB
* assembly 12 s
* total 69 s

So the server spends about 4x the time during upload of chunks having smaller chunks, which is excluded the overhead of doing additional requests.

Assembly times seem reasonable to me, difference is not crucial.

Logfiles c

[2016-01-14 17:40] MTRichards commented on #4354
Anything on server load during this window? Taking server time is one thing, but is the CPU also being used, or is it disk, or...?
Wondering where the bottleneck happens, which could help direct us to optimize this.

The problem really is we can't pre-set a chunk size that works for everyone, because we don't know the dynamic of the network or the environment. So now what.

Should it be file size

[2016-01-14 17:42] guruz commented on #4354
@MTRichards We will measure latency and bandwidth (in the client code) and change based on that.

[2016-01-14 17:44] MTRichards commented on #4354
So a dynamic chunk size? This is great. I really do not look for more settings, rather something that is auto smart would be awesome.

[2016-01-14 18:17] gig13 commented on #2961
Symptom disappeared. Closing

[2016-01-14 18:17] #2961 closed

[2016-01-14 18:21] despens opened #4359 "Not possible to assign trust to a previously un-trusted certificate"
This happened:
1. Connect to captive portal
2. owncloud sync client complains about wrong certificate, distrust certificate
3. back on normal internet
4. accidentally click on option to revoke trust from correct certificate
5. owncloud won't connect anymore

what should have happened:
offer obvious way to manage certificates

OS: Ubuntu 14.04, Gnome Shell

sync client:

[code]

General at a loss w

[2016-01-14 18:41] gig13 commented on #2688
Reset Expectations with customer. awaiting feedback

[2016-01-14 18:44] MTRichards commented on #2688
2.2 is finalized, and this is not in. BUT, Q2 may still be possible.

[2016-01-14 18:46] MTRichards commented on #2688
But from what I read, the client side settings they want to lock are...all of them? Or just the paths and sync directories? Or the bandwidth settings?
Trying to figure out how much needs to be locked.

[2016-01-14 19:00] gig13 commented on #2688
@MTRichards
Ideally the paths and sync directories.

[2016-01-14 19:12] speedxy opened #4360 "Windows client does not delete local files in read-only shares"
### Expected behaviour
After deleting a file, this should be correctly synced to all desktop clients so the file is deleted even on client's datastorage.

### Actual behaviour
After deleting a file via web interface in a shared folder (read-only), a synced windows client is not able to delete this file and ends up with "access denied" ("Zugriff verweigert").
Mac client seems to have no problems wi

[2016-01-14 20:10] MTRichards commented on #2688
Anyone else have this request? This has been open for a year and only had 1 request, so just looking for a reason to raise priority.

[2016-01-14 20:28] gig13 commented on #2688
No other specific users raised this.

[2016-01-14 23:03] enoversum commented on #4326
My observation with bold older versions and the current nightlies: Operation cancelled/connection closed mostly on rather small files and when you have files on two machines, first upload everything from one machine and then try to sync the (identical/in some parts different) files from the second machine. I just started to sync my web projects with my owncloud and going crazy already, since now u

[2016-01-15 05:28] scheppi2610 commented on #275
@jancborchert:
Dear jan, may I once again ask if your opinion on this topic might have changed? I want to use oc in my enterprise environment and i would really like to have an encryption module integrated into the client seamlessly.
I agree that this would break the webinterface partly. But this is depending on the modularity of the integration.
From my point if view there are two possible soluti

[2016-01-15 07:41] dragotin commented on #275
Just contribute: #4327

[2016-01-15 08:15] SergioBertolinSG commented on #4350
cc @owncloud/designers

[2016-01-15 08:17] dragotin commented on #4350
This will change anyhow once we use the new Activity API

[2016-01-15 09:05] MarkusAmshove commented on #4153
Hey @guruz,

I was finally able to resolve the issue.

It had nothing to do with the OC-Client but with the php version (or mode?) in which owncloud was running.

I updated php and then my domain was running in CGI-mode.
This was a suggestion by @srissel here https://github.com/owncloud/core/issues/21371#issuecomment-167224548

I'm now running FPM-mode and the client is working again :+1:

I don't

[2016-01-15 09:49] Dianafg76 commented on #4360
I can't reproduce the issue
When the file is scyn with user 2, I can't delete the file on the Web server, appear this message (Could not delete.....), so I can't reproduce the issue
Windows 10
Desktop client v ownCloud-2.1.1.5765-nightly20160112-setup.exe
Server v {"installed":true,"maintenance":false,"version":"8.2.2.2","versionstring":"8.2.2","edition":"Enterprise"}

[2016-01-15 10:03] DeepDiver1975 commented on #4354
@dragotin see https://github.com/owncloud/core/pull/20118#issuecomment-171919485 to see that there is no difference with respect to the assembly/final move operation using one chunk or many

[2016-01-15 10:12] speedxy commented on #4360
You're right. Now I tested with Version 2.1.1-nightly20160112 (build 5765) and the synchronisation seems to work correctly.

[2016-01-15 10:26] #4360 closed

[2016-01-15 10:35] dragotin commented on #4354
@DeepDiver1975 wow that sounds promising :+1:

[2016-01-15 11:51] blueddy commented on #4334
Same problem:

Distributor ID:	Ubuntu
Description:	Ubuntu 15.10
Release:	15.10

sudo apt-get install qt5-default

owncloud client version 2.1.0

[2016-01-15 12:23] ogoffart commented on #4354
in owncloud client 2.1.1 it will be possible to configue the chunk size with the `chunkSize` option (in bytes) in the owncloud.cfg config file, in addition to the environement variable.

[2016-01-15 12:39] guruz commented on #4359
@despens edit ```owncloud.cfg```

[2016-01-15 13:27] MTRichards commented on #3932
What do you guys think? @dragotin is this reasonable for 2.2?

[2016-01-15 13:29] butonic commented on #3932
Still active, but I think there was already a related mechanism for storages that may be unavailable...

[2016-01-15 13:38] torarnv commented on #3918
Try https://codereview.qt-project.org/146216

[2016-01-15 13:44] dragotin commented on #3932
@butonic can you explain what happens with the current client? If the reply is 503 for a certain file, we try to download it next again, right? What is wrong with that? Well, maybe we blacklist the problem after a couple of retries, but that could be changed for 503.

The current architecture makes it very hard to "wait" for a certain time and try again.

[2016-01-15 13:54] MTRichards commented on #4354
that's cool. Is this a step towards anything, or just a tuning option?
asking to compare @guruz mention above

[2016-01-15 14:03] ogoffart commented on #3932
Since the blacklist is time base, we could just blacklist for a given amount of time.

[2016-01-15 14:27] butonic commented on #3932
The use case is that the requested file might need to be retrieved from tabe, which might take 2-10 min. Since this is an expected unavailability for a GET request I think the client should not show an errer icon. Wasn't there some error code that would allow that behavior? I think it was introduced for federated sharing or something. I can also try to send that error code.

[2016-01-15 14:28] guruz commented on #4354
@MTRichards that should resolve the clue ticket for 2.1.1, in case the admin does deployments of the ownCloud client on the machines in the network he/she can adjust that config value

The automatic adjustment is planned for 2.2

[2016-01-15 14:44] MTRichards commented on #4354
ok, got it. @felixboehm seems a good answer to quickly get that feature resolved.

[2016-01-15 15:04] estudioapa opened #4361 "[2.1.x] Going to activity tab asks to re-login with server 6 and Windows XP"
My version 2.1.1 (build 5757) synchronizes well but when I want to check the activity asks me to re-login again.

What I can do about this?

[2016-01-15 17:48] AMDG2 commented on #2701
I get the same problem today. Here is my setup :

- Windows 10 (32)
- Owncloud (2.1.0, build 5683, git rev. https://github.com/owncloud/client/commit/c0c9fb365da7ddc8b7367e5ffd6052db7806c75e)
- Installed on SD-Card
- Sync folder on SD-Card
- SD-Card format: exFat

Here is my log: https://owncloud.feildel.fr/index.php/s/I8ieqEK2jiAckWH

[2016-01-15 17:56] guruz commented on #2701
[code]

@AMDG2 Does it work when you set the ```OWNCLOUD_SQLITE_JOURNAL_MODE``` environment variable to ```DELETE``` when launching oC client?

[2016-01-15 19:39] AMDG2 commented on #2701
Yes it works. I tried to delete csync journal from Owncloud sync folder before but it doesn't work. Was it an error ?

May I help to fix the issue in Owncloud Client ?

[2016-01-15 19:53] guruz commented on #2701
@AMDG2 We'll give you a new build next week to try. Something is wrong with the FAT detection.
Please stay tuned :)

[2016-01-15 23:32] strugee commented on #4328
@guruz I can't seem to reproduce this anymore. I'll report back if I end up seeing it again, but I'm 99% sure that was the error I got.

[2016-01-16 08:24] fedev commented on #3740
Just to note that the above was not really relevant for me. The issue was fixed once upgraded to 8.2.2.2.

[2016-01-16 12:17] johan12345 commented on #4326
@guruz Is the nightly build for Windows you linked to still available somewhere? The link gives me an error 404 and it seems that there are only OS X builds on http://download.owncloud.com/desktop/daily/ .

[2016-01-16 13:14] raaomoka commented on #2512
I'm still experiencing this issue with ownCloud Desktop Client v2.1.0 on my Windows PC. I always shows this error for ALL my files, it doesn't sync anything.

I currently have no files on my ownCloud server, just empty directories I want to sync with directories on my PC. I successfully authenticate with the server during account setup, no problem, but when I attempt syncing a folder, this irritat

[2016-01-16 13:19] rullzer commented on #4186
@Dianafg76 can you verify this is still happening... I have just looked trough the code again and I can find not a single reason why windows would fail.

[2016-01-16 13:50] felixboehm commented on #4354
yes, good solution.

[2016-01-16 18:03] MiragePV opened #4362 "Sharing from desktop doesn't inherently offer groups, only users"
I am using Win 10, client ver. 2.1.1. nightly, build 5757.

When I am trying to share a folder with some users or groups from the desktop, the following happens:
- I right-click on a folder, select Share with OwnCloud
- A dialog opens, however it doesn't pop out, it just flashes on toolbar (which shouldn't happen, imo, but this is not the issue I want to address)
- I click into the box, and write

[2016-01-16 20:18] onkovic opened #4363 "_"

[2016-01-16 20:36] antoneliasson commented on #1610
I just tested this on Linux, and I feel that Owncloud Client works as expected. Using client version 2.1.0 on Ubuntu 15.04. Desktop environment is GNOME 3 + Xmonad window manager. The external drive is NTFS formatted and mounted using Nautilus under /media/<username>/<volume label>.

These are the steps I have done:

1. Add a new sync directory on the external drive. Let it sync.
2. Attempt to unm

[2016-01-16 22:18] mattschinkel commented on #1610
When i tried, i was using windows client/server. It shouldn't matter if the server is linux or wondows. The external drive was on the client (a laptop). Please test.

Sent from my iPhone

[2016-01-16 23:44] antoneliasson commented on #1610
I understand. I was also talking about the client all along (not External Storage on the server side). The external drive is connected to the Ubuntu 15.04 computer.

If I understand it correctly, the only difference between our setups is that my client is Linux and your client is Windows (and bgschiller's client is OS X). As you say, the server OS is not relevant.

[2016-01-17 08:56] mlopezcoria commented on #4184
It's not just a Linux Mint bug, but a Cinnamon desktop one. I use Fedora 23 Cinnamon Spin and also have the same issue.

[2016-01-17 09:33] #4363 closed

[2016-01-17 10:02] scheppi2610 commented on #4327
Hello orion and all others,
Thank you for opening this request.
Having read only your initial design document V. 0.7 i want to remark some of my thoughts:
- your approach seems well-thought. Despite of your intention i think all "sharing" features should be re-thought. If I want an Ende-2-End encryption I do not want to share it. If I work on theese files as a team, every member needs the same key

[2016-01-17 10:09] randomessence opened #4364 "Sync client context menu issue with Directory Opus 11"
If I right click to access the context menu I often see this error from Directory Opus.

![owncloud](https://cloud.githubusercontent.com/assets/1331201/12376910/4777abee-bd02-11e5-8ba0-e3edaa50fa21.png)

[2016-01-17 17:41] orion1024 commented on #4327
Hi Scheppi,

thanks for your interest.
I read your document, and first I need to clarify something because I'm not sure of what you want there : ownCrypt will do client-side encryption, but not "local disk encryption" (like EncFS/LUKS/TrueCrypt/BitLocker...).
That is to say, the files will be stored unencrypted locally.
Why ?
* It's a whole different product, loads of additional development work.

[2016-01-18 07:04] adrianvg opened #4365 "No Desktop Client updates for CentOS 6?"
@jnweigner:
OC Desktop Client for CentOS 6 isn't updating from the repo.

Upon check in the repo folder on
http://download.opensuse.org/repositories/isv:/ownCloud:/desktop/CentOS_6/
in both the 32 and 64b-folders, I see only the older 2.0.2 client.

Did somebody forget about us CentOS 6-users? 8-)

[2016-01-18 07:12] guruz commented on #4364
Dup https://github.com/owncloud/client/issues/4356#event-515003212
This should be fixed in 2.1.1beta1 coming out soon.

@jturcotte

[2016-01-18 07:12] #4364 closed

[2016-01-18 07:13] guruz commented on #4361
How often does it ask you?
How many accounts do you have?

[2016-01-18 07:51] guruz commented on #4328
Ok, just reopen then :)

[2016-01-18 07:51] #4328 closed

[2016-01-18 08:10] Dianafg76 commented on #4186
@rullzer I tested again the issue, and now is working OK
Desktop v 2.1.1 (build 5765)
Server v {"installed":true,"maintenance":false,"version":"8.2.2.2","versionstring":"8.2.2","edition":"Enterprise"}

[2016-01-18 08:10] #4186 closed

[2016-01-18 08:21] Dianafg76 commented on #4362
I tested this issue, and in my Windows 10 is working OK
1. I have 1 group (e.g Hello), and 1 user (e.g Hola)
2. I created a new folder and I have shared with users and groups
3. If I writing the letter H, I can see the user Hola and the group Hello
Desktop v 2.1.1 (build 5765)
Server v 8.2.2

[2016-01-18 08:29] Dianafg76 commented on #4361
I tested this issue, and in my Windows 10 is working OK
I have 4 accounts
Desktop v 2.1.1 (build 5765)
Server v {"installed":true,"maintenance":false,"version":"8.2.2.2","versionstring":"8.2.2","edition":"Enterprise"}

[2016-01-18 09:24] Dianafg76 commented on #3952
@jturcotte I tested this issue, and now is working OK
Desktop v ownCloud-2.1.1.3037-nightly20160118.pkg
Server v {"installed":true,"maintenance":false,"version":"8.2.2.2","versionstring":"8.2.2","edition":"Enterprise"}

[2016-01-18 09:24] #3952 closed

[2016-01-18 09:51] ogoffart commented on #4362
We tried to fix this problem already, but it's not as simple as it seems the window manager prevent us to popup arbitrary window.

As for what shows up on the popup, it's simply what the server answers us for our search query.  So it's most likely just a server problem.
What's the server version?

[2016-01-18 10:24] Dianafg76 commented on #1627
It is working Ok, when the sync is in "Paused" state, the button is in "Resume" to begin with
Desktop v ownCloud-2.1.1.3037-nightly20160118.pkg
Server v 8.2.2

[2016-01-18 10:24] #1627 closed

[2016-01-18 10:29] Dianafg76 commented on #1730
Any news about this? @LukasReschke @guruz @tweh

[2016-01-18 10:36] Dianafg76 commented on #2041
I can't reproduce it. Can you try to reproduce it in the latest version? If you are able please reopen it.

[2016-01-18 10:36] #2041 closed

[2016-01-18 10:40] Dianafg76 commented on #2543
With Desktop v 2.1.0 this option has changed

[2016-01-18 10:40] #2543 closed

[2016-01-18 11:22] MiragePV commented on #4362
@Dianafg76 Yes, that's what I said. When you star typing the group name, it shows.
But if you don't remember all the group names, and you want them all shown, it's impossible to do so. It shows only users.

@ogoffart Server version is 8.2.2 (stable)

[2016-01-18 12:17] estudioapa commented on #4361
I have only one account and ask me to re-login just when I go to activity tab. Otherwise it works well.

[2016-01-18 12:18] rullzer commented on #4362
As @ogoffart suggested it is likely a way in wich the backend you use searches. If you properly setup your users and have `firstname lastname` then searching for ` ` will match all users since they all have a space in their name.

Now your groups most likely do not have a space. So nothing is found.

[2016-01-18 13:42] guruz commented on #3918
@torarnv tack :)
@danimo I can confirm the Qt patch fixes the issue.

[2016-01-18 15:08] ogoffart commented on #4345
@MTRichards  ?

[2016-01-18 15:28] ogoffart commented on #3673
Closing old bug with missing information.

[2016-01-18 15:28] #3673 closed

[2016-01-18 15:33] guruz commented on #3918
Should be in  http://download.owncloud.com/desktop/daily/ownCloud-2.1.1.3039-nightly20160118.pkg
@jturcotte is testing..

[2016-01-18 15:43] ogoffart commented on #3555
I tested this and it worked for me with 2.1.1 beta

[2016-01-18 15:43] #3555 closed

[2016-01-18 15:43] jturcotte commented on #3918
Works :+1:

[2016-01-18 15:43] #3918 closed

[2016-01-18 15:47] ogoffart commented on #3690
This looks more like a configuration issue rather than a bug in the client. Maybe  ou can find help on https://owncloud.org/support/

[2016-01-18 15:47] #3690 closed

[2016-01-18 15:55] MTRichards commented on #4345
Ok, good that it was partly changed for 2.1 though not quite as the customer had asked. Regardless, this is close enough for now, no need to change it.

What I was going for was an implementation of #19988 above in the desktop sync client quota part, but I think you simplified it.

[2016-01-18 16:02] ArneBajse opened #4366 "Unable to sync files with < or > in file name"
Syncing files containing < or > in their file name causes the server to show the file twice in the web gui and the Client Version 2.1.0 to show error upon sync, complaining about duplicate files.

This error surfaced after the upgrade to 2.1.0 with files that have existed well over six years and thus being successfully synced before.

[2016-01-18 16:03] FoxBJK opened #4367 "Client preventing system updates on OS X"
I'm running OS X 10.10.3 (public beta), and 2.1.0 of the Owncloud client. I've been seeing notifications from the system that updates were prevented because the Owncloud client is running. Why? The client's not syncing anything when this happens, and it seems like a bug that the client is preventing system updates even when it's not syncing.

[2016-01-18 16:12] guruz commented on #4366
Which OS?
Which server version?

[2016-01-18 16:14] guruz commented on #4367
@FoxBJK Do you have a screenshot of this notification/error? Does it work if you quit the client? Does it work if you type ```killall Finder``` in Terminal? (no worries, Finder will auto-restart..)

@jturcotte @dragotin I suspect the Finder bundle. Adding to 2.1.2

[2016-01-18 16:14] guruz commented on #4367
@FoxBJK Do you really mean OS X 10.10.3?

[2016-01-18 16:19] FoxBJK commented on #4367
Hi,

Most likely yes it's just "10.10.3" (build 15D13b) but sine I'm in the public beta program it's always listing the word "beta" always.

If I quit the client, the updates work just fine. Haven't ever tried to force quit the finder for this, but I can try that this evening to see if the update works

[2016-01-18 16:21] estudioapa commented on #4361
Is there something else that you need to see as necessary to diagnose this issue?. I have Win XP with version 2.1.1 build 5757.

[2016-01-18 16:25] ogoffart commented on #3857
Yes, i was making change in the git repository (including commits and checkouts)
I still believe (reading from the errors logs) that this is due to a configuration problem in the server rather than a bug in the client.

Please try again with the newer owncloud client and server.  Make sure that the files are not in a read-only directory, and that there is no firewall or other problems.

[2016-01-18 16:39] ogoffart commented on #4366
Earlier version of the client did not sync files with special character. 2.1 does and let the server throw an error if the version  IF the server is 8.1 or newer.

Files with < and > works fine for me.

Please provide the log files.
This might also be a server bug.

[2016-01-18 16:40] guruz opened #4368 "2.1.1 final: Find out why OS X complains about "unidentified developer" when starting installer"

[2016-01-18 16:44] ogoffart commented on #3901
`Not allowed to upload this file because it is read-only on the server, restoring`

This happens because the server reports that the files are read only, as the error message says.  This is an expected behavior.

There is a known bug on earlier server version which once the folder are set in read-only mode, they do not notify us that their are back in a non-read only mode if the rights are changed

[2016-01-18 16:51] ArneBajse commented on #4366
Client : OSX 10.9.5
Server : Debian  8.1.5-12.1

In my attempts to get rid of the error I renamed the files and the deleted the one containing < or > on the server using the web-gui. After refreshing the browser the deleted files shows up again. Renaming them gives an error "Cannot rename because the file is deleted". Client sync works with out error though.

[2016-01-18 16:52] scheppi2610 commented on #4327
Hi orion,

i agree with all what you say. Local encryption is not necessary at least for first version.
Adding hard- or software now seems to me like a thumb idea as the whole development environment fits into a virtual box. Maybe i can contribute by asking a programmer to support you with code / GUI work.

[2016-01-18 16:55] ogoffart commented on #3287
The owcloud client does not support client certificate.
There is preliminary support for it but the implementation was never finished [https://github.com/owncloud/client/issues/69]

Other than that it looks like a configuration problem in the server and not a bug in the client.

[2016-01-18 16:55] #3287 closed

[2016-01-18 16:59] ogoffart commented on #3285
Closing old issue. Please re-open if this is still hapenning with 2.1

[2016-01-18 17:07] ogoffart commented on #3518
I suggest just to create a shortcur with  `--logdir /log/directory  --logexpire 1`
(`--logexpire 1` removes the files after one hours)

Not that generating the log slows down the sync quite a lot.

[2016-01-18 17:08] ogoffart commented on #3521
closing since we have the confirm feature

[2016-01-18 17:08] #3521 closed

[2016-01-18 17:14] ogoffart commented on #3530
The attached log in the first comment does not show any download.

Is this problem still hapenning with recent owncloud?  And if yes, please provide a log that does the download.

[2016-01-18 17:18] ogoffart commented on #3915
Can you please provide the client log?  (start with `--logfile` option or press F12)

[2016-01-18 17:25] ogoffart commented on #3992
Sort fo duplicate of #3688

[2016-01-18 17:25] #3992 closed

[2016-01-18 17:27] ogoffart commented on #4065
The main windows is opened when the owncloud program is run.  Is there anything like a script or so that tries to launch owncloud?

[2016-01-18 17:30] ogoffart commented on #4078
This sounds like a configuration problem rather than a bug in the client.  Please ask for help on the forums or support channel: https://owncloud.org/support/

[2016-01-18 17:30] #4078 closed

[2016-01-18 17:31] ogoffart commented on #4086
Closing the issue as this was fixed with more recent Qt.

[2016-01-18 17:31] #4086 closed

[2016-01-18 22:14] blanik opened #4369 "External storace access denied by windows client"
### Steps to reproduce
1. Run owncloud client against external storage shared with user

I have an external FTP server as external storage with myself as the 'available for' user. This is then shared from me with other owncloud users on the same server to user1 ( with write access ) and user2 ( wih read access ). When syncing the windows client user2 is getting access is denied on some files - but

[2016-01-18 22:36] #4369 closed

[2016-01-19 05:16] strugee opened #4370 "Moving then immediately renaming a large folder results in a reupload"
I just put a huge (3+ GB with ~20 MB files) folder in my ownCloud, and it uploaded to the server. Then I moved it to another folder in my ownCloud and immediately renamed it. This resulted in the entire 3 GB being uploaded again, which is obviously unideal.

I'm on version 2.1.0 of the client.

[2016-01-19 08:45] ckamm commented on #2701
@guruz This might be a bug in the file system detection function:
[code]
In the log, the path is "D:/..." so `/` vs `\`.

[2016-01-19 09:03] ckamm commented on #2701
@AMDG2 A potential fix is in `2.1` (it didn't make it into beta1). Could you try a new nightly from http://download.owncloud.com/desktop/daily/ tomorrow?

[2016-01-19 09:03] guruz commented on #4370
@ogoffart I think this would not have happened if there was another sync in between which refreshes the FileIDs and ETags?

[2016-01-19 09:10] AMDG2 commented on #2701
I will try it in the evening (GMT+2) or tomorrow.
I let you know :)

Le 19 janvier 2016 10:03:16 GMT+01:00, ckamm <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec K-9 Mail. Veuillez excuser ma brièveté.

[2016-01-19 09:27] ogoffart commented on #4366
This looks like a server problem rather than a client bug.
Please open a bug report on the [core] bug tracker.  Or asks for help in the forum https://owncloud.org/support/

[2016-01-19 09:27] #4366 closed

[2016-01-19 09:35] ogoffart commented on #4370
Please use the issue template:  https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

Normaly this should not happen as we do move dectection.

Was the upload completed?
Can you provide log files and exact steps to reproduce?

thanks.

[2016-01-19 09:41] ckamm commented on #3403
The sync folder default info is:
[code]

I think the local and remote paths should be displayed for a sync folder, that's the essence of the sync connection. The duplication of the remote path should be removed. "Syncing selected files in your account with" is currently fluff (we never show "Syncing all files"). I expect that the remote path will often be shorter than the local path.

Suggestion:

[2016-01-19 09:48] ogoffart commented on #4138
It seems like your problem caused by a configuration problem in the server rather than a bug in the client.   You can ask for help in the forum or other recources from https://owncloud.org/support/

[2016-01-19 09:48] #4138 closed

[2016-01-19 09:53] ogoffart commented on #4236
The QSettings bug was fixed in Qt 5.4.
And the bug while upgrading was only upgrading from 2.0.0 or 2.0.1.

[2016-01-19 09:53] #4236 closed

[2016-01-19 10:05] ogoffart commented on #4248
Hi,  This is a bug tracker.  If you want to ask for help, please use the forums https://owncloud.org/support/
If you want to report a bug, please use the issue template: https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

I tried to pause while file were deleted and it worked as expected for me.

[2016-01-19 10:05] #4248 closed

[2016-01-19 10:05] f4111222 opened #4371 "When user changed password in web, client still can use"
I'm running Owncloud client v2.1.0. I found when I change my password from web, I still can use client to upload/download/sync files. It seems a little strange. The user should be logged out and ask for re-typing their new password for checking their auth?

[2016-01-19 10:07] LukasReschke commented on #4371
Kinda a dupe of https://github.com/owncloud/core/pull/21592

[2016-01-19 10:07] #4371 closed

[2016-01-19 10:10] ogoffart commented on #4324
Whats the version of the owncloud server?
Are we talking about the local or the remote discovery?
What are the logs saying?
Please use the issue template while reporting bugs: https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

I suspect this is simply due to the server being slow.

[2016-01-19 10:16] ogoffart commented on #4288
The error message i get in that case is "Could not read system exclude file".
I believe the error message is explicit enough.

P.S. please use the issue template when reporting bugs:  https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

[2016-01-19 10:16] #4288 closed

[2016-01-19 10:20] ogoffart commented on #4329
Please use the issue template when reporting: https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

What are the steps to reproduce?

[2016-01-19 10:21] ogoffart commented on #4345
So I assume i can close this bug then :-)

[2016-01-19 10:21] #4345 closed

[2016-01-19 10:43] ogoffart commented on #4258
@jancborchardt: Do you have an opinion here?
What should be the threshold of a big folder?

[2016-01-19 10:45] ogoffart commented on #4250
You don't need to sync the root folder.  You can use the "add folder to sync" to only select few folder you want to sync.

[2016-01-19 10:45] ckamm commented on #3735
@bboule Are you saying you're currently working on this? Should I assign this to you?

[2016-01-19 10:47] MorrisJobke commented on #3735
I don't think so. This is just a label of the tool he is using :see_no_evil:

[2016-01-19 10:49] ogoffart commented on #4361
Can you please use the issue template? https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

What are the exact steps to reproduce?
Windows XP is no longer supported, that might be the problem. Maybe it won't save the password correctly.

[2016-01-19 10:51] ckamm commented on #3735
@MorrisJobke Thanks, that explains it. As far as I know, testing this can only start when owncloud/core#18716 is done.

[2016-01-19 10:51] ogoffart commented on #4346
Do you have a backtrace or step to reproduce?

[2016-01-19 10:53] ogoffart commented on #2516
Closing old bug.
This seems to be a server bug, so if this is still relevant, please open in the server bug tracker.

[2016-01-19 10:53] #2516 closed

[2016-01-19 10:59] ckamm commented on #3184
@Dianafg76 Is the problem that you click "Share with ownCloud..." once and multiple windows open up? Or is this report about the ability to open several sharing windows for the same folder by clicking "Share with ownCloud..." several times?

[2016-01-19 11:15] mocolini commented on #3235
It seems that this bug affects owncloud-client yet.
If I don't remove ".eml" in "HKEY_LOCAL_MACHINESOFTWAREMicrosoftWindowsCurrentVersionPropertySystemPropertyHandlers" the client keep uploading (unchanged) *.eml files.
So, every time windows update itself (and so the ".eml" registry key is set back to default), hundred of .eml files (and MB) are re-uploaded to the server.

[2016-01-19 11:28] guruz commented on #3235
@mocolini Are you saying the content of those .eml files does not change but they are still reuploaded?

[2016-01-19 11:41] mocolini commented on #3235
@guruz exactly.
Today windows 10 upgrade itserlf and re-set the ".eml" key in the register (the one I've removed days ago), after that owncloud-client has begun to re-upload all the (unchanged) *.eml files.

[2016-01-19 12:26] ckamm commented on #4209
@davitol Which password policy app were you using? I tried https://apps.owncloud.com/content/show.php/Password+Policy+Enforcement?content=167207 but that didn't seem to apply the policy to link-share passwords.

[2016-01-19 12:52] ogoffart commented on #3235
I think it needs to  be uploaded at least once after upgrading before the checksum are stored in the databse and are compared.

Does it re-upload several time the same file?

[2016-01-19 13:02] Dianafg76 opened #4372 "[OS X] Shibboleth Login windows doesn't popup"
### Steps to reproduce
1. Install Desktop beta version with SHIBB
2. When the sesion are expired

### Actual behaviour
You don't have the popup to include the user and password. You need go to the Account option
I tested on Mac
LOG
[code]

### Server configuration
Desktop v 2.1.1 (build 3039) Mac
Server v 8.2.2

[2016-01-19 13:06] Dianafg76 commented on #4372
related https://github.com/owncloud/enterprise/issues/990

[2016-01-19 13:15] ckamm commented on #3416
Another guess: Maybe the server reported an error, or there was a timeout but the file actually uploaded correctly. I think the client would notice during the next discovery and not re-upload. This way you could get a synchronized file without an activity log entry saying "Uploaded".

[2016-01-19 13:35] MegaV0lt opened #4373 "[2.1.1 beta1] [Windows] Font drawing issue in themed button-drawing in selective sync"
Caracters are cut off because linehigh is too small. (Chars like g, y, j, ...)

![2016-01-19 14_32_47-owncloud](https://cloud.githubusercontent.com/assets/2804301/12420008/0b9d7aea-beba-11e5-941d-377aac5ef0c1.png)

Picture from 2.21 beta1 under windows 7 32 Bit - German

[2016-01-19 14:45] mocolini commented on #3235
To be onest I don't know, 'cause I suddenly remove the ".eml" key .
So the upload is performed just one time to "populate" the db? Am 'I right?
And this happen for each windows PC, right?

[2016-01-19 14:51] MorrisJobke commented on #4080
00004227

[2016-01-19 14:51] MorrisJobke commented on #4080
@michaelstingl I moved this over ;)

[2016-01-19 15:36] cdamken commented on #3518
@ogoffart @MTRichards Can be set somehow by default or activate over the UI?

The end-user will not restart the client and start it over the CLI

[2016-01-19 15:43] estudioapa commented on #4361
@ogoffart
Here is the report:

**Expected behaviour**

 Files should be in sync between both Windows XP and 7 PC. Both must have same files on same paths,  as configured and show activity (server, files synchronized and unsynchronized)

**Actual behaviour**

The client synchronizes well but asks me to relogin when I want to see the activity (shows no activity on the server) in boths PC.

**Steps t

[2016-01-19 15:56] ogoffart commented on #4361
Dit it happen with 2.1.0?

Maybe the call to fetch the server acticity logs the uer out.

Could you provide the log of what happens when you check the activity tab.
(press F12 to see the log)
The logowncloud.txt is a bit short and does not show the call to fetch the activities

I did not even think such old version had an activity stream.

[2016-01-19 16:46] ogoffart commented on #3235
yes, previous version of the client did not store the checksum in the database. and we only store it after we complete an upload or a download.

[2016-01-19 16:49] mocolini commented on #3235
Ok, perfect, I misunderstood the client behavior.
I'll check if the problem persist after complete upload/download, in that case I'll bother you again!
:-)

Cheers
Michelino

[2016-01-19 16:50] guruz commented on #3235
Sounds good :)
If you re-added the registry key, you can also try to remove it..

[2016-01-19 16:51] mocolini commented on #3235
Sure, I'll let you know

[2016-01-19 16:55] Dianafg76 opened #4374 "You don't see the hidde file on Activity/Not synced on Windows"
### Steps to reproduce
1. Install Desktop v 2.1.1. Beta1
2. Create a new hidden file
3. Sync

### Actual behaviour
On Mac, if you go to the Activity option/Not synced, you can see the file

On Windows you don't see the file on the same option

### Server configuration
Desktop v ownCloud-2.1.1.3045-nightly20160119.pkg (on Mac)
Desktop v 2.1.1beta1 (build 5780) (on Windows 10)
Server v {"installed":

[2016-01-19 17:13] ogoffart commented on #4374
Works for me.

Where and how do you create the hidden file?   do you have the "sync hiden files" option unchecked?

[2016-01-19 17:17] Dianafg76 commented on #4374
In my Mac, I create a new hidden file and when is sync, appears on activity/not Synced. But If I go with the same user on Windows 10 and waiting to sync I can´t see the hidden file

[2016-01-19 17:36] ogoffart commented on #4374
well, if the file is not sync'ed from the mac, it's not on the server, so the windows computer does not know its existence, since it's not sync'ed.

[2016-01-19 17:44] estudioapa commented on #4361
Yes, it happens with 2.1.0 build 5683 but works well with 2.0.2 build 5569 because it hasn´t activity server(I mean, you can only see synchronized and unsynchronized files in the activity tab)

***Logs***

**Version 2.1.0 build 5683**
[owncloudLog-v2.1.0.txt]https://github.com/owncloud/client/files/96333/owncloudLog-v2.1.0.txt

**Version 2.0.2 build 5569**
[owncloudLog-v2.0.2.txt]https://github.co

[2016-01-19 18:40] strugee commented on #4370
Whoops, my apologies. Forgot that you guys want extra info. Here it is:

### Expected behaviour

When I move a large folder and then immediately rename it, the client should recognize this.

### Actual behaviour

When I moved a large folder with many files and then renamed it, the client reuploaded the folder.

### Steps to reproduce

1. Create a folder in the ownCloud directory
2. Fill it with se

[2016-01-19 18:40] strugee commented on #4370
I'll have to provide logs when I get home and am in front of the relevant machine.

[2016-01-19 18:58] strugee commented on #4370
[Here][1] are the webserver logs. Note I've grepped for the relevant IP address so this includes *only* the requests related to this bug.

 [1]: http://sprunge.us/JUDA

[2016-01-19 19:00] strugee commented on #4370
I should also explain: `/scratch` is the folder originally being uploaded to. Then `/scratch` was moved to `/photos/scratch`, followed by an immediate rename to `/photos/Interleague 2016`.

[2016-01-20 02:59] XianPalin commented on #2701
I upgraded to ownCloud 8.2.0 server a while back and this issue started happening - I was no longer able to sync due to the csync error.  Tonight I downloaded ownCloud-2.1.1.5785-nightly20160120-setup.exe.  After uninstall of my previous version and an installation of the new version, ownCloud popped up and started syncing immediately. I am unfortunately getting 'Service Unavailable'...'Operation

[2016-01-20 07:03] guruz commented on #2701
@XianPalin Sounds unrelated. Please try 8.2.1, if issue persists create a new issue.

[2016-01-20 07:04] guruz commented on #2701
@AMDG2 http://download.owncloud.com/desktop/daily/ownCloud-2.1.1.5785-nightly20160120-setup.exe @soluxima-erik

[2016-01-20 07:12] guruz commented on #4361
@estudioapa We consider this low priority for now as server 6 is too old.

[2016-01-20 08:52] ckamm commented on #3416
@phil-davis I'm closing this for now. Feel free to reopen if you see the problem again or find a way to reproduce it.

[2016-01-20 08:52] #3416 closed

[2016-01-20 08:58] Dianafg76 commented on #4374
Ok, thanks

[2016-01-20 08:58] #4374 closed

[2016-01-20 09:00] ckamm commented on #4293
@diezorg How exactly can I reproduce the problem?

Here's what I tried:
1. Sync ~/ownCloud.
2. Pause the sync client
3. Delete and recreate ~/ownCloud to mimic a fs being unmounted there
4. Unpause the sync client -> Error about missing sync journal
5. Restart sync client -> the data is re-downloaded into ~/ownCloud.

[2016-01-20 09:03] ckamm commented on #4283
I also don't like the auto-expansion of the first folder. It was added intentionally, I think, to make the selective sync functionality more visible. I'd either remove it or add a check "don't expand if there's more than one sync folder" @guruz?

[2016-01-20 09:05] nickvergessen commented on #4361
Server 6.0 is unsupported since last summer

[2016-01-20 09:05] nickvergessen commented on #4361
Afterwards there were also some session fixes IIRC, so they might be related.

[2016-01-20 09:56] #4361 closed

[2016-01-20 09:57] guruz commented on #4283
@ckamm OK, then don't do it if people have multiple folders for the account.
If they're so advanced, they'll also discover the selective sync there. (or know it from having 1 folder)

[2016-01-20 09:57] ckamm opened #4375 "Enable content checksums"
Due to #3235 and #2983 we use content checksums for detecting unnecessary uploads and renames-that-aren't. But content checksums are currently only computed for .eml files.

We should consider enabling content checksumming for everything.

[2016-01-20 09:58] martin-rueegg commented on #4283
sounds reasonable. thanks!

[2016-01-20 10:01] guruz commented on #4375
:+1:

I still vote for using a safe cryptograpgical checksum so we can later use it for more advanced magic.
But if @ckamm says we can anyway later switch...

@LukasReschke @ogoffart What do you think?

[2016-01-20 10:01] dragotin commented on #4375
@moscicki your input here?

[2016-01-20 10:02] ogoffart commented on #4370
I was able to reproduce the bug.  I'll try to see what causes it

[2016-01-20 10:06] guruz commented on #4375
Maybe also from @PVince81 and @DeepDiver1975 about storage backends (on the server) natively supporting certain checksums so we can align with them.

[2016-01-20 10:24] ogoffart commented on #4370
I found a way to reproduce the problem:

1) have lots of files in directory "dir1"
2) do  `mkdir dir2 && mv dir1/* dir2`
3) DURING the sync (which takes time because of the many moves) do `mkdir dir3 && mv dir2/* dir3/`
4) observe that files are PUT in the next sync:

The reason, we try to get the inode in SyncJournalFileRecord::SyncJournalFileRecord to save in the database after the MOVE.   But u

[2016-01-20 10:35] ckamm commented on #4375
Discussion no IRC on checksum type:
* Performance of checksumming will rarely matter compared to the cost of uploads and downloads, we can use SHA1 or better.
* We should choose a content checksum type that's supported by the server as transmission checksum. Otherwise we might have to compute two checksums.
* The content checksum could be computed while we're reading the file into memory anyway, i

[2016-01-20 11:46] ckamm commented on #4375
Other jobs that need to be done to expand our use of checksums:
* Does the 'transmission checksum' vs 'content checksum' distinction make sense? Currently the server only sees the 'transmission checksum' and we discard the checksum we get from the server because the journal only stores the 'content checksum'.
* Ensure we have a content checksum for downloaded files: either use the checksum the ser

[2016-01-20 11:57] Dianafg76 commented on #3184
@ckamm You can open multiple windows "Share with owncloud" on the same folder

[2016-01-20 12:22] ckamm commented on #2983
The check is now implemented, but only works for files that have a content checksum (.eml files that were uploaded). See #4375 for details on enabling more checksumming.

[2016-01-20 13:06] ogoffart commented on #4370
Should be fixed in 2.1.1

[2016-01-20 14:50] Dianafg76 commented on #3105
I tested this issue and is working ok
Desktop v 2.1.1 beta1 (build 5780)
Server v 8.2.2

[2016-01-20 14:50] #3105 closed

[2016-01-20 15:22] Dianafg76 commented on #4373
I tested this issue and is working OK
![issue_4373](https://cloud.githubusercontent.com/assets/12032058/12453072/d7de8b1c-bf91-11e5-83df-d83e932fcf3a.PNG)
Desktop v ownCloud-2.1.1.5785-nightly20160120-setup.exe
Server v 8.2.2

[2016-01-20 15:22] #4373 closed

[2016-01-20 15:40] moscicki commented on #4375
Please consider that some storage backends such as ours already have a preferred checksum (adler32 in our case). It may be impossible for us to change the checksum type. More precisely, we have a technical ability to change the checksum type (for new files) but we may be constrained to do so by other considerations/policies. And also, consider that currently all our files are already checksummed w

[2016-01-20 17:04] ogoffart commented on #4184
What's the version of Qt?  and what's the protocol used for the systemtray there? is it the X11embed or is it a dbus protocol, which one?

[2016-01-20 18:23] nonzerosums commented on #1590
@Morganlej
Thank you.  Your comment and translation are appreciated.  I'm confident your instructions will workaround this issue for me.  BTW, at least in Linx Mint 17.3 KDE, "Program" is "Application".

[2016-01-20 20:57] volure opened #4376 "LDAP OwnCloud share"
Searching for shares from the desktop client are case sensitive.

[2016-01-21 07:59] wmcgit opened #4377 "OSX Client fails to sync large files"
Hi there,

I am using the current version of OwnCloud (8.2.2 via Apache, PHP v. 5.6).

My main MacBook does sync all files without any problems (because they were uploaded via this device).
It runs on 2.1.0. (build 2944).

However, my other two devices (client version 2.1.0.) cannot download large files (eg. .zip, .mov) they report "Connection closed", but do not give a further description.

What

[2016-01-21 09:01] MegaV0lt commented on #3933
Still the same with 5785...
![2016-01-21 09_56_21-owncloud](https://cloud.githubusercontent.com/assets/2804301/12475833/db488bba-c025-11e5-85b4-e744118857d0.png)

[2016-01-21 11:05] ckamm commented on #3403
I've made some tentative changes in this direction. @jancborchardt please review:
![progress2-1](https://cloud.githubusercontent.com/assets/833306/12478772/307575c4-c037-11e5-98ba-c96741f9024f.png)
![progress2-2](https://cloud.githubusercontent.com/assets/833306/12478775/323ff6d6-c037-11e5-8bda-dbd60bd77c1e.png)

[2016-01-21 11:28] ckamm commented on #4376
@volure What do you mean by "searching for shares"? I assume you mean the user-search functionality in the share dialog. The case-sensitivity there was fixed for 2.1.1 in #4269.

Feel free to reopen if you meant something else.

[2016-01-21 11:28] #4376 closed

[2016-01-21 11:40] davitol opened #4378 "'Choose what to sync' menu should not be available once the folders are dropdown"
![screen shot 2016-01-21 at 12 36 43](https://cloud.githubusercontent.com/assets/10596560/12479599/6c00d75a-c03c-11e5-9347-40d7cc301c17.png)

[2016-01-21 11:40] ckamm commented on #4358
The problem seems to be that when we create the share with `PermissionDefault`, we don't send any permission information to the server. As a response we get `Sharing <N> failed, because the permissions exceed permissions granted to <user>`.

It seems like the server assumes we want to reshare with permissions we don't have.

As a workaround, we could detect the permissions we were granted and crea

[2016-01-21 12:01] davitol opened #4379 "[Network menu] [Proxy] Not selected option is highlighted the first time we browse into this menu, using Ubuntu14 client"
No proxy option is highlighted instead of use system proxy (Ubuntu 14.04)

![screen shot 2016-01-21 at 12 58 06](https://cloud.githubusercontent.com/assets/10596560/12479972/21bb7c38-c03f-11e5-829e-0af163840f8c.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30078080-network-menu-proxy-not-selected-option-is-highlighted-the-firs

[2016-01-21 12:03] SergioBertolinSG opened #4380 "Space is not well used in sharing dialog"
## Observed behaviour

There are three checkboxes, enough space to allocate all of them and still button [...] appears.

![sharing_doesnt_put_checkboxes_in_the_right_place](https://cloud.githubusercontent.com/assets/9048796/12479979/2faa88ac-c03f-11e5-9bbc-96c9ea3b740a.png)

Client 2.2.1beta1 for Windows 10

[2016-01-21 12:09] ckamm commented on #4358
I don't think we can get at the permissions for something that was shared with us. For example, sharing a folder with 'change' permission, just adds 'W' permissions on the contained files and is not reflected in the folder permissions themselves, I think. @rullzer ?

So the workaround probably is to try creating a share with minimal permissions if it fails to be created with default permissions.

[2016-01-21 12:16] rullzer commented on #4358
@ckamm yeah by default we pass no permissions. So that the default is used. However if the permissions granted to us are less than the default there is an error.

The main issue is that the oc:permission field is different from the share permissions. Assume a directory shared with us. That has delete permissions (since we can unshare it from ourself). But this does not tell us if we have delete pe

[2016-01-21 12:18] guruz commented on #4377
Please try 2.1.1 beta1 and report back if that works!
Thank you

https://owncloud.org/install/#testing-development

[2016-01-21 12:18] #4377 closed

[2016-01-21 12:19] guruz commented on #4379
Do you think we should set the default to "Use system proxy"?
Or do you mean on other OS that is the default?

[2016-01-21 12:20] guruz commented on #4379
Ah no you mean the light orange shadow?

[2016-01-21 12:26] davitol commented on #4379
@guruz Yers, I was talking about the orange shadow, but I also had the doubt of which should be the default value, due to in Mac OSX it is set to 'No proxy', but in Windows and Ubuntu it is set to 'Use system proxy'.

[2016-01-21 12:27] ogoffart commented on #4358
The reason we don't send permission to the server is because of https://github.com/owncloud/client/issues/4152
We want to have the same default as the server.  And the server decides which default.

[2016-01-21 12:29] ogoffart commented on #4380
It used to be different but we had to change it probably for a reason.
@jancborchardt : suggestions?

[2016-01-21 12:30] ckamm commented on #4358
@ogoffart It turns out the server can selects permission default that are impossible to grant. Do you see any problems with figuring out the maximum possible permissions and then explicitly using these?

[2016-01-21 12:33] ogoffart commented on #4379
Why is that highlighted for you?  It's not highlighted for me. I tried using  different  styles including the gtk style.

[2016-01-21 12:47] davitol opened #4381 "'Add folder Sync Connection button' is always disable for folders located in root"
When we 1st sync, we do not select to sync all the folders located in the root. It should be possible to add them later via this button, but it is not active.

![screen shot 2016-01-21 at 13 16 54](https://cloud.githubusercontent.com/assets/10596560/12480734/ca73c510-c044-11e5-8438-d2372a93f635.png)

[2016-01-21 12:52] dragotin opened #4382 "Put toolchain to isv:ownCloud:toolchains:mingw:win32:2.1"
isv:ownCloud:toolchains:mingw:win32:2.1 is a copy of the :stable project that we are using, now also with the changes to the qtbase package copied from :devel as required.

If all packages build, we can switch the docker to use that repo. And RETEST.

IF that works, we have to copy back the qtbase package to :stable, remove the current :devel and rename :stable to :devel.

In the future we create

[2016-01-21 12:54] dragotin commented on #4353
patched the patch in the qtbase package in  isv:ownCloud:toolchains:mingw:win32:2.1. Once that is used, this is done.

Depends on #4382

[2016-01-21 12:59] davitol commented on #3969
WFM in 2.1.1 beta1 version :+1:

[2016-01-21 13:31] ckamm opened #4383 "Disable share permission checkboxes that are unavailable when resharing"
In #4357 #4358 we fixed the problem of resharing being impossible when some permissions had been revoked. Now it works, but users can still try to enable the unavailable permissions manually. Since the client knows which permissions are available, we should disable the permission checkboxes that are forbidden.

To reproduce:
* Share user1's folder/ with user2, give only 'reshare' permission
* As u

[2016-01-21 13:56] jancborchardt commented on #3403
@ckamm looks much better already! :) Just a tiny wording change, I would say »folder« instead of »directory« since we mostly use »folder« everywhere as it’s simpler language.

[2016-01-21 13:59] jancborchardt commented on #4380
The problem is that this whole dialog is way too wide. It should be about 60% of the width, then it will make way more sense.

Also, the […] is less about the use of space and more about hiding stuff people will probably not always need.

[2016-01-21 14:00] jancborchardt commented on #4380
Also – why is the preview sooo giant? About 60% here is enough as well. This looks different to what we designed, and off-balance. The thumbnail should also be left-aligned with the boxes below it. And filename as well as folder nicely balanced in the middle.

[2016-01-21 14:11] guruz commented on #4381
Hm, the tooltip is not explanation enough?

[2016-01-21 15:09] davitol commented on #4381
That's the reason why I made the screenshot with the tooltip. I'm not syncing all the files. Sure I have understood the tooltip in a wrong way :crying_cat_face:

[2016-01-21 16:17] davitol opened #4384 "'Ask confirmation before downloading folders larger than...' option does not work for WND"
The folder is downloaded even if the size is bigger than the limit set. Also tested with some external storage mountpoint and it works OK

![screen shot 2016-01-21 at 16 56 09](https://cloud.githubusercontent.com/assets/10596560/12486291/49fb38d2-c062-11e5-99cc-317fa64c5f59.png)

[2016-01-21 16:31] wmcgit commented on #4377
Hi Guruz,

currently I have ownCloud 8.2.2 (beta)
Would this version fix that error, too?

If not: is it possible to downgrade?

Thank you

[2016-01-21 16:34] guruz commented on #4377
@wmcgit I mean client not server version :-)

[2016-01-21 16:35] wmcgit commented on #4377
Ah, ok!

Thanks again for that hint.

I´ll keep you up to date.

[2016-01-21 16:45] guruz commented on #4384
@davitol Is the folder at that point already with some files or are you at the same time uploading there?

Can you cross-post this to the WND bugtracker? The bug is probably in the storage plugin because we use the information from there.

[2016-01-21 17:01] davitol commented on #4384
@guruz I paused the sync of the account in the client, then I created several external storage mountpoints and one of WND, the external storages were detected as 'too large' folders but not the WND one.

Yes, for sure.

[2016-01-21 17:32] prajmehta commented on #3782
Are all of you using Google Drive.  I can see that this may be related to that .. will have to read more log messages to be sure.

[2016-01-21 18:41] nakashe opened #4385 "[Win 7 64bit] Unable to initialize a sync journal when syncing whole HD "h:\""
Im trying to synchronize the whole HDD - like all files in L:\ on my desktop pc..
The owncloud client is telling me  "unable to initialize a sync journal".
Please help me :)

[2016-01-21 23:17] volure commented on #4376
Yes, that is what I meant. It appears that my client is 2.1.0 which is apparently a revision behind.

I guess that means this client should update any day now ? Does that sound correct ?

[2016-01-22 08:06] OleAlbers opened #4386 "[Windows] client crashes after changing Proxy"
I had this error today after my company changed the proxy (using a pac-script).
Our proxy requires username/password

Most current nightly build (ownCloud-2.1.1.5790-nightly20160121-setup.exe ) did NOT fix it: Log is attached (hostname removed)

I already started with a fresh config. It did work before with another proxy I used. (Sadly I cannot tell the technical differences between those proxys)

[2016-01-22 08:26] rperezb commented on #4381
I checked this with the current version, 2.1.0

## Button not enable steps

1.- Log in
2.- Select to sync 1 folder stored on the root (there are more folders on the root - see the image)
3.- button is not enable to add more folders

## Button enable steps

1.- Log in
2.- Select to sync 1 folder stored inside another folder (Documents/test - select test) (there are more folders on the root - see th

[2016-01-22 09:12] davitol commented on #4209
@ckamm Tested again with Version 2.1.1-nightly20160122 (build 3053) for MacOSX and it is NOT fixed :-1:

[2016-01-22 09:15] davitol commented on #3184
:+1: WFM in Version 2.1.1-nightly20160122 (build 3053)

[2016-01-22 09:15] #3184 closed

[2016-01-22 09:33] ckamm commented on #4209
@davitol Thanks for testing, it worked for me, but I'll test again.

[2016-01-22 09:43] ckamm commented on #4209
@davitol It works for me.

1. I click "Share link"
2. Since a password is required, keyboard focus jumps to the password dialog. (no spinners are moving at this point)
3. I enter a password that doesn't fit the policy and hit enter.
4. An error message appears, telling me that there are too few numbers in the password. Keyboard focus stays on the password field.
5. I enter a correct password and t

[2016-01-22 09:47] davitol commented on #4209
@ckamm I set 8 characters as pwd policy in my 8.2.2 oC server. Then

[2016-01-22 09:48] ckamm commented on #4209
@danimo verified that the build you are using does indeed include my change. :/

[2016-01-22 09:51] ckamm commented on #4386
@OleAlbers Thanks for the report and the log file!
* In what way was the proxy changed? Did the url or port change?
* Did you configure the proxy explicitly in the owncloud client or is it system-wide?

Does it crash every time now? If so, a backtrace would be super-helpful.

[2016-01-22 09:55] davitol commented on #4209
@ckamm also tested in client Version 2.1.1-nightly20160122 (build 5791) for Windows and the bug also happens :-\

[2016-01-22 10:02] ckamm commented on #4209
@davitol Could you explain again how to reproduce the problem? I'm also using the >=8 character password policy.

[2016-01-22 10:27] ckamm commented on #4209
We talked on IRC: The problem is fixed when passwords are required but still fails when passwords are optional.

[2016-01-22 10:53] davitol commented on #4333
Tested in Version 2.1.1-nightly20160122 (build 3053) and it also worked for me

[2016-01-22 11:09] davitol commented on #4209
@ckamm Even when pwd is mandatory,there are other scenarios that fail.

1) Set a pwd that fit with the pwd policy
2) Check Allow editing & Set expiration date checkboxes
3) Modify again the pwd but now with one that doesn't match with the pwd policy pattern

The bug is reproduced

[2016-01-22 13:36] OleAlbers commented on #4386
It was a complete new URL. I switched from one proxy to another. (We have multiple proxys in our company) The proxy is used system-wide

It does crash every time. I first enter the host address of my owncloud, than the credentials for my proxy pop up. I enter those, owncloud crashes.

[2016-01-22 13:48] ckamm commented on #4386
@OleAlbers Thank you. A backtrace of the crash would make the problem way easier to find. If you have any questions about it, let me know!

[2016-01-22 13:50] ckamm commented on #4209
@davitol The next nightly should have the additional fixes.

[2016-01-22 13:59] OleAlbers commented on #4386
Did that, but after "thread apply all bt" no output is generated. Is it logged into a logfile somewhere?

[2016-01-22 14:07] OleAlbers commented on #4386
Did work when run as admin.
This was a bit different. I have a "send crash report" window when I call it directly, that one is not displayed when using gdb. It hangs completely then. gdb-output is attached
[error.log](https://files.zenhub.io/56a237a2bb42157e137dd14a)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-01-22 14:16] ckamm commented on #4386
@OleAlbers Unfortunately the backtrace doesn't have any symbols. Did you click 'send' in the "send crash report" dialog?

[2016-01-22 14:17] OleAlbers commented on #4386
@ckamm  Did that, but this fails, too "Failed to send crash info"

[2016-01-22 14:30] OleAlbers commented on #4386
What might be of interest is that my website uses an "unsafe" https-Certificate. (Did not have any affect when the old proxy was used)

[2016-01-22 15:10] butonic commented on #3652
ping @icewind1991 @DeepDiver1975

[2016-01-22 15:47] PVince81 commented on #3652
So far it looks like the mount points do not tell us free space:
[code]

Might need to implement this for all storage implementations where it makes sense / where it is possible.

[2016-01-22 15:50] PVince81 commented on #3652
Read: might need a specific solution/implementation for every external storage type to grab the remote free size, if the API permits.

I checked phpseclib but didn't see any method that would allow the SFTP storage to retrieve the free space.
@icewind1991 how about the SMB one ?

[2016-01-22 16:07] jturcotte commented on #3114
Should be fixed now, I added the -e switch to both the main bash script, and when calling sign_app.sh. I also added an extra `codesign --verify` since `codesign -d` only displays without verifying.

[2016-01-22 16:07] #3114 closed

[2016-01-22 17:24] jturcotte commented on #4372
Should be fixed by 8486a2fd2be03c7d2eeb0ad8539c23e2bdf5a7b6.

[2016-01-22 17:27] abraithwaite commented on #3114
Thanks! :beers:

[2016-01-22 19:09] butonic commented on #3652
There are external storages that cannot report the free space ([FileInfo::SPACE_UNKNOWN](https://github.com/owncloud/core/blob/c5a200c4198de951dabdd3f783ade655b8ea6434/lib/public/files/fileinfo.php#L52)) and some that deliberatly tell you they provide unlimited space ([FileInfo::SPACE_UNLIMITED](https://github.com/owncloud/core/blob/c5a200c4198de951dabdd3f783ade655b8ea6434/lib/public/files/fileinf

[2016-01-23 19:11] tflidd commented on #3422
it is scheduled for the 2.2 version:
https://github.com/owncloud/client/issues/4375

[2016-01-23 21:14] TheManOfTheMAn commented on #331
I am using Owncloud 8.2 on a Ubuntu 14.4.3 LTS Virtual set up including MySql and I also faced this issue.

I can confirm that this is caused mainly due the Database overhead for each new file what will be uploaded to the server. While tweaking cache and lock with APCu and Redis just gave me a very little improvement an also tweeking Php, Apache and MySql configs did not make a big difference.

Bu

[2016-01-24 01:40] Bottswana opened #4387 "Client errors on removing shared folder when it was shared with read only access"
### Expected behaviour
When access to the shared folder is removed, the shared folder should be removed from the client.

### Actual behaviour
ownCloud client attempts to remove the folder, but errors with 'Access Denied' from system, as the files are marked with the read only attribute. Removing this attribute fixes the issue, and the client successfully removes the files

### Steps to reproduce

[2016-01-24 02:31] Bottswana commented on #4387
Tested on master, no longer occouring, looks like this was fixed with this commit: https://github.com/owncloud/client/commit/11174ddf4cb3283548dd0fa13ca5c45a02c3e224
and just hasn't made it downstream into the compiled clients yet.

[2016-01-24 02:31] #4387 closed

[2016-01-24 17:18] jesusvazquez opened #4388 "[Arch Linux] [2.1.0 beta] QNetworkReply::NetworkError(RemoteHostClosedError)"
Hello,

I'm using arch and owncloud client 2.1.0. My server has https enabled with an untrusted cert, once I accept the warning message about the cert I enter my user and password and I get a "Connection closed" error message.

Running **owncloud --logwindow** I get this output:

[code]

Owncloud server version:

[code]

I have iptables running in the server and I tried changing the default policy

[2016-01-24 19:02] AnrDaemon commented on #4375
A wishful note: Using two differently calculated checksums against same file often increase reliability.

[2016-01-24 23:02] scheppi2610 commented on #4327
Just to check that we have thought about it:
What do you folks think about integrating a full-featured encryption product instead of programming all along newly?
As i am not a real programmer i found this (https://veracrypt.codeplex.com/wikipage?title=Command%20Line%20Usage) for veracrypt. Unfortunately i did not find any hint to an API or something similar. But integration should be possible anyw

[2016-01-25 06:04] guruz commented on #4388
I believe this is a duplicate of https://github.com/owncloud/client/issues/3888 or https://github.com/owncloud/client/issues/4051 with Qt Patches lacking.
It should work with the Patches or by switching to Qt 5.6..

[2016-01-25 06:07] guruz commented on #4385
You did not mention which client Version. Could you download 2.1.1 beta1 (from "testing" section in Downloads)

Is this a USB stick or similar with a FAT fs? Then this might be fixed already.

[2016-01-25 07:47] BenS89 commented on #3962
I just want to bump this issue up. Since ownCloud introduced Federated Cloud Sharing, the ownCloud client should be able to recognize changes made on the federated shares. Are there any plans for that?

[2016-01-25 08:41] butonic commented on #331
Have a look at https://www.percona.com/blog/2013/09/20/innodb-performance-optimization-basics-updated/ especially innodb_flush_log_at_trx_commit if you can live with loosing 2 seconds of transactions (IMO like a failed upload on power outage). Roughly speaking, setting it to 2 will only cause data loss when the OS crashes. Setting it to 0 will make you loose data when mysql crashes. You decide. Wo

[2016-01-25 08:51] Dianafg76 commented on #4372
I tested this issue and it is working OK
Desktop v ownCloud-2.1.1.3067-nightly20160125.pkg, ownCloud-2.1.1.5798-nightly20160125-setup.exe
Server v {"installed":true,"maintenance":false,"version":"8.2.2.2","versionstring":"8.2.2","edition":"Enterprise"}

[2016-01-25 08:51] #4372 closed

[2016-01-25 09:47] Dianafg76 commented on #3519
@michaelstingl Could you check this issue, please
Thanks

[2016-01-25 10:02] Dianafg76 commented on #2701
@AMDG2 Could you try this: ownCloud-2.1.1.3067-nightly20160125.pkg, please?

[2016-01-25 10:37] Dianafg76 commented on #4209
I tested this issue and now is working OK
Desktop v ownCloud-2.1.1.3067-nightly20160125.pkg
Server v 8.2.2
@davitol Thanks!
@ckamm Thanks!

[2016-01-25 10:37] #4209 closed

[2016-01-25 11:28] michaelstingl commented on #3519
still issues:

[code]

[2016-01-25 11:31] danimo commented on #4382
The toolchain still does not build, skipping this for rc1.

[2016-01-25 12:44] danimo opened #4390 "[Pot. Show Stopper] openssl 1.0.2f upgrade required?"
The OpenSSL Team has announced 1.0.2f which contains a critical security fix. Unfortunately, we do not know much about its nature yet. If it affects the client side (or our use case), this ticket is a show stopper for 2.1.1 final.

The release is due on Thursday, which coincides with our projected release date for 2.1.1 final. This means we'll have a last minute chance to pull the plug on the rele

[2016-01-25 12:46] danimo commented on #4390
/cc @MTRichards @cmonteroluque: FYI

[2016-01-25 13:17] #4188 closed

[2016-01-25 13:20] MTRichards commented on #4390
ok, so this is something we have to put in 2.1.1, date can slide to make this. Please also ensure this has adequate test coverage.

[2016-01-25 13:33] guruz commented on #4386
@jturcotte @danimo "Failed to send crash info".

[2016-01-25 13:44] nakashe commented on #4385
No, it is a regular partition on NTFS hdd..
Im using the latest version of client 2.1.
Can you pls send me a link where I can find this testing section? I cant find it anywhere :(

[2016-01-25 13:49] romainvieme commented on #4327
Hi orion !
I am very interested by this project. I wonder if it would be possible to let the user manage some of the keys : instead of having one key per file, you let the user maintain a set of custom keys (and insert a reference in the file metadata). This way you can encrypt a bunch of files with the same key. I see three advantages in letting the user do that:
* you save some entropy (advantag

[2016-01-25 13:58] carlu93 commented on #4385
https://owncloud.org/install/#testing-development

At the bottom you'll find the Desktop Clients 2.1.1 beta1 section.

[2016-01-25 14:11] karlitschek commented on #4327
@romainvieme Pull request welcome.

[2016-01-25 14:53] danimo commented on #4390
@MTRichards This is already scheduled for 2.1.1.

[2016-01-25 15:09] wmcgit commented on #4377
@guruz Thank you very much again for your help.

Unfortunately using your suggested beta-version did not solve the problem. I still receive the same error while downloading large files.

Do you have another solution on that?

[2016-01-25 15:12] MTRichards commented on #4390
Great, sure, but are you telling me you are going to release 2.1.1 on the same day as the openssl is released, with no testing?
That is a big red flag.
Of course I could have missed something.

[2016-01-25 15:15] danimo commented on #4390
@MTRichards The projected release date was Thursday. Now that we know that OpenSSL is releasing on the same day, we will scrub the release in case the issue in OpenSSL turns out to be of importance for us. In this case, I'd like to shift the release, with an RC2 on Thursday on Friday including the patch, and a final release on Monday or Tuesday.

[2016-01-25 15:24] nakashe commented on #4385
Thanks. Beta version installed. Still the same problem :(

[2016-01-25 15:39] IvanUgrin opened #4391 "OwnCloud Sync client suddenly stops sending Authentication Header to server"
Hi,

I am trying to implement OwnCloud-like WebDAV door in my JavaEE server. I have success using my server with OwnCloud Sync client and everything works fine , files synchronise and get uploaded. Suddenly the client stops sending Authentication header with a random PUT/DELETE request and continues to do it for every other request after that. Maybe you can explain this behaviour but I think that

[2016-01-25 15:49] MTRichards commented on #4390
Great, I like that idea. Good chance to test.

[2016-01-25 22:40] TheManOfTheMAn commented on #331
Well thanks for the tip. I was scared of setting it to 2 as I just downgrade from replication mode of the database to periodical dumps. But to be honest the replication was not primary targeted to Owncloud but to a resource database what is hardly used but where data lose would be terrible, but that is not related to this discussion.

Just to inform you: Yes I moved away from replication master sl

[2016-01-26 00:08] orion1024 commented on #4327
@scheppi2610

No existing product, to my knowledge, can fit the requirements.
We need something :
* cross-platform (Windows/Linux/MAC/mobile)
* file-based (because synchronization would be a nightmare with container-based solutions like VeraCrypt)
* that allows sharing (so the key management must be open so we can share the keys)

Overall that's too specific I think...

Also, I didn't catch your s

[2016-01-26 05:59] Ark74 commented on #296
Hi!, i see that this is an OSX related issue. Is there a Windows related one or i could be informed by watching this?

[2016-01-26 11:51] K4nape opened #4392 "Owncloud.exe dekstop stoped working"
Hello,
I have problem, everytime, whats the solution?
![screenshot 2016-01-26 13 26 59](https://cloud.githubusercontent.com/assets/10292911/12579814/7f814864-c433-11e5-9e21-ac11fcb4ac09.png)

[2016-01-26 12:22] danimo commented on #4392
Please describe exactly what happened, how you got the error and which version you are using.

[2016-01-26 13:04] guruz commented on #4385
@nakashe sorry, Need a newer Version even https://github.com/owncloud/client/issues/2701#issuecomment-172781147

[2016-01-26 13:09] #4290 closed

[2016-01-26 13:10] guruz commented on #3519
@michaelstingl FYI if you want to re-test

[2016-01-26 13:14] danimo commented on #3519
@guruz That's just from merging 2.1 into master

[2016-01-26 13:30] scheppi2610 commented on #4327
orion, you are right. syncing the container does not make sense. I could imagine that it makes sense if we integrate the syncing algorithm into the encryption module. But therefore you would need to re-implement the encryption process.

[2016-01-26 14:51] guruz commented on #3962
afaik yes.
@icewind1991 from which Version? :) please post and close

[2016-01-26 14:56] guruz commented on #4392
@K4nape Did you not receive an offer to send this to the Crash Reporter?

[2016-01-26 14:58] guruz commented on #4391
@IvanUgrin I believe this is fixed with 2.1.1 beta1 (testing section on download site).
Can you confirm and Close this issue?

BTW, you should debug print out the TCP Connection in your Server, then you'll notice it is for new TCP Connections.

We're curious, what Kind of Server do you plan to do?

FYI @karlitschek

[2016-01-26 15:27] kiu-ball commented on #4354
@ogoffart Will I have an option to set the number of max_parallel uploads in owncloud.cfg too? That would also be nice I think.

[2016-01-26 15:28] AMDG2 commented on #2701
@guruz this version was working. I didn't have time to try your version @Dianafg76

[2016-01-26 15:29] karlitschek commented on #4391
interesting. Thanks

[2016-01-26 15:30] guruz commented on #2701
:+1:

[2016-01-26 15:30] #2701 closed

[2016-01-26 20:29] nakashe commented on #4385
there is no way.. easy solution is move all the files to one folder and sync this folder.. that's working..
The best way for me is sync the whole HDD, but it is not the best way for Owncloud :D

[2016-01-26 21:46] K4nape commented on #4392
@danimo i got error, when sync 111gb, and everytime after sync again and error to. Photo
![screenshot 2016-01-26 23 43 59](https://cloud.githubusercontent.com/assets/10292911/12596048/fe1408bc-c486-11e5-871b-97b1fcb54733.png)

@guruz No :/

[2016-01-26 22:18] stephengraf opened #4393 "[2.1.0] opcache interaction with sync client"
I have run into a very strange problem with the Windows sync client and php opcache.

When opcache is enabled on the web server the sync client fails on a login attempt and works  if opcache is disabled.

The environment is:
Windows 10 with sync client 2.1.0
and
openBSD 5.8, openBSD httpd server, php 5.6 with Zend opcache module, ownCloud 8.2.2.

The problem shows as a "Bad Request" on the client

[2016-01-27 01:07] guruz commented on #4385
Now I understand the issue.

[2016-01-27 01:14] jschwalbe opened #4394 "Owncloud client needs a setting to switch server addresses"
I'm a recent convert to OC. I've noticed that there isn't an established way to switch the server address. For instance: I have a development server that I try things on to see if I like them before making a commitment and installing on my regular servers. Enter owncloud. So I set up owncloud on my mac with the development server address - now when I want to transfer all my stuff to the actual ser

[2016-01-27 07:14] MorrisJobke commented on #3798
@guruz I have this also quite often - feel free to provide me with steps to help you solving this :)

[2016-01-27 08:37] Dianafg76 commented on #4370
I tested this issue, and it is working OK
Desktop Version 2.1.1rc1 (build 3069)
Server v 8.2.2

[2016-01-27 08:37] #4370 closed

[2016-01-27 09:03] butonic commented on #3932
So the current implementation will silently ignore a 503 when accessing a file and just ry to download the file on the next sync? It will not interrupt the current sync but basically just skip the file? No change of the status icon? That would solve this issue and also a few other scenarios I have in mind.

[2016-01-27 09:29] Dianafg76 commented on #4302
I tested this issue en Windows and Mac and is working OK.
@sukosevato When you have time, can you test it, please?
Thanks

[2016-01-27 09:49] dragotin commented on #4349
@digitaltom can you help with that? Its on the openSUSE infrastructure. Thanks!

[2016-01-27 11:09] cmonteroluque commented on #4390
@danimo @MTRichards that makes sense.

[2016-01-27 12:12] guruz commented on #4393
Would you test a nightly build from today from http://download.owncloud.com/desktop/daily/ ?

I haven't looked at your traces yet, while your conclusion might be valid it could also be related to recent Connection Code fixes in the Client. thanks

[2016-01-27 12:13] guruz commented on #4394
@jschwalbe At the Moment I can only recommend editing owncloud.cfg while Client is closed.

[2016-01-27 12:24] jancborchardt commented on #4394
And since this is such an edge-case I would recommend we do not overextend here with implementation in the GUI.

Alternatively you could just use the multi-account functionality. But as far as I understood, both servers have the same data.

[2016-01-27 12:31] romainvieme commented on #4327
Thanks for your response. What I suggested is to let some users (the ones who choose it) manage their own keyring. But you're right in that it would probably break the ease of use for everyone.
For the record, I'd like to explain what I thought (maybe you'll find it useful somehow).

* The issue with entropy presents itself mainly on the first upload of encrypted data. Probably some users at least

[2016-01-27 13:04] moscicki opened #4395 "Set default tab in Activity to "Sync Protocol""
Hello,

The default tab is server activity which is empty in our case as activities are not enabled. It would be better in this case to have Sync Protocol activity shown by default.

![image](https://cloud.githubusercontent.com/assets/621965/12614206/a9aaddf0-c4fe-11e5-8768-be6b41f1b3b4.png)

[2016-01-27 13:33] jnweiger commented on #4349
Updated the config of RHEL7 to match CentOS7. This should build an identical package now for both targets.

[2016-01-27 14:00] ogoffart commented on #3932
The current implementation will treat it as an error, put it in the blacklist for 5 seconds. in a later sync (which is much likely more than 5 seconds away) it will try again to sync it, if it fails again, it will be blacklisted for 30 seconds.   Then 2.5 minutes, then 15 minutes, then one hour, then 5 hours, then 25 hours   (factor 5 each time).
But it will show an error.

I'm saying that from me

[2016-01-27 14:29] michaelstingl opened #4397 ""Updates" section on "General" tab shouldn't be displayed when updates are disabled by config file or Win registry"
I disabled updates in the Win registry according the [docs](https://doc.owncloud.com/desktop/2.1/autoupdate.html#preventing-automatic-updates-in-windows-environments). The message I see is quite confusing:

![cursor_and_ie11_-_win8_1](https://cloud.githubusercontent.com/assets/214010/12616261/998e06ac-c50a-11e5-80e8-017643b69fb1.png)

@dragotin Would it be possible hide the "Updates" section when

[2016-01-27 14:49] jnweiger commented on #4349
Publishing was off since November. Enabled.

[2016-01-27 14:58] mark-orion commented on #3422
When will 2.2. be released ? I just reinstalled a machine and can share the frustrating experience of owncloud client wanting to download everything again although its already there.
Has anybody found a workaround for this problem ? I mean the sync client MUST keep track of what has been synced in some way so there should be a way of simply pushing that information across.

[2016-01-27 15:09] guruz commented on #4395
@moscicki @jancborchardt In a related note.. should the global tab also be the tab with protocol/activities/etc ?
Makes more sense for People to usually check that instead of looking sync Progress or selective sync

[2016-01-27 15:46] dragotin commented on #4386
Maybe mitmproxy can help: http://docs.mitmproxy.org/en/stable/features/proxyauth.html

[2016-01-27 16:12] jturcotte commented on #4368
Should be fixed by 110f371 and 5092243

[2016-01-27 16:31] dragotin commented on #3955
@jturcotte could you please try again here?

[2016-01-27 16:36] jturcotte commented on #3955
@dragotin The last report on the server is from December 26, we don't have any data for 2.1.1.

[2016-01-27 16:41] dragotin commented on #4302
@ckamm pls. consider and review #4396

[2016-01-27 16:43] dragotin commented on #4386
Tried with authenticated mitmproxy and http server, worked here. How can I simulate a pac-script? @danimo

[2016-01-27 16:46] OleAlbers commented on #4386
@dragotin For me, PAC has not to be simulated. I can read the IP-Adress out of the pac (its just a simple textfile) and try that. Will try tomorrow. Currently not at office.

[2016-01-27 17:13] sokorn opened #4398 "ownCloud client connection error"
I'm having an similar problem like https://github.com/owncloud/client/issues/3967

# Expected behaviour

log in via client to server with given credentials

# Actual behaviour

ownCloud client can't log in user with given credentials.
When credentials typed in, it says "connection ended".

# Steps to reproduce

1. start ownCloud Client
2. connect to server
3. type in credentials

# Server configur

[2016-01-27 17:20] moscicki commented on #4395
Not really sure what you mean....

[2016-01-27 17:55] nonzerosums commented on #1470
Using  OC client v2.1 from Linux Mint 17.3, I still see this issue.  I'm not sure I understand "... if the UI is visible.."  I do have it set to autostart upon login but even without opening the interface, it is polling the server every 30 seconds.  Are the rest of you still seeing this too?

[2016-01-27 19:14] OdinYggd commented on #2002
+1 to headless daemon as well, found this through a google search for the subject.

I see a highly practical application for owncloud in an industrial LAN environment to get programs in and out of CNC controllers without having to depend on proprietary solutions or specialized hardware.

Many of the machines are Windows based PC-CNC type solutions, but are designed to store their part files on the

[2016-01-27 20:38] stephengraf commented on #4393
Thank you for your response.

I tested successfully with:
ownCloud-2.1.1.5804-nightly20160127-setup.exe

I went back and forth between 2.1.0 and 2.1.1 and finally put https back on the server all the while opcache was enabled. Version 2.1.0 always failed and 2.1.1 always worked.

I know you won't have time to respond, but I have to wonder how opcache on the server can affect the client in such a w

[2016-01-27 22:04] RealRancor commented on #4398
@sokorn Can you try the RC1 of 2.1.1:

https://owncloud.org/install/#testing-development

mentioning fixes for "connection closed" errors in its changelog:

https://github.com/owncloud/client/blob/2.1.1-rc1/ChangeLog

[2016-01-27 22:07] RealRancor commented on #2570
According to https://github.com/owncloud/client/pull/4260 Nemo support is included in the upcoming 2.1.1

[2016-01-27 23:44] digitaltom commented on #4349
@ancorgs do you still maintain that page and can check why centos ended up in the fedora description?

[2016-01-28 00:06] orion1024 commented on #4327
Regarding entropy : yes, the issue you mentioned with first upload is something I identified, but didn't fully thought out yet. I need to get myself familiar with how entropy works and affect key strength.
The (still quite vague) idea I have in my mind is to use the device entropy and some kind of user input (like : moving the mouse) to seed a CSPRNG. Hopefully the resulting entropy will be high e

[2016-01-28 03:09] anothervictim opened #4399 ".lnk files not synced properly; conflicted/unusable."
I'm running ownCloud 8.2.2.2 and, synced, .lnk files are conflicted; properly named, synced, files are unusable. Running Windows 10 Build 1511 w/ ownCloud client Version 2.1.0 (build 5683). This issue has been ongoing for the last few months.

[2016-01-28 03:18] guruz commented on #1470
Those are not polling the quota but if there were remote changes..

[2016-01-28 03:42] uncovery commented on #2002
Dropbox has one. Crashplan has one. Bittorrent Sync has one. Syncthing has one.
It's the only reason why I do not use owncloud.

[2016-01-28 04:02] guruz commented on #4395
The tab between "General" and the account tab which hosts activities/protocol/unsynced

[2016-01-28 04:03] guruz commented on #4399
Could you please try 2.1.1 rc1?
https://owncloud.org/install/#testing-development

[2016-01-28 04:05] wa7qzr commented on #4365
I have this same issue. It's annoying.

[2016-01-28 04:08] guruz commented on #4393
It must be some interaction with how HTTP Keep-alive was done.
I can't explain it either.

What was broken in 2.1.0 fixed in 2.1.1 is that we always send an authentication Header with username and Password (in Addition to Cookies). I guess the data flow there (with PHP sending a HTTP 401) confused one of the modules on the Server side(?)

[2016-01-28 04:08] #4393 closed

[2016-01-28 07:20] adrianvg commented on #4365
New rpm-packages, nice!

But... Instead we now have som kind of dependency problems?
The machine I'm running this on is a plain-vanilla CentOS 6.7 x64.
What gives?

[code]

[2016-01-28 07:22] danimo commented on #2570
yes, we should be able to close this, right @dragotin?

[2016-01-28 07:37] er47 opened #4400 "Owncloud opt-qt5 package is not available in isv:/ownCloud:/desktop/CentOS_6 repository"
Hi,

I try to update owncloud-client.x86_64 0:2.0.2-11.1 to owncloud-client.x86_64 0:2.1.0-7.1 on CentOS6.
I receive following error messages:

Error: Package: owncloud-client-2.1.0-7.1.x86_64 (isv_ownCloud_desktop)
           Requires: opt-qt5-qtbase
Error: Package: owncloud-client-2.1.0-7.1.x86_64 (isv_ownCloud_desktop)
           Requires: opt-qt5-qtwebkit
Error: Package: owncloud-client-2.1.0-

[2016-01-28 08:02] OleAlbers commented on #4386
Just checked. AFAIK mtmproxy does not work on Windows? I will look for another solution

[2016-01-28 08:26] OleAlbers commented on #4386
I found a workaround:
1. Save the credentials in Fiddler through sniffing the traffic like described here: http://stackoverflow.com/questions/2989466/configuring-fiddler-to-use-company-networks-proxy
2. When the Owncloud-Wizard pops up, ignore it and right click onto the task icon.
3. Click onto settings
4. Change the Proxy settings to the local Fiddler
5. close and restart owncloud

You have to u

[2016-01-28 10:49] dragotin commented on #3955
Ok.

[2016-01-28 10:49] #3955 closed

[2016-01-28 11:03] ouafnico opened #4401 "Tray icon not matching sync status when having multiple sync folders in one account"
Hello

It seems, when you got multiple synchronization folders in owncloud client (windows), the tray icon is not refresh with blue sync icon, when the folder currently synchronizing is not the first on the list.

![sans titre](https://cloud.githubusercontent.com/assets/807350/12642595/1842493e-c5b7-11e5-8434-aa4a8b6387fe.png)

[2016-01-28 11:44] UltrasoundSam commented on #4400
Hi,

Just like to add, I've got a similar problem for CentOS7, although I'm only missing the qtwebkit package:

Error: Package: owncloud-client-2.1.0-7.1.x86_64 (isv_ownCloud_desktop)
           Requires: opt-qt5-qtwebkit

Thanks!

[2016-01-28 12:20] rperezb opened #4402 "[Login view] Buttons "back" and "next" are not aligned"
See attached images, buttons back and next are not aligned when entering your userid and password

Mac version: Version 2.1.1rc1 (build 3070).

![screen shot 2016-01-27 at 13 39 08](https://cloud.githubusercontent.com/assets/1846927/12644231/b92bfd5e-c5c1-11e5-8957-fcda46d35a14.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/302

[2016-01-28 12:24] rperezb opened #4403 "[Activity view] Not possible to distinguish easily between accounts"
STEPS:
1.- Having more than one account registered on the desktop client
2.- Access to activity view in noone of the three views it is included info about in which account the action has happened

[2016-01-28 12:36] guruz commented on #4401
Thank you. Have you checked if this is also the case with 2.1.1 rc1? (testing section of download page)

[2016-01-28 12:54] jancborchardt commented on #4395
I agree with @moscicki that it’s strange to have an empty tab come up first (or one which most often needs to load first and doesn’t seem to be cached).

This is another aspect of why I’m still against a separate-tab system. Sync protocol and server activity should simply be merged.
And »Not synced« items should always be shown on top – of course only until they actually were synced.

[2016-01-28 12:57] ouafnico commented on #4401
It seems to works on this RC version :)

[2016-01-28 13:01] pauljmelia opened #4405 "Unable to start latest stable and RC1 clients on Windows 10 insider preview build 14251"
I've just updated to the latest Windows 10 insider preview build and the Owncloud client will no longer start:

Faulting application name: owncloud.exe, version: 2.1.0.5683, time stamp: 0x00000000
Faulting module name: libocsync.dll, version: 0.0.0.0, time stamp: 0x3f4f3f47
Exception code: 0xc0000005
Fault offset: 0x0008199e
Faulting process id: 0x2d94
Faulting application start time: 0x01d159c786

[2016-01-28 13:31] naderi commented on #3011
I have just created a portable version of ownCloud Client with [yaP](http://rolandtoth.hu/yaP/) and pack it with [UPX](http://upx.sourceforge.net/). You can download it [here](https://mega.nz/#!88ojlC4T!CUQ_zxZQD_jeOJ4TLyf6i3Qlr8H2DypAZ9zpdvcD840)

[2016-01-28 13:48] fcturner commented on #3011
@naderi That's great for now. But it doesn't spare time, since it still requires extra actions.

I see that this issue is almost a year old now. @danimo You tell us it depends on #860. Well, that issue is being pushed to the future ever since 2013, and only changes milestones. Exactly the same as with this issue.. If I would constantly postpone my deadlines at work, my boss wouldn't be very happy

[2016-01-28 13:49] fcturner commented on #860
Like I said on #3011 (because I think you should all know this):

[2016-01-28 14:28] gig13 commented on #3652
@bboule @PVince81  Any milestone for this change?

[2016-01-28 14:33] PVince81 commented on #3652
It depends what change is required.

From the server side, the only change that I see is to find a way for SMB to display the quota from the SMB. But then maybe what we want is actually the quota from LDAP, not from the SMB storage ?

For the client, I'm not sure how the desktop client is supposed to know which folder to use to display the quota. So far it seems to always read the value of the roo

[2016-01-28 14:36] PVince81 commented on #3652
Note that there is an experimental setting to make the quota also count external storage: https://github.com/owncloud/core/blob/master/config/config.sample.php#L1091

But it might break / be wrong when using shares.

[2016-01-28 14:50] felixboehm commented on #3652
Behaviour on server and client should be at least the same to prevent confusion.

[2016-01-28 15:44] mark-orion opened #4406 "Choose what to sync: Do not remove unchecked folders from the filesystem"
Current behaviour:
Unchecked folders will not be synced and deleted from the local file system.
It should be up to the user if the folder gets deleted or not.

Expected behaviour:
Unchecking a folder in the list will make Owncloud Client ignore it during the sync process and nothing else will happen.

[2016-01-28 15:53] MorrisJobke commented on #3652
@PVince81 Would it make sense to show the external storages also in the quota list and show: "21 GB used in externalStorage1" for example?

[2016-01-28 15:53] MorrisJobke commented on #3652
This would at least unify the shown quota on client and server side.

[2016-01-28 15:55] PVince81 commented on #3652
@MorrisJobke that would be nice, but this goes outside the scope of a bugfix and would be a new feature. For the clients it also means it must have a way to retrieve the list of all mount points instead of just somewhat guessing from the file tree. This could be a new API endpoint to get a quota summary.

[2016-01-28 16:20] jschwalbe commented on #4394
ok thanks for the thoughts!

[2016-01-28 16:20] #4394 closed

[2016-01-28 16:21] jnweiger commented on #4400
**CentOS6**
<pre>
rpm --import http://download.opensuse.org/repositories/isv:/ownCloud:/desktop//CentOS_6/repodata/repomd.xml.key
wget -nv http://download.opensuse.org/repositories/isv:/ownCloud:/desktop/CentOS_6/isv:ownCloud:desktop.repo -O /etc/yum.repos.d/isv:ownCloud:desktop.repo
yum clean all && yum install -y owncloud-client
</pre>

**CentOS7**
<pre>
rpm --import http://download.opensuse.org

[2016-01-28 16:34] jnweiger commented on #4400
fix deployed, rebuilding 2.1.0 in isv:ownCloud:desktop

[2016-01-28 16:34] MorrisJobke commented on #3652
I will migrate this over to core later.

[2016-01-28 18:27] K4nape commented on #4392
No answer ?

[2016-01-28 18:37] UltrasoundSam commented on #4400
Using the above instructions, all of the dependencies were brought down and I could reinstall ownCloud. However, I've run into another problem. Not sure if I should open another issue, or not, though.

After install, when I try to run ownCloud, it comes up with the following error:

/usr/bin/owncloud: line 2: /opt/qt-5.4/bin/qt*-env.sh: No such file or directory

After checking, there are only two

[2016-01-28 21:25] eht16 commented on #1470
For me it doesn't make much difference for what the client is querying the server. I personally can live with delayed checks for updates, accepting the risk of not being completely up2date.
The point here is to make the server query intervals configurable for the user. Then the user can choose which interval fits best for her.

[2016-01-28 21:42] anothervictim commented on #4399
Guruz, this is working beautifully. It even updated the invalid lnk with a valid and complete version. I haven't seen it work that way in months! Thank you. Let me know if you need any additional info for testing purposes.

[2016-01-28 22:35] jball5 commented on #4398
I can confirm the same issue on my US Windows 10 machine. I get an error when the owncloud client tries to load.

Faulting application name: owncloud.exe, version: 2.1.0.5683, time stamp: 0x00000000
Faulting module name: libocsync.dll, version: 0.0.0.0, time stamp: 0x3f4f3f47
Exception code: 0xc0000005
Fault offset: 0x0008199e
Faulting process id: 0x1090
Faulting application start time: 0x01d1593b

[2016-01-28 22:57] er47 commented on #4400
Thank you! Works like a charm. Thanks for the fast fix.

[2016-01-28 22:57] #4400 closed

[2016-01-28 23:04] wa7qzr commented on #4365
The problem is owncloud expects the qt5 packages to be in /opt (opt-qt5-qtbase,opt-qt5-qtwebkit,   opt-qt5-qtbase-gui), whilst Centos 6 qt5 from epel installs in /usr.

[2016-01-28 23:35] nonzerosums commented on #1470
@guruz:  Yes, I understand that.  True, perhaps this isn't the most appropriate issue report to be commenting on but I was brought here from yet another closed issue report where @LukeOwncloud linked to this thread for further discussion of client connection frequency and configurability.

He, I, and @eht16(OP!) seem to be coming from the same perspective.  And fwiw, I'd advocate for @eht16 positi

[2016-01-29 04:16] guruz commented on #4405
Did it offer you to send a Crash Report on next start?
Did the Insider preview build break any other applications?

[2016-01-29 06:25] adrianvg commented on #4365
So, how to workaround?
Uninstalling the qt5-package and hope yum update is able to figure the dependency-stuff out when updating the Owncloud-client?

[2016-01-29 08:09] blackm commented on #4406
I like the current behaviour and would not change it.

I normally exclude a folder from being synced because I want to save disk space on the client site. Not removing an unchecked folder is opposite of want my intention is.

Why would you like to keep the folder on the disk?

I think if you keep the files, it is very likely that you run into file conflicted later when you add the folder for sync

[2016-01-29 09:10] vladimir-vb commented on #4334
The same problem:
Distributor ID: Ubuntu
Description: Ubuntu 15.10
Release: 15.10

sudo apt-get install qt5-default
owncloud client version 2.1.0

The requirement: _You need to have it compiled (or using packages) with at least Qt 5.4.x for this to be enabled. _ Does not seem to be enough ... Perhaps the packages for ubuntu distributed by owncloud.org and suse.org are complied to use qt4 ...

[2016-01-29 09:40] dragotin commented on #4365
dupe of #4400

[2016-01-29 09:40] #4365 closed

[2016-01-29 10:14] pauljmelia commented on #4405
Hi there.
There was no offer to send a crash report, in fact trying to launch the other executables in the owncloud directory caused the same error.
I also noticed a similar access violation being logged repeatedly by Git when I was using Visual Studio, and the faulting module in that case was ntdll.dll; so it looks like build 14251 is quite buggy.
I've ended up flattening my laptop and going back

[2016-01-29 10:37] fmelaccio commented on #4400
Hi,

yesterday I had the same problem on SL6, now installation dependencies are fixed. Thanks for the speed! However the client failed to run the first time with a symbol lookup error in libQtSql.so.4. I noticed that I had this file from the qt4 packages coming with SL6, so I manually installed opt-libqt4-sql from the ownCloud desktop repo and the client ran successfully. Added this for whoever st

[2016-01-29 12:04] dragotin commented on #4334
Indeed, according to https://build.opensuse.org/build/isv:ownCloud:desktop/xUbuntu_15.10/x86_64/owncloud-client/_log Qt4 is used. The problem is that for the deb based builds (Debian, Ubuntus) we can not set the build requirements depending on the platform version it is building for. We **can** do that for rpms.

This is a limitation of the build system of OBS. An alternative would be to build in

[2016-01-29 13:33] dragotin commented on #4406
@blackm names it exactly. That was our design idea when we decided to do so. Thanks for that, and sorry @mark-orion

[2016-01-29 13:33] #4406 closed

[2016-01-29 14:06] K4nape opened #4407 "Owncloud.exe error"
Hello guys, how can i fix it ?

I use windows 8.1
Web host - wamp Php 5.5 / apache 2.4.9
Web - owncloud 8.0
owncloud dekstop sync - 2.1 latest

![screenshot 2016-01-29 15 58 50](https://cloud.githubusercontent.com/assets/10292911/12677441/c17b8930-c6a1-11e5-845f-d60bb445f41a.png)

[2016-01-29 14:09] danimo commented on #4407
This is a server issue, which is not related to the client. As such, this should go to the core component.

That being said, Running the server on Windows is no longer supported, and was deprecated for the version you are currently running. See https://owncloud.org/blog/owncloud-server-8-1-will-not-support-windows-as-server-platform-natively/ for alternatives, such as the ownCloud appliance which

[2016-01-29 14:09] #4407 closed

[2016-01-29 16:41] jancborchardt opened #4408 "Selective sync folder list should be closed by default on settings dialog open"
Currently every time you open the settings dialog, the selective sync folder list is expanded.

Instead, by default it should be closed to only show the necessary info. It should only be expanded in two cases:
- when it was expanded the last time, so remember the setting
- when some folders are not synced, that is the selective sync settings are modified

[2016-01-29 17:01] pako81 opened #4409 "[Password Policy] Windows Desktop Client does not adhere to the expiration date rules set in the share link password policy"
### Steps to reproduce
1. Set an expiration date in the share link password policy
2. From the Windows Desktop client generate a public shared link with an expiration date
3. The expiration date for the Desktop generated public link can be set beyond the one set in the share link password policy (need however to verify if the public link generated from Desktop is still accessible after the expirat

[2016-01-29 17:18] sokorn commented on #4398
@RealRancor I tried the RC1 and can confirm, that the problem is gone.
Many thanks for the help!

When will the stable version 2.1.1 be released?

[2016-01-29 17:21] RealRancor commented on #4398
@jball5 Picked out an wrong issue or how is a crash of the client related to this?

@sokorn Have a look at https://github.com/owncloud/client/issues/4390#issuecomment-174539187

[2016-01-29 17:39] jnweiger commented on #4400
@fmelaccio True. I reproduce the libQtSql.so.4 issue.
Added a dependency for CentOS_6 check out owncloud-client-2.1.0-11.1 or later.

[2016-01-29 18:05] jnweiger commented on #4365
The first batch of CentOS_6 packages was bad. (requesting some qt5 deps, which we did not intend).
Todays reroll should be fine. Look for build release  owncloud-client-2.1.0-11.1

[2016-01-29 19:05] michaelstingl opened #4410 "[Mac OS X] desktop notification: better use "Alerts" if user interaction is required"
ownCloud client shows "Banners" to notify users about sync activities.

Sometimes, user interaction is required (expiring SAML session). With 2.1.1, those notifications also are displayed as "Banner" and disappear after 2 seconds:

![owncloud-2_1_1](https://cloud.githubusercontent.com/assets/214010/12685079/83ad1864-c6c2-11e5-802d-750df7ec61e6.png)

I would suggest to ~~display~~ trigger so called

[2016-01-29 19:29] jnweiger commented on #4334
With deb packaging the mechanisms are different that with rpm packaging, but a hook for dynamic dependencies exists there too:

@dragotin  you are already talking to an OBS guru :-)

The rules file can say in its override_dh_auto_install section
<pre>
  test $whatever_condition && echo "qt:Depends=qt5-thing >> $(CURDIR)/debian/substvars
</pre>

and then the control file can list
<pre>
Package: own

[2016-01-29 19:30] #4398 closed

[2016-01-29 19:48] MTRichards commented on #4410
Interested in @danimo too.

In my experience, there is not universal agreement on this. It tends to be a highly personal and subjective answer based on the users and what they like.

[2016-01-29 20:02] michaelstingl commented on #4410
@MTRichards Yes, you are right. That's why users can go to "System Preferences" > "Notifications" and configure for each software individually to display alerts as "Banner".

[2016-01-29 20:46] MTRichards commented on #4410
interesting. Still looking at @danimo  and @dragotin for thoughts, plus @jancborchardt for UI.

[2016-01-29 21:12] rullzer commented on #3735
See https://github.com/owncloud/core/issues/21997 for a WIP PR... it can store provided checksums from the OC-Checksum Header. Will return the OC-Checksum header if there is a checksum. And on propfind the checksums will be returned as well `<oc:checksums>`

The format for the header field is basically: `<TYPE>:<CHECKSUM>(, <TYPE>:<CHECKSUM>)*`

[2016-01-30 13:10] ET-Bent commented on #766
Is there a way of setting the chunk size permanently in the OC Client config file?

Or even better wouldn't it be way more confortable to a add a option in the GUI for this? (I'll open a separate ticket for this in the next days)

[2016-01-30 15:11] stevenbuehner commented on #766
@ET-Bent Please refer in your ticket to this post. I'd really would love to see this in GUI.
Mostly, because I
- don't want to chance the settings every time I do an update
- it is really annouing to explain someone else, what to do
:-)

[2016-01-31 04:05] mrneilsy opened #4411 "Sync client unable to start on Windows 10 Pro Insider Preview"
owncloud.exe - The application was unable to start correctly (0xc0000142) Click OK to close the application.

Windows 10 Pro Insider Preview - Build 14251.rs1_release.160124-1059

[2016-01-31 08:39] tuomassalo opened #4412 "[2.1.0] [OS X] UI: Erroneous percent decoding when having a filename with printf encoding syntax"
I have a file called `5ol5o8sWRcSdQm3%x0lmng`.

In the client UI, the name is shown as if it contained an invalid UTF-8 sequence:

![owncloud-escaping](https://cloud.githubusercontent.com/assets/189964/12701094/5737def0-c806-11e5-8de7-cf0ba834f83b.png)

I'm using ownCloud client 2.1.0 on OSX 10.10. Server version is 8.1.5.

[2016-01-31 09:43] Lenny-Hai opened #4413 "Clients stops working after Windows Update (0xc0000142)"
Trying to open owncloud on a Windows 10 Insider Preview (14251.1000.amd64fre.rs1_release.160124-1059) breaks with an Error  "Die Anwedung konnte nicht korrekt gestartet werden (0xc0000142)". I tried the Client Version 2.1.0.5683 and 2.1.1.5799rc1.

[2016-01-31 10:05] RealRancor commented on #4413
Might be a duplicate of https://github.com/owncloud/client/issues/4405

[2016-01-31 11:26] IvanUgrin commented on #4391
Yes, I've tested and I think it's OK in the version you pointed out.
I am adapting an already implemented WebDAV door to work with OwnCloud Sync client. The project is open source it's called dCache and I believe my patches we soon go live.

[2016-01-31 11:52] #4413 closed

[2016-01-31 12:09] LukeOwncloud commented on #1470
I just checked the server log. I set `remotePollInterval=5min`. When starting oc client the server is connected every 30 seconds for 5 minutes. After that server is contacted only every 5 minutes. When opening the oc client GUI, again for 5 minutes every 30 seconds a query is issued (even though GUI was opened only for a few seconds).

	ip - luke [27/Jan/2016:19:13:05 +0100] "GET /ocs/v1.php/cloud

[2016-01-31 12:16] danimo commented on #4405
http://windowsreport.com/windows-10-preview-build-14251-problems/, so I'd say it's their bug, not ours. Even though I am subscribed to the fast ring and a preview user, I don't see the update yet. Still I'd rather wait for the next build before we spend time debugging this.

[2016-01-31 17:45] scottbomb opened #4414 "Segmentation Fault (core dumped) owncloud"
I installed the server and client on my main machine and everything seems to work fine. Then I go to another machine and install the client. As soon as I start it up (very first time), it crashes and gives the most useful error "Segmentation Fault (core dumped) owncloud".

Both machines are using Kubuntu 14.04.3. I found a thread (it was closed) related to this same issue from last year but it's c

[2016-01-31 18:53] gebhard73 commented on #3764
I've just created the workaround RalfWW mentioned - hopefully it will work :-)

Nevertheless I'd like to "vote" for this feature, too.

cheers,
Gebhard

[2016-01-31 18:55] RealRancor commented on #4411
Very likely a duplicate of https://github.com/owncloud/client/issues/4405 and https://github.com/owncloud/client/issues/4413

[2016-01-31 20:05] K4nape commented on #4407
i have only windows server ...  what can i do?

[2016-01-31 20:11] danimo commented on #4407
@K4nape virtualization with HyperV or VMWare.

[2016-01-31 21:22] #4411 closed

[2016-02-01 01:28] guruz commented on #4414
Which Version? Which package?

Please try:

```gdb owncloud```

And then on coredump do:

```thread apply all bt```

and paste us this.

You can also do ``owncloud --logfile -``` (with the dash) and see how far it gets..

[2016-02-01 05:12] guruz commented on #4410
Which build did you try? AFAIK recent 2.1.1 nightlies should not Show this notification at all but Pop up the auth Dialog
https://github.com/owncloud/client/commit/8486a2fd2be03c7d2eeb0ad8539c23e2bdf5a7b6

@jturcotte please correct me if needed

[2016-02-01 05:13] guruz commented on #4408
I've speak to several People that said the selective sync is not discoverable. They did not know it is a tree view at all and can be expanded.

This is why it is auto-expanded now. Having it not do that is not a solution.

[2016-02-01 05:14] #4401 closed

[2016-02-01 05:15] guruz commented on #4391
Nice :)
Please blog about this or something and contact us if something breaks..

[2016-02-01 05:15] #4391 closed

[2016-02-01 05:16] guruz commented on #4399
:+1:

great!

[2016-02-01 05:16] #4399 closed

[2016-02-01 05:40] guruz commented on #766
What are your intentions for Setting the chunk size and to which value?
We are thinking of doing Auto scaling of the chunk size based on Network conditions
https://github.com/owncloud/client/issues/4354

[2016-02-01 06:01] guruz commented on #4392
@k4nape 2.1.1rc1 is already out (testing section in downloads), it should send something to the crash reporter if it crashes?

[2016-02-01 06:07] guruz commented on #2558
For Ubuntu also see https://github.com/owncloud/client/issues/4334#issuecomment-176927306

[2016-02-01 06:22] ET-Bent commented on #766
@guruz okay that would be a good solution, currently using OwnCloud on gigabit ethernet connections internally is hilariously slow. We are talking at about 3.5% of the possible sync speed on large file. In my home setup I was setting the chunk size to about 2 GB to fix this issue and get upload rates of about 60 MB/s (which is reasonable).

Having a option to easily set the chunk size easily would

[2016-02-01 07:35] ogoffart commented on #1470
`5min` is not a proper value, you need to set a value in ms.

`remotePollInterval=300000` should work

[2016-02-01 07:42] LukeOwncloud commented on #1470
Yes, that is what I did. My wording above was just bad.

[2016-02-01 07:52] Hunter-Github opened #4415 "[CentOS 6.7] ownCloud client RPM (2.1.0-11.1) obsoletes itself"
` yum check`
...
`owncloud-client-2.1.0-11.1.i686 is obsoleted by owncloud-client-2.1.0-11.1.i686`

Can somebody look into the relevant .spec?

Source:

[code]

[2016-02-01 08:31] jturcotte commented on #4410
In 2.1.1 it should pop together with an shibboleth authentication window, only if the token expired. The notification shouldn't be shown alone on its own like it does in 2.1.0 anymore.

[2016-02-01 08:49] RalfWW commented on #3764
The actual clients don't support symlinks anymore.
The upcoming release 2.1.1 might perform it again!?

I'm staying with Version 2.0.1, the last that worked with symlinks (directories only!)

Ralf

[2016-02-01 09:01] rperezb opened #4416 "[Activity View] Files are not shown after clicking on any file from the "Not synced" section"
STEPS:
1.- Having some files that are not synced, they are shown on the "Not synced" section
2.- Access to that section "Not synced"
3.-  Click on any file

EXPECTED BEHAVIOR
It's open the folder where this file is stored; as it happens with any of the 2 other sections: Sync Protocol or Server Activity

CURRENT BEHAVIOR
Nothing happens

Version 2.1.1rc1 (build 3070). MAC

<bountysource-plugin>
---

[2016-02-01 10:18] danimo commented on #4405
Better approach: Lets keep this open as "Known issue" and close it once the next Windows build fixes it.

[2016-02-01 11:07] jnweiger commented on #2558
When you say 1315 that made me curious. It should be 133x or so.
Here is what they did: Not exactly nice:

<table>
<tr>
<td> openSUSE_13.1 </td><td> suse_version = 1310 </td><td> is_opensuse = '%{is_opensuse}' </td>
</tr><tr>
<td> openSUSE_13.2 </td><td> suse_version = 1320 </td><td> is_opensuse = '%{is_opensuse}' </td>
</tr><tr>
<td> openSUSE_Factory </td><td> suse_version = 1330 </td><td> is_ope

[2016-02-01 12:20] Dianafg76 opened #4417 "[Activity View] You can see different information if you click on Copy"
### Steps to reproduce
1. Access to Activity Tab
2. Click on Server Activity you can see some information
3. Click on Copy

### Actual behaviour
And paste in a document, you can see more information than in the Server Activity
user1@XXXXXXXXXXXXXXXXXX,       Mon Feb 1 11:47:08 2016 GMT,               /Archivo oculto,                        You created Archivo oculto, Excel2*.xls and Folder_user1_r

[2016-02-01 12:38] crysman opened #4418 "Windows client 2.1.0 (build 5683) does not synchronize shared files"
We've just found out with my colleague that **Windows client 2.1 does not synchronize shared files** until logged-out/connect again or restarting the computer.

What is even worse, in "activity" it is logged, but physically, on the hard drive, nothing is being created/deleted. Tested on two independent windows machines (W7pro, W10) and two independent user accounts. In web interface, everything is

[2016-02-01 13:43] inducer opened #4419 "[Qt bug?] [X11] Crashes on screen resize"
I observed this crash upon resizing my screen:

[code]

I use the Debian package:

[code]

[2016-02-01 14:47] guruz commented on #4419
Did you check if there is an upstream bug at the Qt project bugtracker?

[2016-02-01 14:51] guruz commented on #4418
We're talking about an ownCloud share, not a Windows share right?

@LukasReschke this might still be a core issue? Especially given the stuff in the core log (which i'm not good in interpreting..)

[2016-02-01 16:00] MorrisJobke commented on #4397
I tested this and it doesn't work with the branded client 2.1.0:

<img width="1025" alt="bildschirmfoto 2016-02-01 um 16 50 38" src="https://cloud.githubusercontent.com/assets/245432/12722303/92e9a04c-c904-11e5-8c2e-159e1e4677ad.png">

Works with the unbranded client:

<img width="1023" alt="bildschirmfoto 2016-02-01 um 16 59 09" src="https://cloud.githubusercontent.com/assets/245432/12722434/36d9

[2016-02-01 16:04] MorrisJobke commented on #4397
Works if you use Application Vendor and Application Name: https://github.com/owncloud/client/blob/639301e9e986aa7d12c178a486773ed9449e1361/cmake/modules/NSIS.template.in#L766

[2016-02-01 16:13] ajasja commented on #2449
@guruz
I can do a pull request with the fixed documentation. Could you reopen this issue?

[2016-02-01 16:21] inducer commented on #4419
Actually, the issue seems to be suspend resume combined with screen resize.

[2016-02-01 16:29] inducer commented on #4419
Just tried with VLC (another app that uses Qt 5.5), and it crashes the same as the OC client. Looking like less of an owncloud issue at this point.

[2016-02-01 16:29] #4419 closed

[2016-02-01 16:50] moscicki opened #4420 "not syncing hidden files breaks the file recall functionality"
For the file recall functionality to work, the .sys.admin#recall# file needs to be downloaded from the server. Currently this is not the case because hidden files are not synced by default. When I switch to syncing hidden files then the recall functionality works as expected.

[2016-02-01 16:57] LukeOwncloud commented on #1470
I have to correct myself. The server log looks like this:

	ip - luke [01/Feb/2016:13:06:32 +0100] "PROPFIND /remote.php/webdav/Media HTTP/1.1" 207 1221 "-" "Mozilla/5.0 (Windows) mirall/2.1.0"
	ip - luke [01/Feb/2016:13:12:01 +0100] "PROPFIND /remote.php/webdav/Media HTTP/1.1" 207 4135 "-" "Mozilla/5.0 (Windows) mirall/2.1.0"
	ip - luke [01/Feb/2016:13:17:31 +0100] "PROPFIND /remote.php/webdav/ H

[2016-02-01 17:21] inducer commented on #4419
Seems to be this:
https://bugreports.qt.io/browse/QTBUG-45040

[2016-02-01 18:53] moscicki commented on #4420
Possible solutions: make exception for this file even if hidden (preferable) or change the file pattern to avoid leading dot (replace by an underscore or two)

[2016-02-01 19:51] moscicki commented on #4354
@dragotin: will you remember the measured best chunk size fit and for how long? you can consider that if the network was not changed then most likely the network properties did not change either (at least in a short time). you can anyway adjust it on the next upload.

also, would not it make sense to sort the uploaded files by size and start with the files which size matches the closest the curren

[2016-02-01 22:33] fleish commented on #4099
@PVince81 & @schiesbn this continues to plague one of my users on the regular. Any thoughts?

[2016-02-01 22:57] mlopezcoria commented on #4184
qt-4.8.7-5
I don't kwow how to get the protocol information you ask. I use Fedora 23 Cinnamon Spin
Thanks

[2016-02-01 23:10] CriticalNoob opened #4421 "Can't upload file greater than ~5mb with desktop client - (expected filesize 5242880 got 0)"
### Steps to reproduce
1. Put a file over 5mb in a sync folder or trigger an auto update in the android client.
2. Wait for it to "chunk"

### Expected behaviour
File should upload without problem most of the time, and most of the files shouln't have to be reuploaded many times.

### Actual behaviour
The upload will faill with : (expected filesize 5242880 got 0)
The desktop client will try again u

[2016-02-02 05:16] guruz commented on #4421
Which client version? Did you try 2.1.1 rc1?
Which client OS?

I'm not sure why you say the Android client can trigger this too though..

[2016-02-02 05:16] guruz commented on #4421
(BTW, if you agree that it is a vanilla installation without any bells and whistles, http://owncloud.org/support is a better place)

[2016-02-02 05:32] gebhard73 commented on #3764
Ah - thanks for the feedback, I'll have a look into it next weekend latest.
Have you tried junctions?

Cheers,
Gebhard

[2016-02-02 05:35] guruz commented on #2449
@ajasja Sure! thanks for doing it.

PS: Please sign/submit the contributor agreement

[2016-02-02 05:38] guruz commented on #1470
@LukeOwncloud Sounds indeed funny. Will need to have a look at the code..

[2016-02-02 07:52] Dianafg76 commented on #4368
@guruz, @jturcotte What are the steps to reproduce this problem? Thanks

[2016-02-02 08:47] PVince81 commented on #4099
The error that user got when renaming is likely to be the cause. I guess that maybe the move operation didn't finish properly and not all encryption keys were moved.

The last error messages you posted seem to show that some keys are missing. You might be able to repair this manually by looking at the "data/$user/files_encryption" directory and checking whether the missing encryption keys for that

[2016-02-02 09:04] jturcotte commented on #4368
@Dianafg76 Normally just make sure that you have "Mac App Store and identified developers" accepted as allowed downloaded apps to run in you SystemPreferences/Security&Privacy, and then try to run the installer.

[2016-02-02 09:29] danimo commented on #4409
Can you take a look please, @rullzer?

[2016-02-02 09:31] rullzer commented on #4409
Ah mmm so this is most likely an issue with the app. PR already in https://github.com/owncloud/password_policy/pull/29

Basically the desktop client has no idea that app is running on the server.

[2016-02-02 09:34] Dianafg76 commented on #4368
@jturcotte  ok , I'll try. Thanks

[2016-02-02 09:38] Dianafg76 commented on #4368
I tested this issue, and is working OK
Desktop cliente v 2.1.1rc1 (build 3069)
Server v 8.2.2

[2016-02-02 09:38] #4368 closed

[2016-02-02 12:19] crysman commented on #4418
Yes, owncloud share and windows OC client. Xubuntu client works just fine. Windows client worked also just fine until recently...

[2016-02-02 12:34] CriticalNoob commented on #4421
2.1.0 on Mac
1.9.0 on Android
2.1.0 on Linux (Ubuntu & Fedora) give the same issue, I just checked.

The log I gave is from the Mac client as stated.

I'm sorry I'm not a native english speaker and I sometime do mistakes...
I said "trigger an auto update in the android client" but I meant "trigger an auto **upload** in the android client", and by that I meant picture auto upload : when a small pic

[2016-02-02 14:41] chillyjim opened #4422 "[CentOS 7] Cannot install package owncloud-client-2.1.0-11.1.x86_64"
After following the instructions in issue 4400 I get

`No Presto metadata available for isv_ownCloud_desktop
(1/2): qt5-qtbase-gui-5.5.1-2.el7.x86_64.rpm        | 5.4 MB   00:00
owncloud-client-2.1.0-11.1.x86 FAILED
http://download.opensuse.org/repositories/isv%3A/ownCloud%3A/desktop/CentOS_7/x86_64/owncloud-client-2.1.0-11.1.x86_64.rpm: [Errno 14] HTTP Error 404 - Not Found
Trying other mirror.
T

[2016-02-02 15:45] Dianafg76 commented on #4412
@tuomassalo 2.1.1rc1 is already out (testing section in downloads), Could you try with this version, please?

[2016-02-02 16:11] jodlajodla opened #4423 "[2.1.1 RC][OS X] Connection closed and Operation canceled"
Last few months I'm having problems with uploading and downloading Android project files to ownCloud folder. If project is built and there are files with extensions bin, class, dex, ... and may contain $ in file name then for sure there will be sequence of errors when uploading/downloading files:
Connection closed
Operation canceled
Operation canceled

Here's the log (Projects is the folder where

[2016-02-02 17:35] RealRancor commented on #4421
@CriticalNoob Also checked https://github.com/owncloud/core/issues/9832#issuecomment-156222485, especially the known bug in Apache 2.4.6+ ?

[2016-02-02 18:10] josemaX opened #4424 "Mac client does not detect changes in local files"
I have a Mac (OSX: 10.11.3, Clients tested 2.1.0, 2.1.1-Beta1 and 2.1.1-RC1) that does not detect when a local file has changed to update it at server (OC 8.2.2 Linux, CentOS6 from RPM/YUM)

Other Macs works without problem and sees the changes to the same file inmediately. This only happens in a machine, but if i pause the sync and restart, then does it (also if i exit the client and start again)

[2016-02-02 19:37] fleish commented on #4099
@pvince81 I think you're on to something there. I checked data/$user/files_encryption and found what I believe to be the keys for one of the directories in question - however it seems to still be named what it was named originally before several (attempted) rename operations, so it looks like this:

data/$user/files/Dir/Subdir1/Sub Dir 2/someimage.jpg
data/$user/files_encryption/Dir/Subdir1/OLD Su

[2016-02-02 21:31] CriticalNoob commented on #4421
It seems I'm too dumb to understand ubuntu way of managing packages, but I don't think the fix has been applied in latest apache update for ubuntu 14.04.

I will let you know if I find something.

[2016-02-03 08:05] moscicki commented on #2619
Another comment about current UI:  Add Folder in desktop sync client gives warning unnecessarily

If someone has sent me a shared folder to sync, I go to my desktop sync client to 'Add Folder'.
This then gives me a Warning "The local path xx\owncloud is already an upload folder. Please pick another one!"
This warning can be confusing for the user.
Ideally 'Add Folder' should come up empty. I would

[2016-02-03 08:42] guoyunhe opened #4425 "[Linux] Add "Restart" to system tray menu because client fails to connect"
I hope ownCloud client can add a new action "Restart" to system tray menu.

![1](https://cloud.githubusercontent.com/assets/5836790/12776974/a7dc06b6-ca62-11e5-86ad-7f1f06f595e6.png)

The client often fails to connect the server and never try again. Restarting client is the most effective way I can use.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bounty

[2016-02-03 08:48] PVince81 commented on #4099
@fleish the ".key" file isn't enough. You also need the "shareKey" files for each user who has access to the file to make it work, even the owner. The owner should also have a "shareKey" with their name.

[2016-02-03 09:54] guruz commented on #4425
What error message do you get? When does it fail? Why? (network change? suspend? proxy?)
thanks

[2016-02-03 09:55] guruz commented on #4425
We had known bugs for Linux where it helps to change to a newer Qt version e.g. 5.6 beta.
Which Qt?

[2016-02-03 09:57] guruz commented on #4423
If it only happens on certain files/filenames it is probably related to the server.
Have you checked the server's owncloud.log file?
Does it behave differently if you switch the client bandwidth limiting to "automatic"?

[2016-02-03 10:02] guruz commented on #4424
Is there anything special about the local sync dir? (network drive? USB stick?)
Have you tried running the client with
[code]
to dig out more info?

[2016-02-03 10:04] guruz commented on #4324
ok, let's have this reopen if there is more info

[2016-02-03 10:04] #4324 closed

[2016-02-03 10:23] josemaX commented on #4424
No, it is in the local hard drive a file in a folder in Desktop. I change it with an editor and save it. Then it not syncs.

In a few hours i'll try what you say and will update this.

[2016-02-03 10:42] guoyunhe commented on #4425
Qt 5.5, When boot, login, suspend, reconnect network.

[2016-02-03 10:47] rullzer commented on #3735
https://github.com/owncloud/core/pull/21997 is in. However slimmed down. So right now only 1 checksum can be send.

But all should work for 9.0

[2016-02-03 12:13] AndyScull opened #4426 "[Suggestion] Centralized location for sqlite files and log files"
Hi
That may seem like a silly wish, but I would like to suggest setting up a centralized location (appdata perhaps) for sqlite db (.csync_journal.db) and log files. I kind of like to keep my work folders clean of all 'extra' files, wherever they may come from.
Because of my habits and work I have to keep hidden files visible

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on i

[2016-02-03 12:19] jnweiger commented on #4422
@chillyjim Hmm, an old version obsoleting a new version sounds like a confused package manager. Would
`` apt-get install -f ``
get you going?

[2016-02-03 14:54] ghost opened #4428 "ETA totally unreliable"
Dear Developers,

While syncing, the ETA is shown. I find it totally unrealiable. It seems the estimate is "total transfer to be made/ current transfer speed". The truth is there is a "constant cost" if transferring a single file, which is easy to estimate (it is around 0.8 sec in my case). Actually in my case I am pretty sure the sync will be over in approximately two hours, just because the rema

[2016-02-03 15:32] danimo commented on #4390
Done for Mac OS and Windows.

[2016-02-03 15:33] danimo commented on #4382
Toolchain is now in place.

[2016-02-03 15:33] #4382 closed

[2016-02-03 16:33] danimo opened #4429 "Update to new QtKeychain version for Windows Vault support"
We should use the Windows Credential Manager API (now branded Vault) to store the credentials. QtKeyChain can do this, but there is no released stable version. Once that's done (https://github.com/frankosterfeld/qtkeychain/issues/64), we should update, which is hopefully in time for 2.2.

[2016-02-03 17:00] CriticalNoob commented on #4421
Okay I upgraded apache to 2.4.18 which should supposedly fix the problem but still got bunch of expected filesize 5242880 got 0

[2016-02-03 17:01] josemaX commented on #4424
At start it logs:

m_crashReporterChar:  /Applications/owncloud.app/Contents/MacOS/owncloud_crash_reporter
02-03 17:32:50:239 0x7fc348449510 OCC::Application::setupLogging: "################## ownCloud es_ES () 2.1.1rc1 (build 3069)"
02-03 17:32:50:239 0x7fc348449510 OCC::Application::setupTranslations: void OCC::Application::setupTranslations() Using "es" translation
02-03 17:32:50:241 0x7fc34844

[2016-02-03 17:59] CriticalNoob commented on #4421
For some reason now some upload works, but there is something interesting.
I can predict if an upload is going to fail.
When the upload is being done, as you a know  *chunking*.part files are created in the cache folder.
But sometime, the file is not created at all, even if the client is showing upload progress and then the "expected filesize 5242880 got 0" will happen for a good reason, the file

[2016-02-03 20:30] fleish commented on #4099
@PVince81 thanks for the extra pointer, that was the last piece of the puzzle and I was able to successfully decrypt the files in the directory after copying over the share key directory as well.

Now the only remaining question is how/why this happens and if there is anything that can be done to prevent it in the future?

[2016-02-03 20:48] chillyjim commented on #4422
Forcing always concerns me :) I'll take the route tonight and report back. Thanks.

Sent from my iPhone

[2016-02-03 21:40] PVince81 commented on #4099
If you're still on ownCloud < 8.2, I suspect it could be either a timeout or a concurrency issue.
Since OC 8.2 there is a new locking mechanism to prevent concurrent access on files to mess up.

See https://doc.owncloud.org/server/8.2/admin_manual/configuration_files/files_locking_transactional.html
(the redis version of it is also available on 8.1)

[2016-02-03 21:49] ianabc commented on #4400
Are the RHEL packages updated at the same time? I'm seeing the problem about missing opt-qt5-qtwebkit on RHEL 7, but if I point at the CentOS 7 repositories I don't get the missing package message.

[2016-02-03 22:05] tflidd commented on #4428
Remaining transfer time = remaining filesize / current transfer speed = 283470s = 3.28 days
Constant cost = 1654 files * 0.8s/file = 22 min.

The constant cost of each file transfer is somehow negligible at this point. There are more effects (larger files often start slowly and get faster) and the overall performance for a large set of files is hard to predict. Do you know a data transfer tool tha

[2016-02-03 22:17] mateusz-lacki commented on #4428
Nope, but I do not really use them.  Still the data transfer took me approximately 3 hours in the end (upload speed approx 500 kB/s). The estimate for the "remaining time" was changing every second between 1 and 7 days (depending whether the "small file" was say a few or a few dozens kB).

Of course if transfer speeds are not stable, then it is not possible to predict the total time at all.

But:

[2016-02-03 22:31] fleish commented on #4099
@PVince81  I'm still on 7.0.5 in production right now. My test box is running 7.0.11 and an apt-get download owncloud reveals the current 7.x release available is 7.0.12. Is there a recommended upgrade path? I have a note here that someone advised me to go from 7.0.11 -> 8.1.4 -> 8.2.1. I don't recall who recommended this, perhaps someone in IRC or another github issue. But figured I'd double-chec

[2016-02-03 22:36] tflidd commented on #4428
On a given connection with a given client/server-combination, you can probably figure out something more sophisticated. But does this easily apply for the other cases?

You could as well group the small files, put them in a zip-archive and transfer this archive (and unpack on server side). This way, the predictions are better (all files are about the same size, because big files get chunked) and t

[2016-02-03 22:53] mateusz-lacki commented on #4428
Actually I think on a stable connection there are approximately two parameters which should yield much more accurate prediction:  large files transfer speed, and small file total process.   If more accuracy is required, one may measure "average transfer speed of files between <50, 50-100kB, 100-200 kB, 200-400kB,400-800kB, etc." and use that to make an estimate.

This is heuristics, that should be

[2016-02-03 23:19] menelic commented on #4327
@orion1024 Hi, have you had a look at  https://github.com/duplicati/duplicati ? tagline: "Store securely encrypted backups on cloud storage services". It does scheduled encrypted backups to owncloud, offers restore etc. Seems like the implementaion adressses most of the above?

[2016-02-04 07:42] Dianafg76 commented on #4390
@danimo What are the steps to reproduce this issue ?, thanks

[2016-02-04 09:02] orion1024 commented on #4327
Hi menelic,

Duplicati is interesting, but the purpose is not the same : duplicati is a backup solution, which protects data against loss or corruption, while ownCrypt aims to protect it against server-side spying, while still allowing the user to work, sync and share these protected files *as usual* .

[2016-02-04 09:07] Dianafg76 opened #4430 "[Password Policy] If you introduce the Ñ uppercase the folder/file is not shared and the user is warned"
### Steps to reproduce
1. Having a password policy of Uppercase letters
![screen shot 2016-02-04 at 09 51 21](https://cloud.githubusercontent.com/assets/12032058/12810203/f20eb090-cb24-11e5-8301-8de1c9fb4333.png)

2. Go to the Desktop Clien v 2.1.1 RC1
3. Create a new folder/file (e.g. aaa)
4. Share with ownCloud
5. Check Share link option
5. Select Password protect option
6. Introduce the letter

[2016-02-04 09:17] PVince81 commented on #4099
No, when upgrading just do: 7.0.5->8.0.10->8.1.5->8.2.2.
Starting with 8.1, the second digit is considered a major update.

Regarding the timeout, I don't think locking will help preventing them.
You might need to tweak server settings like max allowed running time for a PHP process, etc.
I'm not very familiar with this part so you might want to check the docs or forums http://owncloud.org/support

[2016-02-04 09:51] dragotin commented on #4424
the log line
[code]
shows the problem: The file is ignored by the clients ignore list. Please check your custom ignore patterns in the client, see https://doc.owncloud.com/desktop/2.1/navigating.html#using-the-ignored-files-editor for details.

[2016-02-04 10:07] josemaX commented on #4424
I double checked this when i saw the line, but no entry that could cause this.

Also, if i pause the sync and restart it or close the client and start it again then is synced. I think if a ignore entry matched it, then it not be synced anyway, no?

This afternoon i'll check the sync-exclude.lst as that article explains. Not sure but i think does not sync any file when changed.

Thanks

[2016-02-04 10:25] altruizine opened #4431 "openSUSE 13.2 client package has dependency that does not exist"
Updating the client on openSUSE 13.2 currently fails:

[code]

When installing the client anyway (depite the bad dependency), it works fine, presumably because the appropriate Qt5 packages are already installed.

[2016-02-04 10:25] lours974 opened #4432 "[Linux] [Ubuntu] [Qt] [Gnome] system proxy settings not used properly"
Hello,
The owncloud client do not use the settings of the system proxy under Linux.
If the proxy is directly configured in Owncloud, everything works correctly

On the other hand in the customer it is impossible to put exceptions for the proxy

Could improve this functioning

client : Debian and Ubuntu of 2.1.0-11.1

Cordially

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty o

[2016-02-04 10:31] dieselsolutions commented on #3985
Hello, do we have an ETA when ownCloud-2.1.1.5755-setup.exe or newer that resolved the file will be available to download?
Version 2.1.0 (build 5683) is being extremely trouble with complaint discussed here!!!!!!!!!!!!!

[2016-02-04 10:32] dieselsolutions commented on #3985
ownCloud-2.0.1.5446-setup.exe worked beautifully and deleted files instantly once ushered!

[2016-02-04 10:35] danimo commented on #3985
@dieselsolutions The release is being delayed by a signing-related circumstance that we have no influence on. We're doing everything to speed up the process.

[2016-02-04 10:39] Dianafg76 opened #4433 "[Share via link] check the option Enforce password protection, go to the Desktop Client and share via link you can see the warning but in spanish"
### Steps to reproduce
1. Go to the Server Web with Admin
2. Go to Admin/admin
3. Go to Sharing option, and select "Enforce password protection"
![screen shot 2016-02-04 at 11 35 25](https://cloud.githubusercontent.com/assets/12032058/12812655/7fd5128a-cb33-11e5-9abb-5115cb4ee249.png)
4. Go to the Desktop client v 2.1.1RC1
5. Create a new folder/file (e.g 444444)
6. Share with ownCloud

### Actual

[2016-02-04 11:24] CriticalNoob commented on #4421
Today I tried something else :
I installed owncloud from the repo and only added
[code]

to owncloud.conf

and

to config.php

I then installed some apps, and let it sync some files.
It worked pretty well until I got this in the log :

[code]

And then I got back to "expected filesize 5242880 got 0" forever.

"cache" permission are :

[2016-02-04 14:19] jnweiger commented on #4400
Yes, built RHEL_7 and CentOS_7 were built at the same time. But unfortunately the openSUSE unfrastructure only pushed opt-qt5-qtbase and opt-qt5-qttools packages to the mirrors for RHEL_7, not opt-qt5-qtwebkit. I've triggered a rebuild there. HTH.

[2016-02-04 14:26] hobla commented on #4424
Accented characters in the path are causing the problem - in my case it was an ö (o-umlaut), I see an ó (accented o) in your path.

This bug was fixed a long time ago but resurrected somehow in a recent update. I suspect on the server side, not in the client.

Workaround: quit the client, rename the folder, change the path in the settings file, restart the client.

[2016-02-04 16:49] josemaX commented on #4424
Yes, that was. Renaming Programación to Programacion (in the client) and deleting/creating the sync it works as expected. In the server the folder is called Programación but seems not be a problem.

Thanks!

[2016-02-04 21:04] hobla commented on #4424
Cool, so that's pretty much confirmed. As this is a bigger thing for us european users: Admins/Mods, should this be filed as a separate bug?

[2016-02-04 21:10] ianabc commented on #4400
Yup, that seems to fix it for me on RHEL. Thank you!

[2016-02-04 23:16] chillyjim commented on #4422
rpm -F worked. Thanks.

[2016-02-04 23:16] #4422 closed

[2016-02-05 02:57] ricksbrown opened #4434 "Mac OSX Client 2.1.0 does not install"
On El Capitan.
Trying to install `ownCloud-2.1.0.2944.pkg`

Installer window title is "Install DISTRIBUTION_TITLE" which doesn't look right.
Proceed through installation, fails at the end with summary:

I then tried to install `ownCloud-2.0.2.2818.pkg` which worked fine. Still can't install `ownCloud-2.1.0.2944.pkg`.

[2016-02-05 07:23] davidjericho opened #4435 "Sync client not able to finish discovery on large folders "Server error""
### Expected behaviour

The sync client should be able to discover a very wide and very deep folder structure of substantial size, while being able to download from the server.
### Actual behaviour

Discovery never completes, so a sync of a wide and deep large folder structure never starts.
### Steps to reproduce
1. Create a tree structure with thousands of directories and tens to hundreds of thou

[2016-02-05 08:27] MorrisJobke commented on #2432
@gig13 Also noticed this issue.

[2016-02-05 09:24] dragotin commented on #2432
Closing this, as it is *works as designed*

[2016-02-05 09:24] #2432 closed

[2016-02-05 09:39] MorrisJobke commented on #2432
Could you elaborate on this? For me is "the one icon says syncing and the other icon not-syncing" is a quite weird behavior.

[2016-02-05 09:40] dragotin commented on #2432
@MorrisJobke see above, and @jancborchardt

[2016-02-05 10:09] jnweiger commented on #4422
Sorry,  rpm is of course the right tool here. I have too much Ubuntu these days.

[2016-02-05 10:46] Germano0 opened #4436 "shabang and syncstate.py"
Hi, I am one of the two Fedora package maintainers for Owncloud client.
Today during [Fedora rpmlint process][1] for Owncloud 2.1 on Fedora alpha release, I got some errors like:
[code]
Then I think: If
* syncstate.py is an executable file I will have to follow [this guide][2] to fix the problem;
* syncstate.py is like a library, probably the shabang should be removed.

What do you think about? Th

[2016-02-05 11:22] dragotin commented on #4436
Thanks for your input!

The syncstate.py is a plugin for nautilus, the GNOME file manager. I have no idea if that requires the shebang or not.

[2016-02-05 12:01] #4302 closed

[2016-02-05 14:16] rdagher opened #4438 "Mac OS client - context menu for sharing"
Hi,

I am using owncloud desktop client Version 2.1.0 (build 2944) on *Mac OS* el Capitan (10.11.3).
When I want to use the context menu "share with own cloud" it only allows share by link, no way to share with a list of users like in this [example](https://doc.owncloud.org/desktop/2.1/navigating.html#sharing-from-your-desktop). Note that the owncloud plugin is activated.

![screen shot 2016-02-05

[2016-02-05 14:21] danimo commented on #4438
Any idea, @jturcotte?

[2016-02-05 14:25] jturcotte commented on #4438
No idea, I never touched the inside of the share dialog. @ckamm or @rullzer might have a quick idea.

[2016-02-05 14:27] rullzer commented on #4438
What is your server version?

[2016-02-05 16:13] dragotin commented on #4390
@Dianafg76 reproduction happens through version compare in the final build, I think the version of the bundled openssl is printed on the general tab.

[2016-02-05 16:15] dragotin commented on #3519
@michaelstingl can you verify this again with a recent 2.1.1 build? Thx.

[2016-02-05 16:25] dragotin opened #4439 "Windows: Changing time zone changes timestamp in the sync journal"
@msrex had an alarming finding on his windows installation: For some reason the client tried to re-upload a lot of data.

I was debugging and found out that the sync journal contains a last-modified timestamp that is exactly fife hours away from the real UTC timestamp. The time zone of the windows machine is set to ETC, which exactly is fife hours away from UTC.

The header that is written to the

[2016-02-05 16:28] michaelstingl commented on #3519
still the same issue:
(I tested https://github.com/owncloud/client/commit/54a278edb9c8108f72187cafd4c7ea1675698817)

[code]

[2016-02-05 16:34] jfml commented on #4438
Does this link sharing work in OSX 10.9? I don't even get the green sync-buttons when I enable the desktop syn client. That would be amazing! Dreamed of this for years! (Should I make this a different issue?)

[2016-02-05 16:39] jturcotte commented on #4438
@jfml The icons and menu entry should work in 10.9 if it was enabled when you installed the client.

It will probably work better in 10.10 though, since Apple added an official API for overlay icon that we can use with that version.

[2016-02-05 16:47] jfml commented on #4438
@jturcotte Thanks! So in 10.9 I should be able to right-click in finder on a file in the OwnCloud dir and share the link (when the Desktop Syn Client (2.1.0) is running)? I can't seem to find anything on right-click. Or how do I get to that Sharing window/dialog in the photo above?

[2016-02-05 16:54] jturcotte commented on #4438
@jfml I can't walk you through the steps to get this working, you should probably contact the ownCloud support for this.

Some info is also available in the [manual](https://doc.owncloud.org/desktop/2.1/ownCloudClientManual.pdf).

If you think that this is a bug and can identify if it did work in the past, or something that would allow us to reproduce the issue, please open a separate issue.

[2016-02-05 16:56] jfml commented on #4438
@jturcotte Cool, thanks for the info!

[2016-02-05 17:02] dragotin commented on #4439
maybe related: https://github.com/notepad-plus-plus/notepad-plus-plus/pull/792

Maybe we also need to add the _tzset() when stat'ing?

[2016-02-05 17:27] jfml commented on #4438
For some reason desktop sharing now works for me.

I can even share with groups or users like @rdagher asked:

![owncloudsharewithusersgroups](https://cloud.githubusercontent.com/assets/4312909/12853708/81e984fc-cc2d-11e5-96c0-a49fd29db2c5.jpg)

Weird that it works for 10.9 but apparently not 10.11 (haven't tested it on Capitan).

[2016-02-05 17:29] danimo commented on #4438
@jfml works fine on 10.11. Make sure that you have the extension enabled, as per the docs.

[2016-02-05 17:29] ogoffart commented on #4439
And then we set the modtime to this file, and then we check again what is the modtime.  (in PropagateDownloadFileQNAM::downloadFinished)

[code]

What was the version and the build of the client?
Do we have any logs?
How does the file system time compare to the server time and to the database time? Where did it go wrong?
Was the timezone changed while the program was running?

The `Activity Tab`

[2016-02-05 17:41] ogoffart commented on #4439
Note that there was a bug in FileSystem::getModTime on windows in 2.1.0 which was fixed shortly after the release in (fixed in commit cf5b1e401c0e0c8284bcfd8c12721a09175ed1b4 )

[2016-02-05 19:08] PeteHardy commented on #4405
This problem is resolved by Windows Insider Preview Build 14257.

[2016-02-05 19:36] MadEgg commented on #1902
Same here. Definitely a timing issue. When I log in to KDE on Ubuntu Jessie with KDE 4.14, I get an error from OwnCloud stating that I need to re-enter my login credentials. I don't even get a kwallet popup asking me for my password.

When I close OwnCloud (without entering a password or doing anything else), and then restart it, I get a KWallet popup asking me for my password. If I enter the corr

[2016-02-05 23:47] danimo commented on #4405
Thanks for letting us know.

[2016-02-05 23:47] #4405 closed

[2016-02-06 09:14] guruz commented on #4438
Closing as probably @rdagher has a too old server version.
Note that also re-login might be necessary after a client upgrade.

[2016-02-06 09:14] #4438 closed

[2016-02-06 09:17] guruz commented on #4434
Please try 2.1.1 rc1
https://owncloud.org/install/#testing-development

[2016-02-06 09:19] dragotin commented on #4439
Hm, indeed I tested with nightly build http://download.owncloud.com/desktop/daily/ownCloud-2.1.1.5824-nightly20160206-setup.exe now and was not able to reproduce a problem by switching time zones around.

@msrex could you please give the link above a test to see if that works for you?

[2016-02-06 09:20] guruz commented on #4432
Can you check your ownCloud settings dialog which Qt version it is using?
For newer Qt versions, it might "do the right thing".

[2016-02-06 09:27] guruz commented on #4436
I'd say no if it is loaded as a plugin and not from the shell?

@ckamm

[2016-02-06 09:30] guruz commented on #4435
On which file/directory does it report ```Server error```? Which HTTP code? Can't we deduce the maximum depth from that filename/directoryname?

It would indeed be good if we jump over the error and just not go into those folders. (which we do for some other errors).

(In general about failing discovery: https://github.com/owncloud/client/issues/2976 )

[2016-02-06 09:39] guruz commented on #4428
I agree that there is room for improvement, e.g. by taking into account the constant-time per file overhead each small file has. Also interesting to take into account is buffer sizes (in Qt, in the OS, on your network card etc).

When improving this issue, it might make sense to keep https://github.com/owncloud/client/issues/3382 and https://github.com/owncloud/client/issues/4354 in mind.

[2016-02-06 09:41] guruz commented on #4426
I kind of agree with this. We could do better by making use of things like extended file system attributes to point to the sync DB & log.

Although I think DropBox & friends also have their files in the directory?

FYI @MTRichards

[2016-02-06 11:20] guruz commented on #4424
@ogoffart Your recent optimizations in the exclude list might be related?

[2016-02-06 12:04] davidjericho commented on #4435
I have asked the appropriate support person for the logs of the failing syncs.

In testing, if we have the remote user setup the sync to run multiple sync folders, being each individual top level folder, reducing the depth and breadth of each singular sync, the sync works.

If we setup a single sync, at the root folder, for the directory tree, this is when it fails. The data never syncs, as discov

[2016-02-06 12:11] ogoffart commented on #4424
What is in the ignore list?

[2016-02-06 12:17] ogoffart commented on #4424
Maybe something to do with normalisation?

Folder::isFileExcludedAbsolute  do `if (!fullPath.startsWith(path())`  So maybe if both path don't have the same normalization that might be a problem.

folderwatcher_mac.cpp does:

[code]

To get the filename. That might not be the same normalisation as the one we except elsewhere.

Someone with a mac need to check that.

[2016-02-06 13:24] rdagher commented on #4438
@rullzer the version of my server is below (output from status.php request)

`{"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":""}
`
@guruz is this too old? Is there any required config or dependencies at client or server side for this to work?

[2016-02-06 14:17] rullzer commented on #4438
@rdagher yes. user/group sharing requires a server of at least 8.2.0.

[2016-02-06 15:22] josemaX commented on #4424
This is my sync-exclude.lst:

cat Library/Application\ Support/ownCloud/sync-exclude.lst
.AppleDouble
]:2eDS_Store
]*.debug

[2016-02-06 15:26] luckydonald commented on #2002
[According to this](http://www.thinkplexx.com/learn/howto/linux/system/start-and-use-xfdb-enable-x-server-on-headless-system) you can use **`Xvfb`**  to fake having a Display and such active.
[code]
[code]
[code]
I Yet have to find out how to configure a headless password wallet.

[2016-02-06 19:12] jodlajodla commented on #4423
I checked all possible configuration files if there's any file type denied and didn't find anything. The configuration of webserver is created accordingly to the administration manual. The problem is that along bin, dex, class files sometimes connection is closed when png file must be uploaded/downloaded - in other directories png files are normally transferred - I will try to create bin, dex and

[2016-02-07 10:23] guruz commented on #4239
OK, please reopen when we find more info

[2016-02-07 10:23] #4239 closed

[2016-02-07 10:23] #3530 closed

[2016-02-07 10:24] #4147 closed

[2016-02-07 10:24] #3915 closed

[2016-02-07 10:25] guruz commented on #4276
Please try 2.1.1 rc1 and give more info.

[2016-02-07 10:25] #4276 closed

[2016-02-07 10:44] #4388 closed

[2016-02-07 10:44] #4250 closed

[2016-02-07 10:45] guruz commented on #4392
I'll close this, please try 2.1.1 rc1 and send the crash report to the crash reporter

[2016-02-07 10:45] #4392 closed

[2016-02-07 10:49] guruz commented on #4200
@danimo I'll close this as we haven't heard any complaints (and threshold 2 is out)

[2016-02-07 10:49] #4200 closed

[2016-02-07 10:52] guruz commented on #3013
@scolebrook ok :/ if there is anything more needed please try to poke us with a new issue
@jiujiu I'm assuming your original issue is solved.

[2016-02-07 10:52] #3013 closed

[2016-02-07 11:34] guruz commented on #4386
@OleAlbers We had issues with the crash reporter server which should be fixed now. Would you have the time and patience to try again sending it?

FYI @danimo

[2016-02-07 13:02] jospoortvliet commented on #331
@TheManOfTheMAn have you tried it since then? Would be interesting to hear if this helped, if it did, it is something we could document.

[2016-02-07 13:11] Takuji-S commented on #4056
Hi,
I have used the ownCloud windows client on Windows 2012 with dedupe volume.
It seems to be working fine in ownCloud-2.0.0.5423.  However the newer version than 2.0.0.5423 seems to be unable to handle symbolic-link.

[2016-02-07 13:23] Takuji-S commented on #4056
sorry for wrong version.  The no issue version is ownCloud-2.0.1.5446 in my server.

[2016-02-07 14:07] PVince81 opened #4440 "Missing testing repo for openSUSE Leap 42.1"
The Leap repo is missing, see https://software.opensuse.org/download/package?project=isv:ownCloud:community:testing&package=owncloud-client

However for the official stable packages it's there.

@jnweiger can you enable it ? Thanks.

CC @dragotin

[2016-02-07 14:42] danimo commented on #4440
Done.

[2016-02-07 14:42] #4440 closed

[2016-02-07 16:36] MTRichards commented on #4258
Seems to me this is a problem in the upgrade process for Windows, that trickles down into ownCloud.

Is there any way to know that this is happening (the upgrade) and to handle this in some way? Or, is this something that happens because Windows now mounts the folders slowly...

We have complete data loss warnings, but not something in the middle. 96% of the time this would be not desired, but it

[2016-02-07 18:20] TheVillux opened #4441 "Missing qt-54-env.sh file on CentOS 7 x86_64 with owncloud-client-2.1.0-11.1.x86_64"
### Expected behaviour
owncloud starts

### Actual behaviour

### Client configuration
CentOS Linux release 7.2.1511 x86_64
libowncloudsync0-2.1.0-11.1.x86_64
owncloud-client-l10n-2.1.0-11.1.x86_64
owncloud-client-2.1.0-11.1.x86_64

### Workaround
I'm able to solve this issue by creating a _/opt/qt-5.4/bin/qt54-env.sh_ file with the following content:
`
#!/bin/bash

QT_BASE_DIR=/opt/qt54
export QT

[2016-02-07 18:47] rullzer commented on #4433
Is the user you are trying to share as configured in spanish?

[2016-02-08 01:24] K4nape commented on #4392
@guruz Rc1? sorry i don't understand this reply. But newest 2.1.0

[2016-02-08 01:28] K4nape commented on #4392
@guruz Okey, I am looking forward to a good time to get out a new version

[2016-02-08 01:54] K4nape opened #4442 "The best choice for windows"
Hello guys,
I have windows 8.1 server. And i need your help in choosing.
What to use?
What programs?
Maybe use "wamp" ? or other programs?
What is the best way?

[2016-02-08 02:51] ricksbrown commented on #4434
Yep that one installs and the window title is "Install ownCloud Client" which is reassuring.

[2016-02-08 07:18] danimo commented on #4392
@K4nape See https://owncloud.org/install/#testing-development

[2016-02-08 07:21] danimo commented on #4442
1. This is the the bug tracker for the ownCloud client. It will run natively, no server required.
2. The server no longer supports Windows natively. Please see https://doc.owncloud.org/server/8.2/admin_manual/installation/system_requirements.html#supported-platforms for a list of supported Operating Systems.
3. This bug tracker is for bugs only. For general support, please see https://owncloud.org

[2016-02-08 07:21] #4442 closed

[2016-02-08 07:21] #4434 closed

[2016-02-08 09:35] dragotin opened #4443 "Document Local Disk Space Policy"
@carlaschroder do you think it makes sense to add a little documentation on how the client handles low local disk space situations, and how that can be influenced?

There are two values: The **freeSpaceLimit** and the  **CriticalFreeSpaceLimit**.

If a download would cause that the available local diskspace goes below the **freeSpaceLimit** this particular download is handled as an individual file

[2016-02-08 09:45] dragotin commented on #4441
I think this is fixed already.

[2016-02-08 09:47] Dianafg76 commented on #4439
@dragotin I tested this issue and I can't reproduce
.- WINDOWS 10: Desktop v 1.8.4, 2.1.0 (build 5683), 2.1.1RC1
.- WINDOWS 2008 R2 Enterprise: Desktop v 2.1.0 (build 5683)

### Steps to reproduce
1. Intall Desktop v 2.1.0 with Admin
2. All folders / files are synchronized
3. Go to Settings/Date&Time
4. e.g Time zone (UTC +12:00 Fiji)
5. Go to the Desktop Client
6. Go to Activity Tab and the clien

[2016-02-08 10:11] ogoffart commented on #4439
@Dianafg76 did you make sure that a sync was trigered?  (i.e. modifying a single file, only this file should be uploaded)

[2016-02-08 10:12] Dianafg76 commented on #4439
@ogoffart Yes

[2016-02-08 11:21] Dianafg76 commented on #4390
@dragotin, @danimo I tested this issue and is working OK
![screen shot 2016-02-08 at 11 12 30](https://cloud.githubusercontent.com/assets/12032058/12884172/c6319a56-ce5c-11e5-8a4b-f14309a622f5.png)

I tested with different servers

# NEW OpenSSL
## Testing
Desktop Client v ownCloud-2.1.1.3100-nightly20160208.pkg (MAC), ownCloud-2.1.1.5830-nightly20160208-setup.exe (WINDOWS)

TestID | Server | MAC

[2016-02-08 11:27] K4nape commented on #4392
@danimo as I saw yesterday. Sry

[2016-02-08 11:29] K4nape commented on #4442
@danimo but i can instal in windows "Webserver: Apache 2" ?

[2016-02-08 11:30] #4390 closed

[2016-02-08 11:31] ogoffart commented on #4420
2.1.1 should be fixed.

[2016-02-08 11:51] TheVillux commented on #4441
Great, thank you.

[2016-02-08 11:51] dragotin commented on #4439
I also tested again with 2.1.1 RC and it is not longer reproduceable for me (Win7).

Moving to next milestone as this should not longer block 2.1.1

[2016-02-08 12:00] jnweiger commented on #4441
Should be in the package owncloud-client, if needed for the platform. The /usr/bin/owncloud script should have a conditional to check for its presence.

Would an empty script also work for you? I am surprised you come up with that complex solution.

[2016-02-08 12:08] TheVillux commented on #4441
I won't be able to test that for a little bit, since I don't have that machine immediately available. However, I just pulled the above script from some Google searching; I bet an empty one might work just as well...probably should have tried that first.