[2014-12-27 16:00] StephaneDupont opened #2648 "[Client/XP] Crash when syncing folders "failed to create dibsection""
Hello,

I've tried to sync my owncloud installation on a XP laptop, and even if I try to sync only a small folder, the client crashes.

Here's the log file when I tried to sync a folder with 5 files in it:

...
12-27 16:14:38:140 0x5da6128 csync_reconcile: Reconciliation for remote replica took 0.00 seconds visiting 5 files.
12-27 16:14:38:140 0x5da6128 csync_statedb_close: sqlite3_close=0
12-27 1

[2014-12-28 14:38] johanehnberg opened #2649 ""0xf47420 ERROR: Instruction 8 vs 8 for file" and crash when encountering file with invalid encodings"
Running owncloud client 1.7.1 from the opensuse build system on Ubuntu 14.04:
owncloud --logflush --logfile -

Example:
12-28 14:07:42:100 0xf47420 ERROR: Instruction 8 vs 8 for "Websidor/Skolrelaterat/skolbilder/r�varor"
12-28 14:07:42:100 0xf47420 ASSERT: "!"Instructions are both unequal NONE"" in file /usr/src/packages/BUILD/src/mirall/syncengine.cpp, line 331
Aborted (core dumped)

This happen

[2014-12-28 21:05] cjm51213 opened #2650 "Bad UX: "Ignore Files" dialog"
Hi Folks,

I've learned from a reliable source that the ownlcloud desktop client will actually delete files that match an "Ignore Files" pattern and the check box is checked. Deletion seems very un-ignore-ish. So either I misunderstand the "Ignore Files" feature, or I think it is dangerous and should be much more carefully deployed, or possibly re-worked. For example, the list of patterns appear t

[2014-12-28 21:15] #2403 closed, assigned to ogoffart

[2014-12-28 21:33] #2618 closed, assigned to nobody

[2014-12-29 12:59] #2147 closed, assigned to nobody

[2014-12-29 16:43] McOc opened #2651 "Win Client hangs(?) after upgrade"
As suggested by tflidd in the OC forum, I am creating an issue here.
The following is the original post from
https://forum.owncloud.org/viewtopic.php?f=14&t=25550

-----------------

Hi,

I just upgraded from
Client 1.6.4 to 1.7.1
and
Server 7.0.0 to 7.0.4

Server looks fine, I am able to log in. All seems fine.
On the Client side, things are different.
After startup, client went through all direc

[2014-12-29 18:44] carlaschroder opened #2653 "Mr Jenkins has gone on vacation"
I made some doc changes, and it seems that Mr Jenkins does not care to build them.

https://github.com/owncloud/client/pull/2646
755daeb0248f587af4c40859608b6ce698ab2797
26233ac078560022cc05416355f5581e7c18110b

[2014-12-30 03:24] stonewareslord opened #2654 "Windows 8 high contrast is unreadable"
### Actual behavior
When using the high contrast themes in Windows, the ownCloud sync client is unreadable:
![high contrast](https://cloud.githubusercontent.com/assets/7482347/5575364/83987d9e-8fa7-11e4-9a2d-78e6793be180.png)
And when switching back to Aero Lite, the Storage Usage bar doesn't change:
![aero lite](https://cloud.githubusercontent.com/assets/7482347/5575365/870d00b2-8fa7-11e4-89e0-d7

[2014-12-30 19:29] #1729 closed, assigned to cdamken

[2014-12-31 02:58] #2653 closed, assigned to nobody

[2014-12-31 19:18] carlaschroder opened #2655 "Change 'Mirall' to 'client'?"
There are some references to Mirall in the client manual, for example:
http://doc.owncloud.org/desktop/1.7/building.html

Should these be changed to 'client'?

[2015-01-01 14:43] tflidd commented on #2448
In the meantime, I'm using newer versions of owncloud and owncloud-client and don't experience this issue any more. It was probably solved by a different fix.

[2015-01-01 14:43] #2448 closed

[2015-01-02 08:35] MorrisJobke commented on #2413
@danimo Are there already builds that include your PR to be able to test the PR or isn't it ready yet

[2015-01-02 10:44] woutz opened #2657 "Local External Storage: display issue with files and folders with special characters (umlaut, accents)"
### Expected behaviour
External storage view of local files on Windows LAN in web client / browser should show files and folders, which contain special characters, incl. é,è,à,ö,ä,ü

### Actual behaviour
External storage view of local files on Windows LAN in web client / browser
-	shows folders, which contain special characters (incl. é,è,à,ö,ä,ü) as ‘null’
-	doesn’t show files, which contain spec

[2015-01-02 10:56] woutz opened #2658 "Local External Storage doesn’t sync"
### Expected behaviour
External storage view of local files on Windows LAN in web client / browser should show real picture / state of files and folders stored on local external storage, always representing the latest status of the local external storage, i.e., whenever changes are made by anybody in the local external storage, these changes should be reflected on owncloud client via regular / imm

[2015-01-02 11:03] danimo commented on #2657
This is a server bug, please report to https://github.com/owncloud/core/issues

[2015-01-02 11:03] #2657 closed

[2015-01-02 11:10] woutz opened #2659 "Local External Storage: big size folders shown as empty"
### Expected behaviour
External storage view of local files on Windows LAN in web client / browser should show contents of folders of all sizes, i.e., also ‘big’ folders / folders with a lot of files / data.

### Actual behaviour
In external storage view of local files on Windows LAN in web client / browser big folders are shown as empty.

### Steps to reproduce
1. define local external storage of

[2015-01-02 11:17] LukeHamer commented on #2642
Hi Danimo

It looks like it is mainly .doc and .docx word files although they do not appear to be on an ignore list.
I have also noticed that the information is not syncing due to "Possible Case sensitivity clash" this could be related.

Is there any more information you need (I know it has been a bit delayed but I've only just managed to get in touch with the user due to Crimbo season)

[2015-01-02 12:19] RealRancor commented on #2659
Hi,

probably should be re-opened in https://github.com/owncloud/core/issues as from reading your issue you're not using the sync client for this?

[2015-01-02 12:31] #2659 closed

[2015-01-02 13:27] RealRancor commented on #2658
Hi,

could be also related to core as the external storage is used on windows: https://github.com/owncloud/core/issues/13077

[2015-01-02 13:37] woutz commented on #2658
Thanks for feedback. So, shall I close under 'client' and resubmit under 'server / core'?

[2015-01-02 13:59] cdamken commented on #2607
@MorrisJobke: @danimo made some modifications that helps for now, but the solution will be probably in 1.7.2 or 1.8. it was not possible for 1.7.1

[2015-01-02 15:29] cdamken opened #2660 "[1.6.4] Branded application crash on MacOSX 10.9.5"
branded application crash on MacOSX 10.9.5:

[code]

@MorrisJobke
00002308

[2015-01-02 16:17] cdamken commented on #2554
@dragotin I just checked the 1.7.1 build 4406 and the behavior is the same when you delete all the files.

@kaplandani  As I said, I need this part for unattended machine. maybe a parameter when the computer start could solve this situation

@kwillems Why did you close my case?

[2015-01-02 16:23] cdamken commented on #2324
It looks that with 1.7.1 does not happens anymore.
I will confirm it soon.

[2015-01-02 16:27] kaplandani commented on #2554
I did not. Someone else closed it.
Dani
On Jan 2, 2015 6:17 PM, "Carlos Damken" <notifications@github.com> wrote:

[2015-01-02 18:13] RealRancor commented on #2658
Hi,

sorry i can't tell you if this is an issue at the server or the client. Just wanted to note that it could be related to the used external on windows.

[2015-01-02 18:18] MorrisJobke commented on #2660
cc @dragotin

[2015-01-02 20:09] kwillems commented on #2554
@cdamken Sorry, I don't remember this ticket at all :-)

[2015-01-02 22:55] DACN commented on #2039
I am having the same problem. Running Windows 8.1 on my laptop, with the owncloud client 1.7.1 (build 4382) with owncloud 7.0.4.  Trying to sync some 60,000 files and 60Gb of data to a server in my home network. Works fine apart from timeouts on large files. Installed with nginx and mysql.

As of now, some 50,000/60,000  files synced (mostly smaller files) and roughly 10Gb of the 60Gb of data sync

[2015-01-02 23:18] DACN opened #2661 "Connection timed out (compare closed issue #2039 )"
I am having similar problems. Running Windows 8.1 on my laptop, with the owncloud client 1.7.1 (build 4382) with owncloud 7.0.4. Trying to sync some 60,000 files and 60Gb of data to a server in my home network. Works fine apart from timeouts on large files. Installed with nginx and mysql.

As of now, some 50,000/60,000 files synced (mostly smaller files) and roughly 10Gb of the 60Gb of data synced

[2015-01-03 01:02] Robzz opened #2662 "Client segmentation fault when modifying account"
### Expected behaviour
I tried to reconfigure my account for use outside of my LAN (using my domain name instead of my raspberri pi local IP address). The domain name wasn't in the trusted_domains list. This is important, because the crash stopped occurring after i added my domain to the trusted domain list via my web browser.
The server is HTTPS enabled and owncloud is set to force HTTPS connecti

[2015-01-03 21:27] guruz commented on #2660
Dup of https://github.com/owncloud/client/issues/849

[2015-01-03 21:29] guruz commented on #2655
I think danimo might have modified some things already.
Otherwise I'd say yes.. (except for some external things like brew where you'd need to check how their names are now)
@danimo Could we also have 1.8/master docs on doc.owncloud.org?

[2015-01-03 21:45] #2660 closed

[2015-01-03 21:45] MorrisJobke commented on #2660
@cdamken @guruz I added the blue ticket to the other issue and closed this one.

[2015-01-03 21:46] MorrisJobke commented on #849
Also happens for @cdamken (see https://github.com/owncloud/client/issues/2660):

branded application crash on MacOSX 10.9.5:

[code]

00002308

[2015-01-04 00:03] boogieplayer opened #2663 "We can't see the folder to exclure"
I can't see the sub folder to exclure, or inclure, in the process "add folder". See the screen. Of course they are subfolders ;)

Windows 8 64bits home edition french
Client 1.7.1 french
![owncloud issue](https://cloud.githubusercontent.com/assets/10384993/5604197/ea31534c-93ac-11e4-9681-ec93c53eca4a.jpg)

![owncloud issue 2](https://cloud.githubusercontent.com/assets/10384993/5604205/58e21966-93a

[2015-01-04 07:01] guruz commented on #2663
I'm assuming you did not sync those folders to the server yet, so they are only client side? :)

CC @ogoffart @MTRichards ...

[2015-01-04 07:33] oliverdo commented on #2633
Hmmm,

I'm unsure about it, but I will give it a test. However using the ignore option from the client as a workaround to decide which data will be synchronized will not give me a way/report/overview to see which data is on which client.

The basic idea behind my question is, I want to decide which parts of my data should be stored on which client.

So I see multiple steps.
1st, I have my to parti

[2015-01-04 07:46] oliverdo commented on #2633
Hmm,

I just saw that I could configure the top level folders during the initial configuration of the client, which is quite near to what I want. However this is a client configuration and has two disadvantages.
1.	There is no configuration on the client to change it afterwards
2.	There seems to be no way to get a central look at the client configuration
The reason why I’m asking for that is that

[2015-01-04 11:58] boogieplayer commented on #2663
Hi,

yes, those folders are only on the PC. I don't want to sync Debra's folder, only london's folder and all the files in the Images folder, and obisiouly the futures folders in Images folder. I hope to be understandable ;)

[2015-01-04 12:04] boogieplayer commented on #2663
Of course, I want to exclude the sub folder before to sync, because the debra's folder is too big.

[2015-01-04 12:07] ferdiga commented on #2633
"I do not need all data STORED on all devices" is the key argument

[2015-01-04 18:06] dabbill opened #2664 "Desktop Client overlay Icons"
Overlay icons not working for the root ownCloud folder. Use Fedora 21 package owncloud-client-nautilus-1.7.1-1.1.x86_64 for the overlay icons.

My setup is:
/home/"user"/ownCloud/(documents, music, photos, etc)

The overlay icons work on "documents, music, photos, etc but is not working for the ownCloud folder itself.

[2015-01-04 19:23] dabbill commented on #2664
This just started work

[2015-01-04 19:23] #2664 closed

[2015-01-05 03:03] viruzx opened #2665 "Cannot delete files"
Expected Behavior
When I delete a file from my local machine, it should delete it from the cloud. When I delete a file from the cloud, it should delete it on my local machine.

Actual Behavior
When I delete files from synced folders on my PC, owncloud client re-downloads them.
Additionally I get an "Error deleting file." when I try to delete any file via web interface.

Web Server
-Shared Hosting

[2015-01-05 09:09] ogoffart commented on #2665
Please provide more information.  You can follow the template: https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

What is the version of owncloud and the client?  What is the exact error? Do you have client log?

If you get also an error on the server, there might be a problem in the server, so the server log should also shpw what the problem really is.

[2015-01-05 09:19] MorrisJobke commented on #1425
@DeepDiver1975 @PVince81 @icewind1991 Is this (https://github.com/owncloud/client/issues/1425#issuecomment-67345476) how it looks if the file is changed on the server, but the folder that conatins the file isn't browsed by the web interface (read as: rescan of the file info from the file system didn't happened yet)?

[2015-01-05 11:19] #2548 closed

[2015-01-05 11:46] cdamken commented on #2154
@jnweiger any news?

[2015-01-05 15:25] guruz commented on #849
@nodje As a workaround for now, you could place the ```.pac``` file in a directory without special characters like ``` ``` space.

[2015-01-05 15:45] danimo commented on #849
As soon as the patches are approved upstream, I will add them into our build system.

[2015-01-05 16:37] LukeHamer commented on #2642
Does anyone have any suggestions on the issue, any help is appreciated :)

[2015-01-05 18:03] qris opened #2666 "client removes SocketApi socket from running instance"
When you run the first instance, it creates a socket in /tmp to communicate with other commands:

    SocketApi:  server started, listening at  "/tmp/runtime-chris/ownCloud/socket"

If you try to run another instance, it aborts:

    chris@lap-x201:~$ owncloud
    SocketApi:  server started, listening at  "/tmp/runtime-chris/ownCloud/socket"
    int main(int, char**) Already running, exiting...

[2015-01-06 10:19] moscicki opened #2667 "retry of completely new chunked upload"
Hello,

We think that currently there is a design flaw in 1.7 such that when one chunk PUT fails due to the server entering into a funny state (e.g. out of storage and forgets other already uploaded chunks) the client would be stuck forever (retrying just the failed chunk).

However, in the master branch the logic has been fixed and the client would fail the whole chunked transfer and start over w

[2015-01-06 10:19] moscicki commented on #2667
3) Would the transfer id be different when the new chunked upload on the same file is tried?

[2015-01-06 12:20] zeero4ever commented on #230
Didn't see an answer here yet about the Dropbox way of LAN sync: Dropbox regularly sends broadcast packets to the network, announcing that it is running. What I don't know is how they communicate who has the most recent version of files... didn't inspect that yet, I only saw the announcement packets when wiresharking my network. LAN sync would be great!

[2015-01-06 12:41] guruz commented on #2667
@moscicki btw, you can link to a line number by clicking it on the left

@ogoffart (this is simnilar to what we have talked about before christmas)

[2015-01-06 12:50] ogoffart commented on #2667
Normaly, 1.7 and master are not different in that respect:  They should retry to send from the sent chunk, then start over sending the first chunks if the server do not aknoweldge the transfer.

Master contains code that allow to optionally transfer the chunk for the same file in parallel. We do not know yet if we should enable that or not.
But that should not affect the behaviour in case of error

[2015-01-06 12:50] moscicki commented on #2667
Thx, here is the line: https://github.com/owncloud/client/blob/master/src/libsync/propagateupload.cpp#L449

[2015-01-06 12:51] supportreq commented on #2627
Hi,

I am trying to compile the desktop client on OS X 10.10 and I am getting the following error :
Linking CXX executable ../owncloud.app/Contents/MacOS/owncloud
Undefined symbols for architecture x86_64:
  "_main", referenced from:
     implicit entry/start for main executable
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invo

[2015-01-06 12:51] moscicki commented on #2667
@ogoffart: what exactly is the behviour? Would the client try 3 times to PUT the chunk and then give up and start over the whole new transfer with the new transfer id?

[2015-01-06 12:55] guruz commented on #2627
@swt2c Thanks for digging into this... Good catch. Now we need to find out how to avoid this..

[2015-01-06 13:01] charliwest commented on #1419
For the autopkg idea raised here is that something someone would be able to work on? I have tried but got no where with it really :(

[2015-01-06 13:04] ogoffart commented on #2667
it keeps the same transfer id:
Imagine the chunk 5 (out of 10) fails.
Next sync, it will retry from chunk 5 and send the chunk from 5 to 10.  But then after having sent the chunk 10, the server did not accept the file (by returning an etag).  So the client will continue sending chunks 0, 1, 2, 3 and 4  (with the same transfer id).   Normaly, after the chunk 4, the server should accept the transfer

[2015-01-06 13:09] moscicki commented on #2667
Okey, then in the last case (client throws an error) the user may manually press the "Resync" button, right? In that case the new chunked transfer with the new transfer id would be started?

[2015-01-06 13:21] supportreq commented on #2627
@guruz am I following the correct steps? what can be error?

thanks!

[2015-01-06 13:49] guruz commented on #2649
@johanehnberg The newest nightly should now report an error instead of assert?

[2015-01-06 15:22] swt2c commented on #2627
@supportreq if you didn't get any Makefiles in your parallel build directory, it sounds like your cmake step didn't work correctly.  I would clean out your parallel directory, try again, and see if cmake ran into any errors.

[2015-01-06 15:36] rotdrop commented on #2651
Hi there,

I have a similar issue (Linux client) when trying to sync with an OC server which has external OC storages mounted.

Setup on server:

- one owncloud server for our symphony orchestra
- one private oc server for myself
- the private server mounts a shared folder from the orchestra server
- the servers are just working fine; somewhat slow, but the shared external storage can be accessed

[2015-01-06 16:12] TheNodi commented on #43
I've got a simple workaround for those who need to sync multiple accounts (even with multiple owncloud instances) using owncloudcmd.exe, you can find my article here:
http://leonardosite.altervista.org/owncloud-multiaccount-client-workaround/

[2015-01-06 16:30] moscicki commented on #2306
Hello,

We will try to reproduce with 1.7.1 however 1.7.0 is definitely suffering from this problem. Here is another trace:

https://gist.github.com/moscicki/771e1475274b6667510a

For the logs, we will extract them at the next opportunity.

kuba

--

[2015-01-06 18:23] tekieinsocal opened #2668 "Client issues"
I got my owncloud server running at home and I can access it externally.  My owncloud server is a win 7 with WAMP running on it.  Everything is working smoothly until I installed the desktop client sync app.

I installed the app on my laptop (which connects via external address), HTPC with local access, I even installed it the same server.  On all three I noticed after boot up,my services on my bi

[2015-01-06 20:19] ilhay opened #2669 "Restore deleted files and get 0 byes files"
Hello,

My employee move some of folder in shared folder to outside share folder. Files and folder are gone... then I check on "deleted files" I see these folder are there then, I click on "restore" to restore deleted files. The deleted files and folder are remove on "deleted files menu" and show on share directory but, files and folder have 0 byes.

how can I solve the issues?

ownCloud 7.0.4 (st

[2015-01-06 20:50] ilhay commented on #2669
for more information

- PHP :  PHP 5.3.3 (cli) (built: Oct 30 2014 20:12:53)
- MySQL : mysql  Ver 14.14 Distrib 5.1.73, for redhat-linux-gnu (x86_64) using readline 5.1
- OS : CentOS 6.6 64bit
- Storage backend: Local drive, simfs file system, OpenVZ Virtualization on Proxmox

Thans

[2015-01-07 04:54] supportreq commented on #2627
@swt2c getting this error in cmake

CMake Error at src/CMakeLists.txt:366 (add_executable):
  Cannot find source file:

    3rdparty/qtmacgoodies/src/macpreferenceswindow.mm

  Tried extensions .c .C .c++ .cc .cpp .cxx .m .M .mm .h .hh .h++ .hm .hpp
  .hxx .in .txx

CMake Warning (dev):
  Policy CMP0042 is not set: MACOSX_RPATH is enabled by default.  Run "cmake
  --help-policy CMP0042" for policy

[2015-01-07 05:57] RealRancor commented on #2668
Hi,

consider filling out the issue template provided here:

https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

as asked in the "guidelines for contributing" (linked in the box when creating a new issue) to provide more infos about your environment.

[2015-01-07 07:30] tekieinsocal commented on #2668
### Expected behaviour
App should run without causing overall issues to the system.

### Actual behaviour
Once the desktop sync app is installed onto Win 7.  There is tremendous hit on performance on the computers.  Extreme lag when switching between windows, minimizing anything.  When clicking on any menu you see the menu react with seconds of delay.  My Bitdefender AV service get stopped and my

[2015-01-07 07:39] supportreq commented on #2627
@swt2c I was able to compile the code perfectly..
Installed the package. When I open the app, it crashes with
Segmentation fault: 11

Any clue?

[2015-01-07 07:48] supportreq commented on #2627
@swt2c is it the same issue which you are facing?
thanks!

[2015-01-07 09:17] moscicki commented on #2667
@ogoffart: could you please confirm that by pressing "resync" button the client will try the new chunked upload with the new transfer id (see previous question).

[2015-01-07 09:21] ogoffart commented on #2667
no, a new transfer id is not started with the "resync" button.
The resync button only clears the blacklist.

[2015-01-07 09:54] PVince81 commented on #2647
When deleting files, the files are copied to the trashbin. If there are lots of files, it will be slow and can cause a timeout to occur. CC @schiesbn

[2015-01-07 10:55] qknight commented on #69
@Raptormagnum @danimo

both of these issues keept me from creating a pull request to upstream. i don't see how these can be cured. the first one probably easier than the second one. for the second issue: i compared it to the current 'master' and there i won't get any such timeouts, compared to the same master but with my cherry-picked patches from n.octeau's 1.6 owncloud 'client certificate extens

[2015-01-07 11:16] m1dnight commented on #2647
There were not a lot of files. All pdf files and maximum 100 mb. However, I let it be for a while and it fixed itself after an hour or 2.

[2015-01-07 11:54] PVince81 commented on #1425
Is there a date difference between the NFS server and the OC server ?
I think if the date returned by NFS doesn't match what OC stored it will be detected as a change.

[2015-01-07 12:07] supportreq opened #2670 "[OS X] Generated Package is of 4MB only. Doesn't open when double clicked"
Hi,
I was able to compile and generate the pkg file for owncloud 1.7.1.. The generated package is of size only 4MB.

After installing the client doesn't open directly. It opens only through Terminal using :
./Applications/owncloud.app/Contents/MacOS/owncloud

Please advice.

[2015-01-07 12:13] qris opened #2671 "GUI client stops responding to command socket for a long time"
I want to monitor the status of the GUI client remotely using Nagios, so our technical people can proactively contact users whose client has stopped working and they haven't noticed.

I discovered that the client stops responding to the command socket for a long time. It accepts an incoming connection, but doesn't respond to it.

### Expected behaviour
Client should respond quickly to messages on

[2015-01-07 12:50] guruz commented on #2669
@ilhay Are you using the desktop client or webinterface?

[2015-01-07 12:57] supportreq commented on #2670
The app file has QT Libraries & Plugins are missing..

Please advice..

[2015-01-07 13:36] enoch85 opened #2672 "A simple typo"
https://github.com/owncloud/mirall/pull/1717/files#diff-f2d6e0a4d2b25efe708acce987058200R467

![1 years](https://cloud.githubusercontent.com/assets/4511254/5328522/b5e52644-7d82-11e4-8e98-384e60ed9459.png)

[2015-01-07 14:04] rudo54 opened #2673 "CSync failed to load or create the journal file - SQlite error?"
Hello,

I can not sync my tablet with Windows 8.1, the following error message appears:

![owncloud](https://cloud.githubusercontent.com/assets/10435363/5646490/31f368dc-967d-11e4-8900-ecc7cf24a0c7.jpg)

that means: CSync failed to load or create the journal file. Make sure you have read and write permissions in the local sync directory.

The error occurred since the update to version 1.7.1, so fa

[2015-01-07 14:05] iamwebrocker commented on #2557
I can confirm that this seems to be a client issue: I have a "normal" file that is "seen" as a hard link by the client, which then refuses the sync. On another machine the same file syncs w/o problems.
I've yet to find the diffences, since both machines have the same OS + client version.
OS X 10.9.5, Client 1.7.0 (build 1490)

    "14:52 :: cloud/container.tcr  :: ownCloud :: Harte Verknüpfungen w

[2015-01-07 14:42] guruz commented on #2671
@qris Your nagios idea sounds interesting. Did you consider blogging somewhere about it? Nice to see the SocketAPI used in creative new ways.

[2015-01-07 15:36] qris commented on #2671
@guruz I haven't blogged anything yet, but you can find the client here: https://github.com/qris/check_owncloud_client/blob/master/check_owncloud_client

[2015-01-07 15:58] dragotin commented on #2632
@ogoffart thinks it should be doable for the next release :-)

[2015-01-07 16:51] dragotin commented on #1444
@rullzer would you mind to create a submit request against owncloud/client master branch? That would be nice.

[2015-01-07 17:04] danimo commented on #2607
This one just landed in master.

[2015-01-07 17:38] qris opened #2675 "GUI client runs out of file descriptors while syncing"
Similar to #154 which @sciurius requested to reopen but is still closed. The cause might be different: it's not many instances of /dev/random that are open, but all manner of files that are being uploaded.

The error is still:

    GLib-ERROR **: Creating pipes for GWakeup: Too many open files Trace/Breakpoint triggered

However this happens while updating the GUI, and does not happen at the point

[2015-01-07 17:42] moscicki opened #2676 "1.7.1 client: data corruption when the client chunked PUT times out"
We have seen data corruption which happens when the chunked upload (of the first chunk) times out while talking to the nginx proxy (over SSL, proxy terminates SSL). That happened due to a network problem in the smashbox testing and after some pain I managed to reproduce it manually.

Steps to reproduce (on redhat6):
 - run owncloudcmd 1.7.1 which starts chunked upload (our test files are 30MB)
 -

[2015-01-07 18:26] LukeOwncloud opened #2677 "One remotePollInterval per folder"
Is it possible to configure individual remotePollInterval for each sync folder?
For my folder with working files I'd like to poll more frequently than a folder which only contains photos (which never change). So I think, this would be a nice enhancement.

[2015-01-07 18:46] craigpg commented on #2607
Here's what you see in the setup wizard after authenticating when you don't have proper permissions:

![image](https://cloud.githubusercontent.com/assets/160667/5651116/bc1795f2-9672-11e4-8ceb-b1f0c1d03595.png)

Since this is not a client-specific error condition, the user will run into the permissions issue when trying to access their ownCloud via the browser.  At least in this particular case, w

[2015-01-07 18:50] jnweiger commented on #2154
Packages built fine for CentOS-7 in the s2 build service. I am pushing them to the customer-center and to download.owncloud.com now, so that you can see them :-)

[2015-01-07 22:23] danimo commented on #2607
@michaelstingl Does what Craig proposes sound ok to you?

[2015-01-08 00:52] strugee commented on #230
What kind of answer did you expect?

[2015-01-08 05:16] supportreq commented on #2670
Commands used :
$mkdir mirall-buildn
$cd mirall-buildn
$cmake -DCMAKE_PREFIX_PATH=/usr/local/opt/qt5 -DCMAKE_INSTALL_PREFIX=../install -DCMAKE_BUILD_TYPE=“Debug” ../mirall
$make install
$cd admin/osx
$./create_mac.sh ../../../install ../../../mirall-buildn

Output : https://gist.github.com/anonymous/fd187f06a41b0d3ee009

[2015-01-08 09:00] moscicki commented on #2676
Two more traits:
 - running the same exact sequence of event with curl DOES NOT result in data corruption (the difference known to us is the support for 100-Continue by the curl client)
 - re-running the same exact test with owncloudcmd 1.7.1 against HTTP nginx endpoint (SSL DISABLED) DOES NOT result in data corruption

[2015-01-08 09:04] zatricky commented on #230
@zeero4ever - from my comment on 27 Mar 2013:

[2015-01-08 09:09] danimo commented on #849
Should be fixed in http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.1789-nightly20150108.pkg. Please report back if you expirience problems, so we can reopen.

[2015-01-08 09:11] danimo commented on #849
@lmaestro Do you have a way to test if PAC scripts work now?

[2015-01-08 09:12] danimo commented on #2672
Yes, that needs to use the plural translation scheme: http://doc.qt.digia.com/qq/qq19-plurals.html

[2015-01-08 09:14] moscicki commented on #2676
The corruption pattern (16KB block) in this case is the same as already reported by other users (and by us in the past): https://github.com/owncloud/client/issues/2425#issuecomment-60897084

Smells like SSL problem on the client: is it possible that some buffers (16KB) are reused and not properly initialized by the underlying Qt layer?

[2015-01-08 09:16] moscicki commented on #2676
@ckamm: we have a reproducer for this problem now
@chandon: do you have nginx proxy in front of your server? if yes, which version?

[2015-01-08 09:23] chandon commented on #2676
@moscicki: i don't have any proxy on my server. I use an apache server and owncloud is served over HTTPS whith a self-signed certificate (without mod_proxy as specified before)

[2015-01-08 09:39] moscicki commented on #2676
@ckamm, @chandon: ok, then this is very clear now: it is a owncloud sync client problem with SSL enabled and not the nginx proxy (curl client does not have the problem either). The symptoms are so similar in both our cases that is almost certain we see the same problem. Now as we have a clear reproducer I think the devs can investigate more.

@chandon: if you still have logs you may check if you c

[2015-01-08 09:40] moscicki commented on #2676
@dragotin: this is a hardcore corruption case but I think it is very urgent (it will silently corrupt data on shaky networks for all your users).

[2015-01-08 09:43] guruz commented on #2676
@moscicki We're not the only Qt users though... are there similar bugreports e.g. on http://bugs.qt-project.org ?
Can you reproduce this if you force the usage of the old propagator?  (```export OWNCLOUD_USE_LEGACY_JOBS=1```)
curl might not see it because of the HTTP 100 you mentioned?

[2015-01-08 09:43] dragotin commented on #2676
@moscicki I agree with all your conclusions.

@danimo, @guruz can you investigate this on the Qt and SSL side of things? Another thing we need to double check is the handling of the 408 error condition.

Thanks for the analysis, that's very helpful!

[2015-01-08 09:44] oxivanisher commented on #230
Another question is, if the clients should transfer files without the knowledge of the server, or if the server even should orchestrate it. So that it tells clients A and B to transfer the file X between them. The fear a hacked client which can fetch all files from clients in the LAN could be ruled out this way.

[2015-01-08 09:50] anx-mr commented on #2490
I cannot find the problem ...

[2015-01-08 09:51] eundd commented on #230
I think it would be nice to have peer to peer sync included into own cloud in general not just for lan. This could also result in a big speed increase for a folder shared with a group. If this could be switched off on client and server side would be amazing. I know that there is torrent sync to achieve this. But own cloud has some other advantages which i don’t want to be miss.

[2015-01-08 09:57] chandon commented on #2676
@moscicki: in my log files, for the PUT requests on owncloud, no 408 :

    Status Code|Request count
    201        |63597
    204        |66004
    400        |68
    412        |258
    500        |255
    507        |5

[2015-01-08 10:01] danimo commented on #230
@oxivanisher We want the server to have full control. That's why we can't implement this now. The server has to be prepared for it.

@eundd While pure peer-to-peer sync might be nice, it is not what we envision for ownCloud, as it puts the server operator out of control of the data. You may want to try bittorrent-sync or other solutions instead.

[2015-01-08 10:07] moscicki commented on #2676
@guruz: I would leave this to developers to replay the reproducer and fix the case. thanks!

[2015-01-08 10:36] LukeOwncloud commented on #1075
WebSockets are mainly useful because browsers (thus clients) can use them. The oC client would also be able to use any other network socket (e.g., TCP - on which WebSockets are based, as well). However, using any kind of socket introduces 2 major problems:

- We need a dedicated port. This results in a more complicated server set up.[@funkathustra On port 80 the webserver is running. So your state

[2015-01-08 11:39] zocker22 opened #2679 "[OS X] Files with folder-structure don't sync"
OSX, Yosemite, Sync-Client 1.7.1 (build 1655)

I have a file from [OmniGraffle](https://www.omnigroup.com/omnigraffle) in my sync folder. The file is named "_Grafiken" and won't sync.
When looking at the file with the shell, I recognized, its a folder that is called "_Grafiken.graffle". In that folder are three files: data.plist,image2.png,image3.png.

The SyncClient throws an error:
08:51     3_S

[2015-01-08 11:43] lmaestro commented on #849
@nodje can you send me the pac script to test it?

[2015-01-08 11:48] danimo commented on #849
@nodje also the URL, anonymized if needed, but we need to understand if it uses any characters other than `[a-zA-Z]` and `/`.

[2015-01-08 11:49] ogoffart commented on #2632
I'm having a hard time to find a good name for the option:

What I came up to:

[code]

Where selectivesync.txt contains the list of unchecked items.

Any better name?

[2015-01-08 11:53] moscicki commented on #2632
[code]
?
;-)

[2015-01-08 12:00] ogoffart commented on #2632
"selective sync" is more like an internal name that is not supposed to be user visible.  But maybe owncloudcmd is sufficently internal that it is a good option name.

[2015-01-08 12:37] jnfrmarks commented on #2632
@ogoffart

I was also thinking --selective-sync.

I actually don't know a lot about the feature and assumed it allowed the user to sync a specific file or directory under their root owncloud directory.  I will read up on the feature later today and can make another suggestion then.

[2015-01-08 12:51] LukeOwncloud commented on #1075
Wow, it does not seem hard at all"

There is already a filewatcher-plugin: https://github.com/owncloud/web_hooks

Right now, it waits for a cron event to push changes to a url. That is of course not what we want.

But if ```publisher.php/addNotifications()``` is just changed a little and forwards its changes to a ```poll.php``` like this:

    <?php
    /*out("Long polling sleep demo...");
    $sl

[2015-01-08 13:24] gpbenton opened #2680 "[client/vista x64] Shell Overlay Icon handlers cause delay in verclsid.exe"
My computer started having delays when the current window would not respond for about 30s.

Looking through the task manager, I noticed that verclsid.exe was running whenever  a window was not responding.  Having determined that verclsid.exe was a windows program for checking shell extensions, I used autoruns to disable shell extensions, until the problem disappeared.

Disabling all the items like

[2015-01-08 13:25] gpbenton commented on #2680
I currently have client version 1.7.1

[2015-01-08 14:17] nazar-pc opened #2681 "The path is not synchronized because of errors"
### Expected behaviour
No errors in log file

### Actual behaviour
Errors:
[code]

There are much more of such lines in log file, also files are not present locally (deleted few days ago), but still present on server. I do not know, whose error is this (client or server), but log on server is empty.

### Steps to reproduce
1. Use ownCloud regularly and work with source files through IDE PhpStorm
2

[2015-01-08 14:30] #2438 closed

[2015-01-08 14:31] ogoffart commented on #2667
@moscicky Do you have more question or can this issue be closed?

[2015-01-08 14:32] ogoffart commented on #1981
Is there still a problem?

[2015-01-08 14:35] supportreq commented on #2670
@danimo any idea?

[2015-01-08 14:42] moscicki commented on #2667
@ogoffart: thanks for the answers. I think this protocol may/should be improved so that the client may start a brand new upload in case the server enters an unrecoverable state with the current transfer id. Currently there is no way of doing that and we have seen some problems with that. I guess it could be added in a simple way with some error response code (from top of my head, for example, 424

[2015-01-08 14:44] GMTA commented on #1981
This:

Is still a big problem! Easily reproducable with large docx files.

[2015-01-08 14:46] LukeOwncloud opened #2682 "remotePollInterval and PROPFIND /remote.php/webdav/"
http://doc.owncloud.org/desktop/1.7/advancedusage.html reads:

    remotePollInterval (default: 30000) – Specifies the poll time for the remote repository in milliseconds.

After guessing that this setting has to go into the ownCloud section, I set it to 5 minutes:

    [ownCloud]
    remotePollInterval=300000

However, the server logs show that there still is a PROPFIND every 30 seconds:

    PRO

[2015-01-08 14:49] mpeterson commented on #1981
Yes, it still is a problem

On Thu, Jan 8, 2015, at 11:44, Jelle Raaijmakers wrote:

Is still a big problem! Easily reproducable with large docx files.

--
Michel Peterson

Links:

  1. https://github.com/owncloud/client/issues/1981#issuecomment-69187940

[2015-01-08 14:54] LukeOwncloud commented on #2682
I just checked what ```PROPFIND /remote.php/webdav/ ``` actually gives me:
Etags of all children. So there is actually everything I need to determine that nothing changed. Right?

So there should be only that PROPFIND every 5 minutes. And the correct question is:

Why are there every 5 minutes:

    PROPFIND /remote.php/webdav/folder1
    PROPFIND /remote.php/webdav/folder2
    PROPFIND /remote.ph

[2015-01-08 14:54] LukeOwncloud commented on #2682
I just checked what ```PROPFIND /remote.php/webdav/ ``` actually gives me:
Etags of all children. So there is actually everything I need to determine that nothing changed. Right?

So there should be only that PROPFIND every 5 minutes. And the correct question is:

Why are there every 5 minutes:

    PROPFIND /remote.php/webdav/folder1
    PROPFIND /remote.php/webdav/folder2
    PROPFIND /remote.ph

[2015-01-08 15:37] ogoffart commented on #2681
The cause of the errors should be in the log. So please provide the log client log.  (The snipet you pasted is only the one shown when running owncloud while it is already running)

"504 Gateway Time-out" seems to indicate perhaps a proxy problem.

[2015-01-08 15:45] nazar-pc commented on #2681
I do not understand what do you mean by this, which exactly log file you need?

My network connection to ownCloud server is like `me > ... > CloudFlare > Docker host with Nginx > Docker container with Nginx (here is ownCloud)`
CloudFlare work properly for sure, Nginx on Docker host also (there are many more websites working through the same Nginx instance, and they all work fine, just like ownClou

[2015-01-08 15:59] ogoffart commented on #2681
If you run owncloud with `--logfile -` you should see the log.  But it has to be run while no instance of owncloud is currently running.
An alternative is to press F12 from the settings window.

But the problem is then probably on the ownCloud server.  In that case you should report the bug on the server's bug tracker.

[2015-01-08 16:00] ogoffart commented on #2682
This might be the PROPFIND to check the quota...

[2015-01-08 16:42] ogoffart commented on #2673
It looks like the database is corrupted

[code]

Now the question is how and why did that happen?

[2015-01-08 16:45] ogoffart commented on #2667
I fail to understand the use case.
The server can just forget anything about that transfer id.

The next sync will not send the chunk in order but that should not be a problem.

[2015-01-08 16:45] lmaestro commented on #2654
I can't reproduce it, when I use high contrast mode I see this:
![contrast-mode-1 7](https://cloud.githubusercontent.com/assets/4689430/5666160/ebd90802-975d-11e4-8c37-53aecbbcc743.png)
Can you test it in the latest build? http://download.owncloud.com/desktop/daily/
If it is still happening please reopen it. Thx

[2015-01-08 16:48] lmaestro commented on #849
I tried with my own script and it works fine now. Version1.8.0-nightly20150108(build 1789)

[2015-01-08 16:48] #849 closed

[2015-01-08 17:21] lmaestro opened #2683 "The error "Could not read system exclude file" is shown when you try to sync"
### Expected behavior
The app starts to sync

### Actual behavior
The app doesn't sync and it shows and error

![screen shot 2015-01-08 at 6 18 10 pm](https://cloud.githubusercontent.com/assets/4689430/5666833/e4fffbd0-9762-11e4-917f-d43204a9823f.png)

### Steps to reproduce
1. Launch the app

### Server configuration
{"installed":"true","version":"7.0.0.3","versionstring":"7.0 beta 1","edition":"

[2015-01-08 17:27] lmaestro commented on #2614
It couldn't be tested from the client so I close it.

[2015-01-08 18:44] cdamken commented on #2428
@ckamm @lmaestro I've just tested the word-file delete issue: while using 1.7.1 on windows and 1.7.0 on Mac.
When I edit a file on the Mac, while begin open on windows as well
I get a sync error on the window machine: "cannot remove source file"
The sync client gives a big red cross and I see that I have on both computers a different word-file and after I pause-resume the sync client on windows, I

[2015-01-08 19:03] shoeper commented on #1075
script would be stopped by most webservers quite fast or it's execution time exceeds (and there are many more timeouts can occur). So this would work for people having their own server also being able to use sockets or other software with better performance than php.

[2015-01-08 19:24] stonewareslord commented on #2654
I will test it in a few hours, but did you try selecting the folder?

[2015-01-08 20:20] stonewareslord commented on #2654
Ok. I created another folder. The wallpaper folder looks like yours and isn't selected. The one below it is selected (I left clicked it).
![capture](https://cloud.githubusercontent.com/assets/7482347/5669892/616534ac-9730-11e4-922d-427fb6b674f0.PNG)
I'm using 1.8.0-nightly 20150108 (build 4536)

[2015-01-09 02:14] qknight commented on #69
**nailed it!**

fixed the feared ***Thread-local_storage issue*** from https://github.com/owncloud/client/issues/69#issuecomment-69006604, see fix here:
https://github.com/qknight/client/commit/a35bdd3299a03cba6206512e8cba4f4bce2fb9a3

to sum up:
certPath and certPassword are not set from void HttpCredentials::syncContextPreInit (CSYNC* ctx)

thanks a lot to ogoffart and others in #owncloud-client

[2015-01-09 02:53] nodje commented on #849
Hi,

PAC still available at https://gist.github.com/nodje/5e0fe28272fff422dece

But I believe the bug was caused by a space in the PAC URL:
file://localhost/Library/Managed Preferences/proxy-blacklist.pac

I can't really remember why I've been using this weird path, but I'm sure it wasn't my choice. I think I had to in order to work around some OS X version's limitation/restriction. Which means th

[2015-01-09 07:54] LukeOwncloud commented on #1075
I have a standard Ubuntu system with an Apache server and all default settings. Php processes live at least for 8000 seconds on my machine. Of course this is just an example...

Nonetheless, if the process lived only 30 seconds, the client would have to re-connected every 30 seconds. So you would have the same number of connections but instant notifications.

Of course scalability is an issue, so

[2015-01-09 07:58] LukeOwncloud commented on #2682
That doesn't make any sense at all: When I configure an interval of 5 minutes and it still connects every 30 seconds, what is this setting for? Even worse: When in this quota request all information about changes is already included (etags for all folders), why is that data not used?

[2015-01-09 10:13] DeepDiver1975 commented on #2614
I'm reopening as I think this is not yet done:
- [ ] change to different webdav propery name
- [ ] failover in case direct download fails

@guruz @ogoffart

[2015-01-09 10:24] benblamey opened #2684 "Files get 'Locked'"
When owncloud is syncing files it seems to lock them -- this can make it frustrating for example, if I have a file open in an application with unsaved changes -- I cannot exit the application and close the file until owncloud has finished.

I haven't looked at the code -- but I'm guessing files are opened for read but deny writing from others?

An alternative would be to use the flag to specify th

[2015-01-09 10:25] danimo commented on #2684
This is being addressed, see https://github.com/owncloud/client/pull/2597. @guruz ?

[2015-01-09 10:32] dragotin commented on #2684
This is a duplicate of #2070

[2015-01-09 10:32] #2684 closed

[2015-01-09 12:26] dhjdhj opened #2685 "[Mac] Folder with (white)space at end: Files get deleted soon after creation"
I had created a new folder under my OwnCloud folder on my Mac and dropped some files into it. After a minute or so, they just disappeared.

I've done a few experiments and discovered that I can  reproduce 100% this problem by

A) Make a copy of a folder that already contains files
B) Rename the folder so as to add a space at the end (that's the critical bit)
C) Wait a minute or two
D) Files get de

[2015-01-09 12:58] moscicki commented on #2685
I guess this is due to special handling of cases of filenames forbidden on Windows (which includes the trailing space in the file name). The client cannot properly distinguish between the two directories and gets confused. Obviously there is something very wrong in this implementation that needs fixing.

However, this also shows a more general problem that many others already pointed at: it would

[2015-01-09 13:03] dhjdhj commented on #2685
I don't know about Windows but as I pointed out, my client is running Yoseimite (Mac OS 10.10) and my server is Linux

But yes, no matter the limitations on particular systems, files need to not disappear! It may be that the clients need to do some name validation and/or simply replace bad characters with underscores or something.

[2015-01-09 13:09] ogoffart commented on #2614
Failover should already work.
What are the new webdav names?

[2015-01-09 13:40] guruz commented on #2683
Please retry with a new build

f9b98d6d1d04c814d5e1bc48f358d70865ff335a

[2015-01-09 13:40] tflidd commented on #2685
@dhjdhj : Can you fill out the template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md. These information are probably important (more about your system, do you use external storage, which apps are enabled, ...).

The original topic on the forum was: https://forum.owncloud.org/viewtopic.php?f=14&t=19138

I tried to reproduce it in OS X Mavericks. But it works, only thing

[2015-01-09 13:41] guruz commented on #2685
@danimo I remember a patch by you that disallows folders with space(s) at end?

[2015-01-09 14:09] lmaestro commented on #2683
It is fixed in version1.8.0-nightly20150109 (build 1818)

[2015-01-09 14:09] #2683 closed

[2015-01-09 14:14] dhjdhj commented on #2685
### Steps to reproduce

On a Mac,
1) Make a copy of a folder that already contains files
2) Rename the folder so as to add a space at the end (that's the critical bit)
3) Wait a minute or two
4) Files get deleted

### Expected behaviour
Tell us what should happen: Files should not disappear

### Actual behaviour
Tell us what happens instead: Files disappear!

### Server configuration
**Operating s

[2015-01-09 14:37] guruz commented on #2627
I'm confused about the fact that according to ```DYLD_PRINT_LIBRARIES``` the ```libneon.27.dylib``` is loaded before ```libsystem_networkextension.dylib```..
If I understand https://developer.apple.com/library/mac/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/DynamicLibraryDesignGuidelines.html#//apple_ref/doc/uid/TP40002013-SW26 correctly then it should find the neon symbo

[2015-01-09 14:58] DeepDiver1975 commented on #2614
the one you propoesed :speak_no_evil: ... let me check ...

[2015-01-09 14:59] DeepDiver1975 commented on #2614
@ogoffart https://github.com/owncloud/core/pull/12854#issuecomment-67947914

[2015-01-09 15:05] guruz commented on #2627
@dragotin @ogoffart @danimo see commit above. This fixes it on my Yosemite machine.. Do we want this fix? Or we wait some days more for #2507 which enables us to kill off neon for OS X..

[2015-01-09 15:10] guruz commented on #2444
This commit might possibly help you: https://github.com/owncloud/client/issues/2627#issuecomment-69345507

[2015-01-09 15:11] guruz commented on #2490
@anx-mr @mrauter  This commit might possibly help you: https://github.com/owncloud/client/issues/2627#issuecomment-69345507

[2015-01-09 15:27] Rene33 opened #2686 "Unable to launch owncloud client on Mac with the log feature"
I use owncloud 1.7.1 with Mac OS 10.9.5, and I have problems of crash (that will be another post).
I tried to launch the client with the log feature, as explained here : (http://doc.owncloud.org/desktop/1.7/tro ... oting.html)
But I obtain an error message :

I have tried to reinstall the client, but without success.

[2015-01-09 15:45] cdamken opened #2687 "[1.7.0] "Remove all files" prompt"
In which condition, is this prompt designed to show up?

When I pushed “enter (return)” mistakenly and deleted all the local files, but the next day, I saw all the files were recovered on ownCloud server.

Could you please explain why the files were recovered?

### How to reproduce it:

BEFORE THE TEST:
Local sync folder has the following file and sync to ownCloud server has been completed.
- thre

[2015-01-09 15:54] gig13 opened #2688 "Add a configuration password to lock desktop client settings"
Use case:
Add a configuration setting to basically password protect the client configuration settings. This enterprise would like to install the branded client with specific drives and block the ability of users to change these settings. Setting the password in the ownbrander to be encoded into the executable would allow for this option. The option to set a password would be optional, so only user

[2015-01-09 16:28] qknight commented on #69
guruz asked me to be elaborate on this issue about 'AH01991: SSL input filter read failed' as the question was more a statement or note. so here i want to address this issue:

# owncloud-client SSL problem:

## installed software
* owncloud client master (mirall)
* owncloud build 7.0.4-3 with apache-2.4.7-1ubuntu4 and php-5.5.9+dfsg-1ubuntu4
* the apache configuration is this: https://gist.github.

[2015-01-09 17:00] guruz commented on #2688
@gig13 Is this Windows-only?
I think in that case also some Registry/Policy thingy could be used that only the Network admin can set..

[2015-01-09 17:04] guruz commented on #2687
FYI I remember 1.7.1 had changes regarding this by @ogoffart

[2015-01-09 17:06] guruz commented on #2686
@Rene33 is the behaviour different if you do:
[code]

[2015-01-09 17:11] guruz commented on #2679
I wonder if this is similar to those issues: https://github.com/owncloud/client/search?utf8=%E2%9C%93&q=%22hard+link%22&type=Issues

[2015-01-09 17:17] guruz commented on #2675
Thanks for the report.

@ogoffart I remember the QFile is per sync item (not per chunk).
``` QSharedPointer<QIODevice> _device;```
 Does it really get closed properly? I don't see the relevant code..

[2015-01-09 17:28] Rene33 commented on #2686
I just tried,
It works !
so it might not be a bug, but just a need to indicate the trick in the manual...

[2015-01-09 17:28] gig13 commented on #2688
Windows an Mac

[2015-01-09 17:31] danimo commented on #2688
Removed reference to private repo.

[2015-01-09 17:31] guruz commented on #2686
Then it is still a bug, it means our Qt-packaging into the .app bundle does not work properly..

@danimo this is your area..

[2015-01-09 17:42] guruz commented on #60
@danimo Yes, you're missing the whole csync update phase

[2015-01-09 17:45] danimo commented on #2688
I don't think a user-visible password is the way to go. I agree that implementing this feature in terms of Group Policies is a better and more generic approach. Also, a password in the UI would still allow users to change the settings in the file system.

/cc @craigpg @dragotin

[2015-01-09 19:08] craigpg commented on #2688
Need a bit more information on the specific use case(s).  Is the ask to have a client that is preconfigured in such a way that the end-user is _not allowed_ to make changes to some settings (e.g. sync folders)?  Adding the ability to edit these protected settings after entering a password only further complicates this basic use case.

Keep in mind that folder settings, for example, are stored in a

[2015-01-09 19:17] cdamken opened #2689 "[1.8.0] Window, Mac and Linux sync client: synchronisation error"
when I start the sync client (1.7.1 and 1.8.0)  for the first time on a Linux machine, I always get: "connection closed" and "operation canceled".

After some seconds it starts again, but fails two or three times before it synchronize everything.

It suppose to be solved in https://github.com/owncloud/client/issues/2155 and https://github.com/owncloud/core/pull/11153

Tested with RHEL 6, oC 6.0.6

[2015-01-09 19:31] gig13 commented on #2688
@craigpg
The user should be able to type in the desktop configuration password and then be able to modify the configurations. Only an administrative or power user would have this password and be able to access the config settings.

The point about modifying the config file directly is interesting too, this may complicate how existing enterprises are distributing and managing.

[2015-01-10 00:36] soDEVch commented on #2215
I'm using dark mode on OS X 10.10 and I'm always having trouble finding the icon in the menubar. Would really be nice to have the white icon. As mentioned above owncloud isn't the only app still having this issue. How soon can we expect this to be fixed?

[2015-01-10 07:08] supportreq commented on #2627
@guruz the fix did open owncloud, but sync is not taking place.

It gives an error unable to connect to the server.

Also the package formed is of just 4MB, none of the libraries are getting bundled in the pkg file..

please advice..

[2015-01-10 11:19] obma opened #2690 "Client deletes all data from external storage on mount-error"
Just discovered the following problem:

The data on my server lies on a seperate RAID and the users mount their folders via SFTP into their owncloud. Tonight there occured a problem mounting the RAID. After I started my laptop (with owncloud-client in autostart) the client deleted all the data from the mounts on the laptop - without a prompt or anything - before I could read the notification mail

[2015-01-10 11:30] guruz commented on #2690
Yes, this is a server issue. Could you post it on https://github.com/owncloud/core/issues/new ? thanks

[2015-01-10 11:30] #2690 closed

[2015-01-10 11:36] dragotin commented on #2690
The server should reply with 503 on the PROPFIND on the directory or files within.

[2015-01-10 11:45] dragotin commented on #2689
The client tries to download .zip or .ipa files (no idea what that is) and the connection is immediately closed. This is done by the server, so please investigate the server and proxy setup. We saw cases of nginx proxies that show this behaviour.

[2015-01-10 11:47] dragotin commented on #2687
I think this has the same root cause as #2689 . Please fix that first, and if this problem continues to happen afterwards, please reopen. Thx.

[2015-01-10 11:50] obma commented on #2690
If I search for 503-errors in the apache logs I only find old errors from January 1st, not from tonight:
[code]

[2015-01-10 11:56] danimo commented on #2689
@dragotin `.ipa` files are iOS files, stored in zip containers (renamed extension), so it's the same problem.

[2015-01-10 12:46] dragotin commented on #2690
@obma yes, that is fine. The problem in this case is probably that the external storage module on the server does **not** properly reply the 503 to indicate the client to not delete anything.

Please refer the server issue here. Thanks.

[2015-01-10 12:51] obma commented on #2690
As told before, I opened an issue in the server repo: https://github.com/owncloud/core/issues/13238

[2015-01-10 21:12] thedd commented on #2559
I have almost the same problem.
I just added about 1000 files that are smaller than 10KB each (8MB in sum) and it takes about an hour to upload them. (Server is in same LAN with 100MBit/s network connection and the only thing i noticed is that the mysql server uses around 10% CPU)

So i am guessing the file upload algorithm is very inefficient.
It would be nice if the client would upload such smal

[2015-01-11 13:03] simonspa opened #2691 "Download stalling for some files"
### Expected behaviour
owncloud client is started with an empty local folder, all files should be downloaded.

### Actual behaviour
The client fails to fetch some files (apparently only large files are problematic). That specific user has some 6 GB of data on the server, split into several thousand files. The problematic files are comparatively big (around 500 MB).

However, for test purposes I cr

[2015-01-11 13:45] LukeOwncloud commented on #1075
@ogoffart @danimo @dragotin @DeepDiver1975 @karlitschek

Below I summarize the available options for instant notifications. I'd like to know what the official oc policy about each is. There is no perfect solution but if we want to introduce instant notifications which option should it be?

From the technical view point on TPC level, instant notifications can be provided in only two ways:

1. The c

[2015-01-11 16:27] simonspa commented on #2691
One connected problem is that apparently this error condition is not caught and the full sync is stored as successfully finished, the client does not start another attempt to sync after such a problem:

[code]

[2015-01-11 19:59] bbbco commented on #2557
I have this same issue. I was trying to sync some mp3 files that are not hard links, and the client would not sync the files because of this error.

[2015-01-11 20:16] ssieb commented on #2557
@iamwebrocker That file definitely has a hard link to it somewhere.

That 2 means the file is hard linked.

[2015-01-11 20:19] iamwebrocker commented on #2557
@ssieb ah, thx - do you know of a way to find/see where this link from? this would explain why, after overwriting the file with a copy from an external backup, it was again synced -- but only once, then again it was seen as hard linked. i suspect the disc encryption somehow, but I am at a loss how to verify this…

[2015-01-11 21:17] Herve5 commented on #230
The issue is not really peer-to-peer: it's the fact that, when two sync'd machines appear to be on the same LAN, Owncloud in this case only appears pathetic when compared to Dropbox, and this case happens very, very often both in research and industry.
I know personally a dozen people that'd obviously chose Owncloud against Dropbox and renounced just because of that very feature. It's to the exten

[2015-01-11 23:15] bbbco commented on #2557
Hmmm ... my files indicate the multiple links too, but I can't seem to find the alternate paths ...

[2015-01-12 06:37] anx-mr commented on #2627
Thanks for the fix. When I build, package and install the application I also get an "unable to connect" error. If I directly start the binary everything works.

$ open /Applications/owncloud.app -> unable to connect at sync
$ /Applications/owncloud.app/Contents/MacOS/owncloud -> works

[2015-01-12 06:47] ssieb commented on #2557
You can use the find command to search for what is linked.  I don't know how your filesystem is partitioned and I don't know OS/X, so I'm assuming the GNU utilities work the same there.  Do `df filename` and see the last value on the line is the mountpoint under "Mounted on".  Now do `find /mountpoint -xdev -samefile filename`.  That will search through the entire filesystem and find all the files

[2015-01-12 07:05] iamwebrocker commented on #2557
@ssieb thank you. :+1:

[2015-01-12 08:13] guruz commented on #2627
@supportreq Do you use ```make install``` to create the .app? And then which command for the pkg?

@anx-mr Same questions ^^ to you.

Could you also give the output of ```otool -L``` for  /Applications/owncloud.app and /Applications/owncloud.app/Contents/MacOS/libocsync.dylib ?

[2015-01-12 08:24] anx-mr commented on #2627
@guruz Yes I use `make install` and the `create_mac.sh INSTALLDIR BUILDDIR` script for packaging.

otool outputs: http://pastebin.com/2JMBcdak
(otool on /Applications/owncloud.app don't work)

[2015-01-12 09:26] geez0x1 commented on #2306
I am able to reproduce this bug on 3 systems using the same owncloud server. One system is running Debian Jessie (testing), one is running Ubuntu 14.10, one is running Ubuntu 14.04. The first two use the same ownCloud account, the last a different account (although accessing a folder shared by the first account). Server is running OC 7.0.4, all clients are running client 1.7.1. The problem also oc

[2015-01-12 09:41] Melele commented on #2556
Is there progress on this topic ? I have the same problem here, I setup with http and switched to https later.. Already posted on the owncloud forum http://forum.owncloud.org/viewtopic.php?f=29&t=25760&p=77078#p77078

[2015-01-12 09:50] PVince81 commented on #2559
There's research in progress to find a way to batch upload small files: https://github.com/owncloud/core/issues/12001

[2015-01-12 09:52] manuelmoroni commented on #2556
no news for me sorry.....
keep me posted.

i used the workaround of forcing https via .htaccess  file.

2015-01-12 10:41 GMT+01:00 Melele <notifications@github.com>:

[2015-01-12 10:04] gijshvg commented on #1326
I shared the problem and also the solution (working with Mint 17 with Cinnamon). I only had to push up the delay to 20 seconds before it worked.

[2015-01-12 10:27] iamwebrocker commented on #2557
Hi, I just reproduced the problem.

1) ls --la with a working/syncing version of the file:

    -rwxrwxrwx   1 me  staff  67108864  8 Jan 18:44 container.tcr

2) open this file with truecrypt - which mounts the container in the OS X finder. Again ls -la:

    -rwxrwxrwx   2 me  staff  67108864 12 Jan 11:13 container.tcr

AHA. So truecrypt changes the file.

3) unmount container, exit truecrypt. Ag

[2015-01-12 10:56] setovi commented on #179
Is there an estimated date for this feature? Issue was opened two years ago... TIA.

[2015-01-12 11:02] LukasReschke commented on #179
Locking for contributors only because the notifications of all those "+1" are going to disturb me too much.

If you want to implement this feature please create a new issue or even better a Pull Request where we can discuss this. I think this issue left enough hints and more "+1" are not going to change anything.

[2015-01-12 14:07] dragotin commented on #1444
I merged the branch of @rullzer today (thanks!) and adopted the Nautilus plugin accordingly, so that sharing from Linux Nautilus is possible now.

Remaining tasks:
* [x] SocketAPI share commando
* [ ] Windows Explorer plugin adopted
* [ ] Mac Finder plugin adopted
* [x] Nautilus plugin adopted
* [ ] KDE Dolphin plugin adopted (not release critical)

[2015-01-12 14:22] andrewbridge opened #2693 "ownCloud client 1.7.1 won't sync files on exfat drive"
### Expected behaviour
ownCloud client successfully syncs data from second internal drive to server.

### Actual behaviour
ownCloud client attempts to sync data from second internal drive but fails with one of two messages
"Unable to initialise journal"
"CSync failed to load or create the journal file. Make sure you have read and write permissions in the local sync directory."

### Steps to reprod

[2015-01-12 14:54] rullzer commented on #1444
Public url sharing should be working pretty OK in that merge.

However sharing with users and groups (and modifying access) is still under development. I'll hopefully submit a patch for that soon. Then somebody can play with making it look decent.

[2015-01-12 16:14] dragotin commented on #2580
@DeepDiver1975 we need your help! A PROPFIND on a dir returns the entry
[code]
That is the size of the dir, magically computed recursively, awesome stuff.

But how does that work with a shared dir? Can you confirm that it calculates the data size of the shared contents? That is important for this feature, and I remember there have been discussions about this.

[2015-01-12 16:46] jospoortvliet commented on #2023
@wadtech hmmm might be a debian weirdness or something else that's missing... or a mismatch in Qt versions etc

[2015-01-12 18:14] seiferflo commented on #2559
Hi,
Just saw that post as I have to wait almost 2 days to upload 25GB with 25000 files via owncloud 1.7.1 on windows 8.1 to a Synology DS415+ & owncloud 7.0.3.5
I'm thinking of abandoning and turn back to Cloudstation which I think is not as good as owncloud but I can't work with that, it's unacceptable for us right now.
I've read PVince81 post above, but there is no activity for a month now. Any

[2015-01-12 19:08] qknight commented on #69
https://github.com/qknight/client/commit/faabcf2cf5fd995b2028a5662f2cc4f74539f1e2 fixes the "owncloud-client SSL problem" described here:  https://github.com/owncloud/client/issues/69#issuecomment-69358377

i've also cleaned up these two files: csync_owncloud.c/csync_owncloud.h where i accidentally reimported code, which was used in 1.6 but dropped in current master (which will be released as vers

[2015-01-12 19:38] Melele commented on #2556
Mine works after new installation of 7.04:
What I did:
1. upgrade all relevant folders to php 5.4
2. setup webinstallation
3. for my package I cannot use php_value and options, so I disabled # those in the config.php
otherwise I always got an error at step 3 of the installation.
4. Had to reset my database password before finishing
5. was able to finish installation
6.I changed config.php again li

[2015-01-12 19:49] qknight commented on #69
todo:
- [ ] translate all french comments into english
- [ ] remove //#UJF comments
- [ ] allow for empty .p12 password and test that it works
- [ ] command line interface for 'client certificates' is not implemented at all. at least write a FIXME not into the source for the record: self signed certificate works! as well as if i import my own 'cacert.crt' (that is my own root ca public certificate

[2015-01-12 20:30] mkymikky commented on #2559
Hi, I can reproduce very slow uploads containing a huge amount of files, both small and huge.

Scenario:
Client Version 1.7.1 (build 4382) at Windows 7 64bit, Core i7, 8GB Ram, 219GB in 46.556 files, Compressed on NTFS
Server Version 7.0.4 at Ubuntu 14.04 LTS, Cubietruck (ARM), 2GB Ram, Apache2 2.4.7, PHP 5.5.9, MySQL 5.5.35
User without Admin-Right, Unlimited Space
Network with one gigabit via tw

[2015-01-12 20:33] curtiszimmerman opened #2694 "Unlock issue #179."
[This issue about delta sync](https://github.com/owncloud/client/issues/179) is almost certainly OwnCloud's most requested feature and a very popular issue. It was locked earlier today by @LukasReschke under the guise of reducing clutter. If this particular popular issue is causing too much noise for a specific person, they can simply [unsubscribe from the thread](https://help.github.com/articles/

[2015-01-12 20:42] LukasReschke commented on #2694
No. I suggested to create a new issue if somebody wants to discuss the actual implementation not to discuss the feature. I'm subscribed to the event stream at https://github.com/orgs/owncloud/dashboard where ignoring an issue will not help at all.

Honestly, already in 2013 people where asked to stop :+1:'d that issue as you can see at https://github.com/owncloud/client/issues/179#issuecomment-226

[2015-01-12 20:49] danimo commented on #2694
I agree with @LukasReschke. We're always welcoming people who want to approach this issue to use IRC (as suggested in the developer manual), or use a push request against a development branch as an ignition spark.

The last messages are all either repeating earlier proposals, are expressions of disbelief (which does not help at all) or +1's.

In my experience, features do not appear by talking, bu

[2015-01-12 20:49] #2694 closed

[2015-01-12 20:54] manuelmoroni commented on #2556
THX a lot. If i'll decide to upgrade i'll take your advice. (Hoping i won't
need all your steps)
Il 12/gen/2015 20:38 "Melele" <notifications@github.com> ha scritto:

[2015-01-12 21:47] curtiszimmerman commented on #2694
Well, I think what you've done with that issue is wrong.

[2015-01-13 10:47] killall5 commented on #2240
I've got that error again on client 1.7.0. OS X 10.10.2.

Can't get wrong file name from log file: https://gist.github.com/killall5/939d6442c074821ca62e

[2015-01-13 11:54] qknight commented on #69
@nocteau
ogoffart from #owncloud-client-dev@irc.freenode.net asked both of us to sign the 'owncloud contributor agreement', see:
https://owncloud.org/contribute/agreement/

could you please to that, we can contribute this code?

[2015-01-13 11:58] qknight commented on #69
@nocteau
clould you please tell me what license you had in mind for p12topem.cpp/p12topem.h, you wrote that code yourself, right?

[2015-01-13 12:07] Raptormagnum commented on #69
@qknight
I write all p12topem.cpp/p12topem.h code. I think GPL is the best (like desktop client ?).

nocteau write all other code inside desktop client.

We will sign the agreement this week.

[2015-01-13 12:13] qknight commented on #69
@nocteau
that is wonderful news! thanks a lot.

[2015-01-13 12:42] danimo commented on #2474
Any update here?

[2015-01-13 12:47] danimo opened #2695 "Automatic proxy settings not working when changing the network"
### Steps to reproduce
1. connect to school network with proxy with 'automatic proxy settings'
2. connecting with android tethering or with home network => "Access denied"
3. connect to school network with proxy again => "Access denied"
4. fix: entering the proxy settings manually or restarting the client

### Expected behaviour
In all other Applications (Dropbox, Browser) the 'Automatic Proxy Set

[2015-01-13 12:53] danimo commented on #2022
ownCloud purposefully stores configs in local app data, as the application does not roam, nor is it intended to do so. if %LOCALAPPDATA% is removed on reboot by a policy, I think a workaround like described above is perfectly acceptable.

[2015-01-13 12:53] #2022 closed

[2015-01-13 12:56] danimo commented on #1645
Ok, there are two different issues here:

1. System proxy settings are not respected at all on Ubuntu: This is a Qt issue (the distro needs to provide packages with Qt using libproxy). I am not sure if this feature is available for Qt 4, but some distros have chosen to backport it. Ideally, they should migrate to Qt 5. This is tracked in https://github.com/owncloud/client/issues/2486.

2. Is a Win

[2015-01-13 12:56] #1645 closed

[2015-01-13 13:01] danimo commented on #2695
This is essentially caused by https://bugreports.qt.io/browse/QTBUG-3470

[2015-01-13 13:02] lmaestro commented on #2649
@johanehnberg Can you tested in the lates build? https://software.opensuse.org/download/package?project=isv:ownCloud:community:nightly&package=owncloud
I can't reproduce it in OS X.

[2015-01-13 13:44] lmaestro commented on #2671
@qris  Can you test it in the latest version? https://software.opensuse.org/download/package?project=isv:ownCloud:community:nightly&package=owncloud

[2015-01-13 14:01] bbbco commented on #2557
Following @ssieb 's advice:

[code]
See? I don't know why my files are showing as having two hard links, but I can only find the one path. I'm using Fedora 19.

[2015-01-13 14:38] BitVapor commented on #2627
I'm working with a fork of 1.5, but I've found that statically linking neon appears to resolve this issue.

[2015-01-13 14:44] danimo commented on #2627
The reason why we are not seeing this problem in production packages is that those get build with the 10.7 SDK to ensure backward compat.

[2015-01-13 17:53] texxasrulez opened #2696 "[Windows] [1.7.0] causes windows file manager issues"
The latest update to owncloud desktop client (1.7.0) causes (on 2 separate computers) Autocad to lock up whenever a "windows manager" is needed. When clicking on the "open" icon, it hangs when the file explorer come should come up. It also hangs when trying to insert blocks, again, the windows file explorer is supposed to open, but will not due to freezing. Once I uninstalled owncloud desktop clie

[2015-01-13 17:53] AdamWill commented on #1540
@danimo "App that use OpenSSL can, by virtue of the OpenSSL API, only work with files that have a hash (created with c_rehash)."

This is not correct. OpenSSL can load either PEM-formatted bundles or directories containing individual hashed certificate symlinks. For lots and *lots* of details, see https://www.happyassassin.net/2015/01/12/a-note-about-ssltls-trusted-certificate-stores-and-platforms

[2015-01-13 18:05] danimo commented on #1540
@AdamWill Yes, this was too much generalized, but not my point. OpenSSL reads from a hashed directory _or_ a single ca bundle file. I do not see where it would read independent bundles with multiple certs.

[2015-01-13 18:10] Faldrian commented on #1590
I got this fixed on my XFCE manually... I wrote a bash-script that I use for starting owncloud, which does the following:

- start kwalletd
- wait 5s
- start owncloud

It seems like kwalletd is not started on my system and I can't get it to start before owncloud will ask for the keyring. So this workaround does it for me.

[2015-01-13 18:28] AdamWill commented on #1540
@danimo ah, I think I may have missed https://github.com/owncloud/client/issues/1540#issuecomment-49147569 - where you suggest he has some bad hash symlinks. So, Qt's SSL stuff tries to find a hashed directory and falls back on finding a bundle if it can't? Interesting...

A stock RHEL 6 should not have any hash symlinks anywhere, I don't think, so if there are some, the reporter must've caused th

[2015-01-13 18:59] texxasrulez commented on #2696
Desktop Client 1.7.1 has the same issue.

[2015-01-13 19:08] supportreq commented on #2627
@guruz yes using make install at the end

[2015-01-13 21:42] texxasrulez commented on #2696
To be a little more specific, the pc's in question has Windows 7 and Autocad2011. I have a 3rd pc running Windows 7 and Autocad2007 that has no issues with 1.7.1 desktop client.installed and running.

[2015-01-13 21:54] texxasrulez commented on #2696
To be more specific. The 2 pc's in question are running Windows 7 and Autocad2011. I have a 3rd pc running Windows 7 and Autocad2007 with owncloud desktop client 1.7.1.4382 running with no problems with opening or inserting.

[2015-01-13 22:00] danimo commented on #2696
@texxasrulez Does the PC that shows the problem have several people logged in at once?

[2015-01-13 22:25] qknight commented on #69
**bummer**

just detected this hack of yours:

            /*QString msg = tr("<p>Could not connect securely:</p><p>%1</p><p>Do you want to connect unencrypted instead (not recommended)?</p>").arg(err);
            QString title = tr("Connection failed");
            if (QMessageBox::question(this, title, msg, QMessageBox::Yes, QMessageBox::No) == QMessageBox::Yes) {
                QUrl url(_ui.l

[2015-01-13 22:39] texxasrulez commented on #2696
Only I was logged in. As I say, it is 2 computers with the issue. Standalone license of Autocad for both. One is a Dell and the other is custom built. The only things that are the same is Windows 7 and Autocad 2011

[2015-01-13 22:40] danimo commented on #69
This code path should be triggered quite rarely now, since I have improved the heuristics, see 7ac32a19b563bb17abe7fe9c9fbc245682e34711 and 51d7559a2cb22a62b22d558fdd149d2276336d3a.

[2015-01-13 23:46] qknight commented on #69
@Raptormagnum

added the GPL header to your commit (which you probably want to be there anyway), please speak up if you disagree.

https://github.com/qknight/client/commit/cae5f39da5e4c9fbf402e1996b05733a04c708b3

[2015-01-14 00:21] pyutaros opened #2697 "Owncloud Client 1.7.1 Crashing"
I apologize if this has already been reported.  I searched and found no results.

### Expected behaviour
Owncloud should start and sync.

### Actual behaviour
Owncloud starts, icon turns gray, icon displays an exclamation point, then owncloud crashes and creates a crash report.  Relaunching will produce the same results minus the crash report.  Works fine on other Ubuntu 14.04 PC's connecting to t

[2015-01-14 00:55] danimo commented on #2697
Please provide the client output from `owncloud --logwindow -` (paste on `gist.github.com`).

[2015-01-14 01:04] pyutaros commented on #2697
Isn't that the same as owncloud --logfile?  If so, I already did.
On Jan 13, 2015 7:55 PM, "Daniel Molkentin" <notifications@github.com>
wrote:

[2015-01-14 01:07] pyutaros commented on #2697
Hmm.  I don't know why this didn't get included originally.  Sorry.

https://gist.github.com/be9803b0df0fc08b6484.git

[2015-01-14 01:15] danimo commented on #2697
Something seems to be odd with your sqlite version:

`01-13 18:52:56:343 0x82f22c8 Sqlite prepare statement error: "" in "PRAGMA quick_check;" `

Any idea @dragotin?

@pyutaros What is the output of `dpkg -l libsqlite3-0`?  It returns `3.8.2-1ubuntu2` in the version column for me in 14.04.

[2015-01-14 01:20] pyutaros commented on #2697
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name           Version      Architecture Description
+++-==============-============-============-=================================
ii  libsqlite3-0:i 3.8.2-1ubunt i386         SQLite 3 shared library

[2015-01-14 02:07] qknight commented on #69
@Raptormagnum @nocteau @danimo

can you please review this condition https://github.com/qknight/client/commit/601f562d974c82d4750064a51031fd9293a27126#commitcomment-9271474. the issue might be that other webservers might yield different error messages and the wizard thus may fail then.

# other https client error messages i get
when i try to connect using ***curl*** i get:

    curl: (35) error:14

[2015-01-14 06:02] johanehnberg commented on #2649
This is what VMs are for :). The solution is great, it refuses to sync the invalid encoding (removes the renamed folder after convmv is run) and gives a very visible warning on the status icon and account page. The client no longer crashes. I consider this bug fixed.

[2015-01-14 06:02] #2649 closed

[2015-01-14 07:34] danimo commented on #2695
@michaelstingl It would be interesting to know how to switch between proxies / disable proxies. The only way I know ho is via a dirty hack that basically means writing a PAC file that relies on an IP address range. Can you clarify? That would help with an accurate fix.

[2015-01-14 07:36] ckamm commented on #2428
@cdamken Sounds like the bug from the original report (file gets deleted) is solved.

You're reporting that
* syncing fails on windows while the file is open in Word (I think there is an issue for this, will check)
* after you're done, the file is restored to the Mac's version (is there a conflict file?)

[2015-01-14 07:46] michaelstingl commented on #2695
@danimo no hacks. Only regular user interface:
http://doc.owncloud.org/desktop/1.7/_images/settings_network.png

[2015-01-14 07:48] ckamm commented on #2662
@Robzz Thank you for the thorough report and particularly the backtrace!

The version string 1.7.0~beta1+really1.6.4+dfsg-1 is fun! The log indicates it is indeed 'really 1.6.4'. :)

It seems the problem with the null QNetworkReply was already fixed in versions >=1.7.0 by commit  7bad731ad2c0dca86576fe6f178f462dbef49a5b.

[2015-01-14 07:48] #2662 closed

[2015-01-14 07:51] danimo commented on #2695
@michaelstingl I am referring to the windows proxy settings. Contrary to e.g. OS X, they cannot specify an alternate configuration, unless (WPAD)[http://de.wikipedia.org/wiki/Web_Proxy_Autodiscovery_Protocol] is used. Is that the case?

[2015-01-14 08:05] ckamm commented on #2428
The 'sync fail' issue is related to #2070, though the other way around. In your report the sync client can't read the file while MSWord has it locked. The proposed fixes to the strength of the requested lock could also help with this problem.

[2015-01-14 09:29] ckamm commented on #2676
@moscicki I'm trying to reproduce, but wasn't successful yet.

My steps:
* Use owncloudcmd to upload a 30MB file
* Suspend immediately when PUT job starts
* Wait for 408 to appear in nginx logs
* Resume owncloudcmd, wait for PUT to finish
* Compare checksum of original file and file on server

Questions:
* Does it happen every time for you?
* How important is the timing on the suspend? Will it fai

[2015-01-14 13:08] SPQRInc opened #2698 "Synching fails - SSL Handshake failed"
Hi,
since today I'm getting the following error-message:

14:05     9448132965_fehlermeldung_mail_02.jpg                            Downloads      Could not connect to server: Connection refused
14:05     9448132965_fehlermeldung_mail.jpg                               Downloads      SSL handshake failed: Connection reset by peer
14:03     9448132965_fehlermeldung_mail.jpg

[2015-01-14 13:11] guruz commented on #880
@ckamm Are you interested in taking this over from me? For Windows using ```FindFirstFileW``` in ```csync_vio_local_opendir``` instead of the Windows POSIX stuff?

[2015-01-14 13:17] guruz commented on #2257
(Note: Might be unnecessary to do when switching to https://github.com/owncloud/client/issues/2340 )

[2015-01-14 13:27] nemphys commented on #2340
Yes, this is the way to go; I suppose DropBox is using this, since the overlays were missing when I first upgraded to 10.10 and after a few weeks (ie. DB update), they came back, but different than ever before.

[2015-01-14 14:05] guruz opened #2699 "[Windows] [OS X] Ship 1.8 with Qt 5.4"
We want this so our code can activate the new bandwidth limiting code (https://github.com/owncloud/client/issues/1849) automatically.

Semi-related: https://github.com/owncloud/client/issues/2558

@danimo Says:
[code]

[2015-01-14 14:06] guruz commented on #1849
@lmaestro FYI This can be tested when https://github.com/owncloud/client/issues/2699 is done..

[2015-01-14 14:10] guruz commented on #2696
@ogoffart Does this smell like https://github.com/owncloud/client/issues/2576 ?

[2015-01-14 14:14] guruz commented on #2697
@ckamm Since 40f44c23890dd5fca86928b0f7c0d3f4218b7fc4 is from you, do you have any insight on this?
Why would ```sqlite3_prepare_v2``` return ```!= SQLITE_OK``` ?

[2015-01-14 14:20] guruz commented on #2698
We can't help you if you provide no information. Please see https://github.com/owncloud/client/blob/master/CONTRIBUTING.md

[2015-01-14 14:24] guruz commented on #2691
Is that a shared file? Anything else which could be special?

[2015-01-14 15:03] guruz commented on #1228
@tps800 Do you still get this with 1.7.1 ?
What version of libsqlite3 do you have installed?

[2015-01-14 15:03] rullzer commented on #1444
I just created another pull request https://github.com/owncloud/client/pull/2700
This allows user/group sharing. Still not complete. But maybe somebody can have a look at the UI already :)

[2015-01-14 15:10] guruz opened #2701 "[Windows] Fix sqlite3 for sync folders on FAT(?) permissions"
We need to find out if WAL (that was activated for 1.7.0) is a problem and we'd need to detect FAT(?) or if there is another way.

Related:
* https://github.com/owncloud/client/issues/2693
* https://github.com/owncloud/client/issues/2673

"On Windows, Microsoft's documentation says that locking may not work under FAT filesystems if you are not running the Share.exe daemon. " https://www.sqlite.org

[2015-01-14 15:11] MorrisJobke opened #2702 "Proper failure message on misspelled config option"
It looks just weird if something like this happens:

[code]

It looks like it started just fine, but it was a weird feeling. It took me 10 minutes and looking for some icons in my task bar, checking directory permissions, looking through running processes before I recognized the typo in the command. Is it possible to have a little message `confdif is not a valid config option`? That would help a l

[2015-01-14 16:38] remixtj opened #2703 "On windows when owncloud directory is set to a network share, "Open Folder" menu entry doesn't work"
In my windows environment folder redirection is used. The redirected folder is on a network share. The owncloud directory is inside this network share. When the user make right click on the icon and clics on the entry **Open Folder 'OC SYNC'** nothing happens.
I started the client with logging window and logging file enable and i've seen  this error entries:

There is cleary an error on encoding t

[2015-01-14 16:50] danimo commented on #2703
Fixed by merging referenced issue to master.

[2015-01-14 17:10] danimo opened #2705 "[Mac] Updater does not work"
We need to find out what's wrong and establish a way to diagnose Sparkle problems more reliably.

[2015-01-14 22:04] Havenard opened #2706 "Renaming folder to same name but different case causes folder to be deleted from server when others try to sync"
I had a folder named "Clientes" inside a shared folder and it was renamed to "CLIENTES", when other users I share with tried to sync, the folder was deleted for everyone.

Aparently the other users' clients were trying to sync still using the old folder name.

Now I have peers that insist the folder "Clientes" or "CLIENTES" both still exist [not mutually in the same client of course] even though n

[2015-01-14 22:42] jimcglaughlin opened #2707 "Adding a new subfolder to a shared folder automatically marks that subfolder as being shared on all clients"
We are testing ownCloud 7 Community Edition on Ubuntu with several ownCloud Desktop Windows clients ver 1.7.1.
 We added an existing directory to the External Storage area to so the clients can select folders to sync with...for example:
 ---Top_Level_Share
 -------Shared_Folder_1
 -------Shared_Folder_1
 -------Shared_Folder_3
 On each ownCloud Client, we can select 'Choose what to sync' and just

[2015-01-14 23:19] tregeagle commented on #1228
I was having the same error and just realised the drive containing the owncloud directory was not mounted. Silly me :/

[2015-01-14 23:45] awnz commented on #2576
Finally got to re-test - bug still present in v1.7.1 (build 4382).

Sorry for taking so long!

[2015-01-15 09:02] danimo commented on #2707
cc @MTRichards @ogoffart

[2015-01-15 09:52] ogoffart commented on #2707
Currently the sync alogirthm do not treat shared folder or normal folders differently.  When you add a new folder on your laptop, you want to have it on your desktop. So new folder automaticaly get sync'ed.

If new folder don't get sync'ed automatically, how are you supposed to know there is a new folder?

[2015-01-15 10:02] ogoffart commented on #2580
The size is now shown (using the quota-used-bytes reported from the server)

[2015-01-15 10:38] ogoffart commented on #2673
It appears that the local database is corrupted.
I have made a commit so 1.8 will explixitly say that the database is corrupted.

Maybe we should have some mechanisms to automatically recover from corrupted journal?

[2015-01-15 10:53] dragotin commented on #2703
Reopen for @lmaestro

[2015-01-15 10:54] #2614 closed

[2015-01-15 10:59] edd-- commented on #60
just tried the latest nightly of 1.8, problem still exists. Should this already be solved ?

[2015-01-15 13:03] moscicki commented on #2667
The problem is that this scheme of client/server interaction is not a proper protocol but it is (ab)using knowledge of implicit behaviour of chunk upload implementation on the owncloud server (which btw is extremely inefficient as it needs to write and read the file content twice by writing and concatenating chunks). You can easily think of much more robust implementation of the server which store

[2015-01-15 13:29] moscicki opened #2708 "data corruption: byte-range request stores (again) incomplete file"
We have had a case of incomplete file stored by the client (similar to case #2548 but without Connection Close error on the first attempt).

The client does the byte-range request to fetch the reminder of the GET which was previously interrupted and then stores that reminder instead of concatenating it to the first part.

The second problem is that the protection to check if the length of the file

[2015-01-15 13:44] ogoffart commented on #2667
I don't see how it is a problem.  The chunks can come in any order, and even in parallel.
This is why the client also put the chunk size as an header, so the server can write the chunk in place because it knows that all chunk but the last one will have the same size.

[2015-01-15 13:46] ogoffart commented on #2667
I agree coding against an open protocol is good. But as long as there is no open protocol to follow, this is out of scope of this bug tracker.

I understand you are trying to make such open protocol and i'd be glad to help.

[2015-01-15 14:15] ogoffart commented on #2708
What version of the client are you using exactly?

[2015-01-15 14:38] jimcglaughlin commented on #2707
We are looking for a solution to the following…

We keep job folders on a server…they are created on the server.  If an engineer wants to work on a job, he will pull the files from the server and do his work in the office, at home, or in the field.  Later, the engineer will upload his files back on the server to keep what is on the server current.  Let’s say 4 engineers are working on the same job

[2015-01-15 14:40] moscicki commented on #2667
That's really great! We have started writing it up, of course this is very preliminary: https://github.com/cernbox/smashbox/tree/master/protocol

It does not cover the error handling cases yet (like the one discussed in this issue).

[2015-01-15 14:45] moscicki commented on #2708
1.7.1, redhat6, rpm: owncloud-client-1.7.1-1.2.x86_64

[2015-01-15 15:06] ogoffart commented on #2708
Do you have a more complete log?
The error "The file could not be downloaded completely" do appear, in the log, but not the corresponding debug output which talls the value of each things.
Also it does not show the value of the Range header.

What is the server exactly doing.
Normaly, what we expect is this:

We send the "Accept-Ranges" and "Range" header in the GET request.

If the server replies

[2015-01-15 15:16] ogoffart commented on #2707
One idea is to use different sync folder.
Instead of syncing the root directory, you can click on "Add Folder..." and then choose to sync only some of the folders.

[2015-01-15 15:57] moscicki commented on #2708
Sorry, some lines have been cut while copy/paste. Below is a more complete log (notice that we have had two files with this problem).

I also manually run the GET with the range request on this file:
[code]

The request header generated by curl was:
[code]

The response header from the server was:
[code]
And it indeed downloaded the Content-Length number of bytes into my tmp file.

Here is the log

[2015-01-15 16:21] ogoffart commented on #2708
`Content-Range: 76289528-307321081/307321082`

That's not a valid content range header.
it is missing the "bytes"

RFC2616:
[code]

The "bytes" is mandatory AFAIK.

Anyway, since we can't parse the content-range header, we assume the server don't support it. That's a mistake which i'm going to fix.

[2015-01-15 16:35] qknight commented on #69
@Raptormagnum @nocteau @danimo @ogoffart

# todo
my todo list is getting smaller:
https://github.com/owncloud/client/issues/69#issuecomment-69633156

i've also incororapted all the chagnes ogoffart wanted me to do. that is, together we did a code review on irc two days ago but i don't want to copy the list here.

# wizard
still, one major issue is the wizard:
https://github.com/owncloud/client/iss

[2015-01-15 16:52] moscicki commented on #2708
OK, so it looks like that a server bug triggered a client bug. Sweet. ;-)

I think that if the server does not support the content-length header or if it returns a malformed value of Content-Range then the file should be re-downloaded fully again. I don't think that we should try to parse the malformed value (heading "bytes" missing).

[2015-01-15 17:02] MTRichards commented on #2707
Interesting use case. The add folder option would be one way to do it, and it is currently supported and simple enough to set up - though the UX is a little more work.

Do you mean that this all happens automatically though, and an admin can decide whether a folder is auto synced or not - even when not the root folder? I am curious how you would articulate the use case, and then differentiate it f

[2015-01-15 17:02] moscicki commented on #2676
@ckamm: sorry I was a bit overloaded, I will come back on this to you tomorrow

[2015-01-15 17:20] FrancisBou commented on #1622
Did you have any success with this?

[2015-01-15 22:14] scolebrook commented on #2707
@MTRichards @ogoffart I opened a support ticket a few days ago discussing this issue. We have a similar need to have the logic of selective sync reversible. There are any use cases where you'd want to have it default to not check new folders in the list by default. @jimcglaughlin demonstrates one of using owncloud as a file server sync tool to sync selected file server content with a local hard dr

[2015-01-15 22:22] tomtana commented on #2023
Hey, I am running kUbuntu 14.04 and I had exactly the same problem.
The sni-qt fix worked for my, thanks for the hint !

[2015-01-15 22:36] texxasrulez commented on #2696
I would have to check when I get back to work. I have the owncloud desktop client installed on several pc's and the only issues I have seen or been told of is the Autocad situation. I will verify registry entry tomorrow.

[2015-01-16 08:03] ckamm commented on #2697
@guruz No insights.

But what's clear is that SqlQuery::prepare() fails to properly fill _error based on the return code. That function should either somehow use SQLITE_DO or manually fill _error. Fixing that will give us a more useful error message.

[2015-01-16 08:05] mosandlt commented on #43
Hello,

i wrote for me a small wordpress site, see - http://www.mosandl.eu/2014/04/start-owncloud-sync-client-twice/

cheers

[2015-01-16 08:13] danimo commented on #43
Note that all the workarounds will cause issues, such as overlay icons not working reliably.

[2015-01-16 08:14] mosandlt commented on #43
for me, tested in mac and windows i have no issues right now

[2015-01-16 08:20] ckamm commented on #2070
@lmaestro and others: it would be interesting to hear if the latest windows nightlies reduce or solve these kinds of problems (http://download.owncloud.com/desktop/daily/ >= 20150116). In particular: does working on a synced file with Word/Excel work better now?

[2015-01-16 08:23] ckamm commented on #2428
@cdamken It's a long shot, but we made some progress on #2070. Could you check if the behavior changed with the latest nightlies? (http://download.owncloud.com/desktop/daily/ >= 20150116)

[2015-01-16 08:36] ckamm commented on #2661
@DACN The first thing to check would be whether these are actual timeouts on the server. Do you have enough access to check the log files? Do you see timeouts involving apache/nginx calling owncloud's php code?

[2015-01-16 09:12] dragotin commented on #2428
The original issue of loosing the file is fixed. The other problem with blacklisting is handled in another issue, hence closing this.

[2015-01-16 09:27] #2301 closed

[2015-01-16 09:56] lmaestro commented on #2703
@remixtj Which version are you using? 1.7.1? And what windows do you have? I use a local folder which is on a network share without problems. Do you do something more? Which mean " folder redirection is used"?

[2015-01-16 09:58] danimo commented on #2703
@lmaestro I think he's referring to accessing a network share directly via the UNC namespace, i.e. `\\servername\sharename\folder`

[2015-01-16 10:14] lmaestro commented on #2703
For me it works in 1.7.1 on Windows 8

[2015-01-16 10:33] remixtj commented on #2703
@lmaestro both 1.7.0 and 1.7.1. We're using Windows 7. Our owncloud directories are on \\servername\share\personal_folder\owncloud like said by @danimo

It's quite strange that you say it works on 1.7.1, since there's no code difference between the .0 and .1:
https://github.com/owncloud/client/blob/9cbe8bf5779abad0c2b5669d32d2adda504eb24b/src/mirall/owncloudgui.cpp#L403
https://github.com/owncloud

[2015-01-16 11:01] jancborchardt opened #2711 "Settings dialog top navigation looks strange in OS’s other than OS X"
For OS X the top navigation in the settings dialog is ok. For other operating systems, having it to the left looked much better. There is just no good widget to make it look nice on top.

It will also be way better for the multi-account feature so we can have the accounts listed.

 cc @danimo @dragotin

[2015-01-16 11:04] jancborchardt commented on #1444
@rullzer awesome! Some feedback regarding the sharing dialog:

* [ ] It needs to be clearer what will be shared. On the top of the dialog there should ideally be a thumbnail and the filename (or folder name, or multiple file names).
* [ ] Merge the user/group field into one and label it »User or group …«. The label above should only be »Share with«
* [ ] We need type-ahead autocompletion for the u

[2015-01-16 11:05] danimo commented on #2711
@jancborchardt on the contrary: This way we have a consistent design, and can make the accounts go on the right side. As to "there is no good widget to make it look nice": Thunderbird does the same, but I agree it looks better because they have a) more items and b) our icons are too monotone and lack detail to be scaled up. I think we should rather work on providing better icons and tweak the widg

[2015-01-16 11:07] alefattorini commented on #1444
@jancborchardt can I help? How can I test this dev version on my pc?

[2015-01-16 11:09] remixtj commented on #2703
I found that my actual configuration in %LOCALAPPDATA%\ownCloud\folders there is a file containing this config:

[IC4Sync]
localPath=\\\\server\\home\\redirect\\user\\Application Data\\IC4Sync
targetPath=/
backend=owncloud
connection=ownCloud
blackList=@Invalid()

How is your config file? contains the same escaping that is present on mine?

[2015-01-16 11:14] dragotin commented on #2711
I agree to jan tbh. We agreed long time ago that we line up the different accounts underneath (or above) the tabs for General, Activity and Network.

Activity could also be somehow removed, as it is account related and maybe moved to each account view.

[2015-01-16 11:20] jancborchardt commented on #1444
@rullzer @dragotin @guruz basically what I’m saying is that maybe it’s wiser to start with only the »Share by link« feature in the dialog, and postpone the sharing to other users. Until we have the proper API to return users from the server.

[2015-01-16 11:27] Bridgesltd commented on #1444
completely agree with @jancborchardt comments above. It would likely be easier to implement the whole sharing feature by keeping it simple first and then expanding on to users / groups.

[2015-01-16 11:34] rullzer commented on #1444
@jancborchardt @Bridgesltd That was my idea as well initially. But then I went ahead and started implementing the rest as well. So I guess the best way for now is to just go ahead and remove all the user/group stuff. At least from the UI.

So we indeed need to get the server involved. Since right now we need two lines (one to share with group and one to share with user). Since they are different s

[2015-01-16 12:06] guruz commented on #1813
This will be fixed as part of https://github.com/owncloud/client/issues/2507

[2015-01-16 12:09] ckamm commented on #2324
@cdamken any news on reproducing this with newer versions?

[2015-01-16 12:09] guruz commented on #60
@edd-- Unfortunately not.

Note to self: Possibly use the same hook mechanism as https://github.com/owncloud/client/issues/2507 (but single-threaded) to use Qt's ```QDirIterator``` (if performant enough). This should kill of csync's VIO for good and fix this issue.
(+ possible fix for ```csync_win32_set_file_hidden``` to use ```\\``` notation for long filenames)

[2015-01-16 12:23] guruz commented on #880
Another idea instead of using ```FindFirstFileW``` directly In the same go this should fix https://github.com/owncloud/client/issues/60 via https://github.com/owncloud/client/issues/60#issuecomment-70245354

[2015-01-16 12:24] guruz commented on #2699
FYI regarding the OS X deploy script
[code]

[2015-01-16 12:26] guruz commented on #2699
Related https://github.com/owncloud/client/issues/2140

[2015-01-16 13:20] lmaestro commented on #2703
Ok, sorry I was using "Map network drive" instead of only config the path so now I can reproduce in 1.7.1.
And I tested that it is fixed in the latest version (1.8.0-nightly20150116 build 4590) . Thanks for the help.

[2015-01-16 13:20] #2703 closed

[2015-01-16 13:57] jancborchardt commented on #1444
@rullzer cool, great stuff! :) Yeah, sometimes we have to see what’s feasible to include in a next release.

We for sure want to include the sharing with users/groups in the future, but we need to have it polished for that. :)

[2015-01-16 15:02] cdamken commented on #2428
@dragotin https://github.com/owncloud/client/issues/2428#issuecomment-70226646 Which issue are you talking about? Please reference it to follow it up.

[2015-01-16 21:37] odaata commented on #2170
Yep, I can confirm similar behavior in my sync client. Basically, if you uploade large files that aren't synced yet and change the name of a directory somewhere above those files, it causes sync errors and creates new directories on the server with the old name. It also tends to split out the files before and after the rename. To delete the aberrant files, you have to remove them via the website.

[2015-01-17 01:02] carlaschroder commented on #1261
I forgot to close this. http://doc.owncloud.org/desktop/1.7/navigating.html#using-the-ignored-files-editor
Thanks @KeyboardMidas

[2015-01-17 01:02] #1261 closed

[2015-01-17 09:33] rullzer commented on #1444
Ok so more commits are done :).

- [x] I removed the user/group sharing for now.
- [x] Added top section that shows what is being shared. I can't really test the icon since I do not have icons on WM. So somebody please test.
- [x] Cleaned up the code a bit.
- [ ] More error handling. A lot is already done but still this has to be fixed further. It is a bit tough to test sometimes tough.

So please

[2015-01-17 16:28] KeyboardMidas commented on #1261
NP ... looking good!

On Fri, Jan 16, 2015 at 8:02 PM, Carla Schroder <notifications@github.com>
wrote:

[2015-01-17 17:16] rullzer commented on #2524
I looks like this is already the case in the current master branch, so this should be added fixed in the next release.

[2015-01-17 19:45] te-online commented on #2604
The point of (2) might be, that you have folders in your *local* owncloud-folder that won't get uploaded to the *remote* owncloud. On the one hand, this is a nice feature e.g. for having a documents folder on your computer and only *backup* a few files from this folder to your owncloud. On the other hand, it adds complexity to the client and for the user to configure it correctly.

[2015-01-17 19:53] te-online commented on #1971
+1 for this enhancement. Might not be too hard to implement, as there already is an option to pause every single account.
If you regularly work while being on mobile data plan, you don't want owncloud to sync big stuff. My solution for now is to quit owncloud for that time, but than I often forget to start it again afterwards.
An option to only sync files under 2 megabyte or so would be awesome, b

[2015-01-18 01:31] danimo commented on #1971
Feel free to continue on the branch I pushed (some code that I had lying around half-baked and ported to master now. The following is missing:

- [ ] Blessing of the approach by @jancborchardt
- [ ] Some kind of reflection of a global pause state in the settings/status dialog
- [ ] Persistence of the pause state across restart

Who wants to pick this up?

[2015-01-18 01:34] danimo commented on #1971
This is how it currently looks:

![image](https://cloud.githubusercontent.com/assets/1315934/5791092/79268ee2-9eba-11e4-9e0f-4433ec13c55c.png)

[2015-01-18 01:38] danimo commented on #2468
Duplicate of #1971. Please follow this one.

[2015-01-18 01:38] #2468 closed

[2015-01-18 09:25] te-online commented on #1971
Looks great. I might try to look into it to see what I can do by end of next week.

[2015-01-18 11:44] danimo commented on #1971
@te-online Also, the local pause option should maybe be renamed to Enable/Disable again, so it's not too confusing.

[2015-01-18 13:54] jvchappell commented on #2154
@jnweiger I have tried your instructions here:

https://github.com/owncloud/client/issues/2154#issuecomment-57211540

with epel 7.5 and 7.2 but am getting dependency issues on libgnutls.so.26 (.28 is installed on Centos7)

is there a more recent build that works?

Thanks for your help :)

[2015-01-18 17:39] muetze-online opened #2712 "owncloud-hoster disadvice owncloud-client"
Hi,

I don't know, if this is the right address for my question. Feel free to delete this topic and tell me an address for my question.

I use the owncloud-client from version 1.4 until now and I see a big growing of its stability and overall usability.
owncube.com as an owncloud-hoster disadvises its users to use the own cloud-client: https://owncube.com/syncapps-de.php. How can a provider, which

[2015-01-18 17:45] LukasReschke commented on #2712
No.

Also here: No, ownCube does neither work together with the development team nor is an officially supported supporter.

@jospoortvliet We discussed this a while back ago and had some discussion via mail about this. – What is the status?

\cc @karlitschek FYI

[2015-01-19 01:33] karlitschek commented on #2712
As discussed owncube should be removed from the provider page. They clearly have no interest in working with the ownCloud community in a productive way.

[2015-01-19 05:03] strugee opened #2713 "Integrate with GNOME Online Accounts"
GNOME's Online Accounts feature has had the ability to connect to ownCloud for a while now (see [GNOME bug 660573](https://bugzilla.gnome.org/show_bug.cgi?id=660573)). It would be nice if Mirall made use of this.

At the bare minimum, Mirall should offer to import account information from GNOME on startup, but ideally, the account information would be shared between GNOME and Mirall such that chan

[2015-01-19 05:40] LukeOwncloud commented on #2524
You are correct. It was already silently fixed in version 1.7.1. Closing.

[2015-01-19 05:40] #2524 closed

[2015-01-19 07:17] danimo commented on #2712
That has already happend, so I'll close this issue.

[2015-01-19 08:12] strugee commented on #2712
I still see it listed on owncloud.org/providers.

[2015-01-19 08:29] danimo commented on #2712
My bad, missed it. Fixed now.

[2015-01-19 08:29] #2712 closed

[2015-01-19 08:36] kaneo-gmbh opened #2714 "external storage with several users never sync"
Hello,

we encounterd a problem while using the external storage feature of owncloud.

We have a smb-folder configured with passing the ownCloud user/password for smb authentication. The folder is accessible read/write for several users.

If one user is adding or modifying a file, the file will sync as desired from the users desktop-client or the users web-interface to the server. This step works

[2015-01-19 08:57] danimo commented on #2714
This seems to be a server problem then, @DeepDiver1975 ?

[2015-01-19 11:03] DeepDiver1975 commented on #2714
indeed a server issue .... let's move this over

[2015-01-19 11:03] #2714 closed

[2015-01-19 12:20] Watchwolf commented on #2618
Client Linux version 1.7.1
Server Linux version 7.0

I wait more than 30 sec and I try to stop/restart the client. The client say that the sync is done but it did'nt sync the new share.

Then I create a file in the shared folder and delete it immediately, the last change time of the folder become a few seconds.

After a few seconds the client sync the folder automatically.

[2015-01-19 13:04] VBoudry commented on #2076
Hi,
I have had a similar problem:
- sync'ed a complete directory hierarchy
- at next restart of the Client (OSX10.10, v1.6.4 build 1195) all the files were downloaded with the time set to the download time.
  [I had to manually restore the files]

This seems to point out a bad handling of creation/modification time.
I personnally don't see any good reason not to keep the mod time across machines,

[2015-01-19 13:40] stonerl opened #2715 "Missing monochrome icon"
I'm running the client, v. 1.7.1 Build 1655, on OSX 10.10. In the settings I chose the monochrome icons, but one tray icon still remains colored.

![icon](https://cloud.githubusercontent.com/assets/2091312/5801232/061624a0-9fe9-11e4-8ea0-d10d99dc9abb.png)

[2015-01-19 13:55] mktsai opened #2716 "[OS X] GUI not show Chinese (Taiwan) language. ver 1.7.1"
I remove ver 1.6.3 of client app, then install ver 1.7.1(build 1655).

All Chinese font look like block(screenshot below). but 1.6.3 was works great for me.

screenshot:
http://i.imgur.com/0v2UjX1.png

Operating system:
Mac OS X 10.10.1

ownCloud version:
ownCloud 7.0.2 (stable)

Client version:
1.7.1

Operating system:
Mac OS X 10.10.1

OS language:
Traditional Chinese

Installation path of clien

[2015-01-19 13:55] rullzer commented on #2550
This has been implented (at least since December 5th according to git blame).

[2015-01-19 13:55] #2550 closed

[2015-01-19 14:07] lmaestro commented on #2675
I tried to reproduce this issue with 1.7.1 and it is not reproduce.
When I tried to reproduce it with the latest version I have this error: "Error downloading server replied- unkonwn ()"

Logs

[code]

[2015-01-19 14:21] craigpg commented on #2705
@danimo, how broken is the Mac updater?

[2015-01-19 14:27] guruz commented on #2675
Check the exception... is your server disk full?

```Sabre DAV Exception InsufficientStorage```

[2015-01-19 14:33] MTRichards commented on #2685
No matter what the cause, losing data is a significant problem. We need to at least preserve the data and recognize the case, and then fix it.

[2015-01-19 14:56] craigpg commented on #2673
What is the workaround when the database gets corrupted?

[2015-01-19 15:03] guruz commented on #2352
With #2507 it is easily possible to get the root etag from the DiscoveryJob instead and thus avoiding the next sync.

[2015-01-19 15:37] guruz opened #2717 "[Windows] Compile with MSVC on build system (64bit)"
(todo)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7873594-windows-compile-with-msvc-on-build-system-64bit?utm_campaign=plugin&utm_content=tracker%2F216457&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F216457&utm_medium=issues&

[2015-01-19 15:40] danimo commented on #2607
@michaelstingl ping?

[2015-01-19 15:43] guruz commented on #2716
Thanks!

@danimo why could this regress?

closing because duplicate of https://github.com/owncloud/client/issues/2640

[2015-01-19 15:43] #2716 closed

[2015-01-19 15:45] cdamken commented on #2428
@dragotin I double checked, the original issue is not fixed: the file is not uploaded, and the blacklisted file is not synced (maybe if you provide the reference of that issue here) and that means information lost for some users.

[2015-01-19 15:47] dragotin commented on #2699
Its gold because we need it for the new bandwidth limiting.

[2015-01-19 15:50] ogoffart commented on #2696
Closing as a duplicate of #2576

[2015-01-19 15:50] #2696 closed

[2015-01-19 15:50] cdamken commented on #1821
Any news?

[2015-01-19 15:55] danimo commented on #2695
@michaelstingl I mean on the windows system settings

[2015-01-19 15:56] guruz commented on #2691
@DeepDiver1975 FYI the quota job aborts the sync because the quota job times out.
@ckamm has seen this before, we were told the QuotaJob is cheap but maybe is not?

[2015-01-19 15:57] guruz commented on #2686
@Rene33 Did you compile from source?

[2015-01-19 16:01] DeepDiver1975 commented on #2691
@guruz what request is used to query the quota? THX

[2015-01-19 16:02] simonspa commented on #2691
@guruz: nope, no shared file, no encryption, nothing special that I'm aware of.

What I also observed is that for large files it seems to take ages until the download actually starts - but then download speed is as expected.

[2015-01-19 16:02] #2644 closed

[2015-01-19 16:03] guruz commented on #2675
@lmaestro This needs to be tested with 1.8.x not 1.7.1

[2015-01-19 16:04] guruz commented on #2673
@craigp I don't think it is corrupted. I think the problem is https://github.com/owncloud/client/issues/2701

[2015-01-19 16:05] dragotin commented on #2673
lets close this one as a duplicate of #2701 This one is about SD-Card which probably also uses FAT file system.

[2015-01-19 16:05] #2673 closed

[2015-01-19 16:06] Rene33 commented on #2686
@guruz no, I used the .pkg available on the site.

[2015-01-19 16:07] ogoffart commented on #2671
This should be fixed by commit 8e3dbcb which will be in 1.8

[2015-01-19 16:07] #2671 closed

[2015-01-19 16:08] guruz opened #2718 "Copy exception name if <s:message> is empty"
See https://github.com/owncloud/client/issues/2675#issuecomment-70499956

We should extract the exception name to display to the user
Because ```<s:message></s:message>``` is empty

[2015-01-19 16:09] guruz commented on #2661
@DACN Also.. which DB do you use for your server installation? You should not use the sqlite3 one..

http://doc.owncloud.org/server/7.0/admin_manual/maintenance/convert_db.html

[2015-01-19 16:09] #2666 closed

[2015-01-19 16:21] danimo commented on #2648
https://bugreports.qt.io/browse/QTBUG-18057 related?

[2015-01-19 16:22] dragotin commented on #2647
I am closing this one. @m1dnight please create a new issue if you see that again.

[2015-01-19 16:22] #2647 closed

[2015-01-19 16:23] danimo commented on #2640
Let's check text codecs

[2015-01-19 16:26] guruz commented on #2648
@danimo yes that's the reason I was asking for the video memory. But I doubt this is the real cause.

[2015-01-19 16:26] guruz commented on #2648
@danimo won't Qt 5.4 possibly select a different rendering backend or so? Which could influence this?

[2015-01-19 16:27] dragotin commented on #2641
Closing this here, because we should really track it in the server repo under core #12044

[2015-01-19 16:27] #2641 closed

[2015-01-19 16:39] guruz commented on #2641
FYI We think this is a server issue

[2015-01-19 16:42] guruz commented on #2691
@DeepDiver1975 https://github.com/owncloud/client/blob/0ae9055ea67d80354b17f5f4a8503edee8cf45cd/src/libsync/networkjobs.cpp#L597

[2015-01-19 16:56] dragotin commented on #2540
This needs more discussion. We can not **easily** provide tests for the job classes, we need a server etc etc. We need to see how that than is different from tx.pl or smashbox.

[2015-01-19 17:04] dragotin commented on #2400
duplicate of #2328

[2015-01-19 17:04] #2400 closed

[2015-01-19 17:21] guruz commented on #2306
@moscicki @geez0x1 How many files in that sync folder?

[2015-01-19 17:26] guruz commented on #2252
Moving to 1.8 while waiting for the server guys to reply.

[2015-01-19 17:27] dragotin commented on #2233
@lmaestro it should be fixed with 1.7.1 - can you verify please?

[2015-01-19 17:34] dragotin commented on #2107
We will move to the new Mac OSX 10.10 API at some point in the future.

[2015-01-19 17:41] moscicki commented on #2540
Yep. Ideally we would also like to do some fault injection like timeouts, connections interrupted, packets lost, etc.

[2015-01-19 17:47] guruz commented on #2640
One of the Qt developers (Gabriel) mentioned that 5.4 fixes this?

[2015-01-19 17:52] dragotin commented on #1614
This is done, we have the visual feedback during discovery phase now.

[2015-01-19 17:52] #1614 closed

[2015-01-19 17:53] dragotin commented on #1565
@lmaestro can you pls. verify this with current version? Thx.

[2015-01-19 17:58] danimo commented on #1529
Merged @rullzer 's patch. Closing because I do not think it should be sorted by status (that would seemingly randomize it again).

[2015-01-19 17:58] danimo commented on #1529
Thanks @rullzer btw!

[2015-01-19 18:05] remixtj opened #2719 "[windows] When creating explorer favorite use more specific windows functions"
I'm experiencing problems with the creation of the favourite on Windows 7, using folder redirection. I made some research for the problem and found out that client tries to create a link on the wrong place. My "Links" directory is on a cifs share: \\server\homes\username\Links. This wrong behavior is caused by the function setupFavLink_private in [utility_win.cpp](https://github.com/owncloud/clien

[2015-01-19 19:02] VincentvgNn commented on #2252
@guruz
On January 17th I found again an example of a file where the mtime was changed to the current time.

Meanwhile I'm using OC server 7.0.4 and OC client 1.8.0.4536-nightly20150108.

On the server I can also find some files like: "filename".ocTransferId1566750467.part. These remaining partial files are not cleaned-up. Maybe this is another issue?

[2015-01-19 20:49] cdamken opened #2720 "Sync client cannot login using Shibboleth on Apple OSX prior to 10.10"
We now have two occasions of users reporting that no client can login on our IdP (SimpleSAML) when using Apple OSX prior to Yosemite. When performing a fresh install of the client you can’t get past the Wizard because of this. When users select other IdP’s it works without any issue.

At the IdP side we do not see any attempt of the user to login while no Firewall is blocking the requests. When th

[2015-01-19 21:25] DACN commented on #2661
Have dug out all the logs which refer to this particular file word2011. This is what I can see..

LOTS OF LINES LIKE THE NEXT RE CHUNKING ...
access.log.17.gz:mm.mm.mm.mm - david.nicol [02/Jan/2015:12:54:10 +0000] "PUT /owncloud/remote.php/webdav/downloads/word2011.exe-chunking-2945636270-30-29 HTTP/1.1" 499 0 "-" "Mozilla/5.0 (Windows) mirall/1.7.1"
access.log.17.gz:mm.mm.mm.mm - - [02/Jan/2015:1

[2015-01-19 21:26] MorrisJobke commented on #2720
@danimo @dragotin Who of you has more experience with Mac OS X? Can you check this out? Thanks

[2015-01-19 21:29] danimo commented on #2720
@MorrisJobke To me that looks more like the matter of the client version than the OS version. Are we certain that the same client versions are involved? (i.e. 1.6.x shipped an older webkit that was known to not load the page correctly).

[2015-01-19 21:30] danimo commented on #2720
Some background, this is the central error:

It is issued by QtWebKit

[2015-01-19 22:59] qknight commented on #69
@Raptormagnum @nocteau @danimo @ogoffart @guruz

# SSL client cert supported 'master'

**good news! here is a preview of the merge i've been doing:**
https://github.com/qknight/client/tree/ssl-client-certs-reduced-merge-preview

it could be merged directly. but i want to have some feedback first and i'm also thinking about a rebase of these features to the current master. what do you devs want?

#

[2015-01-20 02:39] WayneSan opened #2721 "Miss the Chinese text font in version 1.7.1 on Mac."
After update to version 1.7.1, the Chinese characters cannot be shown as expected. (The locale is `zh_TW`.)

![screenshot](https://cloud.githubusercontent.com/assets/457527/5811316/b752df0a-a08f-11e4-9611-20a8faeaa875.png)

[2015-01-20 05:59] MattiJoh commented on #455
The example of icon: http://sc20k1.deviantart.com/art/ownCloud-Icon-492615985
![owncloud](https://cloud.githubusercontent.com/assets/8496953/5812785/74378f9a-a026-11e4-9433-00d86ab8b380.png)

[2015-01-20 07:15] rullzer commented on #2715
This seems the same as #2593 which will be fixed once pull request #2709 is merged.

[2015-01-20 07:15] #2715 closed

[2015-01-20 07:22] danimo commented on #2593
Fixed for 1.8.0.

[2015-01-20 07:22] danimo commented on #2593
Fixed for 1.8.0.

[2015-01-20 07:42] kaneo-gmbh commented on #2714
For me this seems not to be really clear. It seems that the Web-UI is triggering to read / discover content of external storage by default. Mybe the desktop-clinet just needs to "send" the same command / request to the server as the Web UI does.

But I don't know any detail about the internals. It would be very nice to get a short explanation, could you help with that?

Thanks in advance, Andreas

[2015-01-20 08:19] DeepDiver1975 commented on #2714
@kaneo-gmbh the situation needs to be analyzed first in details - but we had similar situations in the past. To me this looks like that the web ui is triggering a rescan on the folders an detects the changes - where as connections via the WebDAV interface don't do this.

[2015-01-20 09:01] offlinehoster opened #2722 "Adding the same account on repeat"
Everytime, i would like to use my owncloud client on my android phone, i have to re-enter all the account credentials, because the client don't save the credentials.

Android: 4.4.2
Device Samsung S4
ownCloud Client version: 1.6.2

This happens after an client update too.

[2015-01-20 09:11] danimo commented on #2722
This is the desktop client bug tracker. Please file in https://github.com/owncloud/android/issues. Thanks!

[2015-01-20 09:11] #2722 closed

[2015-01-20 09:20] PVince81 commented on #2252
I just raised https://github.com/owncloud/core/issues/13498 to address this on the server side.

[2015-01-20 09:44] michaelstingl commented on #2695
@danimo I requested this information, but no answer yet.

[2015-01-20 09:54] guruz commented on #2686
I cannot reproduce this with the .pkg and also 10.9.5..
I don't know what is wrong here, let's reopen this if others report it.

[2015-01-20 09:54] #2686 closed

[2015-01-20 09:56] guruz commented on #1847
Depends https://github.com/owncloud/client/issues/2699

[2015-01-20 10:03] guruz commented on #2636
Do you also have some entries from the _client_ log file before the crash?
You can start the client from ```cmd.exe``` with certain parameters to get that log. See the template here: https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

(Note to self: We suspect that using #2699 and #2507 could fix this)

[2015-01-20 10:04] guruz commented on #2721
Thanks :)

Please subscribe to https://github.com/owncloud/client/issues/2640

Closing as dup.

[2015-01-20 10:04] #2721 closed

[2015-01-20 10:11] #2675 closed

[2015-01-20 10:13] guruz commented on #2640
I'm using the same release and all is fine for me on 10.9.5

![chinese](https://cloud.githubusercontent.com/assets/959327/5815351/4c50f5d8-a095-11e4-9080-4676f7f7161a.jpg)

[2015-01-20 10:14] guruz commented on #2721
This is OS X 10.10?

[2015-01-20 10:22] guruz commented on #2425
@moscicki Could you tell us which Qt version you are using on the problematic machines? Also if the issue exists if you use the ```OWNCLOUD_USE_LEGACY_JOBS``` export?

[2015-01-20 10:22] guruz commented on #2676
@moscicki Could you tell us which Qt version you are using on the problematic machines? Also if the issue exists if you use the ```OWNCLOUD_USE_LEGACY_JOBS``` export?

[2015-01-20 11:12] shadone commented on #1847
Doh, I didn't even see that I was mentioned here, sorry guys for not replying (bad email filtering on my side).

Yeah, Qt 5.4 makes it look slightly better, but still far from native. In my opinion "somebody" should make a native ownCloud client for OS X (I started doing it myself multiple times but never got to any usable state due to lack of time).

Since Qt 5.4 is binary compatible you could ju

[2015-01-20 11:41] ogoffart commented on #2701
I could not reproduce the problem with master and a FAT partition.

[2015-01-20 11:46] guruz commented on #2701
Are you using Windows 8.1 like the other reporters?

[2015-01-20 11:46] guruz commented on #2673
@rudo54 Could you find out the exact file system on the SD?

[2015-01-20 11:47] guruz commented on #2701
@ogoffart The reporter in https://github.com/owncloud/client/issues/2693 mentions ```exFAT```..

[2015-01-20 12:16] ogoffart commented on #1851
@jancborchardt but in case of error, the action column contains the error and can be quite big, forcing the action column to be very wide.

[2015-01-20 12:21] VincentvgNn commented on #2252
@PVince81
Thanks a lot for moving ahead with this issue.

[2015-01-20 12:23] guruz commented on #2640
Another peculiar thing are those log messages: https://gist.github.com/guruz/4d33e54706e7ac07c861

[2015-01-20 13:17] Rene33 commented on #2686
For me its OK, as you gave me the solution to run the client with the logging function. But from what I read, it seems that my problem is related to a bug in Qt : https://bugreports.qt.io/browse/QTBUG-29503 which has to do with a question of path...
thanks

[2015-01-20 13:50] rullzer commented on #2685
I just tested this on linux (with the server also running linux) and there the problem does not happen. So it seems to be related to OS X

[2015-01-20 13:55] MTRichards commented on #2685
It could be related to being cross platform
@dragotin @guruz @ogoffart @danimo for reference.

[2015-01-20 14:02] VincentvgNn commented on #2438
@ogoffart
I'm very sorry, but we have to reopen this issue.

I tested on OC version 1.8.0.4536-nightly20150108 and could verify that the +/- 3600 sec mtime ignorance works as expected.

But there is still the problem of "upload after download" when using a FAT32 storage.
About 50% of the files downloaded on the FAT volume are uploaded again because they get the mtime increased by +1 sec.
I expecte

[2015-01-20 14:09] guruz opened #2724 "Investigate/test parallel chunking "Internal Server Error""
Reported by @qknight in https://github.com/owncloud/client/issues/69#issuecomment-70576215

[2015-01-20 14:22] dragotin opened #2725 "Server version 8.1 Wishlist"
This page collects a list of issues that we provide as an input for our server friends for their discussion about the version 8.1 raodmap.

* [x] Ability to deal with highly parallelized requests, in  particular parallel chunk upload, see https://github.com/owncloud/client/issues/2724

* [x] ...But also for MKCOL and DELETEs and MOVEs

* [ ] Checksum secured file transmission (GET and PUT). The se

[2015-01-20 14:32] ogoffart commented on #2438
How exactly did you test?  By changng your timezone?

[2015-01-20 14:49] dragotin opened #2726 "Show file Thumbnail in Share dialog"
The share dialog would look even more cool if it had a thumbnail of the file to share. It can be retrieved from the server using this api:
https://github.com/owncloud/core/blob/84bb4cc2e9013eb3db8d7114a0e6eb132a723adf/apps/files/appinfo/routes.php#L17-L20
by doing a GET on
index.php/apps/files/api/v1/thumbnail/{x}/{y}/{filename}

[2015-01-20 15:25] cdamken commented on #2607
@danimo That solution sounds good to me :+1:

[2015-01-20 16:08] guruz commented on #2507
(Note to self: also ask https://github.com/owncloud/client/issues/2003 and https://github.com/owncloud/client/issues/2090 to re-test when released)

[2015-01-20 16:20] VincentvgNn commented on #2438
@ogoffart

I changed the timezone on the Win 8.1 PC from the current UTC +01:00 to +02:00 (E.Europe), +03:00 (Moscow), +00:00 (London), -01:00 (Azores). At 1 hour difference there is no re-upload of all FAT stored files. At 2 hours or more difference all files will be re-uploaded due to the detected mtime difference.

The 1 sec difference problem arises independent from the time zone change.
Odd m

[2015-01-20 17:10] #2708 closed

[2015-01-20 17:26] rullzer commented on #2726
Ah that was the API I was looking for! I'll try to pick this up shortly.

[2015-01-20 17:28] rullzer commented on #2725
- [ ] Ability to retrieve users and groups on the server to allow sharing with users and groups from the sharedialog

[2015-01-20 17:37] geez0x1 commented on #2306
The shared folder across al these devices is currently 5,814 items, totalling 9.4 GB. The entire folder is 8,735 items, totalling 12.1 GB.

[2015-01-20 17:47] conradoqg opened #2727 "Translation correction"
File mirall_pt_BR.ts, line 201: Change <translation>Descobrir &apos;%&apos;1&apos;</translation> to <translation>Descobrir &apos;%1&apos;</translation>.

Thank you

[2015-01-20 18:07] atroxix commented on #2023
For me the issue still appears in OpenSUSE 13.2 and even though I have sni-qt installed.

Selection of packages installed:
sni-qt 0.2.6-3.1.3
libowncloudsync0 1.7.1-1.1
owncloud-client 1.7.1-1.1
plasma-framework 5.6.0-42.2
plasma5-desktop 5.1.0-4.3

[2015-01-20 20:41] rudo54 commented on #2673
Hi,
the filesystem was exFAT.
I bought a new card and formatted it with NTFS. Now my owncloud is
working again.

But I don't understand, why the old card worked for 2 years.

------ Originalnachricht ------
Von: "Markus Goetz" <notifications@github.com>
An: "owncloud/client" <client@noreply.github.com>
Cc: "rudo54" <lo.franke@posteo.de>
Gesendet: 20.01.2015 12:46:59
Betreff: Re: [client] CSync fai

[2015-01-20 21:16] jospoortvliet commented on #2023
@atroxix make sure you have the 32bit AND 64 bit package installed. From there on - it really should work... It gives a warning but will otherwise show up and work just fine.

[2015-01-20 21:18] jospoortvliet commented on #2712
They removed the negative note from their site so they will be re-added to owncloud.org/providers.

Not saying they are any nicer - there was quite some yelling about this. But they are entitled to their opinion...

[2015-01-20 21:19] jospoortvliet commented on #43
Thanks @mosandlt and @TheNodi for sharing how to do this - it might have issues but if it helps people, that's great!

[2015-01-20 22:21] atroxix commented on #2023
Yes, actually the system tray icon works, but just the warning appears. Does not matter whether I have 32-bit sni-qt installed or not.

[2015-01-20 22:49] dragotin commented on #2725
- [ ] an ownCloud app that enables us to test server side error states in our integration tests. It would do nothing else than returning a http error code when a certain file is accessed through a http request. That would be a great improvement to QA.

[2015-01-21 08:26] webmatrixxxl opened #2728 "[OS X 10.9, 10.10] No notifications"
In december 2014 a was able to install ownCloud client v1.7.1 and notifications wear ok but from now on on every mac I install ownCloud 1.7.1 there no notifications. In fact in OS X notification center there is no ownCloud App. I reinstall it several time with no luck.

[2015-01-21 09:01] lmaestro commented on #2233
It is not fixed in the latest version 1.8.0-nightly20150121 (build 1903)
![screen shot 2015-01-21 at 9 59 30 am](https://cloud.githubusercontent.com/assets/4689430/5833527/7fbcb3de-a154-11e4-95a9-0b30542aec43.png)

[2015-01-21 09:13] PVince81 commented on #2023
Works for me with:
plasma5-workspace-5.1.95-35.4.x86_64
sni-qt-0.2.6-4.1.x86_64

on openSUSE Factory.

The tray icon appears. However I also get a warning at system startup that the systray isn't there.
But if I start the sync client later, the warning doesn't appear.

I guess it's probably because sni-qt / KDE hasn't fully initialized at the time where the sync client tries to add itself (race co

[2015-01-21 09:27] lmaestro commented on #2593
It works for me in version 1.8.0-nightly20150121 (build 4614)  in Windows. If anyone is able to reproduce in the latest version, please reopen it.

[2015-01-21 09:27] #2593 closed

[2015-01-21 09:55] ogoffart commented on #2727
Thank you for your report.
Please go on https://www.transifex.com/projects/p/owncloud/ to update the translation.

[2015-01-21 09:55] #2727 closed

[2015-01-21 10:00] danimo commented on #2727
I went ahead and fixed the string in transifex, thanks! That said, we always appreciate new contributors to the translations.

[2015-01-21 11:34] nickvergessen opened #2729 "Broken link in documentation"
http://doc.owncloud.org/desktop/1.7/installing-linux.html
At step 7 there is an empty link which is also displayed incorrectly:
[code]

[2015-01-21 12:54] guruz commented on #2640
I can confirm that using Qt 5.4 would fix this
#2699

[2015-01-21 12:56] rullzer commented on #2726
Initial commit is available. More checking needs to be done but it is working pretty well for now. But no rush since it only makes sense to create a pull request when owncloud 8 is out.

[2015-01-21 13:52] guruz commented on #2507
Diagram for @dragotin ;-)

Right side is our sync thread (running csync_update), left thread is the main thread (with the QNetworkAccessManager)

![owncloud_client_2507](https://cloud.githubusercontent.com/assets/959327/5837169/07f4b080-a17d-11e4-9470-57fc891e2341.jpg)

[2015-01-21 13:55] dahan1999 opened #2731 "Client crashes on Windows XP"
I have thought this problem only occurs on XP virtual machine so I closed this issue last month. But I found this issue on both XP virtual machine and physical host, both the previous release and the latest one. I reopen it again with suggestion from tflidd.

Expected behaviour

Owncloud should synchronize files to servers without crash on Windows XP.

Actual behaviour

On Windows XP owncloud cras

[2015-01-21 14:37] dragotin opened #2732 "Sharing from Desktop: Files outside sync directories"
This is about a special case of Sharing from desktop as described here: https://github.com/owncloud/client/issues/1444

If the file to share is not within a shared dir on the desktop, we need special treatment. The way it was implemented so far in 95f7e83c5c567030ddda1052db0332d970fb5dbc is as follows: The file is copied to the root of a sync dir on the client. Once that is done, a sync starts to

[2015-01-21 16:39] dragotin commented on #2507
Yes, very good, we need this documented!

[2015-01-21 16:45] ogoffart commented on #2580
So how do we know what is supposed to be sync'ed and what is no supposed to be sync'ed?

[2015-01-21 17:08] ogoffart commented on #2676
@moscicki  which OS, with version of openssl?
Could it be a problem on the server?
Is there anything i can do for this issue?

[2015-01-21 17:11] rullzer commented on #2732
Could we not make it configurable? So the user can select a directory in the config. If the user tries to share and no directory is configured we prompt for one.

[2015-01-21 17:53] danimo opened #2733 "Add breadpad feature (enabled with switch)"

[2015-01-21 17:54] danimo commented on #2733
@dschmidt What was the branch for that?

[2015-01-21 17:56] danimo commented on #2733
Invalid

[2015-01-21 17:56] #2733 closed

[2015-01-21 17:57] dragotin commented on #1444
@rullzer for tests, I use netcat, nc, ie. ```nc -U /run/user/1000/ownCloud/socket``` which opens the socket API, and that allows to send commands to it via commandline. Very convenient.

[2015-01-21 17:58] dragotin commented on #1444
Also to be considered here: https://github.com/owncloud/client/issues/2732

[2015-01-21 18:04] dragotin commented on #1444
I today committed 95f7e83c5c567030ddda1052db0332d970fb5dbc to finish the socket API for sharing. Also commit 82e5e36c57d2451de27c151afd85f296a12da5f2 for the natuilus plugin.

So the current picture is:
- [x] Socket API implemented for sharing (rullzer, dragotin)
- [x] Additions to Nautilus plugins doing context menu (dragotin)
- [ ] Additions to the MacOSX Finder plugin to add a context menu (dra

[2015-01-21 19:43] Akuukis commented on #2429
I risked and uninstalled both versions and data from server, waited few days and then installed the new ownCloud server and new client. Everything works now from late December. Sorry for delayed response,

[2015-01-21 19:43] #2429 closed

[2015-01-21 20:23] danimo commented on #2199
Fixed.

[2015-01-21 20:23] #2199 closed

[2015-01-21 20:24] danimo commented on #2474
I'll close this. Please reopen once you find a way to reproduce the issue.

[2015-01-21 20:28] guruz commented on #2670
@supportreq Sorry, I think the best is you join #owncloud-client-dev on IRC on irc.freenode.net and ask there...

CC @kwillems

[2015-01-21 20:28] #2670 closed

[2015-01-22 00:01] qknight commented on #69
@Raptormagnum @nocteau @danimo @ogoffart @guruz

i've now decided to **rebase** this 'ssl client certificate' feature and here is the code:
https://github.com/owncloud/client/pull/2734

please review the code! i will sign the http://owncloud.org/contribute/agreement/ tomorrow.

[2015-01-22 00:22] dahan1999 commented on #2731
I start a remote debug and saw the call stack of the crash codes. It seems that the code crashes in this line(raiseWidget->showNormal();):
"
void ownCloudGui::raiseDialog( QWidget *raiseWidget )
{
    if( raiseWidget && raiseWidget->parentWidget() == 0) {
        // Qt has a bug which causes parent-less dialogs to pop-under.
        raiseWidget->showNormal();
"
But I still have no idea of how to f

[2015-01-22 00:43] qknight commented on #2724
# software i use:
- owncloud 82e5e36c57d2451de27c151afd85f296a12da5f2 (master)
- ii  apache2                                               2.4.7-1ubuntu4                                      amd64        Apache HTTP Server
- ii  owncloud                                              7.0.4-3                                             all          ownCloud Server - Private file sync and share server

[2015-01-22 00:52] dahan1999 commented on #2731
I start a remote debug and found that segmentation fault occurs in Qt5Widgets.dll and there is only 1 item in the call stack.

[2015-01-22 07:59] OliverKohlDSc opened #2735 "QThread, QtConcurrent and QFileSystemWatcher -> Windows Multi-Core problems"
Dear colleagues,

I've now watched various versions of the QT GUI application on various platforms regarding multi-threading and multi-core (parallelism).

The client is capable on Mac OS X (latest version) to use all the available cores when watching a folder or syncing. On Windows (7 and 8.1) the opposite is the fact.

The GUI application is only capable to use one CPU/Core on Windows, all the o

[2015-01-22 08:02] ckamm commented on #2697
@pyutaros Could you try this again with a recent nightly to see what kind of error the SQL prepare statement actually returns?

[2015-01-22 08:18] ckamm commented on #2428
@cdamken The problem with a file being deleted should be solved, as lucia confirmed.

The issue now seems to be something very close to #2070, where syncing doesn't work correctly for files opened in MS Office in various ways. We've recently tried to address that issue - have you tried to reproduce it with a recent nightly (>=20150116)?

Also, when the file on Windows is restored to the Mac's vers

[2015-01-22 08:18] dragotin commented on #2580
@ogoffart In a mail about this @MTRichards says:
*"So, to solve this - what I propose here is a branded client option. A switch that allows the setup wizard to generate either: sync everything by default, or sync nothing."*

In a second chapter, @MTRichards says:
*"When a customer is already syncing, if a large directory is added - then that will sync automatically. This same issue I intend to fix

[2015-01-22 08:27] ckamm commented on #2701
Here are also two reports of issues with exFAT and sqlite:
http://stackoverflow.com/questions/13798826/android-sqlite-crash-with-exfat-filesystem
http://forum.xojo.com/13737-sqlite-table-on-exfat-file-system/0

[2015-01-22 08:35] ckamm commented on #2701
I tried with an exfat-formatted USB stick from linux and that worked fine. I will attempt the same from Windows later.

[2015-01-22 08:50] lmaestro commented on #2070
I works fine in version 1.8.0-nightly20150121 (build 4614) using WordPad on Windows 8.1

[2015-01-22 08:51] ckamm commented on #2701
I could not reproduce the issue when syncing an owncloud folder to an exFAT-formatted USB stick in a Windows 7 guest.

[2015-01-22 08:56] danimo commented on #2070
@lmaestro Word and Wordpad are completely different code bases. Please test with a MS Word proper.

[2015-01-22 09:47] ogoffart commented on #2735
Thanks for your bug report.

What is exactly the problem you are having?
The bottleneck is mostly IO and not so much CPU, so e don't think there would be so much gain in making things using more threads. Especially if it complicates the code.

Contributions are welcome however.

[2015-01-22 09:53] ogoffart commented on #2731
Thanks for your bug report.

This is a duplicate of https://github.com/owncloud/client/issues/2648

Because it has the same message:
[code]

[2015-01-22 09:53] #2731 closed

[2015-01-22 09:57] ogoffart commented on #2648
What is the memory usage of the application?  Maybe we have another leak on XP or something?

[2015-01-22 09:58] StephaneDupont commented on #2648
I don't remember exactly, but it was small, something like 30Mo.

[2015-01-22 10:05] lmaestro commented on #2070
@danimo @dragotin Can you please close it when you verify it using Word? Thx

[2015-01-22 10:16] ckamm commented on #2724
After a bunch of successfully uploaded chunks, the server replies with 500:

    01-22 00:29:07:569 0x156edd0 networkjobs.cpp:158 void OCC::AbstractNetworkJob::slotFinished() 299 "Error downloading https://owncloud.myhost/remote.php/webdav/archlinux-2010.05-netinstall-x86_64.iso-chunking-1658172428-34-29 - server replied: Internal Server Error"

[2015-01-22 10:39] dahan1999 commented on #2648
My mem usage is bout 50M. Not high. I start a remote debug and try to locate the bug but it is very strange that there is only one item in the call stack of the crash: Qt5Widgets.dll. I suspect that this is a Qt5 bug and I am going to test with Qt5 of different versions.

[2015-01-22 10:49] guruz commented on #2724
CC @PVince81 @DeepDiver1975 ... This is about parallel chunk upload.

[2015-01-22 10:58] ogoffart commented on #2724
@DeepDiver1975   So does that mean we should not enable parallel chunk uploads?   (see previous message)

[2015-01-22 11:01] guruz commented on #2724
@PVince81 @DeepDiver1975  I don't really understand the server log.

Why would it write to the session again?

Why would SQL being locked be a problem? sqlite should have a busy-retry handler set? @qknight which DB do you use in the server?

There is also something about ```Sabre\\DAV\\Exception\\BadRequest``` in the log

[2015-01-22 11:16] DeepDiver1975 commented on #2724
this is the wellknown limitation of sqlite - use mysql or postgres or oci - but not sqlite

[2015-01-22 11:17] DeepDiver1975 commented on #2724
honestly we shall disallow sync with sqlite on the server - parallel request execution can result in database locks

[2015-01-22 11:22] lmaestro commented on #1981
In version 1.8.0-nightly 20150122(build 1912) when the folder/file is syncing you can't rename or move it, an alert message is shown in OS X and Windows.

[2015-01-22 11:55] pyutaros commented on #2697
Sure.  Can someone please provide a link to instructions for installing the
nightly build?
On Jan 22, 2015 3:02 AM, "ckamm" <notifications@github.com> wrote:

[2015-01-22 12:37] lmaestro commented on #1565
It is fixed in version 1.8.0-nightly20150122 (build 1912) when the connection is lost, the setting window shows:
![screen shot 2015-01-22 at 1 28 53 pm](https://cloud.githubusercontent.com/assets/4689430/5855701/6953873e-a23b-11e4-88d2-f83e62757a31.png)
And then when the connection is back:
![screen shot 2015-01-22 at 1 30 41 pm](https://cloud.githubusercontent.com/assets/4689430/5855721/a91e6956-

[2015-01-22 12:37] #1565 closed

[2015-01-22 12:46] ogoffart commented on #2576
I was still unable to reproduce.

[2015-01-22 12:47] guruz commented on #2724
@DeepDiver1975 Are you not doing something like https://github.com/owncloud/client/blob/b50475bc17a965b698a318116402246805ba1c7b/src/libsync/ownsql.cpp#L65 ?

Also activateable via SQL.. https://www.sqlite.org/pragma.html#pragma_busy_timeout

[2015-01-22 12:49] guruz commented on #2699
Note: Also retry https://github.com/owncloud/client/issues/2648 with 5.4

[2015-01-22 12:52] ogoffart commented on #2724
Is there a way for the client to know which database is in use?

[2015-01-22 13:14] ogoffart commented on #2580
The sync behaviour after the wizard is part of another issue ( #2707 )

So then would the theme (branding) contains a flag to unselect everything in the selective sync dialog?  and preselect that option?

[2015-01-22 13:21] ckamm commented on #2701
@danimo and me just tried with exfat and Windows 8.1 and couldn't reproduce it either. Any other ideas?

[2015-01-22 13:25] ckamm commented on #2070
@danimo @dragotin and me tried to reproduce the issue on Windows. Test cases:

* opened a file in MS Word and saved -> uploaded to sever while MS Word was running
* changed the file on the server -> the file was downloaded but could not be overwritten due to the lock by Word, there was a message about that on the client but no sync failure, nothing changed on the filesystem
* saved another version

[2015-01-22 13:25] #2070 closed

[2015-01-22 13:25] MTRichards commented on #2580
Right - there are two problems:
1) initial setup - syncing everything by default (click, click, click user behavior) - we want them to have to think before accepting to sync everything - particularly when it will fill the local disk
2) after initial setup - these are a good idea:

    If we sync a new toplevel dir we show a notification saying "A new toplevel dir with size of xx MB was added to th

[2015-01-22 13:26] MTRichards commented on #2580
@ogoffart that is the short term fix that has been requested, yes. To be able to have the default installer not sync everything by default on initial setup.

[2015-01-22 13:34] ogoffart commented on #1981
What is the exact message that is shown?
It worked fine for me.

[2015-01-22 13:41] ckamm commented on #2355
@lmaestro You can test this in several ways:
 * download a big file into a sync folder - during the downloads there should be increasingly long delays between sync runs (up to 1 min)
* after a long sync, there should be some pause before the next sync: copy a file into sync dir that takes about 1min to upload, copy another file in there during the upload phase. There should be about 12s pause betw

[2015-01-22 13:48] guruz commented on #2507
The functionality has been merged into master.
```neon``` is not "compiled out" yet, will do that in a follow up

[2015-01-22 13:49] ckamm commented on #2693
@andrewbridge we've been tracking and trying to reproduce this issue in #2701, but without success so far.

To get more info, could you try running owncloud with --logfile log.txt again? It's surprising that it should be empty. I'm particularly interested in the lines in the log file around the error message "ERR: Failed to sqlite3 open statedb - bail out:". That could help with figuring out what'

[2015-01-22 13:49] cdamken opened #2736 "[1.7.1] Relogin after reboot"
### Expected behaviour
Both windows and mac 1.7.1. sync client will keep the session after reboot.

### Actual behaviour
Both windows and mac 1.7.1. sync client will loose it's session after reboot. not always, but most often a user needs to relogin

### Steps to reproduce
1. Reboot the computer
2. Start the client
3. Relogin (Should not ask for it)

### Server configuration
CentOS

Apache

Galera

[2015-01-22 13:50] guruz commented on #1399
Closing this as #2507 has been merged.
Could at some point convince the server to send us gzipped WebDAV response.. (not sure if this is a webserver setup thing or needs to be done in PHP with output handlers..)

CC @evert @DeepDiver1975

[2015-01-22 13:55] PVince81 commented on #2724
Not really. But the WebDAV plugin could detect the sync client's headers (or user-agent?) and return some error code ?

[2015-01-22 14:04] guruz commented on #2724
I see
[code]
somewhere in the old versions of ownCloud server.

[2015-01-22 14:04] cdamken commented on #2736
HA-Proxy 1.5 with session=cookies is in front of the oC6.0.4

[2015-01-22 14:21] #1813 closed

[2015-01-22 14:34] GMTA commented on #1981
Locking files or preventing user interaction with them in other ways while syncing would be a Bad Thing, imho.

As I see it, the client should take care of three processes:
1. Keep track of file/dir mutations locally, so we know what the user has done.
2. Keep track of which files/directories have been and should be synced.
3. Actually synchronize to remote.

Process 3 should not lock anything or

[2015-01-22 14:44] ogoffart commented on #1981
We try hard not to lock the file anymore.
In owncloud 1.8, we will just open the file for a short period of time and copy the chunk in memory before uploading it.

[2015-01-22 14:47] ckamm commented on #2697
@pyutaros Here: http://download.owncloud.com/desktop/daily/

[2015-01-22 14:57] ogoffart commented on #2580
So i added Theme::wizardSelectiveSyncDefaultNothing.  Which theme do need this setting?

[2015-01-22 15:01] GMTA commented on #1981
Sounds great! Do you know the commit ID for this change? I couldn't find it myself.

[2015-01-22 15:06] iliyasbasir opened #2737 "Weird thing with Dropbox"
### Expected behaviour

I add a dropbox account in my owncloud account to be able to have access to these files directly.
So everything works fine, the installation has been easy but I I saw that my client delete the folder then everyfile and few minutes later restart to download every files..
Don't understand why.
Nothing has changed from my side.
So I send you the log file from yesterday filtere

[2015-01-22 15:07] lmaestro commented on #1981
You can download the latest version from here http://download.owncloud.com/desktop/daily/?C=M;O=D

[2015-01-22 15:30] danimo commented on #2699
Status: master OS X builds now can be done with Qt 5.4

[2015-01-22 16:11] clemenlg commented on #2576
Hi, i've the same issue in a Windows Vista x32.
I've a new Vista installation, because the pc freezes sometimes.
This issue appears some weaks ago (before works ok).

[2015-01-22 16:12] guruz commented on #2737
@LukasReschke can help with the DropBox-storage-backend.. ;-)

[2015-01-22 16:12] cdamken commented on #2736
It looks that the session of shibboleth is the only one is saved on the HA-Proxy, but not the sync-client session. Is there any way to add it on the synclient?

[2015-01-22 16:12] guruz commented on #2728
@lmaestro Can you confirm this?

[2015-01-22 16:20] efef commented on #2736
Almost; the HAproxy adds a session cookie to create a sticky session, but when the client is closed it only stores the shibboleth session cookie, which is useless if you don't have the proxy cookie.
The next time the client comes online it may end up at a different application server due to the missing session cookie from HAproxy. And the new application server doesn't know the shibboleth session

[2015-01-22 17:50] guruz commented on #2736
So this is not really a client bug is it? The cookie lifetime of the HA-Proxy needs to be higher?

@danimo @ogoffart We store _all_ cookies right?

[2015-01-22 17:52] guruz commented on #2713
Is this related to QtKeyChain? (https://github.com/frankosterfeld/qtkeychain). We use that for storing username/password.

[2015-01-22 17:52] guruz commented on #2713
CC @frankosterfeld ..

[2015-01-22 17:53] danimo commented on #2736
We store the shib cookie separately in the keychain, because it's a credential that is usually not supposed to be stored (and only would have session lifetime). All other cookies are preserved and restored (you can see that e.g. because the WayF keeps the preferred IdP).

[2015-01-22 17:53] ogoffart commented on #2580
This can be tested using the testpilot theme.

[2015-01-22 17:55] guruz commented on #2706
@Havenard Which version of client and server are you using?

[2015-01-22 17:57] #1399 closed

[2015-01-22 17:59] danimo opened #2739 "[regression] Setup: Shibboleth requires reauth"
When testing with shib, I noticed that during the wizard run the shib browser window pops up a second time. This may be related to @ckamm 's refactoring. I know that we already fixed this once, so this is a regression. I don't recall the fix though.

@ckamm Could you test this with test1.owncloud.com/oc7-shib?

[2015-01-22 18:00] danimo commented on #2636
I cannot reproduce this on master.

[2015-01-22 18:00] #2636 closed

[2015-01-22 18:05] LukasReschke commented on #2737
Just saying that those `Client configuration` and `Server configuration` fields are there for a reason…

[2015-01-22 18:14] danimo commented on #2455
176413d3121a73b06e0761026b930a8ff18d1dfc reverts 5c5a89c1a4169a1cdaac6fba710668266e713881. What's now left is a rebuilding the windows extension

[2015-01-22 19:02] mpeterson commented on #1981
Lucia, IMHO I think it's not a good behavior and goes against what it
was first reported.

The idea is not to alert the person and not to refuse him to do the
action he pretended; but, instead, the client should allow him to do the
action and record what the user did to allow the client to sync
correctly (the simplest and ineffective solution could be, if the user
did an action I delete the file f

[2015-01-22 20:01] evert commented on #1399
I'm personally very curious what the answer is to this. I could definitely help get this going by providing a patch, but I'd need people to test this on various clients.

[2015-01-22 21:38] flewor opened #2740 "Client upload the whole folder again and again"
The problem I am facing is very simple but very annoying : instead of uploading only the modified files, the client upload the whole folder back again.

This happened me already three times during the last two weeks. Just after the startup, or just after loggin. The total upload time take about 10 hours.

Can someone explain me what I do wrong or where is the problem?

The folder is composed of  a

[2015-01-22 23:42] webmatrixxxl commented on #2728
Yes. Reinstalled client v1.7.1 several times and there was no ownCloud in Settings->Notification Center. Yesterday I tried to run ownCloud-1.6.4.1195.dmg and ownCloud app now is avedible in Notification Center and notifications were working. But no notifications after running client 1.7.1 again.

[2015-01-22 23:55] webmatrixxxl opened #2741 "Rename shared folder delete folder's files."
Hi guys.

When I share folder with files with and then I rename folder after some time files in that folder are deleted from my disk locally.

ownCloud 7.4
client 1.7.1

[2015-01-22 23:59] LukasReschke commented on #2741
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/client/blob/master/CONTRIBUTING.md

Thanks a lot!

[2015-01-23 00:11] andrewbridge commented on #2693
Hi @ckamm, thanks for taking a look at my issue! I ran owncloud with the --logfile flag as suggested, but nothing seemed to occur. I used the log file panel in the client (F12), and left it for a while, and some output did appear. I've put it in a [pastebin](http://pastebin.com/nxtA9rtf), let me know if you'd prefer me to put it elsewhere.

Unfortunately, the line you're looking for doesn't appear

[2015-01-23 07:21] ckamm commented on #2693
@andrewbridge The log window has a maximum number of lines, unfortunately. With "--logfile some/path.txt" a logfile should be written (sometimes only fully filled when you close the client).

[2015-01-23 07:57] danimo commented on #2737
I guess what Lukas is trying to say: We need some more information

[2015-01-23 09:21] cdamken commented on #2554
@MorrisJobke @dragotin  Any news?

[2015-01-23 09:50] ogoffart commented on #2740
Thanks for your bug report.
Please use the issue template https://raw.githubusercontent.com/owncloud/client/master/issue_template.md

What is the version of your client?  On what file system is your owncloud sync directory?

Do you have the log from the client? It should reveal why the client believe he files have changed.

[2015-01-23 10:31] dragotin commented on #2554
No. And I have to say that I am not in favour of building a switch to disable this behaviour. If it was me, this can be closed as we-do-not-do-this.

[2015-01-23 11:05] guruz commented on #1444
Finished the OS X Finder integration and tested on 10.9.
@lmaestro Could you check 10.10 ?
It's just about the share dialog showing up.. and Finder not crashing ;)

[2015-01-23 11:12] cdamken commented on #2554
@MTRichards  Can be done this as feature request?

@markviens @karlitschek @craigpg

[2015-01-23 11:16] danimo commented on #2554
Here are the cases why the error message is currently needed (please add):

- Account gets recreated on the server. In that case all files will be gone from the server and the client sync logic thinks it needs to replicate that state. We could probably check the root file id to detect that case.

- Somebody moved a shared folder, which resulted in the folder being deleted for everyone else. I thin

[2015-01-23 11:22] guruz commented on #2725
* [ ] Two pushes of the same file at about the same time result in no changes in the etag. https://github.com/owncloud/core/issues/7802

[2015-01-23 11:27] guruz commented on #2725
* [ ] Make sure server's sqlite3 DB glue sets a busy wait handler so we don't get problems when syncing (with parallel requests) and the server DB is locked. https://github.com/owncloud/core/issues/10566#issuecomment-71024979 https://github.com/owncloud/client/issues/2724#issuecomment-71005940

[2015-01-23 11:29] dragotin commented on #2725
@craigpg this is our Wishlist for server 8.1 which you asked for.

[2015-01-23 11:50] dragotin commented on #2470
tarballname created by jenkins is owncloudclient-<version>.tar.bz2 from 1.8.0 on.

[2015-01-23 12:05] lmaestro commented on #1444
I have just tested the latest build (1928) on OS X 10.10 and it doesn't crash.

[2015-01-23 12:24] craigpg commented on #2725
Thx guys.  @karlitschek, @MTRichards.

[2015-01-23 12:24] lmaestro commented on #2507
I tested in version 1.8.0-nightly20150122 (build 1925) and it works fine.

[2015-01-23 13:02] MTRichards commented on #2554
@danimo Agreed - and it is a good stop gap to keep customers from doing something by accident - which, with external storage, can be even worse (oops, deleted all of sharepoint?). So as a default, I think we need it.

However, we will need a mechanism to suppress the message in a remote wipe scenario anyway, right? How might we do that?

[2015-01-23 13:09] lmaestro commented on #2355
I can't reproduce this issue in the latest version1.8.0-nightly20150122 (build 1925). If anyone is able to reproduce, please reopen it. Thx.

[2015-01-23 13:09] #2355 closed

[2015-01-23 13:37] dragotin opened #2743 "Create a Way to Disable Parallel Uploads"
For various reasons we can not enable the parallel upload by default. We need to disable the parallel upload and only switch it on by a flag if admins decide that. Even if that results in a performance drop.

e.g. https://github.com/owncloud/client/issues/2724 https://github.com/owncloud/client/issues/1866#issuecomment-45924708 https://github.com/owncloud/client/issues/2401

[2015-01-23 13:38] dragotin commented on #2743
This is not only about uploads but also all other operations. Disable parallelism by default.

[2015-01-23 13:40] guruz commented on #2743
OK... check for status.php version to be >= 8.1 ?

[2015-01-23 13:53] PVince81 commented on #2743
As discussed on IRC we could add a new value "maxparallel" to that `capabilities` call with the following logic: if SQLite is used, "maxparallel" would be 1, else 0 (infinite)

[2015-01-23 13:54] PVince81 commented on #2743
In general I think we should start using this "capabilities" endpoint more often to share server info with clients.

[2015-01-23 14:01] dragotin commented on #2743
agree with @PVince81

[2015-01-23 14:13] rullzer commented on #2725
This is basically done in pull request https://github.com/owncloud/core/pull/13587

[2015-01-23 14:36] MorrisJobke commented on #2737
@icewind1991 Could this be caused by an problem with a short outage of the connection to dropbox and later being able to connect to dropbox again?

[2015-01-23 15:44] LukasReschke commented on #2109
Looks pretty good for me. Did some digging in the code as well and found nothing that would be a showstopper. Nice stuff :+1:

[2015-01-23 16:39] guruz commented on #110
Please track https://github.com/owncloud/client/issues/2542

[2015-01-23 16:40] guruz commented on #110
Re-opening, this is about different issues.

[2015-01-23 16:41] guruz commented on #327
With https://github.com/owncloud/client/issues/2507 and the Qt 5.4 build we can do without neon.. should work in 1.8

[2015-01-23 16:41] #327 closed

[2015-01-23 16:45] guruz commented on #1865
@danimo Can this be closed?

[2015-01-23 16:50] guruz commented on #2003
Do you guys still get this with the latest nightly build? http://download.owncloud.com/desktop/daily/
(Beware, it didn't go through full QA..)

[2015-01-23 16:53] guruz commented on #1983
@abelass The QNAM-patch is now merged into master (which will become 1.8). Do you want to try a nightly build? http://download.owncloud.com/desktop/daily/ (warning, this is not fully QAed and might be dangerous to use..)

[2015-01-23 16:54] moscicki commented on #2676
@ogoffart, @guruz, @ckamm: sorry guys for the delay. I have not yet had time to work on it. I will come back to you on this next week.

It happened on redhat6, client 1.7.1:
[code]

More next week.

[2015-01-23 16:55] moscicki commented on #2676
And:
[code]

[2015-01-23 16:55] guruz commented on #2179
This must be from your webserver setup. Did you configure any authentication stuff seperately that collides with ownCloud's handling?

[2015-01-23 16:55] #2179 closed

[2015-01-23 16:56] guruz commented on #15
Please track https://github.com/owncloud/client/issues/2109

[2015-01-23 16:56] #15 closed

[2015-01-23 16:59] ogoffart commented on #2225
Is this problem still an issue with 1.7.1?

[2015-01-23 17:00] guruz commented on #2401
Please track https://github.com/owncloud/client/issues/2743

[2015-01-23 17:00] #2401 closed

[2015-01-23 17:05] guruz commented on #2492
Did you see the sqlite3 version in the log?

[2015-01-23 17:05] #2492 closed

[2015-01-23 17:12] guruz commented on #2743
We also had the idea to check all error messages for ```SQLSTATE``` and then force paralleism down to 1

[2015-01-23 17:28] PeterPablo commented on #2743
Would disabling parallelism also prevent wrong/missing `ctime`s and  `mtime`s (confer the problem described in the referenced issue #2401).

[2015-01-23 17:47] jnweiger commented on #2225
CentOS_7 done: http://s2.owncloud.com:83/test-reports/20150116-1117/data/install-pkg-client-log.html#s1-s5-s1-t2

I have no plans to work on CentOS_5.

[2015-01-23 17:54] jnweiger commented on #2154
I'll paste the logfile from the latest centos7 installation test. Please compare:
<pre>
Fri Jan 16 13:52:13 CET 2015
+ obs_docker_install --download internal isv:ownCloud:desktop owncloud-client CentOS_7
Step 0 : FROM centos:centos7
 ---> 8efe422e6104
Step 1 : RUN yum install -y wget
 ---> Using cache
 ---> 631fec0da719
Step 2 : RUN wget -nv http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-rel

[2015-01-23 18:48] ogoffart commented on #2743
@PeterPablo: no, it would just make it less likely.

sqlite should be avoided on the server if possible.

[2015-01-23 19:47] dragotin commented on #2096
I assume this is fixed with subsequent versions. Let me know if not. Thx.

[2015-01-23 19:47] #2096 closed

[2015-01-23 20:32] moscicki commented on #2492
Hi,

Here is the sqlite version on redhat6:

sqlite3 version "3.6.20"
sqlite3 journal_mode= "delete"

kuba

--

[2015-01-23 20:43] moscicki commented on #2492
@guruz: Please reopen.

[2015-01-23 20:55] webmatrixxxl commented on #2728
Today we have new mac in office so we installed client 1.7.1 and are no Notifications

[2015-01-23 22:22] MorrisJobke commented on #2737
o.O No please don't create milestones for me. Assigned is enough

[2015-01-23 22:24] LukasReschke commented on #2737
@guruz When can we expect mirall in the "morrisjobke" release?

[2015-01-24 08:31] PeterPablo commented on #2743
In my opinion users should be made aware of this in a more pressing altert than described in the current documentation (confer https://github.com/owncloud/client/issues/2401#issuecomment-60518559). I still consider this loss of data and as such a bug that should be tackled.

[2015-01-24 09:39] abelass commented on #1983
@guruz , thanks. I don't have a real test environnement for this, so I d'rather wait a stable version

[2015-01-24 13:33] Skatox opened #2744 "[Linux] Better support for HiDPI"
I've some visual problems using Owncloud on Linux with a HiDPI screen, left column is small, some texts overlap and the tray icon is so small. Would be great to make this app to adapt or mantain proportion when using it at high resolutions screen.

My workaround is to increase font size, but it looks ugly as you can see in attached screenshot. (check icon and left menu).

![hidpi](https://cloud.gi

[2015-01-24 13:59] danimo commented on #2744
We will need to migrate to Qt 5.4 to fix that, which the distros usually do not provide...

[2015-01-24 14:01] Skatox commented on #2744
Thanks for the quick reply, I'll wait then.

[2015-01-24 14:02] dschmidt commented on #2733
Hihi, breaDpad.

[2015-01-24 21:46] dahan1999 commented on #2648
I debug the issue for some days and found an interesting thing:
the application only crashes when "Account" tab is displayed on the main GUI and files to be synced in the explorer are displayed. I suspect that some pointer are deleted by accident but are referenced later that results in the crash. Still working on it.

[2015-01-25 15:43] danimo commented on #2699
Windows builds also build with Qt 5.4 now. Closing.

[2015-01-25 15:43] #2699 closed

[2015-01-25 15:43] dahan1999 commented on #2648
I did a test that commented out the following lines in settingsdialog.cpp and it seems that the crash does not happen.
/*
  connect( ProgressDispatcher::instance(), SIGNAL(progressInfo(QString, Progress::Info)),
             _accountSettings, SLOT(slotSetProgress(QString, Progress::Info)) );
*/

[2015-01-25 18:11] radry commented on #2743
I agree with this issue! On my low memory owncloud php runs out of memory when uploading many files with the windows client because of parallel uploads!! Uploading via a browser works perfectly fine. This is a major issue since there are no (free) alternative clients which can sync (instead of "mounting" the webdav which I don't want).

[2015-01-25 19:15] LukasReschke opened #2746 "[OS X] [1.8.0 nightly] Menu bar disappears on on initial click"
### Expected behaviour
Menu Icon should stay in the menu bar
![screen shot 2015-01-25 at 20 11 10](https://cloud.githubusercontent.com/assets/878997/5892849/547ed0ee-a4ce-11e4-955f-f9ec5d84c4b3.png)

### Actual behaviour
Menu Icon disappears:
![screen shot 2015-01-25 at 20 11 03](https://cloud.githubusercontent.com/assets/878997/5892850/5480afa4-a4ce-11e4-8033-e03db0207943.png)

### Steps to repro

[2015-01-25 19:16] danimo commented on #2746
@guruz Didn't we observe that as well, but couldn't reproduce?

[2015-01-25 20:39] guruz commented on #2746
@danimo So is that nightly build with 5.4 yet?

[2015-01-25 20:52] LukasReschke commented on #2746
Settings pages says yes:

![screen shot 2015-01-25 at 21 51 55](https://cloud.githubusercontent.com/assets/878997/5893244/68973c52-a4dc-11e4-970a-582d922bbb02.png)

[2015-01-26 04:49] strugee commented on #2713
No. GNOME Online Accounts operates at a higher level than QtKeyChain. The [wiki page][1] has basically everything you'd need: API docs, Bugzilla, etc.

 [1]: https://wiki.gnome.org/Projects/GnomeOnlineAccounts

[2015-01-26 07:37] #2507 closed

[2015-01-26 09:29] guruz commented on #2744
@Skatox try to compile yourself?

[2015-01-26 09:55] zocker22 commented on #2679
I wonder too. I read the posts you referred to. What I don't understand: When I renamed the file (that acutally is a folder) it suddendly worked. If the problem was due to hard link issues, it still should not sync. Did I get this right?

[2015-01-26 11:05] michaelstingl commented on #2607
@danimo is @craigpg 's proposition "To ensure you have proper access, please try accessing the service directly in your browser: https://.../files" in master yet?

[2015-01-26 11:21] danimo commented on #2607
@michaelstingl No, I will tackle this in the next days.

[2015-01-26 11:49] cdamken commented on #1425
@craigpg @markviens I need a solution here please.

[2015-01-26 12:02] lmaestro commented on #2424
Now, files *.tmp are shown in the list of ignored files but they are not selected. So this files are not going to be removed if you don't enable the checkbox.
This enhancement is included in version 1.8.0-nightly 20150125 (build 1939).

[2015-01-26 12:02] #2424 closed

[2015-01-26 12:50] MorrisJobke commented on #1425
Is this still the problem described in the initial post or is this just https://github.com/owncloud/client/issues/1425#issuecomment-67345476 ? It is just this error message, isn't it?

[2015-01-26 12:56] MorrisJobke commented on #1425
Maybe https://github.com/owncloud/client/issues/2116#issuecomment-56162780 fixes it.

[2015-01-26 12:59] MorrisJobke commented on #1425
The linked PR is merged into 6.0.6. @cdamken Which version did they use?

[2015-01-26 13:18] lmaestro commented on #2746
Using the same build I can't reproduce it with operating system: OS X 10.10.1

[2015-01-26 13:35] nickvergessen opened #2747 "Files with a + sign in the name are not synchronized by Windows Client"
Originally reported by @scs-tech at https://github.com/owncloud/core/issues/13665

Problem does not appear to be fixed (or has come back).

1) Create a file "file+name.txt" on windows client
2) Create a file "file-name.txt" on windows client
3) Copy both files to the synced folder.

Both files should sync to OC

'File-name.txt' will sync fine, 'file+name.txt' will not sync.
Error in client activit

[2015-01-26 13:42] fredericmohr opened #2748 "Owncloud Client not deleting files - connection timed out"
Same problem as https://github.com/owncloud/client/issues/2647

# Actual behaviour

Error message and frozen sync client with message "Could not read status line: connection timed out. General: Could not read status line. Connection Timed out."

# Steps to reproduce

I copied multiple folder to a new location, and deleted the originals afterwards. In two different Sync folders "Work" and "Document

[2015-01-26 13:51] danimo commented on #2747
Invalid. Server bug. See bug in core.

[2015-01-26 13:51] #2747 closed

[2015-01-26 13:52] lmaestro commented on #2580
@ogoffart  In version1.8.0-nightly20150126 (build 1941) the option "choose what I sync" is not the default option.

[2015-01-26 14:02] Skatox commented on #2744
So, should i compile using recommended QT version? If I just compile the
application, it doesn't change. Because it's how the interface (or
library) is programmed.

On 01/26/2015 04:59 AM, Markus Goetz wrote:

--
Miguel Ángel Useche Castro
migueluseche@skatox.com
@skatox
Visita http://www.skatox.com/  Blog de Informática, Desarrollo Web,
Mozilla, Software Libre, Linux, Videojuegos y mas....

[2015-01-26 14:29] guruz commented on #2699
@danimo So all builds that use 1.8 are now by default using Qt 5.4 (and for Mac the linked SSL) ?

[2015-01-26 14:32] guruz commented on #2748
Thanks for your report..

@PVince81 @dragotin Is this similar to the server-trashbin issue?

[2015-01-26 14:34] danimo commented on #2699
Yes

[2015-01-26 14:51] guruz commented on #1847
@LukasReschke Can you try a recent nightly and check if it uses Qt 5.4 (should be in the log somewhere). Does it look better?

[2015-01-26 14:53] LukasReschke commented on #1847
Yep.

[2015-01-26 14:53] #1847 closed

[2015-01-26 15:17] guruz commented on #1693
@blitz We have a nightly build of 1.8.0 which is using a different network stack. Do you want to try it? http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4644-nightly20150126-setup.exe
It should work alright, but please be sure to have backups..

@ogasser Please switch to Qt 5.4 and latest OpenSSL and retry.. the problem might be ```libneon```, not Qt. The client 1.8.0 builds can work com

[2015-01-26 15:24] ogoffart commented on #2580
It is only the default in theme that have this option such as the testpilot theme

[2015-01-26 15:31] guruz commented on #2627
I'm closing this issue because the client can now (1.8 / master) be compiled without neon.
To get this behaviour, compile it with Qt 5.4.

[2015-01-26 15:31] #2627 closed

[2015-01-26 15:43] guruz commented on #2640
@Tony-HSU @mktsai @WayneSan Do you want to try the latest 1.8 nightly release to see if it fixes this for you? http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.1940-nightly20150126.pkg

(Please note this should work fine but has not gone through full QA, so please have backups..)

[2015-01-26 15:48] guruz commented on #2701
@dragotin Shall we have Windows specific code that adds a special message when this error happens that we don't support exfat?
Alternatively we can add a message in the "Add folder" wizard.

@rudo54 and @andrewbridge had this issue, so at least for them it existed..

[2015-01-26 15:55] guruz commented on #2306
I'm closing this issue, the 1.8/master codebase has a different way of traversing the remote directories and should not get stuck anymore.
If you're brave and have backups, please try http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.1940-nightly20150126.pkg

[2015-01-26 15:55] #2306 closed

[2015-01-26 15:56] guruz commented on #2651
Can you guys try a nightly build of 1.8? (remember to have backups..)
We use a new method/network code for discovering remote directories there, I think it could fix the issue.

[2015-01-26 15:59] lmaestro commented on #2746
I am able to reproduce it the first time that you install it and click on "Settings".

[2015-01-26 16:02] lmaestro commented on #11
It is fixed in 1.8.0 version (build 1941).

[2015-01-26 16:05] danimo commented on #11
No, the main icons are not yet Retina, only the tray.

[2015-01-26 16:09] lmaestro commented on #11
Sorry, you are right. Will the rest of the icons be included in 1.8?

[2015-01-26 16:11] danimo commented on #11
@lmaestro: as a strech goal maybe, but not high prio. We'll move the task if needed.

[2015-01-26 16:12] dragotin commented on #2748
I think so. @fredericmohr can you check how much files you have in the trashbin?

[2015-01-26 16:13] guruz commented on #1995
Closing this, you can continue on the forums if needed :)
If you want to improve the documentation please send a pull request.

[2015-01-26 16:13] #1995 closed

[2015-01-26 16:14] guruz commented on #1897
Also related to https://github.com/owncloud/client/issues/43

[2015-01-26 16:14] andrewbridge commented on #2693
Hi @ckamm, thanks for your response and sorry for the delay.

I ran the client with the flag again and waited for all the folders to attempt to sync. I've uploaded this log to [pastebin](http://pastebin.com/ZeqmG5Sf) again. Let me know if there's anything more I can do to help!

[2015-01-26 16:15] guruz commented on #1927
I think this has been fixed meanwhile.
Right @dragotin @jnweiger  ?

[2015-01-26 16:15] #1927 closed

[2015-01-26 16:18] guruz commented on #1341
1.8 will have a improved method for uploading on Windows.
If you are brave enough to try a recent daily build of the client, please try out http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4644-nightly20150126-setup.exe and report back if we can close this issue by now...

CC @dragotin

[2015-01-26 16:20] guruz commented on #2680
@gpbenton Do you want to try the nightly build http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4644-nightly20150126-setup.exe ? Does it fix the issue?

I remember @ogoffart and @ckamm changing code there to have less locks..

[2015-01-26 16:23] danimo commented on #2680
@gpbenton hang on, the code is not yet in the nightlies.

[2015-01-26 16:26] mktsai commented on #2640
@guruz It seems not fixes.
![image](https://cloud.githubusercontent.com/assets/3986549/5903159/10961b88-a5bb-11e4-9468-2851c39e0bde.png)

[2015-01-26 16:29] guruz commented on #2466
Closing this. If there is more to solve, please create a new issue.

[2015-01-26 16:29] #2466 closed

[2015-01-26 16:30] guruz commented on #2460
@DeepDiver1975 Would do it myself, but I don't have transifex permissions i think

[2015-01-26 16:36] gpbenton commented on #2680
I'm happy to test whenever something is available.

[2015-01-26 16:36] guruz commented on #2640
Sorry, I missed something.
It seems this depends on https://github.com/owncloud/client/issues/2470
The translation file names have changed.

[2015-01-26 16:38] guruz commented on #2679
That's indeed strange.
Do you think the ```_``` prefix is a problem?
Or would renaming it to ```______Grafiken.grafle``` also make it work by somehow changing the bundle properties?

[2015-01-26 16:41] guruz commented on #1408
@dragotin @danimo I remember you two discussing about a similar issue last week.. FYI.

[2015-01-26 16:43] #2474 closed

[2015-01-26 17:29] ogoffart commented on #2706
Can you be specific about what exactly need to be done, on which platform, and what are the version of the clients and the server? Which database is in use on the server?
Was there a client that was older than 1.6 involved?

Do you see error in the activity tab saying that there are a name clash?
Or was there 500 Internal Server Error?
Is it also gone in the web interface?

I tried to reproduce th

[2015-01-26 17:42] ogoffart commented on #1981
So could you please tell me what is the exact problem now in the last daily version?  ( http://download.owncloud.com/desktop/daily/ )

@GMTA the commit sha1 is 3ec19ee35553aff4845bcd69add6d6ab60d54b9f

@lmaestro Where you trying to remove/rename the root folder or just a sub folder?  Removing the root sync'ed folder is not supported.  But removing a subfolder should normaly work.

[2015-01-26 17:50] Morganlej commented on #665
+1 for symlinks. By dereferencing at client side. As it seem everybody here assume it should in the first place.  As said links are much used feature for people that really use *nix.  This is a reason we still use dropbox even for in-house files.

Use example: i want a current project shared to my laptop or a customer. I then just drag a link from that folder to the owncloud shared folder, done.

[2015-01-26 17:56] jnweiger commented on #2471
/usr/src/packages/BUILD/debian/tmp/usr/include/qt5keychain/keychain.h is generated.

There is a *-dev.install that should pick it up. Need to investigate where it gets lost.

[2015-01-26 18:04] fredericmohr commented on #2748
How exactly, do you mean KDE trash on client or server side? Is this a owncloud-trash thing?

[2015-01-26 18:08] jnweiger commented on #1927
Yes, fixed. But for 1.7.* -- not 1.6.*

[2015-01-26 18:09] guruz commented on #2748
@fredericmohr server trashbin inside owncloud :)

[2015-01-26 18:19] jnweiger commented on #2471
Fixed in isv:ownCloud:desktop/qt5keychain opensuse build service.
It may auto-propagate so some other places, please reopen if something is still missing.

@hefee I'd love to have qt5keychain-dev from packages.ubuntu.com available in the openSUSE build service -- no idea how this can be achieved.

[2015-01-26 18:19] #2471 closed

[2015-01-26 18:56] zocker22 commented on #2679
This is actually a very good question.
I duplicated the file (folder) and named it "_Grafiken.graffle", "__Grafiken.graffle", and "___Grafiken.graffle" and this time the upload worked fine. I neither can explain it nor am I able to reproduce the problem I had three weeks ago.
It seems you where right with your guess, that renaming the folder somehow changed the properties of the files inside.
I wi

[2015-01-26 18:58] DoNck commented on #203
:+1: That would also adress bad resolution problems with some buggy home routers see https://github.com/owncloud/android/issues/865
I think enabling the user to provide coma separated URLs would help users a lot without complexifying the GUI.

[2015-01-26 19:33] danimo commented on #203
How does a second host name field not make the GUI more complex? :-)

Also, what algorithm do you suggest? First look up the internal name, and if that fails, try the external one? What if the internal resolves by chance because there is another host behind it on another network? Many people will also not have HTTPS configured internally, so that would even open up an attack vector unless we force

[2015-01-26 20:06] danimo commented on #2486
@Patrick0815 ownCloud client only evaluated the `http_proxy` environment variable. Unless your Qt version was patched, this was never different.

[2015-01-26 22:59] DoNck commented on #203
Sorry for apparently wrong usage of the thumbs up symbol, it seems to have a reserved usage on github that I did not know about. I didn't want to be impolite, I just meant it seems a good idea to me.

May be I can propose some patch or improve documentation, but we first have to agree on what to do, right ? "outlining the feature more specifically" as you said.

GUI thing clarification: I proposed

[2015-01-26 23:48] MorrisJobke commented on #2737
I can't setup dropbox and test due to https://github.com/owncloud/core/issues/13698 :(

[2015-01-27 07:13] cdamken commented on #2687
Just asking removal of all the files would not fix this issue at all…the customer had seen the prompt and selected “remove all files” mistakenly.
However, the files were reappeared somehow.  How can the behavior be explained?

[2015-01-27 07:45] cdamken commented on #1425
@MorrisJobke https://github.com/owncloud/client/issues/1425#issuecomment-71456017 In my case only the comment, but the errors are similar as the initial post.

[2015-01-27 08:01] DeepDiver1975 commented on #2460
We are talking about the master branch - right?

[2015-01-27 08:12] DeepDiver1975 commented on #2460
I just fixed this in de and de_DE

[2015-01-27 08:13] DeepDiver1975 commented on #2460
as far as I can tell this is already properly translated on transifex - is 'Warning' properly marked as translatable string?

[2015-01-27 08:15] ogoffart commented on #2687
The files are removed because the server told us that the file were removed.
It is a sever problem. Sometimes there is a connection problem wih the bckend and the server used to report no files instead of an error.

There is nothing we can do on the client. (Well, there is, we could detect that something is wrong if all files get suddenly deleted, which is why we show a warning)
The problem lies i

[2015-01-27 08:15] #2687 closed

[2015-01-27 08:53] guruz commented on #2558
Yes, please get all those technology-scared Linux users to a newer Qt version.

Another nice reason for using Qt5: We can use the function pointer signal slot syntax..

http://woboq.com/blog/new-signals-slots-syntax-in-qt5.html

Would easily fix issues as
https://github.com/owncloud/client/commit/b0dbb49ca84a42f701f75270334f3e1714de9074 https://github.com/owncloud/client/commit/12ac9f9aa9cd97d4331

[2015-01-27 09:53] MorrisJobke commented on #2737
What I tried:

* setup Dropbox external storage
* put some test files in
* setup a sync client and sync everything down
* sync some files up to the Dropbox folder via client
* cut the connection to dropbox setting `api.dropbox.com` and `api-content.dropbox.com` to `127.0.0.1`
     * sync client still works
     * you can browse also the dropbox folder in the web UI - it just says: "storage full: i

[2015-01-27 09:55] danimo commented on #2737
@iliyasbasir Please open a server ticket about this issue then.

[2015-01-27 09:55] #2737 closed

[2015-01-27 09:58] jnweiger commented on #2341
cool. closing.

[2015-01-27 09:58] #2341 closed

[2015-01-27 10:49] jnweiger commented on #1605
we have libqtkeychain0 = 0.4 meanwhile, the above suggestion does not work.
Debian does not allow a logical AND that is needed here. Negations and groups are also not supported.
Wontfix. sorry.

[2015-01-27 10:49] #1605 closed

[2015-01-27 10:50] cdamken commented on #1425
@PVince81 https://github.com/owncloud/client/issues/1425#issuecomment-69012424 Both servers have the same time.

@MorrisJobke https://github.com/owncloud/client/issues/1425#issuecomment-71457001 They use 6.0.5, I already told them to upgrade it at least to 6.0.6

[2015-01-27 11:04] jancborchardt commented on #1971
@danimo can you show a screenshot of both states – when it’s paused and when it’s running?

[2015-01-27 11:06] jancborchardt commented on #1851
Shouldn’t in case of error the action column still contain the action where the error occured? Or the text »error«? Having the whole error message in there seems inconsistent.

[2015-01-27 11:07] danimo commented on #1971
@jancborchardt No, I don't have a build of that branch at hand. if it's running it shows whatever state there is as an icon, and the checkmark in front of "Pause syncing" goes away.

[2015-01-27 11:10] fredericmohr commented on #2748
![del1](https://cloud.githubusercontent.com/assets/5955966/5917475/33a22ef2-a61d-11e4-9896-ef5786d68c3c.png)

This is what it looks like in owncloud. These are the two folders I deleted. It's the same thing when I scroll all the way up to the top. Looks like it's starting all over after each time out. Would be better if it'd continue where it left of. (Splitting deletion into chunks?)

For now - c

[2015-01-27 11:14] jancborchardt commented on #1971
Ok, that seems to be the best solution. If we would change it to »Syncing paused« it would create confusion as how to unpause.

[2015-01-27 11:14] jancborchardt commented on #1971
(I’d still prefer the »Pause« button on the same line as the Syncing / Up to date, but I know that’s probably not possible cross-platform. ;)

[2015-01-27 12:15] lmaestro commented on #2352
It is fixed in version 1.8.0 build (1941).

[2015-01-27 12:15] #2352 closed

[2015-01-27 12:19] lmaestro commented on #2580
Waiting to a testpilot build to verify that the "choose what to sync" is the option by default.

[2015-01-27 13:35] MorrisJobke commented on #1425
Nothing happened here with 6.0.5 and client 1.7.1:

[code]

It did several checks, but in the last 5 minutes there was not a single redownload. I will keep the client open and maybe it good redownloaded.

[2015-01-27 13:52] RealRancor commented on #1605
@jnweiger

What about just adding a conflict to libqtkeychain0 0.20140128?

I think that was never an "official" version number and only provided by the OBS repository:

https://packages.debian.org/search?keywords=libqtkeychain0

[2015-01-27 13:57] MorrisJobke commented on #1425
20 minutes later. Nothing happened yet. I will have a look at the logs again.

[2015-01-27 14:08] MorrisJobke commented on #1425
This message shows up repeatedly (3 is error):
[code]

I don't know that one, but it is just present at the beginning of the log and looks like a filter, that dodn't match anything:
[code]

Something that is possibly just a notice (4 is warning):
[code]

And finally those: (last two ones have the same size but other expectations ... kinda weird, but maybe this is simply luck)
[code]

That are simp

[2015-01-27 16:04] jnweiger commented on #1605
Good idea. Not sure if that helps the solver to look again for another version -- but better than nothing.

[2015-01-27 16:10] jnweiger commented on #1605
I see libqtkeychain0 0.20140128 only in private playgrounds  on obs. The case is moot.
Adding Conflicts as suggested and closing.

[2015-01-27 16:23] RealRancor commented on #1605
Hi,

yes, the 0.20140128 was only available in the public OBS repositories one year ago. There are probably not many systems out there which are still having this installed so the conflicts is probably more than enough.

[2015-01-27 21:07] gig13 commented on #2311
@MTRichards @karlitschek @scolebrook
This is being asked for again. I have more information, but here is the general summary.

"We'd like to have the option to not sync new content. A checkbox in the selective sync dialog that is checked by default (current behavior) would toggle between everything syncs until you uncheck it and nothing syncs until you check it. Having the ability to specify wheth

[2015-01-27 21:10] MTRichards commented on #2311
Yup. It is in the backlog for the desktop client, and the current thinking is to set a limit on when the user is prompted if they want to have the folders syncing. For example, that limit could be 50MB. Any new root folder added to ownCloud as a share for that user would be prompted to say yes or no to the sync, and then selective sync would be set based on the answer.

Step 1 though is to solve t

[2015-01-27 21:11] danimo commented on #2695
Here is what happened and will happen:

- [x] Propose fix to Qt (https://codereview.qt-project.org/#/c/104616/).
- [x] Backported (tentatively) accepted patch state to OBS
- [ ] Update build host with new qtbase package and provide a nightly build

Currently waiting for OBS to publish the package that includes the build.

[2015-01-28 06:17] ckamm commented on #2739
@danimo I tried this with a clean confdir and 'Modify Account' but couldn't reproduce it. Could you try it yourself again?

[2015-01-28 06:25] ckamm commented on #2693
@andrewbridge Thank you for the full log!

Relevant excerpt:
[code]

It looks like we get a "disk I/O error" when running quick_check on the database.

[2015-01-28 06:28] ckamm commented on #2701
@guruz I'm not convinced it's related to the WAL file, look at @andrewbridge's log in #2693. Maybe the DB really is corrupt - or there's a bug in quick_check on exFAT somehow?

[2015-01-28 06:30] ckamm commented on #2693
@andrewbridge If the DB isn't too private and you still have it: could you mail E:\Andrew\Documents/.csync_journal.db* to me (kamm at incasoftware.de)? I want to check whether the DB really is corrupt and whether I can reproduce the problem by opening it on an exfat drive.

[2015-01-28 07:06] danimo commented on #2695
http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4650-nightly20150128-setup.exe should no longer have this issue. Please test.

[2015-01-28 07:21] danimo commented on #2695
This build has dependency problems, I'll provide a new one asap

[2015-01-28 07:38] guruz commented on #2701
Yes, I'm not convinced anymore either. It's just that it happened with 1.7.0
1) updating the sqlite3 version
2) when enabling WAL

@dragotin close issue?

[2015-01-28 07:50] danimo commented on #2695
http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4651-nightly20150128-setup.exe works

[2015-01-28 07:54] danimo commented on #1693
Please try http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.4651-nightly20150128-setup.exe

[2015-01-28 08:25] ckamm commented on #2693
Related to #2697

[2015-01-28 08:27] ckamm commented on #1341
@suamikim Could you try the nightly build guruz linked - or try it once 1.8 is out?

[2015-01-28 08:34] cdamken commented on #1425
@MorrisJobke

I reproduced once, but my NFS was probably not synced on that time.

I try with 6.0.5, 6.0.6, 7.0.3 and 7.0.4  with 1.7.1 and I could not reproduce it anymore :disappointed:

[2015-01-28 08:46] dragotin commented on #2701
yes, I think we can close this one, as the investigations haven't lead to something. And we also remove the corrupted file so it gets recreated so I think its done.

[2015-01-28 08:46] ckamm commented on #2685
@guruz I think danimo's change was 2dfbc2058fe172eb8abc96b71da33031fdc5adc1 but applied to Windows only. I'll mark this as [Mac] since it's been explicitly fixed on windows and @rullzer confirmed it doesn't happen on linux.

[2015-01-28 09:58] suamikim commented on #1341
I just installed the nightly on one of my clients and am going to let you know how it works. Thanks for the update!

[2015-01-28 10:00] guruz commented on #2701
(Although I remember one of the reporters mentioned having recreated the DB, tried a new sync dir etc..odd)

[2015-01-28 10:02] guruz commented on #2492
@dragotin Shall we reopen?
Maybe we should link with sqlite3.c like we do on Windows and Mac if Linux users prefer to have their libraries at old versions.

[2015-01-28 10:02] danimo commented on #2607
@michaelstingl This is what it looks like now: ![image](https://cloud.githubusercontent.com/assets/1315934/5935630/2d2aa138-a6dd-11e4-9c1f-25fdfe001a8b.png)

[2015-01-28 10:03] danimo commented on #2607
@craigpg Is the wording ok?

[2015-01-28 10:04] guruz commented on #2492
We bundle 3.8.6 1d5b3aadeaf6f0cfb49aa97176588bbbaee6c3c3

Current version is 3.8.8.1 https://sqlite.org/changes.html

[2015-01-28 10:06] guruz opened #2750 "Updated bundled sqlite3"
We bundle 3.8.6 1d5b3aadeaf6f0cfb49aa97176588bbbaee6c3c3
Current version is 3.8.8.1 https://sqlite.org/changes.html

@ckamm Can you also check the changelog, maybe it has a chance to fix https://github.com/owncloud/client/issues/2701#issuecomment-71799379

[2015-01-28 10:06] guruz commented on #2750
@danimo @dragotin @ogoffart The discussion would also be if we switch Linux to the bundled one.. https://github.com/owncloud/client/issues/2492

[2015-01-28 10:08] danimo commented on #2607
Commit 524f04f34eb990d68b7b64010243cad2b1db3c24 is the final part

[2015-01-28 10:15] qknight commented on #69
signed the agreement and i'm now a contributor.

[2015-01-28 10:46] danimo commented on #2607
will be in the next build

[2015-01-28 10:54] ckamm commented on #2750
I updated our bundled version to 3.8.8.1 but didn't see anything relating to #2701 in the changelog. I think switching to the bundled sqlite version on linux would make sense. The performance difference to older versions seems to be enormous.

[2015-01-28 12:19] craigpg commented on #2607
:+1:  on the wording.

[2015-01-28 12:29] danimo commented on #69
@qknight I am merging your patch as we are speaking!

[2015-01-28 12:45] ckamm commented on #2739
I think @ogoffart fixed it with b0dbb49ca84a42f701f75270334f3e1714de9074

[2015-01-28 12:47] danimo commented on #2739
Ok, thanks.

[2015-01-28 12:48] fredericmohr commented on #69
Awesome :) @qknight should get the bounty (correct me if I'm wrong...)

Anyone know when 1.8 will be released?

[2015-01-28 12:52] ogoffart opened #2751 "Shiboleth regression allow to connect with a different account"
If logged with shiboleth, sign out, then sign in again but enter a different username.

This should not be allowed but it seems to work now.

in ShibbolethCredentials::slotUserFetched we check that, but it seems that the _user is no longer saved.

[2015-01-28 12:53] ckamm commented on #2751
I can reproduce it and will take a look.

[2015-01-28 12:56] danimo commented on #69
@fredericmohr We'll see about bounties once it's really in, but I'm certainly not claiming it, and if I do (in other places), I'd donate it to the next developer meeting as long as I'm an employee of ownCloud Inc.

1.8 will be released in the forthcoming weeks, with a first beta this week.

[2015-01-28 13:17] andrewbridge commented on #2693
@ckamm I've sent that to the e-mail you listed.

As previously noted, I have deleted the db files previously and reinstalled the application in case something (probably me) had corrupted them, and this never seems to help the issue. I'm hoping it's not something that I'm doing wrong!

[2015-01-28 14:03] MTRichards opened #2752 "Branded install should kick off login prompt after installation completes"
Challenge with not auto-initiating connection assistant after installing ownCloud client - in this case, in a branded client with URL pre-configred.

Expectation: Once the client is installed, the connection wizard pops up and starts the connection process for the user.

What happens:
For a fresh install, once the client is installed, it does not go directly to the connection assistant, prompting

[2015-01-28 14:07] MTRichards opened #2753 "Should be able to pre-populate local sync directory with case sensitive path"
As an admin, I want to be able to pre-populate the path for a local sync directory that incorporates the username and the case sensitive name of the server (in this case fictitious HashCloud).

When a user installs the client, it will set up the path properly in the following paradigm:
   "D:/Users/<username>/Desktop/HashCloud" (case is important)

<bountysource-plugin>
---
Want to back this issue

[2015-01-28 14:18] ckamm commented on #2751
@ogoffart Could you test master? I stopped being able to reproduce the issue but think I got two very likely causes. (using skip folder config and failing to fetch the shib user)

[2015-01-28 14:25] danimo commented on #2752
Which platform?

[2015-01-28 14:26] MTRichards commented on #2752
@rperezb ?

[2015-01-28 14:26] danimo commented on #2753
Please be more specific as to what the problem is. This should already be possible, assuming a branded client.

[2015-01-28 14:27] MTRichards commented on #2753
@rperezb if you have any more info on what is not happening.

[2015-01-28 14:40] jdhoek commented on #69
I am looking forward to this feature, and gave the current master branch (@ 22d3a4a48f544b31 the commit right after the merge) a go.

I can build and run the client (although I have to build against Qt5 because of missing functionality in `QSslCertificate`). The client seems to work as expected when I disable client-side SSL-security.

With SSL client-side certificates required however, ownCloud f