[2017-08-15 08:16] gaspar02 commented on #5961
@PVince81 I run occ files:scan --all.

After running that command and trying to sync again the client to server the problem still occur.

[2017-08-15 08:16] PVince81 commented on #5960
I'm fine with this if @guruz is as well.

Let's hope it's the only affected version. There is a slight risk that other distros with older Qts might be affected as well, or at least those which are on 5.6.1.

[2017-08-15 08:41] gaspar02 commented on #5961
Error transferring http://OWNCLOUD-IP/owncloud/remote.php/webdav/sampleFiles-1.pdf - server replied: Service Unavailable
SampleFolder/sampleFiles-2.pdf: Operation Cancelled
Operation Cancelled
Operation Cancelled
Operation Cancelled

That's the error when I'm trying sync client to owncloud server

[2017-08-15 08:46] PVince81 commented on #5961
Does the folder "/var/www/owncloud/data/jomar/files/fIlesngmgacuTe/" exist on disk ? Apparently it tries to upload a file there but says "does not exist" from your last owncloud.log entries

[2017-08-15 08:49] gaspar02 commented on #5961
@PVince81 /var/www/owncloud/data/jomar/files/fIlesngmgacuTe/ are still exist on the server. When I'm trying to open the owncloud via browser there's no error/missing contains on that folder.

[2017-08-15 08:50] PVince81 commented on #5961
@gaspar02 can you double check that all files/folders inside the "data" folder have the correct permissions/ownership ? I don't see why it wouldn't be able to open a file for writing inside that folder.

[2017-08-15 10:04] jnweiger commented on #5960
I'd attribute the risks more to distro specific patches and corner case config. E.g. opensuse Leap is the only distro that needs a patch, so that our icons show up properly.

[2017-08-15 10:30] jnweiger commented on #5957
error in Leap 42.2 (systemlibQt5Core5-5.6.1-2.1 installed) :
[code]

[2017-08-15 10:36] jnweiger commented on #5957
error in Ubuntu 16.04 (no system qt installed at build time):
[code]

[2017-08-15 10:41] jnweiger commented on #5957
error in Ubuntu 16.04 (system libqt5core5a-5.5.1 enforced at build time):
[code]

[2017-08-15 11:15] waheni opened #5962 "Connection closed error when synchronizing"
Good day

I compiled last version of owncloud client (2.4.0) in mac (sierra 10.12) with qt 5.9

but when synchronizing it stop and
<img width="827" alt="screen shot 2017-08-15 at 8 12 47 pm" src="https://user-images.githubusercontent.com/5937941/29313811-69ae9a52-81b3-11e7-9d6e-110092186d7b.png">
 give error "Connection Closed  "

Can any one help

Thanks for all

[2017-08-15 11:18] jturcotte commented on #5960
@jnweiger Which patch is this?

[2017-08-15 11:20] guruz commented on #5960
FYI @ckamm @ogoffart @dschmidt

[2017-08-15 11:23] guruz commented on #5957
@jnweiger I thought we should always use our own oc-qt562 package?

[2017-08-15 11:28] guruz commented on #5962
hi!

That is a server setup issue, the server is the one closing the connection.
You need to check your owncloud.log and error.log on server side to find out more.

Might also be an ownCloud server issue, then the right tracker is https://github.com/owncloud/core :-)

Closing unfortunately

[2017-08-15 11:28] #5962 closed

[2017-08-15 11:36] guruz commented on #5959
I re-open this to have @dschmidt @ckamm @ogoffart evaluate this.

What is this about @jnweiger ?

[2017-08-15 11:37] guruz commented on #5959
@PVince81 Did you ever install some ocqt562- before some months ago?

[2017-08-15 11:37] #2446 closed

[2017-08-15 11:43] moscicki commented on #5076
Hello,

There appears to be a regression in 2.2.4 and 2.3.1. Files with colon are silently ignored.

kuba

[2017-08-15 11:43] moscicki opened #5963 "regression: files with unsupported characters on Windows silently ignored (2.1) #5076"
There appears to be a regression in 2.2.4 and 2.3.1 #5076

Could you please confirm?

[2017-08-15 11:48] moscicki opened #5964 "handling of colons and other non-cross-platform characters in filenames"
Please improve handling of these. Why between two Unix machines I cannot synchronize a file with a colon in the name? How do I explain it to the user who never uses Windows and is not concerned by Windows limitations whatsoever?

The solution is easy: on Unix and Mac upload and download these files, whereas on Windows do not download them but put them on "Not Synced" items tab. There should be ver

[2017-08-15 12:03] jnweiger commented on #5960
@jturcotte
[code]

[code]

[2017-08-15 12:08] guruz commented on #5963
@moscicki Current version is 2.3.3rc1 :-) Re-try that first..

[2017-08-15 12:11] PVince81 commented on #5960
@jnweiger tested Leap 42.2 with the patched package, right-click works for me.

owncloud-client-2.3.3~rc1-8196.1.x86_64

[2017-08-15 12:11] jturcotte commented on #5960
From my understanding this is a KDE feature to provide themed icons, and this isn't related to the tray icon context menu.

I looked at the libqt5-qtbase patches and I can't find much related to the tray icon, so it's quite possible that this also affect other distros. I just hope that this would be specific to Qt 5.6.1 and not earlier versions as well.

[2017-08-15 12:12] michaelstingl commented on #5964
Please also check https://github.com/owncloud/documentation/issues/2832 (platform-wide known limitations, excluded files)

[2017-08-15 12:21] mrow4a commented on #5949
PR ready https://github.com/owncloud/client/pull/5953

[2017-08-15 12:56] waheni commented on #5962
Thanks for your response
the problem is that i used the pre-build application from  the officiel site (same version 2.3.2) and i  does get this issues

[2017-08-15 13:33] guruz commented on #5962
@waheni It's a SERVER or SERVER CONFIGURATION issue, nothing to do with client prebuilt vs your build :)

[2017-08-15 17:18] jancborchardt opened #5965 "Newer file gets renamed to _conflict, should be the other way around"
The current state is this:
![screenshot from 2017-06-30 15-03-06](https://user-images.githubusercontent.com/925062/27736621-3f2488fa-5da5-11e7-94ca-c8b1186ad7ab.png)

The newer (top) file which also is the correct one gets the _conflict status. However, in most of these cases the more recent file is the correct one, and the older one should get the _conflict status. Making the recent one to look l

[2017-08-15 20:20] jnweiger commented on #5957
@guruz  yes, https://github.com/owncloud/client/commit/9aeb587d6c51da52adefa64afe9bf6d410b9eff7 killed the overlays.

cmake .. -DBUILD_CLIENT=OFF -DBUILD_SHELL_INTEGRATION=ON ...

cannot survive with the current QtVersionAbstraction.cmake
We need this feature, so that overlays that don't depend on QT can be built. (or those that depend on a System QT version).

[2017-08-15 23:59] gaspar02 commented on #5961
Hi @PVince81 I'm not the owner of this folder: /var/www/owncloud/data/jomar/files/fIlesngmgacuTe/ and its only shared on my owncloud account. I check the owner of this folder, the files are still there.

Were still using/running owncloud on our old server(PC) and when I copy the DATA folder to the new server(PC) which is high specs than the old one we encountered that problem. But on our old serve

[2017-08-16 01:00] gaspar02 commented on #5961
Hi @PVince81 permission/ownership of new owncloud set up are same from my old owncloud setup.

[2017-08-16 08:13] gaspar02 commented on #5961
Hi @PVince81 and @guruz How can I resolve this error on my new set up owncloud? Thanks

[2017-08-16 10:26] guruz commented on #5889
Linking https://github.com/owncloud/enterprise/issues/2151

[2017-08-16 10:43] guruz commented on #5889
Starting build of rc2 with latest changes of @jnweiger in OBS

[2017-08-16 11:51] guruz commented on #5889
rc2 @ https://download.owncloud.com/desktop/testing/   https://software.opensuse.org//download.html?project=isv%3AownCloud%3Acommunity%3Atesting&package=owncloud-client

[2017-08-16 12:17] yolanda93 commented on #5963
We have tried with the current version (2.3.3rc1) and the problem remains

[2017-08-16 13:19] enoch85 opened #5967 "[FR] Only sync certain files"
As of today you can add files to the ignore list to exclude them from syncing. What I would like to see is the possibility to sync only specific files.

Let's say I have a folder where I only want to sync PDF files which I want to sync but at the same time keep the folder structure of sub-directories. Today I have to exclude everything *but* .pdf, instead of choosing to sync *only* .pdf files.

Wo

[2017-08-16 14:00] ogoffart commented on #5957
if(BUILD_CLIENT)

Yes, that sounds sensible

[2017-08-16 14:08] michaelstingl commented on #5963
@moscicki @yolanda93 Could you send the exact "steps to reproduce" to better cover it in qa?

[2017-08-16 14:14] SamuAlfageme commented on #5963
@michaelstingl no need, I could reproduce by simply including a colon on any filename via webUI and forcing/waiting for sync.

@ogoffart @guruz wonder if the new encoding/decoding logic (https://github.com/owncloud/client/pull/5875) could have some impact here. Probably that is making the error to go unnoticed.

[2017-08-16 14:41] PVince81 opened #5968 "[KDE Plasma 5.9] Systray context menu position on screen shifted"
### Steps:

1. Start client
1. Right click on tray icon

### Expected
Context menu close to the click

### Actual
Menu is shifted:
![context-menu-shifted](https://user-images.githubusercontent.com/277525/29369007-9d59b10e-82a1-11e7-8754-cb8ace18e66e.png)

### Versions
openSUSE Tumbleweed with Qt 5.9.1 and owncloud-client package 2.3.3~rc2 that bundles Qt 5.6.2:

It might be a Tumbleweed / Qt 5.9.1

[2017-08-16 14:44] SamuAlfageme commented on #5968
@PVince81 I saw this one this morning! You're fast!

I think it's a Qt issue when trying to open the systray menu **before the notifications go away**. Then it stays in that location until you restart the client and wait for the notifications to fade. Can you confirm?

[2017-08-16 14:53] PVince81 commented on #5968
@SamuAlfageme I tried your hints several times, but even if I wait long after the notification, menu is always shifted.

I also tried to open them menu while the notification is there and the menu overlaps a bit. So your potential theory that maybe the menu position calculation is based on notification height doesn't seem to be correct.

[2017-08-16 15:11] SamuAlfageme commented on #5968
### Without the "tooltip"
![without_notification](https://user-images.githubusercontent.com/2644445/29370482-c6fbb6e8-82a5-11e7-9e85-5bc2ea63411b.gif)
### With the "tooltip"
![notification](https://user-images.githubusercontent.com/2644445/29370483-c73e5124-82a5-11e7-8f50-0021b9cfe32e.gif)

[2017-08-16 15:18] PVince81 commented on #5968
@SamuAlfageme please post Kubuntu's distro Qt version for reference.

[2017-08-16 15:25] jnweiger commented on #5968
@SamuAlfageme I can reproduce your glitch on Leap 42.3
Wait for a tooltip to appear on the bottom. Rightclick the owncloud icon
-> the context menu is far up in the air.

[2017-08-16 15:36] guruz commented on #5968
(Unclear if bug in Kubuntu/KDE or Qt.. probably the former..
maybe not 2.3.3 but 2.3.4 material if we find a workaround)

[2017-08-16 17:04] mmattel opened #5969 "Documentation improvement"
Based on closed https://github.com/owncloud/client/issues/5917 (Feature Request: Clickable link to folder in Syncprotocol)
I got notified that the feature already exists since version 2.3 but is not documented.

In the Activity tab of the client, in both Sync Protocol and Server Activity you can double click on an entry and the corresponding folder of the file opens, at least under Windows. A very

[2017-08-17 09:43] prechelt commented on #4344
This discussion is not exactly raging. Does nobody else have this problem?

[2017-08-17 10:23] jstoja commented on #3020
I often get issues that get fixed by tweaking my nginx reverse proxy. I think people would have less issues with this kind of stuff if there was an official guide on nginx reverse proxy.

[2017-08-17 10:59] Wohlstand opened #5970 "Account settings are sometimes losting after boot on Linux Mint 18.2"
### Expected behaviour
Account settings must be saved persistently and always used on each boot

### Actual behaviour
After reboot account settings are lose, and client asks me to setup them again from scratch. This is very annoying! This happens randomly and I can't guess when it will nuke settings again.

### Steps to reproduce
1. Set client to auto-start on boot
2. Reboot computer multiple time

[2017-08-17 11:07] raimund-schluessler commented on #5620
It did work with older versions. Sadly I cannot say when it broke.

[2017-08-17 15:00] count0-krsk commented on #1348
So, is any decision for problem now? Or developers just "to hammer a bolt" on this?
We have linux server, windows clients and stupid users what rename Folder to FOLDER often and then ask: "Why your buggy cloud don't syncing anything?"

[2017-08-17 16:19] michaelstingl commented on #1348
@pmaier1 One day, we need a decision here… Related: https://github.com/owncloud/documentation/issues/2832

[2017-08-18 08:15] riccardopirani opened #5971 "I can not open encrypted office files on my owncloud ios"
I can not open encrypted office files on mycloud ios, if I try to load and open ios files, I get this error: (QuickLookErrorDomain error 44820)

### Steps to reproduce
1. I put password to excel or word file
2. Load the files on owncloud
3. When I open ios files i have this error: errror_message_main: can not complete the operation (QuickLookErrorDomain error 44820)

### Server configuration
Opera

[2017-08-18 08:54] michaelstingl commented on #5971
@riccardopirani Could you post a screenshot? Can mobile Safari display the file if you access from your ownCloud mobile web UI?

Background: ownCloud iOS app uses system viewer for office files. If mobile Safari can't display it. ownCloud also can't display it.

[2017-08-18 09:21] guruz commented on #5971
Can you re-post this in https://github.com/owncloud/ios/issues @riccardopirani ?

[2017-08-18 09:22] guruz commented on #5970
Can you go to 'General' settings in the client options, make the window size big enough and copy/paste the Qt version?

[2017-08-18 09:38] guruz commented on #5889
rc2 PR @ https://github.com/owncloud/owncloud.org/pull/1256

[2017-08-18 10:02] #5971 closed

[2017-08-18 11:52] R-yogesh commented on #5947
By enabling remotePollInterval , agent hit the server for every mentioned period for updates, right ?

[2017-08-18 11:53] guruz commented on #5947
Yep, it does a single HTTP PROPFIND request

[2017-08-18 12:07] R-yogesh commented on #5947
can i add the remotepollInteval parameter under variable in  owncloud.cfg  ?

[2017-08-18 12:13] michaelstingl commented on #5947
@R-yogesh Here you can find the documentation:
https://doc.owncloud.com/desktop/latest/advancedusage.html#configuration-file

[2017-08-18 12:24] guruz commented on #1348
@count0-krsk Can you post this as a new bug (or search for duplicates).
Changing the case of a file is/was supported AFAIK.
(The users rename via windows client or web interface?)

[2017-08-18 12:35] R-yogesh commented on #5947
Got it, thanks

[2017-08-18 12:55] count0-krsk commented on #1348
Of course, if it requred. I search before post and found this. And more complex thread with platform-dependent issues (michaelstingl show link before), where writen what no "gold bullet" for mac, win and linux for now.
Clients have many folders with sharing from one user to many other partially (some dirs to one group, some to other users). Some users rename Folder locally to FOLDER, add some file

[2017-08-18 20:33] Wohlstand commented on #5970
[code]
I.e. Buily from git sources of version 820899 in 8 of May 2017 in 14:16:42 using of Qt 4.8.7

[2017-08-18 22:49] sushidave commented on #4327
[Cryptomator ](https://cryptomator.org/) was announced this week on the [Nextcloud blog](https://nextcloud.com/blog/qa-tobias-hagemann-talks-about-storing-sensitive-files-in-nextcloud/) as a ready-to-use client-side encryption solution. How different is it from the ownCrypt solution?

[2017-08-18 22:54] rugk commented on #4327
Cryptomator's Android app is not open-source.

[2017-08-19 04:59] chrsch commented on #4327
The Cryptomator lib with all functions needed by a third party app (e. g. Nextcloud Android App) is open source https://github.com/cryptomator/cryptolib - Though I don't know if there are already plans to integrate it.

[2017-08-19 10:18] tflidd opened #5972 "Save the new URL when hitting a permanent redirection 301"
### Expected behaviour
When you server URL is updated and your are redirected permanently (301) to a new URL, update the URL in the config.

Here: https://mycloud.example.org/owncloud -> https://mycloud.example.org/

Thunderbird lightning detects the redirect and asks if it should update the URL.

### Actual behaviour
Follows the redirect but it means you have to keep the redirection forever

OC C

[2017-08-19 10:44] e-alfred commented on #4327
Cryptomator for mobile is "Open Core". The libraries used are Open Source, the desktop clients are fully Open Source.

The Nextcloud announcement says they are examining how they could integrate it. It would be nice if something comes from that, for sure.

[2017-08-20 08:42] guruz opened #5973 "[macOS] show macOS Dock icon while settings dialog or wizard is open"
I've seen this with the Docker app which is normally only in the menu bar, might be interesting for us to have?

[2017-08-20 13:46] michaelstingl commented on #5973
I'd love this too. And Docker app is also accessible in the Application Switcher (Command-Tab) while the window is open. 👍👍

[2017-08-20 16:43] orion1024 commented on #4327
Also note that few work has been done on ownCrypt, so if something comes out of cryptomator-related efforts it would be good news.
The main issue I have with current cryptomator implementation is that it doesn't allow for file sharing, which is a big barrier to adoption.

[2017-08-20 17:27] rugk commented on #4327
I tzhink for some use cases file sharing is not important and in that case users can just use that cryptomator integration.

[2017-08-20 19:37] #5969 closed

[2017-08-21 13:38] glannes31 opened #5975 "Linux Mint 18.2 - owncloud"
### Expected behaviour
Valid credentials

### Actual behaviour
Erro : Invalid settings credentials

### Steps to reproduce
1. Install owncloud client from Linux Mint 18.2 (17.04 repository)   - 1.7.0 beta
2. Try to set up an account
3.

### Server configuration
Operating system: Redhat

Web server:

Database: Maria DB

PHP version:

ownCloud version:10.0.2

Storage backend (external storage):

###

[2017-08-21 14:35] glannes31 commented on #5975
Solved with :
$ sudo sh -c "echo 'deb http://ftp.debian.org/debian jessie-backports main' >> /etc/apt/sources.list.d/additional-repositories.list"
$ sudo apt-get -t jessie-backports install owncloud-client

[2017-08-21 15:37] michaelstingl commented on #5975
@glannes31 1.7.0 ist 3 years old. 2.2.4 is 1 year old. Better use the latest builds: https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client
(2.3.3 is planned for the next days)

[2017-08-21 15:38] #5975 closed

[2017-08-21 16:43] jnweiger opened #5976 "Document nautilus/nemo/caja/dolphin overlay support aka shell integration on Linux"
Currently owncloud-client is often installed without pulling in the plugin to connect to the system's file browser.

We make a shy attempt on openSUSE, Fedora and CentOS7:
[code]
and DEB:
[code]

This has several issues:
* caja is missing. nemo is missing for DEB.
* The Suggests for DEB ineffective as the -client-doc subpackage is not Required.
* A 'Suggests:' is often silently ignored by most pac

[2017-08-21 17:14] cdamken commented on #4622
@SamuAlfageme adding a comment to https://github.com/owncloud/client/issues/4622#issuecomment-301302083  Sometimes the oc_filecache has still old files/share that doesn't exist anymore.
An `occ files:scan` to that path solves most of the time the problem, but the client loops until the admin update the `oc_filescache` table.

A temporarily unavailable in main storage should not be possible. (The s

[2017-08-21 20:15] pmaier1 commented on #5958
Works, thanks! Good job!

[2017-08-21 20:15] #5958 closed

[2017-08-22 03:22] gaspar02 commented on #5961
@PVince81 and @guruz any help regarding this concern? Thanks.

[2017-08-22 08:41] johnbester opened #5977 "Network access is disabled"
### Expected behaviour
If the network connection is down at the time owncloud client starts up, the client never connects again - even though from the logs it is clearly retrying. From owncloud --logwindow it seems almost as if owncloud selects a network device when internet is down and then attempts to re-use it when internet connection is up.

### Actual behaviour
Ubuntu network manager (16.04LT

[2017-08-22 08:46] PVince81 commented on #5961
I'm out of ideas right now, sorry. I don't see why it wouldn't be able to open the target file if the permissions are correct.

[2017-08-22 09:02] johnbester commented on #5977
I managed to get a little more information. I wrote a script to be called on autostart. The script would ping the server every second and once the server replied, the script would exit the loop and start owncloud client. The loop worked, but owncloud still started without a connection. However, when I added a sleep 10 after exiting the loop, the problem was fixed. From this experiment, it seems th

[2017-08-22 09:14] michaelstingl commented on #5977
Please test with the latest version:
https://owncloud.org/install/#install-clients

2.1.1 has been released in February 2016.

[2017-08-22 09:30] moscicki commented on #4557
Hello,

Any news on this?

kuba

[2017-08-22 12:27] jnweiger commented on #5976
https://en.opensuse.org/SDB:OwnCloud#GNOME has a few lines about the use of the plugins.
@settermjd I am not sure if the shell integration feature is a hidden secret or well documented somewhere?

[2017-08-22 12:41] R-yogesh commented on #5947
Hi, i have gave remote poll interval to 5 minutes, at first time sync successfully happened in 5 minute but next sync takes random time, how can i fix it.
I Tested it by,
step 1:
apply poll time interval value as 5 min in owncloud.cfg

step 2:
login agent with server address

step 3:
upload some file in web server

step 4:
now it successfully synced in 5 minutes

step 5:
after first sync completed

[2017-08-22 13:12] michaelstingl commented on #5976
Shell integration is a regular feature of ownCloud.

From our current docs:

([source](https://doc.owncloud.com/desktop/latest/navigating.html#file-manager-overlay-icons))

and:

([source](https://doc.owncloud.com/desktop/latest/navigating.html#sharing-from-your-desktop))

Needs some refinements…

[2017-08-23 11:53] SamuAlfageme commented on #5960
Hmm... while testing other plasma-related issues with 2.3.3RC2 I also saw this one on Debian 9 w/ plasma 5.8 and Qt 5.7.1:

<p align="center">
  <img src="https://user-images.githubusercontent.com/2644445/29614331-114fa5ba-880a-11e7-8786-fa0029aa32e6.gif"/>
</p>

However I could not reproduce it on distributions with higher versions of KDE plasma. 😕

[2017-08-24 05:00] gaspar02 commented on #5961
@PVince81 Thanks for your reply, Actually this is the 2nd Time I transfer owncloud server to different Server. Before, we test the owncloud to our vacant server (Testing Server) and test it with some user for about 2months. After testing and found that owncloud is working fine, we decided to transfer it to other server included all the data of all user in our owncloud, But we didn't encounter any

[2017-08-24 07:59] PVince81 commented on #5961
Moving to another server shouldn't be a problem. Make sure that the data folder has the exact same path as it had before.

[2017-08-24 08:07] gaspar02 commented on #5961
@PVince81. Yes, we copy the data folder from the old server exactly to the same path of new server.

[2017-08-24 09:41] guruz commented on #5963
I'm creating a file called ```:```  on the web interface with oC 9.1.6.2 and Windows 10.x

I can then clearly see it in ```Not Synced``` tab as ```File names containing the character ':' are not supported on this file system```.

@moscicki @yolanda93 Can you give me more detailed reproduction steps?
Are you sure you waited for the next sync to happen and then checked the ```Not Synced``` tab?
It w

[2017-08-24 09:43] hodyroff commented on #5967
Thought: This might be best implemented as part of the virtual file system approach. We should discuss this at the ownCloud Conference in September. Basically a filter rule for VFS. Standalone it seems that UI and logic will get rather tricky.

[2017-08-24 10:10] hodyroff commented on #5965
https://owncloud.org/faq/#conflict is the FAQ entry for that. Conflict files occur locally - there is a feature request to upload them all into versions, which we are strongly considering to avoid data loss. Your description is correct if you are alone, but in a multi-user system and in a conflict case we want to avoid data loss and want to inform the user who created the conflict that it is his t

[2017-08-24 10:10] #5965 closed

[2017-08-24 10:16] jturcotte commented on #5965
Essentially a duplicate of #5106, have a look for more explanation.

[2017-08-24 10:28] jturcotte commented on #5106
@jancborchardt Have you been hitting the same issue again, that conflict files get created even though you're the only one working on it?

If it's the [case above](https://github.com/owncloud/client/issues/5106#issuecomment-237874136), I'm not sure what we could do, we usually use checksums to look if the local disk has the same file as the one on the server, but we'll only be able to verify that

[2017-08-24 11:04] SamuAlfageme commented on #5963
@guruz

Indeed; you're right, I'm seeing the entries appear on "`Not Synced`" after a few seconds, I think the other day I assumed **not seeing the file-count** in the tab meant there was nothing there (I'm used to it on 2.4 by now):

| 2.3.X | 2.4.0 |
|---|---|
| ![screenshot 2017-08-24 12 35 44](https://user-images.githubusercontent.com/2644445/29663523-d1acbaca-88cb-11e7-874f-939fba96cae8.png)

[2017-08-24 15:21] jancborchardt commented on #5106
@jturcotte yup, in the case I reported at https://github.com/owncloud/client/issues/5965 it was definitely only me working on it. Might have been in a federated share, but no one else worked on the file in the meantime for sure.

Sure yeah, it would be great if the conflict file does not get created at all too. :)

[2017-08-24 15:46] jturcotte commented on #5106
Let's reopen it to track the case where conflict files shouldn't be created for past uploads of the same machine.

[2017-08-24 15:48] jturcotte commented on #5106
We need to confirm that this does happen with ownCloud servers as well, as this could be a server issue.

[2017-08-25 01:50] es20490446e commented on #5968
I can reproduce with:
- Manjaro 17.0
- Plasma 5.10.4
- Owncloud Client 2.3.2

[2017-08-25 02:30] gaspar02 commented on #5961
@PVince81 for your reference; That folder/files is shared to my owncloud account, and I encountered problem when I sync the files/folder that are only shared to my account and Im not the owner

![screenshot_1](https://user-images.githubusercontent.com/31028657/29697175-194c16f0-8980-11e7-858f-a8198a1c7356.jpg)

![errorrefe](https://user-images.githubusercontent.com/31028657/29697177-1c4a15dc-8980-

[2017-08-25 09:40] guruz commented on #5963
@moscicki @yolanda93  ping ^^

[2017-08-25 09:43] guruz commented on #5968
@es20490446e thanks, then it's not a regression. Moving to 2.4..

If someone knows people at KDE/Plasma maybe he/she can @-mention them here or find the upstream issue

[2017-08-25 09:51] guruz commented on #5960
What's the conclusion on this now?

Does this need more package patches/workarounds @SamuAlfageme ? https://github.com/owncloud/client/issues/5960#issuecomment-324305705 FYI @jnweiger

If not please close this issue so we can proceed with a 2.3.3 final :-)

[2017-08-25 09:55] guruz commented on #5977
@johnbester please go to 2.3.3rc2 directly.. https://owncloud.org/changelog/desktop/

We can re-open if needed

[2017-08-25 09:55] #5977 closed

[2017-08-25 09:59] guruz commented on #5976
So the ".py" only packages will be pulled in automatically by the client package? Sounds good.
Can this still be done for 2.3.3?
(I guess we can change linux packages even after release..)

[2017-08-25 10:06] guruz commented on #5947
What do you mean takes more time to sync?
What are you trying to solve?
If you copy files in the web server directory manually, you need to have a look at ```files:scan```
https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/occ_command.html#file-operations-label

[2017-08-25 10:11] PVince81 commented on #5960
Nothing more from me, feel free to close.

[2017-08-25 10:16] guruz commented on #5970
Our [Qt4 support is dead](https://owncloud.org/changelog/desktop/) :-) It's a known settings bug in Qt4.

[2017-08-25 10:16] #5970 closed

[2017-08-25 10:19] guruz commented on #1348
@count0-krsk Please create a new issue, also by mentioning the exact server and client versions you are using. Thanks

[2017-08-25 10:21] guruz commented on #5972
(I thought we did this, but maybe only in wizard.. FYI @ogoffart )

[2017-08-25 10:27] guruz commented on #5959
I'll close this again as @jnweiger fixed the %postun things..

[2017-08-25 10:27] #5959 closed

[2017-08-25 10:41] Wohlstand commented on #5970
Okay, Qt 4 is pretty old, and myself I using Qt 5 for my apps. I think, I would to build client from scratch by Qt 5.

[2017-08-25 10:42] glannes31 commented on #5975
@guruz hello. Tks for your anwser. It s okay now. I said that is solved when i update in version 2.2.

[2017-08-25 10:46] guruz commented on #5975
@glannes31 2.2 is old too :D

[2017-08-25 12:07] es20490446e commented on #5968
I'll report this to the KDE bug tracker.

[2017-08-25 12:16] es20490446e commented on #5968
Reported at:
(https://bugs.kde.org/show_bug.cgi?id=384003)

[2017-08-25 12:28] yolanda93 commented on #5963
The same as @guruz, sorry. Now, I double checked waiting a few seconds and it appears in Not Synced tab.

[2017-08-25 12:40] guruz commented on #5963
@yolanda93 great!

@ogoffart @mrow4a Just a thought we could have those kind of error jobs (generated by a sync job, not in discovery) be ordered very early so that they are visible earlier in the UI?
I don't know how this is influenced by renames/moves

[2017-08-25 13:49] guruz opened #5980 "Remove a lot more Qt4 code"
Noticed when reviewing @jturcotte 's https://github.com/owncloud/client/pull/5978

there is still a ton of

[code]

[2017-08-26 12:54] svolke commented on #5295
Sorry for the long silence. Unfortunately, I cannot allocate time to help out on this one.
However, I want to share some thoughts...

A proper integration needs two things:
* a sync root provider for every owncloud account
* the integration into the navigation pane

All of this is done through the registry, and requires updates only when sync roots change or the client is uninstalled.
The branding

[2017-08-26 14:06] mrow4a commented on #5963
Hmm, I think we can do that, any priority for that?

[2017-08-26 19:44] jturcotte commented on #5295
Humm I think a sync root by definition is something that has a different root folder on the local disk. This is what we call "Folder Sync Connection" in the client is. By default we only have one, but we do support having multiple for each account.

Personally I don't think it's just a matter of implementing it, my impression is that we take more from the user than what we give them by implementin

[2017-08-26 20:38] tessus commented on #5980
You can assign this to me, if you want. Just let me know what I should use as the base branch.

[2017-08-28 08:17] juangamnik commented on #4511
Has anyone experience with using sparse bundle images in owncloud, in order to get this feature right now (you format the image with HFS+ which supports tags and since the sparse bundle splits the disk into 8MiB band files, the traffic penalty isn't that bad)?

[2017-08-28 09:02] fablarosa commented on #4511
Not so easy to use for the average user but it's a valid workaround, I did some quick testing and it looks like only the band files involved in file additions/modifications are syncronized by ownCloud.

[2017-08-28 10:01] michaelstingl commented on #4511
@fablarosa Thanks for checking. Please open a new issue if there is something that can be improved syncing _sparse bundle images_.

[2017-08-28 11:03] fablarosa commented on #4511
One major issue with sparse bundles I had not thought before is that they are image files, think them like iso images split in many small files.
This would cause serious concurrency issues when mounting the same image file from two Macs and add/modify some files stored inside the sparse bundle, tested this myself right now and the results are unpredictable.

[2017-08-28 12:24] jnweiger commented on #2140
not sev3, but p3, according to mstingl's definition.

Having a qtwebkit-minimal sounds like a good idea in general - but manybe will never gain an importance high enough to be finally done?

[2017-08-28 12:39] jturcotte commented on #2140
Why do we now have both "sev" and "p" flags? Can't we rename existing flags if you guys really want the "p" version?
As for qtwebkit, the ideal plan is now to just get rid of it as soon as possible.

[2017-08-28 13:10] jnweiger commented on #2140
This issue is in energy-saving mode.  :-)

[2017-08-28 13:41] settermjd commented on #5976
@jnweiger, I'm not sure either, but will do a bit of digging.

[2017-08-28 13:43] settermjd commented on #5976
@jnweiger, based on https://extensions.gnome.org/about/, it seems that it should be a well-known feature, not something hidden.

[2017-08-28 13:44] settermjd commented on #5976
Should we not just suggest to the user that they should install their extension of choice if they want to, if they want the full functionality on offer? That way, the installer doesn't need to jump through as many hoops.

[2017-08-28 13:56] settermjd commented on #5594
Sorry, I see that I dropped the proverbial ball on this one. Picking it up again to conclusion now.

[2017-08-28 15:30] jnweiger commented on #5976
@msetter I agree: best way is to document what needs to be installed. No crazy installer tricks.

I jokingly said 'hidden' because I was afraid that we never documented it in a useful way. It is not a new feature. It is there for maybe half a year...
That does not imply it should remain hidden. Please expose :-)

[2017-08-28 19:50] guruz commented on #5980
@tessus cool.. 'master' which will become 2.4.0 :)

For 2.3.x we have a 2.3 branch..

[2017-08-28 20:25] tessus commented on #5980
ok, master then. I will be having a PR available by the end of this week (Sunday).

[2017-08-28 20:28] tessus commented on #5980
oh, and please assign it to me (in github), otherwise somebody else might start working on it in parallel.

[2017-08-28 20:40] jnweiger commented on #5976
templates pushed, nighlies triggered, -- will revert if something non-trivial breaks.

[2017-08-29 07:26] ccoenen commented on #5964
I believe what you're describing is already happening. And this behaviour does now work well, either.

My "not synced" tab looks like this, and I hate it. It makes working in a larger group very error prone.

![grafik](https://user-images.githubusercontent.com/124909/29809268-cd1a9940-8c9b-11e7-8685-48188ed4c9b0.png)

Most of these have been created on mac os, where more characters seem to be allo

[2017-08-29 07:28] ccoenen commented on #5964
Rough translation for those who can't read the screenshot. In order (but without duplications) the errors are:

- file name ends with a dot `.`
- file name contains a question mark `?`
- file name contains a colon `:`
- file name ends with a space ` `

[2017-08-29 14:18] jochenwezel opened #5982 "Remove ignored files / files not synced entries from the Activity tab"
Reviewing my sync errors protocol, I would like to cleanup these warnings easily.

In most cases, the file just needed to be removed to solve the warning. But there hasn't been a "copy file path to clipboard" feature available, yet.

To make it even more simple, I'd like to add a button at this location called "Delete selected file"
![image](https://user-images.githubusercontent.com/3033827/298256

[2017-08-29 14:38] jochenwezel opened #5983 "Link in sync app to errors and help doesn't work"
This link button doesn't work, currently:
![image](https://user-images.githubusercontent.com/3033827/29826661-285724e0-8cd8-11e7-8090-a2ffd256aa71.png)

It opens https://central.owncloud.org/c/help/desktop-file-sync which has got a 404 error:
![image](https://user-images.githubusercontent.com/3033827/29826680-3a55caac-8cd8-11e7-954b-d5b8fdbaa956.png)

Possible solutions might be to update the link

[2017-08-29 15:19] DarkknightAK opened #5984 "password file on encrypted partition"
### Expected behaviour
we have in our office an automouted encrypted veracrypt partition. there the owncloud files are stored. On windows there is nothing like kwallet so I'm not sure where the owncloud client passwords are stored. Is it needed or possible to store the connection passwords at the encrypted partition?

### Server configuration
Operating system:
SLES 12

Web server:
appache

Databas

[2017-08-29 15:57] michaelstingl commented on #5983
@lefherz please make sure https://central.owncloud.org/c/help/desktop-file-sync exists-

[2017-08-29 16:03] jnweiger commented on #5983
In upcoming client-2.3.3 the link goes to https://central.owncloud.org/c/desktop-client
But please also maintain the older landing pages for a while.

[2017-08-29 16:05] michaelstingl commented on #5984
@DarkknightAK ownCloud client uses Windows Vault to store credentials. (see https://github.com/owncloud/client/issues/4429)

[2017-08-29 17:15] jnweiger commented on #5976
The packages *-client-nemo, *-client-nautilus, *-client-caja, *-client-dolphin
are now all suggested by the the main *-client package, and they now
require their nemo-python, nautilus-python, caja-python glue code.
If *we* don't require that, the standard install of nemo, caja, nautilus would not require it either,
leaving us with a broken shell integration.
(But requiring the python glue for *all

[2017-08-29 21:26] count0-krsk opened #5985 "Renaming files under shares (case-relative changes) might propagate as a new directory in server"
I have problem, described in
https://github.com/owncloud/client/issues/1348
It still have no decision, 3 years ago...

### Actual behaviour
User Anna have shared folder from Boris. User Ken also have this shared folder.
1. Anna create dir Files and put some documments.xls and dir Subfiles.
2. User Ken rename dir Subfiles to SUBFILES and put some files to it.
3. Anna see "Subfiles" with no new file

[2017-08-29 22:02] DarkknightAK commented on #5984
thanks for the answer.

[2017-08-29 22:02] #5984 closed

[2017-08-29 22:08] michaelstingl commented on #5985
Related: https://github.com/owncloud/documentation/issues/2832

[2017-08-30 07:25] SamuAlfageme commented on #5983
As @jnweiger says, was fixed in https://github.com/owncloud/client/pull/5869 and consequence of https://central.owncloud.org/t/new-central-categories-you-decide - closing here

[2017-08-30 07:31] SamuAlfageme commented on #5982
@ckamm might be interesting together with the "Not Synced" tab rework in 2.4. I can imagine setups with lots of ignored files via pattern that shadow other syncing issues in the list recurrently as they're always present.

[2017-08-30 08:26] lefherz commented on #5983
actually, it should direct to https://central.owncloud.org/c/desktop-client/help instead. I commented in the original issue - if this can still go to 2.3.3 before release, we should direct there. If not, it's not that important, we can leave the link at https://central.owncloud.org/c/desktop-client.

Either way, tell me, when you have decided, and I will ask for a 301 redirect from the old categor

[2017-08-30 08:55] SamuAlfageme commented on #5983
@lefherz almost all the posts in https://central.owncloud.org/c/desktop-client are actually "support"/help requests, so I think this is rather confusing for central users (as it was for me when I did #5869) - I don't think pointing it to the subcategory is that important.

Redirection for older clients would be cool.

[2017-08-30 09:17] SamuAlfageme commented on #5985
@count0-krsk tried to reproduce with these instructions and the ones on https://github.com/owncloud/client/issues/1348#issuecomment-323346005:

So far I'm getting the rename of the folder correctly propagated to the server, this issue would only be possible, if I understood correctly, when both `SUBFILES` and `subfiles` are created in server (since the client ignores one of them). Will take a look

[2017-08-30 10:23] allanday opened #5986 "Window isn't shown when the application is launched"
### Expected behaviour
The expectation is that the app's main window will be displayed when the client is launched.

### Actual behaviour
When the client is launched, no window is shown. This is an issue for two reasons:

 1. It's inconsistent with the way most apps work, and could therefore be confusing. [The GNOME design guidelines recommend always showing a window](https://developer.gnome.org/h

[2017-08-30 14:51] guruz commented on #5980
I tried and you don't show up in the list.
Maybe you need to sign the contributor agreement to be added in the group?

@hodyroff

[2017-08-30 16:18] tessus commented on #5980
Yea, I never signed anything. However, I always thought that as soon as you are participating in a thread you can be assigned to that thread.

[2017-08-30 20:52] jnweiger commented on #5889
Triggered 2.3.3 final builds for ownCloud-client and testpilotcloud-client:
* https://jenkins.int.owncloud.com/view/client/job/official-client-trigger/244/
* https://jenkins.int.owncloud.com/view/client/job/official-client-trigger/245/

That should push the linux builds into their :testing projects.

TODO:
* [ ]  I'll have to double check if sources, win and mac builds end up in the proper locatio

[2017-08-31 00:47] count0-krsk commented on #5985
@SamuAlfageme
Users don't use web interface, just their own directories on PC's

[2017-08-31 09:20] LidhemRV opened #5987 "Keynote files (.key) not syncing using desktop client on MacOS 10.12"
### Expected behaviour
The file should be uploaded to the server. When i change the extension of the file from .key to something else (exempel .ppt) then the file syncs without a problem. The extension .key seems to trigger the issue.

### Actual behaviour
A red X appears and the file is not loaded to the server.

### Steps to reproduce
Steps to reproduce

1. Create a new keynote file and save in

[2017-08-31 11:52] cdamken opened #5988 "Feature request -> Possible to change the F12 to a different Key combination"
In many systems is the F12 used for other purposes.

My feature request is to make it easy for the end-user to change the F12 key to another that they like or can use.

I would be better to have it in the General Tab because most of the end-users can't edit the configuration file per hand.

@michaelstingl @SamuAlfageme

[2017-08-31 16:41] jnweiger commented on #5889
owncloud.org website updates for staging https://github.com/owncloud/owncloud.org/pull/1273
@michaelstingl  Please review the changelog and double check the deprecation warnings.

[2017-08-31 20:14] hodyroff commented on #5987
Sounds weird, can you reproduce against a standard ownCloud Server (demo.owncloud.com admin/admin) with 2.3.3. or even your client version, please? Does not sound ownCloud Desktop Client related.

[2017-08-31 20:25] hodyroff commented on #5986
The ownCloud Desktop Client goal is to be as frictionless as possible. The client is therefor supposed to be running like a daemon, just hidden away and do his task - sync. I think the ownCloud team is doing a great job assuring this works - even for forks who just rebrand our client. Hope to see you at the ownCloud Conference where we can discuss such and other things in person: https://occon17.o

[2017-09-01 05:09] guruz commented on #5889
Downloaded and installed macOS and Windows versions, they work for me.
I didn't check Linux

[2017-09-01 07:16] michaelstingl commented on #5986
On Windows, the client settings window opens if you execute the client again.

[2017-09-01 08:03] LidhemRV commented on #5987
Thank you for your response, I tested with the demo server and it worked fine. My server configuration is also standard, so I checked all possible settings with my webhotel. And then I found something called ModSecurity which was switched on for this site. I switched it off and suddenly the sync worked fine again. Thank you for the small push in the right direction.

[2017-09-01 08:03] #5987 closed

[2017-09-01 09:40] allanday commented on #5986
I can't be 100% sure, but I think that it used to do this on Linux as well, and that the behaviour changed at some point.

[2017-09-01 10:33] hodyroff commented on #5987
Perfect, thank you!

[2017-09-01 10:41] hodyroff commented on #5986
It is that way. "again" is the important word. Start once - run silent. Start a second time and if already running = show configuration window. That is the ideal ownCloud experience, IMHO.
Hope to see you at the conference @allanday

[2017-09-01 10:50] allanday commented on #5986
This makes great sense and is behaviour that GNOME wants to support and encourage. It's actually one of the reasons for the issue - when a user launches the app it is likely that the client will already be running, which means that the launcher won't do anything. In these situations users will expect that launching the app will raise its window.

My travel schedule looks a bit busy around then, so

[2017-09-01 10:52] allanday commented on #5986
I don't see that behaviour in 2.3.2 - is it in a more recent version? Here the window never appears when I launch the app, even if it is already running. A colleague of mine also sees this behaviour.

[2017-09-01 11:25] hodyroff commented on #5986
ownCloud 2.3.2 and ownCloud 2.3.3 soon to be release version. Are you sure you are running an ownCloud Client? Your original description mentions a non-official release. Please reproduce, best is oC 2.3.3 RC2 https://central.owncloud.org/t/desktop-sync-client-2-3-3-rc2-release-candidate-released-linux-users-please-try/8967

[2017-09-01 11:41] allanday commented on #5986
I've tried the ownCloud 2.3.3 RC2 and the issue isn't present there - the window launching behaviour is as you described above. I don't suppose you know whether it has changed since 2.3.2, do you?

[2017-09-01 11:44] hodyroff commented on #5986
Perfect. This area of the code was not touched and works as expected. Have fun using ownCloud - the original, open file sync and share solution!

[2017-09-01 11:44] #5986 closed

[2017-09-01 11:47] hodyroff commented on #5986
@allanday please be welcome to let us know about any other Gnome or otherwise issues you do find with 2.3.3+ or the soon to be release 2.4.0. Alpha/Beta which will have new features like the long awaited "private link with right click" without goint into the web frontend to chat with your coworkers about a file!

[2017-09-01 12:11] artem-sidorenko commented on #5976
@jnweiger owncloud-client-* are missing somehow.

https://build.opensuse.org/package/binaries/isv:ownCloud:desktop/owncloud-client?repository=xUbuntu_16.04

Maybe I'm looking to the wrong place? However in the past I was installing owncloud-client-nemo exactly from this repository

[2017-09-01 12:36] SamuAlfageme opened #5989 "[Regression] In 2.4 "Credentials Wrong" state does not retrigger the password-asking form"
### Expected behavior
After receiving the 401: Unauthorized from the server (`<s:message>No public access to this resource., Username or password was incorrect, Username or password was incorrect</s:message>`) client 2.3.3 displays again the password dialog.

### Actual behavior
The status on the account tab stays `Connecting to <server> as <username>...` until it times out and switches to `Signed

[2017-09-01 13:38] michaelstingl commented on #5976
@artem-sidorenko You can find it here: https://build.opensuse.org/package/binaries/isv:ownCloud:desktop/owncloud-client-overlays?repository=xUbuntu_16.04
(not published yet)

Installation of `owncloud-client-nemo` fixed in 2.3.3 which is planned to be released in the next few hours.

[2017-09-01 16:14] allanday commented on #5986
After further investigation, this appears to be a downstream issue with the Fedora package - the issue I originally reported is present with Fedora's packages, but doesn't appear in upstream packages, or those on Ubuntu or Arch.

I'll report back if anything else turns up.

[2017-09-01 17:34] benyanke opened #5990 "Feature Request: Auto Check Cert in Background"
When connecting to a captive portal, NC's client will typically complain about a bad cert, as would be expected in a traffic intercept situation.

However, as soon as I connect to the captive portal and get connected to the internet, NC won't sync until you manually click "cancel" on the cert override window. Since the window usually gets pushed behind my browser while I'm authenticating to the po

[2017-09-01 17:35] jnweiger commented on #5889
I am doing one more rebuild in OBS: renaming all xUbuntu* to Ubuntu* -- that is how it was with 2.3.2 -- we don't want to break update repos.

[2017-09-01 18:15] jnweiger commented on #5889
Rebuilds done. All fine. Let's publish!

[2017-09-01 18:43] guruz commented on #5889
@jnweiger Cool! Any way to redirect the Qt562 OBS repo somehow to make people get automated update there? I think @dragotin mentioned that..

[2017-09-03 12:35] pjbroad opened #5991 "Repository on openSuse build service for Ubuntu not available"
Owncloud's [website](https://owncloud.org/install/#install-clients) directs users to the [Suse Build service](https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client) to get packages for the Linux desktop client.  While Centos, Fedora, Debian, openSUSE and Redhat packages are still available, Ubuntu packages for all versions have been silently removed.

[2017-09-03 14:30] mrow4a commented on #5864
So should be bring back the topic of folder prioritization?

[2017-09-03 16:17] workingmachine commented on #5991
Same problem here with Ubuntu 14.04 LTS (server).
I use owncloudcmd to synchronize server files to owncloud.

Operating system: Ubuntu Linux 14.04 Server
ownCloud version: All

[2017-09-03 17:23] jnweiger commented on #5889
Hmm. Not sure what @dragotin wanted to achieve. We'll update the qt562 libs together with the clients anyway.

[2017-09-03 18:49] rasos opened #5992 "owncloud client crashed with "Inconsistency detected by ld.so" (SOLVED)"
When launching owncloud client on a vanilla Xubuntu 16.04 , it crashed with
`Inconsistency detected by ld.so: ../sysdeps/x86_64/dl-machine.h: 517: elf_machine_rela_relative: Assertion `ELFW(R_TYPE) (reloc->r_info) == R_X86_64_RELATIVE' failed!`

 This is just for the records, how I fixed it.

`strace owncloud` was a bit more verbose and  showed a number of dependencies of the owncloud-client packa

[2017-09-04 06:52] glannes31 commented on #5889
Hello , 2.3.3 is not publish on owncloud.org . A problem with that ?

[2017-09-04 06:56] SamuAlfageme commented on #5991
I think @jnweiger changed something in the naming schema for the xUbuntu* distros by what I read in https://github.com/owncloud/client/issues/5889#issuecomment-326542094

However, build results are all green for those distros in OBS: https://build.opensuse.org/package/show/isv:ownCloud:desktop/owncloud-client (also, [support for 14.04LTS](https://github.com/owncloud/client/wiki/OS-Support-Policy#u

[2017-09-04 07:00] SamuAlfageme commented on #5889
@glannes31 you're right, looks like https://staging.owncloud.org/install/#install-clients hasn't gone live yet - PR with the changes was merged in https://github.com/owncloud/owncloud.org/pull/1273. I'll ask the admins around.

[2017-09-04 08:15] jnweiger opened #5993 "current master fails to compile with -pedantic-errors"
/home/abuild/rpmbuild/BUILD/testpilotcloudclient-2.4.0-nightly20170903/src/csync/csync_private.h:166:8: error: type of bit-field 'type' is a GCC extension [-Wpedantic]
[ 11s] enum csync_ftw_type_e type : 4;

I am applying a workaround to make the 2.4.0 nightlies build:

[code]

[2017-09-04 08:26] jnweiger commented on #5991
The upcoming 2.3.3 release is not yet published. and the old 2.3.2 binaries were already removed. That is bad. Sorry for that.

For the time being, you can get a copy of 2.3.2 at https://build.opensuse.org/project/show/isv:ownCloud:desktop:client-2.3.2

[2017-09-04 08:42] GokulEpiphany opened #5994 "Is there a way to disable server to client sync alone?"
I'm looking for a way to disable only the sync happening from server to client. Is this possible?

[2017-09-04 10:16] jnweiger commented on #5991
the repo is back.

[2017-09-04 10:17] #5991 closed

[2017-09-04 10:19] glannes31 commented on #5991
And for 14.04 ? it's not back

[2017-09-04 11:45] jnweiger commented on #5889
2.3.3 is live:
* OBS pushed
* https://owncloud.org/install/#install-clients pushed
* announcement on https://central.owncloud.org/t/desktop-sync-client-2-3-3-released/8967

[2017-09-04 11:48] hodyroff commented on #5994
No. The sync is always bi-directional. WebDAV Clients provide maybe what you are looking for, check out Cyberduck and Mountainduck ...

[2017-09-04 11:48] #5994 closed

[2017-09-04 13:56] michaelstingl commented on #5991
@glannes31 Please check the [policy for the supported Linux distributions](https://doc.owncloud.org/server/latest/admin_manual/installation/system_requirements.html#desktop) we added to our docs in April. (added with https://github.com/owncloud/documentation/pull/3001)

Please also check the post on ownCloud Central for discussions:
https://central.owncloud.org/t/desktop-sync-client-2-3-3-released

[2017-09-04 15:38] GokulEpiphany commented on #5994
Thanks for the info

[2017-09-04 17:48] michaelstingl commented on #5295
With Dropbox, you can connect multiple accounts on the server-side. It looks like only one account on the device is needed:
https://www.dropbox.com/help/4270

OneDrive can have multiple accounts on one device. Each account has an own integration, and each account has it's own settings window:
![cursor_and_boot_camp](https://user-images.githubusercontent.com/214010/30035347-7ef170d2-91a9-11e7-88e5-

[2017-09-04 18:04] skriesch opened #5999 "dependency problems on Debian 9"
A Debian user installed the ownCloud Client 2.3.3 and has got dependency problems:

Sélection du paquet owncloud-client:i386 précédemment désélectionné.
(Lecture de la base de données... 147651 fichiers et répertoires déjà installés.)
Préparation du dépaquetage de owncloud-client_2.3.3-8294_i386.deb ...
Dépaquetage de owncloud-client:i386 (2.3.3-8294) ...
dpkg: des problèmes de dépendances empêche

[2017-09-04 18:23] michaelstingl commented on #5999
Why i386?

Could you try again with official instructions?:
https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client

I tested following those instructions and wasn't able to reproduce in a debian:9 Docker (64-bit) and I wasn't able to reproduce in full-blown desktop Debian 9 (installed from debian-9.1.0-amd64-netinst.iso).

[2017-09-04 20:05] dragotin commented on #5960
Hm, what is the conclusion now? Remember that there still is also downstream...

Do I need to include the patch in the 'official' openSUSE Tumbleweed packages? Obviously not, as Tumbleweed is on Qt version 5.9.1currently. Is it needed for the released Leap versions? And for which?

I am talking about this patch:
[code]
Can anybody outline what this patch actually does? Thanks. A bit more communica

[2017-09-05 07:11] pjbroad commented on #5991
Thanks for restoring the repo.

[2017-09-05 08:26] timm2k opened #6000 "Fedora Sync Client 2.3.3 version string contains "%{prerelease}""
### Expected behaviour
Version 2.3.3 (build 8294).

### Actual behaviour
Version 2.3.3%{prerelease} (build 8294).

### Steps to reproduce
1. install Fedora 26
2. install ownCloud Sync Client repo
3. dnf install -y owncloud-client

### Client configuration
Client version:
2.3.3
Operating system:
Fedora 26
OS language:
German
Qt version used by client package (Linux only, see also Settings dialog):

[2017-09-05 09:05] jnweiger commented on #5999
Question: "Le paquet libowncloudsync0 n'est pas installé" does that mean, you downloaded libowncloudsync0 and the system did not want to install it, or does that mean, that the system wanted to install the package and it was not there?

Sorry my french is lacking.

[2017-09-05 09:07] ogoffart commented on #5960
I think there is a bug in one version of plasma that needs the work around.
With newer distribution, this work around should not be required.
The best is to test with plasma. If cou can right click to get the menu.

[2017-09-05 09:10] jturcotte commented on #5295
@michaelstingl It could be an idea of the wizard, yes. If users choose what to put in explorer, enabling them to add/remove each folder integration through the UI this would make the "Add a namespace icon at the root of the explorer tree for every folder connection" option above a good way to go (the user can control the explorer clutter).
We'd need to find a way for the installer to read the clie

[2017-09-05 09:44] skriesch commented on #5999
The guy used the instructions on software.opensuse.org.
I explained it there: https://central.owncloud.org/t/own-cloud-desk-top-client-does-not-work-on-debian-9-i386/9283/12

It seems the system wanted to install the package and it wasn't there.

[2017-09-05 10:02] michaelstingl commented on #6000
@SamuAlfageme Please check how to catch such naming glitches in automated testing.

[2017-09-05 10:06] jnweiger commented on #5950
IMHO pushing nsis-3.01 into lex-brander is not helpful. It does not bring the fix we wanted, and touching lex-brander is a risk.

[2017-09-05 10:58] jnweiger commented on #6000
that is strange. Investigating...

[2017-09-05 11:14] ckamm commented on #5933
`BIGINT` is roughly an 8 byte integer on MySQL, MariaDB and PostgreSQL. So our sqlite layer is already safe. We do need to go through the code and ensure we use a fitting datatype though. And yes, the conversion from fileid to id needs a double check to be in line with what the server does.

[2017-09-05 11:28] ckamm commented on #5933
On further investigation, the client is already fully prepared for this change. We store the full id as text in the database and extract the numeric id (as text) from it.

I've commented about potential effects on the full id at https://github.com/owncloud/core/issues/26901#issuecomment-327147423 . Once that receives an answer, I'd add a unittest and close this issue.

[2017-09-05 11:58] ckamm commented on #5933
I've also tested with master owncloud server by manually assigning a fileid beyond the 4-byte range in the servers database. The client database looks fine and the link generation works.

[2017-09-05 11:58] #5933 closed

[2017-09-05 12:36] jnweiger commented on #6000
oh yeah. The empty variable in RPM is not the empty string. It is %nil.
Pushing the fix in the nightly builds.

[2017-09-05 12:37] ckamm commented on #5989
@ogoffart I've debugged this using mitmproxy, and what seems to be happening is this: When the password is rejected, we *do* call `HttpCredentialsGui::askFromUser` again, but the GET request (to check whether the server can do oauth) stalls. After 30s the `::abort` timer triggers.

Do you have any ideas about why the request would not be performed? (there's no entry in mitmproxy for it)

[2017-09-05 15:25] jnweiger commented on #6000
looks good. Rebuild of the released RPMs triggered.

[2017-09-05 18:38] jnweiger commented on #6000
fixed packages are public.thanks!

[2017-09-05 18:38] #6000 closed

[2017-09-06 07:00] ogoffart commented on #5989
@ckamm: I have no idea,  if askFromUser is called, then normally the GET should be done. Some debuging might be in order.

[2017-09-06 07:30] ogoffart commented on #5992
looks like it was a configuration problem.   Please try the latest version 2.3.3.
Also, it seems that this comes from the nextcloud packages and not the official owncloud packages.

Closing for now. Please re-open if you see a problem with the latest 2.3.3 pakages.

[2017-09-06 07:30] #5992 closed

[2017-09-06 07:32] ckamm commented on #5989
Yeah, I'll look at it more deeply today. It's confusing that the GET request doesn't even go out. Also, I think this might deserve code sharing with DetermineAuthType - currently it doesn't deal with redirections properly.

[2017-09-06 07:34] ogoffart commented on #5988
An option for that is out of question.
However we can assign a second shortcut which is less likely to be taken by something else. any suggestion? (Ctrl + L for example? L for Log)

[2017-09-06 07:35] ogoffart commented on #5980
I think we require at least Qt 5.5, if not 5.6  so anything older than Qt 5.5 can be removed.

[2017-09-06 11:09] guruz commented on #5999
@skriesch I'm confused, your french log in the original report where is it from?

I'm thinking of closing this, users should install via apt-get, not via dpkg..

[2017-09-06 11:10] #5993 closed

[2017-09-06 11:12] guruz commented on #5990
-> Dup https://github.com/owncloud/client/issues/3120

[2017-09-06 11:12] #5990 closed

[2017-09-06 11:20] guruz commented on #5980
I think the cla-assistant bot will allow you to click to sign the agreement when you submit your fix PR :)

[2017-09-06 11:26] guruz commented on #5950
But inconsistent versions is also meh.. but your decision:) not a big problem

[2017-09-06 12:20] ckamm commented on #5989
Debugging has yielded the following (thanks to @guruz, @jturcotte, @ogoffart for suggestions):
* When `HttpCredentialsGui::askFromUser`is called from user action, everything works, including the GET request to determine the auth type.
* When the user provides an incorrect password, the PROPFIND fails and `askFromUser` is called again. That is good.
* However, this time, the `sendRequest("GET", ...

[2017-09-06 12:29] guruz commented on #5789
FYI @ckamm

[2017-09-06 12:55] ckamm commented on #5989
@guruz FWIW: I get the same incorrect behavior if I don't `reply->close()` in `HttpCredentials::slotAuthentication`:
[code]

[2017-09-06 13:01] guruz commented on #5989
@SamuAlfageme Is this a self-compiled client with which Qt version?

[2017-09-06 13:09] ckamm commented on #5789
So, since all 8.X servers are now at EOL we could remove this workaround. It might help with addressing bugs like #5989 that are seem related.

[2017-09-06 13:37] ckamm commented on #5789
Further investigation:
* QAuthenticator in Qt 5.6.1 doesn't support the "bearer" challenge or response that's needed for OAuth2.
* Issue #5989 isn't addressed by feeding credentials (for basic auth) in the slot for authenticationRequired

[2017-09-06 13:56] SamuAlfageme commented on #5989
@guruz nope, it's a month-old nightly:

[2017-09-06 14:09] ckamm commented on #5989
Todo here: Apply workaround. Check whether it's fixed in newer Qt versions. Try to make a small test case.

[2017-09-06 14:16] ckamm commented on #5789
OAuth2 support in Qt:
* QtNetworkAuth (preview in 5.8, released in 5.9?) https://doc.qt.io/qt-5/qtnetworkauth-index.html
* pipacs/o2 (https://github.com/pipacs/o2)

But since @ogoffart already made OAuth2 work for 2.4, none of these are urgent.

[2017-09-06 15:14] guruz commented on #5983
Please don't break links :-(

CC also @settermjd who i complained to the same about doc links ;-)

[2017-09-06 15:15] guruz commented on #5983
I somehow can't assign an issue to @lefherz here..

@lefherz the problem is the already released clients must not break.

[2017-09-06 21:37] lefherz commented on #5983
o.0 I already opened a ticket at sysadmin@owncloud.com.... but they somehow don't seem to answer it, or any of my other tickets o.0

[2017-09-07 02:03] tessus commented on #5980
Yea, I was hold up by a few other things, but as I can see 2.4.0 is gonna take a while anyway. :-)

Still, I try to work on it asap.

[2017-09-07 09:25] ckamm commented on #5989
Solved by workaround.

I've also tested with Qt 5.9.1 and the same bug manifests itself. This might bite us in other codepaths, so I'll spend some time trying to create a test case we can use to report and fix this problem upstream.

[2017-09-07 09:25] ckamm commented on #5989
PR #6002

[2017-09-07 09:29] ckamm opened #6003 "Check redirect handing with HttpCredentials"
2.4 has seen the introduction of OAuth2 in HttpCredentials and I have the inkling that this might have changed something with respect to how redirects are handled.

1. Check what happens when a configured server url suddenly becomes a redirect on startup in 2.3.3
2. Test the same scenario in 2.4, with basic auth and with oauth2.

[2017-09-07 10:16] ckamm commented on #5989
This test case doesn't reproduce the problem unfortunately:
[code]

[2017-09-07 12:05] guruz commented on #4511
https://github.com/owncloud/client/issues/3202

[2017-09-07 12:16] ckamm commented on #6003
Test setup:
1. Have an ownCloud instance that's reachable as localhost/sub/status.php and localhost/other/status.php
2. Create an account pointing to localhost/sub, quit the client
3. Change localhost/sub/* to 301 redirect to localhost/other/$1
4. Start the client again. It should be able to connect to the configured account.

Results for 2.3 branch: works
Results for master branch: does not work

[2017-09-07 12:25] guruz commented on #2502
The client only deletes when the file is the same as on server.
Can you go into detail which behaviour you saw exactly?

[2017-09-07 12:54] jnweiger commented on #5983
client-2.3.3 opens https://central.owncloud.org/c/desktop-client -- this is a working URL. please let me know if there is a better place to point to.
As we cannot fix clients-2.3.2 that are already out there, the old urls should remain. Why were they removed?

[2017-09-07 13:00] juangamnik commented on #4511
Reducing the band-size (let's say to 1 MB) should reduce the conflicts, but it is no solution. I try to unmount the image before leaving a machine (and wait for sync), but this is error-prone. Unfortunately, during unmounting HFS seems to do some last cleanup-writes (perhaps journaling...), so you have to unmount it, before you can mount it on another machine. Last but not least, there are some fi

[2017-09-07 13:30] #5999 closed

[2017-09-07 13:38] michaelstingl commented on #5983
@lefherz Could you re-create the missing URL's?

[2017-09-07 14:42] slylabs13 commented on #2502
Set up a local folder with subfolders to sync. After the sync, suddenly see subfolders you do not want or need synced. Uncheck subfolders. Watch in horror as your local files are removed from the file system. Of course, you can re-check the subfolders and they reappear, but now I feel like I had sex with a girl who now threatens to destroy my like if I ever leave her.

Bob S

[2017-09-07 14:47] dragotin commented on #2502
Dear Bob, yes, if you have that feeling, I kindly like to remind you to what your mom probably was teaching you: Before doing something (the one, or the other thing) think a second if it is good for you ;-)

[2017-09-07 14:49] dragotin commented on #2502
...and on a more serious note: The files were added to the local harddisk through the sync, not because you put them there. Now they disappear again, as you removed them from the sync tree. I think that is very logic, and works as designed. But that is maybe just me...

[2017-09-07 15:02] slylabs13 commented on #2502
That is true if you are syncing files from another source. What if YOUR hard drive was the original source? Then it makes no sense at all!! And that is the key to any kind of sync. Who becomes the master? The original? The latest? In this case the devs decided the server was the master because they cannot account for all use cases (someone pushes files up from a temporary thumb drive for instance)

[2017-09-07 16:24] jnweiger commented on #5889
update the updater: https://github.com/owncloud/enterprise/pull/2246

[2017-09-07 19:08] hefee opened #6004 "QtKeychain in 3rdparty"
Why you include an old version of qtkeychain 0.5.0 inside 3rdparty with 2.3.3?

0.5.0 was released at 2015! But the newest 0.8.0 has for example an issue, that at least stops Debian of shipping it:
https://github.com/frankosterfeld/qtkeychain/issues/99

Please do not include every library,that you depend on in 3rdparty. It makes it much harder for distributions to package owncloud-client, because

[2017-09-07 23:10] hefee opened #6005 "Don't pack unnecessary stuff in the public tarball. Maybe there should be a separate public tarball"
Hey,

I checked the new tarball 2.3.3 and because now libcrashreporter-qt is included the endproduct is GPL3+:
'''
src/3rdparty/libcrashreporter-qt/src/libcrashreporter-gui/CrashReporter.cpp
src/3rdparty/libcrashreporter-qt/src/libcrashreporter-gui/CrashReporter.h
src/3rdparty/libcrashreporter-qt/src/libcrashreporter-handler/Handler.cpp
src/3rdparty/libcrashreporter-qt/src/libcrashreporter-handler

[2017-09-08 06:55] haukman opened #6006 "[testpilotcloud] [Windows] Logo looks strange in installer"
I just tried the latest nightly for the desktop client 2.4 on my Win 10 and discovered that the ownCloud logo looks a bit strange during install process:

![grafik](https://user-images.githubusercontent.com/25486818/30199509-567fc44c-9473-11e7-90b9-fa6038b65891.png)

[2017-09-08 06:56] dschmidt commented on #6005
What license do we need for libcrashreporter? GPL2?

We can relicense that probably, I just need to check with a few people.

The files in breakpad are more problematic, need to dig into this.

[2017-09-08 07:04] dschmidt commented on #6005
The explanation page lists a bunch of other packages using the same file(s)?

Is this just a debian policy violation or also a gpl violation?

[2017-09-08 07:15] michaelstingl commented on #6006
No change for a long time: https://github.com/owncloud/client/commits/master/admin/win/nsi/page_header.bmp

What is "but strange"?

[2017-09-08 07:18] michaelstingl commented on #6006
Oh, this is testpilotcloud theming. @jnweiger Do we have a testpilotcloud header image for the NSIS installer?

[2017-09-08 07:18] haukman commented on #6006
The cloud is in front of the "ownCloud" text. Looks somehow incorrect.

Thought it might be a formating issue or so - if not, it´s fine for me :) Just wanted to share my impression

[2017-09-08 09:29] ckamm commented on #5972
Since I'm set up for redirect testing anyway from #6003 I'll take care of this. I'll add redirection checking in the request for `status.php`. If we see a 301/308 there, it'll update the account with the new url.

[2017-09-08 10:02] Wikinaut opened #6008 "[Regression][Debian8] owncloud client symbol disappeared"
* Debian 8
* Owncloud  2.3.3: Gebaut von der GIT-Revision 57bc79 auf Sep 5 2017, 18:45:40 verwendet Qt 5.6.2, OpenSSL 1.0.1t 3 May 2016

#### Regression
After updating the version and debian, the owncloud symbol is no longer shown.

[2017-09-08 10:22] michaelstingl commented on #6008
"owncloud symbol" where? Could you post a screenshot?

[2017-09-08 11:10] Wikinaut commented on #6008
in the upper notification bar, close to the date/time information.

[2017-09-08 11:11] Wikinaut commented on #5435
Regression in debian.

[2017-09-08 11:12] Wikinaut commented on #6008
reopenend https://github.com/owncloud/client/issues/5435 because of regression

closed this #6008 as duplicate to #5435

[2017-09-08 11:15] jnweiger commented on #6004
Linux builds use qtkeychain-0.7.0 -- maybe we can just update that client/src/3rdparty/qtkeychain to use the same source and configure settings than we use in https://build.opensuse.org/package/show/isv:ownCloud:devel:Qt562:templatized/ocqt562-qt5keychain

[2017-09-08 11:41] jnweiger commented on #5983
we need a 301 redirect from
https://central.owncloud.org/c/help/desktop-file-sync
to https://central.owncloud.org/c/desktop-client/help

suggest to use a https://central.owncloud.org/go/.... schema for general redirectors...?

[2017-09-08 12:26] jnweiger commented on #6005
I suggest to generate two flavours of the source tar ball. The full one, and the downstream tar that would not contain crashreporter and other stuff that is not used anyway in linux packages.

Also remove the /binary/ folder with horrible stuff like binary/shell_integration/windows/Release/Win32/OCOverlays_x86.dll in this downstream tar!

[2017-09-08 12:43] jnweiger opened #6010 "testpilotcloud nsis installer is not properly branded"
![testpilotcloud-syncclient-installer-nsi-page_header](https://user-images.githubusercontent.com/1108546/30211976-529fcec8-94a3-11e7-86f3-a57edd0def3c.png)

This logo should show nice golden testpilot colors.

(.. and hey, also for the unbranded client: this logo looks like a trademark variation when compared with
[Logo Usage Requirements](https://owncloud.org/trademarks) )

[2017-09-08 13:05] guruz commented on #6010
Is this a duplicate of https://github.com/owncloud/client/issues/6006 ?

[2017-09-08 13:05] guruz commented on #6010
I'd consider this urgent if it impacts branding in general..

[2017-09-08 13:07] guruz commented on #6005
... what @jnweiger said.

[2017-09-08 13:19] guruz commented on #6004
Funny, this seems to be added mistakeninly in c8b3df6668469de07626141d3bf32cc894e6676d probably when i tried to do https://github.com/owncloud/client/issues/1416

[2017-09-08 15:13] Wikinaut commented on #5435
Problem is gone. Closing this issue again.

[2017-09-08 15:18] hefee commented on #6005
well you say, that occ is GPL2+ so, it must be also GPL2+, otherwise the endproduct is GPL3+. That is not a vialation but than the occ is inderectly GPL3+. And I haven't looked deeply into the code how the things are linked together etc. so it may be okay to link to a GPL3+ lib, but for sure at the least libcrashreporter is GPL3+.

well Unicode company gives you the right to distribute and to make

[2017-09-08 15:22] hefee commented on #5618
Can you please release such informations for packages, too, if you send the release notes? Than packagers can make sure, that they have the necessary Qt patches available, if they package occ for their distribution.

[2017-09-08 15:30] guruz commented on #5618
@hefee FYI packagers are using the system Qt usually.

[2017-09-08 15:33] guruz commented on #6005
@hefee Would it be an option for you to use the git tag (v2.3.3) instead of the .tar.xz?

[2017-09-08 15:34] guruz commented on #6004
Should be removed for 2.4 :)

[2017-09-08 15:34] #6004 closed

[2017-09-08 16:21] michaelstingl commented on #6010
No, it's only a testpilotcloud image missing in the testpilotcloud theming.

[2017-09-08 16:31] DerekJarvis commented on #2502
The general tone of "I know what's best for how YOU sync YOUR files" is a bit disturbing. Of the posts I read, the request isn't necessarily to change the default behavior. The request is to make it much more clear that files are about to be deleted, and provide an option not to. I also have the scenario where my Owncloud has more data than my laptop can store on the internal drive - but I'd like

[2017-09-08 16:49] DerekJarvis commented on #2502
I think the initial subject is a fair request: give us the option to remove the folder from the sync list and keep our local copy. It's debatable whether or not this should be the default or not - but I would be happy with just having the choice. It's part of why I host my own private cloud - because it's my data and my choice.

I've started a bounty for this here: https://www.bountysource.com/iss

[2017-09-08 17:01] hefee commented on #5618
@guruz yes, but a distribution may have a version of Qt that should may be fixed to give the user the best experience. Thats why it is a very usfull information for packages, what they should check.

[2017-09-08 18:28] hefee opened #6011 "Copies of unused? jquery and bootstrap in docs"
Currently my Debian sid builds fails, because there are unknown versions of jquery/bootstrap versions:
[code]
So I started to search why there is jquery/bootstrap copy inside occ and it looks like at least jquery is only used for the owncloud_org theme:
[code]

and bootstrap:
[code]

maybe somebody can explain me, why we need a copy of bootstrap/jquery and if I can safly replace them with system o

[2017-09-08 18:41] michaelstingl commented on #6011
@settermjd Can you help here?

[2017-09-08 18:59] michaelstingl commented on #5295
@jturcotte Users would get their ownCloud data back. In Win 10, it's very difficult to find your ownCloud data. Here is an example when you try open a file with text editor (no ownCloud, but OneDrive everywhere):

![windows_10_pro_x64_and_ie11_-_win8_1](https://user-images.githubusercontent.com/214010/30225982-b8fee1c8-94d4-11e7-8bcd-df98c6a2e6b2.png)

Accessing ownCloud data from Word 2016 on Win

[2017-09-08 20:03] dragotin commented on #6005
Ok, thanks @hefee for digging this. I stopped the submit request to openSUSE Leap for now.

[2017-09-08 20:09] michaelstingl opened #6012 "Can't add pattern #*# to ignore list"
One of our users can't add the pattern `#*#` to the client's ignore list. Trying to add this pattern manually into the `sync-exclude.lst` results in the client is deleting this entry.

Our user wants to exclude temporary emacs files with this entry.

Tested with v2.3.2 on Linux Mint 17.x.

@SamuAlfageme Any idea why this isn't working as expected?

00008148

[2017-09-08 20:11] michaelstingl commented on #6012
Some more thoughts:

[2017-09-09 02:28] phil-davis commented on #2502
Bob,
The issue is that ownCloud is not a "full mesh/distributed" sync solution. So if there is LaptopX, Server, TabletY, MobileZ, Laptop2... and LaptopZ is designated as "master" for some folder(s)/file(s) then there is no way for TabletY, MobileZ, Laptop2... to then be able to choose to get a synced copy of those files.

Solutions that keep some folders/files only locally on LaptopX (within what

[2017-09-09 11:14] hefee commented on #6005
@dragotin
I won't solve this issue, because for me as downstream it is not that important if it is GPL2+ or GPL3+ and the unicode files are excluded from the tarball I use.

[2017-09-09 11:54] jnweiger commented on #6005
@hefee  thanks for the list!
I've applied an rm -rf loop with these. Result is pushed into https://build.opensuse.org/package/show/isv:ownCloud:community:edge/owncloud-client
Would that tarball be DFSG free?

[2017-09-09 12:18] hefee commented on #6005
Well nope, if you look at https://lintian.debian.org/tags/license-problem-convert-utf-code.html and than what DFSG#3 is https://www.debian.org/social_contract#guidelines, than you see a lawyer see this differently.

[2017-09-09 12:27] jnweiger commented on #6005
Saw that. Arguments can win and lose dependening how convincing a speaker is. Sadly that also applies to arguments amongst lawyers. I'd be much more interested to hear a comment from the Unicode authorities, if they intended their license the way it is currently being interpreted.

In any case: Removing the files should settle the issue for us.

[2017-09-09 23:44] x9t9 opened #6013 "allow editing the account / domain in client"
This is more an enhancement than a bug , but :

There should be some possibility to edit the host domain , under the account menu.

Last week , I had to change the domain of my OC server ( only domain - not the server itself ).
I had about 12 different devices with 20 accounts counting many many gigas of files , and I was very surprised to see that there is no option for editing the domain under t

[2017-09-10 12:01] marshallpp opened #6014 "Forbiden Error"
### Expected behaviour
Norman Syncing

### Actual behaviour
Red cross and following errors on transfering

Error transferring https://www.jasperglobal.com/jaspercloud/remote.php/webdav/Cara Samways (Wuala Transfer)/CarasSpace/Company.NDA.MOU.Costings/UK/UKTI/UKTI.proposals.May16.xlsx - server replied: Forbidden (Sabre\DAV\Exception\Forbidden)|403|15618|1463054093|1daf0257daffb47d88ed438be1109958|0

[2017-09-10 12:31] phil-davis commented on #6014
PHP 5.3 is well out-of-date - I am expecting to see PHP 5.6 7.0 or 7.1 on any ownCloud server.
Perhaps the server has the Firewall app, and something is actually being purposely blocked?
Or some other issue with the user account on the server?

This is a the bug-tracker for ownCloud. It is not at all clear if there is a bug here. I suggest that you report/discuss in https://central.owncloud.org/ w

[2017-09-10 14:41] michaelstingl commented on #6014
PHP 5.3 isn't supported with oC 10.0.x.

status.php says 9.1.4 (min. requirement PHP 5.4):
[code]

Client version not provided.

[2017-09-10 14:41] #6014 closed

[2017-09-11 07:35] SamuAlfageme commented on #6013
@x9t9 this is actually in the scope of https://github.com/owncloud/client/pull/6009 :

It'll of course require you to set-up a redirection in your old server's endpoint but all clients will update transparently in exchange.

Of course, you can always edit the [configuration file](https://doc.owncloud.org/desktop/2.3/advancedusage.html#configuration-file) (at your own risk), where you can find the

[2017-09-11 07:35] #6013 closed

[2017-09-11 07:45] SamuAlfageme commented on #5954
Will be fixed by: https://github.com/owncloud/client/pull/6009

[2017-09-11 07:57] SamuAlfageme commented on #6011
To avoid building the docs with the client we should use the`-WITH_DOC=FALSE` flag for cmake as stated in: https://doc.owncloud.org/desktop/2.3/building.html#generic-build-instructions (only used for manpages there, I think) - or even use it by default, since most of the time we might not want to build the docs locally.

[2017-09-11 09:01] ckamm commented on #5954
@SamuAlfageme Thanks for the pointer, I'll check whether my patch does indeed address this.

[2017-09-11 09:06] SamuAlfageme commented on #6012
Indeed lines starting with `#` in the `sync-exclude.lst` are being ignored as comments:

https://github.com/owncloud/client/blob/8be2aaa751f03088efc5600be1d20adc732526b3/src/csync/csync_exclude.cpp#L158-L168

We should provide a way to exclude these; i.e. escaping the pattern somehow.

[2017-09-11 09:18] guruz opened #6015 "ChunkingNG test flaky on CI?"
Works fine for me locally.

Not working on
https://jenkins.owncloud.org/job/owncloud-client/job/client/job/PR-5995/2/consoleFull
https://jenkins.owncloud.org/job/owncloud-client/job/client/job/master/378/console
Sometimes works on master
https://jenkins.owncloud.org/job/owncloud-client/job/client/job/master/379/console

[2017-09-11 09:22] mrow4a commented on #6015
You mean, investigate why it does not work on CI?

[2017-09-11 09:24] hefee commented on #6011
Well the client is built with -WITH_DOC=FALSE by default. But for Debian we want the documentation built to ship it to the users! I think that the whole doc/ocdoc/_shared_assets was added to the released 2.3.3 tarball by accident. Because without this folder, occ just created the "unthemed" documentation like before. Here the relevant part of CMakeLists.txt, why I needed to handle several copies o

[2017-09-11 09:29] michaelstingl commented on #6011
`doc/ocdoc/` has been removed from master branch some time ago: https://github.com/owncloud/client/pull/5929

@settermjd @guruz Backport to 2.3?

[2017-09-11 09:30] guruz commented on #6015
Why it SOMETIMES does not work on CI :)

Maybe you can also get it flaky on your local system?

Maybe some sleep() needed like in the other issue we had?

(btw, there was also this basicSync smashbox test flaky, not sure what is the state of this)

[2017-09-11 09:33] guruz commented on #6011
CC @jnweiger for accidental tarball stuff..

I'd be ok with #5929 but then how can the docs be built by packagers? (CC @dragotin )

[2017-09-11 09:39] hefee commented on #6011
Well doc/ocdoc is not needed for the documention of the client in "unthemed" mode.
But according to #5929, why the hell are you deleting the manpages? doc/owncloud.1.rst and doc/owncloudcmd.1.rst

[2017-09-11 09:51] guruz commented on #6011
Ah good!

Because we don't want to maintain duplicate information. there is already ```--help```

[2017-09-11 09:54] guruz commented on #5295
I now agree with @michaelstingl and think this is quite important to have. Else it's hard to use the client on Windows.

Wizard won't work for EXISTING sync folder (connections)

This sidebar explorer stuff should be the default, no setting in client or installer please.

So there is no favorites in quick access anymore in win 10 anymore? :-(
(BTW, saw a ```.reg``` to change that on https://www.te

[2017-09-11 10:38] jon-tlmi commented on #4341
Interesting news today:
Google is also now starting to offer the equivalent of placeholders/ file stream/cache on demand as part of their move to Google File Stream from the standard Google Drive app
https://www.theregister.co.uk/2017/09/11/google_deprecates_drive/
https://techcrunch.com/2017/09/07/google-launches-drive-file-stream-to-replace-the-google-drive-desktop-app-for-g-suite-users/
https:/

[2017-09-11 10:57] ckamm commented on #5954
No, this is actually an independent issue. The issue here is that when the user enter http://foo the client queries http://foo/status.php. Url shorteners don't forward subpaths, so this url will actually be a 404!

Suggestion: In the wizard only, start off by querying the url the user entered and handle permanent redirects. Only then change the path.

[2017-09-11 11:11] SamuAlfageme commented on #5954
@ckamm you're absolutely right. I forgot the original reason of the issue.

IMO, we should go for this, yup 👍

[2017-09-11 11:32] mrow4a commented on #6015
@tboerger is that related to our blasting fast CI now ?

[2017-09-11 11:48] ckamm commented on #5954
@SamuAlfageme Now there's a PR for it :)

[2017-09-11 13:19] jturcotte commented on #5295
@michaelstingl OK I thought that our favorite code was still working with the Quick Access, I must have pinned mine manually (which users can still do).

But I can see this as a better solution since MS doesn't seem to expose any programable way to modify the Quick Access pins.

[2017-09-11 13:33] guruz commented on #5957
Even though it might work, the https://gitea.int.owncloud.com/ownbrander/scripting/src/master/client/linux/templates/client/2.4.0/@LINUX_PACKAGE_SHORTNAME@-client/packaging.diff looks quite ugly :(

So there is two build modes now?

Is this really what you intended like this @ogoffart ?

Why is executableVersionOutput moved?

Can we "upstream" this...

[2017-09-11 13:33] tboerger commented on #6015
These tests are still running on the old Jenkins machine, so I don't think so.

[2017-09-11 13:36] ogoffart commented on #6005
The crash reporter is in a git submodule and is not part of the client's git repository directly.
Furthemore, the crash reporter is only used on Windows and Mac and is not used on Linux. So I don't think debian should be impacted by the license of these files.

[2017-09-11 14:02] hefee commented on #6005
@ogoffart well at the moment you have added libcrashreporter to the tarball, so Debian needs to care about this! Also the current CMakeLists.txt is compiling with libcrashreporter, because it only disables it if it does not find "${CMAKE_CURRENT_SOURCE_DIR}/src/3rdparty/libcrashreporter-qt/CMakeLists.txt", what is true for everyone.

Please either update the CMakeLists.txt or do not ship libcrashr

[2017-09-11 14:29] guruz commented on #5957
Via @jnweiger :
https://kanboard.owncloud.com/project/31/task/1254
https://kanboard.owncloud.com/project/31/task/1173

[2017-09-11 14:33] guruz commented on #6005
@hefee @dragotin Please ```rm``` the crash reporter for now until we have found a solution for this. Since 2.3.3 we create all builds from that tar ball, but this was "zu viel des guten" it seems.

[2017-09-11 14:40] guruz opened #6019 "2.4 Alpha"
(Real release issue to be created)

For Alpha for sure:
* [x] Check PRs
* [x] Check auto tests
* [x] Check smashbox
* [x] https://github.com/owncloud/enterprise/issues/2253 Crash reporter symbol files
* [x] https://github.com/owncloud/client/pull/6048 allow us to server beta and rcs to users of alpha via auto updater

For beta:
*  [ ] https://kanboard.owncloud.com/project/1/task/1173 ming32 builds

[2017-09-11 14:58] guruz commented on #5435
@Wikinaut :-)

[2017-09-11 15:06] guruz commented on #5889
Closing issue.
We still have pending things in milestone: https://github.com/owncloud/client/milestone/41

[2017-09-11 15:06] #5889 closed

[2017-09-11 15:12] dragotin commented on #6005
Ok. I reworked the tar ball and it is on the way to Tumbleweed, and once it is there, I will push it also to Leap 42.3.

For the record, my cleanup script looks like
[code]

[2017-09-11 15:30] guruz commented on #5829
thanks @marcos-guerrero  let's do that.

[2017-09-11 15:30] #5829 closed

[2017-09-11 15:34] guruz commented on #5676
@ericlin1001 Do you want to try this using a 2.4 nightly build?
We have a testpilot package available https://download.owncloud.com/desktop/daily/testpilotcloud-client-2.4.0.8373nightly20170911.linux-repo.html

[2017-09-11 15:39] guruz commented on #5699
I'm a bit lost on this issue.
I don't see it in the crash reporter and no one else reported it.

[2017-09-11 16:02] jnweiger commented on #5950
Done: https://lex-brander.int.owncloud.com/view/desktop-client/job/official-client-win32/6/console
nsis3 ported to lex-brander.

[2017-09-11 16:10] #5950 closed

[2017-09-11 16:51] guruz commented on #5618
@hefee The patches above are what @ogoffart thinks we should apply, the patches in https://github.com/owncloud/client/tree/v2.3.3/admin/qt/patches are what we actually apply. But this might or might not be current info.

[2017-09-11 16:57] guruz commented on #6005
Added de8ab35cb3587a1c216d82f4ece0c35aa860f450 ...

Let's see if the script itself shows up the tarball.

[2017-09-11 17:06] guruz commented on #3120
As a first fix, in ```sslAuthenticatioRequired``` we should check if we're coming from the ```ConnectionValidator``` or from a regular request.
In case of the regular request, we could just go into a timeout state.
Then until the ```ConnectionValidator``` is checking again we might be connected already to the captive portal.

FYI @ckamm @ogoffart

[2017-09-11 17:24] guruz commented on #2791
Might be mostly done with https://github.com/owncloud/client/issues/5972
Needs some verification

[2017-09-11 17:26] guruz commented on #4726
@jturcotte Can you comment quickly and potentially close the issue here if you think it's fine by now? thanks

[2017-09-11 17:27] #5954 closed

[2017-09-11 17:29] guruz commented on #5972
thanks a ton @ckamm

[2017-09-11 20:25] michaelstingl opened #6020 "Adapt private link generation to core#28984"
After https://github.com/owncloud/core/issues/28984 has been implemented on the server side, the private link generation in desktop client needs a small rework, so parameters in `config.php` like `overwritehost` are applied to the link…

---

**config/config.php**
[code]

### Expected behaviour
Client should respect overwritehost parameter from config.php for private link generation, same as for p

[2017-09-11 20:36] jturcotte commented on #4726
Nautilus seems to still be using it.

[2017-09-11 23:19] dt64 opened #6021 "[2.3.3] client dies instantly with MS Visual C++ Runtime error"
### Expected behaviour
client should start

### Actual behaviour
client dies immediately with a windows saying:
Microsoft Visual C++ Runtime Library
Runtime Error!
Program: C:\Program Files (x86)\ownCloud\owncloud.exe
This application has requested the RUntime to terminate it in an unusual way.
Please contact the application's support team for more information

### Steps to reproduce
not soo easy.

[2017-09-12 07:31] michaelstingl commented on #6020
A user reported, private links in the mobile Apps ignore `overwritehost` parameter too, while public link generation works correct. Perhaps it's a server issue…

[2017-09-12 07:35] SamuAlfageme commented on #6020
@michaelstingl I don't think this core feature ever really reached any of ownCloud's native clients. (It's the first time I'm hearing about it).

- We currently (since there's no core API for this) rely on the base URL of the server to construct private links by using the internal file id. **So 100% for sure this is not used and the client applies the base URL that was set on the wizard.**
- Publi

[2017-09-12 07:43] michaelstingl commented on #6020
If there is no proper API for private link generation yet, I'd vote to remove the feature from the clients for now.

There is also only an experimental PR to resolve private links where @PVince81 isn't sure if the technical approach is acceptable:
https://github.com/owncloud/core/pull/28947

/cc @pmaier1

[2017-09-12 07:45] PVince81 commented on #6020
Do you need an API for **generating** private links ? If needed we could add an additional PROPFIND attribute "oc:privatelink" containing the relative or absolute URL that can be reused as is.

Advantage: the server controls the format of the link, no client is required to implement an algorithm to compute said links.
Disadvantage: more data is transferred as every entry in the PROPFIND result wou

[2017-09-12 07:46] SamuAlfageme commented on #6021
@dt64 Do you have any crash logs or can you gather a [process dump](https://support.plex.tv/hc/en-us/articles/201373203-Gather-a-Process-Dump-or-Sample-Process#Windows) from the task manager to determine what kind of runtime error are we facing? Also, were you given the option to submit a crash report?

Thanks for reporting!

[2017-09-12 07:58] SamuAlfageme commented on #6020
@PVince81 endpoint would be quite handy for it considering this issue, yup (see complexity and discussion on https://github.com/owncloud/client/pull/5763)

I think we don't need to transmit all the file private links on PROPFIND basis (since all of those would belong to the same "domain") **but on demand**, reducing the overhead and relying on the server reply on runtime rather than storing those

[2017-09-12 08:00] michaelstingl commented on #6020
Sure, I prefer proper generation on the server side, instead of implementing it based on assumptions 3x on all client platforms.

[2017-09-12 08:14] PVince81 commented on #6020
On-demand would mean that the client needs to do an extra PROPFIND on the file's endpoint and only query the "oc:privatelink" property.

Adding this property on the server is trivial. Raised here as junior job: https://github.com/owncloud/core/issues/28984

[2017-09-12 09:42] dt64 commented on #6021
Hi Samuel,

thanks for your prompt feedback.

As I said, the client crashed a few times with the chance to send a crash report first. In these cases I let it send the report. Hope these were received by who it should have received.
But, when it failed in the style reported, it didn’t even get that far.
Unfortunately I didn’t know about the process dump feature, but I’ll try to generate one when I

[2017-09-12 09:56] Wikinaut commented on #5435
Problem came back: no tray icon on debian 8

[2017-09-12 10:01] ckamm commented on #6020
Adding a property to discover a file's private link that's accessible via PROPFIND sounds good to me!

[2017-09-12 10:09] ckamm commented on #6003
PR #6016 fixes redirects and oauth

[2017-09-12 10:12] ckamm commented on #5516
I think the core issue of "errors appear briefly and are then gone" is fixed with the above PRs.

[2017-09-12 10:15] ckamm commented on #5537
I think the best approach to avoiding excessive 507 entries in the server error log is to not put them there. See https://github.com/owncloud/client/issues/5537#issuecomment-314361403 . I'd start on a client-side avoidance strategy only if it's strictly necessary.

[2017-09-12 10:19] ckamm commented on #5774
@SamuAlfageme The "default icon isn't used" bug was fixed by 91f6cae168d5aa17d36f9403c2388cc25fa7fdaf

[2017-09-12 10:20] SamuAlfageme commented on #5774
@ckamm completely forgot about this one. Thx a bunch.

[2017-09-12 10:26] ckamm commented on #5723
We could add some fallback code into the error handler for creating the metadata table: if it fails with "disk IO error" we'd switch the journal mode and try again.

[2017-09-12 10:32] ckamm commented on #6015
The key message from one of the failing logs:

[code]

The test creates a 150MB file, and I assume jenkins didn't have enough free space for that.

[2017-09-12 10:40] ckamm commented on #5964
@moscicki I just tried uploading a file with a colon, and it worked. What specific error message are you seeing?

Looking at the code, it looks like the client is only preemptively excluding certain characters in paths on Windows now. So if you get an error about invalid characters on a linux client, it's probably passed down from the server?

[2017-09-12 11:34] moscicki commented on #5964
@ckamm: which version of the client have you tried please?

[2017-09-12 12:03] SamuAlfageme commented on #5435
@Wikinaut which version of the client are you using? it's pretty weird that the client displays different behavior **without the dependencies changing** (in 2.3.3 our Qt version is frozen). Are you updating your desktop environment on a regular basis?

[2017-09-12 12:10] guruz commented on #6015
This is related to https://github.com/owncloud/enterprise/issues/2202 😡

[2017-09-12 12:10] ckamm commented on #5964
@moscicki Sorry, I was using master, but am not aware of changes in this area from 2.3.

[2017-09-12 12:13] guruz commented on #5435
@Wikinaut And please make sure you are really using 2.3.3 with owncloud Qt from https://owncloud.org/changelog/desktop/

[2017-09-12 12:15] ckamm commented on #5723
@polrus In master branch we now attempt to automatically switch to DELETE if the initial setup comes back with that io error. It's also added additional logging to help us figure out what's going on. Would you be up for testing?

[2017-09-12 12:16] guruz commented on #5723
I can create a build if @polrus is up for it.

[2017-09-12 12:19] ckamm commented on #5830
It's a bit painful due to migration, but I can take care of it.

[2017-09-12 12:35] guruz commented on #5964
@ccoenen I believe your screenshot https://github.com/owncloud/client/issues/5964#issuecomment-325578545 is from a Windows machine, at least the font looks like it.
Windows does not support file names like this (see text in screenshot).

[2017-09-12 12:45] polrus commented on #5723
I can test on oprmsise leap 42.3 (latest) anyday

Dnia 12 września 2017 14:16:16 CEST, Markus Goetz <notifications@github.com> napisał(a):

-- Wysłane za pomocą K-9 Mail.

[2017-09-12 13:05] tboerger commented on #6015
It's not... The jenkins partition got more than enough free space 😡

[2017-09-12 13:16] ccoenen commented on #5964
@guruz Yes, it is from windows. My point is: I am working with many people across systems, and this makes working with nextcloud more of a hassle than it should be.

This is a major pain point for me. Files are not being synced, and I have to go looking for them. The group that is using this nextcloud instance is ~100 people roughly 60/35/5 for MacOS/Windows/Linux. This is a group of students, whi

[2017-09-12 13:46] Wikinaut commented on #5435
As reported in #6008 , copied to here:

* Debian 8
* Owncloud 2.3.3: Gebaut von der GIT-Revision 57bc79 auf Sep 5 2017, 18:45:40 verwendet Qt 5.6.2, OpenSSL 1.0.1t 3 May 2016

[2017-09-12 14:44] jnweiger commented on #6011
Where do we have accidential tarball stuff? The doc/ocdoc is in the release branch. That is why it is included.

Man page source are missing in master now, that is bad.

[2017-09-12 14:50] guruz commented on #6015
Because it failed when there was not enough disk space, it doesn't fail now.
Closing for now then..

[2017-09-12 14:50] #6015 closed

[2017-09-12 15:19] guruz commented on #5435
I'll re-open  #6008

[2017-09-12 15:19] #5435 closed

[2017-09-12 15:25] guruz commented on #6008
Do the latest 2.3.3 packages from https://owncloud.org/changelog/desktop/ work for @matlink @montanaviking @gwalarn ?

@Wikinaut What happens if you do
```QT_QPA_PLATFORMTHEME=generic owncloud```

[2017-09-12 15:25] guruz commented on #6008
@Wikinaut also try to give what @ckamm had said before in https://github.com/owncloud/client/issues/5435#issuecomment-271816524

[2017-09-12 15:48] guruz commented on #5964
What @moscicki described above is different from what you see. What would be the solution for your Windows machine? Auto-renaming files is an option, but that's confusing too. You might be able to use the file firewall to allow the students from using those characters in filenames.. https://doc.owncloud.org/server/latest/admin_manual/enterprise/firewall/file_firewall.html
Suggestion: You make a ne

[2017-09-12 15:51] guruz commented on #6021
I'm trying to find the crash report in our crash reporter but I'm having issues doing this (@jturcotte see discussion on IRC which is related..)

Meanwhile let's hope for @dt64 creating the process dump

[2017-09-12 16:13] michaelstingl commented on #6011
`doc/owncloud.1.rst` and `doc/owncloudcmd.1.rst` and looked like super outdated duplicates of client docs, and it showed up in the search results from our docs, which was confusing. That's why I proposed to delete it. Sorry.

[2017-09-12 16:24] jnweiger commented on #6011
To avoid duplicate texts falling apart, we could try to format the client docs in a way that we can extract both the `--help` text and man page source from them. Looking in the direction of @settermjd  here... :-)

[2017-09-12 18:34] ccoenen commented on #5964
I beg to differ, what I am describing is _exactly_ what the original poster describes? How ist that any different? I am just giving a real world example where such a thing occurs. What _is_ different is our point of view. @moscicki does **not** want to exclude certain characters for monocultures. I **do** want to exclude characters for a heterogenous infrastructure.

@guruz thank you for suggestin

[2017-09-12 18:35] guruz commented on #5723
@polrus Should be available https://download.owncloud.com/desktop/daily/owncloud-client-2.4.0.8380nightly20170912.linux-repo.html

You can try this build but WITHOUT the ```OWNCLOUD_SQLITE_JOURNAL_MODE=DELETE```

[2017-09-12 20:17] dt64 commented on #6021
please find attached dumpfile (zip’d, 172MB unzipped).
 (uhmmm..... max file size 10MB, let's see if it accepts splitted zip files...just strip the last 4 digits (.zip) from file name)

the jpg is the only error message I get - instant

![error message](https://user-images.githubusercontent.com/23746520/30345607-0f3502c8-9806-11e7-9003-8b8a7671a4ab.JPG)

[owncloud.zip.001.zip](https://github.com/o

[2017-09-12 20:57] montanaviking commented on #6008
Hi Markus,
In response to your question:
I'm running Ubuntu 14.04 64-bit and the latest package appears to work.
There was a glitch in setting it up as I got an error about an icon.
Redoing the Synaptic install (didn't have to uninstall) apparently cleared
up the error and the client appears to run.
Best,
Phil

On Tue, Sep 12, 2017 at 8:38 AM, Markus Goetz <notifications@github.com>
wrote:

[2017-09-12 21:07] hefee commented on #6011
sorry but the manpages are not that outdated. for 2.3.3 owncloud manpage is okay and for owncloudcmd there are two/three things missing, but IMO not wrong.

[2017-09-12 21:16] hefee commented on #6011
Well before 2.3.3 all tarballs had NO ocdoc NO libqtkeychain and NO libcrashreporter-qt included. So for me it looks like an accident, that you guys have include these three subrepos in the release tarball with a minor release. Who wants to see this in real, can checkout the [debian repository](https://anonscm.debian.org/git/pkg-owncloud/owncloud-client.git) and look at the upstream branch. Especi

[2017-09-12 21:19] hefee commented on #5618
@guruz: oh interessting, i stripped out the complete admin directory, so i never see that there is now important suff for linux packagers.

but why it is not updated?

[2017-09-13 05:30] polrus commented on #5723
the fix did not work
`polrus@wnleap:~> tail oc2.4.0nightly20170912build8380.log
09-13 07:29:25:930 [ warning sync.database.sql ]:       Sqlite exec statement error: 10 "disk I/O error" in "CREATE TABLE IF NOT EXISTS metadata(phash INTEGER(8),pathlen INTEGER,path VARCHAR(4096),inode INTEGER,uid INTEGER,gid INTEGER,mode INTEGER,modtime INTEGER(8),type INTEGER,md5 VARCHAR(32),PRIMARY KEY(phash));"
09

[2017-09-13 05:31] polrus commented on #5723
the fix did not work

`
polrus@wnleap:~> tail oc2.4.0nightly20170912build8380.log
09-13 07:29:25:930 [ warning sync.database.sql ]:       Sqlite exec statement error: 10 "disk I/O error" in "CREATE TABLE IF NOT EXISTS metadata(phash INTEGER(8),pathlen INTEGER,path VARCHAR(4096),inode INTEGER,uid INTEGER,gid INTEGER,mode INTEGER,modtime INTEGER(8),type INTEGER,md5 VARCHAR(32),PRIMARY KEY(phash));"

[2017-09-13 05:34] polrus commented on #5723
blockquote {padding-left: 1ex; margin: 0px 0px 0px 0.8ex; border-left: #cccccc 1px solid;} p {margin: 0px;padding: 0px;}
The fix did not work
 
stat(17, {st_mode=S_IFREG|0770, st_size=32768, ...}) = 0geteuid()                               = 1000fcntl(17, F_SETLK, {type=F_WRLCK, whence=SEEK_SET, start=128, len=1}) = 0ftruncate(17,
0)                        = 0fcntl(17, F_SETLK, {type=F_RDLCK, when

[2017-09-13 07:04] ckamm commented on #5723
@polrus Thanks for testing!

So, extended error code is 5386 which maps to SQLITE_IOERR_SHMMAP. That seems to happen when mmap fails.

Switching to the other journal mode on the fly doesn't seem to work. Or at least the second CREATE TABLE doesn't give back a different result. I'll try something and ping you. Thanks again for helping us debug and fix this!

[2017-09-13 07:30] ckamm commented on #5723
PR https://github.com/owncloud/client/pull/6026

[2017-09-13 08:54] ckamm commented on #6008
Also https://github.com/owncloud/client/issues/5435#issuecomment-271823342 and https://github.com/owncloud/client/issues/5435#issuecomment-273159521

[2017-09-13 09:07] ckamm commented on #5291
What remains to be done? It sounds like the error reporting has improved and the overlay icon behavior is not obviously incorrect.

[2017-09-13 09:29] ckamm commented on #6012
Simple suggestion: Allow \# to become #, and add a example comment to the default `sync-exclude.lst`

[2017-09-13 09:30] polrus opened #6028 "Syncing only the content of a subdirectory not possible"
### Expected behaviour
Let's say I have a primary machine where I sync all my Documents directory with all files and sub-directories
I would like to replicate and sync a subdirectory Documents/Important on a secondary machine.

### Actual behaviour
Folder Documents/Important is replicated but also all files that are directly in Documents

### Steps to reproduce
1. Proceed with the expected behabio

[2017-09-13 09:48] jnweiger commented on #6005
If we run the script during tarball build, it will of course not show up... :-)

[2017-09-13 10:45] acidicrebel commented on #4388
i have this same problem and i cant find a fix in any of those post

[2017-09-13 10:53] acidicrebel commented on #4388
this post is a problem there is no sulution for and this gunzu fuck closed it

[2017-09-13 12:03] acidicrebel opened #6030 "cant login in on windows client"
![screenshot_4](https://user-images.githubusercontent.com/31736892/30422173-6b083e46-993f-11e7-8db4-7cb5f3f6c197.png)

### Expected behaviour
you should be able to login

### Actual behaviour
when login in on the client it says (im 100% sure its the right password and stuff)
connection closed
### Steps to reproduce
1. launch client (windows)
2. login
3. there is the problem

### Server configurati

[2017-09-13 12:47] glannes31 commented on #6030
Hello, please fill the template issue . It's more easy to the dev for helping you.

[2017-09-13 13:05] michaelstingl commented on #4388
Please test with the new 2.3.3 version with Qt 5.6

[2017-09-13 13:22] jnweiger commented on #5957
One question I can answer:

executableVersionOutput() generates the blurb text for the gui client. We also want to have the same blurb text printed with owncloudcmd --version

The method is originally found in src/gui/application.cpp which is not part of owncloudcmd. @dschmidt first moved it to src/libsync/utility.cpp	which is easily accessible in both gui and cmd client.
I had trouble finding a g

[2017-09-13 13:57] jnweiger commented on #5957
Maybe this answers the 'Mode' question:

We use the same CMakeList.txt files for multiple build targets
* the main package builds the gui-client, but none of the shell integration modules
[code]
* the overlays package builds the nautilus and friends shell integration modules
[code]
* the overlays-dolphin builds the dolphin shell integration using
[code]

We want this in separate builds, as we need

[2017-09-13 14:11] jnweiger commented on #5957
@dschmidt why is our GIT_SHA specfied as "HACK FIXME" ?

[2017-09-13 14:58] acidicrebel commented on #6030
@glannes31 i did it

[2017-09-13 22:53] tomneedham opened #6031 "[mac OS] - Clicking on the padlock icon in settings is very slow"
### Expected behaviour
Open the settings page. Click the padlock icon. Menu should appear

<img width="267" alt="screen shot 2017-09-13 at 23 48 11" src="https://user-images.githubusercontent.com/660805/30404472-bef7c4a6-98de-11e7-89f9-a9131da99601.png">

### Actual behaviour
Everytime I do this it takes about 4 seconds to load the menu, by which time I've clicked it a few more times

### Server c

[2017-09-14 03:20] tessus commented on #5980
@guruz just in case you missed it: #6025

[2017-09-14 06:52] SamuAlfageme commented on #6031
@guruz @jturcotte we talked about this one some time ago and IIRC it was related to some Qt binding on macOS right?

[2017-09-14 07:00] SamuAlfageme commented on #6030
@acidicrebel Make sure that your ownCloud client is not behind any system proxy or firewall that does not allow to receive external connections. Also, could you ask your ownCloud admin for the server access logs? there might be some more clues about your requests in there. Thanks for reporting!

[2017-09-14 08:07] acidicrebel commented on #6030
these are the server logs and we already turned off firewall and we already looked into proxy that isnt the problem

[2017-09-14 08:18] SamuAlfageme commented on #6030
@acidicrebel the ones in https://github.com/owncloud/client/issues/6030#issue-257355522 are client logs. Server should contain more info about the requests hitting it.

Can you manually set-up a proxy to act as an interceptor of your requests (e.g. [mitmproxy](https://mitmproxy.org/)) and send us the contents of the failed `PROPFIND`? It'll look like this: https://asciinema.org/a/1hSDt87ylHJTOAkCN

[2017-09-14 08:24] SamuAlfageme commented on #6028
@polrus can you try to be more specific. e.g. include screenshots of what's expected and happening in your scenario? syncing subdirs should not collide with their parents (unless we're talking about the root dir; which is a well known current limitation of the client: https://github.com/owncloud/client/issues/3632)

[2017-09-14 08:57] acidicrebel commented on #6030
like i sayed it hasnt to do anything with the proxxy becaus we are running already diffrent websites so there is no proxy problem or firewall problem like i sayed before @SamuAlfageme

[2017-09-14 08:58] polrus commented on #6028
Ahh than its a duplicate report, sry

Dnia 14 września 2017 10:24:06 CEST, Samuel Alfageme <notifications@github.com> napisał(a):

-- Wysłane za pomocą K-9 Mail.

[2017-09-14 08:59] acidicrebel commented on #6030
and the cloud is working we can login on chrome to it but not with the client so it isnt the proxy or firewall....

[2017-09-14 09:09] acidicrebel commented on #6030
look this is what we all get in the client even if we turn down proxy or turn the firewall off it still says the same stuff and there isnt a problem with the server becaus we already are running a lot like radio station www.teamfm.nl www.audistreamen.nl and www.uniekhost.nl thats already what we are hosting so there isnt a problem in the server its a pure owncloud problem or php setting so pleas d

[2017-09-14 09:14] acidicrebel commented on #4388
already did that its so fck wierd and peepz keep saying its the proxy or firewall but thats bs becaus we already have turned it all the way off and still nothing XD so pleas come to my post #6030 thanks

[2017-09-14 09:15] SamuAlfageme commented on #6030
@acidicrebel

I'm trying to help you debug the causes that might be causing your client not to connect. I mentioned **explicitly using an intermediate proxy** to capture the network flows so I can analyze them and collect information that the server is returning. Quoting mitmproxy's website, it's:

If you are not able to attach server logs nor network traces, I'm sorry but I can't help you debug y

[2017-09-14 09:19] acidicrebel commented on #6030
it should be enough and the funny thing nobody knows shit about it look to #4388 so maybe you could get more info there becaus its the exact same problem and he got send to post that arent about sooo maybe just maybe there is someone out there that knows how to fix it.... and thanks for trying to help @SamuAlfageme

[2017-09-14 09:34] Kawohl commented on #6030
dear @acidicrebel ,

http://docs.mitmproxy.org/en/stable/install.html#installation-on-windows

Since your unwilling to provide more information, and the kind people of ownCloud actually tried to help you, I'll close this, please reopen when you are able to provide the information asked for by the maintainers.

To keep this straight: no logs, no help.

[2017-09-14 09:34] #6030 closed

[2017-09-14 10:36] guruz commented on #6031
Ha, @danimo 's legendary SSLButton :-)

[2017-09-14 12:50] ogoffart commented on #6028
Closing as duplicate of https://github.com/owncloud/client/issues/3632

[2017-09-14 12:50] #6028 closed

[2017-09-14 12:55] jturcotte commented on #6031
Here is sample's output, it seems to spend most of its time in some parseXMLElement:
[Sample of owncloud.txt](https://github.com/owncloud/client/files/1302995/Sample.of.owncloud.txt)

[2017-09-14 13:00] jturcotte commented on #6031
Ah it's extracting the list of system CA certificates from the OS every time you click the button for some reason.

[2017-09-14 13:54] SamuAlfageme commented on #6021
@dt64 the only user information registered in the crash reporter is relative to your underlying system: e.g. `"Operating system: Windows NT 10.0.15063 CPU: x86 GenuineIntel family 6 model 94 stepping 3 8 CPUs "`. You can find these values in [`System > About`](https://www.windowscentral.com/sites/wpcentral.com/files/styles/larger/public/field/image/2016/12/windows-10-about-settings.jpg) and maybe

[2017-09-14 13:57] SamuAlfageme commented on #6019
@guruz should we create the 2.4 branch already? I've seen some PRs starting to make it to 2.5 milestone and being merged.

[2017-09-14 17:13] dt64 commented on #6021
![grafik](https://user-images.githubusercontent.com/23746520/30443715-cca224f0-9980-11e7-87be-f8d3f6fe8f0f.png)

[2017-09-15 00:27] sgparry commented on #5470
Just did regular apt-get on Kubuntu 16.04.03 and owncloud client was de-installed:

``
The following packages have unmet dependencies.
 owncloud-client : Depends: ocqt562-libqt5webkit5 but it is not going to be installed
``

and:

``
sudo apt-get install ocqt562-libqt5webkit5
``

gives:

[code]

Help? please?

[2017-09-15 04:03] Trebacz commented on #5470
My owncloud client seems to be crashing with this message after an update of qt in Ubuntu 17.10 today. Now I can't launch the client and get the message:

owncloud: relocation error: /opt/ownCloud/qt-5.6.2/lib/x86_64-linux-gnu/libQt5OpenGL.so.5: symbol _ZTV26QOpenGLSharedResourceGuard, version Qt_5_PRIVATE_API not defined in file libQt5Gui.so.5 with link time reference

I also filed an issue here:

[2017-09-15 05:11] #5980 closed

[2017-09-15 05:49] priestoferis opened #6034 "Can't install on Ubuntu 16.04 (latest)"
### Expected behaviour
sudo apt-get install owncloud-client should install it (an upgrade removed it, that's why I even tried)

### Actual behaviour
Does not install.

[code]
### Steps to reproduce
1.
2.
3.

### Server configuration
Operating system:
Ubuntu 16.04.3 LTS
Web server:

Database:

PHP version:

ownCloud version:

Storage backend (external storage):

### Client configuration
Client vers

[2017-09-15 06:41] Phlos commented on #5470
Hi!
I'm glad others seem to be having similar issues. I tried installing owncloud-client yesterday on my relatively fresh 16.04, and got a whole bunch of weird errors. Trying today again, weird errors, but different ones. Here's what I did:

Yesterday (Thu 14 Sept 2017):
[code]

Was rather confused by this since as far as I can see, curl has a http protocol.
After this, I gave up yesterday.

Today

[2017-09-15 07:04] Phlos commented on #6034
Same issue -- also commented in the Qt5 issue - has to do with that? #5470

[2017-09-15 07:24] yan12125 commented on #1590
I made it work by installing gnome-keyring **and** libgnome-keyring and then re-login. I'm using LXQt on Arch Linux.

[2017-09-15 07:31] ckamm commented on #5723
@guruz With the PR merged, could you trigger another build?

[2017-09-15 08:00] bytepan commented on #6034
Same issue -- please fix it ASAP.
Thanks !

[2017-09-15 08:22] bytepan commented on #5470
Same issue -- please fix it ASAP.
Thanks !

[2017-09-15 09:15] m3asmi commented on #6034
same issue

[2017-09-15 09:29] tipichris commented on #6034
Also on 14.04. An upgrade failed. A 'partial upgrade' to fix things removed owncloud-client. Can't reinstall.

`The following packages have unmet dependencies.
 owncloud-client : Depends: ocqt562-libqt5webkit5 but it is not going to be installed`

Attempting to install ocqt562-libqt5webkit5 gives
`The following packages have unmet dependencies.
 ocqt562-libqt5webkit5 : Depends: ocqt562-libqt5openg

[2017-09-15 09:42] ckamm commented on #6020
The new property is called `privatelink` and there's a new `files/privateLinks` capability.

[2017-09-15 10:08] SamuAlfageme commented on #6034
@priestoferis @Phlos @bytepan @m3asmi @tipichris we found some problems with the packages distribution and working on a fix.

On the meantime, you guys can try the alternative mirror in: https://download.owncloud.com/repositories/desktop/download

[2017-09-15 10:09] kjakobs commented on #5470
Had the same problem and found solution here: [link](https://forums.linuxmint.com/viewtopic.php?f=47&t=253795)
In short words:
-comment out the source entry for opensuse repository under /etc/apt/sources.list.d/[your owncloud repo].list
-`apt-get update`
-`apt-get install owncloud-client`

[2017-09-15 10:36] SamuAlfageme commented on #5470
@kjakobs commenting out those line installs a really old client version from your distribution's mirror. I'd suggest you to try the link in https://github.com/owncloud/client/issues/6034#issuecomment-329740446 while we try to fix the dependencies issue.

[2017-09-15 10:38] jnweiger commented on #5470
The ocqt562-libqt5opengl5 package disappeared last night. I'll bring it back.

[2017-09-15 10:40] Phlos commented on #6034
Thanks @SamuAlfageme . That worked!

[2017-09-15 10:42] Phlos commented on #5470
The alternative mirror suggested by @SamuAlfageme in #6034 works for me to get the installation working. Thanks!

[2017-09-15 11:07] priestoferis commented on #6034
Following the instruction on the given page I got the following errors:

[code]
As far as I know, this error can be fixed by changing the https to http, but I can't see where.

And error for installing the recommended package `ocqt562-libqt5svg5`
[code]

[2017-09-15 11:11] moscicki commented on #5470
A side note: why do you need opengl for the sync client??

On Sep 15, 2017 12:38 PM, "Jürgen Weigert" <notifications@github.com> wrote:

[2017-09-15 11:14] SamuAlfageme commented on #6034
@priestoferis if you properly replaced the repository URL in your `/etc/apt/sources.list.d/owncloud.list`, you should not be hitting https://download.opensuse.org/repositories/isv:/ownCloud:/desktop/Ubuntu_16.04 still. Seems like openSUSE download servers are having some problems with their SSL configuration.

If you got an incomplete installation previously try wiping out those before reinstallin

[2017-09-15 11:28] priestoferis commented on #6034
Ok, the issue was, that my original source list was `owncloud-client.list` while the above link's intstruction create an `owncloud.list` Thanks!

[2017-09-15 12:35] ThroneNeNe commented on #6034
Thanks！ That worked!

[2017-09-15 13:31] jnweiger commented on #6034
the rebuilds are ongoing. I expect the packages to be all back in ca 1h from now.

[2017-09-15 15:01] jnweiger commented on #6034
I've just tested the install on ubuntu 16.04 from the official repo st
https://software.opensuse.org//download.html?project=isv%3AownCloud%3Adesktop&package=owncloud-client

Works again, as before. Phew.

[2017-09-15 15:03] jnweiger commented on #5470
the normal install from https://software.opensuse.org//download.html?project=isv%3AownCloud%3Adesktop&package=owncloud-client
now also works again as it should, including ocqt562-libqt5opengl5. Sorry for the inconvenience!

[2017-09-15 15:29] amberaries commented on #5733
Oh my god! I have searched in google same issue many days! And gotcha!

@travisbotello did you solve that problem? Will downgrade of version or upgrade to new NC solve the issue?

[2017-09-15 16:17] TimTim2017 commented on #5470
Just tried it with my Linux Mint 18.2 system  and still get the same error. I installed a fresh Ubuntu 16.04 in Virtual Box and also get the same error.

[2017-09-15 16:40] bytepan commented on #6034
sudo apt-get install owncloud-client
...
The following packages have unmet dependencies:
 owncloud-client : Depends: ocqt562-libqt5webkit5 but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

Sorry it still doesn't work.

[2017-09-15 17:42] TimTim2017 commented on #6034
I tried it again just now and it seems to work. I was finally able to install owncloud-client on Mint 18.2 from the official repo without unmet dependencies.

[2017-09-15 17:59] jnweiger commented on #5470
@moscicki opengl is completely useless here. But the opengl dependency propagates from qtbase to the client. I cannot change that without re-releasing everything.
Next release of the client will be built against a qt that has opengl disabled. That should help to reduce the dependency footprint.

[2017-09-16 06:47] Wikinaut commented on #6008
I upgraded my system now to debian 9 stretch, and moved build the nextcloud themed client. The behaviour is the same:  icon is sometimes present after user login, and sometimes not.

The process - ```\usr\bin\nextcloud``` in my case now - is running:

[code]

@ckamm "It's also odd how it appears and goes away, given that the Qt dependency is nailed down now."

I still suppose an unsolved dependenc

[2017-09-17 09:28] wa4557 opened #6036 "Linux: Tray icon not taken from current icon theme anymore"
### Expected behaviour
If icon `state-ok` exists in icon theme (like for Papirus or Numix icon theme) the icon from the theme should be taken instead of the hardcoded icon. This worked in earlier versions of the owncloud-client but not anymore in 2.3.3

### Actual behaviour
The hardcoded icon is used in the tray

![screenshot from 2017-09-17 11-23-05](https://user-images.githubusercontent.com/6475

[2017-09-17 15:27] ckamm commented on #6008
@Wikinaut Does the tray icon reproducibly appear when you quit and restart the client? Possibly owncloud starts before the systray is ready, or something?

[2017-09-17 16:43] bytepan commented on #6034
Solved, but I had to rename /etc/X11/Xsession.d/91ocqt562-qt5-opengl/90qt5-opengl to /etc/X11/Xsession.d/91ocqt562-qt5-opengl/90qt5-opengl.bak because it was giving error when installing ocqt562-libqt5gui5

`dpkg: error processing archive /var/cache/apt/archives/ocqt562-libqt5gui5_5.6.2-1+22.1_amd64.deb (--unpack):
 trying to overwrite shared '/etc/X11/Xsession.d/91ocqt562-qt5-opengl/90qt5-opengl'

[2017-09-17 17:19] Wikinaut commented on #6008
@ckamm No. Even restarting manually does not force the appearance of the tray icon.

[2017-09-17 17:20] Wikinaut commented on #6008
@ckamm but "kill (running nextcloud instance)" and "nextcloud" works

[2017-09-18 02:44] Agator82 commented on #4557
I agree with @CRJ2, any chance this feature might come available soon, this is the only issue preventing me from moving this onto a production machine.

[2017-09-18 07:43] ckamm commented on #4557
@moscicki @Agator82 It's stills scheduled for 2.5. If urgent, we could make an experimental, unsupported trial available for 2.4 behind an environment variable flag, I guess. (this might be as easy as removing the ignore pattern for conflict files?)

[2017-09-18 08:40] jochenwezel commented on #5982
Optionally, another button could open an explorer window and select that file.

At windows platform, you could do this by simply open a new explorer.exe window with following command line:
[code]

Other platforms (Linux & Co. - which are supported by the sync client) might have similar functionality, otherwise this button could be visible on windows platforms only.

[2017-09-18 09:46] #3213 closed

[2017-09-18 09:56] Agustin-Pantoja commented on #1902
Have the same problem. I use ubuntu in one laptop and kubuntu in the other one. Zero problems with owncloud in ubuntu, not asking for loging everytime.
In kubuntu I have disabled kwallet and owncloud ask for password everytime I restart the laptop.
Not sure how to solve it, but I am right sure that I do not want to enable kwallet. Any help here would be much appreciated.

[2017-09-18 10:03] millivenn commented on #5470
I tried to switch to the alternative repository as suggested by @SamuAlfageme in #6034
I still get a relocation error in Ubtuntu 14.04

[2017-09-18 10:40] ckamm commented on #4557
@moscicki @Agator82 FYI: https://github.com/owncloud/client/pull/6038

[2017-09-18 14:08] csgroen commented on #5470
I just installed using the alternative repository. The installation went well, but I'm getting the relocation error as well (Debian 9).

`owncloud: relocation error: /opt/ownCloud/qt-5.6.2/lib/x86_64-linux-gnu/libQt5OpenGL.so.5: symbol _ZTV26QOpenGLSharedResourceGuard, version Qt_5_PRIVATE_API not defined in file libQt5Gui.so.5 with link time reference`

[2017-09-18 15:24] smasherppk commented on #6034
Does not work on ubuntu 17.04:
Redirection from https to 'http://ftp.gwdg.de/pub/opensuse/repositories/isv:/ownCloud:/desktop/Ubuntu_17.04/amd64/owncloud-client_2.3.3-8338_amd64.deb' is forbidden

[2017-09-18 19:07] hodyroff commented on #6036
Hm, interesting one from a CI perspective. The monochrome icon is not good enough for you?
It is kind of by purpose that we like to install a try icon which looks like ownCloud and is the official icon by us ...

[2017-09-18 20:00] jnweiger commented on #6036
Testing on Mint 18.1 switching to the "HighContrast" icon theme, owncloud-client does not pick up the theme. But the behaviour is the same with version-2.3.2 using system qt-5.5.1 and with version 2.3.3 using our own qt-5.6.2

Can you tell, if owncloud-client picked up system themes in the past?

[2017-09-18 20:21] jnweiger commented on #6034
@smasherppk as a workaround, please check the files
/etc/apt/sources.list.d/owncloud-client.list and /etc/apt/sources.list.d/owncloud.list

Only one of them should exist, and the URLs in there need to be all https:// URLs in your case.
Please edit if needed.

[2017-09-19 07:58] wa4557 commented on #6036
Yes I can confirm that it works with the version from the official Ubuntu Repo. Owncloud version 2.1.. Third icon from the right. Arguably looks much more consistent than the shipped monochrome icon or even worse the colourful one.

![screenshot from 2017-09-19 09-57-00](https://user-images.githubusercontent.com/6475757/30581600-042c0b68-9d21-11e7-9860-c606395999c8.png)

[2017-09-19 08:46] ogoffart commented on #6036
@jnweiger   Did you not explicitly disable that line in a patch?  (in client/src/libsync/theme.cpp )

[2017-09-19 13:32] SamuAlfageme commented on #1122
Think this is done after https://github.com/owncloud/client/pull/6032

@ogoffart close here?

[2017-09-19 13:53] SamuAlfageme commented on #3635
Done in https://github.com/owncloud/client/pull/5381

[2017-09-19 13:53] #3635 closed

[2017-09-19 13:55] SamuAlfageme commented on #3645
Done in https://github.com/owncloud/client/pull/6032

[2017-09-19 13:55] #3645 closed

[2017-09-19 14:23] SamuAlfageme commented on #4654
Duplicated of https://github.com/owncloud/client/issues/2732

[2017-09-19 14:23] #4654 closed

[2017-09-19 14:36] SamuAlfageme commented on #4830
Closing as direct consequence of https://github.com/owncloud/client/issues/5470

[2017-09-19 14:36] #4830 closed

[2017-09-19 18:41] bigsteve commented on #1716
Sometimes hosting servers use different clusters which use the same file system, having crons restoring files, so you can check with hosting about these background sync or restore processes.
You also can blame Houdini.

[2017-09-21 10:45] bee272 commented on #6034
Thanks jnweiger, using your http link and changing version to 16.04 solved the issue on my 16.04 as well.

[2017-09-21 13:36] guruz commented on #3064
This is partly done.
Should still be moved to sync thread..

[2017-09-21 13:37] guruz commented on #5789
@ckamm said this is not possible because we can't access "Bearer" authentication from QAuthenticator.

@thiagomacieira

[2017-09-21 13:38] #1817 closed

[2017-09-21 13:40] guruz commented on #1897
@ogoffart @ckamm is this (partly?) done?

[2017-09-21 13:41] guruz commented on #5452
Maybe superseded by https://github.com/owncloud/client/wiki/New-Discovery-Reconcile-Algorithm ? @ogoffart

[2017-09-21 13:51] ogoffart commented on #5789
Correct, this is not possible with oauth2 anyway.  Even QtNetworkAuth do the same as us.

[2017-09-21 13:51] #5789 closed

[2017-09-21 13:56] guruz commented on #2916
BTW Does this interfere with https://github.com/owncloud/client/pull/6040 ?

[2017-09-21 18:08] strugee commented on #2916
Pretty sure most (all?) of Debian is built with those options and they have really good reproducible builds support, so presumably not

[2017-09-22 00:04] exander77 commented on #3276
I don't want to swear, but how the fuck is not this issue fixed? My KeePass file just got reverted at least 10 days. This cannot happen.

[2017-09-22 00:07] mortee commented on #3276
Totally second that. Users (myself included) are tirelessly complaining about this issue for YEARS, and still no solution.

[2017-09-22 00:30] exander77 commented on #3276
I am really baffled by this because I am not even sharing the storage with other users, I am just using it for backups from a single computer, so there should be no conflicts whatsoever and server should have either the older version or current version of the file. There should be no case when the local file is overwritten from the server, yet it happens.

[2017-09-22 00:43] mortee commented on #3276
Yes, this used to be my situation, too. For quite a long time, I'm not using OC exactly because of this reason.

[2017-09-22 05:11] hodyroff commented on #3276
Sorry to hear this @exander77 can you please provide some information about your setup. Newest client 2.3.3? Can it be reproduced? ownCloud is used by millions of users worldwide and we happily look after this one when we get more information. I would suggest to open a new issue with the details but we will need logfiles from both server and client side from the time this occurs.
@mortee A lot of

[2017-09-22 07:15] ckamm commented on #1897
Some of it is done, some if it might want to go into more specific tickets @ogoffart.

[2017-09-22 07:15] #1897 closed

[2017-09-22 07:21] ckamm commented on #6008
@Wikinaut That sounds contradictory. :) So does restarting (with kill to guarantee it's actually restarting) reliably create the icon or not?

[2017-09-22 08:00] Emil-G opened #6044 ""re-login" adds / to serverpath, making request token link wrong"
### Expected behaviour
When a user is for some reason logged out of ownCloud the login to existing account popup should use the correct server link.

### Actual behaviour
For first time setup, adding the server url and then pressing "request token" takes the user to the correct link. But when the account is already added the request token link is wrong because the application adds an extra "/" to

[2017-09-22 08:01] ckamm commented on #5957
I'm looking at upstreaming the patches.

[2017-09-22 08:31] ckamm commented on #5957
@jnweiger Looking at packaging.diff I'm wondering whether the admin subdirectory was removed from cmake intentionally

[2017-09-22 09:17] ckamm commented on #5949
Wouldn't this be a situation where the local and remote checksums are identical, therefore skipping the download and just populating the etag on the next sync? Aka: is there really an issue here?

[2017-09-22 09:29] Wikinaut commented on #6008
@ckamm Yes, 100% reproducible:

```killall nextcloud; nextcloud &```

[2017-09-22 10:52] mortee commented on #3276
I think we all get this "server is master" thing. But please understand that our problem with the behaviour described so many times is that in the case where there ever was one single client, the source and sole consumer of any data on the server, then regardless any theoretical and conceptional design choices about "server is master", there should be no situation _ever_ which in any way results i

[2017-09-22 11:54] mrow4a commented on #5949
I am not sure @ckamm how is that related to aborting, which just waits a bit until the job is finished, doing no hard to nothing.

[2017-09-22 13:02] ckamm commented on #5949
I made a testcase for this, will add here later.

[2017-09-22 16:07] progmem64 commented on #1159
+1, but i think its never going to happen since the issue was opened 4 years ago, a shame

[2017-09-22 16:51] ogoffart commented on #6044
Fix: https://github.com/owncloud/client/pull/6047

[2017-09-22 17:21] ogoffart commented on #6044
btw, what is the exact version of the server?

[2017-09-22 17:55] ernstki commented on #6034
I think this issue needs to be reopened, because the "download" links from everywhere else on the web site point to the openSuSE site.

Which as of today still produces the errors described by the reporter.

There is also [mention of this problem](https://central.owncloud.org/t/repository-bug-on-ubuntu-16-04/9546) in the forums (which I'm going to go reply to in a minute, to point them here).

[2017-09-22 18:46] Emil-G commented on #6044
10.0.2

[2017-09-22 21:17] kdslkdsaldsal commented on #6034
Probably solved anyway once https://github.com/owncloud/owncloud.org/pull/1277 is accepted / merged and the new links are published. So probably no need to re-open this.

[2017-09-23 11:54] guruz commented on #5470
Sorry for the messups with the Qt compile. We hope it works now for everyone in the current 2.3.3 packages.

[2017-09-23 11:54] #5470 closed

[2017-09-23 13:19] progmem64 opened #6049 "[Regression] Client crashes as soon as sync dir becomes unavailable or when sync dir is not available on startup"
### Expected behaviour
If storage becomes unavailable, the client should notice and pause sync.

### Actual behaviour
The client crashes.

### Steps to reproduce
1. Sync to folder /x
2. Unmount /x
3. Observe ownCloud crashing

### Client configuration
Client version: 2.3.3 (8242)
Operating system: macOS Sierra 10.12.6
OS language: English
Installation path of client: Default

[2017-09-24 11:38] sentabi opened #6050 "client crashes when storage unaccessable or read only mode"
### Expected behaviour
The  apps tell the folder is unaccessable, so it paused the sync.

### Actual behaviour
Aborted (core dumped), without explanation

### Steps to reproduce
I test this on dual boot system Windows 10 / Fedora 26.
1. run owncloud client on read only system
2. owncloud client show nothing about what happen
3. using `strace` to debug

### Client configuration
Client version:
ownC

[2017-09-24 13:38] Foggalong commented on #6036
@hodyroff It's not so much that it's not good enough, it's that if someone is using a theme it's expected that it also look there for ownCloud branded tray icons. For example, a theme may provide smaller icons than standard, or in a slightly different art style, or in a different colour (i.e. a black tray icon for light panels) which just relying on the inbuilt tray icon won't do.

You can still i

[2017-09-24 14:22] hefee commented on #2916
@guruz : Nope everything is fine with #6040 and determenistic builds.

Btw. the Debian build is deterministic: https://tests.reproducible-builds.org/debian/rb-pkg/buster/amd64/owncloud-client.html. The only patch i needed to add is to remove the usage of __DATE__ and __TIME__. See [0008-make-reproducable.patch](https://anonscm.debian.org/cgit/pkg-owncloud/owncloud-client.git/tree/debian/patches/00

[2017-09-25 05:51] michaelstingl commented on #6044
@Emil-G You could check with the [latest 2.4.0 nightlies](https://download.owncloud.com/desktop/daily/?C=M;O=D).

00008230

[2017-09-25 06:06] Emil-G commented on #6044
@michaelstingl hi, downloaded _testpilotcloud-2.4.0.8408-nightly20170925-setup.exe_ to test.

It resolves the issue, but it adds one you should be aware of. Our normal branded client is www.mysite.com/app/ <- see the "/" at the end in ownBrander. When using the testpilot version, it seems to add a / on its own during initial login, making the "correct url" fail, so that I had to input www.mysite.c

[2017-09-25 06:31] michaelstingl commented on #5859
@SamuAlfageme Another one: https://github.com/owncloud/client/issues/6049 – could you verify?

[2017-09-25 06:37] michaelstingl commented on #5859
@guruz my initial focus wasn't about client side problems like flaky wifi, more about error states on the server side that abort the sync run every time at the same position, so that later files will never be synced (like in @cdamken 's example)

At [ownCloud Conference 2017](https://occon17.owncloud.org/) a user even proposed to randomize the order to get a bigger chance that later files get sync

[2017-09-25 06:40] michaelstingl commented on #6050
Related: https://github.com/owncloud/client/issues/6049

@SamuAlfageme Is this a regression introduced with 2.3.3 ?

[2017-09-25 06:55] SamuAlfageme commented on #5859
@michaelstingl

Those are not sync aborts but crashes. Will look into them to see what introduced 'em.

[2017-09-25 07:05] SamuAlfageme commented on #6050
@michaelstingl most likely introduced by either https://github.com/owncloud/client/pull/5844 or the extended logging for SQlite.

@sentabi will close here in favor of #6049. Follow up there. Thanks a bunch for reporting

[2017-09-25 07:20] michaelstingl commented on #5859
Pain is the same: Later files will never get synced. oC desktop sync client need better strategies to deal with oC server or infrastructure fuckup.

[2017-09-25 09:22] guruz commented on #6049
@michaelstingl @SamuAlfageme If enough people report this, it might mandate a 2.3.4.. let's see.

[2017-09-25 09:26] guruz commented on #5859
This is something for @mrow4a  ;-) SCNR

But if the local storage or the network connection go away then there is only so much you can do.. :-)

In general we all agree with the goal of making the discovery less costly and therefore earlier going to sync.  2.4 should already be better in this.

[2017-09-25 09:34] ckamm commented on #5949
@mrow4a I think it's the other way around. We're discussing the introduction of complex aborting logic *in response to this issue*. If the issue doesn't exist, why introduce aborting?

It's possible that my test case doesn't go far enough. But I'd like to know whether you or @ogoffart managed to reproduce the problem with master.

[2017-09-25 09:37] guruz commented on #5949
@ckamm I think this issue is you move the files locally that were PUTted in the aborted upload.
And @mrow4a 's patch tries to reduce the likelyhood of

[2017-09-25 09:40] guruz commented on #6008
We're not responsible for the nextcloud builds.
Please try here: https://github.com/nextcloud/client_theming/issues

Or get an oC build: https://owncloud.org/changelog/desktop/ :-)

[2017-09-25 09:40] #6008 closed

[2017-09-25 09:42] ckamm commented on #5949
@guruz @mrow4a  Oops, I forgot the move-file-away part in my test case. No wonder I didn't see anything.

[2017-09-25 10:03] guruz commented on #5957
I answered the admin/ thing on the PR, @jnweiger pls comment.

[2017-09-25 10:08] #1122 closed

[2017-09-25 10:17] jturcotte commented on #3276
The unneeded conflict files part could be related to #5106.

[2017-09-25 10:17] guruz commented on #5723
@polrus Could you try the latest nightly build and report back please? https://download.owncloud.com/desktop/daily/owncloud-client-2.4.0.8420nightly20170925.linux-repo.html
(maybe you also get it via updating via your opensuse? just make sure to double check the version..)

[2017-09-25 10:56] michaelstingl commented on #5859
@guruz In the cases above it's not about local storage and network connection. It's about mounted storages that the oC server can't access temporarily or permanently. My expectation is, that oC client continues sync with the next available file/folder. And it seems we have enough cases where this isn't the case.

[2017-09-25 11:20] mrow4a commented on #5859
@michaelstingl I will be careful with this. I cannot find now a case for generating some inconsistency when the folder gets available again (if it wont start randomly downloading/deleting files).

[2017-09-25 11:39] jnweiger commented on #6005
@hefee I wonder why we remove /admin .. this is not needed for a dfsg-free tarball, is it?
Not removing that could simplify the build toolchain ....

[2017-09-25 11:54] michaelstingl commented on #6044
@ogoffart this is how @Emil-G 's `mysite-theme.h` looks like

[code]

[2017-09-25 11:56] ogoffart commented on #6044
I fail to understand what is the problem now.
We should not add a second slash anymore in the nightly20170925
Or where is the second slash added now?

[2017-09-25 12:27] SamuAlfageme commented on #6049
Reproduced & confirmed the regression.

I think there's some kind of delay on the crash-reporter (last update I see was 18h ago)

[2017-09-25 12:32] michaelstingl commented on #6044
I checked more ownBrander generated `oem-theme.h`'s and some have a fixed server URL with trailing "`/`", some have fixed server URL without trailing "`/`". @ogoffart Please make sure it works in all cases.

Example 1:
`QString overrideServerUrl() const { return QLatin1String("https://mysite.com/app/");`

Example 2:
`QString overrideServerUrl() const { return QLatin1String("https://mysite.com/app"

[2017-09-25 12:39] SamuAlfageme opened #6055 "Allow to display crash reports locally before sending them to the reporter"
This would be super-useful since sentry (or socorro?) does not seem to be updated in real time and also will complement the info users can provide upon crashes.

cc/ @dschmidt

[2017-09-25 13:09] ogoffart commented on #6044
@michaelstingl   make sure that what exactly work in all cases?   I don't think there should be a problem with or without the slash.  (Other than the problems that were just fixed)
It is possible that there are still locations were we add a double slash, but i don't know where that could be.

[2017-09-25 14:20] guruz commented on #5017
@sagamusix We have some nice changes coming up for 2.4.0 alpha.
Are you interested in testing a nightly build in some days?

[2017-09-25 16:09] hefee commented on #6005
@jnweiger I removed it in Debian, because it is not needed there and I don't had to check the license for this directory.

There are several python, shell and svg without copyright informations. Also it is unclear if all files have been created by owncloud itself. So delete the complete admin folder was a shortcut. If you solve these license issues, than we don't have to remove it anymore.

Btw. a

[2017-09-25 17:20] michaelstingl commented on #6044
👍

[2017-09-25 18:44] sagamusix commented on #5017
@guruz that would be appreciated.

[2017-09-25 20:48] valentijnscholten commented on #6049
I am seeing similar behaviour on Windows 10 Pro x64 (more similar to #6050 actually).
When the user runs the owncloud client and doesn't have write access to the owncloud folder, the client won't start.

Actually it will crash before generating any logging. Or it will just hang. And then crash silently.

Also the crash reporter doesn't work in this case, it will crash as well. **So no crash report

[2017-09-25 21:13] kemoc commented on #6034
I have the same problem,
maybe this will help for devs
[stack-curl-problem](https://stackoverflow.com/questions/6684235/perl-curl-1-protocol-http-not-supported-or-disabled-in-libcurl)
i know there is about problem with cURL  on windows but maybe we have the same pb on linux.

[2017-09-25 21:33] kemoc opened #6058 "Can't Install client on Ubuntu 16.04.3 x64 and QT5.6.2"
E: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?

### Expected behaviour
success for:
`
sudo apt install owncloud-client
`

### Actual behaviour
`
Do you want to continue? [Y/n] y
Err:1 https://download.opensuse.org/repositories/isv:/ownCloud:/desktop/Ubuntu_16.04  ocqt562-libqt5core5a 5.6.2-1+22.1
  Protocol "http" not supported or disabled in libcurl
Err:2 ht

[2017-09-25 22:03] progmem64 commented on #6049
@valentijnscholten This is a little different from my problem. I don't have problem with permissions, but with non existing paths (e.g. external hard drive not mounted) causing the client to crash.

[2017-09-26 06:02] valentijnscholten commented on #6049
@progmem64 yes, my issue is more similar to 6050 (folder being readonly), but that is closed and points to this issue for follow up.

[2017-09-26 06:20] michaelstingl commented on #5859
@guruz @SamuAlfageme Sorry, I understood wrong. #6049 & #6050 are about local storage that becomes unavailable. I was thinking about server-mounted storage that becomes unavailable. Sorry for the noise.

[2017-09-26 06:33] michaelstingl commented on #6058
@kemoc There is an issue in the OBS system. It already has been reported: https://bugzilla.opensuse.org/show_bug.cgi?id=1060231

You could use the backup repo created on ownCloud infrastructure instead:
https://download.owncloud.com/repositories/desktop/download

[2017-09-26 06:33] #6058 closed

[2017-09-26 06:36] michaelstingl commented on #6034
OBS issue has been reported: https://bugzilla.opensuse.org/show_bug.cgi?id=1060231

[2017-09-26 07:02] ogoffart commented on #5859
The solution is what i write in
https://github.com/owncloud/client/issues/5859#issuecomment-319409953

When a propagator jobs end in a connection timeout, we assume it is because the network is down and we abort the sync.  But before aborting the sync, we should do a connection validator to check if the network is down or if it is a problem with that file.

[2017-09-26 07:16] ogoffart commented on #5106
Here is what I think happens:

You are editing a file, the file is uploaded to the server. But the connection drops before we get a reply from the server with the new etag telling the file was properly uploaded (Byzantine failure).   So the client cannot save the new etag in the DB. But for the server everything is fine.
You continue to edit the file and change the content of it.
Now on the next s

[2017-09-26 07:18] SamuAlfageme commented on #5661
👍

[2017-09-26 07:18] #5661 closed

[2017-09-26 07:43] SamuAlfageme commented on #5989
@ckamm I'm running into the exact same behavior w/ today's nightly 😕

Trying to sign-back-in adds a temporary (just appears and disappears) entry to the keychain. Stays "Conecting..." and further login attempts preserve the wrong password on the credentials dialog.

[2017-09-26 07:44] floledermann commented on #5106
I just wanted to chime in that this has been reported to happen both on slow/unreliable network connections *and* on very fast connections (i.e. gigabit ethernet local LAN, see some of the discussion in #3276)

[2017-09-26 08:07] mrow4a commented on #5859
@ogoffar while it make sense for single file, when whole folder gets unavailable it is a signal that sth is wrong with the server. It could mean it is flaky network drive (user should manually remove it in server UI and client should halt for that period not to allow moving files across folders and materialize the state on faulty server) or federated share (which might lead to even worse because m

[2017-09-26 08:58] Wikinaut commented on #6008
@guruz Yes, I build it from  https://github.com/nextcloud/client_theming/issues . Same problem.

[2017-09-26 08:59] Wikinaut commented on #6008
Owncloud has the same problem, see my original posting!

[2017-09-26 10:29] jochenwezel opened #6059 "Activity alert for update available is missing the server context"
I've got this screen at my client:
![image](https://user-images.githubusercontent.com/3033827/30855757-5bbfe92c-a2b6-11e7-9ce6-a0f5ebe4186b.png)

The question for me is now: where do I have to update?
Is it
- the owncloud sync client? --> No, in tab "Allgemein" ("General") it shows that it's up-to-date
- one of the connected servers --> uuuhm, but which one? There are 5 servers connected...

Can y

[2017-09-26 10:46] SamuAlfageme commented on #6059
@jochenwezel yup, the notification is indeed coming from one of your connected servers to update one of your apps, you can handle those on your ownCloud instance.

And indeed, including the server URL originating the notification is pretty necessary here and was already suggested in https://github.com/owncloud/client/issues/5587. It will allow you to quickly identify where to go. However, starting

[2017-09-26 10:46] #6059 closed

[2017-09-26 11:38] SamuAlfageme commented on #6012
👍 neat!

[2017-09-26 11:38] #6012 closed

[2017-09-26 12:08] ckamm commented on #6049
@SamuAlfageme @guruz I can't reproduce on linux. You can't unmount the filesystem with the sync folder while the client is open because it keeps the journal file openend. If I put it on an USB stick and plug it out without unmounting, nothing bad happens. I get `Error: "unable to open database file" for "/media/kamm/E9B9-AE9E/test/._sync_dba920715f43.db"` and the sync fails with something like `Un

[2017-09-26 12:12] SamuAlfageme commented on #6049
@ckamm hmmm.. will try to reproduce on leenux (report in https://github.com/owncloud/client/issues/6050#issue-260077761 was over readonly-FS in Fedora and I assumed the same reason was behind it).

[2017-09-26 12:44] webjoko commented on #5964
I have the same issues with various installs. It also blocks filenames with a comma or uppercase characters. Indeed, it is a major pain and potentially blocking issue for me and my clients to work with this solution.

[2017-09-26 13:45] pierrejochem opened #6061 "2.3.3 Missing context menu text"
Compiled by my own

### Expected behaviour
See text "share via ..." in context menu

### Actual behaviour
Context menu is there but without text string

![unbenannt-3](https://user-images.githubusercontent.com/9192953/30863601-bb9d65b6-a2d1-11e7-875a-7e548a1ad86d.png)

Any ideas?

[2017-09-26 13:50] SamuAlfageme commented on #6061
@pierrejochem which version of windows are you using? How did you install the client? (i.e. clean installation, update...)

Have you, by any chance, installed the nightly 2.4 version of the client before 2.3.3? It could leave the newer shell integration binaries upon uninstall and cause inconsistency.

@jturcotte have you ever seen this one?

[2017-09-26 14:06] jturcotte commented on #6061
"Compiled by my own" is going to be the cause if you've been changing some cmake variables and the Theme class.

[2017-09-26 14:32] pierrejochem commented on #6061
Which one could cause this? I'm using a script since Version 1.8.0.0 for the compilation process.

[2017-09-26 14:33] SamuAlfageme commented on #5973
Some reference: https://wiki.qt.io/MacOS_application_without_menu_bar

https://github.com/owncloud/client/blob/881f8463e8c7cd3e531e447c677994c2bdbe714c/cmake/modules/MacOSXBundleInfo.plist.in#L7-L8

Compiling wo/ the [`LSUIElement`](https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/LaunchServicesKeys.html#//apple_ref/doc/uid/20001431-108256)

[2017-09-26 14:34] pierrejochem commented on #6061
The strange thing is that only the context menu is affected

[2017-09-26 14:35] pierrejochem commented on #6061
Windows 10 Enterprise by the way

[2017-09-26 14:51] jturcotte commented on #6061
This is where it gets sent to the shell extension:

https://github.com/owncloud/client/blob/v2.3.3/src/gui/socketapi.cpp#L506

You might also run into issues if the shell extension DLL doesn't match the client version you're using (which is in the `binary` submodule).

[2017-09-26 14:57] pierrejochem commented on #6061
I will check this and also the **appNameGUI()** prop. Maybe that is a hint to the cause

[2017-09-26 14:59] pierrejochem commented on #6061
But there must be a change from Version 2.3.2 to 2.3.3. With 2.3.2 it works without problems

[2017-09-26 15:57] jturcotte commented on #6061
Maybe, but this is not a supported API. If you play with this you are responsible to fix regressions when rebasing to a newer version.

Feel free to pass by #owncloud-client-dev on freenode if you want to ask for help with customization, but this isn't an actual issue unless you can reproduce it with our official builds or source package build instructions.

[2017-09-26 16:01] jturcotte commented on #6061
One thing I know that changed is with 2.4, we now have a sub-menu and request strings a bit differently. So if you've been installing any nightly build, this might conflict with your 2.3 build trying to use the same shell extension binary.

[2017-09-26 16:28] michaelstingl commented on #6061
@haukman showed me the same behaviour today. Maybe he can show @SamuAlfageme whats going on…

[2017-09-26 19:18] jnweiger commented on #6034
Fixed by the friendly openSUSE admins as discussed in https://github.com/openSUSE/software-o-o/issues/123
Our downloads there should now work again!

[2017-09-26 20:59] timmersr opened #6062 "Windows client does not start at system start"
### Expected behaviour
Client should start if Start at system start is selected.

### Actual behaviour
The client does not start at system start. This behaviour has been observed on 5 PC's.

### Steps to reproduce
1. Select Start at system start in the settings, select Close.
2. Reboot de computer
3.

### Server configuration
Operating system: Linux Ubuntu 16.04

Web server: Apache

Database: MySQ

[2017-09-26 21:31] timmersr commented on #6062
FYI: my workaround is Windows+R  **shell:startup**  and then add a shortcut to C:\Program Files (x86)\Nextcloud\nextcloud.exe

[2017-09-27 07:37] SamuAlfageme commented on #6061
@haukman happy to take a look into your setup

[2017-09-27 09:10] polrus commented on #5723
blockquote {padding-left: 1ex; margin: 0px 0px 0px 0.8ex; border-left: #cccccc 1px solid;} p {margin: 0px;padding: 0px;}
Hi , build failed
https://build.opensuse.org/package/live_build_log/isv:ownCloud:community:edge/owncloud-client/openSUSE_Leap_42.3/x86_64
so the repo does not have the binaries
can't test
 
Dnia Poniedziałek, 25 Września 2017 12:17 Markus Goetz <notifications@github.com> napisał

[2017-09-27 09:16] hodyroff commented on #4327
Cryptomator was introduced to the ownCloud Community in June:
https://owncloud.org/blog/cryptomator-we-talked-to-christian-schmickler/
https://owncloud.org/blog/how-to-set-up-end-to-end-encryption-with-cryptomator/

Nice to see that the ownCloud Fork is catching up ... it has great use cases and is used by many of our 14 Million Users worldwide.

However sharing is not clear and we will continue t

[2017-09-27 09:17] haukman commented on #6061
@SamuAlfageme perfect, just ping me in rocket!

[2017-09-27 09:23] jnweiger commented on #5723
We don't have nightlies currently, they are blocked by merging our packaging diff back into the code. I'll make a quick fix attempt after lunch.

[2017-09-27 12:51] rugk commented on #4327
NextCloud was faster. They introduce their real integrated (native) end-to-end encryption and already have beta software: https://nextcloud.com/blog/nextcloud-introducing-native-integrated-end-to-end-encryption/

[2017-09-27 13:26] jnweiger commented on #5723
@guruz @ckamm nightly builds fail with a yet unknown error: Can you please comment on this one:

<pre>
[  121s] cd /home/abuild/rpmbuild/BUILD/owncloudclient-2.4.0-nightly20170927/build/src/gui && /usr/bin/c++   -DQT_CONCURRENT_LIB -DQT_CORE_LIB -DQT_DBUS_LIB -DQT_DISABLE_DEPRECATED_BEFORE=0 -DQT_GUI_LIB -DQT_MESSAGELOGCONTEXT -DQT_NETWORK_LIB -DQT_NO_DEBUG -DQT_SQL_LIB -DQT_USE_QSTRINGBUILDER -DQ

[2017-09-27 14:59] SamuAlfageme commented on #5723
@jnweiger maybe it's related to https://github.com/owncloud/client/pull/6057/files#diff-f3b5ef1e3c83ae293fff051fec3aca0cR67 is that PR properly merged?

@ogoffart cast needed on the build-sys. compiler maybe?

[2017-09-27 16:20] jnweiger commented on #5723
Thanks @SamuAlfageme for the hint! Casts added. Nightlies compile again!
@polrus please check out https://software.opensuse.org//download.html?project=isv:ownCloud:community:edge&package=owncloud-client

@ogoffart please review my newly added packaging.diff:
<pre>
--- owncloudclient-2.4.0-nightly20170927/src/gui/creds/oauth.cpp.orig	2017-09-27 18:01:30.666504658 +0200
+++ owncloudclient-2.4.0-nigh

[2017-09-27 16:55] jnweiger commented on #6005
Yeah, let's push two more lines of code, and we have that folder optional.
I am already removing the folder when generating my Linux tarballs (along with the other items discussed here). So if you pick one from the sources in obs, it should be already DFSG-free!

[2017-09-27 17:02] hodyroff commented on #6062
Please try with the ownCloud Client. I am pretty certain it will work. Otherwise comment and we'll reopen. Most recent version is 2.3.3

[2017-09-27 17:02] #6062 closed

[2017-09-27 18:23] kemoc commented on #6034
@jnweiger i confirm, on ubuntu 16.04 works, thanks.

[2017-09-28 07:55] ckamm commented on #5957
Merged!

[2017-09-28 07:55] #5957 closed

[2017-09-28 08:36] michaelstingl commented on #5797
@SamuAlfageme @ckamm Expiration date for user/group shares planned for oC server 10.0.5: https://github.com/owncloud/enterprise/issues/2001#issuecomment-332617932

[2017-09-28 08:57] polrus commented on #5723
blockquote {padding-left: 1ex; margin: 0px 0px 0px 0.8ex; border-left: #cccccc 1px solid;} p {margin: 0px;padding: 0px;}
Hi,
tested
solution works OK
pls merge upstream
 
thx to all involved
 
OC packaging based on OpenSuse makes the whole proces of retesting very ease - you should be the model for the industry !
 
 
Dnia Środa, 27 Września 2017 18:20 Jürgen Weigert <notifications@github.com> napi

[2017-09-28 11:03] jospoortvliet commented on #4327
@orion1024 we would absolutely LOVE feedback on our design from you, as you've been thinking about this for a long time! You can see the full design description in github here: https://github.com/nextcloud/end_to_end_encryption_rfc

We even have a nice white paper with illustrations on https://nextcloud.com/endtoend

Note that this is not comparable to what ownCloud offers except that both use the

[2017-09-28 11:09] DeepDiver1975 commented on #4327
@jospoortvliet please step back on judging our solution. Looks like you have no understanding on how it works.
Client support is being worked on. So please stop spreading false facts. THX

[2017-09-28 11:35] CorneelDragon commented on #5295
Hi, I think I was the admin that Michael mentioned:

In this regard, our largest institution is asking for a timeline. I understand from the above that the development is rather difficult and at a very early stage, but could you make any prediction?

[2017-09-28 11:48] unsuckvim commented on #4327
Wow, it seems that OwnCloud got it right and made access through the browser a priority, showing that user-friendliness and security are not conflicting goals. Awesome work! Too bad NextCloud is not heading the same direction. After all, browser access could be disabled on a per-instance basis, if desired. Also, too bad it's not an open source solution and quite expensive for me as a single, priva

[2017-09-28 11:56] LEDfan commented on #4327
Note that the proposed solution by @orion1024 would also mean disabling access through the web-browser. The only code which can run in a webbrowser is delivered by the server, if you don't trust the server to store your data why would you trust code deliver by the very same server? Even if you use an browser addon, you still can use injected JS to get the decryption key.

This is actually the same

[2017-09-28 12:12] unsuckvim commented on #4327
Agreed, there seems to be no solution to this so far. It would be interesting if there could be a solution using a combination of the [Subresource Integrity mechanism](https://www.w3.org/TR/SRI/), and a browser addon. For example the java script code could be loaded from a public github repository while the Browser plugin could locally check the integrity instead of relying on the server. For use

[2017-09-28 14:07] jospoortvliet commented on #4327
@unsuckvim actually we debated this, it would be possible through a browser plugin in Chrome, Firefox etc. We have some experience building those so we might do that at some point, but we put the focus on the clients for now.

Besides, the main benefit of decrypting in the browser is that people from outside your server userbase could have access and then you'd force them to install a browser exte

[2017-09-28 14:17] jospoortvliet commented on #4327
@unsuckvim you're right that it is not entirely impossible, just very hard. We did debate it and we have inhouse experience building browser addins (done chrome and firefox for our video calls apps before) but doing it really secure is hard.

Plus the main benefit of browser support is in giving ppl from outside the server user base access - eg customers or friends. But then they would have to ins

[2017-09-28 16:34] ogoffart commented on #5968
Closing this bug as this is an upstream issue.

[2017-09-28 16:49] ogoffart commented on #5951
My current work in progress: https://hydro.woboq.im/owncloud/index.php/s/cQYOWcSw2Kdfw8Q
(this is based on https://github.com/OldFrostDragon/qt-5.7-xenial-docker , adapted for qt 5.9)

Also what nextcloud does:  https://github.com/nextcloud/client_theming/tree/master/linux/AppImage

Note that we'd need to find a solution for the shell integration. I think @dragotin mentioned that he has a solution

[2017-09-28 17:35] guruz commented on #5723
thanks for testing :)

I'm sure @dragotin @crrodriguez @jnweiger  like hearing that :-)

[2017-09-28 17:35] #5723 closed

[2017-09-28 17:39] guruz commented on #5960
I'm closing this for now.
If anyone has issues please create a new bug mentioning which package you use, which distro etc :)

[2017-09-28 17:39] #5960 closed

[2017-09-28 17:46] guruz commented on #5980
thanks for contributing :)

[2017-09-28 17:52] tessus commented on #5980
you're welcome

[2017-09-28 19:57] guruz commented on #2297
Just so the link to the WiP does not get lost: https://github.com/owncloud/client/commit/068e98d00d021b1b419705f6fe9f3d6c1e39453d

[2017-09-29 09:09] atanasantonov commented on #6034
@SamuAlfageme Thank You!!!

[2017-09-29 12:46] H4ndl3 commented on #1590
@yan12125 thanks, I'm using Gnome on Arch Linux and libgnome-keyring was missing. After installing it it works :)

[2017-09-29 13:25] dumblob commented on #4327
Server trustworthiness checking using a web browser is a very very hard issue (seems actually currently not solvable). See the comments in https://github.com/jasonmunro/cypht/issues/185 .

If anyone knows about existing solutions for reliably checking the server trustworthiness using a web browser (i.e. not theories, but a functional code), please let me know immediately.

[2017-09-29 14:30] shaneonabike commented on #6034
The solution by @SamuAlfageme was really the only solution that worked thanks so much bro!

[2017-10-02 08:29] SamuAlfageme commented on #5305
After https://github.com/owncloud/client/pull/6032 we can now sync the root `owncloud/` folder multiple times per account. Might be worth looking at this again.

[2017-10-02 10:17] SamuAlfageme commented on #6019
We should try to fix https://github.com/owncloud/client/issues/6049 before the alpha release IMO, still need to find & comment the crash reports in the issue though.

[2017-10-02 11:05] jturcotte commented on #6049
I'm trying the force unmount thing on macOS, and I'm getting #3046, which is not a regression (it not really fixed and still appears in our crash reports).
Force unmounting is not a common scenario, and I can't get it to crash if I unmount normally.

So the regression part could be specific to Windows.

[2017-10-02 11:56] jturcotte commented on #6049
Just saw that the bug report was created for macOS so this can't really be specific to Windows. I've been trying to reproduce it with current master though, not 2.3.3.

[2017-10-02 12:55] SamuAlfageme commented on #5972
👍 yay!

[2017-10-02 12:55] #5972 closed

[2017-10-02 13:24] SamuAlfageme commented on #6049
@jturcotte @ckamm then I was wrong to assume https://github.com/owncloud/client/issues/6050 and this one were the same. 😕

[2017-10-02 13:25] SamuAlfageme commented on #6050
See https://github.com/owncloud/client/issues/6049#issuecomment-333533165

[2017-10-02 13:27] guruz commented on #5964
@webjoko Can you please go into detail? Which kind of filename are you uploading from where (which OS) and downloading to where (which OS)? And is the upload or download blocked? Also state your expectation what should happen instead (renaming the file? Error at an earlier stage? Error at a later stage?)

[2017-10-02 13:45] guruz commented on #1902
@Agustin-Pantoja You need to run something that qtkeychain supports, else the ownCloud client can't store its password.
https://github.com/frankosterfeld/qtkeychain

[2017-10-02 14:02] guruz commented on #6050
@sentabi Do you remember if this happened with earlier client versions too?

[2017-10-02 14:03] guruz opened #6069 "Release 2.3.4"
Yes:
* [X] https://github.com/owncloud/enterprise/issues/2252#issuecomment-333537775

No:
* https://github.com/owncloud/client/issues/6049
* https://github.com/owncloud/client/issues/6050 ?

[2017-10-02 14:25] jturcotte commented on #6049
It's also possible that one needs a bit of luck in order to reproduce it, on any of the involved OSes. Getting the OS to unmount the disk at the right moment is quite difficult. I tried a few times on macOS and Windows, but could only get it to crash once out of my 10 tries (and it was #3046, so it's either a different issue, or it's not a regression).

Having a crash report would help figuring ou

[2017-10-02 15:54] michaelstingl commented on #6069
@guruz Yes, please go for a 2.3.4 . I've got _High CPU_ (https://github.com/owncloud/enterprise/issues/2252) reported only from a single workstation, but if you think this is something that could affect more users, it should be fixed in a new 2.3 release… /cc @SamuAlfageme @jnweiger

[2017-10-03 07:29] marwahalabi opened #6071 "./OwnCloudCPack.cmake: line 1: syntax error near unexpected token `InstallRequiredSystemLibraries'"
### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Steps to reproduce
1.
2.
3.

### Server configuration
Operating system:

Web server:

Database:

PHP version:

ownCloud version:

Storage backend (external storage):

### Client configuration
Client version:

Operating system:

OS language:

Qt version used by client package (Linux only, see a

[2017-10-03 08:12] iceroot82 opened #6072 "(Debian) owncloud-client 2.3.3-8388 Segfault (just before suspend mode)"
### Expected behaviour
Putting my notebook into suspend, after the notebook is waking up again, the owncloud-client should be still there

### Actual behaviour
When i am putting my Notebook into suspend mode, owncloud-clinet ist not active anymore after the notebook was coming back from sleep. In /var/log/syslog i found a segfault

Oct  2 18:01:43 bestian kernel: [160716.677254] owncloud[22613]: s

[2017-10-03 13:59] mmattel opened #6073 "Waiting for sync - but it already syncs"
### Expected behaviour
Syncing big files (8GB), the client should tell that he is in progress of syncing file xyz

### Actual behaviour
The screenshot shows that I have full bandwidth (server upload max is 5mb/s)
but the client says wayiting for sync. I know that there is the big file in progress because there is nothing else with that size. Activity just shows in the sync protocol the last succes

[2017-10-03 15:08] xnicolay opened #6074 "macOS: Crash on Launch on High Sierra"
begin of solution: install the last python package. for OSX (https://www.python.org/downloads/release/python-362)

### Expected behaviour
Tell us what should happen

running ownclient desktop 2.3.3 (build 8242) on OSX high sierra directly crash

### Actual behaviour
Tell us what happens instead

### Steps to reproduce
1. just run owncloud
2. or /Applications/owncloud.app/Contents/MacOS/owncloud
3.

[2017-10-03 16:45] Ricardosgeral commented on #5855
I'm having sometimes the error syncing nextcloud
"An If-Match header was specified and the resource did not exist"
anyone knows what is happening?

[2017-10-03 17:24] mrow4a commented on #5855
I think you need to contact NextCloud for that.

[2017-10-03 19:28] Ricardosgeral commented on #5855
yep. sorry didn't notice this is for the owncloud and not the nextcloud

[2017-10-03 20:07] mrow4a commented on #5855
As far as I remember, they are using ownCloud's sync client, which is just branded. So you are in proper place. What is your sync client version? Maybe you just need to update your client. Otherwise, you need to post an issue in the Nextcloud server repository.

[2017-10-04 07:39] guruz commented on #6073
@mmattel OK this sounds weird. It should for sure not show the "Wartet auf Beginn..." if it is actually syncing.

So stupid question maybe but: Are you sure the bandwidth graph you show is for the ownCloud client and not for something else going on? (Windows update, browser, Bittorrent ;-)

Or do you have multiple accounts set up in your client?

How can we reproduce this?

[2017-10-04 07:42] xnicolay commented on #6074
Le 04/10/2017 à 11:37, Markus Goetz a écrit :

[MacBook-Air-de-Xavier:~] xnicolay%
/Applications/owncloud.app/Contents/MacOS/owncloud
m_crashReporterChar:
/Applications/owncloud.app/Contents/MacOS/owncloud_crash_reporter
m_crashReporterWChar:
/Applications/owncloud.app/Contents/MacOS/owncloud_crash_reporterDump
file was written to:
/var/folders/2_/y2qxwvbx33b_b5wp9bfy2b580000gp/T/*37546D60-ADB8-47

[2017-10-04 07:42] guruz commented on #6072
@iceroot82 Could you try to give us a more complete backtrace?

You could run the client from a console/terminal/shell with ```gdb owncloud```. Then try to reproduce the issue. Then if it crashes, you should be thrown into the gdb input. There you can type: ```thread apply all bt``` and give us the output. Thanks.

@dschmidt @jnweiger (Not sure if this is the issue but could be) Are we shipping th

[2017-10-04 07:43] guruz commented on #6071
You just posted the default template without any further information.
How can we help you without further information?

[2017-10-04 08:01] iceroot82 commented on #6072
@guruz
of course and thank you four your response. I could easily reproduce the issue and hopefully i was using gdb correctly

https://pastebin.com/Pmssjv8p

At Line 52 it is the output i got directly after the wake up (Datei oder Verzeichnis nicht gefunden means file not found).

if you need further information please give me a sign.

Greetings from germany

[2017-10-04 08:09] jturcotte commented on #6074
Same problem.

which use "weakref" .... and the osx python implementation.... is not
complete or something like that.

There is no python in owncloud, it's lldb itself that loads it for scripting. And I'm not sure how this is related to us.

[2017-10-04 08:11] xnicolay commented on #6074
Ah.
I've no idea to helo you, then.
You've the dmp attached in my last mail.
If i can help you more....

Le mer. 4 oct. 2017 à 12:09, Jocelyn Turcotte <notifications@github.com> a
écrit :

[2017-10-04 08:20] mmattel commented on #6073
I use the bandwidth monitor since years together with other tools like process monitors and others to identify possible "bandwidth eaters". In this case, no other processes consumed remarkable bandwidth.

At home where my server runs, the Internet upload bandwidth is 5Mbit . Because I tested from outside home, the upload bandwidth was the limiting factor. The download bandwidth where I tested was

[2017-10-04 10:01] mmattel opened #6075 "Setting window is too tall and rannot be made smaller (because of the general settings tab)"
### Expected behaviour
Open the client, resize horizontally and vertically should be possibe as it was in W7

### Actual behaviour
Open the client, resize horizontally = works, resize vertically = will not do
It "feels" like this is (b)locked, moving the window works

### Client configuration
Client version: 2.3.3

Operating system: W10x64

OS language: German

[2017-10-04 14:12] guruz commented on #6074
Mail attachments don't work, but you could try to attach from webinterface if you really think this is in oC :-)

[2017-10-04 14:23] xnicolay commented on #6074
here is the compressed dump file

[37546D60-ADB8-4701-A1FB-BA84DAED38D2.dmp.gz](https://github.com/owncloud/client/files/1356095/37546D60-ADB8-4701-A1FB-BA84DAED38D2.dmp.gz)

i've try owncloud 2.3.2 and 2.3.3
which is no more running since the upgrade to high sierra. :/

[2017-10-04 14:28] guruz commented on #6074
What happens if you run it without lldb?

Just type in the shell:

[code]

[2017-10-04 14:54] guruz commented on #6072
(btw github also has a pastebin on http://gist.github.com :-)

Are you sure you don't have the backtrace of thread 1?

We should see the ```#0 #1 #2 #3``` etc similar to other threads?

[code]

[2017-10-04 14:56] guruz commented on #6072
@iceroot82 Just wondering, do you have a directory called ```bearer``` somewhere in ```/opt/ownCloud/qt-5.6.2/``` ? What happens if you move that directory to ```bearer.old``` and retry this? (also restarting the client)

[2017-10-04 15:10] iceroot82 commented on #6072
@guruz i should have pasted all lines i got. Next time i will use the one from github :)

I had the directory you asked for
michael@bestian:/opt/ownCloud/qt-5.6.2$ find . -name bearer
./lib/x86_64-linux-gnu/qt5/plugins/bearer

I renamed it as you suggested, restarted the client and then did my suspend-testing. **20 times it was successful, so it seems to be fixed**

I did not find any packages con

[2017-10-04 16:58] jnweiger commented on #6072
@guruz If I understand correctly, `configure -no-feature-bearermanagement ...` should do the trick. Right?

[2017-10-04 17:08] guruz commented on #6072
@jnweiger Not necessarily. :-( The configure would also add some ```#ifdef``` into the Qt code that makes it do different code paths.
You'd need to check how we compile Qt for Windows and macOS. It might be that we don't configure anything there (so compile with bearer management) and then just not ship the plugins (I'm sure about the latter part)

[2017-10-05 07:31] wioxjk opened #6076 "[Debian 8 Jessie] owncloud client not supported by owncloud server 10.0.3"
### Expected behaviour
Latest version should be available in the Debian 8 repository

### Actual behaviour
Latest version is not available in the Debian 8 repository

### Steps to reproduce
1. Try do install latest version of the Owncloud Sync client on a debian 8 based distro
2. Run Owncloud 10.0.3

### Server configuration
Operating system:
Debian 8

Web server:
Apache/2.4.10 (Debian)

Database:

[2017-10-05 11:33] hefee commented on #6076
Well inside a relaesed version owncloud-client is never updated ( except for security issues). An overview about version available for Debian see [tracker](https://tracker.debian.org/pkg/owncloud-client). You see, that you can get a newer version via [backports](https://backports.debian.org/) (2.2.4). Keep in mind, that jessie is oldstable and do not get anymore much manpower updating it.

There i

[2017-10-05 11:42] wioxjk commented on #6076
Thanks,
Installing if from backports does "solve" that.

[2017-10-05 13:09] guruz commented on #6076
(otherwise there is always the packages from https://owncloud.org/changelog/desktop/ ...)

[2017-10-05 13:09] #6076 closed

[2017-10-05 13:29] wioxjk commented on #6076
@guruz
That does not help as I mentioned above ;)

[2017-10-05 15:03] pierrejochem commented on #6061
@guruz: Do I understand it correct, that it will be fixed in Version 2.4.0?

[2017-10-05 18:43] kdslkdsaldsal commented on #6076
@wioxjk

Seems there is something broken in your apt setup causing this issue. Just to show that the repository linked is not providing the outdated 2.2.3 you get but the current 2.3.3 as expected:

![screenshot_2017-10-05_20-42-07](https://user-images.githubusercontent.com/25050304/31246467-c934a048-aa0d-11e7-8031-8ac34d01ec20.png)

[2017-10-05 20:48] jnweiger commented on #6072
Disabling at compile time with --no-feature-bearermanagement does not work.
This is intrusive to the code. It causes e.g.

 204s] /home/abuild/rpmbuild/BUILD/owncloudclient-2.4.0/src/gui/application.h:120:5: error: 'QNetworkConfigurationManager' does not name a type

errors. We keep bearer enabled, but wipe the plugins directory. That should be safe as our Qt562 only collects plugin from its own p

[2017-10-05 22:03] jnweiger commented on #6072
Disabling at compile time with --no-feature-bearermanagement does not work.
This is intrusive to the code. It causes e.g.

 204s] /home/abuild/rpmbuild/BUILD/owncloudclient-2.4.0/src/gui/application.h:120:5: error: 'QNetworkConfigurationManager' does not name a type

errors. We keep bearer enabled, but wipe the plugins directory. That should be safe as our Qt562 only collects plugin from its own p

[2017-10-06 08:55] ckamm commented on #6073
@mmattel Just to confirm again because it's so surprising. You reproduce like this:
* Go to owncloud client, pause everything.
* Upload a large file to the server
* Observe a large amount of downstream bandwidth

That shouldn't happen. Could you start the client with `--logfile log.txt` (https://doc.owncloud.org/desktop/2.3/troubleshooting.html#saving-files-directly) and try reproducing? Pick an e

[2017-10-06 10:17] mmattel commented on #6073
Will do.
Note to your item list: It is important that downloading MUST be outside the network of the server. It must go over the WAN not the LAN to get the bandwith limitation. Else a download might be too quick you may oversee the issue - what happens especially with small and medium files...

[2017-10-06 11:20] mmattel commented on #6073
Such things drive me nuts...
Started the client as described.
Now it tells me in the taskbar it is syncing.
The download will continue for the next 3h, currently no log is written.
Regarding the log, need to stop syncing and redo it because I need the bandwidth for business.
The entries blacked out are because of security
It would be great if the item currently beeing synced is shown in the sync p

[2017-10-06 11:42] ckamm commented on #5989
@SamuAlfageme :(

This was pretty hard to track down. Can you reproduce and get a mitmproxy log? I'm wondering whether the workaround doesn't cover all cases, or whether you run into a different situation.

[2017-10-06 13:11] mcarpenterjr opened #6081 "[Linux] Owncloud Client forgets settings"
Originally I thought this was similar to #945 and #5628 But the client is consistently unresponsive on boot.

### Expected behaviour
Owncloud Launches and connects as expected at OS session start

### Actual behaviour
Owncloud Launches, "crashes", remains unresponsive and has to be terminated.

### Steps to reproduce
1. install owncloud 2.3.3 on Linux Mint 18.2
2. Configure Owncloud to sync with s

[2017-10-06 15:59] guruz commented on #6019
(No branch yet as it would also imply changing transifex etc branches)

[2017-10-06 16:32] guruz opened #6082 "Make sure relevant packaging patches are upstreamed here."
* https://kanboard.owncloud.com/project/1/task/1173
* https://github.com/owncloud/ownbrander/issues/756

[2017-10-06 16:33] guruz commented on #6019
Alpha is released.
Moved rest of open checkboxes to https://github.com/owncloud/client/issues/6082

[2017-10-06 16:33] #6019 closed

[2017-10-06 16:36] michaelstingl commented on #5951
I really like @guruz 's idea to ship the AppImage in a Linux repo and include all the things that aren't possible in the AppImage yet to work around the existing limitations.

[2017-10-06 16:39] guruz commented on #5951
Plus that gives you easy upgrading using apt-get or whatever:)

But I know that @ogoffart strongly disagrees.

[2017-10-06 16:56] guruz commented on #5017
@sagamusix https://central.owncloud.org/t/desktop-client-2-4-0-alpha1-released/9837

[2017-10-06 16:57] guruz commented on #5556
Might be fixed by @ogoffart 's changes with currentDateTimeUtc ?

[2017-10-06 16:58] guruz commented on #5356
We might be fast already in 2.4

CC @jturcotte

[2017-10-06 17:00] guruz commented on #5509
https://central.owncloud.org/t/desktop-client-2-4-0-alpha1-released/9837

2.4.0 alpha1 has a change that might improve the situation but not fix it completely.

Do you guys want to try?

[2017-10-06 17:02] guruz commented on #5074
https://central.owncloud.org/t/desktop-client-2-4-0-alpha1-released/9837

Can you check if the situation is better with this?

@RalfJung @mvdw @lemmy04 @michitux

[2017-10-06 17:03] guruz commented on #3828
@guettli https://central.owncloud.org/t/desktop-client-2-4-0-alpha1-released/9837

This version should greatly improve the CPU load. Can you try?

[2017-10-06 17:04] guruz commented on #6081
Might be interesting to try 2.4.0 alpha1
https://central.owncloud.org/t/desktop-client-2-4-0-alpha1-released/9837

[2017-10-06 17:08] lemmy04 commented on #5074
I'm on Leap 42.3 and QT 5.9 by now, and I haven't seen this kind of behaviour for quite some time...

[2017-10-06 17:52] jturcotte commented on #5356
Why can't we reconcile walk_local/remote_tree in the discovery thread before returning BTW?

[2017-10-07 09:15] ogoffart commented on #5356
yes, we could do the reconcile in the discovery thread.

[2017-10-07 12:11] guruz commented on #5356
That's actually issue https://github.com/owncloud/client/issues/3064 though

[2017-10-07 12:14] guruz commented on #6044
https://central.owncloud.org/t/desktop-client-2-4-0-alpha1-released/9837

Want to test, @Emil-G ? :)

[2017-10-07 12:15] guruz commented on #5964
Please create a new issue with a proposal on which behaviour you'd want.

[2017-10-07 12:15] #5964 closed

[2017-10-07 12:16] guruz commented on #5676
https://central.owncloud.org/t/desktop-client-2-4-0-alpha1-released/9837

@ericlin1001 Alpha1 released. Could you check?

[2017-10-07 13:37] ccoenen opened #6083 "Platform-Specific filenames make heterogeneous teams a nightmare"
My **problem:**
Different OSs have different constraints in their file systems, we can't change that. In teams that are spread across all operating systems, this creates a problem: Alice uploads a file on her MacOS Computer, and Bob on his Windows 10 machine can't download it. This is not a theoretical problem, but a very real one:

My "not synced" tab looks like this, and I hate it. It makes work

[2017-10-07 13:38] ccoenen commented on #5964
Done. Although I don't really see a benefit of closing this issue in favor of a new one?

[2017-10-08 13:21] PVince81 opened #6084 "Empty folder not synchronized because it is "too big""
### Steps

1. Create a folder "test"
2. Put a good gigabyte of files into it
3. Setup local desktop client
4. Wait for sync
5. Desktop client warns that the folder "test" will not be synced because too big. Do not make any change here and leave the warning!
6. Stop sync client
7. In the web UI or different client, empty the folder "test"
8. Start sync client again

### Expected
Client syncs folder

[2017-10-08 13:57] sentabi commented on #6050
@guruz sorry I can't remmember.

another update :

If I reboot my system but didn't mount disk where I store my owncloud files, owncloud client didn't crash. and show the right error (check screenshot below)
![screenshot from 2017-10-08 20-46-44_blur](https://user-images.githubusercontent.com/203196/31317372-000f38fe-ac6a-11e7-966e-7033d7206801.png)

Problem appear if I boot to Windows (didn't dis

[2017-10-09 06:48] glannes31 opened #6085 "[2.4.0.alpha1] Context menu for sharing not in Language OS"
I'm a french user and when i share a file or folder with the client, the context menu is in english.

### Expected behaviour
Context menu for sharing in french

### Actual behaviour
Context menu for sharing in english

### Steps to reproduce
1. Right click on a file or folder that you want to share
2. See the incorrect language

### Server configuration
Operating system:  Redhat

Web server:  Apac

[2017-10-09 07:16] Emil-G commented on #6044
@guruz Hi, I have tested it, and it introduces the bug I described in my last comment:

The url I would normally input:
https://mysite.com/app/

Does not work with this release. Now I am forced to input this:
https://mysite.com/app//

Adding an extra "/" to the path to reach the correct server and be able to log on.

[2017-10-09 10:27] ckamm commented on #6073
@mmattel Thanks for testing! Too bad it didn't reproduce this time. Maybe abort the download, delete the file on the server and try again.

A log should be written: make sure you get log outpuf working before trying to reproduce since we can't debug it otherwise. You can just start and quit the client and check that the log file contains data.

Your efforts to reproduce are much appreciated.

[2017-10-09 10:37] ckamm commented on #5074
@lemmy04 Great, thanks for the report. I'm closing this for now. Feel free to reopen if it still affects anyone.

[2017-10-09 10:37] #5074 closed

[2017-10-09 12:32] moscicki opened #6086 "UI: allow sorting columns in Not Synced Activity Tab"
Wouldn't it be useful to allow sorting of columns when clicked on the header? We have got such suggestions from our users.

![image](https://user-images.githubusercontent.com/621965/31338174-7b043d4a-acfe-11e7-9e40-463c8e6b3253.png)

[2017-10-09 12:48] mcarpenterjr commented on #6081
Since restarts are hard to come by during the work day, I'm going to switch over to the Alpha release and see what happens. If I get the same behavior I'll run gdb.

[2017-10-09 15:29] jnweiger commented on #6072
Current 2.4.0~alpha1 repo https://build.opensuse.org/package/show/isv:ownCloud:community:testing has
ocqt562-libqt5network5:amd64 (5.6.2-1+22.1) which is a lower version than the same package from isv:ownCloud:desktop (5.6.2-13.1) according debian standards.

Bumping the build release number to 5.6.2-14+XX.Y so that both repos
* https://build.opensuse.org/package/show/isv:ownCloud:desktop and
* ht

[2017-10-09 16:23] jnweiger commented on #6072
@iceroot82 can you re-test with https://software.opensuse.org//download.html?project=isv:ownCloud:community:testing&package=owncloud-client
this should be better... :-)

[2017-10-09 16:30] iceroot82 commented on #6072
@jnweiger sure. I installed the Package from the Repo you named

michael@bestian:/opt/ownCloud$ apt-cache policy owncloud-client
owncloud-client:
  Installiert:           2.4.0~alpha1-8472
  Installationskandidat: 2.4.0~alpha1-8472
  Versionstabelle:
 *** 2.4.0~alpha1-8472 500
        500 http://download.opensuse.org/repositories/isv:/ownCloud:/community:/testing/Debian_9.0  Packages
        100 /

[2017-10-09 20:20] jnweiger commented on #6072
@iceroot82 can you re-test with https://software.opensuse.org//download.html?project=isv:ownCloud:community:testing&package=owncloud-client
this should be better... :-)

[2017-10-09 20:58] iceroot82 commented on #6072
@jnweiger thats the package i used for my last test or did i get something wrong?

`root@bestian:/home/michael# apt-cache policy owncloud-client
owncloud-client:
  Installiert:           2.4.0~alpha1-8472
  Installationskandidat: 2.4.0~alpha1-8472
  Versionstabelle:
 *** 2.4.0~alpha1-8472 500
        500 http://download.opensuse.org/repositories/isv:/ownCloud:/community:/testing/Debian_9.0  Packag

[2017-10-10 07:09] ckamm opened #6088 "Make use of Content-md5 header for checksum purposes"
@DeepDiver1975: @guruz pinged me about letting the client handle that header similarly to the `oc-checksums` header for object storage integration. You've not started working on that aspect right?

Concretely I'd grab the header on GET replies and use it for transmission validation.

[2017-10-10 08:40] ryankkim opened #6089 "Still download/upload file is 0KB"
We deployed owncloud 10.0.3

and made Network drive Z: location is http://demo-ni.cloudrim.co.kr/remote.php/webdav/

and then..  we start web brower IE11 to download an attachment via email system.

When we download some file directly into Network drive Z. After complete downloading.
We can see that file detail attribute size is 0 KB with right clicking. So we can not open that file with any appli

[2017-10-10 09:01] ryankkim commented on #6089
We can open the correct file though Web interface.  but We cannot open that file though Network drive.

[2017-10-10 09:18] ryankkim commented on #6089
After rebooting laptop computer. I can open that file though Network drive.
Without rebooting, Can I fix this problem? please help me

[2017-10-10 09:21] ryankkim commented on #6089
After rebooting my labtop, I can open that file correctly.
Whitout rebooting, can I fix this problem. please help me out.

[2017-10-10 10:11] guruz commented on #6088
(Should be a three-liner I think, moving 2.4)

[2017-10-10 10:19] jnweiger commented on #6072
@iceroot82 ah, sorry I forgot to tell you the important details:
The bearer plugins do not come from package owncloud-client, but from package ocqt562-libqt5network5!
So the trick is to update ocqt562-libqt5network5 -- (But I am not exactly sure how your manual move is handled then :-) )

[2017-10-10 10:24] guruz commented on #6089
It's hard to help if you don't mention any version information and don't fill out template or logs :-)

[2017-10-10 10:54] ckamm commented on #6088
@guruz agreed

[2017-10-10 10:55] iceroot82 commented on #6072
@jnweiger thank you for the information. I just used apt-get install owncloud-client to update that package but that was not updating the dependencies. (my fault)
Now with dist-upgrade i updated the package you name as well

The following packages will be updated:
  ocqt562-libqt5printsupport5 ocqt562-libqt5sql5 ocqt562-libqt5sql5-sqlite ocqt562-libqt5webkit5 ocqt562-libqt5widgets5 ocqt562-libqt5x

[2017-10-10 12:46] ckamm commented on #6089
The client isn't involved here, right? I think they download some file from the browser to the webdav-network-drive and it's not working correctly?

[2017-10-10 12:49] ryankkim commented on #6089
Yes. You are correct.  Have you experienced the same case?

[2017-10-10 12:54] ckamm commented on #6085
@glannes31 Thanks for the report! This happens because these strings are new in 2.4 and haven't been translated yet. The translation is done on https://www.transifex.com/owncloud-org/owncloud/ if you're interested in helping out.

[2017-10-10 12:54] #6085 closed

[2017-10-10 12:57] ckamm commented on #6084
I don't think we re-check the folder size once it's been put on the list of undecided-and-not-synced folders.

[2017-10-10 12:59] ryankkim commented on #6089
@ckamm If so,  Please share your insight with us.

[2017-10-10 13:26] phil-davis commented on #6083
And from experience I know that some staff love to write long folder name inside folder names, and write an essay as the file name. They push right up to the (old but still applies to a lot of programs) 256-char path+filename limit on Windows. If Windows is the lowest denominator, then existing filenames created on Windows will not need to be escaped. But if the escaping mechanism makes filenames

[2017-10-10 14:17] PVince81 commented on #6084
I'll leave it up to you guys to decide if this is by design or not.

[2017-10-10 17:08] jnweiger commented on #6072
That confirms my fix. Thanks!
Let's close here. Reopen if you can produce bearer related crashes again :-)

@guruz fixed in 2.4.0 -- please reopen, if this is needed in 2.3.4 too.

[2017-10-10 17:08] #6072 closed

[2017-10-11 07:06] ckamm commented on #6089
@ryankkim I haven't reproduced it, I was just trying to understand. This is not an issue relating to the synchronization client. Most probably it's a problem with the interaction of the oC server's webdav with the windows network drive webdav implementation.

If you don't have a strong reason to prefer using webdav directly I recommend you use the ownCloud client to keep your files in sync with th

[2017-10-11 07:06] #6089 closed

[2017-10-11 07:09] ckamm commented on #6083
@phil-davis Oh, right. That path limit makes long explicit escapes much less likely to work. :/

[2017-10-11 07:28] ckamm commented on #6044
@Emil-G I've tested with 2.4 but don't experience the same behavior.

I've tried the following variants:
* manual url: "http://localhost/sub"
* manual url: "http://localhost/sub/"
* overideServerUrl "http://localhost/sub"
* overideServerUrl "http://localhost/sub/"

And for all of these there is no double slash in the url when I click the link to request an app password from the web interface in th

[2017-10-11 07:34] ckamm commented on #5819
I've tested it.

[2017-10-11 07:34] #5819 closed

[2017-10-11 07:37] ckamm commented on #5783
I've tested it using the test case from the initial comment

[2017-10-11 07:37] #5783 closed

[2017-10-11 07:46] ckamm commented on #5888
@guruz I'm not sure which patch you're referring to. Your log output suggests that this is indeed an error that will abort the whole sync run after the discovery phase? This part of this issue doesn't seem fixed. (but I'd need osx to verify)

[2017-10-11 07:47] haukman commented on #6061
@pierrejochem @SamuAlfageme: Works fine with 2.4alpha for me - I have two accounts configured and can see the context menu again! Thx!

[2017-10-11 07:56] ckamm commented on #5895
I've just tested this.

I logged out of two oauth2 accounts on the same server and restarted the client. Two login windows popped up in the browser to log me in again. (one needed me to log into the right account first) Using these worked.

[2017-10-11 07:56] #5895 closed

[2017-10-11 07:58] ckamm commented on #5692
I've tested this by trying to use owncloudcmd with an invalid password and checking the log output.

[2017-10-11 07:58] #5692 closed

[2017-10-11 08:00] ckamm commented on #5672
The logs appear as expected. @michaelstingl let us know if any additional logging would be helpful.

[2017-10-11 08:00] #5672 closed

[2017-10-11 08:54] SamuAlfageme commented on #5989
@ckamm sure, repro steps w/ 2.4.0alpha1 (build 8391) [macOS]:

1. Set up an account correctly on the client / with a session initiated:
2. Log out & try to re-login with an incorrect password

### Actual Result (click to see video):

[![img](https://i.imgur.com/JSbPi3z.png)](https://i.imgur.com/JSbPi3z.gifv)

* `PROPFIND` is replied 403 and the client still displays "Connecting" status
* Wrong pas

[2017-10-11 09:16] ckamm commented on #5989
@SamuAlfageme Thanks, investigating.

[2017-10-11 09:20] pierrejochem commented on #6061
I have tried it with Version 2.4.0 alpha and I can see the context menu again too

[2017-10-11 09:46] ckamm commented on #5989
For people testing this: I just was significantly confused for a bit because there's a bug in mitmproxy 0.18.2's sticky auth that makes it always on: https://github.com/mitmproxy/mitmproxy/issues/1850. Use `--stickyauth nonenonenone` to disable it by setting a non-matching pattern.

[2017-10-11 10:03] ckamm commented on #5989
I can reproduce the problem now. The workaround I added seems insufficient for not having that DetermineAuthType job's request eaten by QNAM. I'll attempt further debugging.

[2017-10-11 10:22] ckamm commented on #5989
The bug is due to a badly timed `QNAM::clearAccessCache`. Will be able to fix.

[2017-10-11 12:13] Emil-G commented on #6044
@ckamm Hi, there is no extra added by the client. However I have to either do "/app" or "/app//" for the client to connect to the correct server. "/app/" does no longer work in 2.4.

[2017-10-11 12:21] SamuAlfageme commented on #6075
@mmattel hm, I can resize vertically, but only to make the window taller. Might have something to do with the `sizepolicy` set for https://github.com/owncloud/client/issues/5760 -> https://github.com/owncloud/client/commit/87a7642381858c298a3c3dbc4d3480701bf501e5

Will take a look. Thanks for the tip!

[2017-10-11 12:27] mcarpenterjr commented on #6081
[code]

[2017-10-11 12:28] mcarpenterjr commented on #6081
SO since then I should be on the alpha release above and I upgraded our owncloud server instance to the most current release of 10.0

[2017-10-11 13:37] ckamm commented on #6044
@Emil-G Huh, for me the url with the trailing / works fine. I'll try again. Just to confirm:
* Start 2.4.0 alpha
* Trigger new account wizard
* Put in url ending with /app/, click next
* Click the link
* Be directed to an url that contains the string "/app//" ?

[2017-10-11 13:45] ckamm commented on #4875
Dynamic chunking is in and happens in practice.

[2017-10-11 13:45] #4875 closed

[2017-10-11 13:47] ckamm commented on #2791
@SamuAlfageme Do you still want to test something here? Since this is a meta issue and the linked tickets have been closed, I'd be up for closing this one too.

[2017-10-11 13:49] SamuAlfageme commented on #2791
@ckamm agreed, let's close here - I'll review SAML redirection behaviors before the 2.4 release, but so far I didn't see anything to worry about.

[2017-10-11 13:49] #2791 closed

[2017-10-11 13:55] ckamm commented on #1067
I've tested the current behavior: The too-deep directory is not synced and is shown in the "not synced" list of files. It's a silent error, similar to other files being excluded due to hiddenness or by exclude pattern.

[2017-10-11 13:58] SamuAlfageme commented on #5597
@pmaier1 we discussed this one a really long time ago. It was about using more clear names for the sync folders on the multiaccount scenario to distinguish. Only problem is the length of the names when not syncing the root (see example below)

If I understood correctly https://github.com/owncloud/client/issues/5295 that would be helpful to organize all the accounts in the client(s). Imagine the sc

[2017-10-11 14:41] moscicki opened #6092 "[cernbox] handling of colons and other characters (#5964 continued)"
#5964 was closed but I still believe it is not fixed.

Just tried with 2.3.3 client on Linux. Are we missing a server capability or some client setting to enable these characters? Screenshot attached.

![image](https://user-images.githubusercontent.com/621965/31447643-c8617242-aea2-11e7-95b5-cd748baccd76.png)

[2017-10-11 14:47] moscicki commented on #6083
@ccoenen: I think the only proper solution to this is some kind of name translation (like Dropbox tries to do).

If you restrict the set of characters your server accepts then you will still have the same problem (error messages) except that it will be at the side of the producer of these files (rather than at the side of consumer of these files). Additional downside for errors at the producer sid