[2015-01-28 14:40] dragotin commented on #2753
if the defaultClientFolder in the branding is a relative (not absolute) path, the relative path is prepended by the user home dir as reported by the system, so in the fictuous example above, the setting for defaultClientFolder would simply be
[code]

The problem might be that we can not insert the server name?

[2015-01-28 14:43] qknight commented on #69
On 01/28/2015 03:40 PM, Jeroen Hoek wrote:

you are probably talking about using owncloudcmd, right? client certificate support is implemented for the interface but it does not have command line toggles yet. so this still needs to be adressed.

for now you have to use the GUI wizard,

--
Joachim Schiele

blog: http://blog.lastlog.de
wiki: http://lastlog.de
jabber: josh@jabber.ccc.de
GPG: C6AC8770

[2015-01-28 14:48] jdhoek commented on #69
Perhaps I'm overlooking it, but how is the SSL certificate part of the GUI wizard triggered? I appear to be stuck on entering the URL and getting above error.

[2015-01-28 14:49] jdhoek commented on #69
Either that (which is not possible at this moment as you say) or editing `owncloud.cfg` directly. Is that an option?

[2015-01-28 14:54] Raptormagnum commented on #69
Editing owncloud.cfg is not possible, since values are encrypted.

[2015-01-28 15:05] danimo commented on #2753
I think the question here is if its possible to have on the desktop, and it is if a full qualified path is specified.

[2015-01-28 15:08] danimo commented on #2640
I checked and it should work, we still load translations called "mirall".

[2015-01-28 15:22] guruz commented on #2705
@lmaestro When trying to reproduce please also make sure to delete ```$HOME/Library/Preferences/com.owncloud.desktopclient.plist``` before installing the old version.
(this file might store the time of the last update check)

[2015-01-28 15:47] jdhoek commented on #69
I've managed to trigger the certificate-wizard by hacking the build at https://github.com/owncloud/client/commit/d70e146c1fbeee8416fd7311ef2e1a0bb08afb83#diff-3632911ba5d2efed29ee297417addc71R239 I've removed the `if/else` block and left only `slotAskSSLClientCertificate();`.

With the hacked build I can complete the wizard, and successfully connect to my ownCloud-server. :tada:

The client does s

[2015-01-28 16:44] tiktaktok commented on #1902
I combined previous answers into a script and now it works.

Complete solution described here:
http://the-technoholik.blogspot.ch/2015/01/owncloud-client-asking-for-password.html

[2015-01-28 18:03] rperezb commented on #2753
Yes, the thing is the path, currently, by default the sync folder on the computer is something as: "D:/Users/ownCloud"
What it´s asked for is be possible to modify the folder to:  "D:/Users//Desktop/ownCloud" Including the "Desktop" level.

(It is not about being able to sync just folder on the server side)

[2015-01-28 18:15] danimo commented on #2753
@rperezb Yes, it is.

[2015-01-28 18:26] rperezb commented on #2752
Checking, in the meantime, I have reproduced it on MAC

[2015-01-28 19:14] carlaschroder commented on #2655
It appears that both issues are fixed, so.. bye! :)

[2015-01-28 19:14] #2655 closed

[2015-01-28 21:21] egriffith opened #2754 "ownCloud Client complains about missing system tray under Plasma 5.2"
Running Fedora 21 KDE x64, I upgraded from KDE 4.x series to Plasma 5.2 through dvratil's Copr. On login the ownCloud client (version 1.7.0) complains about not being able to load a systray and that if im running XFCE I should follow some instructions. It complains... and yet the ownCloud system tray icon gets created just fine, updates just fine, and is working perfectly.

False positive on ownCl

[2015-01-28 21:30] dragotin commented on #2754
@danimo can you elaborate about the xembed thing? Thx.

[2015-01-28 21:34] egriffith commented on #2754
I was able to grab cached pages of the relevant blog posts from mgraesslin' blog.

Where are my systray icons? http://webcache.googleusercontent.com/search?q=cache:yhMoaPHeQ8QJ:blog.martin-graesslin.com/blog/2014/06/where-are-my-systray-icons/+&cd=1&hl=en&ct=clnk&gl=us

Systray in Plasma Next: http://webcache.googleusercontent.com/search?q=cache:lM7DK5gwCHIJ:blog.martin-graesslin.com/blog/2014/03/

[2015-01-28 22:06] strugee commented on #203
Don't worry about it, you weren't really being rude. The problem wasn't your usage of the thumbs up symbol; the problem was the fact that you're basically adding noise to the issue. (Meaning, comments like "+1", "I'd really like this feature", etc. don't actually help move the issue forward, they just create more email.)

This isn't justification for implementing insecure behavior in the desktop c

[2015-01-28 22:19] ogoffart commented on #69
you should not get a segfault.  Can you reproduce the crash? do you have a backtrace? can you make a separate bug report about it?

[2015-01-29 07:52] lmaestro commented on #2695
@michaelstingl Can you verify that it is fixed?

[2015-01-29 08:22] rperezb commented on #2752
Checked, both Windows and Mac; being more important on Windows. thx

[2015-01-29 08:23] rperezb commented on #2753
It´s not only to add the "Desktop" (or other folder) but the whole path, by default it is used "C:/" instead of "D:/" as requested.

@danimo eager to know how :)

[2015-01-29 08:34] DeepDiver1975 commented on #2725
@dragotin lets work on this list everytime we meet in N - okay?

[2015-01-29 08:39] ckamm commented on #2693
@andrewbridge Thank you for the DB files. It looks like a valid empty database to me, I can open it just fine. I currently don't know what's going on. Here's another interesting excerpt from your log file: the db setup:
[code]

We create a new database and run all the PRAGMA statements. Then CREATE TABLE fails to exec() and we fail to report the SQL error for that (will fix). The error about commi

[2015-01-29 09:01] lmaestro commented on #1693
It is working fine in the latest version.

[2015-01-29 09:01] #1693 closed

[2015-01-29 09:10] jdhoek commented on #69
After a bit of searching I haven't found any agreed upon or even de facto standard for the HTTP message returned by servers that require client-side certificates to gain access, except for the return code `403`. It might not be possible for the ownCloud client to guess that it should be asking for a client-side certificate.

Is it possible to add a checkbox to the wizard at the point where you ent

[2015-01-29 09:15] Skyr commented on #69
@jdhoek there is no http status code specifying the requested authentication type. 403 can be issued on missing/failed http auth, accessing a URL requiring a web login, or for a missing client certificate. However, all http responses may contain a body, so it's possible to return some (Owncloud-specific) status info specifying the kind of authentication required, e.g. a json or xml body with the d

[2015-01-29 09:24] ckamm commented on #2754
Master would not show the dialog because of @ogoffart's 3169833cd78335d23d2b5f08d8a0ca852998e070 which shows the warning only on xfce. It still means that QSystemTrayIcon::isSystemTrayAvailable() returns false, which may be an issue.

[2015-01-29 09:30] natschil commented on #69
Not neccessarily. I wouldn't be surprised if you find that those people using client side ssl do so directly within apache, because they may not trust owncloud (or other services) enough to allow it accept connections from the (non-certificate-having) outside world.

[2015-01-29 09:34] jdhoek commented on #69
@Skyr
Setting an ownCloud specific message would solve the issue, but returning a cold `SSL handshake failed` string is not very user-friendly. This of course depends on the situation, but to give an example; at my company we run Nginx as a security proxy that takes care of the SSL client certificate validation before passing the request on to the service we host (like ownCloud, Gitlab, DokuWiki,

[2015-01-29 09:49] jdhoek opened #2755 "Segmentation fault on master in HttpCredentials"
@ogoffart
As requested.

I have built the ownCloud client to test #69. The wizard shows up, and I can connect to my ownCloud server (with SSL client certificates, and without, connecting to it through VPN).

After connecting to the server, I can select folders to sync. The client segfaults after clicking `Connect…`.

I have a core dump and log, please let me know where to mail it it.

[2015-01-29 09:49] ckamm commented on #2661
@DACN, that looks nginx's connection to the owncloud server was closed. Presumably that happened after the server fully accepted the file but before the response could be communicated back to the client - and thus the client thinks the upload failed.

I'm not sure what can be done here. Since the client didn't get an etag from the server it can't be sure the file on the server is the one that it j

[2015-01-29 09:50] jdhoek commented on #2755
Built @ cd0ad21132cad0fcae3f59aad0e35f79a0341c18

[2015-01-29 10:46] ogoffart commented on #2661
I think the best thing that can be done is to make the server faster, or implementing assynchronous PUT:  https://github.com/owncloud/core/issues/12097

[2015-01-29 11:07] ckamm commented on #2661
@ogoffart Thanks for the link, I agree! I'm closing this issue since it's tracked elsewhere.

[2015-01-29 11:07] #2661 closed

[2015-01-29 11:19] ckamm commented on #2693
@andrewbridge Could I ask you to test this some more?

* Get and install a bleeding edge owncloud client from http://download.owncloud.com/desktop/daily/ (>= owncloud-1.8.0.4657-nightly20150129-setup.exe)
* Run it and paste the log again (better error reporting might show something)
* The same while setting the environment variable OWNCLOUD_SQLITE_JOURNAL_MODE=DELETE
* The same while setting the e

[2015-01-29 12:14] ckamm commented on #2732
I've recently tried the 'share external file' functionality. It was not obvious to me that I'd be sharing a *copy* of the file. The wording in the share dialog ("registered file") suggested that the file itself was shared.

To make this more obvious I suggest that, for external files, nothing should be done until the share dialog has popped up. Then the user can press something like "copy & share"

[2015-01-29 12:18] rullzer commented on #2732
@ckamm  Well, this would have to be an extra dialog then. Since we cannot share a file that is not yet synced. But I like the idea.

How exactly would in-place sharing of external files work?

[2015-01-29 12:37] ckamm commented on #2643
@LEDfan What you're saying is that you have two sync folders: ~/Downloads and ~/InstantUpload and both are fully synced. But in your file browser only InstantUpload gets the "fully synced" icon?

Does the problem persist across syncs, i.e. when you modify a file in Documents and the sync finishes, does the icon appear?

This is either a bug in the socket API or in the shell integration code. Could

[2015-01-29 13:11] ckamm commented on #2732
@rullzer There are a couple of ways it could work. Maybe the one closest to the current approach would be allowing single-file sync 'folders': We can already map different directories of the owncloud storage to directories on the local disks. Similarly a file in OC storage could be mapped to a file locally.

There are a bunch of limitations and assumptions in the client about this, so it'd likely

[2015-01-29 13:30] jondo commented on #2732
I don't want to constrain your eagerness, but perhaps the decision of Dropbox not to offer sharing files outside already synced folders makes the most sense ...

[2015-01-29 13:47] moscicki commented on #2732
I also permit myself with a comment. I think that this is a really weird functionality which in addition uses some implicit assumptions (root folder, specific local sync folder, configuration etc) that will just confuse everyone. A user may copy a file to his sync folder in a place where he wants and then share it normally. Then he understands that he has made a copy of the file. He understands th

[2015-01-29 14:13] ckamm commented on #2732
@jondo At this point I'm not at all saying we should do it. I'm saying I found the 'share external file by silent copy' behavior surprising and that it could be possible to share in-place. I agree that from a usability point of view having a clearly delimited sync folder that users need to copy things into explicitly is likely the most intuitive version.

[2015-01-29 14:45] guruz commented on #2732
I agree with @moscicki 's and @jondo 's  view.

[2015-01-29 14:49] dragotin commented on #2732
Ok. You convinced me. I will disable the functionality of sharing "external" files. @danimo and @guruz pls. reflect that in the file manager plugins, I will care for nautilus.

[2015-01-29 15:58] nazar-pc commented on #659
via https://github.com/tux3/qTox/issues/541#issuecomment-72004515

https://wiki.ubuntu.com/DesktopExperienceTeam/ApplicationIndicators

[2015-01-29 16:02] dragotin commented on #2725
yes.

[2015-01-29 16:28] daeavelwyn commented on #1902
Hi tiktaktok,

Sorry, but your script doesn't solve the problem for me :-/

[2015-01-29 16:34] lmaestro commented on #2607
It works fine in the version 1.8.0-nightly20150129(build 1951)

[2015-01-29 16:34] #2607 closed

[2015-01-29 16:55] danimo commented on #2752
@rperezb On Windows, it should just work like that: Once the installer is done, the app starts up with a wizard.

OS X used to do that, but with the new installer this no longer the case.

[2015-01-29 16:58] danimo commented on #2752
In that case, this issue would be a dupe of https://github.com/owncloud/client/issues/2410

[2015-01-29 16:58] danimo commented on #2353
Please retest with http://download.owncloud.com/desktop/daily/owncloud-1.8.0.4661-nightly20150129-setup.exe

[2015-01-29 17:05] lmaestro commented on #1849
It works fine in version 1.8.0-nightly20150129

[2015-01-29 17:06] #1849 closed

[2015-01-29 17:13] tiktaktok commented on #1902
You have to know that it's more of a workaround than a solution. In my case I could reproduce the bug by starting and killing kwalletd.  kwalletd not being started was clearly causing the ownCloud client to prompt for password.

Also my wallet is not protected by a password, so I suppose it's "unlocked" as soon as KWalletd is started. If yours is still locked and the timeout expires, the ownCloud

[2015-01-29 17:21] abika commented on #60
also a lot of "The system cannot find the path specified" errors here with the Windows client (only after updating to 1.7?).
Many user are affected, please fix this soon.

[2015-01-29 18:39] cdamken commented on #2720
@danimo We have reports that 1.5.3 does work but higher not.

We have tested the situation with a local proxy (www.charlesproxy.com) in between the sync client and the server, but then the authentication does work.

So it might be something which is related to SSL , but we cannot see why because the logs do not mention anything.

[2015-01-29 19:10] guruz commented on #2755
@jdhoek Can you open the core dump in the debugger and get a backtrace and then paste it here?

[2015-01-29 19:14] guruz commented on #2746
I also manage to reproduce this on 10.9.5

This log message appears
[code]
BUT it also can appear when everything is drawn fine.

I think I can reproduce this by start the client, then waiting until I get the green icon, then i click it, then i move the cursor away to somewhere outside the popup menu and the tray icon, then i click again -> icon gone/transparent.

[2015-01-29 19:25] guruz commented on #2746
Upstream bug is https://bugreports.qt.io/browse/QTBUG-44113
Let's see, maybe we can easily fix it ourselves..

[2015-01-29 19:39] jdhoek commented on #2755
@guruz
I think so. Is this something you can use?

[code]

[2015-01-29 19:41] guruz commented on #2748
@dragotin @PVince81 So is it the "trashbin issue" or not? Can we tell @fredericmohr a server version where this is fixed?

@fredericmohr That's a screenshot of the trash? Can you empty it? When it is empty, does the delete go through then?

[2015-01-29 20:00] ogoffart commented on #2755
Thanks.

Was the crash only when using client certificate, or also when not using them.

Can you reproduce the cash? (I could not reproduce the crash.)

[2015-01-29 20:29] jdhoek commented on #2755
Crashes both with and without client certificates. Reproducible, always at the `Connect…` phase. I'm connecting to my ownCloud 7.0.4 server.

I don't have any experience building Qt software, so the fault could be in my build I suppose. Are there builds available for the current master?

@guruz

Did I win a tour of the chocolate factory?

[2015-01-29 20:34] ogoffart commented on #2755
I'm clueless at this point.
How did you build the client?

Can you please run the client with valgrind:

Just run
[code]

normaly valgrind will give a detailed backtrace when it crashes, which also include the reason.

gold ticket just means we have to take care of it before the release.

[2015-01-29 20:39] guruz commented on #2685
I tried reproducing this with a 1.8.x client and 7.0.4.2 server on OS X 10.9.5.
It's fine, no problem
(Instead of waiting for the next sync to happen I have to restart the client as 1.8 clients don't sync that often anymore).

@dhjdhj Can you try reproducing with the latest nightly release from http://download.owncloud.com/desktop/daily/
If you can't reproduce it, I'm assuming it is fixed in 1.8.0

[2015-01-29 20:42] dhjdhj commented on #2685
Unfortunately I'm out of town for the next month or so so won't be able to look at this until March

D

----------------
David H. Jameson, Ph.D
Co-founder
Deskew Technologies, LLC

www.deskew.com

[2015-01-29 20:43] guruz commented on #2685
@dhjdhj Do you remember if the folder was inside a shared folder? Do you remember if you used 1.7.0 or 1.7.1?

@lmaestro Could you also try to reproduce but using 10.10 ? Can you also compare 1.7.1 with 1.8.x ?

[2015-01-29 20:46] jdhoek commented on #2755
I followed the instructions in Appendex A. I had to install Qt 5.4.0 to build because the system installed Qt 4 misses functionality in `QSslCertificate`.

Basically:

[code]

I am launching `owncloud` with a fresh config dir.

[code]

Ah ok. :chocolate_bar:

[2015-01-29 20:57] fredericmohr commented on #2748
So I had this problem again, with only one emtpy file. But it seems to have resolved itself. Don't know how.
![del1](https://cloud.githubusercontent.com/assets/5955966/5966093/a70598f8-a801-11e4-9c52-27e1d2a27c5c.png)

I could emtpy the trashbin through the webinterface, although it was loading forever. After hitting F5 it showed an emtpy bin, so it worked.

[2015-01-29 21:00] fredericmohr commented on #2748
Ok, just as I wrote the above, this happened.
![del1](https://cloud.githubusercontent.com/assets/5955966/5966153/222642b2-a802-11e4-8e81-ae447fcb5b46.png)
Checked the trash bin - still emtpy (emptied it maybe 2 minutes ago...)
pause/resume on client sync
![del1](https://cloud.githubusercontent.com/assets/5955966/5966161/38afe61e-a802-11e4-9fbe-0e2f1dea81c0.png)
Checked trash again - still emtpy
![

[2015-01-29 21:02] fredericmohr commented on #2748
And just to test the above, everything seems to work fine know...
![del1](https://cloud.githubusercontent.com/assets/5955966/5966190/797cc482-a802-11e4-8d2e-c295d5274531.png)
created, copied, renamed  and deleted a emtpy file...

[2015-01-29 21:04] dhjdhj commented on #2685
It was inside a shared folder, I believe.

On Jan 29, 2015, at 3:43 PM, Markus Goetz <notifications@github.com> wrote:

[2015-01-29 21:23] jdhoek commented on #2755
Looking into my build, I suspect that the failed attempt to run cmake against the system's Qt4 libraries might have tainted the Qt5 build I tried after that. I am performing a clean build against Qt5 now from a cleain build directory.

[2015-01-29 21:53] jdhoek commented on #2755
If I start from a clean build directory, `cmake` runs into a problem finding `libqt5keychain`. I can continue by performing the actions mentioned in the last comment in this issue: https://github.com/owncloud/homebrew-owncloud/issues/1

I now have a build that works for one more step, until the `Finish` button of the wizard.

[code]

I fear I am a bit out of my depth with regards to properly build

[2015-01-29 22:11] qknight commented on #69
# missing libcrypto.so check
just found out that my CMakeLists.txt does not have a test for libcrypto.so and i will fix that in the next few days. got a lot of stuff to do right now, so sorry for not answering.

# installtion on ubuntu 14.04

we were using this sequence
[code]

note: please don't use 'make install' as it will spoil your installation.

[2015-01-30 00:00] ogoffart commented on #2755
What I think happenned is that you used the libkeychain that was built against Qt4, and then you had binary compatibility issue.

Now, this assert is more interresting.  I will fix it quickly

[2015-01-30 07:14] ckamm commented on #2685
@guruz "Instead of waiting for the next sync to happen I have to restart the client as 1.8 clients don't sync that often anymore" -> Bug with the file watcher??

[2015-01-30 07:28] lmaestro commented on #2728
Yes, I confirm that on yosemite with 1.7.1 or 1.8.0.

[2015-01-30 08:38] guruz commented on #2685
@dhjdhj Was it inside a shared folder in the old-style ```/Shared/......``` hierarchy?

@ckamm Not waiting for a sync triggered by a watch, but waiting for the next normal (interval) sync.

[2015-01-30 08:41] lmaestro commented on #2685
I can't reproduce it on Yosemite (10.10.1) with version 1.7.1 neither 1.8.0.

[2015-01-30 09:18] guruz commented on #2680
Possibly related: https://github.com/owncloud/client/issues/2576

[2015-01-30 09:51] ogoffart commented on #2685
Is it possible that this folder was shared with someone still having the 1.6 client on windows?
Because the 1.6 client had that bug: https://github.com/owncloud/client/issues/1439

[2015-01-30 09:59] guruz commented on #2685
@dhjdhj Sorry, I'm closing this for now. If you remember more info (like the question above about the ```Shared``` or @ogoffart 's question) or get more Information in March then please comment & reopen.

[2015-01-30 09:59] #2685 closed

[2015-01-30 10:27] Watchwolf opened #2756 "Shared folder are not sync if no modification"
Hello,

I have created an issue #2618 but the issue was closed without being fixed.

When you share a folder from account1 to account2 (Linux client), the shared folder is not sync if no modification is made in the folder after the shared is set up.

Client Linux version 1.7.1
Server Linux version 7.0

I wait more than 30 sec and I try to stop/restart the client. The client say that the sync is do

[2015-01-30 10:34] danimo commented on #2455
Extension has been rebuilt and is part of recent builds.

[2015-01-30 10:53] dragotin commented on #2750
Using a bundled version under Linux is dangerous because there are so many linux distros out there and there might be other components involved that use the systems sqlite, for example Webkit.

I am fine with adding an alternative, ie. if cmake has not found the sqlite devel files, it falls back on the bundled one, IF somebody has prooved that it works with Webkit.

[2015-01-30 11:07] guruz commented on #2750
I'm closing this issue then, there is no good solution as we're too afraid of symbol clashes etc..

This unfortunately means that users of older Linux distributions might see the client as slower than it needs to be with the newer versions.

[2015-01-30 11:07] #2750 closed

[2015-01-30 12:26] lmaestro opened #2757 "[Windows] I can't use the local folder that I was using previously"
### Expected behavior
I can use whatever folder that I want in my new sync

### Actual behavior
When I try to use the same folder that I was using the last sync I have this error:
![screen shot 2015-01-29 at 9 37 32 am](https://cloud.githubusercontent.com/assets/4689430/5975626/35152ba0-a883-11e4-99d5-859957d9fa50.png)

### Steps to reproduce
1. Open desktop client and start to sync in the local f

[2015-01-30 12:38] ckamm commented on #2328
Initial work for this has gone into the 'timing' branch.

[2015-01-30 12:39] rullzer commented on #2750
Bundling on linux is always a tricky thing. I personally am not a big fan of bundled versions. For the same reason I am not a fan of static linking. If a bug is found in sqlite then all of a sudden I have to remember to upgrade 2 places.

So I would suggest just bundle it. But make it so that the user can chose to use the system version. And just print a warning if the old version is used.

[2015-01-30 12:41] guruz commented on #2756
Can you retry with a new version of the server?

[2015-01-30 12:42] ckamm commented on #2757
Relevant log entries:
[code]
Trying to reproduce...

[2015-01-30 12:43] guruz commented on #2756
Can this be the same as https://github.com/owncloud/core/issues/13333 ?

[2015-01-30 12:45] guruz commented on #2680
We're about to release the beta1, please try with that..

[2015-01-30 12:45] guruz commented on #2576
We're about to release the beta1, please try with that..

[2015-01-30 12:46] Watchwolf commented on #2756
No, this is not the same as #13333.

I am going to test with the Linux server 7.0.4.

[2015-01-30 12:49] ckamm commented on #2757
I can reproduce it on Win7.

[2015-01-30 12:55] dragotin commented on #2757
The reason might be that a sync is running in the background while the user tries to tweak the config. That's a duplicate, but I do not remember the other number.

[2015-01-30 12:57] ckamm commented on #2757
No, I don't see a running sync. I can also reproduce by removing the folder and readding it.

[2015-01-30 13:03] ckamm commented on #2757
It's not related to updating sqlite to 3.8.8.1 - same symptoms with that commit reverted.

[2015-01-30 13:17] Watchwolf commented on #2756
ok, with the version 7.0.4 the problem is fixed.

Thank you.

[2015-01-30 13:17] #2756 closed

[2015-01-30 13:18] lmaestro commented on #2353
I can't reproduce it the latest version 1.8, if anyone is able to reproduce please reopen it.

[2015-01-30 13:18] #2353 closed

[2015-01-30 13:27] guruz commented on #2750
@rullzer Do you find an easy way to tell cmake that a certain version is recommended but not requirted? Maybe it can auto-print a notice.

[2015-01-30 13:54] ckamm commented on #2757
I started bisecting and this bug seems to be pretty old, but newer than 1.7.1-beta1. Details:
[code]

[2015-01-30 14:22] rullzer commented on #2596
I had some time this morning.... so here it comes.

This is probably a nice feature to have. Just pasting links around makes it easier. Having said that there are multiple scenarios.

### Already shared files
This is probably the most used case. So two people share some files. Lets call them A and B. Now A wants to let B work on file F. Now in this case we could probably best use etags. However we

[2015-01-30 15:31] scolebrook commented on #2311
@MTRichards Our use case also includes external storage, not just shared content. And that storage is definitely going to be altered outside of ownCloud. I see this approach resulting in a user choosing to be constantly prompted about new content that others have created or just setting that limit high to avoid the prompts and have their hard drive and bandwidth consumed with stuff they don't need

[2015-01-30 16:53] MTRichards commented on #2311
Interesting idea @scolebrook I like it, have to think through it a bit.

So two options on whether something is synced automatically:
1) size based (not if bigger than x)
2) selective sync based (if the root is selected to be synced)

Problem there is all newly added shares would be synced by default, so we need a case to handle that too. Say when you mount a new sharepoint on initial setup, or wh

[2015-01-30 18:07] dragotin commented on #2311
To solve these problems, I wished we could make more use of the fact that we can handle more than one sync connection of specific folders from the server. Instead of syncing the whole server and reduce the set of data involved by selective sync, it might be more clever to just set up a couple of sync connections for specific folders.

I understand that this is not what users are used to (yet), but

[2015-01-30 18:10] Sebastianv650 commented on #2668
I think I have exactly the same problem here, also nearly the same setup. Seems like Bitdefender doesn't like the client or in reverse.. I also already uninstalled owncloud client, but if it would help to find a solution I could try to geht logs in the next days? But I'm not shure if the logs would contain something useful, Bitdefender service is stopping, the client seems to keep running..

Serve

[2015-01-30 18:49] scolebrook commented on #2311
We are having new shares "land" in /Shared still so that we have the ability to quickly set users up to not sync any newly shared content. They can then move it where they want and if it's out of /Shared it'll sync. But that doesn't help with our SMB storage setup.

Our initial solution was to have one folder set to sync all but /Shared with selective sync and then have another folder that would s

[2015-01-31 14:14] cdamken commented on #2579
Any news?

[2015-01-31 18:19] vinz94f commented on #2668
I have exactly the same problem mentioned above.
Since version 1.7.1, bitdefender antivirus stop running and pc is slow.
An incident was opened at bitdefender.
This problem occurs only on Windows 7 and my other PC under Windows 8.1 with the same configuration causes no problem.
Have you identified a problem in the code owncloud version 1.7.1 ?
I hope a quick resolution because it lasts for 1 month

[2015-01-31 20:04] Sebastianv650 commented on #2668
I'm using 1.7.0 in the meantime, no problems with this version. But you have to disable autoupdate in registry, see my last post: http://forum.owncloud.org/viewtopic.php?f=14&t=25694

[2015-01-31 20:19] andrewbridge commented on #2693
@ckamm Sure!

I've done as you instructed, using the build "owncloud-1.8.0.4665-nightly20150131-setup.exe"

I've removed some details from the logs, as varying levels of success resulted in the log retaining filenames that I'd rather keep private. Don't think that should affect their usefulness, as the beginning of the path should always be included.

- [Without environment changes](http://pastebi

[2015-01-31 20:58] dark-eye commented on #2328
I  found  a bug  in my implementation that  if  the user  connection  was slow for a long time  and  then it sped back up  it will  show  a very long estimate, for example:

if a user  transfer a 100Mb  file  and  it internet  slowed to 8kbs  for an hour  and then sped up  back again to 2Mbs   it will show   more then an hour up until 75% of the file was transferred.

the reason for that it look a

[2015-01-31 21:28] ckamm commented on #2693
@andrewbridge Thank you for the efforts!

This indicates that @guruz intuition was correct and disabling WAL on FAT, like suggested in #2701 is a good idea.

I think we switched to the WAL mode for performance reasons - as far as I know running with journal mode = delete should be fine.

[2015-02-01 06:36] khurshid-alam commented on #100
If I deploy owncloud on OPENSHIFT(1 GB free space) & add Dropbox, does entire Dropbox data gets synced? Do I able to use selective sync for Dropbox folders (My Dropbox has 50 GB)? I don't want to sync my entire dropbox & I don't want to create specific App folder.

[2015-02-01 13:45] fathomssen opened #2760 "Provide Client Command to Pause/Start Sync"
### Problem Description

As the ownCloud desktop client currently is using up quite some battery on a laptop, I would like to be able to set the client to pause whilst being on battery and to start the client again when I connect the plug.

### Proposed Solution

There are at least two quite simple ways to achieve such a behaviour:

1. The ownCloud client will be enhanced to provide a command line

[2015-02-01 15:53] Nowaker commented on #2532
Well, why does owncloud depend on kwallet at all? If there's no kwallet, then let owncloud remember the password directly. Dropbox doesn't use kwallet. This issue kills usability.

[2015-02-01 16:49] guruz commented on #2741
@webmatrixxxl do you have any more info? what did you rename the folder to? from what? do you use different OS for the clients?

[2015-02-01 19:16] puggan opened #2761 "Sync failing, asking for permissions"
OS: gentoo
Client: net-misc/owncloud-client-1.7.1

After succesfully adding a file. (the file is both in my local folder, and on server).
The client started to complain about permissions:
![owncloud_sync_error](https://cloud.githubusercontent.com/assets/866668/5993357/4e479960-aa4e-11e4-8310-feac5cc55fb6.png)

Is it localy or remotly it complains about?

It may be related that the file is shared t

[2015-02-01 19:43] tiktaktok commented on #1902
The fix happens to work on Kubuntu 14.04.1 which runs KDE 4. On my Arch Linux machine running KDE 5, the fix doesn't work, but I've noticed that kwalletd crashes at launch, so there is no way ownCloud can get its password. Do you also have this problem?

[2015-02-01 22:37] AdrienGiboire opened #2762 "[OS 10.10.1] Can't install ownCloud client 1.7.1"
This will be tricky cause I can't get to find any intel about what can be the source of the issue.

All I get is this:
![screen shot 2015-02-01 at 23 35 54](https://cloud.githubusercontent.com/assets/394860/5994221/2a4294a8-aa6b-11e4-8cff-900ca4cf036a.png)

And the console actually doesn't seem to provide more details.

My privacy settings are good as well.
![screen shot 2015-02-01 at 23 37 05](ht

[2015-02-02 08:12] lmaestro opened #2763 "Error message when I try to use a server where the encryption is enabled but my account is not initialized"
### Expected behavior
As it happens on windows I can upload/ download files until I initialize my account with the encryption app.

### Actual behavior
I am having an error in a server where the encryption is enabled but my account is not initialized because I am using it before the encryption was enabled.
After the encryption was enable, I have this problem when I try to upload something.
![scree

[2015-02-02 08:13] lmaestro commented on #2763
CC/ @guruz @dragotin

[2015-02-02 08:29] dragotin commented on #2763
@schiesbn can you help? Thanks

[2015-02-02 08:31] suamikim commented on #1341
I've already installed the nightly at one of my clients at home and can say that it seems to work flawlessly so far. I just wanted to install it on my work client too but can't download it anymore since the link is broken...

[2015-02-02 08:48] lmaestro commented on #2751
I am trying to test it but I can't log in with a shibboleth server .
@ckamm  Can you have a look at the logs ?
https://gist.github.com/lmaestro/1ee75696bf3da076a139

[2015-02-02 08:53] lmaestro commented on #2763
fyi, this may be related to https://github.com/owncloud/core/issues/13727

[2015-02-02 09:36] MorrisJobke commented on #1425
@moscicki @EmidioStani Can one of you reproduce this with a current client? Otherwise I tend to close this ticket as nobody can reproduce this.

[2015-02-02 09:39] EmidioStani commented on #1425
Hello,

unfortunately I am not able to reproduce because I work for another
organization. Thanks for looking into it.

Best,

Emidio

On 2 February 2015 at 10:36, Morris Jobke <notifications@github.com> wrote:

--

*Emidio Stani*
PwC | Senior Consultant
Direct: +32 2 7104162 | Mobile: +32 499 599823 | Fax: +32 2 7104069
Email: emidio.stani@be.pwc.com
PwC Enterprise Advisory cvba/scrl

[2015-02-02 11:36] lmaestro opened #2764 "Allow Share link from the Desktop"
In order to divide https://github.com/owncloud/client/issues/1444

As a user I want to be able to click on a file, inside the local folder, and select share by link. I should be able to :

- Set a password
- Set expiry date

[2015-02-02 11:46] dragotin opened #2765 "Crash in postprocessing the discovery data"
I see a crash in SyncEngine::checkPermission() when doing the following:

- Create a user sharer who shares a directory *sharefolder" with you
- create a sync folder that syncs the *sharefolder* to a local directory.
- Let sync.
- Within the local folder, create a folder again with the same name *sharefolder*
- Let sync, on the server, there is now the structure ```sharefolder/sharefolder```
- On

[2015-02-02 11:46] lmaestro commented on #2764
The share link dialog should define the button:

Windows:

![screen shot 2015-02-02 at 12 39 04 pm](https://cloud.githubusercontent.com/assets/4689430/6000049/21b1b5bc-aad9-11e4-9016-09181761616e.png)

OS X:
![screen shot 2015-02-02 at 12 41 06 pm](https://cloud.githubusercontent.com/assets/4689430/6000051/252775ba-aad9-11e4-93b3-2f2a0096de1b.png)

[2015-02-02 12:03] lmaestro commented on #2764
When you click on a file the option to show the share link dialog, is different
- Windows: share
- OS X : Share with ownCloud

 From my pov it should shown "Share ownCloud Link"

[2015-02-02 12:18] lmaestro commented on #2757
It is fixed in version 1.8.0-nightly20150202 (build 4670).

[2015-02-02 12:18] #2757 closed

[2015-02-02 12:24] lmaestro commented on #2455
It doesn't work in version 1.8.0-nightly20150202 (build 4670).

![screen shot 2015-02-02 at 1 21 20 pm](https://cloud.githubusercontent.com/assets/4689430/6000490/bc0b5550-aade-11e4-8148-e576c8925e64.png)

[2015-02-02 12:31] lmaestro commented on #2762
I am using OS X 10.10.1 and I don't have any problem to install 1.7.1 from https://owncloud.org/install/
Can you check your "Console " maybe there are any error message?

[2015-02-02 12:35] lmaestro commented on #2705
@dragotin @danimo Can you provide me 1.6.4 and 1.7.0 versions ?

[2015-02-02 12:53] lmaestro commented on #2697
@pyutaros Have you tested the nightly build?

[2015-02-02 13:23] lmaestro commented on #2580
@danimo Can you provide me the test  build?

[2015-02-02 13:31] jnweiger opened #2766 "Present file conflicts more prominently in the GUI"
Currently the Activity page lists conflict files as they are created. This information is easily overlooked, when many files change.
Assumption: There are users who ignore conflict files, as they do not know what they mean.

Suggested improvement:
- Create an own conflicts page, that lists current file conflicts, and gives hints how to resolve them.
- Add documentation about conflicts, describe ac

[2015-02-02 13:40] cdamken commented on #2428
@ckamm  in this case some flies can not be deleted, probably related to https://github.com/owncloud/enterprise/issues/455

Additionaly, what happens with the conflict files? We need to inform the end-user somehow that he has to deal (rename, compare, delete or else) with them.

[code]

Full log  S3-ownCloud\Shared\owncloud\support\github-issues\mirall\2428\word-file_error.txt

[2015-02-02 13:44] lmaestro commented on #2640
@guruz @danimo Is it ready to test? or something should be changed?

[2015-02-02 13:47] dragotin commented on #2705
@lmaestro
[code]
and
[code]

[2015-02-02 14:01] danimo commented on #69
I'll test this

[2015-02-02 14:37] fathomssen commented on #2760
A simple workaround for propsed sulution 1 could be to pause the ownCloud client process on battery power and resume it when plugged in again. This has the disadvantage of rendering the ownCloud client (icon) unusable for the time being paused.

For example, in Ubuntu 14.10, I have created a script `/etc/pm/power.d/owncloud` (`chmod 755`) with the following content:

[code]

Works for me and for n

[2015-02-02 15:26] te-online commented on #1971
Sorry, it seems I don't have any time to look into this at the moment. It might be a one-liner, but I'd have to set up the whole development environment, because I didn't work on the client so far. When there's more freetime, I will be happy to have a look at it.

In the meantime, everybody feel free to implement it. :-)

Even if it was possible, I don't see any space there. There are advantages o

[2015-02-02 15:40] ogoffart commented on #2761
Hi, this error normaly states that yuo are trying to add a directory within a read-only directory.
In other words, that you created (or copied) a directory on on the client within the shared directory that was supposed to be read only.  Of course in that case you are not allowed to do that, and to resolve the error you ened to remove that directory or move it somewhere else.

If that's not the cas

[2015-02-02 15:43] ogoffart commented on #2755
Is this bug now fixed?

[2015-02-02 15:45] ogoffart commented on #2765
We should test that `it` is not ==begin before substracting 1.

[2015-02-02 16:06] jdhoek commented on #2755
That fixed it. Current master builds and runs. Nice!

For some reason the tray icon appears in the top-left corner of my screen instead of the notification area of Ubuntu's Unity, but that is a different issue, I'll open another issue for it.

[2015-02-02 16:06] #2755 closed

[2015-02-02 16:24] ogoffart commented on #1570
Closing as duplicate of #1902

[2015-02-02 16:24] #1570 closed

[2015-02-02 17:26] #2642 closed

[2015-02-02 17:38] guruz commented on #2764
@Azelphur @rullzer @dragotin What is the button in the dialog supposed to say/do?

Regarding the title of the share menu:
@jancborchardt What's your opinion for the title of the share-item in the right-click-menu in Explorer/Finder?
Regarding the Windows title: that's @ogoffart @danimo who need to change that, I thought @ogoffart did already.

[2015-02-02 18:45] puggan commented on #2761
a few rows that look relevant:

    02-02 19:37:15:662 0x147a5e0 _csync_merge_algorithm_visitor: INSTRUCTION_NEW       dir: Publika filer/Utskott/KUT/protokoll
    02-02 19:37:15:688 0x147a5e0 void Mirall::SyncEngine::slotJobCompleted(const Mirall::SyncFileItem&) "Publika filer/Utskott/KUT/protokoll" 2 "Not allowed because you don't have permission to add sub-directories in that directory"
    02-

[2015-02-02 18:52] puggan commented on #2761
the folder
root:"Publika filer" is shared readonly, as puggan:"Publika filer"
root:"Publika filer/Utskott/KUT" is shared with edit permission, as puggan:"KUT"

I added the folder "protokoll" in one of thous locations:
puggan:"Publika filer/Utskott/KUT/protokoll" or puggan:"KUT/protokoll", can't remember now.
the folder was made at the server at root:"Publika filer/Utskott/KUT/protokoll", and synck

[2015-02-02 22:01] jnfrmarks opened #2768 "Share of a file in a directory creates the directory and the file followed by share of directory creates second copy of directory"
(I thought I already filed this but can't seem to find it)

### Steps to reproduce

1. Install owncloud server on box 1 (eitehr CentOS or ubuntu; I don't believe the OS matters - these are the two I tested with)
2. Install owncloud client on box 2 (ubuntu)
3. Create three users on the server
4. From the client, user 1 shares a directory with user 2 - user 2 syncs and validates the directory is loc

[2015-02-02 22:05] guruz commented on #2762
Could you run ```Console.app``` and check if there are related messages?

[2015-02-02 23:43] ornearius opened #2769 "Nightly update broken on Ubuntu 14.10"
Auto-update failed yesterday. When trying to see what is happening I get

sudo apt-get -f install owncloud-client
Reading package lists... Done
Building dependency tree
Reading state information... Done
owncloud-client is already the newest version.
You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
 owncloud-client : Depends: libowncloudsy

[2015-02-03 07:51] rullzer commented on #2764
Ah yes the button. That is still on my todo list. It is supposed to copy the url. @Azelphur added it and i think it makes sense. It just does not display anything. If I have time I'll look into that later today.

[2015-02-03 08:05] ogoffart commented on #2768
Is the directory gone in the server web interface?
If not, then it is likely to be a server problem.

Is the directory empty or is there still possibly hidden files.  Some ignored files may prevent the removal of the directory, this is on purpose.

Is the directory open with some program which would prevent the deletion. in that case it should be removed on the next sync after it is closed.

Other

[2015-02-03 08:45] lmaestro commented on #2705
There no alert message to update. Logfile https://gist.github.com/lmaestro/cb5f499120fa753577e9

[2015-02-03 09:35] lmaestro commented on #2640
It is not fixed
![2015-02-03 10 28 38](https://cloud.githubusercontent.com/assets/4689430/6017626/4174f0f0-ab90-11e4-9129-46b32f844f07.png)
![2015-02-03 10 28 57](https://cloud.githubusercontent.com/assets/4689430/6017629/4504df14-ab90-11e4-983a-e89280f00880.png)
![2015-02-03 10 28 21](https://cloud.githubusercontent.com/assets/4689430/6017630/47d7b784-ab90-11e4-8fa8-114270d5aaa5.png)
![2015-02-03

[2015-02-03 09:38] danimo commented on #2640
Yes, for some reasons, the translations are not being loaded. Looking at the code, it is not obvious as to why.

[2015-02-03 09:45] guruz commented on #2705
Your log contains another peculiar thing:
[code]

[2015-02-03 11:33] rullzer commented on #2764
Ah it seems that we need to add it as a theme icon for Windows and OS X: http://doc.qt.io/qt-5/qicon.html#fromTheme

For now just adding the text: Copy url. Would probably do the trick

[2015-02-03 11:53] lmaestro commented on #2764
I agree with the idea of the button to copy the link.

[2015-02-03 11:53] jnfrmarks commented on #2768
Yes, the file is gone from the server web interface.  I will double check on the hidden files.  This is on linux so there shouldn't be anything holding the directory open.  Where can I find the client log files and are there any debugging switches I should enable to get more info?

[2015-02-03 11:54] pgspm opened #2770 "Error messages when file is open"
On windows 7 clients;
After upgrade to sync client 1.7.1 (from 1.6.3) users get a lot of sync error messages in system tray. When opening the client gui it looks like the attached image.
![image001](https://cloud.githubusercontent.com/assets/10829283/6019437/bf9a933a-aba0-11e4-961e-14961c53685f.png)

What the message say (in Norwegian) is that the sync process does not have permission to access th

[2015-02-03 12:07] rullzer commented on #2764
I just created PR #2771
The copy button text is now set. And the button is actually connected to a slot.

[2015-02-03 12:16] danimo commented on #2770
Please give http://download.owncloud.com/desktop/daily/owncloud-1.8.0.4672-nightly20150203-setup.exe a shot. We've been working on addressing these issues there.

[2015-02-03 12:54] guruz commented on #2676
.oO(Note to self: The Qt 4.8 might be one reason.. just a guess)

https://github.com/owncloud/client/issues/2558

[2015-02-03 12:58] guruz commented on #2542
Another issue where this might help: https://github.com/owncloud/core/issues/13044

[2015-02-03 13:09] lmaestro commented on #2764
We should have into account he state of the file, if it shows red/yellow/ or even blue overlay icon, you can't share it by link.
At least at present we are not having this into account

[2015-02-03 13:53] k3cco90 commented on #2648
Hi dahan,
i didn't understand how to solve the problem. How can I add these 4 lines? In which file? Can you please be more specific? thank you!

[2015-02-03 14:07] dahan1999 commented on #2648
Hello k3cco90,

The file is mirall/src/mirall/AccountSettings.cpp. Here is the function that I modified(the 4 lines that I added are almost at the end of the function):

void AccountSettings::slotSetProgress(const QString& folder, const Progress::Info &progress )
{
    QStandardItem *item = itemForFolder( folder );
    if( !item ) return;

    // switch on extra space.
    item->setData( QVariant(

[2015-02-03 15:09] centredecalcul opened #2772 "sync problem with custom share_folder"
Hi,

Syncing newly shared files don't work properly when use the share_folder parameter.
I can see the shared file in "Shared with you" section and with Webdav access, but nothing in my desktop.
It works without share_folder configuration, but I want to use it.

My config.php:
  'share_folder' => '/Partages',

Desktop client : 1.7.1 (build 4382)
Server : 7.0.4 (Centos 7, PHP 5.4.16, Apache 2.4.6)

[2015-02-03 17:00] seiferflo commented on #994
Hey. I just resumed another folder and it happened again, quite annoying. I've got 3 machines to sync with this afterwards and It scares me now.
Any idea how I am supposed to this between Windows & a Synology please?

[2015-02-03 17:13] maxmitch opened #2773 "Resetting to 'Discovering'"
Hello,

I am having a problem where when syncing using the 1.7.0 version of the app, it suddenly falls back to 'Discovering'. Which takes a long time to discover all the directories!! And then it works perfectly. And this keeps happening the whole time at irregular intervals (estimate every 5-10 mins) ?

### Expected behaviour
It should stream sync uninterrupted

### Actual behaviour
it suddenly f

[2015-02-03 17:16] danimo commented on #2773
Hi, please read https://github.com/owncloud/client/blob/master/CONTRIBUTING.md and fill in the template mentioned there to help us gathering the required data to look into your issue.

[2015-02-03 17:26] seiferflo commented on #994
@inducer Hey. I just resumed another folder and it happened again, quite annoying. I've got 3 machines to sync with this afterwards and It scares me now.
I've put windows & synology on the same time server to get the same clock. I restarted everything, remove the db and the problem is still there. When you're saying rebuild the cache, is there any other method than deleting the db? Thanks

[2015-02-03 17:30] ogoffart commented on #2676
Is there anything else I can do regarding this issue?

[2015-02-03 17:32] ogoffart commented on #2773
1.7 does a full sync every 5 minutes.

The version 1.8 will do a full sync less often, as we have more trust in the file system watcher.

Anyway, discovering should ot take a too long time. How may files and folder do you have?  What operationg system?

[2015-02-03 17:35] maxmitch commented on #2773
Oh that makes sense!! I thought it was an error! I am just doing a sync of all my photos (90GB) I am also quite interested in optimising the speed of owncloud and my raspberry pi server!

[2015-02-03 18:40] AdrienGiboire commented on #2762
One thing more I can bring is that it fails at "Validating packages" step.

[2015-02-03 20:37] avoine commented on #2772
I suspect this bug is a duplicate of this one: https://github.com/owncloud/core/issues/13333

[2015-02-03 23:19] danimo commented on #1971
Related: https://github.com/owncloud/client/issues/2760

[2015-02-03 23:21] danimo commented on #2760
Folding this one into #1971.

[2015-02-03 23:21] #2760 closed

[2015-02-04 00:36] pyutaros commented on #2697
Sorry, I have been very busy.  i will test it tonight.

[2015-02-04 03:31] pyutaros commented on #2697
Here is the result of <code>owncloud --logfile owncloud.txt</code>.

https://gist.github.com/pyutaros/4cad04069722ce5e7147/download

Thanks for your efforts and help.

[2015-02-04 07:03] danimo commented on #2576
As beta1 is delaying for organizational reasons, could you try http://download.owncloud.com/desktop/daily/owncloud-1.8.0.4676-nightly20150204-setup.exe?

[2015-02-04 07:03] danimo commented on #2680
As beta1 is delaying for organizational reasons, could you try http://download.owncloud.com/desktop/daily/owncloud-1.8.0.4676-nightly20150204-setup.exe?

[2015-02-04 07:51] #2773 closed

[2015-02-04 08:06] guruz commented on #2762
That's a mystery.
Are you willing to try the not-released-yet daily builds of 1.8 ?
(Make sure to have backups.. they should be safe but didn't go through full QA)

http://download.owncloud.com/desktop/daily/ (the .pkg file)

Although I don't see a reason why this one should work differently, it is the same installer

[2015-02-04 08:47] guruz commented on #2676
My only remaining idea was that @moscicki tests with ```OWNCLOUD_USE_LEGACY_JOBS``` so we can see if the bug is either
1) in our QNAM propagator code
2) in his Qt 4.8

@dragotin Otherwise, is there a way to provide @moscicki a Qt 5.4 build for his CentOS?

[2015-02-04 09:14] lmaestro opened #2774 "When you enable the option of "Enforce password protection", you can't share by link from the desktop"
### Expected behavior
You can share by link using password protection

### Actual behavior
You can't share by link

![captura de pantalla 2015-02-04 a las 9 02 03 am](https://cloud.githubusercontent.com/assets/4689430/6037632/20c6d64a-ac56-11e4-9005-98eef82de1d3.png)

### Steps to reproduce
1.  Enable the option  "Enforce password protection"  from the admin side
2. Try to share by link form the d

[2015-02-04 09:16] lmaestro commented on #2764
In order to be clearer the issues found related to this feature, I will list them here and update its status (close when fixed):

- [ ] Password enforced, not possible to share link. https://github.com/owncloud/client/issues/2774

[2015-02-04 09:21] danimo commented on #2774
Most likely a server issue. @schiesbn ?

[2015-02-04 09:21] rullzer commented on #2774
Ah yes I tought of this as well. However I did not yet have time to look into it.
The issue now is that we have no way of knowing if the server requires this. And we probably won't untill https://github.com/owncloud/core/pull/13692 is merged.

[2015-02-04 09:27] luciamaestro opened #2775 "[OS X/Windows] When the overlay icon is not green, you can't share by link from desktop"
### Expected behavior

You can't share by link a file or folder which not shown a green overlay icon
### Actual behavior

We don't have into account he state of the file, if it shows red/yellow/ or even blue overlay icon, you  have the option to share it by link but it keeps loading and it never works

![captura de pantalla 2015-02-04 a las 8 50 04 am](https://cloud.githubusercontent.com/assets/46

[2015-02-04 09:57] cdamken commented on #2689
@danimo @dragotin Any news?

[2015-02-04 09:58] cdamken commented on #2689
@MorrisJobke  Server involved, can you help me?

[2015-02-04 10:16] rperezb commented on #2774
cc @MTRichards realted to https://github.com/owncloud/ios/issues/283

[2015-02-04 10:26] rullzer commented on #2775
This should be solved in the filebrowser plugins but also in the sharedialog. If we try to fetchs the share and get a 404 w should display an error and close the share dialog. I'll prepare a patch for the sharedialog.

[2015-02-04 10:33] rullzer commented on #2775
Ah this is less trivial than expected to fix in the sharedialog! The OCS API returns a 404 is the share does not exist, which is fine since we also want to be able to share non pre-shared files. We should probably file bug against the server to return a different error code if the file/dir we request is not present.

[2015-02-04 10:47] ToeiRei commented on #2353
Confirmed clean for Win7 32/64 and Win8.1 32/64.

[2015-02-04 10:49] cdamken commented on #2154
I'm still waiting for RHEL 6 + 7. Are they ready now?

[2015-02-04 11:12] gpbenton commented on #2680
The problem still occurs with this version.  Here is how I tested it.

1) Re-enable the overlay icons entries using autoruns and reboot.  The problem re-occurred as expected.

2) Install the above binary, using the uninstall previous versions option, and reboot.  The problem remained as before.  There was no discernible change from v 1.7.1  Every time I opened an existing file for the first time s

[2015-02-04 11:41] jnweiger commented on #2154
We only build for CentOS. I'll try a fake setup. RHEL_7 looks promising. RHEL_6 will probably not build.

[2015-02-04 12:06] lmaestro opened #2776 "When overlay icons disappear, the share by link option disappear with them"
### Expected behavior
Overlay icons and share dialog never disappear

### Actual behavior
When overlay icons disappear in windows, the share by link option disappear with them

### Steps to reproduce
--> When you have two ownCloud clients that are running at the same time only one shows overlay icons https://github.com/owncloud/client/issues/2505

--> In windows:
1. Launch the app the first time
2

[2015-02-04 12:36] ogoffart commented on #2768
you can start the client with  `--logfile /tmp/owncloudlog.txt`
Then the log will be saved in that file

[2015-02-04 12:57] AdrienGiboire commented on #2762
You were right, it doesn't work differently :(

[2015-02-04 13:10] guruz commented on #2775
There is the ```PropfindRequest``` that can be used to check for existance of a remote file.

[2015-02-04 13:22] grahams opened #2777 "Funky filename causing Internal Error 1061 on Mac"
### Expected behaviour
File with funky characters in filename should sync correctly

### Actual behaviour
File with funky characters in filename completely breaks owncloud with
internal error 1061.  Entire sync fails, not just the single file.

### Steps to reproduce
1. Create file named Michelle﻿ Jenneke - rain.gif (Strange character is after the last 'e' in Michelle, EFBBBF)
2. Copy to ownCloud

[2015-02-04 13:24] guruz commented on #2594
Closing this, please reopen if the problem persists with a 1.8 nightly build
http://download.owncloud.com/desktop/daily/

[2015-02-04 13:24] #2594 closed

[2015-02-04 13:26] guruz commented on #2762
If you run ``` /sbin/md5``` in ```Terminal.app``` on a ```.pkg``` you download, what do you get?
(Also tell me the .pkg name).
Why would it not be able to validate the package..

[2015-02-04 14:08] dragotin commented on #2154
@cdamken pls. refer to https://github.com/owncloud/enterprise/wiki/Linux-Packages

RHEL as base operation system for the client is not supported.

[2015-02-04 14:09] jnweiger commented on #2154
Best effort done. Closing.

[2015-02-04 14:09] #2154 closed

[2015-02-04 14:15] MorrisJobke commented on #2689
@cdamken I just have the client log.

[code]

Server owncloud.log, apache log (error and access) would be nice. Also maybe the sever architecture is of interest.

[2015-02-04 14:16] danimo commented on #2154
You can call the packages RHEL but use CentOS as a base system. This worked well in the past.

[2015-02-04 14:16] dragotin commented on #2769
You tried to downgrade the package from 1.8.0~nightly20150201-0 to 1.8.0~nightly20150202-0 for some reason. Maybe the package cache was not up to date.

I just verified the nightlies on Mint and it wokred ok. I'll close this one.

[2015-02-04 14:16] #2769 closed

[2015-02-04 14:36] dragotin commented on #2775
@rullzer the 404 problem is already fixed through 2cee591b0ed01c62635aa61d1b94453794c4e823

[2015-02-04 14:40] rullzer commented on #2775
@dragotin no it is not. The problem is that the server returns 404. So if a share does not exist it return a 404. However we have no way of knowing the difference between:

-- Getting the shares for a valid file/dir but there are none
-- Getting the shares for an invalid file/dir for which there are none

Which makes adding an extra check into the Shardialog harder.

[2015-02-04 14:41] dragotin commented on #2775
@rullzer yes, true. I just realized that and removed my previous comment. Sorry.

I think we can not fix this problem for 1.8.0. I'd vote for moving it to a later milestone.

[2015-02-04 15:15] davivel commented on #2774
We found the next condition in ownCloud server 7.0.4; the command to create a share

```curl https://<domain>/ocs/v1.php/apps/files_sharing/api/v1/shares -u <user>:<pass> -X POST --data "path=<filepath>&shareType=3" ```

results in a response with error code 403 and message ```"You need to provide a password to create a public link"``` when ** the Sharing API is disabled** in the server. This is t

[2015-02-04 15:44] danimo commented on #2580
Working on it

[2015-02-04 16:09] PVince81 commented on #2725
You forgot to mention.
- [ ] stable file ids: https://github.com/owncloud/core/issues/13310

[2015-02-04 16:25] ogoffart commented on #2777
Most likely the same problem as #2240  (which should probably not have been closed)

It is because  iconv on macOSX fail to convert string that contains some special unicode character . Which means that the filename would be NULL which would be seen by scync as out of memory, and would then abort the update phase.

[2015-02-04 16:43] moscicki commented on #1540
@lmaestro: Yes, we still see this problem on RH6 with version 1.7.1

[2015-02-04 16:44] ogoffart commented on #2739
This is not fixed.

[2015-02-04 16:45] ogoffart commented on #2751
I tested it and it works.

[2015-02-04 16:45] #2751 closed

[2015-02-04 16:55] AdrienGiboire commented on #2762
MD5 (ownCloud-1.7.1.1655.pkg) = 759f69e0572499209e12e975212979b8
MD5 (ownCloud-1.8.0.1970-nightly20150204.pkg) = 16b58d5d0f72c92a42abc7577a49bbc6

I have no clue of what could be wrong. I've never seen that before...

[2015-02-04 17:39] geez0x1 commented on #2651
Sorry I don't really have the time (especially to recover if things do not go as planned) do try a nightly right now; when is 1.8 due? (I can't seem to find a planned release date anywhere)

[2015-02-04 18:50] jnweiger commented on #2154
@danimo That is what I tried today, but it keeps failing. :-(

[2015-02-04 19:54] jnfrmarks opened #2779 "Setting permissions to 16 (OCS_PERMISSIONS_SHARE) causes a sync error"
(Starting with client  - not sure if this is ultimately a server issue.  I have log files for each step and will email them to @danimo )

### Steps to reproduce

1. Install owncloud
2. create user1 and user2
3. Install owncloud client on a different system
4. Create a local .txt file, edit it to put in some content, and sync the file to the server

/usr/bin/owncloudcmd  --trust /jrm/smashbox/resul

[2015-02-04 20:02] jnfrmarks commented on #2779
Just as an FYI, I ran the test a second time setting the permissions to 17 (
OCS_PERMISSION_READ  |  OCS_PERMISSION_SHARE) and got the same results.

See https://github.com/owncloud/core/issues/13867#issuecomment-72921474

[2015-02-04 21:45] pgspm commented on #2770
Thank you.
One user have used this for almost a full day. No problems to report so far.

[2015-02-05 00:33] ornearius commented on #2769
Hmm, I didn't do anything. This is what came down on the update.

[2015-02-05 08:48] dragotin commented on #2774
I added some comments to https://github.com/owncloud/core/issues/13673 what the capabilities API for the sharing should contain. Based on that we can further refine our GUI.

[2015-02-05 09:02] lmaestro opened #2780 "I can't log in with a Shibboleth server"
### Expected behavior
I can log in with a Shibboleth server

### Actual behavior
I am not able to log in with a shibboleth server

### Steps to reproduce
1. Launch the app
2. Introduce the shibboleth server and the credentials
3. The credentials windows is opened again

### Client configuration
Version 1.8.0-nightly20150202(build 1963)

Operating system: OS X 10.10.1 and Windows 8.1

###Logs
https

[2015-02-05 09:13] lmaestro commented on #2591
@LukeOwncloud Can you test using the latest build http://download.owncloud.com/desktop/daily/??
(Make sure to have backups.. it is a development version)

[2015-02-05 09:47] lmaestro opened #2781 "The build number is not shown in the linux packages"
### Expected behavior
The build number is shown

### Actual behavior
The build number and the date are not shown as it happens in windows and os x
![linux](https://cloud.githubusercontent.com/assets/4689430/6058087/4f5955fe-ad24-11e4-940f-10ec26d72906.png)

### Steps to reproduce
1. Launch the app
2. Click on "General" tab

### Client configuration
Version 1.8.0

Operating system: ubuntu 14.04

[2015-02-05 11:20] dragotin commented on #2780
This is probably because the new discovery code has some hickup with Shib yet. @guruz

[2015-02-05 11:23] dragotin commented on #2776
@lmaestro what do you mean by "quit the client and launch it again"? Neither the overlays nor the sharing are available without a running client. That is as-designed behaviour.

[2015-02-05 11:26] dragotin commented on #2775
We know the status of each file in the file manager plugins. So it should be possible to first check if the file is ok before giving the option to share. But currently the data is not available to the code to display the context menu, so we need to postpoine this.

[2015-02-05 11:30] lmaestro commented on #2776
I mean that if you decide to quit the client and then you open the client again, the client is running but without overlay icons either share link option

[2015-02-05 11:38] dragotin commented on #2754
Hmm, reading through https://lists.fedoraproject.org/pipermail/devel/2014-March/196343.html it might be the case that Fedora added a patch to display the tray icon properly but forgot the part to fix the Qt lib to actually consider that patch in QSystemTrayIcon::isSystemTrayAvailable()? Just guessing....

Please report this upstream with Fedora! Thanks.

[2015-02-05 11:38] #2754 closed

[2015-02-05 11:40] dragotin commented on #2743
We need to know to which extend the server fixed the underlying problems to be able to decide what to do.

[2015-02-05 11:47] dragotin commented on #2776
Ok, that sounds as if the explorer plugin does not reconnect.

[2015-02-05 11:48] PVince81 commented on #2743
Parallel upload should work now on OC 8 RC 2, the major database is locked issues were fixed.
It worked fine in my various tests (and I had a slow HDD / VM where the issue could be reproduced consistently before the fix)

[2015-02-05 11:49] PVince81 commented on #2743
For OC 7, backports are still required:
- https://github.com/owncloud/core/pull/13832
- https://github.com/owncloud/core/pull/13831

[2015-02-05 11:52] dragotin commented on #2724
We do not want to have special treatment for special databases, especially as this problem is not sqlite only. We'd rather need owncloud/core#10566 fixed.

[2015-02-05 11:52] lmaestro commented on #2765
@dragotin Can you verify that it is fixed?

[2015-02-05 11:54] ogoffart commented on #2780
The problem was in the wizard:
(From lucia log:
[code]

It was querying / which was a redirect to app/files,  which shiboleth would understand as meaning the authentication is needed

[2015-02-05 11:55] ogoffart commented on #2780
And it was a duplicate of #2739

[2015-02-05 12:10] ArcTanH commented on #1605
I can't remember where I got v 0.20140128 from, but I had this installed on Linux Mint (based on Ubuntu 14.04LTS).

Marking this package as conflict leads to the confusing situation where apt tells me

[code]

which translates as

[code]

Manual install of libqtkeychain0=0.4 solved this, though.

[2015-02-05 12:15] RealRancor commented on #1605
Hi,

unfortunately thats the only possible solution to fix such broken installations.

[2015-02-05 13:12] Valdiralita opened #2782 "[Windows] Special characters in URL, no sync"
### Expected behaviour
The client can sync with the Server.

### Actual behaviour
I replaced the actual URL with something very similar.

My servers URL contains the special character 'ö'.
 I can connect to the server and log in with my account using the client. It says(translated): "Connected with special.charöurl.de as Valdiralita".
When it tries to sync it fails with: "Could not resolve hostnam

[2015-02-05 13:35] dragotin commented on #2782
This is supposed to be fixed with the upcoming 1.8.0 client, please verify with pre release build:
http://download.owncloud.com/desktop/daily/owncloud-1.8.0.4688-nightly20150205-setup.exe

Keep in mind to have backups because this is not yet released. Thanks!

[2015-02-05 13:48] jnweiger commented on #2068
@dragotin Licensing is not a packaging issue :-) A word from the autor would be great help.

[2015-02-05 13:59] guruz commented on #2697
[code]

[2015-02-05 14:00] guruz commented on #2697
Is there anything fishy with ```/home/folder2/folder1/.csync_journal.db``` ? permissions? mount? etc..

[2015-02-05 14:03] Valdiralita commented on #2782
Ok thanks, i can confirm this is fixed in the 1.8.0 nightly.
I couldn't find any closed issue though.

[2015-02-05 14:03] #2782 closed

[2015-02-05 14:16] jnweiger commented on #1605
Maybe this help to make the solver prefer 0.4  over 0.20140128 ?

    Replaces: libqtkeychain0 (= 0.20140128)
    Breaks:   libqtkeychain0 (= 0.20140128)

[2015-02-05 14:19] PVince81 commented on #2724
We should close cursor everywhere ideally, yes. But touching all the code at once means retesting **everything**. It should be fine to do so in 8.1.

I was hoping that the existing cursor fixes (which are in 8.0) were already good enough for parallel upload with sqlite.

[2015-02-05 14:34] cdamken commented on #2689
@MorrisJobke I will ask for the logs

[2015-02-05 14:35] guruz commented on #2705
The log actually HAS updater related messages.
When I run any version myself, the update check is coming:
[code]

It seems to try to open https://updates.owncloud.com/client/?version=1.8.0.0&platform=macos&oem=ownCloud&sparkle=true which returns "version in wrong format"

[2015-02-05 14:36] ogoffart commented on #2724
So then what do we do?  When do we disable or enable chunk parallelism?

[2015-02-05 14:45] ogoffart commented on #2768
(I could not reproduce the problem)

[2015-02-05 14:46] lmaestro commented on #2580
I tested testpilot theme and now when you launch the app after introduce the server and credentials, the pop-up of "Choose what to sync" opens but if you close it, the option chosen is "Sync everything from the server". Maybe the option by default when the pop-up is closed should be "Choose what to sync".

Also the pop said "Unchecked folder will be removed from your local...." and by default all

[2015-02-05 14:47] moscicki commented on #2724
Hello,

Would it be possible to enable such (backwards incompatible) features only if the server replies that it supports it in the response to status.php?

This is very easy to implement and will keep everyone on the safe side.

kuba

--

On Feb 5, 2015, at 3:36 PM, Olivier Goffart <notifications@github.com> wrote:

[2015-02-05 14:48] lmaestro commented on #2780
It is fixed in the latest version version 1.8.0-nightly20150205 (build 1984)

[2015-02-05 14:48] #2780 closed

[2015-02-05 14:49] lmaestro commented on #2739
It is fixed in the latest version version 1.8.0-nightly20150205 (build 1984)

[2015-02-05 14:49] #2739 closed

[2015-02-05 14:52] radry commented on #2743
@PVince81

Great but what about php running out of memory on low end servers? I realize that is not the problem of owncloud per se but the parallel upload is still to blame, so there MUST be an option to disable parallel upload in the client or the server.

[2015-02-05 14:52] ogoffart commented on #2724
@moscicki  that was the idea behind https://github.com/owncloud/core/pull/13628

[2015-02-05 14:58] PVince81 commented on #2724
With the current situation we have now, it should only enable parallel chunking in OC >= 8.0.
If the backport to OC 7 goes in later, then it would be OC >= 7.0.5 (not sure if it's good to rely on a minor version though)

[2015-02-05 15:15] dragotin opened #2783 "ownCloud Client 1.8.0 Release"
Release-1 Week:
* [x] Ensure up-to-date dependencies (e.g. [latest Qt version](http://qt-project.org/downloads#qt-lib) is installed on the machine and picked up (cmake output)
* [x] Check nightly builds are up and running, that is Jenkins jobs ownCloud-client-linux, ownCloud-client-osx and ownCloud-client-win32 all green.
* [ ] Build branded clients through the scripting machine and smoke test one

[2015-02-05 15:16] cdamken commented on #2766
@dragotin @jnweiger @danimo  Probably an overlay Icon who shows a "Disconnection" will help

[2015-02-05 15:21] ogoffart commented on #2580
I change the wording.
It now reads: `Choose What to Sync: Select remote subfolders you wish to synchronize.` in this configuration.

But if you cancel that dialog, then it will sync everything because if you cancel the choose what to sync dialog it means everything is selected.

[2015-02-05 15:28] moscicki commented on #2783
Hi Klaas,

Is this issue part of the 1.8 release?

https://github.com/owncloud/client/issues/2613

It becomes a burning problem for us to have this text field input...

Many thanks!

kuba

--

On Feb 5, 2015, at 4:15 PM, Klaas Freitag <notifications@github.com> wrote:

[2015-02-05 15:33] jnfrmarks commented on #2768
I should have info on this by the end of the week

[2015-02-05 15:48] guruz commented on #2728
The problem is actually happening quite early in ```Folder::bubbleUpSyncResult()```. The ```createGuiLog``` is never(?) called with a ```count > 0```.

@ogoffart Can you review my commit? I don't understand why before it only checked for DOWN.. or on the other hand why it checks for DOWN but the ```_direction``` is not that?

[2015-02-05 15:49] guruz commented on #2728
@ogoffart OK hold on, so my patch is wrong because the notifications should not come for UP?

[2015-02-05 15:56] guruz commented on #69
FYI @danimo ``` QObject::connect: No such slot OCC::Folder::slotNetworkUnavailable()```

[2015-02-05 16:04] guruz commented on #2648
I pushed a commit that does not do the progress update when the dialog is not visible.

Do you want to try a 1.8 nightly build?
http://download.owncloud.com/desktop/daily/owncloud-1.8.0.4688-nightly20150205-setup.exe

[2015-02-05 16:08] guruz commented on #1983
OK, then we have to see if 1.8 fixes the issue..

Did anyone in the meanwhile contact OVH?

[2015-02-05 16:10] #2225 closed

[2015-02-05 16:18] k3cco90 commented on #2648
Really thank you! I will try tomorrow!

Da: Markus Goetz
Data invio: ‎giovedì‎ ‎5‎ ‎febbraio‎ ‎2015 ‎17‎:‎04
A: owncloud/client
Cc: k3cco90

I pushed a commit that does not do the progress update when the dialog is not visible.

Do you want to try a 1.8 nightly build?
http://download.owncloud.com/desktop/daily/owncloud-1.8.0.4688-nightly20150205-setup.exe

—
Reply to this email directly or view it

[2015-02-05 16:22] guruz commented on #2728
Everything works as expected, no need to fix anything..

@webmatrixxxl Possibly you have the notifications disabled in the client settings or OS X itself.

[2015-02-05 16:24] ogoffart commented on #2706
I could not reproduce the problem.

[2015-02-05 16:24] guruz commented on #2293
I cannot reproduce this with the 1.8 nightly builds..
I guess the Qt update fixed it.

http://download.owncloud.com/desktop/daily/

[2015-02-05 16:24] #2293 closed

[2015-02-05 16:28] guruz commented on #2743
@radry I believe that problem should be fixed because the 1.8 client only uses a chunk size of 5MB (vs 20MB in 1.7.x and 10 MB in 10.6.x)

[2015-02-05 16:35] abelass commented on #1983
Im did, but they need mire info about the technical server requirements to make this client work smoothly. Can you think of something usefulle for them?

[2015-02-05 16:42] danimo commented on #2783
@moscicki We're already in feature freeze for 1.8.0. The feature is also not yet scoped for a later release.

[2015-02-05 16:51] davivel commented on #2774
Please, forget my previous comment. Seems this specific problem is already fixed in 7.0.4.2. Thanks,

[2015-02-05 16:52] moscicki commented on #2783
@danimo: I see it in the 1.8 milestone. It is important for us to have this feature in (especially that it is just a text box).

[2015-02-05 16:53] dragotin commented on #2783
Well... maybe...

[2015-02-05 16:56] moscicki commented on #2783
@dragotin: thank you very much!

[2015-02-05 17:04] lmaestro commented on #2580
Now the message is :
![screen shot 2015-02-05 at 6 03 39 pm](https://cloud.githubusercontent.com/assets/4689430/6064893/560a84c6-ad61-11e4-8e19-12e3ae921c02.png)

In my opinion this feature is closed, if anyone don't think so, please reopen it.

[2015-02-05 17:04] #2580 closed

[2015-02-05 17:10] ogoffart commented on #2223
Yeah, the item are never refreshed once they exist.
So we could set the long format for all the items, or have some complicated logic to refresh them.

Notehowever that the date is part of the tooltip.

[2015-02-05 17:12] dragotin commented on #2783
@moscicki I just put it there, but no promises, really.

[2015-02-05 17:19] danimo commented on #2728
We need to be compatible with 10.7, that's why the official builds lack the feature. Investigating...

[2015-02-05 17:20] ogoffart commented on #1891
Since 1.8 we also check if the size is changed.

[2015-02-05 17:53] jturcotte commented on #2680
This gives an overview of the issue: http://searchwindowsserver.techtarget.com/tip/Windows-security-update-may-cause-shell-extensions-to-fail

Together with this which talks about the "Allow list": http://support.microsoft.com/kb/918165

We would need to add the following DWORD keys in HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Shell Extensions\Cached:

{841A0AAD-AA11-4B50-84D9-7

[2015-02-05 17:55] PVince81 opened #2784 "Plasma 5: raising client window should appear above existing windows"
### Steps to reproduce
1. Compile and run ownCloud client (master 94e61c32056c470a68c773163d714b0003fddbe6)
2. Run the client
3. Open an application and maximize it (in my case Konsole)
4. Click on the systray icon of the sync client

### Expected result
Client window appears on top of others

### Actual result
Client window appears behind Konsole, I need to manually click on the task bar to raise

[2015-02-05 18:04] danimo commented on #2705
Outch! my bad! I missed something in the updater meta data. It should work now.

[2015-02-05 18:26] gpbenton commented on #2680
I'm not sure if the last comment was asking for my opinion, but the fix seems to make sense to me.

I don't think I can do anything without a new installer, but I'm happy to test again when its available.

[2015-02-05 20:19] odaata commented on #2170
So, has there been any movement on this bug? I think we're going to have to stop using ownCloud if this isn't fixed, since it causes data loss :-(

[2015-02-05 20:50] PVince81 commented on #2170
Not yet. There is the idea of introducing locks but it would be a big architectural change and comes with several unsolved issues: https://github.com/owncloud/core/issues/11804

But here I'm still wondering why the sync client auto-recreates the folder after it has been renamed.
I haven't checked whether it's doing it explicitly or whether it's the server backend that auto-creates it.

@guruz do y

[2015-02-05 21:25] odaata commented on #2170
OK, so it's a core problem that isn't going away anytime soon, eh? Bummer. I guess it's back to Dropbox (which, by the way, handles this use case perfectly). I'll let our users know... Thanks for your help!

[2015-02-05 22:47] pyutaros commented on #2697
I will check the permissions and report them back here.
On Feb 5, 2015 9:01 AM, "Markus Goetz" <notifications@github.com> wrote:

[2015-02-05 22:49] PVince81 commented on #2784
That was the qt4 client.

I upgraded to plasma 5.2 and am now using the owncloud-client-qt5-1.7.1 package and this issue seems to be solved. Maybe the original issue was with qt4 + sni-qt

[2015-02-05 22:49] PVince81 opened #2786 "[qt5] Wrong tray icon image, same in folder list"
Wrong tray icon image, same in folder list:
![ocqt5icon](https://cloud.githubusercontent.com/assets/277525/6070959/60805e50-ad91-11e4-8bce-d67b17b0f5bf.png)

I installed owncloud-client-qt5 on openSUSE Factory.
[code]

I'm running Plasma 5.2.

Note: I observed the same issue when testing master (94e61c32056c470a68c773163d714b0003fddbe6)

[2015-02-05 22:54] PVince81 commented on #2786
It is more a usability issue than just cosmetic: I usually have a glance at the systray icon to see whether it started syncing my last change and now all I see is that invalid icon :confused:

[2015-02-06 00:25] danimo commented on #2640
Fixed now

[2015-02-06 00:29] danimo commented on #69
TODO: Consistent naming:

* TLS Client Certificates
* SSL Client Certificates
* TLS/SSL Client Certificates

[2015-02-06 05:48] mktsai commented on #2640
It's work.
Thanks.
![image](https://cloud.githubusercontent.com/assets/3986549/6075095/b0fb46d6-ae06-11e4-9f7b-29c729adaf3d.png)

[2015-02-06 07:50] moscicki commented on #2170
A couple of questions/comments:

 1) is this about a real data loss or about the messed up directory structure (file end up in a trashbin or in unexpected directories but are not lost)?
 2) what is your use-case so that this is a real problem? we noticed that vast majority of users never run into these kind of troubles because they use this kind of cloud storage in a simpler way that we usually im

[2015-02-06 09:01] jturcotte commented on #2680
Ok, so according to this, an application or its installer isn't supposed to mess up with resources owned by the TrustedInstaller service, only the OS should: http://stackoverflow.com/questions/1551471/trustedinstaller-is-preventing-registry-writes-to-hkcr-directshow-mediaobjects-c

This gives a bit more details on the reason: https://technet.microsoft.com/en-gb/magazine/2007.06.acl.aspx

So that p

[2015-02-06 09:18] danimo commented on #1852
I think this is a race condition similar to https://github.com/owncloud/client/issues/1902. Let's track the issue there.

[2015-02-06 09:18] #1852 closed

[2015-02-06 09:20] danimo commented on #1902
Implementing https://github.com/frankosterfeld/qtkeychain/issues/25 would fix this. I'll try to tackle it for 1.8.1.

[2015-02-06 09:40] jturcotte commented on #2776
@lmaestro Hello, could you confirm if, after having restarted the client, changing directory in explorer and coming back shows the icons again? Is restarting the computer the only way you can get them back?

[2015-02-06 09:42] dragotin commented on #2068
Answer from the author:
[code]
So that is MIT as the rest of the project. Fine.

[2015-02-06 09:42] #2068 closed

[2015-02-06 09:44] dragotin commented on #2470
@danimo still wants to rename the transifex repository which is still mirall.

[2015-02-06 09:47] dragotin commented on #1444
The base functionality is done, so I think this entry can be closed.

Missing parts and/or bugs are tracked in more specific issues.

[2015-02-06 09:48] dragotin commented on #2613
I am sorry, this can not be done for this milestone. It is a more complex task to map the entry field to the treeview than I expected. Pushing this on.

[2015-02-06 09:55] #2640 closed

[2015-02-06 09:56] lmaestro commented on #2705
Fixed.

[2015-02-06 09:56] #2705 closed

[2015-02-06 10:03] lmaestro commented on #2776
Yes, the only way that I have the overlay icons back is to restart the computer (in my case the virtual machine)

[2015-02-06 10:36] dragotin commented on #2765
confirmed, this is fixed.

[2015-02-06 10:36] #2765 closed

[2015-02-06 10:40] gpbenton commented on #2680
I can indeed add keys to HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Shell Extensions\Cached using regedit on Vista:-
![Uploading Screenshot 2015-02-06 10.24.12.png . . .](https://www.dropbox.com/s/ghzfl43eucl1nbn/Screenshot%202015-02-06%2010.24.12.png?dl=0)

Should I try adding these manually after re-installing the owncloud client, to see if this solves the problem?

[2015-02-06 10:44] danimo commented on #2680
@gpbenton Please do

[2015-02-06 10:52] ogoffart opened #2788 "Wizard: selective sync broken when the theme has a remote folder defined"
Themes that reimplement Theme::defaultServerFolder need to fetch the data for this folder in the wizard for the selective sync.

[2015-02-06 11:06] moscicki commented on #2613
Could you please propose some simple workaround, instead? We need to be able to add a remote sync folder without having to navigate to it. The problem in our case is that we want a user to be able to add a sync folder but he may not have access to it by traversing the directory tree.

What would happen if I added a file into config/folders directory while the client is running? Would it pick it up

[2015-02-06 11:07] PVince81 commented on #2579
I remember people having issues with NFS + backend object storage.
The problem was that whenever a file was written locally, it would take about 60s for the network to sync the file to the object storage. At the time NFS<->object store sync was done, the mtime of the file was changed to a future value. Having the mtime change automatically like this would disturb the file scanner, and it will beli

[2015-02-06 11:39] ogoffart commented on #2580
Another option could have been to set a default remote folder in the theme (eg. `syncclient/`   And if the user wants to add a sharepoint folder he can add it using the add folder feature)

[2015-02-06 11:43] ogoffart commented on #2663
![selectivesync](https://cloud.githubusercontent.com/assets/959326/6078836/c112bc24-adfd-11e4-956c-7531b922f09f.png)

This is how it looks now.  Is it any less confusing?

[2015-02-06 12:00] ogoffart commented on #2743
So according  @PVince81  in https://github.com/owncloud/client/issues/2724#issuecomment-73059419
recommand disabling parallelism for anything less than owncloud 8.0

Should we disable only parallel chunk upload (which is new in 1.8), or any kind of parallelism?
Don't we risk users complaining about preformence regression in 1.8?

Another option we could take is to disable the parallelism once we d

[2015-02-06 12:08] ogoffart commented on #2724
It would be interesting to do benchmak trying to upload a large file:

 * with different chunk size ( `OWNCLOUD_CHUNK_SIZE` environement variable (size in bytes) )
 * With or without parallel chunk upload (`OWNCLOUD_MAX_PARALLEL=1`  or  `OWNCLOUD_PARALLEL_CHUNK=0`
 * With a slow connection or a fast connection.

And see what the optimal parametters should be

[2015-02-06 12:14] moscicki commented on #2743
I would like to say it again: what about that the server tells the client what kind of features it supports? In this way you may avoid any hardcoded assumptions and also avoid to manually re-adjust the client when the new versions of the server develop new capabilities (which is anyway impossible because you still have old versions of the servers around).

The same also for the size of the chunk.

[2015-02-06 12:30] MaverickVG commented on #43
are there any news concerning this awesome feature? We are really looking forward for this.

[2015-02-06 12:34] gpbenton commented on #2680
No change I'm afraid.  I uninstalled then installed ownDrive with 'status icons' checked and then added the registry keys.  But the problem still occurred before and after a reboot.

I have uploaded a screenshot of the registry keys to dropbox, in case there is a problem, but I did a copy and paste.  I did set the value to 1 like the other keys.

https://www.dropbox.com/s/gtk2szt6qgjw3g4/Screensho

[2015-02-06 12:34] danimo commented on #43
We know, but it's scheduled for 1.9, and we are still working on 1.8. That said all code changes are being developed with multi account in mind already.

[2015-02-06 12:34] ogoffart commented on #2743
@moscicki I agree with you, and that is already implemented by https://github.com/owncloud/client/commit/d7c2b664abf4c5b5862fe688df8d5a3d538f7600 for the amount of parallelism,  but the server do not expose this after all.

[2015-02-06 12:35] lmaestro commented on #2788
Now when I launch the app for the first time, the pop-up "choose what to sync" said "No subfolders currently on the server".
And it is not true.

[code]

[2015-02-06 12:53] ogoffart commented on #2788
It is true that selective sync does not really make sens when there is a default folder.

Should We change the UI not to show the selective sync option when there is a remote folder on the theme?  @danimo

[2015-02-06 12:55] danimo commented on #2788
Why not say `there are no subfolders in sync directory 'hardcodeddir'`?

[2015-02-06 12:55] danimo commented on #2788
Anyway, I'd rather change the phrase than disable the feature.

[2015-02-06 13:15] PVince81 commented on #2743
I'm fine with adding this back or making this configurable, but not sure if others agree: @karlitschek @DeepDiver1975
The ticket for "max_parallels" was this one: https://github.com/owncloud/core/pull/13628

[2015-02-06 13:23] jturcotte commented on #2680
Ok, thanks for trying it out. The keys names look OK so we'll have to fiddle a bit or try to find a different way.

[2015-02-06 14:21] danimo commented on #2470
Done.

[2015-02-06 14:29] xluthi commented on #1983
Hi,

I've also contacted OVH via the technical support.  They've asked:

The technical prerequisite for this application
The exact URL causing the "HTTP 400 Bad Request" error.

I did not reply yet as I do not have the exact answer to these questions...

[2015-02-06 15:00] dragotin commented on #2470
Cool, thanks. Lets close this one.

[2015-02-06 15:00] #2470 closed

[2015-02-06 15:56] guruz commented on #1891
... 1.8 nightly builds can be found at http://download.owncloud.com/desktop/daily/

[2015-02-06 16:03] guruz commented on #2786
I saw this at @ogoffart 's installation too

[2015-02-06 16:11] guruz commented on #2777
@ogoffart Would my proposal to use Qt's dir listing methods and hooking them into csync_update (just like the remote ones) help?

[2015-02-06 16:21] ogoffart commented on #2786
I think that's because of https://bugs.kde.org/show_bug.cgi?id=342906

[2015-02-06 16:28] michaelstingl commented on #2613
@MorrisJobke Could you check the status for @moscicki 's feature request? Ideas for a workaround? See also: https://github.com/owncloud/client/issues/2783#issuecomment-73085562

00002549

[2015-02-06 16:47] Havenard opened #2789 "Client downloads the file correctly, but then doesn't rename it from the temporary name and says sync failed"
I'm having an issue with some files where the ownCloud Client 1.7.1 (build 4382) on Windows 7 64-bits is downloading the files correctly from the server, but then it fails with message "File not found". It is happening in several machines with equivalent configuration syncing the same folders.

The temporary file it creates when downloading is there, and its complete. But it is not being renamed t

[2015-02-06 16:49] MorrisJobke commented on #2613
@michaelstingl I also can't do more, than send you @dragotin comment: https://github.com/owncloud/client/issues/2783#issuecomment-73085562

[2015-02-06 18:15] odaata commented on #2170
1) There is definitely data loss - in that nothing is in the trash bin and not every file is still there in the end.
2) Yes, I tried to argue that this is something we should avoid rather than throw out the whole system, but now that users have seen that data loss is possible, they've lost confidence in it and don't want to use it. In fact, people have been saying that renaming "any" file results

[2015-02-06 18:37] craigpg opened #2790 "Sign our git tags with GPG"
For added security, we should sign our git tags using gpg: `git tag -u key-id -m "v1.8.0"`

To simplify verification, we should use a shared signing key (e.g. release-team@owncloud.com).

[2015-02-06 19:46] moscicki commented on #2170
OK, thanks for explanation. I will try to write a test-case reproducing this because as a user I cannot agree to data loss either. Maybe we can join forces on this @jnfrmarks ?

[2015-02-06 19:47] jnfrmarks commented on #2170
@moscicki

Yes we can!

[2015-02-07 00:20] mauromi commented on #2493
![screenshot from 2015-02-07 01 17 38](https://cloud.githubusercontent.com/assets/1806526/6089700/3f2a5b94-ae67-11e4-9273-64c6730a077c.png)

client version: 1.7.1
server version: 7.0.4-3
dbtype: sqlite3

[2015-02-07 13:26] guruz commented on #2789
(Note to self: Could very well be related to the general long folder issues we have at the moment)
https://github.com/owncloud/client/issues/60

[2015-02-07 14:38] pyutaros commented on #2697
<code>user1@Kryptonic:/home/folder2$ ls -l
total 80
drwxrwsr-x    8 user1 group1   4096 Feb  4 00:27 folder1
drwxrwsr-x   10 user1 group2  4096 Dec 15 07:40 folder2
drwxrwsr-x 1687 user1 group1  69632 Feb  6 13:23 music
drwxrwsr-x    2 user1 group1   4096 Jul 31  2014 Shared

user1@Kryptonic:/home/folder2/folder1$ ls -al
total 72
drwxrwsr-x 8 user1 group1  4096 Feb  4 00:27 .
drwxr-xr-x 6 user1 gr

[2015-02-07 15:49] xluthi commented on #1983
Hi,

I've updated my server and my Linux laptop with nightly builds of the server and client.

  * My server is: 8.0 RC 2 (daily) Build:2015-02-06T04:18:14+00:00 0916d2ed6b6748f235b384e78df3e4dccbbdaefa
  * My client is v 1.8.0, Built from Git revision eedb5d on Feb 7 2015.

I do not have the  `HTTP 400 Bad request` error anymore :+1:

1.8 seems to solve this bug! Thanks a lot!

[2015-02-07 16:06] RealRancor commented on #1983
@xluthi

Have you upgraded both, the client and the server to the newer versions? Could be interesting if the client or the server update has fixed this problem for you.

[2015-02-07 16:26] guruz commented on #1312
With the 1.8 client we use a different network library which should fix this.

[2015-02-07 16:26] #1312 closed

[2015-02-07 16:27] webmatrixxxl commented on #2728
@guruz  No my notifications in client are Enabled and OS X dont show owncloud client app in notification center as I said... even if I reinstall it several times.

[2015-02-07 16:31] guruz commented on #1883
Sounds like something file scanner related?
@icewind1991 @PVince81

[2015-02-07 16:32] guruz commented on #1880
I believe 1.8 fixes this, it uses a different network library for directory discovery.
Do you want to try a nightly build?

[2015-02-07 16:32] #1763 closed

[2015-02-07 16:35] guruz opened #2791 "[Meta bug] Clarify and clean HTTP and HTTPS / SSL redirection issues"
- [x] https://github.com/owncloud/client/issues/1735
- [x] https://github.com/owncloud/client/issues/1118
- [x] https://github.com/owncloud/client/issues/1616

Also:
- [x] https://github.com/owncloud/client/issues/1478

[2015-02-07 16:47] guruz commented on #2321
Could be fixed in 1.8 with the different network library

[2015-02-07 16:49] #2556 closed

[2015-02-07 17:28] ochurlaud commented on #1983
@RealRancor

How safe is it to upgrade to 1.8?
I mean, how far is it from release?

[2015-02-07 17:31] RealRancor commented on #1983
@ochurlaud
For this you're asking the wrong guy. (See that i don't have either an "Collaborator" nor an "Owner" sign at the right side of my user name.

[2015-02-07 17:32] ochurlaud commented on #1983
ok sry, Since I see your login often on the issues... =D

I wait that someone else answers!

[2015-02-07 19:57] nekoal opened #2792 "Windows XP Client: shortcut file (extension .lnk) has wrong size/corrupted"
### Expected behaviour
Shortcut files (extension .lnk) syncronized without checking its contents as others files.
Or
Shortcut files excludes from syncronization.

### Actual behaviour
Activity log shows size of object, not size of shortcut file. This cause shortcut to folders has 0 bytes and corrupted on server. Shortcut with cyrillic characters in filename detects as missed/changed on server and

[2015-02-07 20:11] danimo commented on #2792
The template has all those fields for a reason. We at least need to know the client version.

[2015-02-07 20:47] xluthi commented on #1983
@RealRancor :

I've first upgraded my server, but the error was still there. After upgrading the client too, the error disappeared and the sync is now working correctly.

[2015-02-07 21:19] nekoal commented on #2792
Updated. I know it is not stable version - also localization and shell extention don't work, installer and temporary file present in ownCloud\shellext. But issue https://github.com/owncloud/client/issues/2648 seems fixed.

[2015-02-07 21:58] cbxk1xg commented on #817
I habe the same issue here. I m running Owncloud on Debian 7.8 and nginx. It make Ownloud unusuable!

[2015-02-08 00:06] danimo commented on #2792
Please retry with http://download.owncloud.com/desktop/daily/owncloud-1.8.0.4697-nightly20150207-setup.exe. Translations should work again, as should icon (windows restart may be required). Looking into the temp files.

[2015-02-08 03:41] danimo commented on #2792
Temp files are related to the context menu not registering (NSIS then tries twice to register those on startup using said file, then deletes it).

It seems that the symbols required by `regsvr32` do not get exported despite being specified in the .def file. This needs investigation

//cc @jturcotte

[2015-02-08 08:16] ogoffart commented on #817
please open an issue in the owncloud/core component,  (https://github.com/owncloud/core/issues)

 (following the template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md )

[2015-02-08 09:12] qknight commented on #69
i've created some documentation how to use this feature here:

http://blog.lastlog.de/#owncloudsslclientcertificates

feedback to the blog posting please via email to js@lastlog.de

[2015-02-08 09:44] guruz commented on #2728
@webmatrixxxl Do you want to test a 1.8 nightly build?
(note to have backups, nighltly builds didn't go through full QA)

http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.1997-nightly20150208.pkg

[2015-02-08 10:42] guruz opened #2794 ""An error opening a directory happened" is shown when sync an account"
An strange error when I tried to sync an account

![screen shot 2015-02-06 at 9 29 31 am](https://cloud.githubusercontent.com/assets/4689430/6104572/e539c9be-b04e-11e4-8a74-c56c29c07ada.png)

Logs : https://gist.githubusercontent.com/lmaestro/cfffe134bb71738f8954/raw/gistfile1.txt

Might be same as https://github.com/owncloud/client/issues/2795

[2015-02-08 10:52] guruz opened #2795 "[Selective Sync] [1.8.x] Special characters in dialog not handled"
The folder is called ```+`´ç+`ç´ñññ``` (on OS X)

![selectivesync](https://cloud.githubusercontent.com/assets/959327/6096268/97ac7ffa-af88-11e4-937c-c23e46aceb57.png)

[code]

The normal sync run seems to go through without problems:

[code]

In the UI activity log, the folder name is also displayed correctly.

[2015-02-08 10:59] guruz opened #2796 "[1.8.x] Unnecessary DB queries when adding a new sync folder"
Although we know the DB has been newly created:

For local:
[code]

For remote:
[code]

Although I don't know if this is in practice really a problem (maybe sqlite3 cached that the table is empty anyway?)
To test maybe one could benchmark by just removing the rename check.

[2015-02-08 11:03] guruz opened #2797 "No such slot OCC::Folder::slotNetworkUnavailable()"
Adding this here since in https://github.com/owncloud/client/issues/69#issuecomment-73070175 it seems to go under.

@qknight @jdhoek

[2015-02-08 11:09] guruz opened #2798 "Crash on quit"
Not always reproducable.

[code]

[2015-02-08 11:12] guruz opened #2799 "[SSL] [Client certs] Actually display/parse HTML error message"
Seen this when testing https://github.com/owncloud/client/issues/69 some days ago. Might not be that important anymore since I think we show a dialog now in any case?

[code]

[2015-02-08 11:13] guruz opened #2800 "[OS X?] Bring 'Share' dialog to the very front"
It appears under the ```Finder``` window.
Might not be easy to fix ("Viel hilft viel" @dragotin )

CC @rullzer

[2015-02-08 12:16] jdhoek commented on #2799
Yes, a dialog is shown when any `https` URL returns any error. Parsing the actual error message might be complicated if HTML is returned (how will you display it?), but perhaps it is sufficient to settle for the HTTP error code?

For example, when a `403` code is returned, add the canonical description for it in the error message presented to the user:

That would at least tell the user something

[2015-02-08 14:01] dragotin commented on #2800
Seeing this problem on Linux as well somehow.

[2015-02-08 15:06] guruz commented on #2799
@ogoffart would probably recommend to use a simple ```QRegExp``` to take everything in the body that is not a ```<tag>``` (or ```</tag>```)

[2015-02-08 16:44] fnetto commented on #2475
I am suddenly having the same issue with one of the clients.

Here are the lines with error:
02-08 10:42:12:841 0x7698c08 syncengine.cpp:518  #### ERROR during  csync_update :  "CSync unspecified error."
02-08 10:42:12:845 0x7698c08 syncengine.cpp:824 CSync run took  2962
02-08 10:42:12:848 0x7698c08 folder.cpp:836 -> SyncEngine finished with ERROR, warn count is 0
02-08 10:42:12:858 0x7698c08 fol

[2015-02-08 18:23] nekoal commented on #2792
I wonder.. When 1.8.0-nigntly20150205 uninstalls it tried unregister x64, but files and OS x86. Also OCOverlays_x86.dll and OCUtil_x86.dll present in shellext after uninstall.
![ownc_del0205_1](https://cloud.githubusercontent.com/assets/10899904/6097631/350ed618-b000-11e4-898d-31f12d3e6c21.PNG)
![ownc_del0205_2](https://cloud.githubusercontent.com/assets/10899904/6097632/351885dc-b000-11e4-8738-a9

[2015-02-08 18:24] guruz commented on #2475
@fnetto In general, it would be useful to know the log _before_ the ```### ERROR``` to see what lead to it.
I'd suggest a nightly build of the soon to be released 1.8.0 http://download.owncloud.com/desktop/daily/ownCloud-1.8.0.1997-nightly20150208.pkg

[2015-02-08 20:02] webmatrixxxl commented on #2728
ok... I think notifications are back now on 1.8

After notifications were back I downgrade to 1.7.1 again several times and notifications gone.

[2015-02-08 20:25] fnetto commented on #2475
O actually resolved the issue.  It was on a regular folder, and all i did was to compress it and delete.
After it worked i unzipped the folder and without any modification it still working, so i am not sure what actually caused the problem.

Thanks

Sent via the Samsung GALAXY S®4, an AT&T 4G LTE smartphone

-------- Original message --------
From: Markus Goetz <notifications@github.com>
Date:02/0

[2015-02-08 23:34] guruz commented on #2475
ok :) if it re-orccurs please post a new bug then we can investigate

[2015-02-09 08:23] lmaestro commented on #2728
Notifications works fine in version 1.8.0-nightly20150209 (build 2001) .
@webmatrixxxl  Notifications are not working in 1.7.1 sorry.

[2015-02-09 08:23] #2728 closed

[2015-02-09 09:41] lmaestro commented on #2724
It is still happening in oc 8 ("version":"8.0.0.7","versionstring":"8.0").

[2015-02-09 09:44] ogoffart commented on #2724
@lmaestro: do you have the server logs showing the error?

[2015-02-09 09:51] lmaestro commented on #2724
Owncloud.log

[code]

This the logs from my console https://gist.github.com/lmaestro/d3a89814f7746a9a6299

[2015-02-09 10:00] PVince81 commented on #1883
Yes, see https://github.com/owncloud/core/issues/13391

[2015-02-09 10:02] guruz opened #2801 "two CheckServerJob, two Propfind Jobs, Two capabilities jobs.."
Without a sync folder defined:

[code]

Note the time stamps. Looks like some of this is unnecessary.

I don't know how it is with one or more sync folders defined, hopefully only the ETag job comes up additionally?

[2015-02-09 10:07] guruz commented on #1883
I'm closing this here. You can click on "subscribe" on the link in the core tracker ^^ or comment there to get notified.
thanks @PVince81

[2015-02-09 10:07] #1883 closed

[2015-02-09 10:19] cdamken commented on #2579
@PVince81 I see some similitude with https://github.com/owncloud/core/issues/13734 and I think is the same server. I will ask for the test.dat and I write you again.

[2015-02-09 10:33] guruz commented on #2794
@lmaestro Did you use the nightly from tonight? If you check the log, this is for the special character directory?

[2015-02-09 10:33] dragotin commented on #1821
This problem is gone in the 1.8.0 client.  In preparation of the multi account feature, we do now have a static icon in the top bar, as there wont be *one* account any more in the future, but many.

[2015-02-09 11:09] lmaestro commented on #2794
yes, it is the daily from tonight.

[2015-02-09 11:12] guruz commented on #2794
Did you try to recreate your sync folder and selective sync setup?

[2015-02-09 12:02] lmaestro commented on #2795
It is fixed in the latest version 1.8.0-nightly (build 2001)

![screen shot 2015-02-09 at 11 33 13 am](https://cloud.githubusercontent.com/assets/4689430/6105841/f71b3200-b05b-11e4-9421-d3434cc24a03.png)

[2015-02-09 12:02] #2795 closed

[2015-02-09 12:03] guruz commented on #2794
I create a folder ```+`´ç+`ç´ñññ``` (like @lmaestro ) in the webinterface and it syncs down fine.
[code]

@lmaestro suspects it is related to https://github.com/owncloud/core/issues/13946

[2015-02-09 12:14] dragotin commented on #2321
This is **not** windows only, I can reproduce it easily: Just switch off the Wifi on the notebook, the client wont reconnect once the Wifi is back again.

[2015-02-09 12:18] lmaestro commented on #2794
I recreate this folder again and it works fine. I think it depends on the server so I close this issue.

[2015-02-09 12:18] #2794 closed

[2015-02-09 12:54] lmaestro commented on #2774
Now the dialog requiere the password but the link doesn't appear although I introduce the password

![screen shot 2015-02-09 at 1 51 22 pm](https://cloud.githubusercontent.com/assets/4689430/6106585/f465328e-b062-11e4-9198-0aebd3f8076f.png)

[2015-02-09 12:55] danimo commented on #2792
@ogoffart can you take a look at the lnk issue itself? Hypothesis: Qt treats lnk files as links (which we usually do not sync).

[2015-02-09 13:08] lmaestro commented on #1821
Now it shows like that:
![screen shot 2015-02-09 at 2 06 54 pm](https://cloud.githubusercontent.com/assets/4689430/6106800/1a2d4252-b065-11e4-87b8-193b2f39a366.png)

[2015-02-09 13:08] #1821 closed

[2015-02-09 13:23] guruz commented on #2321
@dragotin But it properly disconnects? What did you see in the log? If I remember correctly the CheckServerJob should be scheduled and then see that it works again
(Although I believe the scheduling of those jobs might be messed up https://github.com/owncloud/client/issues/2801 )

[2015-02-09 13:28] guruz commented on #2321
From @SergioBertolinSG 's log:

[code]

But @SergioBertolinSG you said you reconnected the WiFi, right? Even inside the time frame of your log?
(Internal note: Might be similar to https://github.com/owncloud/client/issues/1312#issuecomment-53903942 .. in worst case we need to recreate the QNetworkAccessManager)

[2015-02-09 14:31] cdamken commented on #2428
@ckamm Any news?

[2015-02-09 14:56] cdamken commented on #2720
@danimo Any news?

[2015-02-09 14:57] dragotin commented on #2428
@cdamken this is supposed to be fixed in 1.8.0 Please test with the latest nightly build from
http://download.owncloud.com/desktop/daily/ and reopen if not. Thx.

[2015-02-09 14:59] DeepDiver1975 commented on #2726
@dragotin please get in touch with me to find proper solutions before using some crazy api existing somewhere . we are currently navigating into an api nightmare  because a hell of different apis are used - this will soon remain unmaintainable for us. THX

[2015-02-09 15:01] DeepDiver1975 commented on #2726
The file is existing on the client as well - right?
Is there any possibility to generate the thumbnail local on the client?

Getting the thumbnail from the server will put additional load to the server.

THX

[2015-02-09 15:03] DeepDiver1975 commented on #2726
In case you really want to grab it from the server we don't need no capabilites api.

In case thumbnails are disabled the api route simply will not exist and a request to it will return 404

[2015-02-09 15:09] dragotin commented on #2726
There is no easy way of creating thumbnails on the client at least for Linux, also no *easy* one on Win. And for the sake of consistency, it would be better to get it from server.

However, no rush here, that is very low priority IMO.

[2015-02-09 15:11] rullzer commented on #2726
@DeepDiver1975 yes that is true and it is how it is implented currently (well actually I check for 200). I'll create a PR for the client later tonight (it is pretty straight forward). We could just leave it like that for now and use the capabilities later when (if) that gets sorted out.

[2015-02-09 15:12] DeepDiver1975 commented on #2726
okay - understood - THX.

[2015-02-09 15:13] DeepDiver1975 commented on #2726
@rullzer awesome - this is the way to got from my understanding - THX a lot

Please be aware that I need to review the server api - index.php/apps/files/api/v1/thumbnail/{x}/{y}/{filename}

I'm not truly happy with it ...

[2015-02-09 15:27] PVince81 commented on #2252
Experimental fix here: https://github.com/owncloud/core/pull/13985

[2015-02-09 16:42] guruz opened #2802 "[OS X] [Placeholder] Mac proxy lookup hanging when network is down?"
@lmaestro Reported this bt related to https://github.com/owncloud/client/issues/2321 .... She also mentioned that the UI was hanging for her.

[code]

CC @danimo

[2015-02-09 17:14] cdamken commented on #2736
@guruz @danimo I wrote the information in this text (I can't post it because of the private information)

S3-ownCloud\Shared\owncloud\support\github-issues\mirall\2736\Answer.txt

[2015-02-09 17:19] MTRichards commented on #2774
@carlaschroder We should have a release note that public links with required passwords will not work in 8.0.

[2015-02-09 17:57] LukasReschke opened #2803 "[1.8.0] Client uses old share URL when sharing files"
Pre-ownCloud 8 URL: `http://localhost/core/public.php?service=files&t=34grKMpDGWxAU3h`
ownCloud 8 URL: `http://localhost/core/index.php/s/34grKMpDGWxAU3h`

Anyways, the old URL will also work on 8 as it has a redirect as fallback. URL looks just a little bit terribly long in the share dialog.

[2015-02-09 17:59] LukasReschke opened #2804 "[1.8.0] Link to shared files is broken when entering passwords"
### Expected behavior
The link works fine

### Actual behavior
The link doesn't work
Error:
Object not found!

The requested URL was not found on this server. If you entered the URL manually please check your spelling and try again.

If you think this is a server error, please contact the webmaster.

Error 404

### Steps to reproduce
1. Click "Share with ownCloud"
2. Click "Share link"
3. Set pass

[2015-02-09 17:59] LukasReschke commented on #2804
The %3F shouldn't be there

[2015-02-09 18:45] rullzer commented on #2774
@lmaestro did you press return? Here it all seems to work.

[2015-02-09 19:01] rullzer commented on #2804
@LukasReschke on which platform are you getting this? I can't reproduce it.

[2015-02-09 19:03] rullzer commented on #2804
@LukasReschke also which version of Qt?

[2015-02-09 19:09] LukasReschke commented on #2804
OS X 10.10, Qt 5.4.0, build 1987

[2015-02-09 22:21] Morganlej opened #2806 "Verify and document a safe solution for syncing same folder on dual boot machines"
I have seen this question some places and of course interest exist.
It looks like some have failed, some suceeded.
Here it seemed to work: #70
Here is what i try out now: http://forum.owncloud.org/viewtopic.php?t=19672&p=53479#p78867
(I am Morgano there)

The thing i think may go wrong is if the clients databases which are stored in hidden files in the root of the synk job client folder are not co

[2015-02-10 06:45] rullzer commented on #2726
See #2805 for a patch to retrieve the thumbnails.

[2015-02-10 08:47] dragotin commented on #2736
I think the problem here is that the request to .../status.php sets a new cookie. That must not be, as the call to status.php happen unauthorized. @danimo?

[2015-02-10 10:18] danimo opened #2808 "Reliably persist cookies"
So far, we only persist cookies if the shibboleth auth method is chosen. This has two downsides:

1) It does not handle accesses to remote resources that are queried before shib auth is chosen (i.e. `status.php`)
2) It is not implemented for the basic auth type (to be verified).

This is a disadvantage for setups using load balancers which track their clients through cookies. Those assuming that t

[2015-02-10 10:18] danimo commented on #2736
The analysis I've seen is accurate: the client does not store cookies for accesses of `status.php`. Is there any way the load balancer can be kept from tagging accesses to status.php? subsquent tagging should work fine.

The long term fix is to implement cookie storage thoroughly, see https://github.com/owncloud/client/issues/2808

[2015-02-10 10:32] VincentvgNn commented on #2438
@ogoffart
I had a look at your new code.
If "a" is the database mtime and "b" is the FAT returned mtime, then for "b-a" the following values should be ignored for detecting it as a changed mtime: 0, +1, +3600, +3601, -3600, -3599 (6 cases)
I think that in your code does not ignore the +1 sec difference.
The nice formula with the abs values also let's pass -3601 and +3599. That's not needed because

[2015-02-10 11:35] rullzer commented on #2804
Mmmm still can't repoduce... Maybe it is a mac issue

[2015-02-10 11:45] ne0h opened #2809 "Build owncloud client with qt5 (Gentoo)"
Hi,

when i am trying to build the owncloud client 1.7.1 at Gentoo Linux and qt5 i always get this error:

/home/ne0h/Downloads/mirall-1.7.1/src/mirall/theme.h:31:42: error: invalid use of incomplete type ‘class QObject’
 class OWNCLOUDSYNC_EXPORT Theme : public QObject
                                          ^
In file included from /usr/include/qt5/QtCore/qmetatype.h:45:0,
                 from

[2015-02-10 11:54] danimo opened #2810 "[security] [SSL] Client Cert and Cert Passwords get stored unencrypted"
We need store at least the password using QKeychain.

[2015-02-10 11:55] danimo commented on #2810
//cc @qknight

[2015-02-10 11:55] LukasReschke opened #2811 "[1.8.0] Client crashing when not connected (for example password invalid) and sharing file"
1. Login to an oC instance
2. Move the ownCloud instance away to another subfolder
3. Start the client again – get asked for the password
4. Ignore the prompt
5. Share a file => Client crashes

[2015-02-10 11:58] LukasReschke commented on #2811
(in my case the server returned a fatal error since I was refactoring some other stuff)

[2015-02-10 12:03] lmaestro commented on #2804
I can reproduce it on OS X 10.10.1 version1.8.0- build (2001)
@guruz Can you try to reproduce it?

[2015-02-10 12:06] LukasReschke commented on #2811
Should also be reproducible by changing the password of an user account

[2015-02-10 12:08] AdrienGiboire commented on #2762
For some reason, I gave it another shot today and it worked…

[2015-02-10 12:08] #2762 closed

[2015-02-10 12:19] lmaestro commented on #2379
Fixed in version 1.8.0-nightly20150202 (build 4670).

[2015-02-10 12:19] #2379 closed

[2015-02-10 12:36] lmaestro commented on #2781
Now I can the Git revision commit but the build is not shown but maybe it is not necessary.
@dragotin What do you think?
![screen shot 2015-02-10 at 1 33 10 pm](https://cloud.githubusercontent.com/assets/4689430/6127289/868e45ee-b129-11e4-847f-41a8d1c41240.png)

[2015-02-10 12:56] lmaestro opened #2812 "When you introduce the password you have to click on "return" to create the link"
### Expected behavior
There are a button to click to create the link or maybe it could refresh automatically, when you introduce the password

### Actual behavior
When you introduce the password you have to click on "return" to create the link and it is confused.

### Steps to reproduce
1. Click "Share with ownCloud"
2. Click "Share link"
3. Set password
4. Hit return --> the link could refresh au

[2015-02-10 13:01] rullzer commented on #2803
PR #2813 makes the client use the new url if the server version is >= 8.

@LukasReschke it seems the OCS API still returns the old URL when creating a share..

[2015-02-10 13:05] lmaestro commented on #2774
@rullzer yes, it is needed for that reason I have created this issue https://github.com/owncloud/client/issues/2812
So it works in version 1.8.0-nightly build (2001)

[2015-02-10 13:05] #2774 closed

[2015-02-10 13:59] Morganlej opened #2814 "About ignore list documentation and defaults"
Program or document or both need to be slightly adjusted

http://doc.owncloud.org/desktop/1.7/architecture.html#ignored-files-label state that the client per default ignore .csync_journal.db* .  However per default in the ignore list (client 1.7.1) that item is found without checkmark, and without the "*".

This rise some questions:
§ Is it ignoring .csync_journal.db* regardless of if it is set in

[2015-02-10 14:30] lmaestro opened #2815 "When you enable the option of " Set default expiration date", you can share by link without knowing it"
### Expected behavior
You can share by link using set default expiration date from the admin side.
When you click on share by link the expiration date is enable by default.
When you enforced expiration date, you can't select more days than it is shown by default but you can select less.

### Actual behavior
You can share by link without knowing that there are an expiration date
And when you enable

[2015-02-10 15:13] Morganlej opened #2816 "[Enhancement] Add button to edit sync-exclude.lst"
Why
1) The button immediately give a hint about how to manage the greyed out list. (i never saw the helping instruction that pops up after a couple seconds hovering over the list, so i even started a forum thread about how to manipulate it... - probably other experience the same difficulty)

2)  Much easier access than to remember what the popup say and type it.

So, put a [Edit system defaults] b

[2015-02-10 16:16] dragotin commented on #2804
Fixed by above commit, test case is still todo.

[2015-02-10 16:20] dragotin opened #2817 "Add Unit test for Account::concatUrlPath()"
Add a unit test case for the above function. It should test assembling of the URL.

Reasoning: We had the  error case #2804 that if we added a path containing a '?' that delimits the path from query items to that function, the resulting URL was not correctly decoded.

The test should check that conditions.

[2015-02-10 16:26] MTRichards commented on #2311
We need to look at this for Desktop Client 1.9. Not saying it is in, but I am saying it should be considered.

[2015-02-10 16:34] MTRichards commented on #2688
We have a concept of "locking" certain settings on the desktop client, which we need to iron out. This is a good baseline concept for the next release after 1.9, allowing locking of a desktop client.

[2015-02-10 16:49] MTRichards opened #2818 "[ownBrander] Allow for Custom User Agent String"
As an admin I want to be able to prevent standard ownCloud apps from connecting to my ownCloud server, I want my users to use the custom ownCloud apps I have designed.

The concept here is that a quick fix with a custom user agent string through ownBrander would enable a filter on "non-authorized" clients.

Not perfectly secure for a determined user, but ok as a quick fix.

[2015-02-10 16:58] MTRichards commented on #2818
For clarity, the ask is to prevent the case that a company has devices and laptops where policies are applied. However, just any old user can grab a PC at home (or mobile device) and get the standard ownCloud apps, and with their accounts sync all this data to unauthroized computers. This can be not only a policy violation, but a huge regulatory nightmare as data is now outside controls of the ent

[2015-02-10 21:15] nommaz commented on #2596
Sounds like Dropbox just launched a similar feature:

https://blogs.dropbox.com/dropbox/2015/02/new-way-to-open-dropbox-files/

I guess a link could be based on md5 or other hash of the file and owncloud desktop client would just search for its existence on B's desktop rather than trying to map paths. I believe most of the time the file would be found. Other times an error message may be appropria

[2015-02-10 23:19] Morganlej commented on #1143
I experience this intermittently too, client 1.7.1 on Mageia5 when syncing to Win7 pro D: ntfs partition.  Damn!

This is with two files amongst many other different versions originally generated on a program running in WinXP on a VM on my workstation.  Short names, no strange characters (not even swedish ones).
I detected it as i am syncing same folder from both linux and windows ( with a trick,

[2015-02-11 03:06] marcorperez commented on #2748
Hello, I had this exact same problem as well... emptied the trash bin and seems to work fine for now.

[2015-02-11 07:08] ckamm commented on #2321
While I could not reproduce it (maybe I didn't wait long enough in the disconnected state), I did spot a bad account state transition. If the network is unavailable, the state goes from Connected -> Timeout. But then, because we can't reach the server's status.php, it goes to ConfigurationError.

That should not happen, will fix.

[2015-02-11 08:26] ckamm commented on #2321
@lmaestro I now see the regular

[code]

when I disconnect my network.

[2015-02-11 08:30] rienesl commented on #1143
I did extensive research in the last month and I can 100% reproduce it now:
Boot windows, create a file in your Owncloud-Folder (no owncloud-client instaled in windows), reboot to linux, let the sync run.
If your file was created in 8.3-Format, everything will run smooth.
If your file leaves the 8.3-Format in any way, the error will occure.
Move your problem-file to extX and back: the error is gon

[2015-02-11 08:32] lmaestro commented on #2804
Fixed in version 1.8.0-nightly20150211 (build 2006)

[2015-02-11 08:32] #2804 closed

[2015-02-11 08:34] ckamm commented on #2798
Looks like an order of destruction issue in SocketApi. The _listeners member is destroyed first, and then _localServer is destroyed. Destroying the sockets (children of _localServer) trigger the onLostConnection slot.

[2015-02-11 08:41] lmaestro commented on #2601
It works fine in version 1.8.0-nightly20150211(build 4709)

[2015-02-11 08:41] #2601 closed

[2015-02-11 08:53] ckamm commented on #2798
@lmaestro To test this, have a couple of socket api connections open when you quit the client. Like with

    netcat -U /run/user/${UID}/ownCloud/socket

But even with that it wasn't always reproducible.

[2015-02-11 09:13] dragotin commented on #2781
There is no build number on Linux. That is fine.

[2015-02-11 09:13] #2781 closed

[2015-02-11 09:16] ckamm commented on #2693
@andrewbridge It looks to me like temp store = memory also lead to successful sync?

Both journal mode=delete and temp store=memory still have a couple of disk I/O errors when running quick check on a readonly database, but the default setting has way more errors. Did you delete the sync journals between tests? (these journal mode flags are sticky, so maybe the temp store memory test did use the D

[2015-02-11 09:52] Morganlej commented on #1143
@rienesl in your owncloud log, can you see if it immediately see it as a hard link, or if it tries to up/download it first?

#### Looking at my log again i note:
* The two files that had the problem are the two last in a sync.  Coincidence or part of error trig?
* On next synk more files was downloaded, all got down OK (and more than hundred have long names)
* Following syncs run ok (still on linu

[2015-02-11 10:16] lmaestro commented on #2798
I can' t reproduce the crash. So I close this issue
@guruz If you able to reproduce it, please reopen it.

[2015-02-11 10:16] #2798 closed

[2015-02-11 10:19] ckamm opened #2819 "Nautilus integration: error on client shutdown"
When I quit the ownCloud client while nautilus has a socket api connection open, nautilus prints the following to stderr: (with e79e2b80c80790996646ce7d2773dfafa78fc69e)

[code]

The overlay icons don't come back when the client is started again.

[2015-02-11 10:31] ckamm commented on #2819
Sorry for the noise, was a trivial fix.

[2015-02-11 10:31] #2819 closed

[2015-02-11 10:39] ckamm opened #2820 "Nautilus integration: restarting client breaks it"
When I use nautilus while the ownCloud client is running I see nice overlay icons.

However, when I restart the client, the overlay icons vanish and don't come back. This is what gets printed to stderr:
[code]

I haven't looked at it in detail, but it looks like self._connected is False while SocketConnect._connected is True - and no one sets up a watcher on the newly created socket...

[2015-02-11 10:49] dragotin commented on #2820
thanks, I will take care.

[2015-02-11 11:35] jnweiger opened #2821 "/etc/ownCloud/* should be flagged config files also in DEB packages."
@dragotin https://www.debian.org/doc/debian-policy/ap-pkg-conffiles.html

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8484519-etc-owncloud-should-be-flagged-config-files-also-in-deb-packages?utm_campaign=plugin&utm_content=tracker%2F216457&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2015-02-11 11:38] ogoffart commented on #2438
We want to take in account the changes if there is one second difference.

Normaly, the time should not change by one second, even if the precision is less than one second, because the rounding is always done the same way.

[2015-02-11 11:45] ogoffart commented on #2809
I don't know why it compiled for me and not for you.  I added the include anyway.

[2015-02-11 11:45] ogoffart commented on #2809
Can you try to compile again from the github repository?

[2015-02-11 11:55] ne0h commented on #2809
Of course i can :)
I cloned the client repository and tried to build it:

`$ git clone git@github.com:owncloud/client.git oc_client`
`$ cd oc_client`
`$ mkdir build`
`$ cd build`
`$ cmake -DCMAKE_BUILD_TYPE="Debug" ..`
`$ make`

No i get lots of error, starting with:

/home/ne0h/git/oc_client/src/libsync/cookiejar.cpp: In function ‘QDataStream& OCC::operator<<(QDataStream&, const QList<QNetworkCoo

[2015-02-11 12:21] lmaestro opened #2822 "An icon is shown in the file/ folder which is shared by link"
### Expected behavior
When you share by link a file or folder, an icon shows that this file or folder is shared by link

### Actual behavior
There are no icon when you share by link

### Steps to reproduce
1. Launch the app.
2. Share a file or folder by link

### Client configuration
version 1.8.0-nightly20150211 (build 2007)

[2015-02-11 12:57] VincentvgNn commented on #2438
@ogoffart
Thanks a lot!
Please give me a sign when I can test it in a next nightly client version.

The additional +/- 3600 sec and +1 sec ignorance is only for the sake of external HDD's and USB sticks which are FAT formatted by default.  It's up to you whether you "unhide" this "feature" by putting it under a check box in the user "General" menu. Personally I'm not fully confident about ignoring

[2015-02-11 13:05] lmaestro commented on #2811
I have tested it and I am able to reproduce the crash.
Steps to reproduce:
1. Sync the account in the your local folder
2. change the password from the server
3. Restart the client -> Because if you tried to share by link before restart there are no problem
4. Start the client again – get asked for the password, ignore it
5. Go to the local folder and share by link

Logs : https://gist.github.com/

[2015-02-11 13:07] #2693 closed

[2015-02-11 13:24] ogoffart commented on #2788
This is how the wizard looks like now if the theme selected a default folder (in this case the theme has `/music` as the default remote folder.

It still suggest selective sync on this folder,  does it make sens?

![remotefolder](https://cloud.githubusercontent.com/assets/959326/6147587/85c2d7bc-b1f9-11e4-9738-b7baec8febde.png)

[2015-02-11 13:37] ogoffart commented on #2676
Please re-open a new issue if there is still a problem

[2015-02-11 13:37] #2676 closed

[2015-02-11 13:37] #2663 closed

[2015-02-11 13:37] andrewbridge commented on #2693
@ckamm I closed the command prompt between attempts and as far as I'm aware, I deleted the journals both times.

I'm pretty sure the client reported an error with the temp store=memory setting. I don't completely understand the logs, but it appeared not to crawl as deeply with the temp store=memory too. I took those two assumptions and concluded that that method hadn't worked.

I noticed the recen

[2015-02-11 14:17] dragotin commented on #2815
We can not fix this as long as the proper API is not in place, see https://github.com/owncloud/core/pull/13964
Moving to future milestone.

[2015-02-11 14:51] dragotin opened #2823 "[1.8.0] Valgrind Session"
Do a nice valgrind session with 1.8.0 to make sure not to catch memory f...ckups.

[2015-02-11 15:35] weha opened #2824 "No conflict when a file is changed on 2 locations at the same time"
Expected behavior
edit the same file on 2 pc's at the same time should create a conflict

Actual behavior
Newest sync wins and oldest sync is lost

It seems that when the sync is initiated the original etag is not compared
Example:
- 2 people change something in the same file on the same time while the sync clients are idle
-The sync client sees a change on PC-A and syncs the file
- the client on

[2015-02-11 15:37] ckamm commented on #2693
@andrewbridge You're welcome, it wouldn't have been possible without all the data you provided. Thank you!

[2015-02-11 15:47] jturcotte commented on #2680
We still need to update the binaries in the repository before this ends in the nightly builds.

[2015-02-11 16:00] shoeper commented on #2818
That can't be a serious request. Install a firewall and force users to use a vpn client. That gives serious security and not something like a changed user agent.

[2015-02-11 16:08] ogoffart commented on #2824
Do you have the client log?

Normaly in this case there should be a precondition failed error and the next sync should create a conflict file

[2015-02-11 16:11] jturcotte commented on #2576
This issue is now tracked by #2680

A prospective fix should be available in the next nightly build at http://download.owncloud.com/desktop/daily/

[2015-02-11 16:11] #2576 closed

[2015-02-11 16:14] shoeper opened #2825 "Performance and sync issues"
Problems:
- Client only uses 25% CPU (server not even 25% and hard drives are no issue, too)
- client syncs files being already on the server and the client on setup
- client gives wrong error messages: e.g. if a folder is deleted while its sceduled for sync client says 500 internal server error but the client shouldn't have send any request regarding that (non existing) folder to the server.

Aft

[2015-02-11 16:23] jturcotte commented on #2455
Seems to work well for me. Does it never work at all? Or is there some situations where it does work and others not?

[2015-02-11 16:26] danimo commented on #2825
Please open one issue per problem that you are observing. Otherwise its impossible to track in a meaningful way:

1. The bottleneck here is the server, not the client. That said we are working with the server team to increase parallelism for 1.8/8.0.
2. We need more information to track that down. Please open a new ticket, and fill in the template provided in the contribution guidelines linked fro

[2015-02-11 16:26] #2825 closed

[2015-02-11 16:32] shoeper commented on #2825
The bottleneck for a lagging client and wrong speed information is definetly not server related. But ok I'm going to create new issues later on.

[2015-02-11 16:44] lmaestro opened #2826 "[windows] Socket operation timeout"
### Actual behaviour
When I update the client from version 1.7 to 1.8,  error "timeout while trying to connect to the server"

### Steps to reproduce
1. Have installed 1.7 and the account sync
2. Update to 1.8 but no delete data folder
3. Launch 1.8 your account is sync but there are not connection with the server
![capture](https://cloud.githubusercontent.com/assets/4689430/6151133/1cb9d354-b214-

[2015-02-11 16:49] danimo commented on #2825
@shoeper Oh, I skipped the line. yes the speedindicator is buggy, and there should already be an issue.

[2015-02-11 16:49] lmaestro commented on #2591
I am not able to reproduce so I close this issue, if anyone is able to reproduce please reopen it, thx.

[2015-02-11 16:49] #2591 closed

[2015-02-11 18:13] rienesl commented on #1143
@Morganlej:
Yes, owncloud sees it imediately as a hardlink. No sync possible (retry, restart, whatever), until I moved them to an extX partition. I don't have a windows-ownclowd-client, so further testing about "waht if windows syncs" is not possible.
But downloading a file from the cloud to the computer never makes any problems (long or short names), only uploading makes trouble. But what you wro

[2015-02-11 23:04] nekoal opened #2828 "Windows xp client don't respond after adding new folder"
### Expected behaviour
Client shows progress of analyzing files and subfolders then syncronize folder.

### Actual behaviour
In 5-10 seconds client stops to show information about analyzing folders and don't respond. Log window also don't respond. No new records in logfile or sometimes records about changes of other folder. CPU loads 40-50% from owncloud.exe
If do nothing in 1-2 hours client crash

[2015-02-12 03:21] nekoal commented on #2828
When Accounts tab inactive in 5 seconds syncronization begun. Another case of https://github.com/owncloud/client/issues/2648

[2015-02-12 07:18] ckamm commented on #2828
I think I saw similar symptoms yesterday before I applied the fix to discovery phase destruction (89c69250eff3f2cf5f8b7c7b0d09cccc61e3160b). Does it still happen with today's nightly? (>=20150212)

[2015-02-12 07:45] ckamm commented on #2826
From the logs it looks like the client gets a timeout while trying to get status.php from the server. It's got nothing to do with credentials or SSL. @lmaestro says a proxy was in use - maybe something's up with migrating 1.7 proxy settings to 1.8?

[2015-02-12 07:55] nekoal commented on #2828
1.8.0-nightly20150212 (4712) latest I can see now - don't respond, syncrun if Account tab inactive. About crash needs wait.

[2015-02-12 08:19] ckamm commented on #1341
@suamikim You can find all the daily builds at http://download.owncloud.com/desktop/daily/

Please reopen this issue if you experience this problem again.

[2015-02-12 08:19] #1341 closed

[2015-02-12 08:30] ckamm opened #2830 "Nautilus integration: overlay icons persist when client crashes"
Discovered by @lmaestro:

Normally, when one closes the owncloud client, the overlay icons stop being displayed. However, when the client crashes or is killed with SIGKILL the overlay icons stay around.

To reproduce:
- Start nautilus and owncloud
- Check that overlay icons are visible
- pkill -9 owncloud
- Overlay icons are still visible

One approach for a fix would be to add a heartbeat to the

[2015-02-12 08:31] ckamm commented on #2828
@nekoal You're saying the problem still occurs. I'll try to reproduce it.

[2015-02-12 08:55] ckamm commented on #2828
I can't reproduce it on Win7 - and as you said, the log line

    QWindowsXPStylePrivate::buffer(w,h), failed to create dibsection ()

indicates that this is indeed a duplicate of #2648. Thanks for the extra info, let's close this issue and track it over there.

[2015-02-12 08:55] #2828 closed

[2015-02-12 08:59] weha commented on #2824
Just made a new test, log here: https://gist.github.com/weha/32f5c036c0d4a9d8bb35

[2015-02-12 09:14] ckamm commented on #2648
@dahan1999 I applied a variant of your change.

@k3cco90 @nekoal Could you test again with tomorrow's daily build? (http://download.owncloud.com/desktop/daily/ >=20150213)

[2015-02-12 09:18] nekoal commented on #2828
Thanks. Yes, I can't reproduce it on Win7 too. But on Win XP problem still occurs. It's strange client crashes in a hour in non-respond state without records in logs. I wonder may be it's different problem from crash. At least, in logging. First 3-4 minutes client created 11MB log file, then 3 lines in a hour.

[2015-02-12 09:25] ckamm commented on #2792
I can reproduce this issue. Csync seems to see the correct file size (about 1k) but later we try to upload my shortcut file in several chunks (progress bar shows 22 mb) and fail with "Unknown error".

[2015-02-12 09:32] weha commented on #2824
os_activity: https://gist.github.com/weha/18ab75e9e3336ba82686

[2015-02-12 09:33] ckamm commented on #2792
While the Qt documentation says

QFileInfo::size() on lnk files actually gives the target's size due to https://bugreports.qt.io/browse/QTBUG-24831.

[2015-02-12 10:24] fossxplorer opened #2831 "No sync when photos uploaded by Android client"
Lately i've noticed that my sync client 1.7.1 on Fedora 20 doesn't sync files (photos) uploaded by Android instant upload unless i manually restart the sync client on the desktop.

Android client version 1.5.7.

[2015-02-12 10:38] jturcotte commented on #2776
I tried a few things and I cannot get it reproduced (with the 4687 nightly build):

- Tried putting 150MB of stuff in the share directory to try getting the client busy when it restarts
- Tried cleaning the data or leaving it there
- Tried navigating in a lower directory in the structure in an explorer Window, or to have the root directory on the desktop directly
- Tried restarting the client righ

[2015-02-12 11:09] dragotin commented on #2831
sounds like the upload does not change the etag of the folder where its loaded into. @PVince81 or @DeepDiver1975 can you help?

[2015-02-12 11:48] jturcotte opened #2832 "Exiting the client mid-sync will prevent files from being synced for ever"
To reproduce:

- Remove the folder syncing config
- Delete files on the client disk
- Re-add the folder
- While syncing (either while discovering or fetching, I did both and I'm not sure which one is causing the issue) restart the client

Expected result:
The client continues fetching missing files from that directory

Actual result:
The directory is left incomplete and the status says "done".
Res

[2015-02-12 11:54] ckamm commented on #2823
I just ran the client through valgrind, running a couple of sync operations, used the share dialog and socketapi integration. I didn't see anything particularly suspicious about depending on uninitialized data or about definitely lost memory (there are a lot of reports though).

[2015-02-12 11:56] manuel-uberti opened #2833 "[ubuntu] symbol lookup error: owncloud"
Hello. I am on Ubuntu 14.04 (amd64). I installed ```owncloud-client``` today following the instructions on the official website.

I get this error when trying to run the command ```owncloud```:
[code]
If you need me to provide further informations to investigate the issue, please let me know.

[2015-02-12 12:02] ogoffart commented on #2788
So this is good enough now.

[2015-02-12 12:02] #2788 closed

[2015-02-12 12:11] maituikas commented on #1938
Hi, this .ink deletion problem is so annoying that I am going crazy. There is no way I can delete .ink files. They just keep coming back after few minutes. Using the latest (8.0) version and still no solution to this problem? I have tried everything, nothing helps...
Is there any change someone could suggest their solution or workaround besides "exclude list"?

[2015-02-12 12:22] ckamm commented on #2833
Unfortunately I cannot reproduce the problem. I extracted the Ubuntu 14.04 (amd64) packages for owncloud-client_1.7.1_amd64.deb and libowncloudsync0_1.7.1_amd64.deb and could run the owncloud client successfully.

Could you verify your installation works correctly? Here are my sha1sums of the binary and core shared libraries:
[code]

[2015-02-12 12:29] ckamm commented on #1938
I fixed something that's likely the same issue or closely related today: #2792

lnk files now sync correctly for me. Could you check whether you can still reproduce the problem with tomorrow's nightly build? (http://download.owncloud.com/desktop/daily/ use one >=20150213 - tomorrow)

[2015-02-12 12:54] jpandre commented on #1143
It actually interprets a file with a short name AND a long name as a file which has two names.

Yes. For instance my "Program Files" directory is also named "PROGRA~1" :

[linux@precision ntfs]$ ls -ldi "/win10/Program Files" "/win10/PROGRA~1"
61 drwxr-xr-x 1 root root 4096 Dec  6 16:16 /win10/PROGRA~1
61 drwxr-xr-x 1 root root 4096 Dec  6 16:16 /win10/Program Files

Both names are associated with

[2015-02-12 12:54] boccaperta-it commented on #2833
Same as mine sha1sums:
[code]

[2015-02-12 13:05] jpandre commented on #1143
Sorry, wrong reference above for disabling the creation of short names. This should be :
http://www.microsoft.com/resources/documentation/windows/xp/all/proddocs/en-us/fsutil.mspx?mfr=true

[2015-02-12 13:46] maituikas commented on #1938
Hi, thanks for the reply but unfortunately I am not in total control of the server environment where the 8.0 version is currently sitting so I cannot test this with your build... Any other suggestions?

[2015-02-12 13:51] ckamm commented on #1938
@maituikas This is purely a client-side fix - it should work with the latest testing client and be fixed with the 1.8.0 release.

[2015-02-12 13:53] maituikas commented on #1938
ooh, ok, sorry I did not notice that. I will test out this tomorrow, thanks!

[2015-02-12 13:55] ckamm commented on #2833
@boccaperta-it Huh, odd!

Are the library symlinks set up correctly? Check

    ldd /usr/bin/owncloud | grep sync

and then

    ls -l /usr/lib/x86_64-linux-gnu/libowncloudsync.so.0 /usr/lib/x86_64-linux-gnu/owncloud/libocsync.so.0

do these point to the 1.7.1 and 0.2.1 version respectively?

[2015-02-12 14:00] dahan1999 commented on #2648
@k3cco90 sorry for late respond. @ckamm I will test it tomorrow.

[2015-02-12 14:00] boccaperta-it commented on #2833
This is what I got
[code]

[2015-02-12 14:26] Morganlej commented on #1143
Thank you @jpandre - great to have windows sawy people here :)
That link was for XP. Win7 have a tad more options: https://technet.microsoft.com/en-us/library/ff621566%28v=ws.10%29.aspx
I will read up and try again to dualboot sharing on same dir on ntfs soon.

[2015-02-12 14:27] ckamm commented on #2801
It only happens during startup. I eliminated all but the double CheckServerJobs. They happen because the first convalidator run gets stuck as there are no credentials. When credentials become available, another convalidator gets run from start. I think that's ok.

[2015-02-12 14:27] #2801 closed

[2015-02-12 14:28] lmaestro commented on #2811
Fixed in version 1.8.0-nightly20150212(build 2010)

[2015-02-12 14:30] ckamm commented on #2833
Great, so we have exactly the same binary and shared libraries -- but it works for me and not for you. @danimo Any ideas?

[2015-02-12 14:37] ckamm commented on #2797
I already took care of it in 51b9ec30a9d6d1bfe879c82a940d22a384d83536, the connect() snuck back in in a complex merge (ba8b1bbe06aacb02b00737968503dc9ca95ba23a).

[2015-02-12 14:37] #2797 closed

[2015-02-12 14:43] ckamm commented on #2697
@pyutaros Thanks for checking. It looks like the problem was that the db temporary .csync_journal.db-shm was only writable by user2 while the rest belonged to user1.

[2015-02-12 14:43] #2697 closed

[2015-02-12 14:50] pyutaros commented on #2697
Yep.  Thanks again for your help.
On Feb 12, 2015 9:43 AM, "ckamm" <notifications@github.com> wrote:

[2015-02-12 15:11] lmaestro commented on #2321
Fixed in version 1.8.0-nightly20150212 (build 4714)

[2015-02-12 15:11] #2321 closed

[2015-02-12 15:18] lmaestro commented on #2776
Overlay icons work fine in Windows 8, I have tested version 1.8.0 (build 4714).
But it is still a problem when you use two ownCloud clients

[2015-02-12 15:51] #2811 closed

[2015-02-12 16:17] ogoffart commented on #2832
After investigation we found out that this happens only if you have something like  "directory"  and "directory-something"
Because of the order:

directory
directory-foobar
directory/contents

[2015-02-12 16:24] lmaestro commented on #2455
I tested in Windows 8 version 1.8.0-nightly (build 4714) an it doesn't work.

![captura1](https://cloud.githubusercontent.com/assets/4689430/6170493/5f705814-b2d5-11e4-8fab-2d3d97949dca.jpg)

[2015-02-12 16:45] k3cco90 commented on #2648
I tried the old version, it was OK! I will try this tomorrow if I can.
Thank you!
 Il 12/feb/2015 10:14 "ckamm" <notifications@github.com> ha scritto:

[2015-02-12 16:54] jturcotte commented on #2455
Thanks, seems like the issue is still there then.
Trying to find out how to reproduce the issue, could you please tell:

1) Does it work for other files inside the directory (not just the root folder)?
2) Do you also see the issue if you place the TEST-OWNCLOUD somewhere else than Desktop? Like in C:\TEST-OWNCLOUD?
3) Is there any situation where you would see the root folder icon? If you restart

[2015-02-12 17:33] lmaestro opened #2834 "You can't share by link using a Shibboleth server"
### Expected behaviour
You can share by link using a Shibboleth server

### Actual behaviour
The app is disconnected when you try to share by link

### Steps to reproduce
1. Launch the app
2. Sync an account in a Shibboleth server
3. Click on a file -> Share with ownCloud-> Share by link

### Client configuration
Client version: 1.8.0-nightly20150212 (build2010)

Operating system: OS X

### Logs
[

[2015-02-12 17:36] lmaestro commented on #2834
CC/ @dragotin

[2015-02-12 17:41] boccaperta-it commented on #2833
It's even stranger because on another machine with Debian Jessie, the same client works fine.

[2015-02-12 17:50] danimo commented on #2833
How can you guys have the same sha sums? The packages should be different for 14.04 and 10.10, built with different compilers, etc. It's rather unlikely.

[2015-02-12 17:55] boccaperta-it commented on #2833
I could try to launch ```sha1sum``` again, if you need me to.

[2015-02-12 18:45] danimo commented on #11
Can be tested through https://download.owncloud.com/desktop/daily/ownCloud-1.8.0.20110-nightly20150212.pkg.

@LukasReschke Interested? :)

[2015-02-12 19:09] LukasReschke commented on #11
:rocket:

[2015-02-12 19:11] danimo commented on #11
Try now :)

[2015-02-12 19:12] rienesl commented on #1143
@jpandre: Thank you for joining us here. So now we know, that this problem is not caused by NTFS-3G, but by the way owncloud handles the returned information. So I guess there is a need of change in that part of code.

[2015-02-12 19:29] LukasReschke commented on #11
:rocket: Looks totally awesome :rocket:

Thanks!!!

[2015-02-12 19:58] danimo commented on #1143
It's not so simple really: hard links break the fundamental design of the sync algorithm: That one file is represented by exactly one inode. This is because a file name is not sufficient to uniquely identify its contents, and detect e.g. moves properly (inotify is not reliable enough, plus it does not track offline moves).

We can always optimize on Windows, if Win32 API exists. However, I don't s

[2015-02-12 20:08] ckamm commented on #2833
@danimo We're both using the 14.04 packages, I think.

[2015-02-12 20:17] danimo commented on #69
Due to https://github.com/owncloud/client/issues/2810, I had to disable client certificates (at least the setup) for now, because we are releasing Beta1 tomorrow and I don't want to have an officially released version with security issues. If someone manages to fix this for the next beta (by using QtKeychain), I'll re-activate the feature.

[2015-02-12 20:18] danimo commented on #69
@qknight I'd be nice if you could contribute the blog to the official documentation once we have a go for the feature (see above).

[2015-02-12 20:18] danimo commented on #2810
Setup of client certs disabled for now.

[2015-02-12 20:21] Morganlej commented on #1143
I told windows7 not to create 8dit3 names, and it seem to work :)
I am now back on ntfs for dual boot sharing.  It need more tests but right now it seem OK...
I updated at the bottom of my post:
http://forum.owncloud.org/viewtopic.php?f=14&t=19672&p=78867#p78867

[2015-02-12 20:45] sharadmittal commented on #230
I have a suggestion to implement this in a relatively easy way:
1) the current csync based approach does not allow for secure peer-peer chunk transfers.
2) How about we add a 2nd download option based on bittorrent protocol. libtorrent (C++) can be used for this.
3) libtorrent supports SSL cert based auth for the tracker, web seed and peers.
4) The owncloud server can act like the tracker and web

[2015-02-12 20:48] danimo commented on #230
@sharadmittal This conflicts with the requirement that the server needs to have the last word on which client is allowed to received a certain file.

[2015-02-12 20:54] Herve5 commented on #230
@sharadmittal I'm 100% favorable to this idea; in case the issue described by danimo is a concern one could perhaps add a specific setting for enabling/disabling this
-but I must say I don't really understand that concern indeed, as long as the server does remain a central hub, to quote sharadmittal: "this way the server has control over who gets the file…"?

[2015-02-12 20:54] sharadmittal commented on #230
Thanks danimo for your feedback. How about the peers make a quick check with the server whether that peer has access to that file (using the authenticated peer id)?

[2015-02-12 21:00] shoeper commented on #230
The client could send a list with the owncloud users in it's network (or just id's) with each download request. The server could then say ask client id x and use token y. The client requests the file from oc user x using token y via some encrypted channel. Before sending the file oc user x asks the server if the token is valid for the request file and if it was requested by the user wanting to hav

[2015-02-12 21:12] danimo commented on #230
The basic principle, what's missing is an authorization protocol in the server. @LukasReschke and @DeepDiver1975 have a concept for that I think, but it's not there yet.

[2015-02-12 21:33] qknight commented on #2810
ok, i will contribute the new code tomorrow.

i think i only have to add code from here: https://github.com/frankosterfeld/qtkeychain/blob/master/testclient.cpp

to
* configfile.cpp::certificatePassword() and
* configfile.cpp::setCertificatePassword()

[2015-02-12 21:36] danimo commented on #2810
The challenge is that qtkeychain is async, whereas your code generally isn't. Plus the right place to do it IMHO is in `HttpCredentials::persist()` and  'HttpCredentials::fetch()` (we already store/fetch the passwords there).

[2015-02-12 23:18] danimo commented on #11
@lmaestro Do you have a retina mac avail?

[2015-02-12 23:55] sharadmittal commented on #230
It'll be great if @LukasReschke or @DeepDiver1975 could present/discuss there strategy here.

I've another simple way this could be done. Server encrypts the file once which gets downloaded using a bittorrent like protocol. Clients have to get the encryption key from the server directly (using regular https authenticated route). This way the server gets to have the last word.
A side effect of this

[2015-02-13 05:02] nekoal commented on #2792
Tested 1.8.0-20150213(4715). Shortcuts to folder syncronized with real size of lnk files. Conflicted shortcut file was not syncronized. It was downloaded but not renamed from temporary name.
Create new, syncronizing then deleting shortcut file on other side tested in both directions - ok. Create new, syncronizing then deleting shortcut file on the first side - problem

Also other Windows symlink (

[2015-02-13 07:12] nekoal commented on #2792
@danimo 1.8.0-nightly20150213(4715) on Win7 cause crashes if shell extention enabled. Explorer crashes when any syncronize status icon visible in folder and client works. May be connected with yesterday icon changes.
Also all run processes yesterday and today on some condition show same error:

![oc_c_142](https://cloud.githubusercontent.com/assets/10899904/6183390/9a673a04-b38f-11e4-8c2c-04bb0c6f

[2015-02-13 07:49] nekoal commented on #2648
1.8.0-nightly20150213 (4715) Sorry, I can't say it solved. On Windows XP client crashes when AddFolder dialog shown (folder tree control?). Now fails msvcr120.dll
 Two times I couldn't add folder. Third time new folder added then crashed
Unknown software exception (0xe06d7363) in application on address 0x7c812afb. After client new start works ok until AddFolder dialog shown.  I can't reproduce err

[2015-02-13 08:10] qknight commented on #2810
IMHO **redrawing this feature, because of this qtkeychain issue, is really naive** as **saving the password in plain text** compared to **potentially having an insecure installation where everyone on the internet has access to**, for instance when not doing all security updates or when having a broken configuration, is the real problem.

if you fear that someone potentially wants to steal your p12

[2015-02-13 08:22] rienesl commented on #1143
How about a solution like: If count=2, check if one of them is 8.3, if yes, take the other one (name) for sync, else behave like before? Switching off 8.3 names is one thing, but I can imagine, that there might be reasons, why this stoneage relict is still active.

[2015-02-13 08:23] danimo commented on #1143
@rienesl and how would one reliably know that this is really the 8.3 representation?

[2015-02-13 08:23] lmaestro commented on #2812
It is fixed in version 1.8.0-nightly20150213 (build 2013)
![screen shot 2015-02-13 at 9 22 15 am](https://cloud.githubusercontent.com/assets/4689430/6184441/eba27fb0-b361-11e4-8143-5507d43bd028.png)

[2015-02-13 08:23] #2812 closed

[2015-02-13 08:27] ckamm commented on #2792
@nekoal I tried these two cases and could not find any issues:

Case 1:
* Put a shortcut file into a sync folder
* Wait for it to upload, then disable the client
* Manually upload a different shortcut file to the server
* Change the local shortcut file in a different way
* Start the client again
* Result: conflict file, as expected

Case 2:
* Put a shortcut file into a sync folder
* Wait for it to

[2015-02-13 08:28] rienesl commented on #1143
For long filenames, the first 6 characters are equal to the file name, followed by a "~" and a number.
For files using spaces or non basic ASCII (7bit) characters in the first 6 of them, it might get difficult, that's right. But I guess, there exist a whitepaper from microsoft, how the short names are produced. I think it will be possible to create a filter based on those informations

[2015-02-13 08:32] ckamm commented on #2834
@lmaestro Can you reproduce this on linux or windows? I tried on linux and sharing files on a shib-cred sever worked just fine for me.

[2015-02-13 08:34] qknight commented on #69
this patch was reverted for the 1.8 release! please see discussion here:

https://github.com/owncloud/client/issues/2810

[2015-02-13 08:39] danimo commented on #69
Not reverted as stated above, only modified so new setups can no longer be performed. Old ones should still work.

[2015-02-13 08:40] ckamm commented on #2834
Looking at the log file in detail, it looks like the share dialog's thumbnail fetch request got a 302 back and that invalidated the shibboleth credentials. Since thumbnail fetching is disabled for now, I can't reproduce the problem.

[2015-02-13 08:43] ckamm commented on #2834
Closed since disabling the thumbnail fetching code effectively fixed it. I'll make another ticket about accidental logouts by 302 responses.

[2015-02-13 08:43] #2834 closed

[2015-02-13 08:46] qknight commented on #69
@danimo not reverted in the GIT sense but in functionality. sorry i was not very precise.

[2015-02-13 08:47] qknight commented on #2810
@danimo i've been looking into HttpCredentials::persist() and HttpCredentials::fetch() don't understand what they are doing. could you explain their function to me?

[2015-02-13 08:52] ckamm opened #2835 "Redirection error codes cause Shibboleth credential invalidation"
Currently, any network call that returns a 302 status code will invalidate the shibboleth credentials. See ShibbolethCredentials::slotReplyFinished().

This can cause problems like #2834 where an authed request returned 302 without wanting to indicate that the user needed to log in again.

To solve this properly we need to be able to tell apart 302-because-auth-needed from regular 302 status codes

[2015-02-13 08:58] lmaestro commented on #2834
Now it works fine version 1.8.0-nightly20150213 (build 2013).

[2015-02-13 09:02] Morganlej commented on #1143
If we go just by the name, how can we be sure it is not a, program or user that happened to create two names which match that simlilarity?

How do we handle if a file is renamed?  I do not know the details - it probably virtually never happens, but i what if something renamed the 8dot3 name?

This stoneage relict is needed on the MS windows system partition, but many recommend to shut it of for ot

[2015-02-13 09:24] rienesl commented on #1143
Got the Whitepaper: http://www.osdever.net/documents/LongFileName.pdf
It it, the first 2 of your questions are answered - the guys of Microsoft hat had the same "problems" while creating this standard.
Showing an error message is nice for an intermediate solution, but the behaviour is no old hack for induced incompatibility, Microsoft defines this as part of the standard for long filenames!
Sadly

[2015-02-13 09:32] lmaestro opened #2836 "[Windows] When I try to open the local folder it closes suddenly"
### Actual behaviour
When I try to open the local folder it closes suddenly

### Steps to reproduce
1. Launch the app
2. The account is synced
3. Click to "open local folder"

### Client configuration
Client version: 1.8.0-nightly20150213 (build 4717)

Operating system: Windows 8

### Logs
[code]

[2015-02-13 09:53] lmaestro commented on #2455
I have tested and :
1) Yes overlay icons work inside the root folder
2) I Tried to locate it in different locations and no one works
3) I restarted and it didn't work and the same if I press F5.

[2015-02-13 10:03] maituikas commented on #1938
This package is for linux?

[2015-02-13 10:05] ckamm commented on #1938
@maituikas There are packages for windows (exe), linux (tar.bz2) and mac (pkg) there.

[2015-02-13 10:21] maituikas commented on #1938
yeah sorry, did not pay too much attention to sorting order. Well, tried it out (uninstalled the previous version and installed ownCloud-1.8.0.4715-nightly20150213) and after removing the *.lnk from the exclude list unfortunately all the damn shortcuts were synced right back after few minutes so this did not help... :( Any other ideas?

[2015-02-13 10:35] nekoal commented on #2792
My story: I have 2 clients and server now. In "manually syncronized" (it was no full mirror because .mdb files was modified by Microsoft Access on open) folder on both clients was .lnk file to ODBC Control Panel (with cyrillic characters in filename). Both files has same filename but linked to different places. First to ".cpl" (less size, opens slow), Second to "%SystemRoot%\system32\odbcad32.exe"

[2015-02-13 10:50] ckamm commented on #1938
@maituikas You're saying that after you used the new client, the lnk files were uploaded, you deleted them locally, and then they were downloaded again from the server?

[2015-02-13 10:57] maituikas commented on #1938
The scenario was this: I uninstalled the previous version and installed the version you recommended. In the older version the exclusion list had *.lnk and the new version kept it the same so I removed the *.lnk from the exclusion list and voilaa. after 30 seconds the previously locally deleted shortcut files we donwloaded back.

[2015-02-13 11:14] ckamm commented on #1938
@maituikas These files were probably still on the server. If you delete them now, does it stick?

[2015-02-13 11:30] ckamm commented on #2792
@nekoal

It looks to me like the .lnk files were still on the server when you removed the *.lnk pattern from the exclude list. That's why the client then started downloaded them.

If you suspect that the file names may be an issue, please try whether the same happens with regular files (i.e. use X.txt instead of X.lnk).

Regarding your last point: I can't reproduce the issue. When I have two clien

[2015-02-13 11:48] ckamm commented on #2836
I can't reproduce the problem. The client just calls QDesktopServices::openUrl() - so if there is a bug, it's likely to be in Qt or Explorer.

@lmaestro One thing: I'd have expected a log line ...opening local url... which I don't see above. What does it say?

[2015-02-13 12:10] ckamm commented on #2824
@weha From your logs:
[code]

So it does really look like both of the uploads succeeded, when the second one should have failed. Can you reproduce this reliably? Maybe the server doesn't check-and-update the etag atomically and that allows two parallel PUT requests for the same etag to succeed?

[2015-02-13 12:41] ckamm commented on #2824
As far as I can tell from reading the sabre-dav version owncloud uses (and sabre-dav master), there's no lock that covers the precondition check and the subsequent file update. @ogoffart points to owncloud/core#4511

[2015-02-13 13:09] maituikas commented on #1938
Tried again. This time created a new shortucut from one pc which has regular oc installation and a minute later the same new shortcut was downloaded to the pc where your version of the oc is installed.Also tried to delete the existing shortcut from the new client and a minute later the shortcut was back again so no luck either way...

[2015-02-13 13:14] maituikas commented on #1938
Although I don´t have full control over the hosting server then I still have possibility to get on hold of the files of the 8.0 installation incl. the logs if you should need these. I have root access to my part of the cluster that I rent from the hosting partner.

[2015-02-13 13:26] plages commented on #2515
I'm not sure if this is related but in my office Autodesk Revit Architecture 2014 hung on file >> open after installing 1.7.1. After de-installing the client and vcredit2013 everything works OK again.
I'm pretty sure this has to do with the vcredist2013 installation that comes with the client.
I've been fiddling with a custom client and earlier versions of vcredist but then i get an error during v

[2015-02-13 13:31] nekoal commented on #2792
I agree about zero-size folder shortcuts. But I don't know reason why original file Odbc.lnk on second client was not renamed to "_conflict". May it be in rename/delete functions in some way using target path and fails?

Logfile
https://gist.github.com/nekoal/90e3217b4a2b94d35e78
I reproduce issue again. incorr.mdb.lnk - previous experiment, News.mdb.lnk - current expirement. Screenshot shows 'Del

[2015-02-13 13:49] dahan1999 commented on #2648
@nekoal can you describe your steps to reproduce the crash?

[2015-02-13 14:00] #2817 closed

[2015-02-13 14:38] pchnl commented on #2515
I have installed OwnCloud 7.01, 7.02, 7.03 and 7.04 and each installation was painful (in other words give up and reinstall from scratch).  In addition, I have experienced plenty of issues (eg. high CPU usage in sync client, ghost files and folders, deadlock in other apps with the sync client, clumsy setup of sync client, unable to uninstall shell extensions,  connectivity issues, etc. etc.) so I

[2015-02-13 14:40] dahan1999 commented on #2648
@ckamm I tested and the crash did not occur. nekoal mentioned another crash but I suspect that the crash has nothing to do with this one.

[2015-02-13 14:51] nekoal commented on #2648
Sorry, I was wrong. It's separate issue. Same crash occurs in others applications then I tried uninstall client and install without shell integration. On Win 7 shell integration already was disabled 'cause explorer crash.
Without shell integration AddFolder don't show any errors and syncrun started successfully. Pause/resume test also passed.

[2015-02-13 14:52] jancborchardt commented on #11
@danimo the proper retina icons for the settings dialog and for the lock icon are now also available – check the desktop-homies share. ;) (Please add the SVG sources in the repo! All files are compressed.)

[2015-02-13 16:29] dragotin commented on #11
@LukasReschke screenshot - or it does not exist ;-)

[2015-02-13 17:52] dragotin commented on #2832
@ogoffart is this ready-to-test?

[2015-02-13 17:56] plages commented on #2515
Sorry to hear your experience wuth owncloud has been so poor. My findings are exactly opposite to yours. And i'm a very happy user.
However i'm not sure what your post has to do with this issue.

[2015-02-13 17:57] plages commented on #2515
Sorry to hear your experience with owncloud has been so poor. My findings are exactly opposite to yours. And i'm a very happy user.
However i'm not sure what your post has to do with this issue.

[2015-02-13 18:44] LukasReschke commented on #11
![screen shot 2015-02-12 at 21 14 59](https://cloud.githubusercontent.com/assets/878997/6193161/c0c1af4e-b3b8-11e4-977c-cb2920887c57.png)

[2015-02-13 19:04] weha commented on #2824
I've tested this 2 times in total with the same result and a different PC-B
This might occur more on slow server systems, like a NAS, where it takes longer to process the sync (very slow comparing to cloudstation running on the same system, but that's a different topic)

[2015-02-13 20:12] pulse00 commented on #11
looks great, thanks!

[2015-02-13 21:22] felicitus opened #2837 "owncloudcmd bails out with "Authentification failed" after initial success"
I'm using owncloud 8.0.0 with 3 clients. Now I wanted to set up owncloudcmd to do some advanced syncing. The initial authentification works, but during sync, owncloudcmd bails out with "authentification failed".

The complete log file can be viewed here: https://gist.github.com/felicitus/7e9bcfa06d49899af2df

[2015-02-13 21:46] nekoal commented on #2792
@ckamm Insight about incorr.mdb.lnk and News.mdb.lnk:
Shortcut target from sync folder. On one client sync folder has path E:\dbases, on second D:\dbases. Summary, create on first client, sync, delete on second client = manually deleted shortcut which target not exists, client deleted file which target exists.
 create on second client, sync, delete on first client = manually deleted shortcut which

[2015-02-13 22:35] nekoal commented on #2832
My issue may be matches header, but I haven't solid proof now. After pause during sync 3 files shows in activity log "Operation canceled". After resume activity log has no new records about this files but some files downloaded from server (no other clients connected to this folder on server and I didn't change any files on server). I'll write result after re-check this files in folder and on serve

[2015-02-13 23:39] qknight commented on #2810
**the more i think about the QKeyChain the more i realise that this should be a extension to QSettings.** imagine that you could just use QSettings, but with an additional flag it would store the data using QKeyChain transparently.

[2015-02-14 00:16] enoch85 commented on #2831
@fossxplorer Latest version of the Android app is 1.6.2. Try update. https://play.google.com/store/apps/details?id=com.owncloud.android&hl

[2015-02-14 04:46] apg1980 commented on #2836
The 1.8.0 Client crash the explorer.exe after installation and reboot on windows 8.1. i can confirm that.

[2015-02-14 08:22] nekoal commented on #2792
New experiment with same result:
pause client, create 2 shortcuts, rename target of one shortcut = shortcut which target not renamed successfully upload to server, shortcut which target renamed show error
02-14 16:11:51:883 0x5807fc8 syncengine.cpp:794 void OCC::SyncEngine::slotJobCompleted(const OCC::SyncFileItem&) "120330wv__.rar.lnk" 3 "Файл Перемещён"

[2015-02-14 09:04] ckamm commented on #2792
Thanks @nekoal, the shortcut I made did indeed have a valid target on both machines. I'm not around next week but will try to reproduce the week after.

[2015-02-14 09:26] qknight commented on #2810
@danimo been working on the patch and i think i'm nearly there but two things:

* when is the **deadline** to get it tested and still into 1.8?
* should i **access httpcredentials from account class** or should i **access the certificate PW in account using qtkeychain**?

i love the way you changed the wizard in owncloudconnectionmethoddialog.cpp as it really looks good now!

[2015-02-14 10:23] edd-- commented on #2789
exactly the same problem here, makes the solution unusable for my 75 windows users :( Been having this problem for several months now, please fix ...

[2015-02-14 11:50] redhell commented on #2836
I've got the same Problem on Win 8.1 x64

[2015-02-14 14:40] vgezer opened #2838 "fatal error: openssl/pem.h while compiling under Ubuntu"
The dependencies (sudo apt-get build-dep owncloud-client) do not install libss-dev, but it seems this is required.

sudo apt-get install libssl-dev

Another problem is:

owncloud: error while loading shared libraries: libowncloudsync.so.0: cannot open shared object file: No such file or directory

this happens after `sudo make install` and calling "owncloud" from terminal.

[2015-02-14 17:59] AiYoriAoshi commented on #994
I have the following setup:
C:\ and E:\ Partition on SSD, not synced by owncloud
D:\ RAID5 Partition on Raidcontroller with 3x1.5TB drives completely synced with owncloud

A few days ago I re-installed my windows while the raid controller was not plugged in so no data is touched on the owncloud partition. After the installation I plugged in the raid and then I installed the owncloud client and set

[2015-02-14 18:57] nekoal commented on #2832
Re-check found 1 different timestamp after file downloaded from server. It's something wrong with logging: files with "Operation canceled" uploaded normally.

[2015-02-14 19:59] netzwerch commented on #2559
Hello,
I can reproduce that problem when having lots of files too.

Scenario:
Clients: OC-Client Version 1.7.1 (build 4382) at Windows 7 64bit, Core i7, >=8GB Ram
Server Version 7.0.4 at Ubuntu 14.04 LTS, Core i3 (4 Cores), 6GB Ram, Nginx, PHP 5.5, MySQL 5.5
Local Network
Shared Folder with 580GB in ~500.000 files.

We desperately uploaded all the files from one single client within 1-2 weeks via

[2015-02-14 21:58] karlitschek commented on #994
It seems that ownCloud detected your files as changes. This can be cause by a changes timestamp of the files or the mountpoint.

[2015-02-14 23:27] qknight commented on #69
good news! the problem #2810 is **nearly fixed**! **my hacky code already works** and does save any certificate password in the ``/home/joachim/.local/share/data/ownCloud/owncloud.cfg`` configuration file anymore.

https://github.com/qknight/client/compare/master-ssl-client-certs-glaub-defekt

next step: cleanup with danimo.

[2015-02-14 23:29] qknight commented on #2810
good news! the problem #2810 is **nearly fixed**! **my hacky code already works** and does save any certificate password in the ``/home/joachim/.local/share/data/ownCloud/owncloud.cfg`` configuration file anymore.

https://github.com/qknight/client/compare/master-ssl-client-certs-glaub-defekt

warning: code contains hardcoded values so it won't work for you without modifications, search for 'schie

[2015-02-15 15:38] MegaV0lt opened #2840 "Germaqn translation some "," are misplaced"
In then UI of teh 1.8 beta Client under Windows 7 it looks liekr the "," are misplaced:
Screenshot: http://i.imgur.com/yJdfIt5.png
It should be:
[code]
note: there should bei __NO__ space between __Ordner__ and __,__

[2015-02-15 15:41] MegaV0lt opened #2841 "Misplaced "." in SyncClient 1.8beta UI"
There is a misplaced "." in the german translated 1.8beta client in Windows7:
http://i.imgur.com/UjFn4oH.png

It should be
[code]
__No__ Space between __verfügbar__ and __.__

[2015-02-15 15:47] danimo commented on #2841
Sorry to disappoint, but there is no space and never was :-)

Btw: you can easily verify in https://github.com/owncloud/client/blob/master/translations/client_de.ts, and if you see something, apply a fix right away by joining our transifex group: https://www.transifex.com/projects/p/owncloud/translate/#de_DE/client/

[2015-02-15 15:47] #2841 closed

[2015-02-15 15:49] danimo commented on #2840
Same here, there is no space. It just looks it due to bad font hinting for punctuation marks behind the 'r'. But that's not our bug :-)

[2015-02-15 15:49] #2840 closed

[2015-02-15 15:52] MegaV0lt commented on #2840
Why not using a font that is working?

[2015-02-15 15:55] danimo commented on #2840
Simple: We use whatever the user/OS picks for us. Plus this is probably not a font bug, but one in the renderer (Either Halfbuzz or Windows' GDI).

[2015-02-15 15:56] MegaV0lt commented on #2841
Thank you , but it is not solving the bad ui expirience. Why can you not use a font with good hinting ?
This way it looks everything else than a professional software

[2015-02-15 16:17] danimo commented on #2841
Again, this is the Windows system font (`Segoe UI` in your case). If anything, the hinter itself would be broken, and we cannot swap the hinter, it's part of the toolkit (and used by a lot of other apps as well). Hard-coding a particular font is not an option, as the app would look weird in another way (different than all other apps), and there is no gurantee that hinting would work correct with o

[2015-02-15 16:38] danimo commented on #2841
Quick test confirms that it's a bug in the Qt font rendering (which AFAIK uses Halfbuzz).

[2015-02-15 16:54] MegaV0lt commented on #2841
no idea what that means. Anything that can be done?
is it already the actual qt rendering using? if yes can someone who is knowing how to describe the problem file an bugreport?

[2015-02-15 17:31] shoeper opened #2842 "variable chunk size"
Chunk size seems to be fixed at 20MB. I think one should be able to specify a chunk size. Not requireing that many request could save quite some overhead on server side. At least on local networks it would be helpful to set the chunk size to 100+ MB. In my case upload could easily be at 40 MB/s (that's what even Internet Explorer is able to upload via webinterface). So client should be able to pus

[2015-02-15 20:19] sebastiennoir opened #2843 "[OS X] Mac client installer issue when picking target disk"
### Expected behaviour
Open client installer package freshly downloaded from website, select target disk, install.
Installation completes with success and client can be launched.

### Actual behaviour
Installer opens, target disk can be selected. Installation starts. And stops near the end with error :
The Installer encountered an error that caused the installation to fail. Contact the software ma

[2015-02-15 20:39] danimo commented on #2843
Do you have any "non-standard" disk configuration perhaps?

[2015-02-16 04:38] juerghoerner commented on #2836
I've got the same Problem on Win 8.1 x64. The explorer filesystem is closed and startet again automaticaly. 1.7. version is OK.
Maybe it has something to do with this (from shell viewer):
Name der fehlerhaften Anwendung: explorer.exe, Version: 6.3.9600.17415, Zeitstempel: 0x54503a3a
Name des fehlerhaften Moduls: MSVCR120.dll, Version: 12.0.21005.1, Zeitstempel: 0x524f83ff
Ausnahmecode: 0xc0000409

[2015-02-16 07:29] MegaV0lt commented on #2840
I installed teh 1.7.1 client and surprise! the Text looks good here! See screenshot:
http://i.imgur.com/BCZ46R7.png
Something must have changed in 1.8 Client!

[2015-02-16 07:46] MegaV0lt commented on #2836
Same here. OCClient 1.8beta crashes Windows Explorere permamently
[code]

[2015-02-16 08:18] lmaestro commented on #2680
@gpbenton Can try to reproduce it in the latest version https://owncloud.org/install/#testing ?

[2015-02-16 08:19] lmaestro commented on #2695
@michaelstingl any news? Can you try to reproduce using beta1 https://owncloud.org/install/#testing?

[2015-02-16 08:21] lmaestro commented on #2706
I can't reproduce it so i close this issue.
@Havenard Can you try to reproduce it beta1 https://owncloud.org/install/#testing? If it is still happening please reopen it.

[2015-02-16 08:21] #2706 closed

[2015-02-16 08:33] MegaV0lt commented on #2836
wtf... i removed the 1.8 beta and installed the 1.71 again.

Now the explorer imeadetly crashes and other programs also as soon the owncloud client is running!
the 1.8beta must have damafged something.

when i quit the occlient everything runs fine! Help!

[2015-02-16 09:00] plages commented on #2836
I think this has to do with the vcredist installation required for explorer integration. If i install the 1.8.0 (beta) build 4720 without the explorer integration, there's no crash. If i install WITH the explorer integration explorer crashes as soon as i try to navigate to the local folder. But also on other actions. For instance when i open an MMC console. Maybe in abundance but her's my eventlog

[2015-02-16 09:02] zijlstra-it commented on #2736
@danimo I assume @cdamken has put my analyses in the "Answer.txt" file but for clearance, my analyses should show you that you indeed store all the right cookies and use them but not in a particular situation: the fresh start of the client.

The client does a request to "status.php" and gets a new cookie from the proxy; no problem here because status.php is unprotected by Shibboleth.

The problem

[2015-02-16 09:02] ogoffart commented on #2842
You can already change the chunk size with the `OWNCLOUD_CHUNK_SIZE` environement variable.  (this is a value in bytes.)

The client 1.8 will do parallel chunk uploads and the size is now 5MiB.
The server is also going to improve with owncloud 8.1

[2015-02-16 09:08] ogoffart commented on #2838
This could be related to #2833

[2015-02-16 09:44] PVince81 opened #2844 "Version 1.8.0 potential packaging dep issue"
Install owncloud-client (non-qt5 version) on openSUSE Factory from the isv:ownCloud:community:testing repository.

These are the installed packages:
[code]

However I cannot start the client:
[code]

@dragotin last week I told you that the client worked for me, but today I noticed that I had "libowncloudqt5sync0" from "isv:ownCloud:desktop" still installed. I soon as I manually removed it, the cli

[2015-02-16 09:47] PVince81 commented on #2844
Huh...hmmm what?!

I just uninstall "owncloud-client" and all occurrences of "libowncloud*sync0" then installed "owncloud-client" again, then it worked.

I suspect that having "libowncloudqt5sync0" and at the same time "libowncloudsync0" installed had file conflicts. Should these packages be made to exclude each other ?

[2015-02-16 10:28] dragotin commented on #2838
which version are we talking about?

[2015-02-16 10:31] dragotin commented on #2844
@PVince81 yes, indeed they should exclude each other. However, its probably best to change the build of the client to use Qt5 if available, and do not have the qt5 package.

[2015-02-16 10:58] MegaV0lt opened #2845 "[Windows 7] Client 1.7.1 - 1.8beta1 - Font: UI rendering bug!"
The client under windows 7 is having an ugly rendering bug. In version 1.7.1 everything looks ok:
![](http://i.imgur.com/BCZ46R7.png)

But in version 1.8beta of the windowsclient the "." and "," are awful misplaced (specialy after "r"):

![](http://i.imgur.com/yJdfIt5.png)

[2015-02-16 11:05] danimo commented on #2845
Probably related to the switch from Qt 5.3.2 to Qt 5.4.0. @jturcotte: any idea how to tell the difference? Did they switch the default renderer? Any way we can switch back to the old one?

[2015-02-16 11:11] wakeup commented on #2838
This was during compilation of the git master branch.

[2015-02-16 11:26] jturcotte commented on #2845
It looks like kerning doesn't work for some reason. You can see it between the 'V' and 'e' of Verbunden, too.

Humm I didn't hear of any significant change in text shaping, it might just be a plain bug that introduced with 5.4.0.

[2015-02-16 11:31] jturcotte commented on #2845
Humm seems like they switched to harfbuzz-ng in 5.4, is that what you were talking about?

Discussion here: https://bugreports.qt.io/browse/QTBUG-41931

[2015-02-16 11:33] jturcotte commented on #2845
According to them, it's not a bug it's a feature, since other Windows application don't apply kerning in that case. Sadly I don't think we can do much about it then.

[2015-02-16 12:01] MegaV0lt commented on #2845
Well, back to C64-Times...
I do not know any other app that renders Text so ugly

[2015-02-16 12:09] MegaV0lt commented on #2845
why is it nessesary to use that qt crap? I also use the latest Dropbox, whitch renders text ok, What are they donig different?

![uascidd](https://cloud.githubusercontent.com/assets/2804301/6211675/f1b4ee92-b5dc-11e4-97ea-d5e8fd033ba0.png)

[2015-02-16 12:19] dragotin commented on #2845
@MegaV0lt they do maaaagiiiick of course. Thanks for the valuable input. Please come up with a pull request for a client not doing Qt any more if you are interested ;-)

[2015-02-16 12:20] MegaV0lt commented on #2845
Don't understand what you mean. My english is basic only...

[2015-02-16 12:21] danimo commented on #2845
First of all: Please calm your tone. We're not enemies here, Fonts are simply not my core competence. I've meanwhile spoken to some people and looked into the Qt code. We use Qt because it allows us to do cross platform programming and don't have to start from square one on every platform (fun fact: Drobox also recently switched to Qt for their UI, but they're probably still on an older version).

[2015-02-16 12:22] MegaV0lt commented on #2845
can we not use the patch mentioned:
[code]
or setting that variable: Setting "QT_HARFBUZZ" to "old" works around the issue, Qt 5.3.2 and 5.4 look the same.

[2015-02-16 12:29] MegaV0lt commented on #2845
Sorry if i was to crude. I was reading that this should be a feature... Am i the only one who is misliking that kind of "textformating"?

Thanks @danimo for the long explanation. I think i understand. It is a bug and hopefully it will be fixed.
On the other side, can we not use a font that does not set that flag? Or use a font that works.

[2015-02-16 12:33] danimo commented on #2845
@MegaV0lt that would be a last resort patch, but I prefer a fix that exactly emulates a native Windows app behavior, and I think it's doable without setting an extra font.

@MegaV0lt hardcoding fonts means that font substitution breaks, and the font substition table is important because in other language regions, the default fonts are not good enough (think e.g. Chinese). So this bug is actually w

[2015-02-16 12:45] danimo commented on #2845
No, but we're mostly dealing with "Oh my Explorer crashes" or "syncing stops randomly" type of issues, which you might agree are more severe, and more important to our user base. A pretty app that crashes tends to annoy a lot more users  :). Of course that shouldn't keep us from attending to detail where possible.

(btw: there is a new installer for windows out there which should keep explorer fro

[2015-02-16 12:59] jancborchardt commented on #11
It looks great and I think the activity icon is very fitting. If anything, the icons for »General« and »Network« look a bit out of place. (Pale color on Network in comparison to Account.)

[2015-02-16 13:00] danimo commented on #11
@jancborchardt Talk to cuppertino. Those are their recommended icons :)

[2015-02-16 13:07] MegaV0lt commented on #2845
Of course the priorities are to fix crashes first. As long the ui is not forgotten i do not have a problem. it is a beta and therefore it can have errors... I will propably stay at 1.7.1 for a few more days, becaus i also had many problems with crashing explorer, sidebar, freecommander, firefox... had to uninstall that msvcc thing and reapir an older one to get my system working again.

But i will

[2015-02-16 15:52] jturcotte commented on #2800
Improved the situation on Windows with a955defae5d272aeeff200bc860fc546906370a8

This will probably help on OSX and Linux as well.

[2015-02-16 16:11] #2842 closed

[2015-02-16 16:42] ogoffart commented on #2837
I can't see why it does not work :-(
Is the normal owncloud client working fine?
Is there anything special with your setup? (like proxy)

[2015-02-16 16:43] felicitus commented on #2837
Yes, the regular owncloud client works fine. No proxy, just a plain web server.

[2015-02-16 23:15] jancborchardt commented on #11
Haha, ok. So I would say we close the case cause the new icons I gave you are retina and look better than the KDE-like icon set? ;)

[2015-02-17 08:42] dragotin commented on #2090
Closed due to inactivity.

[2015-02-17 08:42] #2090 closed

[2015-02-17 09:00] dragotin commented on #2786
I'll move that to the next milestone of the client to recheck.

[2015-02-17 09:58] dragotin commented on #2836
We discovered a problem in the build process with the build of the first beta1. We fixed that in this build:
https://download.owncloud.com/desktop/testing/ownCloud-1.8.0.4730beta1-setup.exe

Please, if you have seen the problem with a previous build (build number < 4730) it would be great if you could update to this build and verify the bug report. Thanks!

[2015-02-17 10:06] dragotin commented on #2558
For the upcoming 1.8.0 client: packages for openSUSE starting with 13.2 now build against Qt5. In 13.1 it uses Qt 5.3.x and thus neon is still required, but in Factory there (currently) is Qt 5.4.0 and we can build without neon.

Please help testing the packages from https://software.opensuse.org/download.html?project=isv%3AownCloud%3Acommunity%3Anightly&package=owncloud-client if possible.

If ot

[2015-02-17 11:07] PVince81 commented on #2786
Note: I tried to put the SVG icons in the "scalable/apps" directory and renaming them, but it didn't solve the problem.

[2015-02-17 11:20] lmaestro commented on #2836
It works fine in this version version 1.8.0 build 4730.
If anyone is able to reproduce it in this build, please reopen it or if it is another problem, please open a new issue.

[2015-02-17 11:20] #2836 closed

[2015-02-17 11:22] lmaestro commented on #2800
It is still happening on Windows in the lates build (version1.8. build 4733)

[2015-02-17 11:36] Rocologo opened #2846 "Syncronisation of small html-files fails over and over again."
Each time I syncronise my ownCloud files the client fails to syncronise the same files over and over again. The error description is: "Could not read response body; connection closed by server"

Its about 10 html files and they only contain one XML tag and it is the same tag in all the files!

![mediadrm cryptosession html -owncloud-development-sdk-docs-reference-android-media - gedit_004](https:/

[2015-02-17 11:41] plages commented on #2836
Same here it works fine now

[2015-02-17 12:31] plages commented on #2836
I think i know what the issue is. I'm running a custom built client side by side the beta build. Now i notice only one of them has the explorer integration. The one that starts up first get the explorer integration.

[2015-02-17 12:31] lmaestro opened #2847 "Local data is removed when you sign in an empty server"
### Expected behavior
 A dialog should be opened asking you if you want to remove all the files or upload them.

### Actual behavior
Local data is removed without asking

### Steps to reproduce

1. Sync your account in your local folder
2. For some reason the data is removed from the server (delete the account and create it again)
3. The client is disconnected
4. Connect the client agin (Sign in )

[2015-02-17 12:31] lmaestro commented on #2847
cc/ @ogoffart

[2015-02-17 12:35] lmaestro commented on #2836
@plages Yes it is a known issue https://github.com/owncloud/client/issues/2505

[2015-02-17 12:50] jturcotte commented on #2800
We can't really fix it completely on Windows, but at least now you'll see a flashing item in the task bar to know that the window appeared there.

Windows doesn't allow an application to raise itself on top and grab keyboard focus to prevent popups. It does work if there were no other windows already opened but my research ended up with the conclusion that we can't really fix that.

[2015-02-17 13:13] ogoffart commented on #2823
I ran massif, and it looks like it's not growing.  (I was connected to localhost and was running a script that touches files)

![massif](https://cloud.githubusercontent.com/assets/959326/6228640/c29883b2-b6ae-11e4-9289-31e70dfc2a56.png)

[2015-02-17 13:25] danimo commented on #2648
This is done then?

[2015-02-17 13:28] michaelstingl commented on #2695
@lmaestro Sorry, no response from user yet.

[2015-02-17 13:29] danimo commented on #2790
@craigpg I'd need access to the signing key (`key F6978A26: public key "ownCloud <info@owncloud.com>"`)

[2015-02-17 13:31] danimo commented on #2695
@michaelstingl Provide him with beta1.

[2015-02-17 13:55] dragotin commented on #2689
Looks like this problem is not longer hot. Closing here, please either reopen here or in the server repo (if turns out that its a server problem). Thanks.

[2015-02-17 14:00] dragotin commented on #2736
scheduling this for the first bugfix release of 1.8 line.

[2015-02-17 14:07] dragotin commented on #2776
Two ownCloud clients on the same machine are not supposed to work flawlessly, that is a known issue. I am removing the gold ticket as this issue is not blocking a release.

[2015-02-17 14:07] dragotin commented on #2558
Fedora 21 is also building against Qt5.

[2015-02-17 14:15] dragotin commented on #1425
Closing this as the problem obviously is solved. Please reopen if not.

[2015-02-17 14:15] #1425 closed

[2015-02-17 14:17] dragotin commented on #2260
Closing this as this is nothing that can now be fixed on the client side. Lets focus on the progress in owncloud/core#12097 .

[2015-02-17 14:17] #2260 closed

[2015-02-17 14:26] dragotin opened #2848 "On authentication failure do not pop up Password dialog"
If the client during normal operation suddenly gets an authentication error, it should not immediately pop up the password dialog (modal) but show a user notification in the  tray and go into the logged-off mode.

It could even try a couple of times to relogin using the same credentials, because it might be that the user backend was offline temporarily.

This enhancement request was derived from h

[2015-02-17 14:27] dragotin commented on #2615
I added a new Feature reflecting this: https://github.com/owncloud/client/issues/2848
It is in backlog now, to be scheduled by @MTRichards

Closing this hence.

[2015-02-17 14:27] #2615 closed

[2015-02-17 14:28] jancborchardt commented on #2732
I’m glad to see by the way that we could solve the problem with the help of user feedback already. ;)

[2015-02-17 14:31] danimo commented on #2285
@cdamken The web is content-follows-browser size, not the other way around. The new default size is 900x700 the first time, and the dialog remembers its geometry now.

@michaelstingl I tested adding the full URL, and it's too long in case of IdPs due to the insanely long parameters. I added "(%host)" now and hope that's sufficient.

I'd very much prefer not to add more theming options here, but fi

[2015-02-17 14:33] MegaV0lt commented on #2836
Last Beta is working here so far; no crash... But the shellintegration does not aper. No contextmenu inside the local oc folder. Do i have to reboot to make it work?

[2015-02-17 14:37] danimo commented on #2836
@MegaV0lt ack

[2015-02-17 14:40] danimo commented on #2720
@cdamken No, everthing works fine here. I need the _exact_ URL where this is happening.

[2015-02-17 14:43] ogoffart commented on #2374
Probably fixed by  3169833cd78335d23d2b5f08d8a0ca852998e070

[2015-02-17 14:58] #2324 closed

[2015-02-17 15:01] ogoffart commented on #2579
Most likely a problem on the server.

[2015-02-17 15:11] MTRichards commented on #2848
Would also be good to do it in such a way that 3 failed attempts because of a password change (90 day password change policy for example) don't lock the user out of the directory.

[2015-02-17 15:23] dragotin commented on #2177
The database locking problems in the client are solved.

[2015-02-17 15:23] #2177 closed

[2015-02-17 15:25] ogoffart commented on #2786
This is a plasma bug, and it should be tracked upstream:  https://bugs.kde.org/show_bug.cgi?id=342906

[2015-02-17 15:25] #2786 closed

[2015-02-17 15:26] dragotin commented on #2847
To prevent this we should store the fileid of the remote directory and compare before syncing. if it changed, something is wrong -> user question.

But no regression.

[2015-02-17 15:27] plages opened #2850 "Interface quirks in desktop sharing dialogue/workflow"
In the Windows client when you right click and choose share with ownCloud, the screen that appears contains the "Share link" checkbox. I have to click it in order to be able to share the selected file/folder. In my opinion a checkbox  represents a choice so in this case it should not be there. Because if don't check it nothing will happen.

Furthermore i think the dialogue should contain "OK" and

[2015-02-17 15:41] dragotin commented on #2850
@jancborchardt your turn please.

I agree, the dialog needs at least a close button (if we do stay with the checkbox), but I also tend to agree that a checkbox is not optimal here. But how would we do it if we want to avoid the checkbox?

[2015-02-17 15:56] dragotin commented on #2846
I can not reproduce that against owncloud server 8. @lmaestro can you check with an ownCloud 7 server? @PVince81 does that ring something for you? Apache mis-configuration?

[2015-02-17 15:57] PVince81 commented on #2846
@Rocologo are you using encryption ?
Do all the files receive the exact same size or different sizes ?

[2015-02-17 16:02] apg1980 opened #2851 "Windows Right click dialog disapears"
i've installed 1.8.0beta1 (build 4730) and rebootet my windows 8.1 client.
i can now open explorer without crashing ist.
But when i right click on a owncloud synced folder the dialog suddenly disapear, not with non synced windows folders.

[2015-02-17 16:18] labkode opened #2852 "1.8beta1 core dump"
My OS is Xubuntu14.10

This happens when you try to move a folder inside another in the web interface.
Then the client crashes, here is he core dump

#0  0x00007f92e6ab8cc9 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007f92e6abc0d8 in __GI_abort () at abort.c:89
#2  0x00007f92e821ec92 in qt_message_output(QtMsgType, char const*) () from /usr/lib/x86_64-lin

[2015-02-17 16:23] labkode opened #2853 "1.8beta1 delete+download on move"
I tried the following test against the demo server at demo.owncloud.org (8.0.0) and a custom one (7.0.1).
When you move a folder inside another in the web interface the client does not follow the move and sees a DELETE + DOWNLOAD of the contents of the folder.

With version 1.7.1 this not happen.
Maybe this issue is related with #2852

[2015-02-17 16:25] danimo commented on #2006
This will be in 1.8

[2015-02-17 16:37] moscicki commented on #2853
BTW, this is a blocker for us. Only last week we have seen 3K directory trees moved/renamed (and possibly countless files contained within these directories).

[2015-02-17 17:06] gig13 opened #2854 "Configuration on where to place the sync journal"
Either as a default or as an option - to store the sync journal somewhere under .local/share/owncloud instead of in the data directory.

This originated from an error message when using AFS. _csync_file_stat_from_metadata_table: WARN: Query results in 11 -> SQLite status code 11 means "database corrupted".

See also:
http://stackoverflow.com/questions/5468349/sqlite-compatible-with-openafs-locking

[2015-02-17 17:41] danimo commented on #2854
I need the exact use case. I.e. why should ownCloud's data be on an AFS partition? It's a local _per machine_ copy, so it may not be shared amongst different machines anyway.

[2015-02-17 18:18] MTRichards commented on #2854
This should go back into the enhancement request queue in SFDC, as this is a feature request.

[2015-02-17 18:31] gig13 commented on #2854
@MTRichards
It has been added in SFDC. Should I only create in SFDC and not in github?

[2015-02-17 18:39] moscicki commented on #2854
@danimo: at least one use case for AFS is simple: in some environments your home directory is on AFS. Sometimes this is a configuration choice on the desktop but sometimes not (for central login services where you have login nodes behind a load balanced DNS, for example). But in that case there is no other choice but to keep the sync journal on AFS too.

[2015-02-17 18:42] danimo commented on #2854
@moscicki The client can be customized to have the location outside the home, but I see your point.

[2015-02-17 18:47] moscicki commented on #2854
For AFS you should also keep in mind that even if you put sync journal on a local partition, the inotify will not always be reliable. To be more precise, you will only get notifications about file operations performed on the same node as the sync client is running. If you create a file in the AFS data directory from another machine you will most likely never get a notification. If you want to cove

[2015-02-17 18:49] danimo commented on #2854
@moscicki Isn't that just another point for not supporting AFS in the first place? If we do periodic scans, I can see laptop users on Battery running in circles with Pitchforks and torches. :-)

[2015-02-17 18:57] plages commented on #2850
I can imagine that the client would only provide share by link functionality.
But in that case the checkbox can be removed and the actions invoked by the checkbox would then be invoked upon right clicking "Share with ownCloud". The easiest solution then would be to have the default mail client open an e-mail with the sharing link when the user clicks OK. The advantage of this is that te user can e

[2015-02-17 18:58] moscicki commented on #2854
Well, on my (personal) priority list I would very much prefer to vastly improve support for laptops and desktops on local disks (in terms of energy consumption and scalability to 100Ks files) in a sync folder. I don't mind if AFS support is somewhat crippled. I hope my colleagues agree (we have 20K home directories on AFS here)....

[2015-02-17 23:00] danimo commented on #2809
Please retry with 1.8.0beta1, and post the errors in a gist, along with the exact version of Qt and the compile flags for both Qt and the client.

[2015-02-18 07:01] rullzer commented on #2850
The check box is there because initially we also had user and group sharing from the dialog. And we should have that again as soon as we get a list of possible share candidates from the server, which will hopefully be available in the 8.1 server.

I think an OK button is a good idea. However, a cancel button is getting ourself in trouble since it suggest we can undo all changes. Assume we click sh

[2015-02-18 07:37] MegaV0lt opened #2855 "Configurable "Host" in URL for generated sharing URLs"
### Expected behaviour
When sharing files from desktopclient the lokal path of oc is used (eg. sheevaplug).
![2015-02-18 08_29_33-owncloud](https://cloud.githubusercontent.com/assets/2804301/6243747/d5eb1ec6-b748-11e4-8305-0e005d51a7b7.jpg)
__Should be possible to set the domain (eg. Darkwing.dyndns.org) that is reachable from outside!__
![2015-02-18 08_28_21-owncloud-freigabe](https://cloud.githu

[2015-02-18 07:43] pierrejochem commented on #2855
Bad question, but why didn't you use the dyndns hostname in your client config?

[2015-02-18 07:44] MegaV0lt opened #2856 "[Windows] Share dialog - Use icon in context-menu"
### Expected behaviour

if i use teh contextmenu from occlient i should get a menu with a oc icon
### Actual behaviour

there is no icon to see
![2015-02-18 08_41_33-](https://cloud.githubusercontent.com/assets/2804301/6243818/07c70c42-b74a-11e4-8924-6e2e9185dcaa.jpg)
### Steps to reproduce
1. install oc client 1.8 beta
2. right click in local oc folder a file
3. context menu is showing no icon
##

[2015-02-18 07:46] MegaV0lt commented on #2855
Because of traffic. i think is better to use local name to not have the data routet over online.
benefit 1: if you have a trafic limit, it is not used because transfer is local
benefit 2: if you have a defect dslline oir other issues it is still working, because the server is local.

[2015-02-18 08:13] plages commented on #2850
Having user and group sharing as well would be great. In that case I would advise to mimic the web sharing dialogue. For the time being is think the checkbox should be removed to avoid confusion. The check box initially led me to believe user and group sharing was available.
The cancel button i.m.h.o. would simply cancel the whole dialogue and undo the whole sharing. Just like one would expect fro