[2015-09-17 10:06] ckamm commented on #3811
Ah, I can reproduce it. In a path with actual backslashes, having a trailing backslash is a problem.

[2015-09-17 10:37] danimo commented on #3667
I cannot start the installer twice. Doing so will result in a message box telling me that the installer is already running.

[2015-09-17 10:41] danimo commented on #3831
@Jofagi This is not a Windows 10 issue. We did some changes in the installer recently. This may be a bug in those changes.

[2015-09-17 10:45] NicolasGoeddel commented on #3844
Maybe I can try this at weekend because the client runs in a productive environment. Compiling should be no problem. It seems there are some Ubuntu packages missing which were not mentioned in the building instructions at https://doc.owncloud.org/desktop/2.0/building.htm
When I have figured out what is missing I will comment again here.

[2015-09-17 11:22] NicolasGoeddel commented on #3844
After installing the packages "build-essential qt4-make qt4-dev-tools pkg-config libneon27-dev qtkeychain-dev libsqlite3-dev" I was able to compile the whole thing. But I do not understand why I should create the directory client-build and the run cmake ../client in it. After compiling the directory client-build remains empty and all binaries were put into client/bin . I would recommend to rework

[2015-09-17 11:58] ckamm commented on #3844
@NicolasGoeddel Thanks for trying this! You can run your selfmade client with --confdir path (create the directory first) to ensure it uses a different configuration from your production client. You have to quit your other client before starting this one though.

[2015-09-17 12:08] ckamm commented on #3856
@PVince81 Currently the client checks for 'N' permission for renames and 'V' permission for moves. https://doc.owncloud.org/desktop/1.8/architecture.html#custom-webdav-properties

Is that a different thing? How does the update permission relate to these two?

[2015-09-17 12:15] NicolasGoeddel commented on #3844
@ckamm Ok then. If I have to quit the other client before starting the compiled one, then we have to wait until the day after tomorrow. It is important that the client runs flawlessly on this specific machine. It would not help to test your debugging code on an other machine.
What debugging code do you want to give me?

[2015-09-17 12:18] Dianafg76 opened #3858 "[2.0.2] If you Modify the Folder Sync Limit, When synchronization has ended it does not appear the warning"
### Steps to reproduce
1. Install v 2.0.2
2. Right on oC icon
3. Click on Settings...
4. Click on General Option
5. Modify the Folder Sync Limit (e.g. 100 MB)
6. Open the Web Server
7. Create a new folder (e.g. More than 100 MB)
8. Upload a file more than 100 MB size
9. Go to Desktop client
10. Wait to sync

### Expected behaviour
You should see the warning

### Actual behaviour
When synchronizati

[2015-09-17 12:22] raivisdejus commented on #3848
Seems that server guys did some magick (eg. updated the php version and configuration) and now everything works fine :)

[2015-09-17 12:23] cruessler commented on #2097
Would such a feature have a chance of getting accepted? If so, I might try to implement it.

[2015-09-17 12:38] ckamm commented on #3844
@NicolasGoeddel Okay then. The code is uploaded to my repo as e3b65c5. If you can compile it and run with --logfile my.log and then show all lines that contain "BUG!", that should help us figure out what's going on.

[2015-09-17 12:57] learningdaily commented on #3813
I've got about 20 users on Windows 7 which were affected by the 2.0.X client and the symlinks (junction) issue.  All had 'My Music', 'My Videos', 'My Pictures', junction links within their 'Documents' (or junction 'My Documents' folder).  I was checking by running the following within a command window on that directory:

<code>c:\users\username\documents>dir /AL /S</code>

At the very least, ownCl

[2015-09-17 12:59] NicolasGoeddel commented on #3844
@ckamm Please can you give me advice how to checkout this code? Or have I simply to do a 'git pull' and then recompile it with 'cmake -DCMAKE_BUILD_TYPE="Debug" .'?

[2015-09-17 13:00] PVince81 commented on #3856
Argh, permission hell.
Let me check the source code: https://github.com/owncloud/core/blob/master/lib/private/connector/sabre/node.php#L235

Looks like "W" is updatable when it's a file, and "CK" for a folder... not easy.

Maybe the server needs to be updated to reflect them ?

Is there a reason why the permissions were not mapped one to one ? @DeepDiver1975 @guruz

[2015-09-17 13:02] ckamm commented on #3844
@NicolasGoeddel Something like this should do it:
[code]
You do not need to compile in debug mode to get the log output.

[2015-09-17 13:07] Lordi999 commented on #3820
@ckamm

I've tried that, but there is no config-File after that.
The owncloud.cfg is written and also deleted within 1 second...

[2015-09-17 13:13] ckamm commented on #3820
@Lordi999 How do you know it is deleted? That's very interesting!

[2015-09-17 13:38] ckamm commented on #3820
There's a new build available that has some extra debug logging: http://download.owncloud.com/desktop/daily/ >=5471. Please try that while generating a logfile (`--logfile my.log`) and look for lines that contain "Saved" - do some of them show a non-zero status?

[2015-09-17 14:39] tflidd commented on #3667
I thought so in the beginning because I've seen two processes in my task manager. I probably didn't start the client twice:

Hope that it is clearer now.

[2015-09-17 14:44] danimo commented on #3667
Ok, so that means the installer never returns from installing the visual studio runtime. How long did you wait? It takes a minute or two.

[2015-09-17 14:50] tflidd commented on #3667
I waited some time. 30s at least, maybe around a minute, could be that I didn't wait full 2 minutes. But why did it succeed when I killed the process, is this visual studio runtime not needed?

[2015-09-17 15:00] danimo commented on #3667
@tflidd It is, but oftentimes other applications have already installed it.

[2015-09-17 15:14] Lordi999 commented on #3820
I see the File in the folder appering and disappering ^^

I don't know why, but i can't generate a log File..?
I'm starting the Client with ""C:\Program Files (x86)\ownCloud\owncloud.exe" --logfile C:\temp\oclog.log"

But i found a Workaround: Starting the Client for configuration as Administrator and then the Config-File will be created...

[2015-09-17 15:14] tflidd commented on #3667
Ok. It's not my computer, so I can't verify if I didn't wait long enough. It very likely because there are no other reports. I close it.

[2015-09-17 15:14] #3667 closed

[2015-09-17 15:14] phil-davis opened #3859 "[Windows 10]Folder sync connection context menu always opens folder tree view"
Version 2.0.2-nightly20150916 (build 5466) on Windows10.
1) Open the client UI and select any account
2) Click the "..." folder sync connection context menu and select any of "Open folder", "Pause sync" or ("Remove sync" followed by Cancel).

The relevant action happens, but also the folder tree view opens for choosing folders to sync.

The folder tree view should not open for these 3 actions.

[2015-09-17 15:26] phil-davis commented on #3858
I tried a similar thing just now with Version 2.0.2-nightly20150916 (build 5466) and it worked fine. But I first pause sync on the client, then add the folder plus files on the server, then resume sync on the client.
I suspect that in this problem report the client has first synced the new folder during the time while the big file was still uploading (when the folder seemed to be 0 bytes). Then wh

[2015-09-17 15:40] Carharttguy commented on #1444
@elgs: 2 comments above you @rullzer states that it will come when there is proper server side supprt. This will be the case for ownCloud 8.2. Now ownCloud latest version is 8.1.

[2015-09-17 15:45] Dianafg76 commented on #3858
If you pause sync on the client.... is working

[2015-09-17 15:47] Dianafg76 opened #3860 "[2.0.2] Error shown after logging out and then click on "Choose What to Sync""
### Steps to reproduce
1. Install v 2.0.2
2. Right click on oC icon
3. Select one account (e.g user24)
4. Click on Log out
5. Right click on oC icon
6. Click on Settings...
7. Select the account user24
8. Click on Choose What to Sync

### Actual behaviour
1. Clicking choose which Sync, you can see the screen to enter the password.
2. The folders open , but you can see an error ( error loading the

[2015-09-17 15:53] phil-davis commented on #3813
I tried to replicate this outside of "My Documents". I did:
1) mklink /D       (makes a directory symlink)
2) mklink /J        (makes a directory junction point)
3) Paste an ordinary shortcut
into an ordinary folder that is in an ordinary folder sync connection.

For items (1) and (2), the folder syncs to the server including any files in the folder it links to. Item (3) the shortcut syncs up to t

[2015-09-17 15:54] ckamm commented on #3813
Thanks for trying to reproduce this @phil-davis, I may also have time to investigate tomorrow.

[2015-09-17 16:02] phil-davis commented on #3858
I expect the problem is like scenario A described in https://github.com/owncloud/client/issues/3543
Nobody has thought of a good way around this yet.

[2015-09-17 16:09] phil-davis commented on #3813
@ckamm I will need to mess around at work tomorrow where I have test systems I can play with. Currently I do not have a sync connection using My Documents, and I am a bit reluctant to mess up my home settings.
Anyone else who wants to try "mklink /D" and "mklink /J" in My Documents and sync it - feel free!

[2015-09-17 16:24] neopaws commented on #3813
@ckamm I am on Windows 8.1 Pro.

And all though I do NOT see the symlinks in explorer even with "Show hidden folders," running junction fixed my issue.

[2015-09-17 16:31] pecuna commented on #2123
Owncloud version 2.0.1
OS: Ubuntu 14.04.3 Gnome LiveCD with persistent file
The icon disappears after while and after that I have to open the client via menu but after closing the client via the Close button  the tray icon is gone too, again.

[2015-09-17 19:03] astucieux commented on #3675
Follow Up Observation:
I have noticed that I always get this message "Forcing job abort on HTTP connection reset with Qt < 5.4.2.3,3 MB" when I first fire-up+log onto my Linux desktop and I copy/move my first batch of files or subfolder into the local ownCloud-Client sync location. The message can appear on the first, and second; up to 3 files and they all appear to be eventually uploaded after al

[2015-09-17 23:36] johnp12345 opened #3861 "Captive Wifi Portal Certificate Error Option To Reconnect"
Hi,

When connecting to a wifi network with a captive portal that intercepts SSL, owncloud windows gives a security warning when it attempts to connect (Expected Behavior). This allows the user to cancel the connection attempt.

After authenticating to the portal the only way to begin syncing is to exit and restart the client.
Reconnect button would get around this issue.

Thanks,

John

[2015-09-17 23:42] danimo commented on #3861
There's a brainstorming ticket in https://github.com/owncloud/client/issues/3731. Please use that rather than opening a new ticket. Anyway, the way to go is not to show a cert warning during automatic connection attempts (rather than explicit ones).

What you are seeing is a side effect of the current state machine design which was not created with this use case in mind: Usually there is no point

[2015-09-17 23:42] #3861 closed

[2015-09-17 23:44] danimo commented on #3861
Apologies, that's the wrong ticket which discusses a related, but not quite the same issue. The right one is https://github.com/owncloud/client/issues/3120.

[2015-09-18 02:56] mscansian commented on #3524
I'm having the same issue. Here is the log file if it helps.

[code]

[2015-09-18 03:10] andrewfister commented on #3820
@ckamm The Qt version isn't showing up in the log. However, I can give you the versions installed on Ubuntu 15.04. Also Qt4 is the default chosen by Ubuntu.

Qt4: 4.8.6
Qt5: 5.4.1

[2015-09-18 03:59] phil-davis commented on #3524
I think that the "choose what to sync" dialog in the initial setup wizard does not have a timeout (or at least has a very long timeout) because that works if you wait long enough.

[2015-09-18 06:46] pierrejochem commented on #3717
![owncloud_2015-09-18_08-46-27](https://cloud.githubusercontent.com/assets/9192953/9953519/c3551556-5de1-11e5-9eb6-ded28cf3beaa.png)

[2015-09-18 07:05] nelwa opened #3862 "Feature Request: Add Maximize & Minimize buttons to Title Bar"
Hi,

Please add maximize & minimize buttons to the windows client.  The window can be resized by dragging on the corners, so I don't know why the maximize & minimize buttons have been removed.

Thanks

[2015-09-18 07:16] ckamm commented on #3847
@pciavald Thanks for making a new ticket, the backtrace looks similar to the ones in #3672 where you reported this initially. Maybe there's another thing that can cause a tray-related crash. Does the problem go away when you set `XDG_CURRENT_DESKTOP=xfce`?

[2015-09-18 07:21] Dianafg76 commented on #3783
I can't reproduce.
@stonerl, @ajpdmiv you could try this version: http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.2722-nightly20150918.pkg
Thanks

[2015-09-18 07:25] danimo commented on #3862
We've had this discussion time and again: It's a (temporary) dialog, not a Window that's open all of the time. Dialogs by definition have no fullscreen/minimize functionality. Plus it will remember its size, so you have to resize it exactly once.

[2015-09-18 07:25] #3862 closed

[2015-09-18 07:34] ckamm commented on #3820
Possibly related http://stackoverflow.com/questions/15427095/qsettings-iniformat-file-gets-empty-after-restart

[2015-09-18 07:39] Dianafg76 commented on #3811
Update an existing ownCloud 1.8.4 installation to version 2.0.2 (ownCloud-2.0.2.2722-nightly20150918.pkg) it is working OK for my

[2015-09-18 07:39] #3811 closed

[2015-09-18 07:48] ckamm commented on #3820
@Lordi999 Try starting the client like this for the log file
[code]

So the config file gets written when you run as administrator? Sounds like there's a permissions issue then!
* Normally, you see the config file appear briefly in your `$USER\AppData\Local\ownCloud`?
* Can you manually create new files there?
* When you run as admin, the client writes a file into this folder?
* Can you edit the f

[2015-09-18 08:34] Dianafg76 commented on #3721
I tried this, and now when I removed the account and if I go to the general option I see the Add an account button.
Closed

[2015-09-18 08:34] #3721 closed

[2015-09-18 08:45] Dianafg76 commented on #3718
I tried this, and now when I removed the account and if I go to the general option I see the Add an account button.
![screen shot 2015-09-18 at 10 44 35](https://cloud.githubusercontent.com/assets/12032058/9955573/4ed7da72-5df2-11e5-84d3-e2db52cf98cb.png)

Closed

[2015-09-18 08:45] #3718 closed

[2015-09-18 08:55] ckamm commented on #3855
@Dianafg76 So you still see the issue? Are the other settings saved correctly? Do you need to restart windows to manifest the issue? Restarting only the client doesn't trigger it?

[2015-09-18 09:00] ckamm commented on #3747
When the client quits, the account settings are saved to the config file again (Application::slotCleanup). Maybe the configuration was wiped beforehand for some reason, or can't be read properly when that QSettings object sync()s. That'd explain account data being saved in the config file while folder data is missing.

[2015-09-18 09:07] stonerl commented on #3783
Downloaded the nightly. And the first part is fixed. The sharing window won't open in the background when the settings window is open.

The second part is still there somehow, but since the window accessible through Mission Control, now it isn't that kind of a problem anymore.

[2015-09-18 09:13] nickvergessen commented on #3490
Okay, here I am again. I'm currently working on the part that returns the Error.
Atm it is always a HTML page, which of course is bad.

Now the question is, what do you guys want as returned status codes:
I'd say 403 (Forbidden) makes sense and is quite obvious.

We will throw an Sabre Exception with that status code, similar to maintenance mode:
[code]

Would you like to have custom exceptions, s

[2015-09-18 09:16] MTRichards commented on #3490
Ultimately the best thing is to have an error code that is either fatal or non fatal to a sync, so at least those two separate error codes. I we can have that, it allows the clients to decide "stop the sync run" or "stop syncing one folder or file". User agent could be stop sync, whereas file size would be stop syncing that specific file.

After that, error codes or strings could be used for more

[2015-09-18 09:34] Dianafg76 opened #3863 "[2.0.2] If you don't accept the Certificate, the server URL changes from HTTPS: // .... for HTTP://"
### Steps to reproduce
1. Install the version 2.0.2 ownBrander, with multiaccount
2. Don't accept the Certificate, Click on Cancel
3. On the window Connection failed

### Expected behaviour
Tell us what should happen

### Actual behaviour
On the window Connection failed, click on red button
![screen shot 2015-09-18 at 11 08 07](https://cloud.githubusercontent.com/assets/12032058/9956120/bd5f4238-5

[2015-09-18 09:37] Dianafg76 commented on #3783
@stonerl Thanks

[2015-09-18 10:03] ckamm commented on #3747
Unfortunately this will happen *again* on the update from 2.0.1 to 2.0.2, because the bug was an unintended side-effect of the shutdown process after launching the updater. :(

[2015-09-18 10:18] stonerl commented on #3783
@Dianafg76 You're welcome.

[2015-09-18 10:59] phil-davis commented on #3813
I can't replicate this even on my Documents folder on Windows10. I have some junction points already in there (I now realise how they came - this profile on our domain comes from some time ago when we had a group policy that maintained backward-compatibility with the WindowsXP way). They look like:
[code]
I added a folder sync connection between a folder on the server and C:\Users\phil.davis\Docum

[2015-09-18 11:14] blanik commented on #3813
Just upgraded another windows 10 computer from 1.8.4 to 2.0.1 and the
problem has happened again.

dir /AL /S gives...

 Volume in drive C has no label.
 Volume Serial Number is 6C2D-CF77

 Directory of C:\Users\Martin\Documents

01/02/2015  17:22    <JUNCTION>     My Music [C:\Users\Martin\Music]
01/02/2015  17:22    <JUNCTION>     My Videos [C:\Users\Martin\Videos]
               0 File(s)

[2015-09-18 11:19] ckamm commented on #3813
@phil-davis I get similar behavior on Windows 7: There are three junction points in the directory, but the client just ignores them.

@blanik Yes, a log file would be helpful. See https://doc.owncloud.org/desktop/1.8/troubleshooting.html#saving-files-directly (start with --logfile mylog.txt) Currently we don't know what exactly is going wrong.

[2015-09-18 11:23] phil-davis commented on #3813
My laptop was also upgraded from W7 to W10. And I don't see anything in recent 2.0.2 changes since 2.0.1 that would have fixed this issue. So it is still a mystery as to exactly what are the necessary set of conditions to trigger this.

[2015-09-18 11:36] ckamm commented on #3747
@Dianafg76 What's wrong?

[2015-09-18 11:41] LukeOwncloud commented on #3811
Second confirmation: My old (previously broken config file) works with `ownCloud-2.0.2.5474-nightly20150918-setup.exe`.

[2015-09-18 11:43] ckamm commented on #3858
I agree that this seems like a case of #3543. We'll not address this for 2.0.2.

[2015-09-18 11:43] #3858 closed

[2015-09-18 11:59] Dianafg76 commented on #3747
@ckamm sorry

[2015-09-18 12:06] XANi commented on #3373
I have same problem on Linux and while **SSL** is running.

In my config Owncloud server is behind HAProxy which is doing SSL for it. But if I connect to same haproxy (same frontend, same config etc) but with http it works fine

[2015-09-18 12:16] ckamm commented on #3843
I have not been able to reproduce the crash.

But removing an account while a folder is syncing does indeed mess with sync scheduling: The account's folders are removed from the folder manager before the currently active folder finishes. And then the syncFinished() signal won't reach the folder manager and it won't schedule the next folder.

[2015-09-18 12:19] stonerl opened #3864 "New monochrome icons are difficult to differentiate"
I downloaded the latest nightly for OSX: ownCloud-2.0.2.2722-nightly20150918 and noticed that new monochrome icons have been added. The problem with these new icons is that they are very hard to differentiate in comparison to he old icons.

Comparison (first new, second old icon):

Syncing:
![screen shot 2015-09-18 at 14 08 13](https://cloud.githubusercontent.com/assets/2091312/9958937/53b8536a-5e

[2015-09-18 12:21] ckamm commented on #3843
@Dianafg76 Can you show what's in the log file just before the crash and ideally provide a backtrace?

[2015-09-18 12:26] blanik commented on #3813
I'd rather not publish the full log, but I think the relevant bit is pasted
below.

12:42:02:042 0x8f418b0 csync_ftw: Uniq ID from Database: My Music ->
559bc4f96f841
09-18 12:42:02:042 0x8f418b0 csync_walker: directory:
C:/Users/Martin/Documents/My Music [inode=46714]
09-18 12:42:02:042 0x8f418b0 _csync_detect_update: Database entry found,
compare: 1440911586 <-> 1436271865, etag: 559bc4f96f841 <

[2015-09-18 12:36] danimo commented on #3864
@jancborchardt

[2015-09-18 12:46] Auxink opened #3865 "[2.0.1] [Windows] The client does not register that files have changed if the folder is junction (link)"
### Steps to reproduce
1) Create folder junction inside owncloud sync folder pointing outside the owncloud sync folder with command line command: mklink /j &lt;link-name&gt; &lt;target-path&gt;
2) Create some files inside the folder
3) Edit files few times
4) Have a look at log

### Expected behaviour
Register that files have been changed and synchronize them.

### Actual behaviour
Nothing happens

[2015-09-18 13:22] stonerl commented on #3816
I do have the same issue. In my case it was a 27MB file (the owncloud client for OSX).
[code]
and this:

![screen shot 2015-09-18 at 14 56 30](https://cloud.githubusercontent.com/assets/2091312/9959613/958e51d0-5e15-11e5-87fb-b65fd0722eaa.png)

I have this error in the owncloud logs when an upload does not succeed:
[code]

Problem though I cannot reproduce this reliable. I just restarted my Server

[2015-09-18 13:36] stonerl commented on #3816
Here are the logs from apache regarding this file:

[code]

[2015-09-18 13:45] jancborchardt commented on #3864
I was also confused when @stonerl mentioned that there were »new« monochrome icons. There was never anything wrong with the current ones, and the new ones are indeed too complex and difficult to distinguish because it’s too small.

@danimo can you ask Achim to change it back, or in case you have the old icons still revert that?

[2015-09-18 13:47] danimo commented on #3864
@jancborchardt the old icons were vector-based and lacking some essential sizes. Can you guys discuss this directly pls?

[2015-09-18 13:58] guruz commented on #3865
What happens if you restart the client?
Does it error on sync?
Does it ignore the files on sync?
Does it succeed?

[2015-09-18 15:02] Ninos commented on #3816
@guruz I've updated my owncloud.log in one of my older posts.

Here's also my apache2 error.log:
[code]

In php-fpm I cannot find relevant logs:
[code]

[2015-09-18 15:32] guruz commented on #3816
Can you guys set the bandwidth limiting settings in the client to ```automatic```? This should set down the parallelism to 1, maybe that helps tracking down the issue.

@stonerl Did you try https://github.com/owncloud/client/issues/3816#issuecomment-140795384 ?

[2015-09-18 15:47] Auxink commented on #3865
Every time there is full sync, it finds all non-synced files, which is every 2 hours or after client restart.
There is no sync when I change any file, so there is no error, no log, nothing.

[2015-09-18 15:51] guruz commented on #3865
I asked because I was thinking it triggers https://github.com/owncloud/client/issues/3813 ?

[2015-09-18 15:58] guruz commented on #3859
It's a side effect of the code to open the tree on single click.
Since we're not using QML yet we can't easily put a button into the tree view, so we fake-paint one.
We could work around this if other people think it's critical.

[2015-09-18 15:58] Auxink commented on #3865
I wasn't sure if it's the same problem, but if it is, you can close it as duplicate.

[2015-09-18 16:02] guruz commented on #3857
Can you verify if the ```.git``` is using hardlinks somewhere inside?
Maybe that helps to find the problem.
Does the activity log show anything?
You can run the client in Terminal with ```/Applications/owncloud.app/Contents/MacOS/owncloud --logfile -``` to see a log.

[2015-09-18 16:06] guruz commented on #3854
Thanks Phil & Mr. Beans.. let's close this for now.

If it's not fixed with 2.x on FreeBSD then maybe Qt4 vs Qt5 could be another thing to look t.

[2015-09-18 16:06] #3854 closed

[2015-09-18 16:07] Ninos commented on #3816
I don't know what happend, but now I can upload files without problems again (still without bandwidth limit).
What I've done:
- Upgraded from Windows 8.1 Pro x64 to Windows 10 Pro x64 (some days ago)
- After upgrade of the owncloud client (1.8.4 to 2.0.1) I've removed the folder sync and readded it again (today)

The reason why I've readded the sync folder is, because the paths were wrong after up

[2015-09-18 16:07] stonerl commented on #3816
I set ```SSLRenegBufferSize 524288```, 4 times higher than the default, but still the same problem.
Also changing the client limit to ```automatic``` did not help.

[2015-09-18 16:11] Ninos commented on #3816
@stonerl which OS are you using? Also try to readd the sync folders. May that helps you, too.

[2015-09-18 16:12] stonerl commented on #3816
@Ninos
Server: Ubuntu 14.04
Client: OS X 10.10

[2015-09-18 17:11] stonerl commented on #3816
Just for the record. I think, but I'm not entirely sure, these upload errors started since I updated the Server to v8.1.x.

Furthermore I can upload big files using the web interface. On my second server, with v8.1.3, I don't have these kind of problems, and the configuration is identical as far as I can tell.

[2015-09-18 18:14] stonerl commented on #3816
Just some additional notes. This is not a v2.0.1 bug I just tested it with 1.8.4 and the same happens. So I guess it must be the server that is messing something up.

[2015-09-18 18:16] ajpdmiv commented on #3783
thanks to everyone.

*Autry J. Pruitt* - Creative Director & Founder
urrepublic.com |1205 Rio Grande Street |Austin, TX 78701 | 202.888.7864
facebook.com/urrepublic | twitter.com/autry |twitter.com/urrepublicmedia

*THIS MESSAGE AND ANY ATTACHMENTS ARE CONFIDENTIAL, PROPRIETARY, AND MAY BE
PRIVILEGED. If this message was misdirected, UrRepublic, Inc. and its
subsidiaries, ("UrRepublic") does not w

[2015-09-18 18:21] guruz commented on #3816
Would you be willing to try 1.7.x too? We know we had some network library (Qt) changes from 1.8.x.

[2015-09-18 18:24] stonerl commented on #3816
Can you provide me a link to 1.7 for OSX btw. there is an open issue in core: https://github.com/owncloud/core/issues/9832

[2015-09-18 18:25] guruz commented on #3816
@stonerl https://owncloud.org/changelog/desktop/

[2015-09-18 21:38] fishermans opened #3867 "German local not complete"
Some German locals are not translated, yet. I would improve that but my request to join the translation group on transifex has not been accepted.

So my question: How to add missing translation and how to replace some "odd" translations?

Cheers
Fishermans

[2015-09-18 21:46] fishermans commented on #3867
e.g.:
[code]
should be:
[code]

[2015-09-18 22:08] Pastafarianist opened #3869 "Sync conflict files?"
When the client detects a conflict, it creates a new file called `<filename>_conflict-<date>-<time>.<ext>`. This file does not propagate from the machine where it is created (as of client 2.0.1 running under Kubuntu 15.04 and server 8.1.1). This may cause loss of data. For example, if I lose the device with the this file, this loss is irrecoverable.

[2015-09-18 23:07] pciavald commented on #3847
[code]
I mainly use i3 as my desktop but it behaves the same under Mate. Owncloud used to work fine until I install qt-creator from the repositories, so I autoremoved it but Owncloud still crashed.

[2015-09-18 23:47] stonerl commented on #3816
@guruz I took my some time but I think I found the problem,.

According to many commenters, from the issue in core, setting ```SSLRenegBufferSize 10486000``` solved it for them. I tried this and I had some success. The error occurred much later but still so many times that the file got blacklisted due to too many ```expected filesize 5242880 got 0```. I then doubled it to ```SSLRenegBufferSize  20

[2015-09-19 00:01] jancborchardt commented on #3864
@danimo as always, you know better which sizes you need. It’s simplest if you mail Achim directly about this, and also ask him for the SVGs (and put them in the version control so we have them if we ever need adjustments or more sizes).

[2015-09-19 06:33] phil-davis commented on #3869
And also that means that other people/client devices do not receive the conflict file and so those people/client devices are not aware of the conflict and thus cannot help to resolve it.

[2015-09-19 10:01] blanik commented on #3813
downgraded to 1.8.4 on the same computer - log entries now look like it can follow the symlink to 'my music' which is empty, and 'my pictures', and the sync is completing successfully.

If anyone wants me to look at the junction points in detail on this machine let me know any commands they want me to run.

09-19 10:36:12:763 0x6f03e40 csync_walker: directory: owncloud://xxxxxx/owncloud/remote.php

[2015-09-19 10:19] RealRancor commented on #3869
Hi,

seems thats the wanted behaviour when reading this correctly:

https://doc.owncloud.org/desktop/2.0/architecture.html#comparison-and-conflict-cases

[2015-09-19 12:17] Claire75 opened #3870 "[OS X] ownCloud Testpilot Edition-2.0.2.2717beta1 : no overlay icon ..."
![capture d ecran 2015-09-19 a 14 18 30](https://cloud.githubusercontent.com/assets/14247476/9976122/9cb813a0-5ed9-11e5-8495-919de8092d25.png)
I've already mention this https://github.com/owncloud/client/issues/3819 ( and the way i fixed it )

this morning,  I just install ownCloud Testpilot Edition-2.0.2.2717beta1.pkg and ... no overlay icons for my new folder for this version. ( nuage is the own

[2015-09-19 13:13] stonerl commented on #3816
@guruz
Everyrthing i wrote about ```SSLRenegBufferSize``` and ```KeepAliveTimeout```.... another day another bug. It does not matter at all, what I said here. Today I'm not able to upload files larger than 5MB.

I installed the v1.7.1 of the client. And there is the same problem. But, in v1.7.1 the chunksize is 20MB, so here I can upload files that are smaller than 20MB. If i try to upload a bigge

[2015-09-19 14:14] Ninos commented on #3816
@stonerl have you also tried to readd the sync folders?

[2015-09-19 15:25] stonerl commented on #3816
@Ninos Yes, I removed the folders and added them again. I also removed the account readded it. But this did not solve anything. As I stated before chunking is broken for me. But only on one server, with my other server i don't have these problems at all.

[2015-09-19 15:27] Pastafarianist commented on #3869
The conflict files may contain important information. I originally discovered the problem when I found a bunch of conflicts of my password database, which presumably meant that I added some passwords on one PC, then on another PC, then saved the database on the first, and finally saved it on the second.

[2015-09-19 16:31] stonerl commented on #3816
OK I found it, but have no solution:

I uploaded a file. This file got split into several chunks. Here is the content of the cache folder on the server:

[code]
As you can see chunk 0/3/4 have already been uploaded and chunk 5 was on its way. I did ```ls -la``` in the  ```cache```folder the whole time but chunk 1 and 2 never appeared.

Now have a look at the apache.log file:

[code]

Here you can

[2015-09-19 17:35] RealRancor commented on #3869
If it contains useful info for you follow the advise above and remove the conflict files pattern from the global ignore list.

[2015-09-19 18:28] Pastafarianist commented on #3869
Thanks for the advice! I have followed it.
However, I doubt whether it is a good idea to restrict conflict synchronization. The ownCloud docs do not specifically mention that the conflicts should not be synced:

My rationale is that the conflicts may contain useful data. Could you elaborate on why you consider it generally pointless to sync them?

[2015-09-19 19:59] astucieux opened #3871 "Client appears to attempt the download of a file that is in the process of being uploaded."
(Linux Mint KDE 17.1 LTS (Ubuntu 14.04) ownCloud 8.1.1 plus OC-client 2.0.1)
I often see errors reported on the OC client Sync-Activity with an:
Error downloading https:// .......... server replied: Internal Server Error (Could not obtain lock type 1 on "/mnt/oc-filestore/data/.....+ other-file-details.
This may just be a "timing" problem that is difficult to avoid, but it causes "User" alarm. Bot

[2015-09-19 21:04] s24195 opened #3872 "Client "exploring" unselected folders"
Hi,

I am using version 2.0.1 of the windows sync client and I am syncing my lightroom catalogue to a local OC server.
Lightroom creates previews of every photo you have in your catalogue and saves them in a lot of directories.
In my case these are 15 GB in 52'000 directories holding 120'000 files.

I have deselected these subfolders from the sync, but the client is always exploring them.
As this

[2015-09-19 21:17] stonerl commented on #3816
Sorry guys for spamming you, but I digged a little deeper. I tested to upload a 2GB file. And checked what happend on the server and also checked the client log.

2GB file means 400 chunks á 5 MB.

Chunk 1 - 10 were already transferred the chunk 12/13 where in the middle of the transfer but chunk 11 never made it to the server. Chunk 11 was what aborted the the transfer.

In the second attempted e

[2015-09-19 22:20] zarej commented on #3455
You need to install mingw32-libopenssl-devel and after that you need to start cmake with -DOPENSSL_INCLUDE_DIR=/usr/i686-w64-mingw32/sys-root/mingw/include/openssl

So complete cmake should be:
cmake -DCMAKE_TOOLCHAIN_FILE=../client/admin/win/Toolchain-mingw32-openSUSE.cmake -DOPENSSL_INCLUDE_DIR=/usr/i686-w64-mingw32/sys-root/mingw/include/openssl ../client/

If you asked for qt5keycahin you may

[2015-09-20 09:48] nekoal commented on #2792
OK

[2015-09-20 11:24] blanik commented on #3828
Similarly with the Windows client, it can be quite CPU intensive at times affecting normal use of the laptop. I have installed processtamer to reduce it to low priority but I think it would be good to have a priority option on the settings page.

[2015-09-20 11:42] bivanecon commented on #3813
I have the similar issue, although, I'm not sure the same.
Client Version 2.0.1 (build 5446) on Windows 7 Enterprise (both 32 & 64 bit)
I can't get syncing the folders when local folder to sync is "Documents",  and remote is root (/) of the owncloud folder on server (subfolders leads the same error).
![error](https://cloud.githubusercontent.com/assets/14369762/9980472/1747bede-5fa4-11e5-961a-57be9

[2015-09-20 14:07] yonas commented on #3854
Thanks Phil, guruz, upgrading to v2 fixed it.

[2015-09-20 20:52] GiovanniMoretti commented on #3857
It's annoying and error-prone to have to specify potentially dozens of git repos to be ignored (and potentially broken if one is missed). Git repos already have a method of being synced, is there a way telling ownCloud to simply omit from syncing any directory that contains a .git subdirectory?

[2015-09-21 07:39] ferdiga opened #3873 "client errors during sync of google drive"
![google drive sync](https://cloud.githubusercontent.com/assets/6248560/9986882/02de6e22-6042-11e5-8562-011ae64b865a.png)

### Steps to reproduce
1. configure google drive external storage
2.
3.

### Expected behaviour
Tell us what should happen
should sync or handle errors more gracefully

### Actual behaviour
many error massages see screenshot
in the browser a lot of files (google documents?)  h

[2015-09-21 07:58] Dianafg76 commented on #3843
I tested this issue and now is working OK
Desktop v ownCloud-2.0.2.2730-nightly20150921.pkg
Close

[2015-09-21 07:58] #3843 closed

[2015-09-21 08:16] NicolasGoeddel commented on #3844
I am now trying to crash owncloud for half an hour and it don't want to crash. The log has already a size of 1.4 GB. I hope it won't grow too fast.

[2015-09-21 08:20] RealRancor commented on #3869
Lets say you have a shared folder where 100 clients are syncing against. If one client creates an conflict this file would be synced to all 99 clients. You can guess what mess/confusion this can cause, especially if you have a lot of non-tech safe people.

I think the ignore pattern of the conflicts files also wasn't put into the sync-exclude.lst just for fun.

[2015-09-21 08:37] Pastafarianist commented on #3869
That's an interesting point. Do the other providers (Dropbox, Google Drive, Onedrive, Yandex.Disk) disable syncing conflicts too?

[2015-09-21 09:00] Dianafg76 commented on #3863
I tested this issue, and is working OK
Closed

[2015-09-21 09:00] #3863 closed

[2015-09-21 10:09] despens commented on #3826
Dear @guruz,

regarding, `SSLRenegBufferSize` on the Apache side: my Apache is not using SSL, the nginx frontend is handling it.

Regarding the logfiles: the sync client on my laptop doesn't show a log file anymore when i hit F12. My `owncloud.log` on he server is pretty long, can you give me a hint what to look for?

[2015-09-21 10:22] RealRancor commented on #3869
I think most of the people don't use other providers. If you have some spare time free feel free to do a test with other providers. :)

[2015-09-21 13:23] smu commented on #3726
Same problem on arch linux with i3 as window manager.

[2015-09-21 14:57] dragotin commented on #3383
Moving this back to 2.0.2 milestone, as we need to test that. The part with the changed url is also already in 2.0.2

[2015-09-21 15:13] guettli commented on #3828
A priority option would be nice. For me sane defaults are more important. For me this is maximum nice and ionice.

[2015-09-21 21:54] petervcook opened #3874 "Mac: Contextual Menu Not Showing Share on OwnCloud Option"
### Expected & Actual behaviour
Since upgrading from v 1.8.4 to v 2.0.1 of the Mac client, the contextual menu setting for sharing the folder on OwnCloud has gone missing. No other changes were made either to the server install or client OS version.

### Steps to reproduce
I have confirmed the issue with 2 other co-workers who did not upgrade, but installed v 2.0.1 as their first ownCloud desktop

[2015-09-22 07:21] Dianafg76 commented on #3747
I can't reproduce this issue with Win Server 2008 Enterprise.
@tangix, @RalfWW, @phil-davis Could you try, update from 2.0.1 to 2.0.2, please
Thanks

[2015-09-22 07:29] despens commented on #3864
I know monochrome icons are hot right now, the truth is though:

~~New~~ monochrome icons are difficult to differentiate

:speak_no_evil:

[2015-09-22 07:33] despens commented on #3857
Try adding the desired pattern here:
![selection_390](https://cloud.githubusercontent.com/assets/571494/10012918/f8724c76-610c-11e5-8b14-37619813da03.png)

[2015-09-22 07:34] despens commented on #3857
Try adding the desired pattern in the client
![selection_390](https://cloud.githubusercontent.com/assets/571494/10012934/1e988a28-610d-11e5-865a-31581ba1b1a1.png)
 here:

[2015-09-22 07:34] tangix commented on #3747
@Dianafg76 : just upgraded from 2.0.1 build 5446 to 2.0.2 build 5464 and my settings survived. No other problems detected.

[2015-09-22 07:39] Dianafg76 commented on #3747
@tangix Many thanks

[2015-09-22 07:40] #3747 closed

[2015-09-22 07:55] jancborchardt commented on #3864
@despens we need monochrome icons though to fit the operating system. In the settings it’s possible to choose the normal tray icons. Also, most often the state is fine anyway, and if there’s an error you get a notification.

[2015-09-22 08:04] dragotin commented on #3864
replace "fit the operating system" with "please the picky users of certain operating systems" :smile:

[2015-09-22 08:28] despens commented on #3864
Yes, I'm off-topic here. Apple and Google dictate monochrome, and it is just so difficult to create good monochrome icons. Take this image and ima shut up ;)

![selection_391](https://cloud.githubusercontent.com/assets/571494/10013774/ae17e368-6114-11e5-83e0-7b4d80172fee.png)

[2015-09-22 08:51] phil-davis commented on #3747
I think this problem happened when the auto-updater ran automagically. Whenever I did a manual upgrade it worked fine between any versions.
I have installed 2.0.1 release from scratch on a test machine and set up some folder sync pairs.
Is there a way to trick the 2.0.1 client into finding a 2.0.2 update somewhere?

[2015-09-22 09:54] jancborchardt commented on #3864
So does Ubuntu, GNOME, KDE, and even Windows now too.

No. As said above, basically every operating system uses monochrome tray icons and it would look out of place and attention-grabbing if we use colored icons then.

[2015-09-22 10:30] pierrejochem commented on #3864
What happens if the OS distributors decide to go back to 3D art :smile:

[2015-09-22 11:22] wadedugas opened #3875 "OwnCloud causes MacBook Pro fan to run fast and noisily during sync"
Client version: Version 2.0.1 (build 2694)
Server: ownCloud 8.1.3 (stable)

The fan on my mid 2015 MackBook Pro runs loud enough to be annoying while ownCloud is syncing. The client seems to take up to 100% of one processor at times and still enough at other time so the fan runs fast enough that the noise is very annoying.

I believe the ownCloud client should not consume so many resources that it

[2015-09-22 14:19] astucieux opened #3876 "Linuxmint 17.1 Client(2.0.1) Hidden subfolders+files not downloaded even when selected for a fresh ownCloud root folder"
Like a few other OC users, I've been caught out by the "client 2.x.x" default action change to ignore hidden files and folders. See:#3688. Personally I think the enhancement in 2.x.x should have been "click to ignore hidden files". Far less disruptive..... Never mind, what's done is done.

The Problem with this Processing Change:
On my domestic ownCloud  8.1.1, a various number of hidden folders a

[2015-09-22 18:22] petervcook commented on #3874
A colleague found the solution. User's have to go to "System Preferences" -> "Extensions" -> "Finder" and check the tick box for "ownCloud Extensions". Perhaps a prompt to the user after installing the desktop client could be added to let users know the required steps.

Now that we see that feature, a new feature request would be to provide a way to share with other users, as opposed to just shari

[2015-09-22 19:33] Lordi999 commented on #3820
1.) yes, if i start the client normally, i see the config File appering in this Folder. After that, it's gone
2.) Yes, I can manually create Files there
3.) Yes
4.) Yes

[2015-09-22 22:45] tps800 opened #3877 "OwnCloud -Client stops syncing on certain files (mostly PDF)"
### Hints
Upgraded pam??
-> pecl remove pam
-> pecl install pam

### Steps to reproduce
1. Install OwnCloud, Configure OwnCloud, Configure LDAP access
2. copy some large PDF files to your sync-folder
3.
4.

### Expected behaviour
All files syncing

### Actual behaviour
Sometimes some files will not sync. Instead the client reports only "Connection closed" events. On the server side I only find the

[2015-09-22 23:32] guruz commented on #3877
Are you 100% sure the server initiates the connection close?

I suggest to copy the file to something innocent like ```myfile.txt``` and see if the behaviour changes?

Do you get this for both Windows and Linux client?

If you set bandwidth limiting up/down to automatic, does this change anything?

[2015-09-22 23:33] guruz commented on #3877
What do you get in server's ```owncloud.log```?

[2015-09-22 23:39] guruz commented on #3875
@wadedugas Can you check the settings windows if this only happens while it says "Discovering"?
Or also while doing actual file uploads/downloads?
Can you tell us a bit about the amount of sync folders and files you have?

[2015-09-22 23:40] guruz commented on #3872
@ogoffart I was under the assumption that non-selective-synced-folders are ignored?

[2015-09-23 05:10] wadedugas commented on #3875
@guruz It seems to be only during discovery. The folder is 17GB with 61,187 files.

The discovery seems to check all files and folders whenever just a single file is changed. For instance, I have a single file which I update regularly in the root directory. Instead of seeing activity of discovering and synching the single file, the client seems to discover all files and folders and then just syncs

[2015-09-23 06:43] rienesl commented on #3754
I have similar problems on several clients. If you forget to uncheck the checkbox "Ask confirmation before downloading..." after update, it does NOT ask, it simply unchecks those folders! The worst thing is, though I use only external storage, I have no chance to check them again, because of the "Error while loading the list of folders from the server." Using 1.8.4 everything was OK.

[2015-09-23 07:22] phil-davis commented on #3874
Now that we see that feature, a new feature request would be to provide a way to share with other users, as opposed to just sharing via a public link - see https://github.com/owncloud/client/issues/3737

[2015-09-23 07:37] phil-davis commented on #3754
@riesnesl You are getting a Catch-22 due to https://github.com/owncloud/client/issues/3524 "Error while loading the list of folders from the server."
When a new folder is detected that is larger than the limit, then it is unchecked for you by default in the folder tree view. Then you can choose to check it if you like and then press Apply.
Since there is this timeout problem that results in you (a

[2015-09-23 09:30] #3783 closed

[2015-09-23 10:55] Dianafg76 commented on #3855
I tested this issue, and it is working OK
Desktop client v ownCloud-2.0.2.5484-nightly20150923-setup.exe
Closed

[2015-09-23 10:55] #3855 closed

[2015-09-23 11:06] rienesl commented on #3754
@phil-davis
The only, but very time consumptive workaround is to expand and minimize the tree several times. Using this method, you need between 1 and 10 Minutes for one level. If you count those time up for 4-5 level deep structures and this several times, you spend quite some time to get all the checkboxes checked...
PS: I started reading in #3524, but to be honest: I stopped, when I read, that

[2015-09-23 11:11] phil-davis commented on #3754
In #3524 I was just referring to the fact that the server I was using happens to be on a commercially hosted provider, and thus I do not have deep-level access to mess with the underlying config settings. It is just running ordinary ownCloud and the bug is easy to reproduce - including on your own ownCloud server install, as you have experienced.

[2015-09-23 13:47] #3874 closed

[2015-09-23 13:52] petervcook commented on #3737
+1 on Mac as well.

[2015-09-23 14:00] jancborchardt commented on #3737
Design-wise as said before, please use the server sharing as blueprint. That’s basically the master living mockup of sharing. There can be contextual enhancements, as for example on mobile. But on desktop I see this being pretty much the same as on web.

[2015-09-23 20:58] cmonteroluque commented on #3834
https://github.com/owncloud/client/issues/3834#issuecomment-140498701

I agree.

[2015-09-23 21:44] guruz commented on #3871
@PVince81 @DeepDiver1975 ?

[2015-09-24 04:45] moscicki commented on #3834
I think that the update mechanism should use a trusted channel over https. Does it do in this way or does it allow to download from arbitrary URL over http? Is the downloaded package digitally signed or can it be anything? For example, in my environment I would require that the packages are downloaded from the server which presents certain certificate, for instance, the same certificate that is us

[2015-09-24 05:53] danimo commented on #3834
@moscicki: The URL is HTTPs by default. If you chose to specify a HTTP URL for testing via the variable, that is fine.

The package is supposed to be digitally signed. On Mac, it is additionally secured by a DSA signature (feature of Sparkle) and the package itself is signed, which is checked by GateKeeper before execution. On Windows, The binary is not signed independently, but carries a Authenti

[2015-09-24 06:31] Dianafg76 commented on #3724
@danimo I tested this issue with stable81, and with working OK
Dektop v ownCloud-2.0.2.2740-nightly20150924.pkg
Server v {"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":"Enterprise"}

[2015-09-24 08:54] PVince81 commented on #3871
Possibly related https://github.com/owncloud/core/issues/19068

[2015-09-24 10:41] GrimDemon commented on #3871
Yup, it's related to my problem.

[2015-09-24 11:29] Dianafg76 opened #3878 "[2.0.2] You can create the same user with the same account whenever you want"
### Steps to reproduce
1. You neww install v2.0.2
2. Configurate two account (e.g user1, user2)
3. Go to oC Icon
4. Click on Settings...
5. Clcik on General
6. Click on Add an Account
7. Introduce the same URL than the user2
8. Click on Next
9. Introduce the same name (e.g User2 and the password)
### Expected behaviour

you can't create the same user with the same account as often as you want
###

[2015-09-24 11:42] phil-davis commented on #3878
I have done this purposely (while playing and testing). For example:
1) Create account 1 for user1 and sync everything to D:\ownCloudme
2) Create account 2 for user1, then set up various folder sync connections to spread the files all around your computer:
a) Documents to C:\Users\me\Documents
b) Pictures to C:\Users\me\Pictures
c) ImportantStuff to C:\ImportantStuff

Now if I add/change things in

[2015-09-24 11:43] Dianafg76 commented on #3878
@phil-davis Thanks

[2015-09-24 11:51] dragotin commented on #3878
So far I think the only thing that should not be allowed is that two syncs use the same local folder. And I think that is prevented by the sync connection setup wizard.

But even that could work, as long as two syncs do not run in parallel which they do not currently.

[2015-09-24 11:52] dragotin commented on #3878
so, bottomline, I am not sure if this is a bug at all. @MTRichards thoughts?

[2015-09-24 12:17] Dianafg76 opened #3879 "[2.0.2] Deselect to the option "Allow apps to use the Share API" on the Server, and Share one folder on the Desktop you can see "OCS API error code:403""
### Steps to reproduce
1. Install v 2.0.2
2. Go to Server Client
3. Sign in as Admin user
4. Go to Admin
5. On Sharing option, deselect to the option "Allow apps to use the Share API"
![screen shot 2015-09-24 at 14 01 32](https://cloud.githubusercontent.com/assets/12032058/10072818/d54080ec-62c4-11e5-96f4-06c292e10c0e.png)

6. Go to the Desktop Client
7. Configurate one account
8.  Open folder (..

[2015-09-24 12:57] astucieux commented on #3871
I have now put 'filesystem_check_changes' => 0 into my ownCloud config.php, performed a "sudo service apache2 reload". Which I assume will refresh/restart everything okay (Please tell me if I'm wrong, I'm still learning, slowly!). The issue (Could not obtain lock type 1 on .....) is still occurring. I had it twice in a brief test that I performed. I have noticed that the lock message typically app

[2015-09-24 13:35] dragotin commented on #3816
The apache access_log in comment https://github.com/owncloud/client/issues/3816#issuecomment-141685695 shows something interesting:
The PUTs on ..3480177877-141-1 and 3480177877-141-2 are replied by status code 401. That means "Unauthorized". That means that both the session cookie was invalid, but also the basic auth header. That is strange. Both requests are tried again short afterwards, which i

[2015-09-24 13:36] nazar-pc opened #3880 "ownCloud for Ubuntu 15.04 build stuck at 2.0.0-rc2"
I had some issues with 2.0.0-rc2 and wanted to try release version (there is even 2.0.1), but it is not present in repository. Can anyone trigger build or whatever else is needed to release it?

[2015-09-24 13:39] stonerl commented on #3816
@dragotin
I don't use ldap. Built in ownCloud usermanagement with MySQL Database all running on the same machine. If necessary I can post my serverconfiguration.

[2015-09-24 13:44] dragotin commented on #3879
@rullzer do you have time to look into that?

[2015-09-24 13:48] PVince81 commented on #3816
The only thing I could think of is that the upload of a single chunk took so long that the session expired.
From what I understand the session would only get refreshed at the beginning of a PHP request.

@stonerl can you post your session timeout setting ?

[2015-09-24 13:54] stonerl commented on #3816
@PVince81
[code]
It's the default value on Ubuntu 14.02

[2015-09-24 14:37] dragotin commented on #3383
@michaelstingl can you double check if this is fixed with the alternative webdav route feature?

[2015-09-24 14:58] stonerl commented on #3816
@dragotin
Thx. You gave me the final hint. It was a mysql configuration problem. I had ```max_connections = 25```. Until I updated to Server Version 8.1.x I never had any problems with this setting. I switched it back to the default value which is ```max_connections = 151```. Since I changed this, I don't get any errors. I assume that all connections got used and maybe there were also some connect

[2015-09-24 15:25] stonerl commented on #3816
Sorry, not completely solved since I made the mysql changes the 401 errors are gone but I get these 400 which stop the upload:

[code]

[2015-09-24 15:32] michaelstingl commented on #3383
@dragotin I tested the full process and it worked great. Now, waiting for feedback from users…

[2015-09-24 16:57] MTRichards commented on #1069
Just had a request on this so wanted to bring it back up front for feature requests.

[2015-09-24 16:58] MTRichards commented on #1069
@danimo @dragotin what do you think these days about this request? It gets complex across filesystems and OSes, for example...

[2015-09-24 20:07] enoch85 opened #3881 "Can't login behind Pound Reverse Proxy"
### Steps to reproduce
1. Install Pound Reverse Proxy with these settings:

[code]
2. Try to login to the client

### Expected behavoiur

It should work

### Tested instances that is working

- NetDrive
- Android Client
- Browser (message appears)

### Actual Behaviour

[code]

![image](https://cloud.githubusercontent.com/assets/4511254/10090177/88e01542-632c-11e5-8de9-d758a22e0dad.png)

### Refer

[2015-09-25 06:24] stonerl commented on #3816
What I see so far is, that it is related to upload bandwith. When I thought the whole situation improved I got an upload of 60Mbit. When I came back home, where I only have 2Mbit. I was not able to get any file to the server.

[2015-09-25 06:53] dragotin commented on #3383
cool!

[2015-09-25 07:04] michaelstingl commented on #3383
@dragotin Sorry, I was confused with the issues. I tested only for https://github.com/owncloud/client/pull/3802 . Is the "Open [...] in browser" URL already themeable too? Which parameter do I have to use?

[2015-09-25 07:46] a-schild opened #3883 "Changes done by another windows client are not triggering a sync"
Client 1: Windows 8.1, Owncloud 2.0.1 (Build 5446)
Client 2: Windows 10, Owncloud 2.0.1 (Build 5446)
Server 8.1.1 under Debian 8.0

Client 1 & 2 have a sync setup for the folder "IBZ"
At 2015-09-24 arround 23:00 changes have been done on the Client 2, which are sent to the server

Client 1 did not pick up the new files on the server.
At 2015-09-25 at 09:29 I did add a new file to the folder on Cli

[2015-09-25 08:18] rullzer commented on #3879
Yes will do.

[2015-09-25 08:31] rullzer commented on #3879
Ok got it we need some proper server support with this. Let me fix that first.

[2015-09-25 09:35] dragotin commented on #3383
args, I was hoping that it's fixed along, since you mentioned something like that yesterday. No, **this** one is not yet done.

[2015-09-25 09:37] dragotin commented on #3879
Awesome, thanks :-)

[2015-09-25 09:41] dragotin commented on #3816
@stonerl have you ever checked the owncloud server log, called `owncloud.log` in the server data directory, and the apache error_log file, that is ... usually in `/var/log/apache2/`

There must be something in there...

[2015-09-25 10:01] stonerl commented on #3816
@dragotin

Yes I checked I can give you the latest output for a file that failed:

apache: ssl_access.log with Files getting a 400
[code]

here is what owncloud logged during that time span:
[code]
This part is what I see all the time: ```"Message\":\"HTTP\\\/1.1 400 expected filesize 5242880 got 0```

[2015-09-25 10:18] stonerl commented on #3816
Sorry forgot to check the apache error log. I did so now, but nothing is in there during this time span.

[2015-09-25 10:46] enoch85 commented on #3881
Some more info:

[code]

[2015-09-25 11:07] michaelstingl commented on #3383
@dragotin I will ask my user if they want to solve this with the new shib stuff.

[2015-09-25 11:08] rullzer commented on #3879
Server side PR in #19362.
Now lets see what we need to do in the client part :)

[2015-09-25 11:17] enoch85 commented on #3881
I looked in access.log and this is what I found

**Android**
[code]
**Client:**
[code]

[2015-09-25 11:19] PVince81 commented on #3881
@guruz @ogoffart is the desktop client doing a PROPFIND on a full URL ?

[2015-09-25 11:27] stonerl commented on #3816
Ok maybe I found something. I had "Server Name Indication" turned on: ```SSLStrictSNIVHostCheck on```
According to the [apache-wiki](https://wiki.apache.org/httpd/NameBasedSSLVHostsWithSNI):
[code]
Could it be that? I turned it of now and doing some uploads and so far it looks good/better (though, I said this before and was wrong).

[2015-09-25 11:30] MorrisJobke commented on #3881
That looks wrong. HTTP doesn't use the domain and protocol in that line (it's already in the HTTP headers)

[2015-09-25 11:37] danimo commented on #3816
Highly unlikely. Our network framework supports SNI since quite a while.

[2015-09-25 11:37] Dianafg76 opened #3885 "[2.0.2] If you share a folder with another user , and then rename the folder on the desktop does not change the name"
### Steps to reproduce
1. Install v 2.0.2 with 2 accounts (user1, user2)
2. Go to Server client with user1
3. Create a new folder (e.g call Share with)
4. Click on Share
5. And share with user2
6. Go to Desktop client with user2
7. Wait sync (you can see the folder (Share with)
8. Go to Server client with user1
9. Rename the Folder "Share with" to "Share with user2"
10. Go to Desktop client with u

[2015-09-25 11:41] guruz commented on #3816
@stonerl Does this happen when you upload files to a non-Google-Drive-mounted subdirecotry?

[2015-09-25 11:43] stonerl commented on #3816
@guruz Yes it also happens when I upload to a local folder. As you can see here: https://github.com/owncloud/client/issues/3816#issuecomment-142962560

[2015-09-25 12:29] Dianafg76 commented on #3724
Waiting for server version 8.1.4 (Octubre 27)

[2015-09-25 12:29] dragotin commented on #3885
IIRC this is intended behaviour. If you get a share, the name of the top directory that appears in your file list is "yours". It can be changed, and changes to the name of the original directory are not propagating through. @PVince81

[2015-09-25 12:30] dragotin commented on #3885
@PVince81 can you enlighten us? Thanks

[2015-09-25 12:51] PVince81 commented on #3885
Yes.
The shared folder is actually a virtual mount point for all recipients, so renaming it doesn't affect all recipients. Only the **contents** of it will be visible for anyone.

Works as expected.

[2015-09-25 12:51] #3885 closed

[2015-09-25 13:32] enoch85 commented on #3881
@MorrisJobke Just looked in a access.log on a server that doesn't run behind a proxy, and there the client did a PROPFIND against the correct address `/remote.php/webdav/`. Do you (or someone else) have a clue what to do here?

[2015-09-25 13:35] MorrisJobke commented on #3881
This simply looks like a wrong request

[2015-09-25 13:43] stonerl commented on #3816
Just a quick update. Since I set ```SSLStrictSNIVHostCheck off```in the Apache configuration, I transferred almost 20GB of data. Some hundred files, with sizes ranging from some kilobyte up to 2GB. And so far it looks very promising. No major fails. I only got a 400 error once but that file got also uploaded later on.

I will continue testing later when I'm back home where I have less bandwidth.

[2015-09-25 13:58] enoch85 commented on #3881
@MorrisJobke Ok, so what can I do about it? :)

[2015-09-25 15:15] Kawohl opened #3886 "Client shows ask confirmation for files bigger than 1% ...."
Host OSX Yosemite 10.10.5

![bildschirmfoto 2015-09-25 um 17 12 00](https://cloud.githubusercontent.com/assets/12275313/10104250/e6c43eb4-63a8-11e5-80c6-c53b36a038b3.png)

[2015-09-25 15:31] phil-davis commented on #3886
Duplicate of https://github.com/owncloud/client/issues/3717
This is an issue with the German translation.

[2015-09-25 15:31] #3886 closed

[2015-09-25 15:37] enoch85 commented on #3881
I tested on another computer outside my network, and it worked.

Sorry for the noise.

[2015-09-25 15:37] #3881 closed

[2015-09-25 15:43] dragotin commented on #3813
ok, here are some findings: The junctions are not accessible and report back "Permission denied" to the discovery code. That alone lead to breaking of the sync with 2.0.1, but *not* longer with 2.0.1+git because we fixed that misbehave with df534753b171f0b714221397e15a0f8e094bdeaf

But why aren't the junctions not discovered as sym links, that we properly ignore to sync? Because of the bug that we

[2015-09-25 16:08] blanik commented on #3813
Let me know if you want me to user test the solution, if you can point me to a download link.

[2015-09-25 17:04] guruz commented on #3865
Do you want to try http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.5493-nightly20150925-setup.exe ?

[2015-09-25 17:04] guruz commented on #3813
Please try http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.5493-nightly20150925-setup.exe ?

[2015-09-25 17:12] jnweiger commented on #3880
https://build.opensuse.org/package/binaries/isv:ownCloud:desktop/owncloud-client?repository=Ubuntu_15.04

has 2.0.1 since its release on September 15th.

@nazar-pc are you waiting for the package elsewhere?

[2015-09-25 18:56] danger89 commented on #331
This issue ist still not solved!!

[2015-09-25 20:02] stonerl commented on #3816
Well did not go well. I get lot of 400 and some 401. So I used mitmproxy to get some data maybe this helps:

For the 400:

Request:
[code]
The content apparently got send. Get 5MB of RAW output.

Response
[code]
Detail
[code]

I also enabled debug logging for apache. Around the time when a 400 happens this is logged in apache_error.log (The time does not match with the above, because I recorded it

[2015-09-25 21:43] guruz commented on #3816
http://serverfault.com/a/633872
http://serverfault.com/a/666257

Maybe this input filter somehow needs to get the complete request to decide which vhost to send it to?
Just a wild guess, I have no idea how this works.

[2015-09-25 21:44] guruz commented on #3816
@rmoesbergen @Ninos If you switch to ```LogLevel info``` in Apache do you get the same?

[2015-09-25 21:47] guruz commented on #3844
Any news here?

[2015-09-25 21:57] guruz commented on #3826
No chance that something is behaving wrong there?
Can you set the involved servers (both nginx and Apache) to verbose and check their log?

[2015-09-25 21:58] guruz commented on #3791
@mcnesium Any luck?

[2015-09-25 22:11] guruz commented on #3816
@stonerl Maybe related to your virus scanning? https://github.com/owncloud/client/issues/3676

[2015-09-25 22:29] guruz commented on #3449
5.5.1 is about-to-be-released..

[2015-09-25 23:06] guruz commented on #3701
If you set ```LogLevel info``` do you get more info in the Apache ```error.log```?

[2015-09-26 01:29] nazar-pc commented on #3880
Of course, I'm looking here: http://download.opensuse.org/repositories/isv:/ownCloud:/community:/testing/xUbuntu_15.04/
As per download page https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client

[2015-09-26 01:31] nazar-pc commented on #3880
Sorry, I'm using testing repository indeed. But weirdly, it doesn't contain latest stable version.

[2015-09-26 03:21] nazar-pc opened #3887 "Unable to initialize a sync journal (2.0.0-rc2+)"
### Expected behaviour
ownCloud syncronization just works (as it did with 1.8.1)

### Actual behaviour
All directories are synced properly (including federated from other servers), except directory called `ownCloud` (one of root directories).

### Steps to reproduce
1. Have ownCloud server and user profile there
2. Create `ownCloud` directory (literally) in the root and some other
3. Have ownCloud

[2015-09-26 03:26] nazar-pc commented on #3887
Also client takes 2.7 GiB of RAM and quite a lot of time to start (while I can afford that much RAM, it is not suitable for majority of people), but I expect it to be result of this current issue.

[2015-09-26 08:34] dragotin commented on #3865
No, junktions are equivalent to sym links. We do not sync the contents behind sym links. Sym links are ignored.

[2015-09-26 08:34] #3865 closed

[2015-09-26 08:34] Auxink commented on #3865
this: "Symbolic links are not supported in syncing." might be nice for some but for me it completely disables syncing.

[2015-09-26 08:51] Auxink commented on #3865
"Windows doesn't propagate file system events to both ends of the symlink."  would be atleast nice answer to the problem. I have found it when you made me to search for different programs.

[2015-09-26 10:34] bivanecon commented on #3813
Thank you dragotin, blanik and guruz.
Unfortunately I can't check the solution on the same PCs I've observed "misbehaving", until middle next week. But I've reproduced the problem on my home PC. Indeed, nightly build 5493 has solved the specific issue. I do not receive the error as I've described above. Probably, this specific issue can be closed.
But, in order to reproduce the error I configured

[2015-09-26 11:10] danimo commented on #3865
@Auxink what is the problem in your case?

[2015-09-26 14:06] Auxink commented on #3865
Because there is no sync for multiple folders I had to create symlinks (junctions) to folders I want to sync. So there is not a single folder in ownCloud sync folder, everyone of them are symlinks. And the FileSystemWatcher does not work through symlinks (which I found out 5 hours ago). Therefore it synces my files only every 2 hours and not with every change.

[2015-09-26 14:33] guruz commented on #3887
2.0 has the folder directly in ```owncloud.cfg``` not in the ```folders``` subdir.
Could you remove the new entries from ```owncloud.cfg``` and retry with a nightly build?
This might have been fixed already..

http://download.owncloud.com/desktop/daily/

[2015-09-26 14:39] guruz commented on #3873
I'd definitely try a newer version..

Also, this is better on the server bugtracker, not client :)
https://github.com/owncloud/core/issues/

[2015-09-26 14:39] #3873 closed

[2015-09-26 16:01] nazar-pc commented on #3887
From `owncloud.cfg`:

0\Folders\ownCloud\localPath=/home/nazar-pc/ownCloud/
0\Folders\ownCloud\paused=false
0\Folders\ownCloud\targetPath=ownCloud

Nightly builds are weird `*.pkg` files, no deb/rpm builds.

[2015-09-26 16:07] phil-davis commented on #3865
You can make multiple folder sync connections in the client to sync between a folder tree on the server and a folder tree somewhere on the client. So you can sync different parts of the files on the server to different places around the client file system. It sounds like you could do this, rather than create multiple [symlinks|junction points] in a single place on the client.

[2015-09-26 18:03] guruz commented on #3887
@nazar-pc Sorry, didn't see you were using Linux.

Yes, remove the section that contains that.

Then try the nightly from : https://build.opensuse.org/project/show/isv:ownCloud:community:nighly/

Then see if it works now.

FYI @ckamm @dragotin

[2015-09-26 18:19] nazar-pc commented on #3887
Removed that section and tried nightly - fast start, everything seems to work fine and memory use is just 42.3 MiB.

As I understand now I can remove `folders` subdirectory, which sections in `owncloud.cfg` are also unnecessary now? (I like to keep system clean)

[2015-09-26 18:26] guruz commented on #3887
@nazar-pc Great to hear!
Yes, you can remove ```folders``` directory. No idea about the sections...

[2015-09-26 18:26] #3887 closed

[2015-09-26 18:56] dragotin commented on #3865
Syncing sym-links is like juggling with scissors. Better don't do.

[2015-09-26 19:56] guruz commented on #3867
Could you try to join again?
I accepted someone and it might be you.

[2015-09-26 20:04] guruz commented on #3753
@DeepDiver1975 @danimo  @LukasReschke  I'm a bit confused on how transifex works.
For our client project:

German Untranslated 159
German (Germany) Untranslated 183

Is there a need for both? Should we merge this?
Is this someone done automatically by Qt?

Still it's weird in transifex since I'd have no idea to which one to contribute so my changes are visible.

[2015-09-26 20:08] llucax opened #3888 "[2.0] [Linux] Client disconnects after suspend and there is no reconnect button"
### Expected behaviour

After suspending the computer for a long time, Owncloud clients reconnects after connections is lost. Or at least there is a way to tell the program to reconnect an account
### Actual behaviour

A message saying "No connection to Owncloud URL. Unable to connect to URL/status.php timeout". It never tries to reconnect again, there is no apparent way to manually trigger a reco

[2015-09-26 20:10] blanik commented on #3813
Updated 1.8.4 to 2.0.2.5493 - all OK.

Now performs the same as the 1.8 version, any files in the 'broken' symlinks are ignored, as are the symlink folders themselves, other files are now syncing normally.

There is a message in the activity tab "symbolic links are not supported in syncing",

Just wondering about the message, it kind of suggests that all symlinks will be ignored, not an issue for

[2015-09-26 21:03] Auxink commented on #3865
@phil-davis I didn't know you could do that. And it looks somewhat better. Thank you.
Just one more thing. It probably isn't possible to move owncloud files (database, log and such) somewhere else?

@dragotin I Don't see a problem with syncing symlinks as long as you don't create loops with them in filesystem.

[2015-09-27 04:49] phil-davis commented on #3865
AFAIK the ownCloud sync database files are created in the top level folder of each sync connection and have to stay there. But I have a feeling others have asked about this before and maybe there was some discussion about being able to put them somewhere else.

[2015-09-27 06:26] sudhirkhanger commented on #3273
One of the users on the mailing list mentioned adding a sleep timer of 5 second could help. There was at least once it didn't work. It does seem to work most of the time.

[2015-09-27 09:21] tflidd commented on #3888
I can confirm this. I just had the problem yesterday on a public wifi where you need to authenticate first. The client remains in a "no connection"-status (I waited for 2 minutes). Before (<2.0.0) it helped sometimes to pause the sync and re-enable it. Now you need to close and restart the client.
Client 2.0.1 (current stable).
OS X 10.9

[2015-09-27 09:28] tflidd commented on #3867
@guruz I tried to join some time ago (some months) via my github account. I tried to join the german translation but I never received a reply. You can't join twice for the same language on the same project (I still could join German(Austria)).

[2015-09-27 10:05] guruz commented on #3888
@llucax Which Qt version do you see in the settings dialog?

[2015-09-27 10:12] dragotin commented on #3865
@Auxink well, aren't we discussing one here? Apart from that: Think harder :smile_cat:

[2015-09-27 10:19] blanik commented on #3869
I did have another provider which synced conflict files to all users, so I ended up with file1 and file1(changed by bob) on all the computers.

The problem then is that sometime one user would delete the original file and rename 'bob', but someone else would look at 'bob', then save it, which was recorded as a change. So on the next sync I would end up with file1 ( changed by bob)(changed by john)

[2015-09-27 10:34] dragotin commented on #3813
ALL symlinks are ignored. As I said before elsewhere: Symlinks are a source of evil.

[2015-09-27 10:34] dragotin commented on #3813
...when it comes to syncing ;-)

[2015-09-27 10:41] llucax commented on #3888
I can't see the QT version anywhere in the settings dialog, but...
[code]

So I would say something like **5.4.2+dfsg-9**.

I waited much more than 2 minutes, and it never seems to reconnect. At one point by poking with stuff in the configuration I managed to trigger a reconnect, after asking for the password again.

I too, with the old version < 2.0 enabled and disabled syncing and it reconnected

[2015-09-27 11:41] guruz opened #3889 "[OS X] [2.0.x] Tray menu "Recent Changes" don't always update"
Sometimes they get updated, sometimes no.
Sometimes the last updates are deleted and it just shows "No changes"
(5 accounts active)

Reprodued by both me and @jturcotte

[2015-09-27 12:58] fishermans commented on #3867
@guruz: Thanks but nothing changed. I also used my github account to login to transiflex.

[2015-09-27 15:04] ZiiX opened #3890 "SSLv3 on OSX Sync Client v2.0.1"
Is there a reason why my Mac OSX sync client with this v# is connecting with SLLv3 and not a better TLS like TLS1.2? I do not think the client should be allowed to use a different TLS/cipher suite than what I personally am comfortable with. My server config w cert doesn't allow SSLv3 at all on login via the webclient so why is this forcing v3? When I click on the green lock icon in my mac osx sync

[2015-09-27 15:16] danimo commented on #3890
Check `Settings -> General -> About` and check the OpenSSL version. It _should_ show version 1.0.2x. Does it?

[2015-09-27 15:27] ZiiX commented on #3890
Yes, it shows: 1.0.2d Jul 2015.

[2015-09-27 15:28] danimo commented on #3890
@ZiiX and your server is really capable of SSLv3? We have reports of misreported SSL versions.

[2015-09-27 15:30] ZiiX commented on #3890
No, it shouldn't that I'm aware of...  my config file says no -SSL should be used at all. Only +TLS1

[2015-09-27 15:33] danimo commented on #3890
@ZiiX This would mean that the SSL version is reported incorrectly. Can you still run ssllabs.com nontheless?

[2015-09-27 15:35] ZiiX commented on #3890
Update: Comodo's ssl analyzer AND SSLLabs test on my domain confirms SSL not supported at all still - hence my confusion/submission. Thank you for your attention & time today.

[2015-09-27 15:41] danimo commented on #3890
@ZiiX if you could reveal your installation to me (danimo AT owncloud DOT com), I'd like to check why the reporting goes wrong.

[2015-09-27 16:00] guruz commented on #3890
@ZiiX Which client version?

@danimo Maybe related/fixed with the Qt fix I did last week?

[2015-09-27 16:05] danimo commented on #3890
@guruz Can point me to the patch again?

[2015-09-27 16:09] ZiiX commented on #3890
Client Says: Built from Git revision 58ea49 on Sep 1 2015, 16:36:52 using Qt 5.4.0, OpenSSL 1.0.2d 9 Jul 2015 on production OwnCloud 8.1.3

[2015-09-27 17:57] EamonnDH opened #3891 "[OS X] client/csync/src/std/c_string.c:289:23: error: use of undeclared identifier 'iconv_from_native'"
### Expected behaviour
Client build successfully on OSX.

### Actual behaviour
Partially completes (1%). Throws two errors:
client/csync/src/std/c_string.c:289:23: error: use of undeclared identifier 'iconv_from_native'
client/csync/src/std/c_string.c:321:24: error: use of undeclared identifier 'iconv_to_native' OSX

then fails.

### Steps to reproduce
1. https://doc.owncloud.org/desktop/2.0/build

[2015-09-27 17:59] LukasReschke commented on #3891
@ogoffart Any idea? :-)

[2015-09-27 18:00] LukasReschke commented on #3891
Ref https://github.com/owncloud/client/issues/3165 and https://github.com/owncloud/client/issues/3164 which were closed by @guruz due to missing information but have the same error message

[2015-09-27 18:15] guruz commented on #3891
Maybe it's trying to use some iconv from ```/usr/local/``` instead of ```/usr/lib/``` ?

[2015-09-27 18:15] guruz commented on #3891
Also note ```master``` is not used at the moment, use branch ```2.0```

[2015-09-27 18:24] EamonnDH commented on #3891
How can I tell?

[2015-09-27 18:31] guruz commented on #3891
[code]

Check your ```cmake``` output too.

[2015-09-27 18:32] EamonnDH commented on #3891
INCONV_LIBARY:FILEPATH=/opt/local/lib/libiconv.dylib
How can I change this?

[2015-09-27 18:33] guruz commented on #3891
You don't. Delete ```CMakeCache.txt``` and run ```cmake``` with good parameters.

[2015-09-27 18:35] EamonnDH commented on #3891
'Good' parameters? All I've got to go off is what I'm given in the build instruction page.

[2015-09-27 20:21] meisterleise commented on #3874
I have a mac running OS 10.9.5. There is no "Extensions" ind System Prefs.
Any idea how to fix this problem under 10.9.5?

[2015-09-27 21:05] jturcotte commented on #3874
@meisterleise 10.9 and before are still using the old extensions, the plugin is installed but it requires

1. Finder to be restarted after the installed (if not you might have to restart OS X)
2. An apple script message is sent by the ownCloud client when it starts to activate the extension.

If that doesn't work, could you open a new bug report and describe since when the problem occurs (2.0.0?)

[2015-09-27 22:16] meisterleise commented on #3874
@jturcotte
thanks for response.
1. I did bevore. Did not help
2. dont understand. can I do anything?

[2015-09-28 05:49] tusharh opened #3894 "[OS X ] [1.8.1] macdeployqt doesn't add all qt frameworks to .app file in OSX 10.10.4"
I am using 1.8.1 version. After running cmake & make, I tried running the macdeployqt.py & also tried running macdeployqt from it's location. whenever I run it, I get errors but the strings are empty. It doesn't specify the path or files for which it is getting errors. Here is the output -

tushar-iMac:bin tushar$ macdeployqt /Users/tushar/Documents/Repo/Sync/trunk/client-1.8.1/client-build/bin/ow

[2015-09-28 06:11] guruz commented on #3894
Did you try ```make install``` instead?

[2015-09-28 06:19] tusharh commented on #3894
Yeah. I did cmake, make, macdeployqt & then make install.
In order to run the .app on other machine we need to run macdeployqt to add required frameworks.

[2015-09-28 06:23] guruz commented on #3894
```make install``` does that for you.
It generates a proper ```.app``` in the install dir with all dylibs properly set, I just checked my own ```owncloud``` with ```otool -L```.

[2015-09-28 06:37] tusharh commented on #3894
Can you check the size? If you run only cmake,make,make install generated .app file is only 13.5 MB. Where as if you download the client from https://owncloud.org/install/#install-clients and install it in Applications folder, it has size around 70 to 80 MB. Because it has all required dylibs bundled in it. You need macdeployqt for this reason, to bundle required frameworks/libs,etc

[2015-09-28 07:06] guruz commented on #3894
[code]

Check the output of ```make install``` maybe it mentions some hint on what is wrong?

[2015-09-28 07:31] dragotin commented on #3891
Sorry, please get build support from forum or mailinglist. This is a bug tracker.

[2015-09-28 07:31] #3891 closed

[2015-09-28 07:50] mcnesium commented on #3791
@guruz From that comment I can't see what settings exactly to toggle. But after upgrading the server to 8.1.3 and rebooting the client system, it looks like it's working properly. Thank you :+1:

[2015-09-28 07:50] #3791 closed

[2015-09-28 08:20] danimo commented on #3717
Works for me:

![image](https://cloud.githubusercontent.com/assets/1315934/10130634/7896c4ba-65ca-11e5-808f-a0dfb4fdb3da.png)

[2015-09-28 08:26] danimo commented on #3753
Looks jolly good here:

![image](https://cloud.githubusercontent.com/assets/1315934/10130748/44ed8026-65cb-11e5-9aef-12cbbbbfd4be.png)

[2015-09-28 08:31] guruz commented on #3877
@tps800 Any more info?

[2015-09-28 08:32] danimo commented on #3753
In ownCloud `de_DE` is formal German (Sie, default for enterprise edition), whereas `de` is informal (Du, default for community edition). In the client, we only use the formal version:

From `translations/.tx/config`:

[code]

[2015-09-28 08:42] dragotin commented on #3864
ok, moving this on as no activity. RC1 is supposed to happen today.

[2015-09-28 08:51] dragotin commented on #3820
@Lordi999 can you reproduce that? Is it really *never* saving your configs?

[2015-09-28 08:51] Dianafg76 commented on #3717
@pierrejochem you could try this version: http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.5499-nightly20150928-setup.exe
Thanks

[2015-09-28 08:53] Dianafg76 commented on #3753
@jnweiger could you try this version: http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.2750-nightly20150928.pkg
Thanks

[2015-09-28 09:00] Lordi999 commented on #3820
@dragotin Yes, I can reproduce that.
It Just saves my Config on First Startup when i start the Client as Local Administrator

[2015-09-28 09:04] MegaV0lt commented on #3753
@danimo
But not the button!
http://i.imgur.com/iH926GK.png

[2015-09-28 09:07] danimo commented on #3753
@MegaV0lt I know, the translation is not 100% complete, but no translation is.

[2015-09-28 09:45] michaelstingl opened #3895 "[2.0.1] [Shibboleth] No relogin window"
### Expected behaviour

The desktop sync client should show the login (WebKit) window after the Shibboleth session terminates.

### Actual behaviour
The desktop sync client won't open a WebKit pop up after the terminated Shibboleth session

### Steps to reproduce
1. Login with Shibboleth
2. Wait for Shibboleth session termination

### Client configuration
Client version:
2.0.1 (branded)

Operating

[2015-09-28 10:00] dragotin commented on #3895
@Dianafg76 can you try to reproduce that? You would need a shib instance with very short session lifetime...

[2015-09-28 10:02] guruz commented on #3894
Let's use IRC (#owncloud-client-dev on freenode) or forum for build help

[2015-09-28 10:02] #3894 closed

[2015-09-28 10:07] tusharh commented on #3894
Hi,

Got the reason why it wasn't building the app properly. On firing brew install $(brew deps owncloud-client) it installed qt5.5.0. I checked the 1.8.1 oc client downloaded earlier by me. On seeing Owncloud-->General-->About it said OC client was built using QT 5.4.0 for 1.8.1 client. I downgraded to 5.4.1 & now the app builds perfectly.

Thanks for your time.

[2015-09-28 10:51] Dianafg76 commented on #3860
@dragotin I tested this issue and you still see the same error
![screen shot 2015-09-28 at 12 47 16](https://cloud.githubusercontent.com/assets/12032058/10133672/6b2fe4e0-65df-11e5-972e-3e861311ad56.png)

Desktop v ownCloud-2.0.2.2750-nightly20150928.pkg
Server v {"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":"Enterprise"}

[2015-09-28 11:21] Dianafg76 commented on #3383
@dragotin Hello, what it is the step to reproduce this?, I don't have  the server with this caracteristics
Thanks

[2015-09-28 11:33] Dianafg76 commented on #3813
I tested this issue and for my with WIN 10 it is working OK
Update 1.8.4 to ownCloud-2.0.2.5499-nightly20150928-setup.exe
Closed

[2015-09-28 11:33] #3813 closed

[2015-09-28 11:42] dragotin commented on #3383
@Dianafg76 you do not need to test this at the moment, that was more for @michaelstingl

[2015-09-28 11:50] Dianafg76 commented on #3895
@dragotin I tested this issue and I can reproduce If you change the session length to 120 seconds and 120 seconds when passed , the client desktop synchronization WebKit does not open a pop -up after the session ends Shibboleth.

Desktop v ownCloud-2.0.2.2750-nightly20150928.pkg
Server v {"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":"Enterprise"}

[2015-09-28 11:53] Dianafg76 commented on #3383
@dragotin OK, Thanks

[2015-09-28 12:05] Tratoschek opened #3896 "[Linux] kwallet-integration: ask the user whether he wants to type the original passwort or wait longer"
ATM the behaviour of the owncloud client at startup is:
1. try to get password from kwallet until a timeout is reached
2. show errormessage and password dialog for original password and forget kwallet at all.

I start owncloud together with my session (a rather common setup, I think), and often do something else, while the session is loading, so the timeout triggers regulary, although nothing is w

[2015-09-28 12:51] kuking opened #3897 "Debian Release.key not available in secure way"
Following the guide in located in:
```https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client ```
(direct link form ```https://owncloud.org/install/```)

It instructs me to download the file ```Release.key``` from an unsecure source (```download.opensuse.org``` does not have a SSL/HTTPS site).

Can the key be installed into my system in a secure way? I h

[2015-09-28 13:21] tombou commented on #3875
I've got a similar problem on a 2 years old Sony Vaio using the same config. The database is 47GB with 144 500 files. It seems to have a delay of about 1h10 between 2 cycles. During a cycle, the fan goes up for about 10 minutes and one core is filled used during discovery. I've configured also another smaller database on the same computer and it runs normally.

[2015-09-28 13:27] NomoreGlitches commented on #3770
I finally solved the issue. Did it again all from the beginning. Then there was this bug with cmake version 3.0.2 not finding the proper openssl version. I installed cmake version 3.3.1 and then I could "make package".

[2015-09-28 13:27] #3770 closed

[2015-09-28 13:37] dragotin commented on #3875
resolved by #3408

[2015-09-28 13:37] #3875 closed

[2015-09-28 13:38] Dianafg76 commented on #3895
@michaelstingl Could you try: ownCloud-2.0.2.2750-nightly20150928.pkg
Thanks

[2015-09-28 13:39] dragotin commented on #3895
@michaelstingl we tested on all platforms, Mac, Win and Linux, and the re-login dialog appeared with the current beta version of 2.0.2

[2015-09-28 14:01] dragotin commented on #3895
Tested even without folder configuration, works, window pops up.

[2015-09-28 15:08] wadedugas commented on #3875
https://github.com/owncloud/client/issues/3408 is stated for Windows only. If you are going to close this one, then please update 3408 to include OS X

[2015-09-28 15:10] guruz commented on #3408
Leads to https://github.com/owncloud/client/issues/2297

[2015-09-28 15:10] #3408 closed

[2015-09-28 15:11] guruz commented on #3897
FYI @hefee

[2015-09-28 15:11] wadedugas commented on #3408
Since the issue I opened for this behavior on a MacBook was closed, please make sure this issue is updated to include OS X.

Is the client using FSEvents on OS X?

[2015-09-28 15:14] danimo commented on #3897
@guruz OBS is not really @hefee's issue...

[2015-09-28 15:23] guruz commented on #3408
@wadedugas Yep #2297 mentions that

:-)

https://github.com/owncloud/client/blob/master/src/gui/folderwatcher_mac.cpp

[2015-09-28 16:04] jnweiger commented on #3897
We use opensuse infrastructure to deploy keys and packages. The key was created by the opensuse build service. I don't have any other way to retireve the key than through http.

A (weaker) verification would be to consult the mirrors listet at the bottom of e.g.
[code]
And retrieve the Release.key from there and compare.

[2015-09-28 16:14] kuking commented on #3897
You can just upload the key to your https domain, or at least put a hash of the file in the installation description -which happens to be in an opensuse https domain-

Checking mirrors is "false security" IMHO.

[2015-09-28 19:02] guruz commented on #1157
@dragotin@ogoffart @ckamm  Is there a chance that this is an easier win (fruit to pick) than keeping-the-tree-in-memory?

But this would only help for the remote discovery not the local one right?
And we think the local one is a problem?

[2015-09-28 20:10] dragotin commented on #880
This is done.

[2015-09-28 20:10] #880 closed

[2015-09-28 20:16] dragotin commented on #1157
Maybe instead of keeping the tree, a better idea is to build it completely from the sync journal instead from the file system? That should be possible if we can assume that the file system notifications are reliable.

[2015-09-28 20:44] guruz opened #3898 "[2.0.2] Segfault in second instance in Application destructor when launching app a second time"
[code]

[2015-09-28 20:54] guruz commented on #3015
Should be fixed for OS X, not yet for Windows.

[2015-09-28 20:55] guruz commented on #1451
Please re-evaluate

[2015-09-28 20:58] guruz commented on #2014
Still reproducable with 2.0.2 beta?

[2015-09-28 21:06] #3451 closed

[2015-09-28 21:08] #2838 closed

[2015-09-28 21:09] guruz commented on #2711
Please re-evaluate

[2015-09-28 21:10] guruz commented on #2585
@PVince81 Did it happen again?

[2015-09-29 02:49] phil-davis commented on #3015
Just documenting the behaviour on Windows (10) as of Version 2.0.2-nightly20150929 (build 5500)

When the settings dialog is closed, use "Share with ownCloud" from the file explorer. The sharing dialog opens correctly in front of the file explorer window - good.

When the settings dialog is open, use "Share with ownCloud" from the file explorer.
a) The sharing dialog opens behind the file explorer

[2015-09-29 03:00] RedSocks157 commented on #1153
I'm having this issue with the desktop client on Linux Mint. Clearly this problem has been going on for some time...any fix yet?

[2015-09-29 07:30] Dianafg76 commented on #2014
I tested this issue, and it is working OK
Desktop v ownCloud-2.0.2.2750-nightly20150928.pkg
Close

[2015-09-29 07:30] #2014 closed

[2015-09-29 07:35] dragotin commented on #1153
@RedSocks157 please open a new issue, following the issue template with logs, versions and stuff.

[2015-09-29 08:15] PurpleGab commented on #1818
Placing spaces and " in front of what you want to be active is indeed dirty.

If MS is not able to solve the problem, all others should at least refain from flooding the registry.
The icons I really need are from tortoise, all the others are nice to have, but I don't care.

So now that I know where to edit the list, why does everybody try smuggle their "most valuable" 10 icons in every time I rebo

[2015-09-29 08:19] eranag opened #3900 "Windows 8 \ 8.1 - Map owncloud driver as network drive"
Hello,

When I map an Owncloud drive as WebDAV drive in windows 8 \ 8.1 it prompt for username and password every time that I am trying to open a PDF \ Office file.

There is a KB from Microsoft that described the problem and fix it, but it is for windows 7 only:

https://support.microsoft.com/en-us/kb/943280

Prompt for Credentials When Accessing FQDN Sites From a Windows Vista or Windows 7 Compu

[2015-09-29 08:48] dragotin commented on #3900
I can not understand what the bug or even feature request you exactly talk about here. Can you be more specific and use the bug report template? Thanks.

[2015-09-29 08:57] Dianafg76 commented on #3590
It is the same in Desktop v ownCloud-2.0.2.2752-nightly20150929.pkg

[2015-09-29 08:57] Dianafg76 commented on #3591
It is the same in Desktop v ownCloud-2.0.2.2752-nightly20150929.pkg

[2015-09-29 08:58] eranag commented on #3900
I think it is  feature request  and not a bug because currently you the client software does not include an option to map the sync folder as a network drive.

From: Klaas Freitag [mailto:notifications@github.com]
Sent: Tuesday, September 29, 2015 11:49 AM
To: owncloud/client
Cc: Eran Agmon
Subject: Re: [client] Windows 8 \ 8.1 - Map owncloud driver as network drive (#3900)

I can not understand wh

[2015-09-29 09:15] danimo commented on #3900
This is an issue with between ownCloud Server and Windows. Is not related to the ownCloud sync client, which this is issue tracker for. Closing hence.

[2015-09-29 09:15] #3900 closed

[2015-09-29 10:17] ErwanVDX opened #3901 "[Windows] Conflicts files sometimes created when saving Office file (without concurent modificiation)"
### Steps to reproduce
This is the easyet way I found to reproduce the issue, but happened with other file format and timing.
1. Open MS Word, create a new file and save it in an owncloud folder.
2. Open the file, modify it, and then save it.
3. Close MS Word.

### Expected behaviour
The file should be synchronized on the server.

### Actual behaviour
The file is not synchronized on the server and

[2015-09-29 10:33] hmcs opened #3902 "When server files with invalid paths are ignored, the error is only visible in the activity tab"
Hi,

Via Web it is possible to create a directory-name ending with a space like "my folder " (tested on owncloud Server 8.1.3).
The Windows-client (Version 2.0.1) has problems syncing this folder because spaces at begining or ending are not allowed in windows. Nasty, it generates no error in log.

I assume, this apply also to files but not tested.

regards,

henry

[2015-09-29 10:51] Dianafg76 commented on #3902
Hello
1. Go to the Server Web with user2
2. Create new folder (e.g. call "File with space ")
3. Go to the Desktop Client with user2
4. Wait for Sync
5. You can see the folder "File with space "
![screen shot 2015-09-29 at 12 45 06](https://cloud.githubusercontent.com/assets/12032058/10161986/111c23fa-66a8-11e5-98dc-ebdeca2045b4.png)
6. If you open the folder c:/....../user2, you can't see the fold

[2015-09-29 10:52] Dianafg76 commented on #3902
I tested on WIN 10
Desktop v ownCloud-2.0.2.5499-nightly20150928-setup.exe

[2015-09-29 10:54] Dianafg76 commented on #3902
And If you create a new folder on the desktop client is created without problem

[2015-09-29 10:58] hmcs commented on #3902
shouldn't begining/ending "spaces" be not allowed in web-interface?

[2015-09-29 11:09] jnweiger commented on #3897
@kuking You are right. Checking mirrors is weak.
We cannot edit the installation description at software.opensuse.org -- this is fully auto-generated on their side. We have keys available via HTTPS on owncloud.org, but I am not sure the the key linked with packages is helpful when checking packages. Maybe it is a subkey or signs some other key. But it differs, from what we use in obs. Opened https

[2015-09-29 12:14] Dianafg76 opened #3903 "[2.0.2 WIN 10] I can't sync files .TXT"
### Steps to reproduce
1. Install v 2.0.2 on WIN 10
2. Right click on the oC icon
3. Go to the user
4. Click on Open folder...
5. Create a New folder with TXT (e.g. call texto1.TXT)
6. Waiting to sync

### Expected behaviour
It should be able to sync

### Actual behaviour
Not SYNC. I see the yellow icon near to the folder
![screen shot 2015-09-29 at 14 09 04](https://cloud.githubusercontent.com/as

[2015-09-29 16:28] dragotin commented on #3860
Ok, I forgot to disable the actions of the context menu. The previous patch does that, please retest. Thanks!

[2015-09-29 18:16] Enoch247 commented on #3287
This also affects users who enable ```SSLVerifyClient required``` for folders on the same vhost, but not related to owncloud. See example apache config:

    # SSL client authentication
    <Location "/foo)">
        SSLVerifyClient require
    </Location>

    # turn off SSL client authentication for owncloud
    <Location "/owncloud">
      SSLVerifyClient none
    </Location>

[2015-09-29 18:41] Enoch247 commented on #203
I agree with what others have said about DNS. I don't think it would be smart for owncloud to support this kind of functionality. It is a problem best solved at a lower layer.

A long time ago, I disabled my router's dns/dhcp services and run dnsmasq on my home server instead. It resolves "example.com" and "www.example.com" as cnames pointing to "server.example.com" (which resolves to 192.168.1.xx

[2015-09-29 18:50] guruz commented on #3287
@Enoch247 SSL is per socket (per host:port, via SNI) not per directory

[2015-09-29 20:11] stonerl commented on #3816
@guruz I did some extensive testing during the last days. The virus scanning is not a problem. I was under the impression that my ownCloud installation was borked, so I made a completely fresh installation. But the errors remained.

Setting ```SSLOptions +StdEnvVars```in the VirtualHost Section solved the timeout problem a reported earlier.

What I found was the following maybe someone could expla

[2015-09-29 21:55] Mistress-Anna commented on #3902
Leading/trailing whitespace is generally a user typo anyway, which can be easily trimmed.

File and folder names shouldn't end with spaces or periods on windows:

https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247%28v=vs.85%29.aspx#naming_conventions

This also means "foobar..." is not an acceptable folder name on windows.

[2015-09-29 22:21] kuking commented on #3897
Thanks for all the details! I just wanted to make you aware that for the common guy installing in Debian; the installation process is a bit 'weak' from a security perspective. I can close the ticket if you want, but bear in mind another random guy might come after me mentioning the same issue.

tl/dr I'm happy with the support, I was able to verify my key; but I would sugguest you to streamline a

[2015-09-30 05:56] zatricky commented on #203
Contrary opinion here. DNS is a good stopgap and I *do* think supporting this kind of functionality is a good idea. But I also don't think the concept here of having network-specific settings is the right way to go.

Two things that could satisfy the needs of the OP:
- If it can be automatic using a tool like local peer discovery - see #230
- Generic support for multiple mirrored servers - see htt

[2015-09-30 06:39] Dianafg76 commented on #3860
Now it is working OK
Desktop v ownCloud-2.0.2.2756-nightly20150930.pkg

[2015-09-30 06:39] #3860 closed

[2015-09-30 07:25] Dianafg76 commented on #3903
I close this issue, now it is working OK
The problem was , he had ignored the .txt files

[2015-09-30 07:25] #3903 closed

[2015-09-30 07:49] ckamm commented on #3747
@phil-davis Yes, this was triggered only when the client started the updater binary and closed itself.

I think you can trick the client into thinking there's an update by manually adjusting some setting values, but I don't know what combination of settings is necessary exactly.

[2015-09-30 07:56] ckamm commented on #3847
@pciavald Thanks for testing.

Looking at this again I retract my comment saying that this looks similar to #3672 and potentially tray related. The backtrace ends up in QtNetwork after all... Unfortunately I don't know what's going on.

Btw, while your qmake uses Qt 5.4.1, your owncloud uses Qt 4 when running.

[2015-09-30 08:00] ckamm commented on #3403
@jancborchardt No, a bunch of changes are left.

[2015-09-30 08:06] PVince81 commented on #2585
I haven't seen this happening any more

[2015-09-30 08:10] ckamm commented on #3820
@Lordi999 I'm afraid we still have little idea of what goes wrong. Here are some more questions:
* Once the config file has been created when running as admin, do further saves to the file work when you run as your normal user? (i.e. start as admin, verify config file exists, start as user, add another account or folder, quit, start again - did the change persist?)
* Would you be up for tracing wh

[2015-09-30 08:16] ckamm commented on #3820
@Lordi999 Could you
* make a new folder C:\Users\<Username>\owncloud-testconf
* make a new shortcut to owncloud.exe
* edit its properties and append `--confdir "c:\users\<Username>\owncloud-testconf"` after owncloud.exe in the "Target" box on the "Shortcut" page?
* run this and observe the files in "owncloud-testconf" at the same time? Does the same thing happen?

[2015-09-30 08:27] ckamm commented on #3820
@Lordi999 Instructions for Process Monitor:
* Download and install from https://technet.microsoft.com/en-us/sysinternals/bb896645
* Start it
* Go to Filter/Filter... if it didn't pop up automatically
* Set "Path" "contains" "owncloud.cfg" then "include", then click "Add"
* Make sure events are being captured (File/Capture Events is on)
* Start owncloud, the account wizard should come up
* Quit own

[2015-09-30 09:07] ckamm commented on #3701
@fm1234 I looked at your client log, but unfortunately didn't get new information:

The local discovery sees store_hddopen.jpg and does not find it in the db.

[code]

The remote discovery sees store_hddopen.jpg with a different filesize!

[code]

So we decide that this is a conflict:

[code]

and try to download the file from the server

[code]

but fail with a timeout after 5 minutes.

This is a

[2015-09-30 09:21] JKawohl opened #3904 "Misleading Dialog in Ignored Files Selection"
### Expected behaviour

The settings should be enabled  by default  for all hidden files, to delete the directories they are in.
Also the dialogue itself is to complex for non-technical users.
### Actual behaviour

![bildschirmfoto 2015-09-30 um 11 13 49](https://cloud.githubusercontent.com/assets/12275313/10189199/23e480dc-6765-11e5-9640-18f477ab928d.png)
### Steps to reproduce
1. Go to owncloud

[2015-09-30 09:21] feli74 commented on #3560
I am experiencing the same issue with the linux client 2.0.1 on ubuntu 14.04. Any recommendations?

[2015-09-30 09:30] ckamm commented on #3902
So
* We might want to evaluate whether the client should produce a louder error when it's ignoring server files that are not valid on the current system. I think this is low-priority and not for 2.0.2.
* The web interface should not allow creating files or folders with leading/trailing spaces.

I'll create a new ticket against the server for the second part and adjust this ticket for first.

[2015-09-30 09:34] ckamm commented on #3898
I can reproduce on linux.

[2015-09-30 09:44] ckamm commented on #3844
@NicolasGoeddel So it crashed easily with "2.0.1, Revision 58ea49" but you could not yet make "ckamm/debug" crash?

[2015-09-30 09:50] ckamm commented on #3878
I'll move this out of 2.0.2 since it's not urgent.

@phil-davis If we want to support your usecase, wouldn't it be easier to have a single account but allow setting up folder definitions like that? Maybe it's a good idea to hide this behind 'make a second account' though, to not confuse users...

[2015-09-30 09:56] NicolasGoeddel commented on #3844
I was able to crash it after a week again. But this time it's an other error and my log has a size of 44 GB.
This is the new error:
[code]
I can try to grep all lines of the log with a "BUG!" in it into a new file if that would help. But I don't think so.
It would be nice to be able to create smaller logs because a 44 GB log after running the client for 12.5 hours is not good.

[2015-09-30 10:11] phil-davis commented on #3878
My "use case" was just an example of what I have done while playing and testing. I don't think that I want to do it as an "ordinary user". I was just pointing out that the current behavior is flexible and happens to work. If a user wants to add the same account 2 times to the multi-account client and have 2 different sets of folder sync connections, then is there a reason to write extra validation

[2015-09-30 10:11] dragotin commented on #2585
Ok, closing this as it is supposed to be fixed with a more recent Qt version.

[2015-09-30 10:11] #2585 closed

[2015-09-30 10:23] ckamm commented on #3844
@NicolasGoeddel and me talked on IRC. The "bad_alloc" crash was most likely due to logging being enabled. He'll try to reproduce the problem again with --logdir.

[2015-09-30 10:38] pciavald commented on #3847
Is there anything I could try to give you more info ?

[2015-09-30 10:52] ckamm commented on #3847
@pciavald Maybe try installing the Qt4 debug symbols so we can get a better idea of what's happening. Many distros have debug symbol packages for that purpose.

[2015-09-30 11:04] pciavald commented on #3847
[code]

[2015-09-30 11:21] maxstricker commented on #3816
I have the same issue, even with newer client versions (tried up to 2.0.2-nightly20150929)
Tried all suggestions I could find, including a fresh install, new user accounts, various Apache settings.
It happens always with the same files (all are above 10MB, so should be uploaded in chunks), but other
big files work perfectly. Anything I could test to help track down the issue?

[2015-09-30 11:45] ckamm commented on #3847
@guruz Do you have any insights here?

[2015-09-30 12:11] ckamm commented on #3387
In master "423 Locked" is now a soft error, which means it's not as noticable to the user and does not mark the sync as failed.

To trigger a restart of the sync I'd like to know which operations can lead to 423 @PVince81? Is it only for file uploads?

@dragotin @ogoffart Do you think we should promote such an error to NormalError if it happens too often?

If we want to do that, I suggest we exten

[2015-09-30 12:32] supportreq opened #3905 "[Selfcompiled] Windows Shell Extensions dont show the icon"
I compiled the Owncloud client using the cross compile opensuse method, the windows shell extension and even the windows app is coming without the icons.. any idea?

Thanks!

[2015-09-30 12:38] PVince81 commented on #3387
@ckamm it can also happen for other operations, for example if you try moving a folder while one of the files inside is being written by another process (exclusive lock).

[2015-09-30 12:39] PVince81 commented on #3387
or deleting said folder

[2015-09-30 13:08] ckamm commented on #3387
@PVince81 Doh, thanks, that makes sense. :)

[2015-09-30 13:29] stonerl commented on #3816
@maxstricker Thanks allot. This bug was driving me crazy and I'm kind of happy to see that I'm not the only one.

[2015-09-30 13:44] Ninos commented on #3816
Is it possible that this bug only happens if the local url is a bit "too" long? A customer of mine had the same problem and fixed the upload of the affected file by moving it to the parent folder.

[2015-09-30 13:49] guruz commented on #3816
https://github.com/owncloud/core/wiki/spec:-big-file-chunking‎FYI

[2015-09-30 13:53] guruz commented on #3847
I don't think it makes sense to debug a qt4 issue. We are in progress of dropping qt4 support soon-ish, so use a qt5 client please.:)

[2015-09-30 14:50] jnweiger commented on #3897
We have uploaded the key to our https domain, linked it from the installation web page. https://owncloud.org/wp-content/themes/owncloudorgnew/assets/files/obs-release-signing.gpg is available in a secure way and can be used to verify the packages. This solves the issue from my perspective.

Do you have further improvement suggestions?

[2015-09-30 15:09] dragotin commented on #3847
Agreed on what @guruz said. This could also easily be a system with incompatible library versions.

[2015-09-30 15:09] #3847 closed

[2015-09-30 15:13] maxstricker commented on #3816
I tested it: before the filename that would trigger the connection reset including the path from OC root contained 65 characters plus the extension (.pdf). I renamed it and placed it in the OC root. Did not resolve the issue. It seems to me that also the filename is not the issue.
I already testet switching off SSL and changing the Apache KeepAlive settings. Any other suggestions?

[2015-09-30 15:44] stonerl commented on #3816
@Ninos I tested this on my second server, where I never had problems.

```root-folder|/first-folder/second-folder/file``` gave me an error. As far as I can recall most of the errors happend with files in sub-sub-folders. So maybe the length of the URLhas something to do with it, but I'm not certain. I'm going to test this further.

@ninos So far I cannot suggest anything. I used wireshark an mitmp

[2015-09-30 16:09] stonerl commented on #3816
I can confirm so far that the length is not relevant, as @maxstricker already mentioned.

[2015-09-30 16:16] cleocir commented on #3740
Same problem here.
When i enable external storage (other owncloud server) i get the same errors.

[2015-09-30 17:59] maxstricker commented on #3816
I just removed the problem creating (large files) from OC. Now smaller ones (69KB, 102KB) create the same problem. So chunking should not even occur. OC is not usable in this situation. One file blocks the whole sync. With the small files I do not even get an entry in the apache and OC logs, so there might be a problem within the client.

This is the log snippet from the client:
[code]

[2015-09-30 19:03] stonerl commented on #3816
I enabled debuging on the Server. Here is one of the famous errors:

[code]

And here is everything from the Server:

[code]

[2015-09-30 19:47] fm1234 commented on #3701
@ckamm Thanks for investigating the issue. So it seems like a server bug, which makes sense because - as you wrote - when I download the file using the web interface I also receive no data (reproducably). Interestingly, when I just open it (and see the preview) in the web interface, it works just fine.

@guruz I tried setting the LogLevel to info. And you are right, I get a bunch of messages in th

[2015-09-30 19:55] nommaz commented on #2596
Hello
What would be the best way to sponsor/offer reward for this feature?
Vedat

[2015-10-01 06:44] rperezb commented on #3717
@pierrejochem if this didn't work for you, please reopen

[2015-10-01 06:44] #3717 closed

[2015-10-01 06:58] Dianafg76 commented on #3895
@michaelstingl Could you try: http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.2750-nightly20150928.pkg
Thandks

[2015-10-01 07:01] Dianafg76 commented on #3898
@guruz, @ckamm What are the steps to reproduce this?
Thanks

[2015-10-01 07:39] ckamm commented on #3898
@Dianafg76 When you run owncloud while an existing instance is running the second owncloud.exe used to crash. It doesn't do that anymore.

[2015-10-01 07:44] guruz commented on #3897
Please comment if there is more to do, thanks :)

[2015-10-01 07:44] #3897 closed

[2015-10-01 07:48] kuking commented on #3897
Hi sorry, here. It solved my problem, thanks for it. Perhaps I would link that gpg pubkey from the 'Download' page but no need for me. Thanks for everything.

[2015-10-01 07:58] guruz commented on #3898
@Dianafg76 OS X: You can use Terminal and try to start the same owncloud from two Terminal Windows and see.. :)

[2015-10-01 08:01] guruz commented on #3701
@schiesbn ^^ Are those messages something created by the server encryption app?

[2015-10-01 08:05] guruz commented on #3816
...

I'm confused, so 8.1.3 is broken too or not?

[2015-10-01 08:19] rperezb commented on #3901
@Dianafg76 can you please check whether you reproduce this bug,

thx

[2015-10-01 08:37] Dianafg76 commented on #3895
You need change the lifetime and the timeout
Sessions lifetime="120" timeout="120", and is working

if this didn't work for you, please reopen
Thanks

[2015-10-01 08:37] #3895 closed

[2015-10-01 08:49] guruz opened #3906 "Make sqlite errors fatal"

[2015-10-01 09:15] supportreq commented on #3905
It worked after i installed kdewin-png2ico package... I guess we should have this updated in our build document..

[2015-10-01 09:15] #3905 closed

[2015-10-01 09:37] maxstricker commented on #3816
I use ownCloud 8.1.3 (beta) and Client 2.0.2-nightly20150929 (build 2752) and have the problems.

[2015-10-01 09:41] Dianafg76 commented on #3898
@guruz I have two Terminal Windows and I can't reproduce the Error

[2015-10-01 09:47] guruz commented on #3898
But you could with a previous version?
OK, nice.

[2015-10-01 09:47] #3898 closed

[2015-10-01 09:55] ckamm commented on #2939
My plan right now is this:

1) If there is less than a critical amount of space left on the disk, give up on syncing a folder entirely.

The reason is that it becomes too likely that the disk will fill up completely and we might run into problems storing the sync journal. This should be a fairly low limit. (50 MB?) If we see free space going below this threshold during a sync run, we abort immedia

[2015-10-01 09:56] stonerl commented on #3816
I was always talking about Server Version 8.1.3, the whole time, sorry didn't I mention this?

[2015-10-01 10:20] guruz commented on #3816
Sorry, hard to keep an overview here.

@maxstricker Does it work for you too if you configure like in that comment?

I'm tempted to close this bug here since this seems to be a server setup problem, nothing to do with owncloud PHP (-> core bugtracker) or client :-|

[2015-10-01 10:51] maxstricker commented on #3816
I just changed my configuration to owncloud.example.tld:4433, but the problem remains the same.
I see many "400 expected filesize 5242880 got 458752" in the logs ant there are files that do not get synced.
But now the error message in the client becomes a different one. I see a message saying "Broken webserver returning empty content length for non-empty file on resume" but for the same file my Ap

[2015-10-01 10:54] ckamm commented on #2939
@dragotin You believe we should be blacklisting these errors? We currently never blacklist local errors like this.

[2015-10-01 10:56] rperezb commented on #3724
There is no need to have this open since it´s been tested on stable8.1 and it works.

[2015-10-01 10:56] #3724 closed

[2015-10-01 11:08] rperezb commented on #3350
@jturcotte is this possible to be tested? thx

[2015-10-01 11:09] ckamm commented on #3383
@michaelstingl Can you give us a simplified example of what the desired theming is? Instead of opening `https://owncloud.example.com` you want to open `https//owncloud.example.com/shib/login`?

Would adding `QString Theme::webUrl(const QString& url)` already allow you to do what you want?

[2015-10-01 11:28] jturcotte commented on #3350
@rperezb I guess not as long as we dont have 2.1 builds :confused:

[2015-10-01 11:40] michaelstingl commented on #3383
@ckamm Put this on hold for the moment. I will discuss this with the user.

[2015-10-01 11:46] Dianafg76 commented on #3901
I can't reproduce this issue.
I have checked with:  Desktop vownCloud-2.0.2.5504-nightly20151001-setup.exe
Server version {"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":"Enterprise"}

Tested with a file stored on the root
Tested with a file stored on a folder

Can you please provide to us further details? Such as:

What it has called my attention is thi

[2015-10-01 11:49] pciavald commented on #3847
[code]
[code]
[code]
owncloud-client package seems to depend of qt4, how can I make it use qt5 ?

[2015-10-01 11:50] rperezb commented on #3350
Thanks! Just curious from a QA POV :smile:

[2015-10-01 11:53] ckamm commented on #3735
What needs to be done in the client?
* Determine whether the server accepts checksums, possibly via capabilities. Currently checksumming needs to be explicitly enabled in the config file.
* Store checksums in the database. (for performance optimization only, I guess?)
* Check that checksum errors are handled nicely.

[2015-10-01 12:06] Dianafg76 commented on #3901
I am currently checking againts 8.0.8: and it works ok

[2015-10-01 12:09] Dianafg76 commented on #3901
can you upgrade your server to version 8.0.8
Thanks

[2015-10-01 13:18] rperezb commented on #3706
Following @protist comment (works) closing the issue

[2015-10-01 13:18] #3706 closed

[2015-10-01 13:19] rperezb commented on #3273
@cruessler it'd be great if you may check whether the issue is fixed for you, thx

[2015-10-01 13:25] ckamm commented on #3883
@a-schild Can you reproduce this situation?

The second client should be querying the server regularly to check whether new data is available. It sounds like something went wrong there. If you can reproduce it, it'd be very useful to see a client log (https://doc.owncloud.org/desktop/1.8/troubleshooting.html#saving-files-directly), in particular the lines that contain etag (ignoring case).

@Diana

[2015-10-01 13:29] ckamm commented on #3876
@astucieux If I understand you correctly you have two issues:
1) When selecting 'sync hidden files' you have to manually trigger a new sync run to get the data. This should instead happen automatically.
2) It's confusing that you can select dot-prefixed folders in the selective sync interface when the folders will consequently be ignored anyway. They should probably not be shown at all.

[2015-10-01 13:41] ckamm commented on #3876
I addressed 1) in the patch above.

[2015-10-01 13:42] vijaykumar0690 opened #3907 "OwnCloud sync on windows client issue."
Hi Team,

When i try to upload or create a new directory and upload files in to the owncloud. The sync is not working as expected and its failing with an error message
Continue blacklisting: Error downloading https://cloud.weh.com/remote.php/webdav/bizruntime/Vijay/Amazon EC2 and Microsoft Windows Server 2012.mp4-chunking-3890005629-5-0 - server replied: Internal Server Error

I am attaching the l

[2015-10-01 13:44] dragotin commented on #3907
Sorry, but you have an server issue, which "Internal Server Error" is a clear indication. Please check with your server.

[2015-10-01 13:44] #3907 closed

[2015-10-01 13:46] vijaykumar0690 commented on #3907
But my server is up and running fine.
cloud.weh.com is my owncloud server.

regards,
Vijay

[2015-10-01 13:48] guruz commented on #3273
@cruessler Linux nightlies are here: https://build.opensuse.org/project/show/isv:ownCloud:community:nighly/

[2015-10-01 13:52] dragotin commented on #3907
No, otherwise it would not report an internal server error. Check the web servers error log.

[2015-10-01 13:54] a-schild commented on #3883
@ckamm Yes, did happen today again. Will try to get a client log with the ETag

[2015-10-01 14:30] dragotin commented on #3876
Yes, I think 2) happens because the selective sync list does not check the ignore patterns.

Thanks for picking that up!

[2015-10-01 14:48] Zarus42 commented on #3901
Thank you, I'll upgrage the server to the version 8.0.8 and try to produce more logs of this error.
May be long as the issue seems to appears periodically (several false conflicts at a time and then nothing wrong for several days).

I found this issue that seems to describe the same error : https://github.com/owncloud/client/issues/2577
As I see the issue is closed but the bug is in fact not resol

[2015-10-01 15:14] PVince81 commented on #3901
Regarding the version without timestamp, there was an old similar issue, see https://github.com/owncloud/core/issues/17962 (should be fixed already)

[2015-10-01 16:09] philippeVerney opened #3908 "OCC::LsColXMLParser::parse: ERROR with encoding (invalid bytes in WebDAV property)"
Since this morning (I did not change any version), I face an issue with owncloud sync desktop on windows.
I use owncloud 8.1.3 on server side and Version 2.0.1 (build 5446) on client side.

Looking at the server log, I have no problem. For information, I can go on the web interface without any problem at all.
Looking at the client log, I can see that the first error is : OCC::LsColXMLParser::parse

[2015-10-01 16:49] guruz commented on #3908
The XML Response looks OK to me and I can't find what could cause this.
Is there anything in server's ```owncloud.log```?

[2015-10-01 16:54] guruz commented on #3847
@jnweiger Don't we have an owncloud client ubuntu package using Qt5?

[2015-10-01 16:55] philippeVerney commented on #3908
I am going to put log in Debug mode on server side. In default mode, there is nothing in owncloud.log.
I was thinking the string value in <oc:downloadURL> XML tag in the second response element tag could be an encoding issue.

[2015-10-01 16:55] guruz commented on #3847
@pciavald If you wanna build it yourself: https://doc.owncloud.org/desktop/2.0/building.html

[2015-10-01 16:57] guruz commented on #3816
The only thing I can recommend is that you paste your Apache virtual host configuration, maybe we see something obvious in there..

[2015-10-01 17:01] philippeVerney commented on #3908
In debug mode, I have some new items in owncloud.log

EException: {"Message":"HTTP\/1.1 401 No basic authentication headers were found","Code":0,"Trace":"#0 \/home\/secret\/www\/owncloud\/lib\/private\/connector\/sabre\/auth.php(149): Sabre\\DAV\\Auth\\Backend\\AbstractBasic->authenticate(Object(OC\\Connector\\Sabre\\Server), 'ownCloud')\n#1 \/home\/secret\/www\/owncloud\/lib\/private\/connector\/

[2015-10-01 17:08] guruz commented on #3908
I must have been blind :-)
```<oc:downloadURL>�PV????�&#13;</oc:downloadURL>``` is of course bogus.
This should be empty / 404..

This is a server bug. Was anything else related updated possibly, maybe the PHP version?

@PVince81 @DeepDiver1975 @icewind1991 can you help?

[2015-10-01 17:15] maxstricker commented on #3816
Below my configuration, adopted the various recommendations on similar issues found in the OC forums (KeepAliveTimeout etc.).
[code]

[2015-10-01 17:35] philippeVerney commented on #3908
Since I am using a shared host (OVH which is a big one in Europe), there could have been update which I don't know on the server side.
phpinfo tells me I am using PHP 5.6.6

[2015-10-01 18:02] stonerl commented on #3816
This is how mine looks like:
[code]

[2015-10-01 20:06] astucieux commented on #3876
@ckamm It can be described as two issues but, for me, actually solved by one straight forward OC-client adjustment.... If I have DOT prefixed hidden folders under my OC account then I would expect the 'Sync hidden files' to be assumed as 'True' and NOT to have the burden of afterwards manually ticking the flag and then waiting for the downloads.

So to answer your two questions:
1) When selecting

[2015-10-01 21:19] soee commented on #3273
@guruz this link is broken. Can you provide working one ?

[2015-10-01 22:26] danimo commented on #3273
@soee The link was wrong (nighly -> nightly). Fixed. Please try again.

[2015-10-02 00:49] Enoch247 commented on #3287
I don't understand all the particulars of SSL, but according to Apache's site, client certificates are per directory:
http://httpd.apache.org/docs/2.2/ssl/ssl_howto.html#arbitraryclients

[2015-10-02 05:10] andrewfister commented on #3820
This issue seems to have resolved for me. What I noticed in my case was that I was registered to the Owncloud PPA for Ubuntu 14.10. I changed it to 15.04 and there was an update available. After installing, owncloud was able keep its configuration.

[2015-10-02 07:10] philippeVerney commented on #3908
I just woke up today and it works back.
No idea of what has happened. Probably something on server side from my host.

[2015-10-02 07:27] guruz commented on #3820
@Lordi999 Hi, any news from you?

@andrewfister Do you see the Qt version in the client settings dialog? That's a good way to check for sure which version it uses (and maybe it switched to Qt5?)

[2015-10-02 08:33] benmichael commented on #3883
I am observing this exact problem.  I will try to reproduce and get logs for you tomorrow.

[2015-10-02 08:50] OoTBDS commented on #3883
I've been experiencing the same problem.
PC A : Shares files -> Uploaded to server
PC B-C-D : Receives files from server -> Edit's files -> Uploaded to server
PC A : Doesn't see changes (Log in to server and the changes are there)
PC A : Create random .txt file (Client Sync's and Pulls B-C-D's Changes)

I experienced this with Client 1.8.1 and now with 2.0.1

Here is a part of the log where I crea

[2015-10-02 11:12] vijaykumar0690 opened #3909 "Folders not getting deleted from webfrontend."
Hi Team,

When i try to delete the shared folders from web console the files are not getting deleted and it remains the same.Where as when i try to delete it from Owncloud client it gets deleted and it works as expected. not sure what is causing the issue.

When i check on data folder i do not see the folders there. its actually been deleted. But in web console it still appears to be there.

Regar

[2015-10-02 11:23] sciurius commented on #154
Haven't seen this for a while now on Fedora 22 with owncloud-client-2.0.1-3.1.x86_64.

[2015-10-02 11:58] stonerl commented on #3816
I did some extensive testing last night. I monitored ```data/$user/cache```and ```/tmp```. The Antivirus app is enabled, this helped me allot to track this down.
Here is the script i used:
[code]
[code]

Here are the matching part files and clamav temp files. You can tell this from the size.

Chunk 19:
[code]

Chunk 20:
[code]

Chunk 21:
[code]

I did an ```ls``` every second. What you can see is

[2015-10-02 12:00] OoTBDS commented on #3883
I just found that Pausing, and then Resuming Synchronization forces the client to pull from the server. Is there any way we could fix this?

[2015-10-02 12:16] a-schild commented on #3883
This night it did sync as it should, not sure what else is needed to trigger the problem.
But I can confirm that pausing & resuming sync on the client does then retrieve the changes from the server.

[2015-10-02 12:49] guruz commented on #3909
Hi, please try on this tracker, not in the client tracker:
https://github.com/owncloud/core/issues
Also make sure to use the issue template

[2015-10-02 12:49] #3909 closed

[2015-10-02 12:51] ckamm commented on #3387
Was backported to 2.0.2

[2015-10-02 12:53] stonerl commented on #3816
Just on more question I did an ```ls```in the cache folder:

[code]

Why is the timestamp for all files October 3 now? Today is the 2nd?

[2015-10-02 12:56] PVince81 commented on #3816
Because that's how the chunk expiration code does it.
It sets the timestamp in the future.

Then during garbage collection, it expires all chunks which mtime is in
the past.

On 10/02/2015 02:53 PM, Toni Förster wrote:

[2015-10-02 12:57] stonerl commented on #3816
@PVince81  thanks allot

[2015-10-02 13:02] ckamm commented on #1478
Making it easy to edit the server URL would lead to lots of problems and confusion, we're unlikely to allow that.

Building an explicit switch or automatic detection for this particular case seems like it'd not be worth the effort.

I think editing the URL is going to stay the prefered way of making this change.

[2015-10-02 13:02] #1478 closed

[2015-10-02 13:08] ckamm commented on #2023
Like @perezmeyer says, it seems that the problem only still appears with an unpatched Qt4. We're unlikely to be able to address that.

[2015-10-02 13:08] #2023 closed

[2015-10-02 13:20] ckamm commented on #2360
Maybe it's time to drop the legacy propagator entirely?

[2015-10-02 13:23] felixboehm opened #3911 "Delete remote share folder: Internal Server Error"
### Expected behaviour
Local delete of a remote shared folder should behave like "normal" shared folder:
Delete a shared folder on the server does remove the share (for me), but does not delete the folder for other users / the user who shared

### Actual behaviour
Sync client shows ![bildschirmfoto 2015-10-02 um 17 02 48](https://cloud.githubusercontent.com/assets/1204907/10249819/8d48bbe2-6927-11

[2015-10-02 13:26] #2718 closed

[2015-10-02 13:28] rperezb commented on #3724
Rechecked again using:

ownCloud Enterprise Edition 8.1.3 (daily) Build:2015-10-02T03:14:59+00:00 4a1246fa291974702b0bfb05ea973cd46bed48cd
Desktop version 2.0.1 (production one)
working fine
cc @cmonteroluque

[2015-10-02 13:29] ckamm commented on #2983
@dragotin Am I understanding correctly that this ticket should be called "Check checksums before assuming a file was moved"?

[2015-10-02 13:40] MTRichards commented on #2872
This is a fairly significant issue and requires a deep architectural change on the server to make it possible. It is not slated for 9.0 at this time, and it is still not clear that we want to merge offline behavior (sync) with online behavior (locking).

[2015-10-02 13:41] michaelstingl commented on #3383
@ckamm I discussed this with the user. We will first try if https://github.com/owncloud/client/pull/3802 could fix this too.

[2015-10-02 13:41] #3383 closed

[2015-10-02 13:43] MTRichards commented on #2872
https://github.com/owncloud/core/issues/17732

[2015-10-02 13:59] ckamm commented on #3876
@astucieux Excludes are now applied to the selective sync dialogs. That means if hidden files aren't synced these hidden folders won't appear there. Hopefully that'll remove the confusing issue where a folder with a checkmark isn't synced anyway.

[2015-10-02 15:15] cdamken opened #3912 "[1.8.4] Sync-Client keeps connected even if the user does not have access over LDAP"
### Expected behavior
User is removed from the LDAP privileges to access ownCloud, and the client should not sync anymore.

### Actual behavior
User is removed from the LDAP privileges to access ownCloud, but the synclient keeps syncing.

### Steps to reproduce:
1.- Access over the Desktop and sync normally an LDAP User
2.- Remove the privileges to access to the user.
3.- Test the user over the we

[2015-10-02 15:16] cmonteroluque commented on #3724
@rperezb @Dianafg76 thank you!

[2015-10-02 15:22] felixboehm opened #3913 "[Shibboleth] [WebKit] Wrong UserAgent on Client with SSO"
### Expected behaviour
Sync client should use same User-Agent-String on all requests.
Admins require in some setups to route requests to specific servers based on User-Agent-String.

### Actual behaviour
User-Agent-String of a Client changes from "*mirall*" to "*Safari*" after redirection to IDP login page.

### Steps to reproduce
1. Use Shibboleth auth with Sync Client
2. Look into logfiles:

###

[2015-10-02 15:30] astucieux commented on #3876
@ckamm Greetings.....
Have I understood your amendment correctly? Will the OC-client sync-selection interface now include the display 'Sync hidden files' option? Meaning, if I tick the flag, my hidden folders will also be displayed and I could then select the one hidden folder I want downloaded to a new OC root-folder location.
If that is how your enhancement will work, that will be brilliant....!

[2015-10-02 15:38] guruz commented on #3286
Let's have this show up in the activity log (sync protocol) then..

[2015-10-02 15:40] guruz commented on #3222
In general, I think we need a way to have user notifications displayed (also in tray?) that are not associated to a ```SyncFileItem```
@dragotin @danimo

[2015-10-02 15:41] guruz commented on #3235
@dragotin @ogoffart @ckamm @moscicki  I was in general wondering if we should have a ```csync_journal``` table
```phash, mtime, checksumtype, checksum``` that is only lazily filled.
Else we risk taking a lot of time to checksum everything..

[2015-10-02 15:46] guruz commented on #2983
Note the whole move detection business is tricky
https://github.com/owncloud/client/blob/master/csync/src/csync_update.c#L277-l295

[2015-10-02 15:49] guruz commented on #2959
@raydoo Just wondering if you updated to Yosemite yet or not?
Does this still happen?

[2015-10-02 16:01] guruz commented on #3912
Are you sure this is not a server WebDAV issue?

FYI @blizzz @icewind1991 @PVince81

[2015-10-02 16:04] guruz commented on #3911
[code]

DELETE failing? FYI @icewind1991 @DeepDiver1975

[2015-10-02 16:06] danimo commented on #2818
The current logic is

[code]

is that not good enough?

[2015-10-02 16:16] danimo commented on #3913
This is by design. Changing the user agent for the QtWebKit component is not a good idea, because this interferes with a lot of websites that (still) do not discriminate by features, but by user agent. I intentionally did not touch the User Agent of the QtWebKit component, which is resembles Safari's user string (which is actually closest to the truth).

That said, We could snak in the Mirall sign

[2015-10-02 17:22] pierrejochem commented on #3905
https://github.com/danimo/docker-ownCloud-client-win32 :wink:

[2015-10-02 19:09] felixboehm commented on #3913
If an IDP login website would reject certain User-Agents, the SSO mechanism would be useless.
Maybe I do not understand the concerns.

@dragotin

[2015-10-02 19:48] bboule commented on #3913
@MTRichards this seems like a product discussion, could we discuss this and options? considering @danimo concerns, perhaps there is another way to solve this?  I think the issue here is routing requests based on user agent (request coming from desktop, web, or mobile going to different OC servers) and the potential confusion this might cause to someone who is doing this type of filtering/load bala

[2015-10-02 20:27] MTRichards commented on #3913
Yep.
If I understand correctly, since we use webviews to authenticate with Shibboleth and not a native window, the switched user agent is true.
So when the client is redirected to the IDP to log in, it switches to safari on windows because it uses a webview (and probably default webview for Windows and linux too, which is also different). Then once authenticated, it should switch back. Isn't this

[2015-10-03 00:34] nikolaygit commented on #3548
Hello, I have also an the old 1.5.0 version on Ubuntu 14.04, but how can I install the 1.7.x? The README.md is linking to http://owncloud.org/sync-clients/ which leads to the default Ubuntu installation.

[2015-10-03 00:40] nikolaygit commented on #3548
this helped me with the installation: https://doc.owncloud.org/desktop/1.7/installing-linux.html

[2015-10-03 04:16] pciavald commented on #3847
after installing these packages
[code]
I've been able to compile from source, however I couldn't launch `owncloud` binary because it was still missing `libowncloudsync0` which depends on qt4. So I did
[code]
to install ignoring dependencies, now it seems to work. I've been checking [here](http://packages.ubuntu.com/vivid/owncloud-client) and `owncloud-client` package really depends on qt4 which is

[2015-10-03 08:52] DaveJ61 opened #3914 "[Windows 10][Client] Sync client cannot rename download temporary file"
I have the latest owncloud server on my local lan file server running Ubuntu Server 14.04. I also have a Xubuntu 15.04 machine and my Windows 10 machine. Both of these are running the latest clients 2.0.1 (build 5446). As far as I know, nothing has changed and I haven't changed any configuration.
The linux client works perfectly for me but the windows 10 client has issues. It is not syncing proper

[2015-10-03 09:46] guruz commented on #3847
@pciavald The libowncloudsync is shipped with the source. So if you compile from source, you should make it use that libowncloudsync. This is all done automatically when doing ```make install```..

[2015-10-03 09:55] guruz commented on #3913
Why not just _append_ the ```mirall``` or ```ownCloud``` or ```$BRANDNAME``` to the user agent?

[2015-10-03 16:13] Lordi999 commented on #3820
@ckamm I've tried it with the alternate Config- Folde but the behavior remains.
I cannot attach the Log Files, but here they are: http://cloud.die-stengers.com/index.php/s/pa9hc5jW6ejaCYO

[2015-10-03 17:16] despens commented on #3826
I have been able to get rid of this problem by setting nginx's `client_max_body_size` to `0`. The error was noticeable on the web interface when trying to upload the same files there. I'm ok with closing this bug.

[2015-10-03 17:20] despens commented on #3826
(That being said, it would be great if the sync client could figure out, by trying different request sizes, what is the server configuration. nginx's default is a measly 1 MB.)

[2015-10-03 18:30] spoiltvictorianchild opened #3915 "Sync ends in error and says "Success" (red icon)"
This is an issue that was on the forum at https://forum.owncloud.org/viewtopic.php?f=14&t=30547 but no one seems to have reported it here. I will do my best to report it properly. Note that I am using version 2.0.1.5446 of the client.

**Steps to reproduce**
1. Open up client
2. Attempt a sync

**Expected behaviour**
Sync should work as usual

**Actual behaviour**
Although the client returns the m

[2015-10-04 09:25] raydoo commented on #2959
@guruz I am still using yosemite or do you mean el capitan? Problem still exists. I will try it again when i upgrade to el capital.

[2015-10-04 10:49] UkeFan opened #3917 "[OS X] [2.0.1] does't sync since a few days (OC 8.1.3.) when using https"
### Actual behaviour
Since I updated OC to 8.1.3 my Mac client doesn't sync properly. It kinda connect's but shows the red cross and can't sync data. The Android apps plus the web-surface are alright.

### Steps to reproduce
1. Deinstall the client
2. Reinstall the client
Same with deleting and resetting the account within the client

### Server configuration
Operating system: Linux?!

Web server:

[2015-10-04 10:57] UkeFan commented on #3917
When I add the same OC-Account as "http://.." instead of "https://.." ist works and shows the SSL-Connection nevertheless. So anyting around the certificate oder SSL-Socket (whatever that is) might be wrong. Is it a missetting on my behalf?!

[2015-10-04 18:24] dejongac opened #3918 "[OS X 10.11 El Capitan] No menu item in when having "Auto hide menu bar""
After installing the new version of OSX version 10.11 El Capitan (Fresh install).
I installed the OwnCloud client ownCloud-2.0.1.2694-2, it installed correctly but no menu item.
if you move your arrow onto a empty space and click it reacts, so apparently the Icon is gone but the product is working.

[2015-10-04 19:58] guruz commented on #3918
@dejongac Do you mean the icon in the menu bar on the top?
So if you click the empty space you get the usual drop down menu?

[2015-10-04 20:00] guruz commented on #3917
Which error does it show in the UI when the red icon appears?

You use the HTTP URL but it shows the SSL certificate dialog?

[2015-10-04 20:01] dejongac commented on #3918
Hello markus,

yes that is correct, the field is there but the icon is missing.

Met vriendelijke groet / With kind regards,

Albert de Jong

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: Markus Goetz <notifications@github.com>
Datum: 04-10-2015 21:58 (GMT+01:00)
Aan: owncloud/client <client@noreply.github.com>
Cc: Albert de Jong <albert.dejong@aimk

[2015-10-04 20:19] UkeFan commented on #3917
As far as I remember it toggled between "unknown error" and "connection error". The activity tab was blank. Data were not synchronized.
@ http connection: no. No dialogue. It shows the professional certificate of my SIP. Why that and not my self-signed one I don't understand neither. But now: everything's working fine PLUS everything looks like https. Strange ?!

[2015-10-04 21:03] guruz commented on #3917
@UkeFan Could you check your ```owncloud.cfg``` on desktop?
But yes sounds all a bit server/provider related?

[2015-10-04 21:13] guruz commented on #3918
What is your screen size (pixels?)
Do you have a screenshot?
I can not reproduce this on my 10.11 machine.

[2015-10-04 21:40] dejongac commented on #3918
My screen is set to default display, also tried other scaled but same result.

As you can see on the print screen no icon

Met vriendelijke groet / With kind regards,

Albert

From: Markus Goetz
Reply-To: owncloud/client
Date: Sunday 4 October 2015 at 23:13
To: owncloud/client
Cc: A de Jong
Subject: Re: [client] No menu item in OSX 10.11 El Capitan (#3918)

What is your screen size (pixels?)
Do yo

[2015-10-05 06:52] guruz commented on #3918
@dejongac Can you attach the screenshot via web?
I can't see it from e-mail

[2015-10-05 07:53] dejongac commented on #3918
I attached it as a jpg
will send it tonight again via web.

Met vriendelijke groet / With kind regards,

Albert de Jong

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: Markus Goetz <notifications@github.com>
Datum: 05-10-2015 08:52 (GMT+01:00)
Aan: owncloud/client <client@noreply.github.com>
Cc: Albert de Jong <albert.dejong@aimkl.com>
Onderwerp: Re:

[2015-10-05 08:00] dejongac commented on #3918
![screen shot 2015-10-04 at 23 29 01](https://cloud.githubusercontent.com/assets/14966691/10275454/db7a8db4-6b47-11e5-9357-cac77fe88838.jpg)

[2015-10-05 08:01] dejongac commented on #3918
Picture is uploaded to the web, as comment to my original item.

Met vriendelijke groet / With kind regards,

Albert

From: Markus Goetz
Reply-To: owncloud/client
Date: Monday 5 October 2015 at 08:52
To: owncloud/client
Cc: A de Jong
Subject: Re: [client] No menu item in OSX 10.11 El Capitan (#3918)

@dejongac<https://github.com/dejongac> Can you attach the screenshot via web?
I can't see it from

[2015-10-05 08:13] guruz commented on #3915
Can you please try with the latest 8.1.x server?

[2015-10-05 09:28] MorrisJobke commented on #3912
This is because the user still has an active session. Correct @DeepDiver1975 @LukasReschke

Ref https://github.com/owncloud/core/issues/18410

[2015-10-05 09:32] nasprey commented on #3682
Morning guys,

We have started to use OwnCloud over the last couple of weeks at our company (online qualifications) instead of our previous cloud system with DriveHQ. So far we have approx 20 students using the OwnCloud windows client without issues.

We did very early on have an issue with one student using Windows 7 Professional 32Bit who could not install the software and was getting the "This

[2015-10-05 09:37] Dianafg76 commented on #3387
@ckamm I tested this issue
I have one quenstion. Thi is the steps tto reproduce
1. Go to the Desktop client
2. Create a New folder (e.g. ONE)
3. Go to the Folder ONE
4. Upload a file
5. Go to the Server Web with the same user
6. Rename the folder ONE for RENAME ONE, move the folder or delete the folder
7. Go to the Desktop client
8. You can see this error
![screen shot 2015-10-05 at 10 50 45](http

[2015-10-05 09:38] danimo commented on #3682
Please tell your developer to the correct repository to build the client, as decribed in https://github.com/owncloud/client/issues/3682#issuecomment-135658129.

[2015-10-05 09:52] nasprey commented on #3682
Thanks very much!

[2015-10-05 10:31] Dianafg76 commented on #3387
Desktop v ownCloud-2.0.2.2766-nightly20151005.pkg
Server v {"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":"Enterprise"}

[2015-10-05 11:04] Dianafg76 opened #3921 "Deleting folder on server during client file upload results in odd error message"
### Steps to reproduce
1.Install v 2.0.2 on the Desktop client
2. Create a new account
3. Right click on the oC icon
4. Go to Open Folder.....
5. Create a New folder (e.g. Folder1)
6. Go in to Folder 1
7. Upload a File
8. Go to the Server Web with the same account
9. Delete the Folder1

### Expected behaviour
It should look like when you move or rename

### Actual behaviour
On the Desktop Client y

[2015-10-05 11:06] Dianafg76 commented on #3921
related #3387

[2015-10-05 11:49] icewind1991 commented on #3911
@felixboehm are you able to delete the remote share from the web interface?

[2015-10-05 12:18] dragotin commented on #3911
I am not sure if I understand the term "remote share" here? If that is a share that was shared to you by another user, the behaviour is exactly how it is designed: If you delete the shared folder locally, it just removes the share.

[2015-10-05 12:22] ekiselyov commented on #3918
I have same problem — Retina 15" (mid 2015)
<img width="381" alt="screenshot 2015-10-05 15 20 51" src="https://cloud.githubusercontent.com/assets/12184502/10280301/d64ca20a-6b74-11e5-91a9-d4eb842e7377.png">

[2015-10-05 12:31] dragotin commented on #3918
sorry, this is neither gold nor in the scope of 2.0.2

[2015-10-05 12:33] dejongac commented on #3918
? What do you mean this is not Gold or in scope.

This should be basic functionality and should have been working from start.
You start a client but cannot see if it is working or not because you are missing a vital part.

[2015-10-05 12:47] danimo commented on #3918
@dejongac before we cannot reproduce the issue, we can't fix it. It also means that not everyone seems to be affected. Given that 2.0.2rc1 will be out any day now (and already behind schedule), which implies that the branch is deep-frozen, we have to move this to 2.0.3 or 2.1.

[2015-10-05 12:51] dejongac commented on #3918
That is a different answer than what dragotin just said and i understand that you are not able to work on it now but will address in the future.

But it is strange that after a clean install of OSX 10.11 and own cloud client this problem appears.
If you what to test i will be happy to do so.

[2015-10-05 12:57] danimo commented on #3918
It's exactly the same meaning :). Gold tickets block a release, and are there for regressions in our code base. I have tested with El Capitain from the first developer beta, and it worked fine. However, I preformed an upgrade from 10.11, and gradually transitioned through the betas. My upgrade to the final version is still pending, through @guruz already seems to run on the final version.

@dejong

[2015-10-05 12:59] dejongac commented on #3918
Yes i run on a retina display and apparently so does ekiselyov, see comment above.

[2015-10-05 13:21] Dianafg76 commented on #3917
I tested this issue and for my is working OK
Desktop v ownCloud-2.0.2.2766-nightly20151005.pkg
Server v {"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":"Enterprise"}

[2015-10-05 14:24] felixboehm commented on #3911
remote share = federated cloud shared = share between instances

You are right, can't delete the remote share in web either.
@cdamken said this should be fixed in server 8.1.3.

So I close this, test again and reopen if needed.

[2015-10-05 14:24] #3911 closed

[2015-10-05 15:23] felixboehm commented on #3911
It is still an issue with 8.1.3 - but I will stick to core repo

[2015-10-05 15:24] felixboehm commented on #3911
https://github.com/owncloud/core/issues/18360

[2015-10-05 17:38] ckamm commented on #3820
@Lordi999 Great, thanks for those log files!

Preliminary findings:
* The client accesses `Local\oC_test\owncloud.cfg` and `Local\ownCloud\owncloud.cfg`. That's sounds like an unrelated bug. Most of the accesses deal with the path specified in `--confdir`.
* The `owncloud.cfg.lock` file is accessed and created successfully.
* The same goes for the temporaries like `owncloud.cfg.Hp9132`
* However,

[2015-10-05 17:51] carlaschroder commented on #3804
Not sure why this is still open, or has a sev1-critical label. AFAIK everything is in the manual is current.

[2015-10-05 17:51] carlaschroder commented on #3804
@danimo

[2015-10-05 18:32] hzprky commented on #659
in an earlier comment someone stated the option that his dual screen setup is causing the OC icon to disappear from the tray.
i have a probable similar setup in operating system (linux mint 17.2), which is based on Ubuntu 14.04, and also a dual screen system.
The tray icon is not showing after reboot. When i kill the process and restart it sometimes shows up in the tray but after next boot it'S go

[2015-10-06 04:03] rdsqc22 commented on #2957
A note to anyone else having the same problem- I came across this error, but the .htaccess change did not help. Instead, removing all spaces from my password made the error go away. It seems like a fairly generic error.

[2015-10-06 05:08] #3804 closed

[2015-10-06 07:31] ckamm commented on #3387
@Dianafg76 If I understand correctly you are renaming a folder on the server while a sync is running? I doubt that will trigger a 423 error on the client. I don't know whether there's a good way to manually trigger a 423 for testing purposes?

[2015-10-06 07:38] Dianafg76 commented on #3387
@ckamm If I understand correctly you are renaming a folder on the server while a sync is running? Yes, That's right

[2015-10-06 07:44] rullzer commented on #3879
Start in #3923

[2015-10-06 07:52] Dianafg76 commented on #3387
Log
[code]

[2015-10-06 10:23] Dianafg76 commented on #3387
@ckamm
Steps:
1. On the Desktop, Donwload one file
2. Go to the Server
3. Rename the Folder
4. Go to the Desktop client
5. Delete the same folder
After the download , on the desktop go to the activity option, and you can see :
![screen shot 2015-10-06 at 12 12 08](https://cloud.githubusercontent.com/assets/12032058/10306019/5c8dd7e4-6c24-11e5-9b0c-63505ad21bfc.png)

My question is : Is this correc

[2015-10-06 12:07] Dianafg76 commented on #3914
I tested this issue, and In Win10 you can't see the hidden files
Desktop v ownCloud-2.0.2.5518-nightly20151006-setup.exe
{"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":"Enterprise"}

[2015-10-06 12:26] dragotin commented on #3387
Well, what happens here is: The client uploads chunks of a file to a directory which vanishes during the upload. So the upload to the old folder is not longer working - and the error message *server replied: Not Found (File with name New Folder could not be located)* seems correct.

In the next sync run, this should recover correctly. I do not see a simple solution to this.
@Dianafg76 do you agree

[2015-10-06 12:29] dragotin commented on #3387
And btw, why @Dianafg76 might have seen a 423 Locked error here might be caused by this: During the rename of the target folder, the server might return the 423.

[2015-10-06 12:39] dragotin commented on #3914
I do not understand correctly what you are doing, expecially *if I dump a file silently, or by way of html access, the file will get synced to my windows 10 machine, but will be hidden*. Please try to explain what you do to get the error. Also, please create a client log file as described in the client troubleshooting documentation. Thanks,

[2015-10-06 12:50] DaveJ61 commented on #3914
I am just using the windows client as it should be used. I thought that what I had put in my original post was quite clear. Also, quite clear on why I cannot attach a a log file. I get a message saying "Something went really wrong, and we can’t process that file. Try again." when trying to attach the file. I just tried it again. I even renamed the file to have a txt extension as .log files are not

[2015-10-06 12:56] phil-davis commented on #3804
https://doc.owncloud.org/desktop/2.0/navigating.html
"The little button with three dots that sits to the right of the sync status bar offers three additional options:"
Actually it has 4 options - it also has "Choose what to sync".
I will make a pull request to fix that...

[2015-10-06 12:58] dragotin commented on #3914
Sorry, not clear enough for  me. Sometimes I have a hard time  to understand this sync stuff ;-)
You mean if you upload a file during the web interface, it does not come back to the client but remains as hidden file?

These hidden files stem from the download process of the client. It downloads a file from the server into the hidden file and once that is finished, it renames it to the final name.

[2015-10-06 13:01] Dianafg76 commented on #3387
@dragotin
In the next synchronization run , this should recover properly. I do not see a simple solution to this . I agree , it's what you're doing right now

[2015-10-06 13:04] dragotin commented on #3387
@Dianafg76 I do not really understand your last comment :smile:

[2015-10-06 13:08] Dianafg76 commented on #3387
@dragotin Sorry
I mean in the next synchronization run, It does it correctly

[2015-10-06 13:33] DaveJ61 commented on #3914
Ok. I have now installed the owncloud client onto my hard drive but outside of the "Program Files" directory. I have stuck it into an apps folder and, touch wood, everything appears to be working at the moment. I have kept the data location in my user directory as per standard installation.
I'm going to test for a few days and see what happens.

[2015-10-06 13:37] dragotin commented on #3914
yes, you need write access in the sync directory that you use.

[2015-10-06 14:16] carlaschroder commented on #3804
Ha. They sneaked that in later, @phil-davis

[2015-10-06 14:23] tosod opened #3925 "Sync partners cannot open synced files (corrupted in sync process), Sabre\DAV\Exception\Forbidden, <s:message>Unsupported client version.</s:message"
Steps to reproduce
------------
* Folder shared with several clients
* Most clients running version 2.0.1.5446, a problematic client running 1.7.. (most likely 1.7.1 (build 4382)) (+ potentially one or two running version 1.8.0.4893 also)
* Server "version":"8.1.1.3","versionstring":"8.1.1"

Expected behaviour
------------
Files sync successfully from the 1.7.1 (build 4382) client without being co

[2015-10-06 14:39] DaveJ61 commented on #3914
I do have write access to the data... it's my user folder. I can read/write and do anything, my account is an administrator account anyway. It should work regardless as a standard installation, but it does not. Anyway, I will test.

[2015-10-06 15:25] echosa commented on #3918
I'll jump in on this as well. I see this same behavior after upgrading to El Capitan (not a clean install). I'm using the dark menu bar in OS X, and tried the monochrome OwnCloud icon and the color icon. Neither show up, but I can click the blank space. Default resolution on a MacBook Pro (Retina, 15-inch, Mid 2014). In case it matters, I'm using the new "hide menu bar" setting.

<img width="1440"

[2015-10-06 15:26] rperezb commented on #2818
Well, if we take into account: the previous part

[code]

yes  :+1:

[2015-10-06 15:26] #2818 closed

[2015-10-06 16:58] cruessler commented on #3273
I just installed revision https://github.com/owncloud/client/commit/6b1bfb44740ceafc39a86b732304b41ce1131c15 (built today) and restarted my machine several times. I did not change anything besides that. Unfortunately, the issue persists. Is there any log output I could provide?

[2015-10-06 17:40] RalfJung commented on #2123
I am having this issue as well: After logging in, there is no icon for the ownCloud client, just a window popping up informing me about the sync state. I just killed the owncloud process and started it again, which made the icon appear.

This is with Qt 5.5 on Debian testing, using Cinnamon as my desktop.

[2015-10-06 17:42] RalfJung opened #3926 "Main client window opens on every login"
Each time I log in, the ownCloud client main window appears. I don't see how this is useful, and consider it fairly annoying. The client should sit in the background and silently do its work, without bragging for attention whenever I log in.

This is on Debian testing, owncloud-client 2.0.0, Qt 5.5, using Cinnamon as my desktop.

[2015-10-06 18:21] ZiiX opened #3927 "Manual File Copying Across Device(s) Not Recognized"
I had to do a reinstall on another device:
- one windows and one mac
- but when I placed the exact files and exact directory from PC that was up-to-date with the owncloud server on my mac laptop it didn't simply recognize the files / file structure... The mac sync app had to re-download everything. Is there a setting or hidden log file that should be copied? Is this a nuance with server-side encry

[2015-10-06 18:28] chesterdkat opened #3928 "[OS X CAPITAN] Sync Client v. 2.01 shows error when "Choose what to sync""

[2015-10-06 18:33] chesterdkat commented on #3928
OS X Sync Client v. 2.0.1 will not show the folder hierarchy of "What to Sync" but instead errors. Thinking a possible issue with my server I checked my wife's MacBook Air and version 1.8.4 (build 2531) works perfectly. I deleted version 2.0.1 from my Retina MacBook Pro and reverted to 1.8.4 (build 2531) which works correctly.

[2015-10-06 18:34] idallas commented on #3918
I am seeing the same missing icon behavior in El Capitan and am also using the "hide menu bar" setting.  After unhiding the menu bar, the icon comes back after about 5 seconds.  Hiding the menubar makes the icon disappear again, also after a few seconds.  I'm on a mid-2012 13" Macbook Air.

[2015-10-06 23:46] EamonnDH opened #3929 "OSX will not build. "use of undeclared identifier 'preferencePanelCount'""
### Expected behaviour
Client build successfully on OSX.

### Actual behaviour
Partially completes (86%).
Throws errors relating to 'preferencePanelCount', 'insertPreferencesPanel', 'removePreferencesPanel'.

### Steps to reproduce
1. https://doc.owncloud.org/desktop/2.0/building.html Following OSX instructions, steps 1-3 followed. (There is no step 4?)
2. Follow generic build instructions, with "

[2015-10-07 04:59] spoiltvictorianchild commented on #3915
I updated the server to version 8.1.3, but the behavior remains the same. (I logged out of my server in the client, and logged back in.) Happy to provide other information.

[2015-10-07 05:08] bofmog commented on #3929
Please change your Qt version to 5.4.

[2015-10-07 06:13] hvisage commented on #230
+1

;(
@danimo keeps hampering on the "Server must be authoritative" but that is an easy solve:  the server gives the key to the files on the remote LAN client to fetch.

The protocol could be as simple as a broadcast (on UDP) that the other clients pick up, and report to the server those it saw. Packet could/should be encrypted/signed with the user's password and the servers certificate thus it c

[2015-10-07 06:54] danimo commented on #230
@hvisage And I do not disagree at all. Please see https://github.com/owncloud/client/issues/230#issuecomment-74153667.

[2015-10-07 07:40] pierrejochem commented on #3918
Me too

[2015-10-07 08:11] pierrejochem opened #3930 "[Proposal][Windows] Add files list to a name space tree (Namespace Extensions)"
I think it would be a great benefit to add the files list to an own name space tree like onedrive is doing it in the windows explorer. Here is an example to show you what I mean in detail:

![onedrive_2015-10-07_16-40-16](https://cloud.githubusercontent.com/assets/9192953/10340829/2ada8faa-6d12-11e5-8406-52a4f2be1ef8.png)

http://www.codeproject.com/Articles/1649/The-Complete-Idiot-s-Guide-to-Writ

[2015-10-07 08:15] pierrejochem commented on #3930
@guruz ;-)

[2015-10-07 11:25] Dianafg76 commented on #3928
@chesterdkat I need more information for reproduce this issue
Can you write the steps, please?
Thanks

[2015-10-07 12:32] OoTBDS commented on #3883
After setting force sync in configfile.cpp to True, I have found that the syncing isn't the issue, the client connects when it should and does what it should. The issue has to do with the client not being able to find that the edited file is actually different.

So I ran a Log and located a file that I've been using for testing:

Test.xlsx was created on machine A and Shared with User B
On User B'

[2015-10-07 12:45] PVince81 commented on #3387
@Dianafg76 which specific case are you having trouble with ?

[2015-10-07 12:50] Dianafg76 commented on #3387
@PVince81 I 've written about two cases and not if they are correct

[2015-10-07 13:06] pciavald commented on #3847
It seems `make install` didn't install libowncloudsync right for me because after compiling owncloud it couldn't run, complaining the lib was missing.
It is present in `client/build/src/libsync/libowncloudsync.so` though.

![oc_sync](https://cloud.githubusercontent.com/assets/3384097/10338184/e8389bd6-6d04-11e5-801d-f38a7c41c083.png)

When I added my account I could select which folders to sync, b

[2015-10-07 13:28] PVince81 commented on #3387
In general it is very difficult to reproduce a 423 error, unless you have a slow server/client and a lot of luck.

The best is to edit the server code and add a sleep() in the upload code, just before the final rename:
Before this line https://github.com/owncloud/core/blob/v8.2RC1/lib/private/connector/sabre/file.php#L171 add "sleep(10);".

Then:
1. Create a folder "folder"
1. Wait for sync
1. Upl

[2015-10-07 13:43] danimo commented on #3831
Please test with nightly builds >= 523

[2015-10-07 14:25] madmas commented on #3857
I'm experiencing the same problem; seems like i ned to exclude the .git folders; but what if I actually want to have them synced as I do not necessarily push my git folders to a remote? Would be nice to have them in my owncloud :-)
Seems like there is also a thread in the forums about this issue: https://forum.owncloud.org/viewtopic.php?f=14&t=22695

[2015-10-07 14:57] chesterdkat commented on #3928
I have a Debian 7 server running ownCloud 8.1.3 (stable). My wife and I have 4 Mac's syncing to ownCloud:

1- iMac i3 w/ 12 GB's of RAM ownCloud sync client version 2.0.1, user jovad
1- MacBook Air i7 4 GB's of RAM ownCloud sync client version 1.8.4, user jovad
1- Mac Mini Server i7 16 GB's of RAM ownCloud sync client version 2.0.1, user dovad
1- Retina MacBook Pro i7 8 GB's or RAM ownCloud sync c

[2015-10-07 15:04] Dianafg76 commented on #3928
@chesterdkat Thanks you for the information

[2015-10-07 15:15] chesterdkat commented on #3928
FYI, with OS X El Capitan's "Dark Mode" for the top menu bar the ownCloud sync client is invisible. You'll need to add an optional white or other light colored theme to the available colors so that it is again visible. Right now it looks like a blank spot on the menu bar.

[2015-10-07 15:24] danimo commented on #3928
@chesterdkat already reported in https://github.com/owncloud/client/issues/3918

[2015-10-07 18:09] Jofagi commented on #3831
It's fixed for me. Thank you very much!

    start /wait ownCloud-2.0.2.5523-nightly20151007-setup.exe /S

    0

[2015-10-07 18:31] spoiltvictorianchild commented on #3915
Note that if I use an older version of the client (1.8.x) the sync works fine. This was when the server was version 8.1.0.

[2015-10-07 21:36] EamonnDH commented on #3929
Changed to Qt 5.4. No change :'(

[2015-10-08 06:03] DaveJ61 commented on #3914
So.... I get up this morning and turn my PC on and... owncloud client has packed up again. After working away merrily yesterday syncing files I have added, it seems overnight it has forgotten settings. The checkbox for confirming whether folders larger than 500Mb has miraculously become checked again. Also, despite receiving desktop alerts that blah number of files have been updated... several tim

[2015-10-08 07:01] Dianafg76 commented on #3831
I tested this issue, and for my is not working, when I write the command (start /wait c:\......\ownCloud-2.0.2.5523-nightly20151007-setup.exe /S), I see this error
![screen shot 2015-10-08 at 08 53 25](https://cloud.githubusercontent.com/assets/12032058/10359559/14e15d22-6d9a-11e5-873c-7b474883d9a8.png)

I try with this version ownCloud-2.0.2.5513-nightly20151005-setup.exe, and ejecute the command

[2015-10-08 07:09] benmichael commented on #3883
If we're talking etags, it looks like we may have [this issue] (https://github.com/owncloud/core/issues/11098) all over again, this time affecting windows clients.

That ticket was labeled **sev2-high** and was given a golden ticket as a **showstopper**.  So we may want to look into this urgently.

[2015-10-08 07:22] Dianafg76 commented on #3831
On WINDOWS 10 it is working OK

[2015-10-08 07:36] dragotin commented on #3883
@OoTBDS well done, that is exactly how to tackle this issue. No ETag change means no sync. Clear server issue.

[2015-10-08 10:22] dragotin commented on #3831
@Dianafg76 are you sure about the nightly build version in your Win8 test? @danimo said *Please test with nightly builds >= 5523* but you mentioned an older version in https://github.com/owncloud/client/issues/3831#issuecomment-146438901

[2015-10-08 10:41] Dianafg76 commented on #3831
@dragotin, @danimo I try with those two version ownCloud-2.0.2.5523-nightly20151007-setup.exe and ownCloud-2.0.2.5524-nightly20151008-setup.exe, and it is not working

[2015-10-08 10:56] danimo commented on #3831
so we need to enable magic defines after all, ARG...

[2015-10-08 11:12] butonic opened #3932 "Do not show disconnected icon when `Retry-After` is sent with a 503"
### Expected behaviour

When the server responds with a `503 Service Unavailable` message that contains a `Retry-After: 120` header the client should silently wait 120 seconds before trying the same request again.
### Actual behaviour

On a 503 the client changes the icon to represent a disconnected state. The Retry-After header is ignored.
### Motivation

I am looking into integration with backup

[2015-10-08 12:34] MegaV0lt opened #3933 "[2.x Windows] After Hibernating - Always checks for client software update and never finishes"
Win Client does always check for update but never finishing the task. See Screenshot:
https://db.tt/1M7dwUzY

[2015-10-08 13:02] stonerl commented on #3816
Just an update. As I said before I have a second server. I was working with one of the users who uses this server and this very user also got the ```(expected filesize 5242880 got 0)``` error.

Should I open an issue in core? Is there any way I can debug this any further? The closest to figure out what is going on was in my second last post: https://github.com/owncloud/client/issues/3816#issuecomm

[2015-10-08 13:23] dragotin commented on #3932
@butonic are you able to create a client logfile of this case? That would help.

[2015-10-08 13:31] Dianafg76 commented on #3387
@PVince81 I can't reproduce the issue, if I follow your steps and I have not had much luck .

[2015-10-08 13:33] ogoffart commented on #3932
This would be a reply to what kind of command?  PROPFIND? GET? PUT? something else?

[2015-10-08 13:48] guruz commented on #3929
Did you init/update the submodules?
Did you checkout 2.0 branch?

[2015-10-08 13:53] PVince81 commented on #3387
sorry, I made a mistake. You need to upload with webdav (cadaver) at step 3 because the "sleep" code path is only for webdav. I just tried it locally and could get the 423 error with sync client 2.0.1.

[2015-10-08 13:55] Dianafg76 commented on #3387
@PVince81 ahhh, OK. Thanks

[2015-10-08 14:02] PVince81 commented on #3387
I tried again with the sync client master and the while the 423 error appears in the activity log, it doesn't show a red warning, which is the expected behavior. After the lock was gone, the sync client tried again renaming the folder and succeeded.

[2015-10-08 14:36] butonic commented on #3932
@ogoffart a GET request for a single file. Nothing else.

[2015-10-08 14:40] PVince81 commented on #3816
@guruz: I had a chat with @stonerl on IRC and he told me that he had a resumable situation. Basically chunks fail from times to times but the second time it works. But if within the same transfer several chunks failed, the file still gets blacklisted. @guruz does that match the current implementation of the client ?

If yes I'd say the client should discard the blacklist counter value as soon as t

[2015-10-08 15:01] guruz commented on #3926
This is a bug with X11 session resuming.
Can you try a nightly build?

[2015-10-08 15:01] #3926 closed

[2015-10-08 15:08] PVince81 opened #3934 "Reset blacklist attempt counter when chunks succeeded after failed attempts"
@guruz: I had a chat with @stonerl on IRC and he told me that he had a resumable situation. Basically chunks fail from times to times but the second time it works. But if within the same transfer several chunks failed, the file still gets blacklisted. @guruz does that match the current implementation of the client ?

If yes I'd say the client should discard the blacklist counter value as soon as t

[2015-10-08 15:08] PVince81 commented on #3816
@guruz raised here https://github.com/owncloud/client/issues/3934

[2015-10-08 15:10] Dianafg76 commented on #3387
@PVince81, @dragotin
I tried again with
Desktop v ownCloud-2.0.2.2772-nightly20151008.pkg
Server v {"installed":true,"maintenance":false,"version":"8.2.0.9","versionstring":"8.2 RC1","edition":""}
I can see on the Desktop a red warning
![screen shot 2015-10-08 at 17 00 25](https://cloud.githubusercontent.com/assets/12032058/10370398/e22f5d58-6dde-11e5-870c-7f2c4aa4e1fb.png)
 On Activity option I s

[2015-10-08 15:11] PVince81 commented on #3387
I didn't see any red warning in the system tray but didn't check the file overlay view. Is that a fancy addition on MacOS ?

[2015-10-08 15:22] butonic commented on #3932
@dragotin is this the relevant part?
[code]

It actually shows an error :/

[2015-10-08 15:24] Dianafg76 commented on #3387
@PVince81 I've seen this on the log
´´´
10-08 17:17:10:416 0x7fb803526d20 OCC::ownCloudGui::slotSyncStateChange: Sync state changed for folder  "ownCloud1" :  "Sync Running"
10-08 17:17:10:417 0x7fb803526d20 OCC::PropagateRemoteMove::start: virtual void OCC::PropagateRemoteMove::start() "cadaver2" "cadaver23333"
10-08 17:17:10:417 0x7fb803526d20 OCC::AbstractNetworkJob::start: !!! OCC::MoveJob cre

[2015-10-08 15:35] PVince81 commented on #3387
Yes this is expected.

The purpose of this ticket is only to not bother the user with error displays when a locking situation happens. From what I see this is already fixed properly since the system tray doesn't show the error any more, and the error appears in the activity log, which is also expected.

The question now is whether the file list overlay should still show an error for locking issues

[2015-10-08 15:40] Dianafg76 commented on #3387
I don't now
@dragotin,  can you help us?

[2015-10-08 15:51] dragotin commented on #3387
hmm, probably not an error, but the sync icon should stay.

[2015-10-08 15:52] dragotin commented on #3753
I completed the german translation today in transifex. Should sync into the client git repo and be available with the nightly tomorrow.

[2015-10-08 16:08] Dianafg76 commented on #3918
@dejongac, @echosa, @ekiselyov, @idallas, @pierrejochem Could you test with this v http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.2772-nightly20151008.pkg, please?

Thanks!!

[2015-10-08 16:09] Dianafg76 commented on #3928
@chesterdkat Could you test with this v http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.2772-nightly20151008.pkg, please?

Thanks!!!

[2015-10-08 16:33] dragotin commented on #3867
I fixed the translation problems mentioned above.

[2015-10-08 18:35] ftiede opened #3935 "Client synchronizes on each file change - grace period option wanted."
The desktop client on (at least) Linux (haven't tested on other OS's) synchronizes each time a file is changed on local disk or remotely.

While I see reasoning behind this behavior, esp. in environments with many users sharing the same files, this can drag on bandwidth and/or create many versions stored on cloud-storage with a lot of small changes.

So my wish is to be able to set some kind of gr

[2015-10-08 18:40] daxprather commented on #3511
Had same data corruption problem with MS Word files.  Completely removing recently installed Kodi from client to see if problem fixed.

[2015-10-08 19:17] EamonnDH commented on #3929
Just redownloaded and redid all the init/update/checkout, and I did get it to build, but when I try to run it I get:
dyld: Library not loaded: /usr/local/opt/qt5/lib/QtCore.framework/Versions/5/QtCore
  Referenced from: /usr/local/lib/libqt5keychain.0.dylib
  Reason: image not found
What did I miss?

[2015-10-08 22:08] chesterdkat commented on #3928
No dice! See screenshot.

[2015-10-08 22:24] echosa commented on #3918
@Dianafg76 That doesn't seem to have fixed the issue for me. Note that all I did was install the pkg. I didn't uninstall, reboot, or anything else. If there's anything else I need to do, let me know, and I will.

Also, should I continue to use this nightly build, or remove it and reinstall the official stable release again?

[2015-10-09 01:49] MadNachos commented on #3935
I could also use a feature like this....something like 'sync when files have not been touched/updated in X minutes' would really be a great benefit for our shops use of ownCloud due to the volume of temporary files generated by the software they use. The temp files do not have names that can be anticipated and often the final files share the same name as a previously existing temp file so they can

[2015-10-09 04:41] feltel commented on #3831
I can confirm that using the latest nightly build silent setup is now working as expected and does not produce error 1223 anymore.

[2015-10-09 06:46] Dianafg76 commented on #3338
related to #3387
Closed

[2015-10-09 06:46] #3338 closed

[2015-10-09 08:10] nickvergessen opened #3936 "Make owncloudcmd return code depend on sync result"
Smashbox currently has code (added from cern) that ignores the returncode on the sync.
After speaking with @guruz it should be checked, so the return code is reliable and we can notify the user when the returncode is not-successful.

[2015-10-09 08:19] guruz commented on #3929
Did you install qt5keychain library? :)
Did you do make install?
In any case, we can help you on #owncloud-client-dev on irc.freenode.net ..

This is a tracker for bugs / feature requests.

[2015-10-09 08:19] #3929 closed

[2015-10-09 09:16] Dianafg76 commented on #3918
@echosa Thanks for try
And reinstall the official stable release, please

[2015-10-09 10:25] ftiede commented on #3935
My proposal would be to implement an option which allows to select a grace period for local2remote uploads only from 0 to 900 seconds (15 minutes) max. after the last file change was detected. It wouldn't affect downloads to accomodate for remote changes as soon as they happen, so editors don't run into too many synchronization conflicts by waiting too long.

Additionally I would implement a butto

[2015-10-09 10:59] phil-davis commented on #3935
I would appreciate this also. At the moment, if you are on a slow link and doing lots of edits, you can Pause Sync and then Resume Sync when you are finished messing with the local client-side files. But of course that means that during that time you do not receive any server-side changes.
The hard part is how to design the UI so it is not intrusive/confusing to new users, does not clutter up the

[2015-10-09 11:08] ftiede commented on #3935
I would add a section in the network tab of the client and default it to "off". For the "instant upload" I would add an entry to the acount's context menu. Whereas I can see a clash of concept here, as the setting is probably global, while the instant sync is then per-account.
Any input on this? What would be preferred? Global setting -> Global instant sync, Global setting -> per-account instant s

[2015-10-09 12:19] danimo commented on #3831
@Dianafg76 Please try build 5529 (about to show up).

[2015-10-09 12:45] Dianafg76 commented on #3831
@danimo I tested this issue with Desktop v ownCloud-2.0.2.5529-nightly20151009-setup.exe and is not working
I see the same error
![screen shot 2015-10-09 at 14 44 25](https://cloud.githubusercontent.com/assets/12032058/10393972/51da727c-6e94-11e5-817e-89e9ea572788.png)

[2015-10-09 14:00] labkode commented on #2341
Same error here:

[code]

The solution is to install Qt first ?

[2015-10-09 14:04] felixboehm commented on #3490
Use case: Block syncing of a specific folder for a group of users
File Firewall does its job, but Sync Client stops syncing for all folders, as access is forbidden for single folder.
@dragotin Please confirm, I assume this is the the way it behaves right now?

[2015-10-09 15:47] danimo commented on #3831
@Dianafg76 Please retry with 5531.

[2015-10-09 15:56] ppanek commented on #3873
With ownCloud 8.1.3 and client 2.0 - errors in desktop client during sync of Google Drive files:

Broken webserver returning empty content length for non-empty file on resume -2B

Files created with Google apps (docs, sheets, etc)  have 0 bytes size. It's because they are not included in Google account storage.

With ownCloud Files app you can see they have Pending caption in Size column. Desktop

[2015-10-09 16:16] moscicki commented on #3936
Yes. Definitely a good idea. The question is what it means that the sync failed. I guess it only means for example that the client failed to connect to the server (so there was a critical error which prevented the sync to run). But probably a sync run for which there was an error downloading one file out of 100  is OK. Or isn't it?

[2015-10-09 20:54] ferdiga commented on #3873
Please is this fixed or open ?

[2015-10-10 08:53] dragotin commented on #3936
@moscicki yes, that's a fine line. I think I agree with what you said above, as the fail of  a sync might be part of an successful sync.

[2015-10-10 15:30] daandres opened #3938 "Access folder from public share link"
Hi,

I have an enhancement request to owncloud client for mobile and desktop.

I use often public share links to share my files with others, who don't have an owncloud account at my server.
Is it possible t use the owncloud client to download and upload the files from a public share link (with password)?
The others do not want an own account, as this would complicate the usage. They only want a sh

[2015-10-11 07:13] moscicki commented on #3935
It's interesting how contradicting the requirements are: we recently got a request from some of our users that change propagation between two sync clients should have *less* time lag ("dropbox syncs almost instantaneously").

@MadNachos: are there general public applications which have this behaviour for temporary files with unpredictable names? Or does it apply mainly to your very particular appl

[2015-10-11 10:16] MadNachos commented on #3935
The sync issues we have run into seems to come down to the various applications that run engineering simulations for hours or even days while generating lots temporary files. Most are very small but some are 10-50MB. I have all of the predictable temp file names ignored but ignoring over 60% of them is not an option, many of the temp files use naming conventions that match files containing simulat

[2015-10-11 17:50] andrey-str opened #3939 "OS X, Desktop Client 2.0.1 no "Share with ownCloud" menu item in Finder"
### Expected behaviour
"Share with ownCloud" menu item appears when you click on file in local owncloud folder
Also no indicators in Finder that file is synced or not.
### Actual behaviour
It isn't there.

### Steps to reproduce
1. Put file to local owncloud folder
2. No indication in Finder that file is unsynced
3. Wait while it uploaded to the server
4. No indication in Finder that file is sync

[2015-10-11 19:42] RealRancor commented on #3939
Have a look at https://github.com/owncloud/client/issues/3874#issuecomment-142371453

[2015-10-12 02:09] jancborchardt commented on #3864
Well, the issue went off-topic unfortunately. @danimo @dragotin basically just revert to the old, better tray icons. Mail Achim about it if you need different sizes or additional icons, but the style should stay like the old simple one, where the actions are easily visible.

[2015-10-12 02:10] jancborchardt commented on #1451
We basically took care of all of this during 2.0 (thanks @ogoffart and everyone involved!) so I’ll close this. :)

[2015-10-12 02:10] #1451 closed

[2015-10-12 02:11] jancborchardt commented on #2711
We have to fix some details, but in general now with the polishing during 2.0 it was much improved! :)

[2015-10-12 02:11] #2711 closed

[2015-10-12 02:25] jancborchardt commented on #3403
@ckamm let me know if you need more review, and if there’s any screenshots please show them. :)

[2015-10-12 06:20] dragotin commented on #3403
@ckamm please do not strip the "syncing selected files" versus "syncing all files" as that is an important destinction. Also, I am very much against cutting the alias. If there are more than one sync connections the alias comes in very handy.

@jancborchardt hmm, I am not so happy about this review thing. We should really try to get stuff right in the first attempt, instead of reviewing afterwards

[2015-10-12 06:24] AlexanderWillner commented on #2215
Seems that the corresponding change in QT has been merged in July 2015: https://codereview.qt-project.org/#/c/115120/

[2015-10-12 06:53] phil-davis commented on #3403
Here is a sample (happens to be Version 2.0.2-nightly20151004 (build 5510)) of multiple folder sync connections that sync to/from different folder pairs on the server and client. Those do not use the sentence "Syncing selected files in your account with...".
1) Maybe there is something to be made more common here? Anyway, this current difference needs to be taken into consideration when making mor

[2015-10-12 08:19] ppanek commented on #3873
IMO this is an issue still and upgrading to latest stable doesn't fix the problem.

[2015-10-12 08:34] tflidd commented on #3753
Looks good. Only one detail:
![unbenannt](https://cloud.githubusercontent.com/assets/8111200/10424134/bf14c146-70cc-11e5-8b49-fc8bcf16b075.png)
The `second(s)` in the remaining time.

[2015-10-12 08:38] tflidd commented on #3642
Today, I tried again the nightly testpilot. Same story. Avira takes a lot of time to verify the *.dll-files. This seems to put the installer in some undefined state.
This time: Win7 Pro (64-bit).

[2015-10-12 09:07] jancborchardt commented on #3403
@dragotin as said before, the local folder name should just be used as the display name. From @phil-davis screenshot above it becomes clear that the name is just duplicated 3 times (alias, local path, remote path).

[2015-10-12 09:28] phil-davis commented on #3403
On the 2nd folder sync connection in the screen shot I did choose a completely different folder name on the client. And in the others the local client side path is inside a different folder on D:\ - so the local client-side path seems reasonable to show - it is often different enough that I find it handy to be able to see where in the heck I put it :)
Agreed - the alias duplicates data already in

[2015-10-12 09:57] Ronaldvr commented on #3915
On a fresh install on windows 7 I get the same issue. The odd thing is that 2 folders do get he green icon and others do not. If I subsequently right click and choose "remove"  on the client, the owncloud client crashes

[2015-10-12 11:05] icewind1991 opened #3940 "Incorrect handling of unlimited/unknown disk quota"
Some external storage backend either don't provide quota information or provide unlimited storage.

When quota information is requested for such a storage oC will return `-2` for unknown free space and `-3` for unlimited free space (`-1` is for not computed).

The sync client does't handle these values and shows the quota being full in the user interface

[2015-10-12 11:41] dragotin commented on #3940
To get quota information, the client does this kind of request:
[code]
which would typically be answered like this:
[code]
Where would the -1, -2 or -3 show up? As a quota value?
@icewind1991

[2015-10-12 12:21] RalfJung commented on #3926
Are you sure? No window of any other application is getting restored on login. I don't think Cinnamon even does X11 session restore.

I did. (They were called "Daily", but I assume that's what you meant). It did not help. The only thing that changed is that the "Close" button went away - but since the window is still marked as a dialogue or whatever, there's also no "X" in the top-right corner, so

[2015-10-12 12:28] icewind1991 commented on #3940
[code]

[2015-10-12 13:02] Zarus42 commented on #3901
The bug occured again with the user that is the most affected (with owncloud 8.0.7), but there are no errors in the server log this time. Any clue where I should look ?

P.S.: I have just upgraded my production environment to 8.0.8.

[2015-10-12 13:21] pierrejochem commented on #3930
Example Code:

http://www.viksoe.dk/code/flickrdrive.htm

[2015-10-12 20:46] stonerl opened #3942 "Syncing small files takes apparently 25.000.000 Years"
Just noticed something weird with 2.0.2-nightly20151011 (build 2778) on OSX. I had a folder with about 1800 very small files that had to be deleted. The client said it would take 25.000.000. years and went up to 500.000.000 years after that it said 0 seconds. Here are some screenshots:

![screen shot 2015-10-12 at 22 33 20](https://cloud.githubusercontent.com/assets/2091312/10438255/e2a4e62a-7132-

[2015-10-13 05:40] dragotin commented on #3942
Wow - finally we made epic software :grinning:

[2015-10-13 07:00] #3939 closed

[2015-10-13 07:00] andrey-str commented on #3939
Duplicate of #3874

[2015-10-13 07:00] andrey-str commented on #3939
RealRancor, thanks, it worked.

[2015-10-13 07:16] Dianafg76 commented on #3831
@danimo I tested again this issue on WINDOWS 8 with Desktop v ownCloud-2.0.2.5533-nightly20151010-setup.exe, and v ownCloud-2.0.2.5538-nightly20151013-setup.exe and is not working :(

![screen shot 2015-10-13 at 09 13 18](https://cloud.githubusercontent.com/assets/12032058/10448134/f10e2caa-718a-11e5-8de6-dc0ca3d1bd32.png)

[2015-10-13 07:28] ckamm commented on #3942
I'll check this out, maybe progress for deletes is counted weirdly somehow.

[2015-10-13 07:29] chmac opened #3943 "ownCloud repeatedly reverts my files"
Setup is a little complex:
* OSX host running ownCloud client
* VirtualBox Ubuntu guest mounts folder over NFS from host
* Git repository, with application running on Ubuntu guest modifying files from time to time
* Ubuntu ownCloud server

[2015-10-13 07:36] ckamm commented on #3921
@Dianafg76 I'm not convinced this has got anything to do with file locking. Does "File Locked" actually appear in a log or in the UI somewhere?

When you say "it should look like when you move or rename", you mean that if you did this to "Folder1" while an upload to it is in progress, you get better error messaging?

It feels like this could be moved to 2.1 and downgraded in severity since client

[2015-10-13 07:42] chmac commented on #3943
Saw in the logs this somehow relates to permissions on the server. Can't figure it out right now, but I'll try putting some more time into it at some point.

[2015-10-13 07:42] #3943 closed

[2015-10-13 08:15] ckamm commented on #3387
I can reproduce this and see the `STATUS:ERROR:folder2` that the socket api emits.

[2015-10-13 09:30] ckamm commented on #3387
I suspect this is a bug in the Mac overlay icons.

Background:
* When a sync job completes, the socket api currently always sends `OK` or `ERROR`. That means currently every file with a SoftError will be set to `ERROR` state. For the particular test case of renaming "folder" to "folder2" while "folder" is locked, this will result in the `STATUS:ERROR:folder2` message.
* However, when the file stat

[2015-10-13 09:34] ckamm commented on #3876
@astucieux If you enable 'sync hidden files' your dot-folders will appear in in the sync-selection interface. If it's disabled, they won't.

[2015-10-13 09:36] ckamm commented on #3387
@Dianafg76 @PVince81 Thanks for confirming that the error handling works and pointing out the odd behavior with the overlay icon on Mac. I'll close this bug for 2.0.2 and make a new one to fix the overlay icon display for these kinds of errors - that issue applies also to other soft errors.

[2015-10-13 09:36] #3387 closed

[2015-10-13 09:40] PVince81 commented on #3387
Agreed

[2015-10-13 09:40] ckamm opened #3944 "[Overlays] [OS X] Files with SoftErrors have red overlay icon"
In #3387 we saw that the "423 Locked" error was treated as a SoftError but nevertheless lead to a red overlay icon for the affected folder on Mac. On Linux/nautilus the correct blue icon was displayed.

The underlying bug is in how the client reports completed sync jobs via the socket api. Currently any non-success leads to `ERROR` messages for the file or folder - even when a subsequent `RETRIEVE

[2015-10-13 10:03] ckamm commented on #3500
@ogoffart Do you have any idea where this could be happening? I looked at the dbusmenu-using code in plasma-workspace, but didn't see anything relating to it.

[2015-10-13 11:10] stonerl commented on #3918
This Bug only appears when one uses the "Automatically hide and show the menu bar".
![screen shot 2015-10-13 at 13 07 11](https://cloud.githubusercontent.com/assets/2091312/10453347/b208fd16-71ab-11e5-800d-c5379f0171f8.png)

[2015-10-13 11:19] peterporta opened #3945 "[OS X CAPITAN] Owncloud client under OS X sync-problem (stops)"
Hi,
after upgrading my OS X to El Capitan 10.11 The sync-client begins to sync and than stops after some time showing the red circle with the white cross.
In the meantime I updated the by hosteurope hosted owncloud to 8.1.3 (from 8.0.2) without success. The sync-client can be started but stops after some time.

I got the error:
Error	no app in context	Error while running background job: Backends p

[2015-10-13 11:45] RealRancor opened #3946 "Different ETag vs. OC-ETag handling in sync-client"
Hi,

currently updating the nginx config for oC 8.1/8.2 in https://github.com/owncloud/documentation/pull/1320 and planned to remove the ``gzip off;`` statement in there as oC 8.1.x has introduced the OC-ETag header.

My question is if the client able to handle a different ETag without any issues?

If ``gzip off;`` is used the server replies with the following response:

[code]

where a ``gzip on;

[2015-10-13 11:51] ftiede commented on #3935
@moscicki: Versions of files, entries in the database, bandwidth, yes. It may be that these concerns come from my usual git workflow - work, save, work, save, check, commit.

Regarding "instant syncs": If the feature is turned off, it should not interfere with the sync as fast as the client's capable.

As for priorities: Unless I get a definitive red light, I offer to work on this myself.

[2015-10-13 12:16] dragotin commented on #3935
Hm.. This doesn't sound like a good solution to a common problem I think. I found two usecases that we try to solve here:

a) too many not easy to catch temp files. Well that is a problem, but not of the client but of the other software. I know, bad argument ;-) But still, maybe there is an option to let the software not run in a synced folder, but only automatically copy the final result files to

[2015-10-13 13:13] Dianafg76 commented on #3831
@danimo I tested this issue with different version:
#### WINDOWS version

Windows version    | OK | NOK |
-------------------|----|-----|
Windows 7 Home Premium | OK   |    |
Windows 8.1 Pro | OK   |    |
Windows 2008 R2 Enterprise |    |   NOK |
Windows 10 | OK   |    |

[2015-10-13 14:17] dragotin commented on #3273
I checked code a bit. According to
http://code.woboq.org/qt5/qtbase/src/gui/kernel/qguiapplication.cpp.html#1289
the isSessionRestored() decides by the argv of the application if it was started from session. It checks for a argument `-session`. In my KDE4 based environment, the client is started on session start, but _without_ the -session argument.

@cruessler can you check if the application tha

[2015-10-13 15:28] InfraDMS-Mike opened #3947 "Exclude .dwl .dwl2 filetypes from sync"
The owncloud desktop client should exclude .dwl & .dwl2 filetypes from the sync process.  These are temporary lock files created by Autocad.  They cause numerous sync issues.  Thank you.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27378088-exclude-dwl-dwl2-filetypes-from-sync?utm_campaign=plugin&utm_content=tracker%2F216457&utm_

[2015-10-13 20:33] DetunizedGravity commented on #3914
I have been experiencing the same behavior here on the client 2.0.1 (build 5446), on a Windows 7 Family Premium, for a while. Server is v8.1.3 on Debian 8 but it seems orthogonal to the issue.
The client fails to rename the temporary file with a "access refused" message in the log, when downloading it. Locally created files are uploaded correctly, and then can be renamed from the server WebUI with

[2015-10-14 00:16] macckone opened #3948 "2.0.x client not working with Windows 8"
### Expected behaviour
2.0.x client syncing with the server

### Actual behaviour
2.0.x client not syncing with the server
uninstall and reinstall did not fix the issue.
deleting account on server and creating a new account did not solve the issue.
using the 1.8.4 client works but it is attempting to reinstall the newer client.

### Steps to reproduce
1. Run windows 8
2. use the 2.0.1 client
3. Th

[2015-10-14 02:44] jancborchardt commented on #3591
It seems mostly a wording issue. What about »Server unreachable«? Rather than »Network unreachable« and the very technical »Operation timed out«?

[2015-10-14 08:18] dragotin commented on #3948
Sorry, but we will have a hard time to help you if can not provide any logfiles.

[2015-10-14 08:18] #3948 closed

[2015-10-14 09:08] ckamm commented on #3947
@InfraDMS-Mike Click on `Edit Ignored Files` in the `General` tab. That's where you can add `*.dwl` and `*.dwl2` to your ignore list.

@dragotin Do we just add things like this to the ignore list we ship?

[2015-10-14 09:14] ckamm commented on #3946
@RealRancor The client will always prefer the `OC-ETag` header. It also logs a message if it's different from `ETag`. The header parsing already strips out a trailing "-gzip", it seems we might also want to strip a `W/` prefix...

[2015-10-14 09:20] ckamm commented on #3722
We haven't had reports about this bug in the workaround in a while, closing.

[2015-10-14 09:20] #3722 closed

[2015-10-14 09:37] RealRancor commented on #3946
@ckamm Great, thanks for the info. So i think its save to remove the ``gzip off;`` from the nginx config.

[2015-10-14 09:38] ckamm commented on #3645
@jancborchardt The tooltip does now show on click when the button is disabled. As far as I can tell that's the agreement you came to?

[2015-10-14 09:49] ckamm commented on #3501
@PVince81 It works for me and looks like this:

![progress1](https://cloud.githubusercontent.com/assets/833306/10480265/84f47a8a-7269-11e5-8c1a-5461fc7f0813.png)

Maybe this is a tray issue again? Could you try again with the 2.0.2 rc?

[2015-10-14 10:40] rullzer commented on #3879
Ok the client side info in now in master (#3923). Now we need all the plugins to be properly adjusted.

[2015-10-14 11:10] ckamm commented on #3524
You now get a progress indication after 1s of waiting. The timeout is increased from 5s to 60s.

[2015-10-14 11:35] ckamm commented on #3735
We also need to make sure getting an empty checksum header from the server during downloads isn't considered a validation failure - currently that seems to be the case. I wonder why b05ca526a46c8a306ccfb4aca0d5cf94881ba14f did that -- @dragotin?

[2015-10-14 11:45] dragotin commented on #3735
@ckamm the patch you're pointing to checks the expected checksum **type** as in Adler32 or SHA or so. If that is empty, we do not have checksumming and assume validated() - which means all is ok.

[2015-10-14 11:48] ckamm commented on #3735
@dragotin Yes, but why would the checksum type configured in the config file matter when one validates a checksum the server sends?

And shouldn't an empty checksum header still yield `validated`? It sounds like only files that were uploaded by new clients will have checksums when using the owncloud server.

[2015-10-14 12:24] InfraDMS-Mike commented on #3947
@ckamm My apologies that I was not clearer before.  My request was to add to the default ignore list in the shipped client.  I am aware users can add after the fact but was looking to have it already in the list. Thanks again.

[2015-10-14 12:58] dragotin commented on #3947
In the past we had big discussions about adds to the system exclude list. If it is really a temporar file for all people and in all cases, I would be fine adding it. I just can't really judge on that.

[2015-10-14 13:07] InfraDMS-Mike commented on #3947
@dragotin I have been unable to determine any other application using the .dwl and .dwl2 file extenstions.  Autocad is a prevalent application and I think excluding these temp lock files, which some users of autocad are not even aware of, would make the owncloud client display fewer errors.  Here is are more robust description of the file extension.

The DWL file type is primarily associated with

[2015-10-14 13:27] PVince81 commented on #3501
Seems there is still no package for 2.0.2rc in OBS:
[code]

I'll try with the git version instead.

[2015-10-14 13:28] PVince81 commented on #3501
there is also no 2.0.2rc tag in github. Did you mean v2.0.2-beta1 ?

[2015-10-14 13:33] ckamm commented on #3235
Storing the checksums in the DB will be part of #3735, this ticket can then be about using them to avoid unnecessary uploads.

[2015-10-14 13:34] #3551 closed

[2015-10-14 13:41] PVince81 commented on #3501
I tried git master (05eee16959ab7cc485bee9c273392b84ba57eae8) and the submenu still doesn't show, same as before.

[2015-10-14 15:28] crysman opened #3949 "Modify the installer to allow installation without shortcuts"
In our company, I am deploying ownCloud via GPO as an MSI package I create using [WIX wrapper](https://github.com/pennmanor/wix-wrapper). I would need to install ownCloud clients **without shortcuts** being created on desktops.

In order to be able to do so, I need that the original installer included the option to not to install shortcuts. Many installers allow users to select if they wish shortc

[2015-10-14 15:54] phil-davis commented on #3524
Thanks, I will try with the nightly that will build tonight and report back...

[2015-10-14 16:06] cdamken commented on #3677
Hi Guys, Setting remotePollInterval to a higher value doesn't change anything. I tried The Windows client and the Linux client in Version 2.0.1.

@MorrisJobke

00003982

[2015-10-14 19:01] danimo commented on #3949
This is not possible with NSIS, and, consequently, not with the WiX-Wrapper. We'll have to wait until #860 happens. Please add the option that you need there.

[2015-10-14 19:01] #3949 closed

[2015-10-15 05:24] ljsjl commented on #3816
Hi,

I think I'm seeing this problem, or at least something that looks a lot like it:
- OC server 8.1.3 from repos, running on stock up to date Ubuntu 14.04 server
- Linux client 2.0.1 on a Ubuntu 14.04 desktop crashes almost immediately as it starts to resume uploading chunked files
- A few chunks in cache/, a bunch of .part files in the appropriate directory tree on the server
- Client log (ownc

[2015-10-15 06:17] CroniC- commented on #3831
Tested on Win7 Pro x64

![2015-10-15 08_13_06-administrator_ c__windows_system32_cmd exe - start _wait owncloud-2 0 2 5542-ni](https://cloud.githubusercontent.com/assets/6624442/10506150/03386f4a-7315-11e5-83f5-fb80fd2030d4.jpg)

The "Unable to elevate" error

[2015-10-15 06:18] dragotin commented on #3501
@PVince81 we did not release a 2.0.2 RC yet. For getting the latest pre 2.0.2 version, please build the branch called 2.0.

[2015-10-15 08:25] Dianafg76 commented on #3831
I tested again this issue with Desktop v ownCloud-2.0.2.5544-nightly20151015-setup.exe, on Windows 2008 and it installed OK

[2015-10-15 08:25] dragotin commented on #3831
build ownCloud-2.0.2.5544-nightly20151015-setup.exe contains a patch that fixes this problem for @Dianafg76 test cases. @CroniC- if you could verify that would be great.

[2015-10-15 08:33] Dianafg76 commented on #3831
@CroniC- Can you test with this version: http://download.owncloud.com/desktop/daily/ownCloud-2.0.2.5544-nightly20151015-setup.exe, please?
Thanks

[2015-10-15 08:39] ckamm commented on #3735
@moscicki I'm touching the checksumming code and wonder: Do you use `Adler32` or `ADLER32`? What does the server accept and what does it send? I'd prefer to just use one spelling and there's a small chance you're requiring one for uploads and the other for downloads...

[2015-10-15 08:44] CroniC- commented on #3831
Tested again on Win7 Pro x64 - It's working now!
![2015-10-15 10_42_53-administrator_ c__windows_system32_cmd exe](https://cloud.githubusercontent.com/assets/6624442/10508818/a548a822-7329-11e5-93b4-0ad486847a79.jpg)